[2017-05-01 09:37] ToJen commented on #209
Yup, two-factor was somehow slowing down the sign in. But it worked before anyways.

[2017-05-01 09:37] #209 closed

[2017-05-01 10:32] timgrossmann commented on #214
@marudon Are you running it on a server or local machine?

[2017-05-01 10:41] littleswany commented on #3
@timgrossmann You can browse posts by location on the browser but it would require the user to input the location code (https://www.instagram.com/explore/locations/), and then IstaPy can function as if it was a hashtag page.

Using this method would replace the use of a hashtag rather than supplement it as the other suggests.

[2017-05-01 11:43] timgrossmann commented on #3
@littleswany Holy s***, this is perfect! We could even add a "topic" parameter which could be something like restaurant or clothing and only pick out the ones that are of that kind 👍

@littleswany Thank you so much

[2017-05-01 14:37] tibor opened #216 "Script ignores .set_dont_include, unfollows all users"
I noticed a few days ago that the script wont unfollows all of my followings, regardless if they are in my set_dont_include or not.

I’ve just checked my instagram page if instagram has changed something regarding the xpath but everything seems to be the same so far.

Has anyone noticed the same or perhaps an idea how to fix this?

[2017-05-01 15:19] marudon commented on #214
Local maschine

Also in case of this terminations I will get no summary of what the script has done.
That is not nice after a long run .. is there a chance to catch the exceptions?

[2017-05-01 15:51] timgrossmann commented on #216
@tibor Weird, I'm using this feature like 4 months now and never had a problem.
Make sure the usernames are written correctly (by now, even case **sensitive**)

[2017-05-01 17:30] deronsizemore commented on #198
Anyone know why my code from [https://github.com/timgrossmann/InstaPy/issues/198#issuecomment-296811000](here) isn't working and it's still giving me the error regarding clarifai? I don't think any of my code should even been trying to use Clarifai.

[2017-05-01 20:26] tibor commented on #216
Yep, they’re all written correctly.

I’m running scripts for two accounts from the same VPS / InstaPy installation, sometimes also parallel. Can this lead to such errors?

I’m wondering because I’ve never noticed such behaviour on my Mac (where I also ran two accounts parallel)

[2017-05-02 12:48] SamuelMTDavies commented on #153
@timgrossmann if we are using the basic quickstart.py code is the Image deemed inappropriate error due to the set_dont_like tags?

Does the program only have to find part of the tag in the image text to deem it inappropriate? e.g dont_like = ['#porn'] will deem an image tagged #architectureporn unsuitable?

[2017-05-02 12:54] pekapa commented on #153
@SamuelMTDavies if you set it to `["porn"]` than it will deem the tag `#architectureporn` to be unsuitable, but its current a work in progress via #211

[2017-05-02 17:06] timgrossmann opened #217 "Chrome headless"
@vlntdds @pekapa @AlainPilon @littleswany You guys probably heard and read about it... Chrome headless is here and I think this should be part of InstaPy_V1!

What do you think?

[2017-05-02 17:12] littleswany commented on #217
I hadn't head of it yet, will blame that on being too busy with school stuff.

Will do some more research but from a quick glance looks like it could be useful.

https://developers.google.com/web/updates/2017/04/headless-chrome

[2017-05-02 17:59] tibor commented on #217
Just wanted to open this issue as well :)
[Here is the Blog post](http://blog.chromium.org/2017/05/chrome-59-beta-headless-chromium-native.html) from the official Chromium blog.

[2017-05-02 19:43] SamuelMTDavies opened #220 "Script trying to like less images than specified"
I keep setting my script to like say 100 images of 3 different hashtags.

However sometimes when I get to the second, third or fourth hashtag (doesn't seem to be the same one) it only tries to like say 32 images.

Am I correct in thinking that the following code

`.like_by_tags(like, amount=100)`

should attempt to like 100 of each hashtag in my like variable list? Has anyone else come across this

[2017-05-02 19:55] pekapa commented on #220
Duplicate of #204

[2017-05-02 19:58] SamuelMTDavies commented on #220
Apologies

I did do a search but obviously not very well.

On Tue, 2 May 2017 at 20:55, pekapa <notifications@github.com> wrote:

[2017-05-02 20:27] #220 closed

[2017-05-02 20:29] timgrossmann commented on #153
should be fixed by #211 now.

[2017-05-02 20:29] #153 closed

[2017-05-02 20:30] timgrossmann commented on #214
@marudon Wait,  `platform=Windows NT 6.1.7601 SP1 x86_64)` ?!

How much RAM?
You need at least 1GB RAM...

[2017-05-02 20:33] timgrossmann commented on #198
@deronsizemore Link is dead...

[2017-05-02 20:51] #186 closed

[2017-05-02 23:03] marudon commented on #214
Windows 7, 16GB RAM.. Do you think it s a Problem of resources? I had open many applications, maybe the RAM was temporarily less

Von meinem iPhone gesendet

[2017-05-02 23:26] rollbahn opened #221 "Not unfollowing users that have followed me?"
Is there any way to not unfollow users that have followed me. It seems the script just unfollows everyone?

[2017-05-02 23:27] rollbahn opened #222 "Avoid re-following users I have just unfollowed?"
Is it possible to avoid re-following users I have just unfollowed - the unfollows don't appear to be logged anywhere?

[2017-05-03 00:20] marudon commented on #214
Here annother exception .. nearly every script run I get one ..
I'm running on Win7 .. I don't why is logged "platform=Windows NT"  ??

----------------------------------
Image from: b'doublecross925'
Traceback (most recent call last):
  File "quickstart.py", line 21, in <module>
    session.like_by_tags(['fashionart'], amount=100)
 ...instapy\like_util.py", line 156, in check_link
    num_followe

[2017-05-03 01:00] deronsizemore commented on #198
Sorry, not sure why the link is dead, but it's a comment from earlier in this thread.

[https://github.com/timgrossmann/InstaPy/issues/198#issuecomment-296811000](https://github.com/timgrossmann/InstaPy/issues/198#issuecomment-296811000)

[2017-05-03 04:52] timgrossmann commented on #221
@rollbahn right now there isn't... You could add every single one of them to `don't_include` list, but at the moment, this is the only way...

[2017-05-03 04:53] timgrossmann commented on #222
@rollbahn Yes it is.
just use `.set_do_follow(enabled=True, percentage=10, times=1)`, where `times` is the number of times, you want to follow a person (and unfollow again using `.unfollow()`)

[2017-05-03 04:55] timgrossmann commented on #214
@marudon Well, that's a different error, at least.
`Cannot read property 'entry_data' of undefined` are you on a business account?
Do you have the latest version of InstaPy? `git pull`

[2017-05-03 04:58] timgrossmann commented on #198
@deronsizemore Clarifai is loaded if you use it or not... If you don't want it to be loaded you have to remove the code which has to do with clarifai. You could remove the import statement in `instapy.py`first and then see what lines have to be deleted for InstaPy to start up again.

But clarifai really shouldn't be a/the problem... Try googling for the error and again installing clarifai as a dep

[2017-05-03 04:59] rollbahn commented on #221
Ok thanks that's a bummer. I don't think manually adding them to a list is going to be scalable for me at this stage. Hopefully this functionality comes at some point as the rest of everything works well.

[2017-05-03 05:02] rollbahn commented on #222
Thanks - I noticed that in the documentation but I couldn't see how it worked. I tested by unfollowing a few people from my account but I couldn't see anywhere where those user id/names were stored in a file for the script to be able to refer to them when following users later?

[2017-05-03 05:12] fbessigu commented on #222
Hey te liking by # works well but i can't find out how to set the follow unfollow things my quick start look like this
dont_like = ['nude', 'girl', 'hot',]
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

# If you want to enter your Instagram Credentials directly just enter
# username=<your-username-here> and password=<your-password> into InstaPy
# e.g like so InstaPy(user

[2017-05-03 05:56] 404Fel opened #223 "follow unfollow does not work ?"
Hey the liking by # works well but i can't find out how to set the follow unfollow things my quick start look like this
dont_like = ['nude', 'girl', 'hot',]
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

If you want to enter your Instagram Credentials directly just enter
username= and password= into InstaPy
e.g like so InstaPy(username="instagram", password="test1234")

[2017-05-03 11:34] 404Fel commented on #223
well the the whole follow and unfollow part don't work and
i have a backslash at the end of each lines it on the actual script
i'm getting an error message at the end of my script execution
there it is
"Liked: 0
Already Liked: 0
Inappropriate: 3
Commented: 0
Followed: 0
Traceback (most recent call last):
  File "quickstart.py", line 24, in <module>
    .set_do_follow(enabled=True, percentage=100,

[2017-05-03 13:01] tibor commented on #223
You have to use `.unfollow_users` instead of `.set_unfollow`

[2017-05-03 16:33] raulrosa89 commented on #216
I'm having the same issue.
In my case I'm using InstaPy GUI so the quick start creats a section.friend_list but in instapy.py the name should be dont_include, so I chage all dont_include for friend_list in instapy.py and in unfollow_util.py (but in unfollow_util.py I don't think that is necessary).

[2017-05-03 16:43] raulrosa89 opened #224 "Unfollow not respecting my restrictions."
Hi,

First I want to congratulate you for the program, it's very good.

I'm having a issue whem unfollow persons, I have found the problem but I can't fix.
The problem is that my person_list in unfollow_util.py is creating a list of the same name repeated.
When the program do the if for not unfollow people in dont_include as person_list is a list of the same name, if the name is not in dont_includ

[2017-05-03 18:28] timgrossmann commented on #222
@rollbahn They are stored in a JSON file in the logs folder.

[2017-05-03 18:28] #222 closed

[2017-05-03 18:30] timgrossmann commented on #223
@404Fel Please read the documentation...
A quick side not: methods that actually do something, e.g. liking or unfollowing don't have a `.set` in front of the method name

[2017-05-03 18:30] #223 closed

[2017-05-03 18:32] timgrossmann commented on #224
@raulrosa89 Thank you!

Thank you for that bug, we'll fix that ASAP!

[2017-05-03 20:05] tibor opened #225 "Create specific logs for each InstaPy file"
When you have multiple quickstart files (e. g. different topics for the same account or different accounts), stats and log files like `followRestriction` will likely be overwritten or mashed up.

I guess we should generate those files specific for each session / quickstart file or dependend on the account name (for example, using the account name as a suffix).

Currently in progress #228

[2017-05-03 22:07] atomhax commented on #192
Do we know if the app can be open while a browser session is going or will that result in a soft ban? I've had a few instances where the auto comment came off as super sarcastic to the point of being rude so I had to kill my session to delete the comment.

[2017-05-03 22:16] abraztsov opened #226 "No such element"
2 times today

[code]

[2017-05-04 05:08] timgrossmann commented on #192
@atomhax I don't really know when it's running for me, so I'm probably online with my phone quite some time when it's running. No problem with that (at least for now).

Haha, had that same problem a few times, even more before I began adding clarifai to the system.
It commented "Soooooo good!" under a picture of a car accident... That was pretty bad

[2017-05-04 05:09] timgrossmann commented on #226
@abraztsov Could you please post the link to the image for which this happened?

[2017-05-04 08:42] abraztsov commented on #226
@timgrossmann Okay, I realized what the problem was, it arose when I called `unfollow` method and I had 0 subscriptions

[2017-05-04 08:42] #226 closed

[2017-05-04 11:21] CodeMaster1 opened #227 "Constant number of pictures for tags except first one"
Hi,

When I am using multiple tags with multiple tag number, the number of pictures instapy navigates for first tag is correct but from second tag, it only picks up 33 images to navigate. For example:

Here is the line to pick up tag number:
tag1 = randint(100, 200)
tag2 = randint(200, 300)
tag3 = randint(50, 100)

and here is the execution to like by tag:
  .like_by_tags(['#instago'], amount=tag1

[2017-05-04 13:17] tibor commented on #227
Probably related to #204 and #220.

[2017-05-04 13:22] CodeMaster1 commented on #227
Thank you! I should have searched better, :)

[2017-05-04 13:22] #227 closed

[2017-05-04 13:27] tibor commented on #227
N problem. Hopefully this will be fixed, maybe with Chromes headless mode :)

[2017-05-04 15:03] CodeMaster1 opened #228 "logfile based on account username"
Hi,

I have personally found logfile cumbersome if the code is run for different account so I modified the code to dump logfile based on account it is running.

Please let me know if I can check-in my changes,

Thanks!

[2017-05-04 15:04] CodeMaster1 commented on #228
Found this is already created. Bummer! :/

[2017-05-04 15:04] #228 closed

[2017-05-04 17:42] timgrossmann commented on #226
@abraztsov Good to know! This has to be handled...

[2017-05-04 17:50] mblodorn commented on #221
If we find a way to fetch all followers this can be easily done with some sort of "contains" method. The only problem is how to deal with a large number of followers. Next weekend i'll check this.

[2017-05-05 00:53] JoshTristram opened #229 "Can't Start 'Quick Start.py'"
Command: python3 quickstart.py

[code]
Help??

[2017-05-05 01:18] pekapa commented on #229
Are you running on a server?
try adding `nogui=True` to the IntaPy constructor.

[2017-05-05 01:39] Josh452 commented on #229
I am running it on a online linix server, I have my chromedriver in the right place and it is updated but am still getting this when I open 'Quickstart.py'

`Traceback (most recent call last):
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdriver/common/service.py", line 64, in start
    stdout=self.log_file, stderr=self.log_file)
  File "/usr/lib/python3.5/subprocess.py", line 947, in

[2017-05-05 02:23] ericchenmelt opened #230 "Error from Digital Ocean Docker"
Not too familiar with docker but I ran into this issue, tried the possible solution (uncommenting) and didn't work!

`
Traceback (most recent call last):
  File "quickstart.py", line 14, in <module>
    InstaPy(username="***********",password="*******")\
  File "/InstaPy/instapy/instapy.py", line 37, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chro

[2017-05-05 05:21] timgrossmann commented on #229
@Josh452 Please post your quickstart.py content... Make sure to remove your username and password first

[2017-05-05 05:22] timgrossmann commented on #230
@ericchenmelt How much does your Droplet have?

[2017-05-05 05:43] ericchenmelt commented on #230
512 mb ram, I got the cheapest $5 a month one

[2017-05-05 10:05] tibor commented on #230
You have to use a version with at least 1GB RAM, more would be better.

[2017-05-05 10:14] tibor commented on #228
If you’ve modified and tested the code already, feel free to make a pull request.

For now it’s just an issue (#225)

[2017-05-05 10:18] Josh452 commented on #229
`from instapy import InstaPy

# Write your automation here
# Stuck ? Look at the github page or the examples in the examples folder

dont_like = ['food', 'girl', 'hot']
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

# If you want to enter your Instagram Credentials directly just enter
# username=<your-username-here> and password=<your-password> into InstaPy
# e.g like so

[2017-05-05 10:19] Josh452 commented on #229
`from instapy import InstaPy

# Write your automation here
# Stuck ? Look at the github page or the examples in the examples folder

dont_like = ['food', 'girl', 'hot']
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

# If you want to enter your Instagram Credentials directly just enter
# username=<your-username-here> and password=<your-password> into InstaPy
# e.g like so

[2017-05-05 10:22] CodeMaster1 commented on #228
Yes, I have tested the change for log files based on username and it works fine for me.
What should be the initial value for followrestriction.json because the empty file gives an error during initialization.

[2017-05-05 11:02] tibor commented on #228
Inguess the same like the initial in /logs/followrestriction.json: `{}`

Maybe @timgrossmann can approve this?

[2017-05-05 15:20] timgrossmann commented on #229
@Josh452 did you place the chrome driver for your system in `/assets`?

[2017-05-05 15:21] timgrossmann commented on #228
@CodeMaster1 @tibor yes, just an empty JavaScript object

[2017-05-05 17:17] ericchenmelt commented on #230
Upgraded, still didn't work!

[2017-05-05 17:23] VivianSolide opened #231 "Can't run Docker"
Hi everyone !

I'm facing a problem with docker.

When I'm try to run docker, console prints me :

`File "quickstart.py", line 14, in <module>
    InstaPy(username="***", password="***")\
  File "/InstaPy/instapy/instapy.py", line 37, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdr

[2017-05-05 18:30] timgrossmann commented on #230
@ericchenmelt You should start posting the error with every comment.
We can't read your mind...

Please post what error is thrown.

[2017-05-05 18:32] timgrossmann commented on #231
@VivianSolide
Local or on server?
If server, how much RAM?

[2017-05-05 18:38] pekapa commented on #230
@ericchenmelt
Have you tried adding `nogui=True` to your InstaPy constructor?

[2017-05-05 18:49] CodeMaster1 commented on #70
I have an idea that seem pretty legit to me. How do you guys think about this?

Suppose, I only posts travel related photos and I know my audience is mostly
audience that likes travel related photos. So, I want to increase my engagement
with those kind of users. In this case, I pick up followers of "natgeo" as my audience.
The next step is to fetch followers of "natgeo" and likes/comment their con

[2017-05-05 18:51] timgrossmann commented on #70
@CodeMaster1 Yes, this will be part of V1.
It's a good idea quite some people already suggested

[2017-05-05 19:18] merlinro commented on #231
@VivianSolide
I know  that Problem!
Just add this code bevor `InstaPy()` in your quickstart.py-File:
`from pyvirtualdisplay import Display
display = Display(visible=0, size=(800, 800))
display.start()`

[2017-05-05 19:19] timgrossmann commented on #231
@merlinro Thank you!
if that's the problem, please just add `InstaPy(nogui=True)`

[2017-05-05 19:24] merlinro commented on #231
@timgrossmann cool!
I think thats the solution for this Issue: #230

[2017-05-05 21:24] Josh452 commented on #229
Yes

[2017-05-05 21:33] timgrossmann commented on #229
@Josh452 Please add `nogui=True` into `InstaPy()`

like this:

`InstaPy(nogui=True)`

[2017-05-05 21:37] Josh452 commented on #229
Just tryed that, got this.
[code]

I could give you server access if you wish, I don't know what could be wrong. I'm running it on an AWS Linux server with 1gb on ram

[2017-05-05 22:09] pekapa commented on #229
@Josh452

You need to instantiate it with the nogui, not with itself.

Trey changing your line 14 to:
`InstaPy(username="YOUR_USERNAME", password="YOUR_PASSWORD", nogui=True)`

The `login` call don't need any argument, username and password goes into the constructor.

[2017-05-05 22:19] Josh452 commented on #229
Changed it, still get this
[code]

[2017-05-05 22:23] pekapa commented on #229
Your traceback is showing that you are calling InstaPy with InstaPy.
[code]

Don't do that. Just call InstaPy with it's proper arguments. i.e.
[code]

[2017-05-05 22:28] Josh452 commented on #229
Thank you, now there is only 1 error atm

[code]

[2017-05-06 03:31] wordythebyrd commented on #224
@timgrossmann

The issue is here: https://github.com/timgrossmann/InstaPy/blob/master/instapy/unfollow_util.py#L20

[code]

This returns an array of the first name over and over.  I fixed this locally by grabbing the <a> tags in the first find_elements_by_class_name.

[code]

[2017-05-06 03:38] wordythebyrd commented on #224
Another issue is if you end up with the last 10 users you followed in the dont_include list, you get stuck in an infinite loop.

A suggestion for this would be to set the followingCount before loading the modal, then divide that number by 10 (the number of users displayed at a time), then send key Key.END once per every 10 following users to load them all in, then grab the li's

[2017-05-06 07:46] timgrossmann commented on #224
@wordythebyrd could you submit a PR to fix this?
Please use `find_element_by_xpath()` for more stable results

Yes, the infinite loop also is a problem. It is known, but not as important as other stuff right now. But feel free to make a PR with the mentioned changes! Would be glad to have more colllaborators!

Thanky you

[2017-05-06 07:48] timgrossmann commented on #229
@Josh452 Good, but I think the error is pretty clear, isn't it? Just make sure to use the right number of indentation (spaces) in front of the call.

[2017-05-06 07:58] Josh452 commented on #229
Fixed it, missing a back slash. Now im back to this.
[code]

[2017-05-06 08:13] timgrossmann commented on #229
@Josh452 Please show me the content of `/assets`

[2017-05-06 08:15] timgrossmann opened #232 "Startup loop bug"
When running it on a ubuntu server I got this behavior...
It crashes and simply starts over `n`-number of times spamming and crashing the system with new pyvirutaldisplay and chrome instances

[code]

[2017-05-06 08:20] Josh452 commented on #229
![screen shot 2017-05-06 at 8 19 59 pm](https://cloud.githubusercontent.com/assets/28419796/25771028/6d92b932-3299-11e7-955a-335d26df6ab4.jpg)
Here :) The chromedriver is in there.

[2017-05-06 12:09] tibor commented on #229
How are you starting InstaPy via ssh? Are you navigating to your folder first with `cd` or do you something like `python /home/ubuntu/InstaPy/quickstart.py`?

I had a similar error mentioned in #205.

[2017-05-06 16:44] aliajoudanian opened #234 "follow specific account's followers"
I want to get follow back from specific account's followers

**Following by a list**
[code]

It would be great if we have a method to follow the specific amount of last followers automatically.

[2017-05-06 21:15] Josh452 commented on #229
Yes I am useing SSH. I tryed cding and got this

[code]

[2017-05-06 21:38] tibor commented on #216
Tested #233, works now without problems

[2017-05-06 21:38] #216 closed

[2017-05-06 21:56] tibor commented on #234
Hi,

you can’t get the followers of a specific account since Instagram has no list available in the web version.

With the following by a list feature you can only specify a list of instagram accounts you’d like to follow. InstaPy will then follow them for you while probably staying in the limits from Instagram.

[2017-05-06 21:57] ericchenmelt opened #235 "How do I run it indefinitely on a droplet using docker?"
This is how I set up my quickstart
`while(True):
	InstaPy(username="blah",password="blah",nogui=True)\
	  .login()\
	  .set_upper_follower_count(limit = 2500) \
	  .set_do_comment(True, percentage=10) \
	  .set_comments(['Beautiful!', 'This is gold!', 'This is amazing!']) \
	  .set_dont_include(friend_list) \
	  .set_dont_like(dont_like) \
	  .set_ignore_if_contains(ignore_words) \
	  .like_by_tag

[2017-05-07 04:04] aliajoudanian commented on #234
@tibor Hi, Recently followers and following lists are available in the web version. In web version if you click on amount of followers in profile page you redirect to ~/followers url and you can see users in a modal box.

[2017-05-07 08:23] VivianSolide commented on #231
It worked!
Thanks @merlinro & @timgrossmann :)

[2017-05-07 08:23] #231 closed

[2017-05-07 13:55] generalu commented on #197
This was actually a feature I was hoping would get developed. In the meantime, I found an unconventional way to scrape another users list, then use the follow_by_list command to follow.
- Go to Piknu dot com (Instagram web viewer) then find users following list.
- Install WebScraper (Chrome extension) and create appropriate session per tutorial. Then Scrape. You may not be able to get the entire l

[2017-05-07 14:38] timgrossmann commented on #229
@Josh452 Could you check back at the RAM of the Server?
This looks like a problem of too less power...

Also make sure to restart the server `reboot` after looking into `ps aux` to see how many instances of the xvfb process are started.

If the InstaPy run get's aborted, by now, the virtual display does not end... This leads to a memory leak which stops the server from working correctly... So plea

[2017-05-07 15:31] tibor opened #236 "Modify User Agents for advanced Instagram features"
Instagram is pushing its efforts to make more features available via smartphone browsers as well (combined with the recent added offline functionality I personally think they are going to launch a PWA anytime soon).

At the moment some accounts can [upload photos via the web interface with an iPhone User Agent](https://petapixel.com/2017/05/06/post-photos-instagram-desktop-browser/) but more featu

[2017-05-07 15:38] tibor opened #237 "Auto updater for InstaPy"
To make sure that all InstaPy users are using the newest version we should think about a simple auto updater via `git pull` (maybe also as a opt-in or opt-out solution).

I think with a growing number of features and pull requests this will bug tracking and resolving issues easier.

[2017-05-07 15:45] timgrossmann commented on #237
@tibor Yes, I think this is a nice idea.

[2017-05-07 16:11] lsaguiar opened #238 "Having problems on Raspberry Pi3"
Dear All,

I follow the last installation packages and versions for InstaPy for my new Raspeberry PI, first I got a lot of erros but now just a few that I would like to share with you all to try InstaPy run on my micro computer.
That is what's show up on my terminal after I run InstaPy:

Traceback (most recent call last):
  File "index.py", line 1, in <module>
    from instapy import InstaPy
  Fil

[2017-05-07 16:42] TheRealJAG commented on #238
How are you running this on the pi? I sorta got frustrated after not being able to install the chrome driver.

[2017-05-07 16:54] TheRealJAG opened #239 "Commenting question"
Is there a check that prevents a photo from being commented on more than once? A user would comment multiple times on the same photo.

[2017-05-07 16:58] TheRealJAG commented on #239
I just confirmed it will comment multiple times on a photo.

[2017-05-07 17:02] lsaguiar commented on #238
I did follow the research on Google and   I had   install the chromedrive using sudo pip install and works. Now I'm  getting the messages of  my first post.

[2017-05-07 17:04] TheRealJAG commented on #238
Can you tell me what the command was? As far as I know it's not compatible with the pi3.

[2017-05-07 17:07] lsaguiar commented on #238
Sudo pip install  did  the job. I'm using raspberian distro.

[2017-05-07 18:31] TheRealJAG commented on #238
Ok, I can reproduce. What version of python are you running? I'm getting the same error using Python 2.7.9

[2017-05-07 18:38] lsaguiar commented on #238
I  had   up  to date  all  for  the last  version, 3.4  I  think.

[2017-05-07 18:38] TheRealJAG commented on #238
What does python -V output?

[2017-05-07 18:52] TheRealJAG commented on #238
When I run
 `sudo python3 quickstart.py`

I get the following error
`
Traceback (most recent call last):
  File "quickstart.py", line 24, in <module>
    .end()
  File "/home/pi/InstaPy/instapy/instapy.py", line 37, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/usr/local/lib/python3.4/dist-packages/selenium/webdriver/chrome/webdriv

[2017-05-07 19:26] lsaguiar commented on #238
Python version 2.7.9 as yours

[2017-05-07 19:27] TheRealJAG commented on #238
@lsaguiar try running sudo python3 quickstart.py and see what error you get.

[2017-05-07 19:28] lsaguiar commented on #238
I had create index.py, and when I run that do those erros on my first post. Sorry I can't help you, let's wait help from here.

[2017-05-07 19:29] TheRealJAG commented on #238
@lsaguiar You're getting those first errors cause you're not using the latest version of python.

[2017-05-07 19:35] lsaguiar commented on #238
I update everything and I still get Python 2.7.9, any trick command?

[2017-05-07 19:44] TheRealJAG commented on #238
@lsaguiar run and see what error you get.
`sudo python3 FILE.py`

[2017-05-07 19:46] lsaguiar commented on #238
Trying with Python 3, I got these errors.

Traceback (most recent call last):
  File "/usr/local/lib/python3.4/dist-packages/selenium/webdriver/common/service.py", line 74, in start
    stdout=self.log_file, stderr=self.log_file)
  File "/usr/lib/python3.4/subprocess.py", line 859, in __init__
    restore_signals, start_new_session)
  File "/usr/lib/python3.4/subprocess.py", line 1457, in _execute

[2017-05-07 19:47] lsaguiar commented on #238
@TheRealJAG using your command I got this error:

python3: can't open file 'FILE.py': [Errno 2] No such file or directory

[2017-05-07 19:53] TheRealJAG commented on #238
@lsaguiar Change FILE.py to whatever script your testing.

[2017-05-07 20:24] knofun commented on #120
So I am on my macbook as well and I tried putting in the unicode characters like the example above ('\u270A') and the script echoes that exact string (no emoji) to the comment. How do I make it render the emoji?

[2017-05-07 20:34] TheRealJAG commented on #120
@knofun works fine for me 💯

[2017-05-07 20:53] pekapa commented on #120
@knofun
Try marking it as unicode, see if it works.
`(u'\u270A')`

[2017-05-07 21:03] knofun commented on #120
That worked, thanks!

[2017-05-07 21:15] TheRealJAG commented on #120
@pekapa I'm having problems using multi emojis and also using text in the string. Have you ever tried something similar?

[2017-05-07 21:17] pekapa commented on #120
I don't use the comment function at all, just the bare basics of linking.

But you should be able to use it just the same way, mark it as unicode.
Something like this:
`u'That is cool! \u270A'`

[2017-05-07 21:27] TheRealJAG commented on #120
@pekapa That works fine for 1 comment value, but when I try and use

`session.set_comments([u'That is cool! \u270A', u'That is cool! \u1F918'])`

The second comment is not encoded correctly and the emoji isn't formatted correctly.

[2017-05-07 21:40] TheRealJAG commented on #120
@pekapa I see the problem. The second value isn't the 4 letter set.

[2017-05-08 00:25] TheRealJAG commented on #225
I noticed when the scripts complete they output some data. # of likes, follows, etc. How about a running log file that stores this data?

[2017-05-08 06:41] timgrossmann commented on #239
@TheRealJAG It won't...
Once the photo is liked, it will not comment on it again...

Are you sure your "Liking" is still working?
Or are you temporarily banned from liking? Then you actually should stop the script until you're unbanned

[2017-05-08 06:48] TheRealJAG commented on #239
@timgrossmann I was seeing multiple comments on images when I ran the re-ran the process on the same tag(s), but I'm not sure if I unliked them in testing. I will keep an eye on it over the next couple of days.

[2017-05-08 06:49] TheRealJAG commented on #235
@ericchenmelt was it a memory issue?

[2017-05-08 06:51] ericchenmelt commented on #235
@TheRealJAG I have a server with 1gb ram, most likely not. I'm suspecting that the CPU had issue because the droplet was running at 120%

[2017-05-08 06:53] TheRealJAG commented on #235
@ericchenmelt maybe the process isn't closing and the process hangs causing CPU #'s to spike. Why are you in a while? Can you run it on a hourly process so you don't kill the server?

[2017-05-08 07:02] tricepad opened #240 "InstaPy for Dummies :("
Despite many attempts I am not able to apply the procedure. A charitable soul to explain to a perfect beginner, how to succeed the whole process in order to understand and test InstaPy?
Thanks in advance to the community and Tim bravo for the work

[2017-05-08 07:37] calebfornari commented on #235
@ericchenmelt @TheRealJAG I tested this with docker on Digital Ocean 512MB and 1 GB droplets, it doesn't work on either of them. It's working fine now on a server with 2GB memory.

[2017-05-08 07:40] calebfornari commented on #230
@ericchenmelt When running with Docker you need a bit more than 1 GB memory. It works for me on a 2 GB server (AWS), but was failing with this exact same error on a 1 GB droplet.

[2017-05-08 07:48] calebfornari commented on #174
It's worth noting that the Digital Ocean 512 MB and 1 GB Droplets don't seem to have enough memory to run this. So you'll need the 2 GB droplet at a minimum.

[2017-05-08 09:41] tibor commented on #240
Can you tell us more about your setup?
What have you tried so far?

[2017-05-08 09:58] sunnypatel165 opened #241 "like_back?"
If I supply an image URL with say, 100 likes, and out of these 50 are from people I don't follow.
Will it make sense to add a function in which a fixed number of pictures of such people(who liked your pic without you following them) are liked back?
The liked pictures maybe first N or 1,3,5,7... N or any random N pictures!

I observe that a lot of times like-backs eventually result in a mutual foll

[2017-05-08 09:59] sunnypatel165 commented on #240
Alos let us know your platform(windows or mac) and what all did you install already?

[2017-05-08 10:08] tibor commented on #241
Have thought about this feature as well and I think this would be great.

Correlates also with issue #70.

[2017-05-08 11:21] #174 closed

[2017-05-08 18:09] tricepad commented on #240
My platform is mac, I installed Python 3.6.1, and I admit that after has a great moment of solitude, I can not install selenium nor pyvirtualdriver. I think I have "assured" on chromedriver and nothing more :(
Thank you for taking time to help me sincerely
Pat

[2017-05-09 03:06] sunnypatel165 commented on #240
Okay.
Can you follow the steps [here](http://www.pyladies.com/blog/Get-Your-Mac-Ready-for-Python-Programming/) to get pip installed? - just fire the commands as written.

Once done, follow the steps in the README.
[code]
After that open the quickstart.py and put in your username password and save and close.
And then run the quickstart by:
``` python quickstart.py ```
Lets see what happens.

[2017-05-09 03:06] sunnypatel165 commented on #241
Okay. If already a WIP, might as well close this one!

[2017-05-09 07:44] cazaa commented on #240
I've been trying to install InstaPy on MacOS too. I ended up installing Ubuntu Server 14.04 on my Mac via VirtualBox. Now everything works like a charm.

[2017-05-09 09:10] razvanilin commented on #192
My bot is commenting "That's awesome" on pictures with naked girls

[2017-05-09 09:28] littleswany commented on #192
@razvanilin Thats because the hashtags you have selected have naked girls, if you setup Clarifai you can filter them out.

[2017-05-09 09:30] littleswany commented on #240
@cazaa What went wrong when you were setting it up on Mac?

[2017-05-09 09:30] razvanilin commented on #192
@littleswany sorry I used the present tense in the sentence above. I did set up clarifai and it's not happening that often now 😄

[2017-05-09 09:31] cazaa commented on #192
@razvanilin I've had the same issue. You should be able to avoid it by setting:
`set_lower_follower_count(limit = 50)`
Accounts posting pictures of naked girls are usually removed by Instagram pretty fast, and before they reach that many followers.

[2017-05-09 09:33] littleswany commented on #192
@cazaa Clarifai is the best way of achieving this, setting a lower follower count limit is possibly not advisable for achieving this as it will significantly limit the amount of interactions you have.

[2017-05-09 09:40] cazaa commented on #240
@littleswany When I run `py quickstart.py` I get the following error:

`Traceback (most recent call last):
  File "quickstart.py", line 14, in <module>
    InstaPy(nogui=True)\
  File "/Users/cazaa/InstaPy/instapy/instapy.py", line 29, in __init__
    self.display = Display(visible=0, size=(800, 600))
  File "build/bdist.macosx-10.12-intel/egg/pyvirtualdisplay/display.py", line 34, in __init__
  F

[2017-05-09 09:43] littleswany commented on #240
Try changing `nogui=True` to `nogui=False` in your quickstart.py

[2017-05-09 09:46] cazaa commented on #240
@littleswany Thank you so much! Now it works! 👯

[2017-05-09 19:04] raulrosa89 commented on #192
I have already be soft banned sometimes , I really think that's because of commenting . If its more than 35% they will suspect of your activites .

[2017-05-09 19:40] tricepad commented on #240
Thanks @sunnypatel165.
I tried to follow the instructions for the PIP but how to know if everything went well?
I typed the instructions into the terminal

But i still do not understand how to install selenium :(
I'm really bad :( :(

[2017-05-09 19:45] tricepad commented on #240
When I Type the Command Line
pip install selenium
I get this answer
-bash: pip: command not found

[2017-05-09 19:47] tricepad opened #242 "InstaPy for Dummies :( - 2"
https://github.com/timgrossmann/InstaPy/issues/240

[2017-05-09 20:10] timgrossmann commented on #242
http://lmgtfy.com/?q=-bash%3A+pip%3A+command+not+found

[2017-05-09 20:10] #242 closed

[2017-05-09 21:01] tricepad commented on #242
@timgrossmann
I understand your annoyance. But I do not know the code, and I can not understand the explanations.
Sorry to disturb you. But if you could just let other members help me by reopening issue 240 ...

[2017-05-09 21:22] timgrossmann commented on #242
@tricepad This is not because I'm annoyed.
This simply is way easier for everyone involved than to post an issue here.

They/We can't really tell you something different than google does, since that is the way to do it.

[2017-05-10 04:19] sunnypatel165 commented on #240
@tricepad Did you follow the steps as is? Can you attach a screenshot of step 5 and what you got as the output?
Also, can you quickly run the following commands and tell what the output is?
[code]

[2017-05-10 04:24] sunnypatel165 commented on #229
Also to add what @timgrossmann said, once you've done that, make sure to build the code again.
I had a similar error, I took the latest version and ran the setup again and it worked!
So git pull and setup! 🤞

[2017-05-10 04:29] sunnypatel165 commented on #198
Does this still persist? @deronsizemore

[2017-05-10 11:31] sunnypatel165 opened #243 "Lower/upper limits should not be counted in the total number of likes?"
When I say
[code]
I wish to like/comment/follow only people with >1000 followers.
Let's say I have set likes count to 20.
[code]
It is likely that a lot of the found pictures will not meet my criteria, because the top posts are fine, they have many likes and followers coz they're actually trending, but the most recent posts(after the first 9 - [sample](https://www.instagram.com/explore/tags/sunny/

[2017-05-10 14:16] CodeMaster1 opened #244 "Comment limit for particular user"
Hi,

I think If the program has already commented on many pictures of certain user and would not like to comment further on posts of same user should be allowed.

Basically, there should be way to limit comment on posts for particular username.

Thanks,
Amitesh

[2017-05-10 14:19] CodeMaster1 commented on #228
What is the process to check-in my changes?

I have changes to check-in for two issues - #225 and #244.

[2017-05-10 14:22] littleswany commented on #228
@CodeMaster1 Do you mean getting submitting them to the codebase? Like you have made changes?

If so create a pull request explaining what you have done and someone will review it.

https://github.com/timgrossmann/InstaPy/wiki/How-to-Contribute

[2017-05-10 14:28] tibor commented on #243
#153 is a similar issue.

While I understand the issue, I’m not sure if this is a good idea. Depending on the user settings it could lead to a endless loop / unnatural behaviour with many page views and only a few likes. On the other hand, those numbers would be probably less predictable than the current settings.

[2017-05-10 18:21] tricepad commented on #240
hy !

Python 2.7.10
pip 9.0.1 from /Library/Python/2.7/site-packages/pip-9.0.1-py2.7.egg (python 2.7)

[2017-05-10 18:25] tricepad commented on #240
![capture d ecran 2017-05-10 a 20 23 54](https://cloud.githubusercontent.com/assets/1502318/25914490/be2ab638-35be-11e7-8255-bbb4439664b3.png)

[2017-05-10 18:26] tricepad commented on #240
![capture d ecran 2017-05-10 a 20 23 55](https://cloud.githubusercontent.com/assets/1502318/25914534/e30935b0-35be-11e7-9d06-daed60a09c86.png)

[2017-05-11 03:07] sunnypatel165 commented on #243
Hmmm, makes sense @tibor !

[2017-05-11 07:56] informatdcs opened #246 "Getting logged out"
So it runs a little bit slow and at half of the run my account logs out and it crashes.
script
[code]

[2017-05-11 07:58] #246 closed

[2017-05-11 07:59] informatdcs commented on #246
Instagram automatically reset my password because there was "suspicious activity".

[2017-05-11 19:06] thenayr commented on #235
If you run a `docker ps -a` what is the status of that container that is no longer running?

You can also run a `docker logs $container-id` to get the log output from a non running container.

[2017-05-11 20:39] deronsizemore commented on #198
@timgrossmann @sunnypatel165

Sorry for the delay, guys. I got the script to run by commenting out `from .clarifai_util import check_image`

One thing I was curious about (and I can submit a new question if needed since it's not relevant to the original question): when I run the script, it opens chrome, logs me in and starts. It starts off by unfollowing users. I also have the script setup to foll

[2017-05-12 03:20] deronsizemore opened #247 "Feature Request for Following"
One strategy I came across a while back for following and getting return followers is by viewing a hashtags posts and scrolling past the "top" ones until you see "recent." Go through recent posts for that hashtag and follow all the people liking those recent posts. The idea here is that since these are recent posts that likely means the people who liked the post also did so recently. Chances are t

[2017-05-12 03:46] sunnypatel165 commented on #247
Isn't this already there?
when you say
[code]
It goes and finds 100 images of cat - top ones + recent ones
Additionally, if you specify,
[code]
follow 50% of those 100 liked images.
Is this what you are requesting?
Correct me if I'm wrong @timgrossmann ?

<======================================================>
Also @timgrossmann @tibor - is there a specific order when I want to specify both like_

[2017-05-12 03:52] deronsizemore commented on #247
I may be wrong, but I don't think so. Here's how I understand what you gave above (and I may be completely wrong)

Would follow those folks who posted images with a hashtag of `#cat`, correct? It won't follow users that liked images inside of that hashtag. Also, I think if you set `percntage=50` you're not following 50% of those 100 liked images. You're following every 50th user from those images

[2017-05-12 04:10] sunnypatel165 commented on #247
Okay, that dawned on me now!
Apologies!

Also, I misconstrued your question!
Yes, If you want to **"follow people who liked a recent image"** - that's a new feature and I'd vouch for that one! It does work for me too!

[2017-05-12 04:30] sunnypatel165 commented on #198
AFAIK, it still uses the images from like_by_tags.
So if you say like_by_tags('#cat'), it will find all images of a cat and then based on the percentage parameter of do_follow, it will follow every nth user.
I maybe wrong though.

[2017-05-12 04:49] timgrossmann commented on #247
@sunnypatel165 Yes, the order matters.
Always use the `.set_.....` first, since they only **set** parameters of the script.
Use the actual commands `unfollow_users`, `like_by_tag` at the end. Else they will be ignored.

[2017-05-12 04:51] sunnypatel165 commented on #247
Ahh okay, does this deserve to be in the README? (I can add)
Doesn't seem to be something that naturally strikes one while using.

[2017-05-12 05:37] timgrossmann commented on #247
@sunnypatel165 Feel free to do so!
All the examples have this structure, but it might be best to add a more detailed explanation of the structure.

[2017-05-12 07:17] tibor commented on #247
Is there a difference between `unfollow_users` `like_by_tag` and `like_by_tag` `unfollow_users` as well?

[2017-05-12 08:33] timgrossmann commented on #247
@tibor Well, depends on what you mean.
They simply get executed after each other, so this would be more "useful":

[code]

Else you will instantly unfollow the with `like_by_tag` followed accounts again and they won't see you've followed them.

[2017-05-12 09:22] tibor commented on #247
@timgrossmann then I’ve set up my script wrong as well (that was my issue with #213)

[2017-05-12 11:38] #213 closed

[2017-05-12 13:05] deronsizemore commented on #247
@timgrossmann Interesting... So the accounts to follow are collected from the like_by_tag command?

So I have:

[code]

That's going to grab 25 posts to like from each of my three hashtags and then follow every third account from the 75 total accounts collected?

[2017-05-12 13:11] deronsizemore opened #248 "Unfollow oldest followed accounts first?"
Maybe this is already built into the script, but it seems like it would be useful to unfollow the oldest accounts you're following first? I don't want to follow someone and then unfollow them soon after. Is it possible to start with the oldest first when you're unfollowing?

[2017-05-12 13:18] pekapa commented on #247
@deronsizemore No. This will follow every single images from those three tags. To follow one in every three images you need to set it with `percentage=0.33` (or, more clearly, `percentage=1./3.`)

You'll grab 25 images from each tag, totalling 75.

[2017-05-12 13:20] pekapa commented on #248
I believe that's exactly how it works.
There's a pull request pending #151 that should allow the user to set it's preferred method. But it's only going in for the V1, I think.

[2017-05-12 13:26] timgrossmann commented on #247
@pekapa @deronsizemore No and no 😄

`percentage=3`means 3%
`percentage=33` is what you want

[2017-05-12 14:05] c20xh2 opened #249 "Possible ? Don't interact with post that have more than X likes allready"
Question is in the title, I'm really sorry if it's already documented somewhere.

[2017-05-12 14:08] littleswany commented on #249
You can do it based on the number of followers a user has, I don't think we have implemented something like this.

I seem to recall it being discussed before but the issue being a post just posted will have very few regardless of the number of followers so the chance of an interaction back is reduced.

[2017-05-12 14:13] c20xh2 commented on #249
Make sense ! Thank you :)

[2017-05-12 14:13] #249 closed

[2017-05-12 18:43] tibor commented on #247
BTT:

A similar feature was already discussed in #197.

Two things to consider:
1. You can’t click on the number of likes in the web interface. So you can get the user names only when there are not too many likes on a picture already.
2. InstaPy is imho not optimized for real time but for being so slow that the bot liking isn’t noticed by Instagram. For this feature we would imho have to change th

[2017-05-13 05:14] TheRealJAG opened #250 "Only like / comment where full name isn't null"
I've noticed that some spam accounts don't have a full name. Might be worthwhile to avoid these users.

[2017-05-13 08:34] 99willy99 opened #251 "OS X Crontab error"
Hi, I'm setting up a cron job to run the script but I get this error

[code]
I tried to include `PATH=/Users/xxxxx/Projects/instapy/assets` at the beginning of my crontab but it didn't work. Any idea?

[2017-05-13 12:54] tibor commented on #251
Try `cd` to your InstaPy folder first and call your script from there
#205

[2017-05-13 17:27] gitjayjay opened #252 "I'm a python noob, just wondering where the exe file is for windows user for the GUI? Thanks!"

[2017-05-13 17:49] #252 closed

[2017-05-13 18:20] pekapa commented on #217
I've just tried using PhantomJS and I have bad news...
The image load problem, it can only fetch the first images and it is unable to get more images as the browser is now always out of sight.

I was trying to understand how IG actually load those images. It's a POST request to query them and somehow it's injected into the page after but this injection seems to only happen if it have OS focus (any

[2017-05-14 08:19] timgrossmann commented on #217
@pekapa Yup, that's why the most simple solution with the current version was to simply go to the top then the bottom, again and again.
You could do all the automation with the requests only, you just had to get the initial session token on login. But this would look like a bot, and probably get banned really quick.

[2017-05-14 16:49] GregBorrelly opened #253 "I keep getting 'chromedriver' executable needs to be in PATH"
`>>> from instapy import InstaPy

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "instapy/instapy.py", line 37, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/usr/local/lib/python2.7/dist-packages/selenium/webdriver/chrome/webdriver.py", line 62, in __init__
    self.service.start()
  File "/usr/loca

[2017-05-14 18:51] converge commented on #229
I changed instapy/instapy.py line 37
self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
to
self.browser = webdriver.Firefox()

worked fine in my linux server.

[2017-05-14 18:52] converge commented on #253
is chromedriver file at assets/ folder ?

[2017-05-14 18:52] converge commented on #238
I changed instapy/instapy.py line 37
self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
to
self.browser = webdriver.Firefox()

worked fine in my linux server.

[2017-05-14 19:21] thebitbrine commented on #253
Same issue.

[2017-05-14 19:54] GregBorrelly commented on #253
Solved !!

[2017-05-14 19:54] #253 closed

[2017-05-14 22:06] mattdeveluk opened #254 "Limit daily count of follows/likes"
Is there a way you can limit amount of daily follows/likes for bot ?

[2017-05-14 22:35] newme616 commented on #254
yeah that would be great to know, especially if you want to run it 24/7

[2017-05-15 00:33] deronsizemore commented on #248
Thanks

[2017-05-15 01:11] deronsizemore commented on #247
@timgrossmann Hmm, ok. I guess my confusion came from reading the docs on the front github page where it says:

[code]
I assumed "every 10th user" came from the percentage=10 attribute?

@tibor: ah, I see. I didn't think about this using the web interface to do everything. I see what you're saying. Makes sense. Thanks

[2017-05-15 01:15] deronsizemore commented on #248
Thanks.

Sorry for my ignorance, but what is "FIFO" from that #151 thread?

[2017-05-15 01:19] deronsizemore commented on #198
Thanks @sunnypatel165. It seems like though that the percentage parameter isn't following every nth user according to this comment: https://github.com/timgrossmann/InstaPy/issues/247#issuecomment-301075694

The docs say "every 10th user" for percentage=10 but then that comment above mentions it's a percentage? I'm confused on that.

[2017-05-15 06:42] timgrossmann commented on #247
@deronsizemore Yes, 10% means every 10th 😄
But I'll change that to avoid confusion!

[2017-05-15 06:43] timgrossmann commented on #248
@deronsizemore First in First out

[2017-05-15 15:31] converge commented on #251
@tibor is there a way to log the cron output with multiple cron commands ?

[2017-05-15 17:09] mattdeveluk commented on #234
This one is must have !

[2017-05-15 17:29] sunnypatel165 commented on #198
@deronsizemore I think @timgrossmann updated the doc. It should be clear to all of us now! 👍 😃

[2017-05-15 18:44] newbie-dev7 opened #255 "instapy for newbies ? Question about : why the script don't work"
hello and hi everyone
after multiple attempt i still not able to find out why the only things that work is the ''like/comment''
the '' follow /unfollow ''never worked i'm a bit in the mud , is there a good samaritan to drive me into this
i'm running on OSX
this is what my quickstart.py look like
InstaPy(nogui=False , username="smth", password="smth")\
  .login()\
  .set_upper_follower_count(limit

[2017-05-15 23:08] trompx commented on #192
@timgrossmann what do you think about implementing conditional tags.
For instance only comment if post has "dog" AND "puppy" AND "cute". This could potentially reduce this kind of things to happen. We could apply it to likes too.

[2017-05-15 23:30] AlexBailey commented on #192
@trompx Sounds like a good idea, it might also be worth considering that if someones tags are a bit of a niche, they might end up commenting on content that is very old. On my Instagram account I have that occur quite a bit (as a recipient) and it automatically strikes me glaringly obvious that it's a bot. Then again, if the operator is a fool - there's not a lot you can do!

[2017-05-16 01:35] deronsizemore commented on #198
Thanks

[2017-05-16 01:36] deronsizemore commented on #248
Ah thanks @timgrossmann

[2017-05-16 01:40] deronsizemore commented on #247
@timgrossmann

Wait... so percentage=10 *does* mean every 10th or no? If it does in fact mean every 10th image, how's it arrive at that?

[2017-05-16 02:44] deronsizemore opened #256 "Couple questions: unfollow max per day and using app while script runs?"
My intention is to start the script in the morning and let it run most of the day. Can anyone recommend a max number for `.unfollow_users()`?

Given that instagram only allows unfollowing 10 users every 10 minutes, that means over the course of a day while working and letting the script run, I'd unfollow around 240 people. Is that too much? Should I set the `amount=` parameter lower than 240 to en

[2017-05-16 03:40] sunnypatel165 commented on #247
🤣
Check the updated doc @deronsizemore for clarity!
Its 10%.. and **every 10th** is wrt that ```amount``` of images like_by_tag is 100.

[2017-05-16 16:53] converge commented on #255
@newbie-dev7 hey, how us the error message.

[2017-05-16 18:44] vnd030289 opened #257 "I am not too familiar with code and I am working on Windows - It was not successful"
I am not too familiar with code and I am working on Windows. I have tried out this tool to set up the settings:  [InstaPy Windows GUI](https://github.com/Nemixalone/GUI-tool-for-InstaPy-script)
I have completed the steps with the success message as image: [see image](http://prntscr.com/f8l4l5)
But when I start the app, it opens cmd and closes about 1 sec, and when I check my Instagram profile it i

[2017-05-16 19:34] newbie-dev7 commented on #255
Traceback (most recent call last):
  File "quickstart2.py", line 24, in <module>
    .set_do_follow(enabled=True, amount=10, times=1) \
TypeError: set_do_follow() got an unexpected keyword argument 'amount'
this is the error message if i put percentage on both set_do_follow and set_unfollow
and this is the error message if i put amout
  File "quickstart2.py", line 24, in <module>
    .set_do_follo

[2017-05-16 19:40] converge commented on #255
**set_do_follow** usage is:
session.set_do_follow(enabled=True, percentage=10, times=2)

there is no **set_unfollow**, to unfollow use:
session.unfollow_users(amount=10)

[2017-05-16 19:58] newbie-dev7 commented on #255
its look like instagram servers is down
i'll try this as soon as it came back online and keep you updated
lots of thanks for the support .

[2017-05-16 21:18] tibor commented on #251
Hi,

you can log the cron output like so:
`0 0 * * * cd /home/InstaPy && python QuickStart.py >> /home/log.txt 1>&2`

[2017-05-16 21:59] converge commented on #257
I dont know much about windows, someone can have a better answer on how to do it, but you need install clarifai python module.
**ModuleNotFoundError: No module named 'clarifai'**

[2017-05-16 22:05] converge commented on #65
do you guys think that the comment feature is cool ? I think that it just breaks the everyone else fun. No one likes the bot comments, it's annoying, and in most cases, people knows it's a bot comment.

[2017-05-16 22:50] AlexLeKid opened #258 "InstaPy on Digital Ocean"
Hey guys,

I'm trying to set up InstaPy on Digital Ocean following this tutorial: https://medium.com/@mcnamee/using-open-source-software-to-build-your-instagram-followers-205f908cf657

But since I have no knowledge in coding, I have problems. I am stuck at the second part where I need to install setup.py. When I try "python setup.py install" I have this error
`root@pss2:/var/www/instapy# python se

[2017-05-17 02:51] deronsizemore commented on #247
@sunnypatel165 Ah, that makes sense. Thanks

[2017-05-17 02:57] vnd030289 commented on #257
I installed clarifai python module and Visual C++ build tool 14.0 => "Boom" It worked :)
Thank you @converge @timgrossmann

[2017-05-17 07:13] Nemixalone commented on #257
You should enter you username of Instagram not Email. Unless your username is email.

[2017-05-17 09:11] maverjk commented on #158
Today after troubling with settings and installation on a Centos server I finally got the first workings results.
Unfortunately I discovered that is not supported 2 Factor Authentication.

Well I think that this features is quite important to keep and should be supported in some way. For what I know the security code should be asked just the first time then Instagram should store the device inform

[2017-05-17 12:41] vnd030289 commented on #257
It's done :+1:
Thank you @Nemixalone

[2017-05-17 13:20] #257 closed

[2017-05-17 18:23] tibor commented on #258
Well, it’s a bit difficult to read without linebreaks.
You can add a code block with three backticks before and three backticks after the code block.

I assume, your problem has something to do with relative/absolute paths. Can you try `python /var/www/instapy/setup.py install`?

[2017-05-17 18:55] deronsizemore opened #259 "Why am I seeing duplicate "unfollowing username" showing up in terminal?"
I'm running the script locally from my Mac in terminal. I've got it set to unfollow and like at the moment. It's currently in the unfollow stage and I'm seeing this in terminal:

http://i.imgur.com/qHBMkWt.png

Is there something wrong? Why the duplicate `"now unfollowing _user_"` entries?

[2017-05-17 19:19] timgrossmann commented on #259
Did you `pull` the newest version with `git pull` ?

[2017-05-17 19:21] maverjk commented on #183
Personally I was thinking the right same thing, would be really useful to have a kind of customized log for each account (of course if someone is thinking to use it with more than one account).

One more thing that I'm looking at is a kind of list or function to save all following accounts before to start any session so to unfollow only new following accounts. Is there anything like that? How to a

[2017-05-17 19:22] timgrossmann commented on #256
Here's my setup on a server:

4-6 sessions per day
450 likes per session
right now, unfollow none => if enough followers, unfollow 1-1.5 times the users i followed last time
comment on 10% (~300 Comments each for standard, food and travel)
follow ~10%

[2017-05-17 19:41] maverjk commented on #247
is there a way to save my actual following accounts before to start any session? I would like to avoid to unfollow my actual friends.

[2017-05-17 20:06] timgrossmann commented on #247
@maverjk Nope, you can add them to the `friends_list` like in the example, but you can't *save* your current list of friends.

[2017-05-17 21:19] converge opened #260 "[feature request] random hashtags"
would it be a good idea to InstaPy use a configurable number of hashtags every time it's called ?

for example, I set a list of 6 hashtags: #a #b #c #d #e #f

when InstaPy start, it chooses 4 random hashtags in my list, next time InstaPy start, it will random my hashtags again, in this way InstaPy is always using different hashtags.

what do you think ?

[2017-05-18 04:39] timgrossmann commented on #260
@converge You can simply do that with:

[code]

[2017-05-18 05:40] alvinlee123 commented on #235
running in the same issue. I have a droplet running on 512MB that's just getting hammered. The issue has to do with selenium and chrome driver. You can try switching to firefox or getting more ram like what caleb suggested.

[2017-05-18 06:53] #150 closed

[2017-05-18 06:54] #197 closed

[2017-05-18 06:55] #198 closed

[2017-05-18 06:55] #214 closed

[2017-05-18 06:55] #124 closed

[2017-05-18 06:55] #162 closed

[2017-05-18 06:56] #163 closed

[2017-05-18 06:56] #181 closed

[2017-05-18 07:05] #229 closed

[2017-05-18 07:05] #230 closed

[2017-05-18 07:07] #238 closed

[2017-05-18 07:07] timgrossmann commented on #239
@TheRealJAG Any updates ?

[2017-05-18 07:08] #251 closed

[2017-05-18 07:46] icaring31 opened #261 "Likes on Recent hashtag post"
Hi everyone,

I have one question. When the script's running, it going to like media from hashtag. But it start to like from the best medias on hashtag list and not random media or most recent. How could I do if I want it to like random media from hashtag list or to start by the most recent post?

Thanks in advance,
Geoff.

[2017-05-18 07:59] timgrossmann commented on #261
@icaring31 Right now, you can't...

The first few posts always are the most popular, from then on it'll like the most recent ones.

[2017-05-18 08:00] icaring31 commented on #261
Do you think that there is an issue to that or nah ?

[2017-05-18 10:39] timgrossmann commented on #261
@icaring31 If, by issue, you mean a GitHub issue here, then no.
If you mean if that could be a feature, then I'd ask you, what you think the usage of that would be?

Why would you want random posts instead of just using the most recent ones?

[2017-05-18 10:58] icaring31 commented on #261
I would it because liking the most popular pictures on hashtag is useless. It doesn't help us to grow. What help us to grow is to like the recents post but ok no problem your script is realy cool

[2017-05-18 12:34] timgrossmann commented on #261
@icaring31 Check out

[code]

[2017-05-18 12:54] deronsizemore commented on #259
Ah, no. Sorry. Should have thought of that. I'll give it a go.

[2017-05-18 12:56] deronsizemore commented on #248
So, I just tested this is and it looks like it in fact doesn't unfollow the oldest first unless it's just more confusion on my part in how the script works.

As an example, I went into instagram and followed an account. I then ran my script which is set to unfollow and the very first account it unfollowed was the one I just followed a few minutes before running the script.

If it's possible I'd lo

[2017-05-18 14:38] brodydrey2296 opened #262 "ChromeDriver not in PATH issue"
Windows 10
PyCharm CE
Python 3.6

My chrome driver is located in C:\users\rache\desktop\instapy-master\assets
When I try and run my script I get an error, I can run this script fine on my mac but I would like to leave it up to run permanently on my windows laptop.

Below is where the code with error is. Also for some reason, the 'U' in users keeps changing colors, I don't know if that matters. (I

[2017-05-18 15:10] brodydrey2296 opened #263 "No module named __main__.clarifai_util';'__main__' is not a package"
C:\Users\rache\AppData\Local\Programs\Python\Python36-32\python.exe C:/Users/rache/Downloads/InstaPy-master/instapy/instapy.py
Traceback (most recent call last):
  File "C:/Users/rache/Downloads/InstaPy-master/instapy/instapy.py", line 10, in <module>
    from .clarifai_util import check_image
ModuleNotFoundError: No module named '__main__.clarifai_util'; '__main__' is not a package

Process finis

[2017-05-18 17:55] timgrossmann commented on #263
@brodydrey2296 What command did you run?

[2017-05-18 17:56] timgrossmann commented on #262
@brodydrey2296 Did you put it in the /assets folder ?

[2017-05-18 18:48] AlexLeKid commented on #258
Hey,

Sorry about that. That command doesnt work either, it's the same thing:
[code]

[2017-05-18 19:01] deronsizemore commented on #256
Thanks @timgrossmann

Would you mind sharing your code for that? I guess I'm having trouble picturing how you're unfollowing 1-1.5 times the users you followed last time?

[2017-05-18 19:52] timgrossmann commented on #258
@AlexLeKid try `pip install .`

[2017-05-18 19:58] timgrossmann commented on #256
@deronsizemore 😄 alright...

here's my tester.py:

[code]

[2017-05-18 19:59] #256 closed

[2017-05-18 20:40] AlexLeKid commented on #258
Hey Tim this is what I got:
[code]

[2017-05-18 20:43] deronsizemore commented on #259
working now. Thanks.

[2017-05-18 20:43] #259 closed

[2017-05-18 20:47] timgrossmann commented on #258
@AlexLeKid Please read my comment...

Do `pip install .`

[2017-05-18 20:48] #261 closed

[2017-05-18 20:48] #260 closed

[2017-05-18 20:53] AlexLeKid commented on #258
Sorry !
[code]

[2017-05-18 20:57] timgrossmann commented on #258
No problem ;)

alright, so here is what you should do now.

Delete the droplet and start over following [this tutorial](https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu.md) and you'll be good to go.

Feel free to reopen this issue if you still have problems.

[2017-05-18 20:57] #258 closed

[2017-05-19 00:27] datavistics opened #264 "Unfollow is getting stuck when the most recent followed is on the dont_unfollow list"
Unfollow starts at the top of followed users and goes down. If the top user is on the dont_include list then instapy wont unfollow anyone.

[2017-05-19 11:22] brodydrey2296 commented on #263
i just ran insta.py

On Thu, May 18, 2017 at 1:55 PM, Tim Großmann <notifications@github.com>
wrote:

[2017-05-19 11:23] brodydrey2296 commented on #262
yes

On Thu, May 18, 2017 at 1:56 PM, Tim Großmann <notifications@github.com>
wrote:

[2017-05-19 11:45] timgrossmann commented on #263
@brodydrey2296 Please actually read the Readme.md...
You should start the quickstart.py after modifying it to your needs.

there isn't even a file called insta.py...

[2017-05-19 13:28] deronsizemore commented on #264
Are you placing each new followed user into a list so you can use dont_include for the next unfollow session? If so, how are you going about that? If I follow someone right now, and then start an unfollow session, then I simply unfollow the people I just followed so I need a way to get by that.

[2017-05-19 13:33] deronsizemore commented on #256
Wow... you have a lot going on there. That's awesome! So you're saving the number of people you followed the previous time to a log file, correct? That's only a number and not actually who was followed? Seems like you'd just be unfollowing the people you just follow the last session? Is there some way to add the people you recently followed to a list so that you can ignore those users on the next

[2017-05-19 13:53] timgrossmann commented on #256
@deronsizemore
Wow, these are a lot of questions...

Remembering followers is not a part of the tool right now.
Right now it's only n profiles from the top of your following list.

No, only my own account on a DO ubuntu droplet. Mobile usage is no problem if choosing the settings right

[2017-05-19 15:06] tricepad commented on #240
Person to help me?
Please :(

[2017-05-19 16:44] deronsizemore commented on #256
Sorry. I'll put a moratorium on my question asking unless it's an actual problem. :)

I'm not using this commercially though. I have two accounts. One account for my personal Instagram and one account for a website that own. I'm trying to figure out the best approach to managing both.

*sigh* I know I said no more questions, but...

So how do you manage (or do you) to not unfollow people that you

[2017-05-19 20:41] brodydrey2296 commented on #263
I tried reinstalling and setting everything up again, and here is the error I am getting, I think it is almost the same as the first, I am new to programming and don't know how to fix, I have set everything up and when I run instapy.py it doesn't work which is where the error comes in.

C:\Users\rache\AppData\Local\Programs\Python\Python36-32\python.exe C:/Users/rache/PycharmProjects/InstaPy/Insta

[2017-05-19 20:46] brodydrey2296 commented on #254
I think it would be good to have an hourly limit of 200 follows, because at around 250 an hour your password will be reset. And also setting a total follow goal so you can run 24/7

[2017-05-20 00:39] datavistics commented on #264
Ill try to write it out in a scenario:

# Scenario 1

Friends list (in order):
- user_1
- user_2
- user_3

[code]

Friends list after will show:
- user_3

# Scenario 2

Friends list (in order):
- user_3
- user_1
- user_2

[code]

Friends list after will show:
- user_3
- user_1
- user_2

[2017-05-20 02:15] ericchenmelt opened #265 "New Error on digital ocean"
2GB ram, ran for 2 sessions, aborted in the middle of the 2nd one.
error:
`  File "quickstart.py", line 23, in <module>
    .like_by_tags(['travel','dogs','photography','hype'], amount=160) \
  File "/InstaPy/instapy/instapy.py", line 274, in like_by_tags
    self.username, self.like_by_followers_upper_limit, self.like_by_followers_lower_limit)
  File "/InstaPy/instapy/like_util.py", line 158, in

[2017-05-20 07:38] tanzaho commented on #231
@timgrossmann Can I suggest to repeat the info about nogui, in the doc, in the docker section? I've missed it when first trying on docker, and I had to come here to find the solution (I later found out that it was already in the doc).
Or maybe we could also add a quickstart_docker.py that already has the parameter.

[2017-05-20 08:27] timgrossmann commented on #240
@tricepad Install Python3 first...

[2017-05-20 08:30] timgrossmann commented on #256
@deronsizemore Well, the right settings, for me, are my settings.
I have no problems with them. I can use Instagram on my phone how I did before and don't have to be careful.

I just don't care... Right now, I first follow people until I got around the same number of followers and following and then I set it up to unfollow 1.5x the amount I'm following until I'm back to around 1.5k following. Work

[2017-05-20 08:31] timgrossmann commented on #263
@brodydrey2296 Why are you running instapy.py?

You **HAVE** to run **quickstart.py**!

`python3.5 quickstart.py`

[2017-05-20 09:58] tricepad commented on #240
Thank you tim, I installed Python 3, I thought but in the terminal it is always the 2.7.10 that emerges 🙈🙈

[2017-05-20 10:00] sunnypatel165 commented on #240
@tricepad when you run any python command that is something like ```python dothis.py```, you can force python3 by using ```python3 dothis.py``` instead. Similarly for pip and pip3. Try following the steps again with Python3.

[2017-05-20 10:02] sunnypatel165 commented on #255
@newbie-dev7 do you still face this? If not, kindly close this. Let's keep the issues section clean - too many help wanted's already.

[2017-05-20 10:04] sunnypatel165 commented on #255
PS - I believe the "Instagram server is down" part. I've never faced such an issue with insta yet. Show us your quickstart, to see why it's not following/unfollowing people.

[2017-05-20 11:12] brodydrey2296 commented on #263
Ok, I will try it, thanks.

On Sat, May 20, 2017 at 4:31 AM, Tim Großmann <notifications@github.com>
wrote:

[2017-05-20 11:52] tricepad commented on #240
ok
[
![capture d ecran 2017-05-20 a 13 50 31](https://cloud.githubusercontent.com/assets/1502318/26275536/7f5a770c-3d63-11e7-9e32-1fcb71450e1a.png)
](url)

[2017-05-20 11:56] tricepad commented on #240
error message :(

![capture d ecran 2017-05-20 a 13 54 29](https://cloud.githubusercontent.com/assets/1502318/26275553/fa9c20e6-3d63-11e7-953b-e7b2ea6aeefa.png)

[2017-05-20 11:57] tricepad commented on #240
Should I restart my mac when the python installation was done?

[2017-05-20 18:23] brodydrey2296 commented on #263
Ok, so I ran quickstsart.py and then it pulls up the Instagram login page
and nothing else, then I ran instapy.py again and am still getting the same
error

On Sat, May 20, 2017 at 7:12 AM, _Brody_ _Stone_ <brodydrey2296@gmail.com>
wrote:

[2017-05-21 02:26] deronsizemore commented on #256
Thanks.

Maybe it's an irrational worry, but I guess if I figured it'd be easy to spot that a bot was doing some of the work given that it wouldn't be difficult (I don't think) for Instagram to tell that there's liking, following, unfollowing, etc. from one IP while more, different activity from another IP (where I'm using my phone to post, browse, like, comment, etc).

I appreciate all your help.

[2017-05-21 08:30] timgrossmann commented on #263
@brodydrey2296 Please, please, please read the Readme...

You have to modify the quickstart.py file and enter your credentials into `InstaPy(username="", password="")`

Once you entered your credentials, the script should log in and start.
You then can **READ THE DOCUMENTATION** and modify the quickstart.py to use your tags and so on...

**DON'T RUN** instapy.py...

[2017-05-21 08:31] timgrossmann commented on #240
@tricepad the `dothis.py` was just an example...

Do this with the `quickstart.py` in the actual folder

[2017-05-21 08:50] imakethefish commented on #183
Didn't want to start a new issue and I'm only at beginner level of programming could some let me know if below is correct for clarifai?

InstaPy(username='xxxx', password='xxxx.')\
	.login()\
	.set_dont_like(tag_list)\
	.set_dont_include(friendList)\
	.set_ignore_if_contains(ignore_list)\
	.set_do_comment(enabled=True, percentage=5)\
	 .set_do_follow(enabled=True, percentage=10, times=1)\

[2017-05-21 09:15] pybern opened #267 "Unable to Follow using example script. Works with GUI"
Hi there! I am on a Windows 64bit SP 1 machine running on Jupyter Notebook with Python 3.61.

I have tried both GUI and the example scripts directly. While likes seem to work fine, Following only somehow works using the GUI.

Below is my code sample, the code runs, it just does not seem to be following anybody, even when I trie d to test with `amount = 1 `and` percentage = 100`

`InstaPy(username=

[2017-05-21 09:28] pybern commented on #267
My bad, read the earlier issue, #247 . Changed my code to declare the set commands first, seems to be working after that.

Thanks.

[2017-05-21 14:26] brodydrey2296 commented on #263
Oh..... ok, thanks that clears things up. On my mac I always run instapy
and it works, thats why I was trying to do it on windows

On Sun, May 21, 2017 at 4:30 AM, Tim Großmann <notifications@github.com>
wrote:

[2017-05-21 14:31] brodydrey2296 commented on #263
It works now, case closed, thank you so much for your help, and being
patient with me even when I was being an idiot, I really appreciate it.

On Sun, May 21, 2017 at 10:26 AM, _Brody_ _Stone_ <brodydrey2296@gmail.com>
wrote:

[2017-05-22 07:02] #267 closed

[2017-05-22 07:02] #263 closed

[2017-05-22 08:49] dylancaponi opened #269 "Location based tags (feature request)"
Would be nice to like based on geo location, eg:
https://www.instagram.com/explore/locations/86195/petersen-automotive-museum/

[2017-05-22 11:09] imakethefish commented on #269
@dylancaponi you could use the location code from here https://www.instagram.com/explore/locations/ look up your area code you want to here and make a function the searched for it eg. like_by_location instead of like_by_tags.

[2017-05-22 15:40] timgrossmann commented on #269
#3

[2017-05-22 16:47] arisanguinetti opened #270 "Follow, like or comment if post matches more than one hashtag"
Hi everyone,

I see that many posts in Instagram have more than one hashtag, it would be great to be able to like, comment or follow based on matching more than one tag.

For example, I want to like, comment and follow to all Instagram posts that have both hashtags "#beer" and "#texas". It's more likely to find posts with a hashtag combination than by using a hashtag like "#BeerInTexas"

[2017-05-22 18:31] cazaa commented on #126
I had the exact same issue. Downloading an earlier version of chromedriver that supports Chome version 48 fixed the issue for me: https://chromedriver.storage.googleapis.com/2.21/chromedriver_linux32.zip

[2017-05-22 22:14] arisanguinetti commented on #269
It is possible to use Instagram API to get a list of post on certain latitudes/longitud and then apply the hashtag rules on that list. For example look all posts in certain area with the API and then for each one, check the hashtags, ignored words, ignored users, etc.

[2017-05-23 04:37] gitjayjay opened #271 "EasyProcess InstaPy GUI"
So my cmd is telling me: C:\Users\Desktop\InstaPy-master>pip install EasyProcess
Requirement already satisfied (use --upgrade to upgrade): EasyProcess in c:\users\anaconda3\lib\site-packages

Is my path for easyprocess wrong? B/c every single file has been downloaded but can't seem to get the GUI to work on my windows... Thank you for all the help whoever responds!!!

[2017-05-23 05:18] timgrossmann commented on #269
@arisanguinetti I specifically didn't use the InstagramAPI and probably won't do it with the newer features.
You can do the same thing with the link given by @imakethefish

[2017-05-23 05:20] timgrossmann commented on #271
@gitjayjay You should probably also post this issue at the github repo of the GUI tool

[2017-05-23 05:25] imakethefish commented on #3
@timgrossmann @littleswany Hey guys what is the status of this? I would like to contribute to this project if possible.

[2017-05-23 05:26] gitjayjay commented on #271
@timgrossmann  I have, Nemanja told me to ask on here cause none of his solutions worked haha

[2017-05-23 05:27] timgrossmann commented on #3
@imakethefish Still open...
Feel free to contribute!

[2017-05-23 05:29] timgrossmann commented on #271
@gitjayjay Ahh, good to know.
Let's see if there's someone with the same problems  😄

Did you try installing EasyProcess with pip3?`pip3.5 install EasyProcess`

[2017-05-23 11:23] imakethefish commented on #238
@converge I changed code to on line 37 to self.browser = webdriver.Firefox()

However, the code isn't executing on my raspberrypi out terminal.

Using instapy/ Python3.6 scriptname.py

It logs the session as started. However, it doesn't launch firefox. (I installed via terminal - sudo apt-get install python-pip iceweasel xvfb)

Any help would be appreciated.

[2017-05-23 19:24] atomhax opened #272 "Revisiting multibyte Emojis. 💯💯"
Revisiting Multi byte emojis. I started to dig into this some more after I saw that Tim had posted the bug on the selenium GitHub. It seems the issue lies in the sendKeys function in the web driver class. Heres the Traceback i'm sure you're all familiar with.

`Traceback (most recent call last):
  File "pythonTests.py", line 31, in <module>
    inputLine.send_keys(u'\U0001F4AF')
  File "/Library/P

[2017-05-23 20:21] timgrossmann commented on #272
@atomhax Awesome, thank you!
This was on the list for InstaPy_V1, the best part with your solution is that you can easily send the actual emojis instead of the unicodes.

1. Yes, more emojis are always better 😄
2. That's a good question... @vlntdds ?

[2017-05-23 20:46] macrusso commented on #262
@brodydrey2296 I've got something similar with Scrapy and Selenium. Put your selenium file to the same folder as your *.py file and change code to `self.browser = webdriver.Chrome()`

[2017-05-23 22:03] atomhax commented on #272
I can get started on the pull request for this once @vlntdds can confirm.

[2017-05-24 04:04] timgrossmann commented on #272
@atomhax Feel free to start. @vlntdds has been inactive for quite a while now.

[2017-05-24 11:29] brodydrey2296 commented on #262
I fixed the issue, I was setting the chrome driver directory wrong... Sorry
about the inconvenience.

On Tue, May 23, 2017 at 4:47 PM, Mac <notifications@github.com> wrote:

[2017-05-24 14:23] #262 closed

[2017-05-24 20:22] deronsizemore opened #274 "Script seems to start fine but get this traceback in terminal after a while"
[code]

Here's my code for script:

[code]

[2017-05-25 01:03] atomhax commented on #272
@timgrossmann I created the PR. Setting the value via JS was actually more difficult that I planned. The ultimate interim solution is slightly hackish and i'm sure i'll find another way to force an update. Since Instagram is reactJS, the input box value doesn't automatically update on the reactCore when set via javascript. I had to append an extra " " onto a comment so I can send a backspace "\b"

[2017-05-25 02:50] dylancaponi commented on #269
Sent merge request.

[2017-05-25 07:08] sas300 opened #277 "Commenting stopped working"
Weird problem Im wondering if anyone else has recently come across. The commenting functionality was previously working however I have noticed that it has stopped tonight. The output log shows the comment as normal however nothing is posted.

I can manually comment on pics (so its not like Ive been block or anything), and dropping some debug print commands in the comment_util.py indicates that the

[2017-05-25 09:22] binhonglee opened #278 "Install scripts"
There seems to have no explanation and documentations as to their existence and what they do. Should they be included in the README.md as part of the instructions? Or just removed? I felt like its only being brought up in the issues when someone face a problem with installation but no one else really knows why they were there.

[2017-05-25 12:11] timgrossmann commented on #272
@atomhax Awesome for now!

[2017-05-25 12:12] timgrossmann commented on #278
@binhonglee Well, you're actually right.

Could you add a section in the Readme and docs/index.md for that, please?

I thought the people who'd use them know what they do.
Also we could refactor them to live in a separate scripts folder

[2017-05-25 14:13] sas300 commented on #274
I've had this happen recently too. For me it looks like my machine is going into sleep mode and disconnecting the WiFi. Do you still get this problem if you switch off sleep mode (display sleep should be fine)?

[2017-05-25 16:32] atomhax commented on #272
Next will be to add the emoji lib in case users want the emoji alias support.. like the ":thumbs_up:" that @raffg brought up in #143

But i'll wait until this PR gets accepted.

[2017-05-25 17:05] atomhax commented on #236
I noticed that my account has the features enabled from my smartphone browser. What Features need to be explored? Often i'll take a dozen photos and want to upload them at regular intervals instead of all at once. I think it could be an interesting feature if the bot would poll a folder for new images and related text. If there is new content it would post every "X amount of hours".

Part of my mo

[2017-05-25 20:25] binhonglee commented on #278
I think they are already in a separate scripts folder but yea, I can definitely word on adding a section to the README.md and docs/index.md

[2017-05-25 22:39] atomhax commented on #241
Correct me if I'm wrong but AFAIK this is currently NOT possible with the desktop user agent. I wasn't able to get it to work with the UA set as Safari iOS 9 agent either but I didn't do too much experimenting. From a browser after 11 people like an image it changes to a counter and theres "likes" page to go to.

[2017-05-26 09:04] timgrossmann commented on #272
@atomhax You Sir, are awesome!

[2017-05-26 09:10] timgrossmann commented on #241
@atomhax Yes, this might be possible in the future or maybe with some JS magic...

Well Instagram API has some nice features, but please let's keep staying away from that 😉

[2017-05-26 09:17] timgrossmann commented on #3
Partly implemented at #276

[2017-05-26 09:18] timgrossmann commented on #269
#276

[2017-05-26 09:18] #269 closed

[2017-05-26 09:20] timgrossmann commented on #278
#279

[2017-05-26 09:20] #278 closed

[2017-05-26 13:25] deronsizemore commented on #274
Thanks. I'm not sure. That was kind of my first thought too. I can't seem to reproduce it now which is weird since it happened a few times over the last week. For example yesterday, I started the script, ended up having to leave so I closed my laptop and put it to sleep and just now opened it back up which also re-connected me to wifi and the script just picked up where it left off yesterday when

[2017-05-26 13:35] converge commented on #265
just had the same issue, didn't find out what's wrong yet

[2017-05-26 14:46] wordythebyrd commented on #192
I have the script setup in docker and kicks off around 2AM.  This morning at 7:38AM, Instagram sent me an email, "We detected some suspicious activity that suggests your Instagram account may have been compromised. Don't worry, we've taken measures to secure your account. As a result, we need you to reset your password, using the links below..."  I actually kicked it off at the same time for 2 dif

[2017-05-26 15:38] newbie-dev7 commented on #255
sorry for the delay i was on final school test .
ok so there is what it look like now and its still does not follow anyone

 .login()\
  .set_upper_follower_count(limit = 1700) \
  .set_lower_follower_count(limit = 55) \
  .set_dont_include(friend_list) \
  .set_dont_like(dont_like) \
  .set_ignore_if_contains(['mum']) \
  .like_by_tags(['color',], amount=103) \
  .set_do_follow(enabled=True, perc

[2017-05-26 21:36] TheRealJAG commented on #239
@timgrossmann I haven't had time to mess around lately. Maybe this weekend. I'll keep you posted.

[2017-05-26 21:38] TheRealJAG commented on #239
@timgrossmann just a thought... If I was running 2 tags that are similar and have matching images, does your script check to see if a tag comments on X user or is it user defined? This might be where the duplicates are coming from...

[2017-05-26 21:49] timgrossmann commented on #274
@deronsizemore Feel free to reopen it when you find a reproducable case 😉

[2017-05-26 21:49] #274 closed

[2017-05-26 21:51] timgrossmann commented on #239
@TheRealJAG It will only comment if the image is not yet liked. This is defined in the code, so there can't be any exceptions.

Only if you've been banned from liking and the actual like was removed because you're not allowed to like anymore...

[2017-05-26 21:53] timgrossmann commented on #143
#281

[2017-05-26 21:53] #143 closed

[2017-05-26 21:53] timgrossmann commented on #272
#143

[2017-05-26 21:53] #272 closed

[2017-05-26 23:33] HaginCodes opened #282 "Mac support"
Could you also include information about how to do this using Macs? To the setup tutorial?

[2017-05-27 06:20] sunnypatel165 commented on #277
Could you post your quickstart?

[2017-05-27 06:21] sunnypatel165 commented on #255
```set_do_follow``` needs to be before ```like_by_tags```.
 See the updated doc in the README.
PS - Don't think there is a way you can specify entire friend list - unfortunately.

[2017-05-27 17:56] atomhax commented on #282
I've set it up on MacOS and Linux using the instructions on the github. MacOS is based on Unix. It should the the same instructions. Did you run into any errors/problems while following the instructions?

[2017-05-27 18:01] atomhax commented on #277
The bot could use sightly better error reporting while running. Basically in the version you're using if the bot isn't able to find the comment box (for whatever reason.. maybe the page took to long to load IDK), it skips trying to post the comment. Yet the terminal outputs as if it had commented. We should make it instead print that the comment failed.

Now I see in the current version of the com

[2017-05-27 18:03] atomhax commented on #241
@timgrossmann I can try and conjure up some of that magic. I wonder if a var on the page is holding the list of the users somewhere.

You're right about the Insta api.. seems like that might draw unwanted attention. Not sure why I even brought it up.

[2017-05-28 11:40] imakethefish commented on #126
@cazaa did you install exaGear?

[2017-05-28 14:15] cazaa commented on #126
@imakethefish Yes, I bought and installed exaGear.

[2017-05-28 18:40] amitbend commented on #277
same issue here

[2017-05-28 20:25] HaginCodes commented on #282
can't even enter wget commands listed on the page, most of the terminal commands for ubuntu there don't work, you also can't install deb files as such on mac.

[2017-05-29 02:16] converge commented on #282
cd InstaPy
python setup.py install

[2017-05-29 20:31] AlexandruAcea opened #286 "Chromedriver issue on UbuntuServer"
Hey guys! I was using InstaPy for some time and it worked perfectly, but I tried to use it from a UbuntuServer machine. Now, the issue is that when I'm starting it, it gives this error:
selenium.common.exceptions.WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally

Have you experienced this before? Thanks in advance!

[2017-05-29 20:38] #286 closed

[2017-05-29 21:28] madebybav commented on #277
Same issue here.
Invalid Page: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//input[@placeholder = "Add a comment…"]"}
  (Session info: chrome=58.0.3029.110)
  (Driver info: chromedriver=2.29.461591

[2017-05-29 22:26] madebybav opened #287 "Image is liked, but when commenting, the code ends"
When I run the code, it likes the image, but then when it comes to commenting, there is an error and the code ends.

This is the error:
Traceback (most recent call last):
  File "quickstart.py", line 7, in <module>
    .like_by_tags(['isetups'], amount=30) \
  File "C:\Users\Bav\Downloads\InstaPy-master\instapy\instapy.py", line 415, in like_by_tags
    commented += comment_image(self.browser, com

[2017-05-30 04:58] timgrossmann commented on #287
@atomhax

[2017-05-30 13:05] danielfrade commented on #265
same here =/

[2017-05-30 16:10] atomhax commented on #287
@timgrossmann I'll get to this sometime today. To me... the error  "IndexError: list index out of range" is referring to the comment_input array being empty. I bet a simple try-catch-exception block is exactly what we need here. I could be wrong.

[2017-05-30 16:39] MichaelZhou1998 commented on #287
I am also having this exact same issue. (on Windows)

[2017-05-30 22:26] andreroggeri commented on #287
It seems that the comment has changed from `input` to `textarea`

[2017-05-30 22:29] andreroggeri commented on #287
I'm modifying the `comment_util.py` file

[code]

To

[code]

[2017-05-30 22:30] atomhax commented on #287
It's still input for me. I seem to remember that they roll out UI features
to user accounts slowly. We may have to support both versions for a while.

On Tue, May 30, 2017 at 3:26 PM, André Roggeri Campos <
notifications@github.com> wrote:

[2017-05-30 22:40] atomhax commented on #287
@andreroggeri we need something like what they did during the graphql changes. You can acutally see an example of it in the live code in the like_util.

comment_input = browser.find_elements_by_xpath('//input[@placeholder = "Add a comment…"]')
if comment_input:
 #if comment_input is the old way do stuff
else:
  comment_input = browser.find_elements_by_xpath('//textarea[@placeholder = "Add a commen

[2017-05-30 22:42] andreroggeri commented on #287
Ok, I can make a PR.

But I'm getting another error:

[code]

[2017-05-30 22:46] atomhax commented on #287
Whats your Python version? I just read it can make a difference how this case is handled. I ask because this line of code works fine on my Linux and MacOS builds.

[2017-05-30 22:47] john-crossley commented on #287
I'm also having this issue on Mac OS X `Python 2.7.13` I literally know no python so looks like i'm gonna have to learn 🤣

[2017-05-30 22:48] andreroggeri commented on #287
@atomhax  I'm on 3.5.1 (But also checked on 3.6.1) runnin on Windows 10

[2017-05-30 22:49] andreroggeri commented on #287
[code]

[2017-05-30 22:51] andreroggeri commented on #287
Changing to `print("--> Commented: {}".format(rand_comment.encode('utf-8')))` fixes.

I can make the PR, but will conflict with yours #288 .

So, maybe its better to make this change on your PR. What do you think about it ?

[2017-05-30 22:52] atomhax commented on #287
Ok. I'll make the change. 2 seconds. I want to make sure to test it first. I'm sure this is causing a lot of people a headache today.

[2017-05-30 22:58] andreroggeri commented on #287
Great ! 😄

Some tests would be great for preventing regressions, but I didn't find any. 😢

[2017-05-30 23:26] atomhax commented on #287
Yeah some tests are a great idea!! 👍

If you have experience writing regression tests feel free to dive in. I put that PR up. I tested it on my insta and it worked fine.

[2017-05-31 00:04] Arinerron commented on #10
[code]

but it still says

[code]

[2017-05-31 02:34] dylancaponi commented on #248
Also, I think InstaPy should only unfollow accounts that it followed to begin with to not affect accounts the user manually followed.  Not sure if it does this, need to read through the code.

[2017-05-31 02:49] deronsizemore commented on #248
@dylancaponi I could see that being a useful option. For me, I'd use that later once I got my following numbers under control. As it is, I've followed a lot of accounts manually so I'll need to unfollow those first but I really don't want to unfollow accounts that I just followed the day before.

[2017-05-31 04:02] timgrossmann commented on #248
@dylancaponi that's already in the Todo's for V_1 😉

[2017-05-31 04:03] timgrossmann commented on #10
@Arinerron What machine are you running it on?

[2017-05-31 04:05] Arinerron commented on #10
Using a server running Mint. I can use my main distro (Arch) if you think it has something to do with the OS. If you mean hardware, Intel Core i3 530 @ 4x 2.933GHz.

[2017-05-31 09:35] mattmaker opened #289 "Help installing on Ubuntu droplet?"
I created a new Ubuntu 16.04 droplet and did the express install:
[code]
After that, I went to my droplet's IP address in Chrome and it gave me an error. It said the site can't be reached. Then I went to the instapy.py file and changed "nogui=False" to "nogui=True". Refreshed the browser and it's still not working.

What am I doing wrong here?

[2017-05-31 10:03] mrandidemartini commented on #240
@tricepad
try `sudo pip3 install selenium`

[2017-05-31 10:05] mrandidemartini commented on #240
i got stuck at installing pyvirtualdriver :/
wasn't able to install Xvfb, Xephyr nor Xvnc... can anybody help please?

[2017-05-31 19:51] timgrossmann commented on #10
@Arinerron Hmm... I can't help you with that, sorry...
There are two guides for Ubuntu and CentOS

[2017-05-31 20:51] atomhax commented on #287
@madebybav @timgrossmann I believe PR #288 addressed this issue. Can we close it?

[2017-05-31 20:57] atomhax commented on #234
@aliajoudanian I can do this. I just want to make sure we flesh out the feature completely. Do we need to set a limit to how people the bot will follow before it takes a break or do we let it run until it finishes following all of the targeted user's followers.

[2017-05-31 23:00] Arinerron commented on #10
Mint is based on Ubuntu, so it should work. Uses same package manager too.

Sincerely,
    Aaron E. (aka: arinerron)

This email and any files or media transmitted with it are confidential and
intended solely for the use of the individual or entity to whom they are
addressed. If you have received this email in error please notify the
system manager. This message contains confidential information a

[2017-06-01 04:38] aliajoudanian commented on #234
@atomhax In my idea set a limitation is better. like as Like by tag

Maybe user wants to follow/unfollow user and if there isn't any limitation it caused a problem.

[2017-06-01 10:11] imakethefish commented on #126
@cazaa I keep getting the below error, have you had similar issues?

```session deleted because of page crash from unknown error: cannot determine loading status from tab crashed```

[2017-06-01 12:48] MoritzGruber opened #290 "If your account doesn't follow any people, unfollow will crash #Bug"
In file unfollow_util.py
[code]
If follow 0 people that following_link_div is undefined and will crash.
In the browser you can see that this div doesn't exist, there is just a span element instead.

How should the bot act in this case? I feel like just give a warning and return 0 for the number of unfollows.

[2017-06-01 14:25] mrandidemartini commented on #240
Ok, so I finally got everything installed and executed the quickstart script as it is, simply with my login credentials as a test.
Chrome opens, login is executed, the first hashtag is being searched (dog)...
and then all what happens is scrolling down, wait until new content is loaded, scroll up and then scrolling down, wait until new content is loaded, and so on. It's stuck in loop and nothing e

[2017-06-01 15:51] sunnypatel165 commented on #240
@mrandidemartini That shouldn't happen.
Can you share your quickstart? Maybe you have specified a very high value for count, try with a smaller number to test!

[2017-06-01 17:34] timgrossmann commented on #290
@MoritzGruber You are right! This should be fixed...
If you think about submitting a PR, feel free to do so.

Just make sure to not only catch this problem but also abort the whole unfollowing process if something like that happens since it will continue until the whole "amount" of people has been unfollowed 😉

[2017-06-01 19:46] rosartori opened #291 "Problem with hashtag caracter"
Hi, the script is running OK, but i'm using a Brazilian hashtag with "ç"!
I can't resolve the problem.... :(

When I run quickstart.py I get the following error:

Traceback (most recent call last):
  File "quickstart.py", line 19, in <module>
    .like_by_tags(['laçoemdupla', 'madeinroça', 'bruto', 'cowboy', 'country'], amount=50)\
  File "/Users/rodrigo/InstaPy/instapy/instapy.py", line 362, in l

[2017-06-02 06:41] mrandidemartini commented on #240
thanks @sunnypatel165 , this resolved the problem!

[2017-06-02 12:36] MoritzGruber commented on #290
Yeah I will submit a PR soon :+1:

[2017-06-03 12:36] maarten74 opened #292 "Issue with Comments and Unfollow"
First, thank you so much for this excellent project!

I have been able to get things working however, I am getting some errors when introduce commenting and unfollow. Here is my quickstart:

[code]

Here is the error I get related to commenting:
[code]
Interestingly, it still gets marked as "Commented", but if I go to the profile, I do not see a comment.

Here is the error I get related to unfollo

[2017-06-03 15:25] dakshshah96 opened #293 "Recurring SyntaxError: Unexpected identifier error"
I've been noticing since the past week that each time I start InstaPy, it works fine for a while (maybe an hour or so, going through 3-4 of the tags) and then abruptly stops with a `SyntaxError: Unexpected identifier` error. Here's a screenshot for reference.
<img width="682" alt="screenshot 2017-06-03 18 23 45" src="https://cloud.githubusercontent.com/assets/7896438/26754801/fc405a30-4889-11e7-82

[2017-06-03 16:38] manindertaggar opened #294 "Follow By Page"
I want to follow the users of a particular page. Is it possible?

[2017-06-04 02:01] maarten74 commented on #292
I was reviewing issue #288. When I observe the browser, I do not see the "Add Comment..." area (see below). I believe this is why I am getting the error. Is there a way to fix this?

Also still having issue with unfollow.

![image](https://cloud.githubusercontent.com/assets/29161994/26758293/2947b064-48a8-11e7-9b9d-61fc0cdafddb.png)

[2017-06-04 09:10] MoritzGruber commented on #292
How many people where you following, when the unfollowing error occurred? Maybe 0 ?

[2017-06-04 12:44] maarten74 commented on #292
Thanks for the reply. I had well over 50 followers, so I don't believe that is the issue.

[2017-06-04 14:05] timgrossmann commented on #294
@manindertaggar
Not yet

[2017-06-04 14:05] #294 closed

[2017-06-04 15:23] #290 closed

[2017-06-04 15:42] timgrossmann commented on #290
#295

[2017-06-04 17:10] tibor opened #297 "comment_util: ImportError: No module named emoji"
Hi,

I just updated InstaPy with `git reset --hard` and `git pull` and get now the following error:

[code]
Itried to `pip install emoji`, but the error persists. Do you have any idea how to fix this?

Until today I've used a weeks old version of InstaPy, so this is my first installation with the new emoji functionality (#272, #275).

I'm using CentOS.

[2017-06-04 17:23] tibor commented on #297
I had to do the [following steps](https://pypi.python.org/pypi/emoji):

[code]

Now everything works.

[2017-06-04 17:23] #297 closed

[2017-06-04 20:58] sas300 commented on #277
Looks like its working for me now. Thanks!

[2017-06-05 09:13] timgrossmann commented on #277
#288

[2017-06-05 09:13] #277 closed

[2017-06-05 09:15] timgrossmann commented on #289
@mattmaker Try to use the Advanced setup and install everything separately 😉

[2017-06-05 09:16] timgrossmann commented on #291
@rosartori Where are you running the script?
local machine, server?

Do you have the latest version?

[2017-06-05 09:17] bigdropgr opened #300 "Error when trying to run the script"
Hi,
I followed your instructions on how to install the bot on a CentOs VPS.

When I try to run the quickstart.py I get this error message:

[code]

**Is this how the quick start should look:**

[code]

Is this correct?

[2017-06-05 09:42] bigdropgr commented on #300
When I try python3 quickstart.py

I get this error....

Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/root/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/root/InstaPy/instapy/instapy.py", line 5, in <module>
    from pyvirtualdisplay import Display
ImportError: No module named 'py

[2017-06-05 09:47] bigdropgr commented on #300
When I tried 'pip install pyvirtualdisplay'

I get this error.....

Requirement already satisfied: pyvirtualdisplay in /usr/lib64/python2.7/site-packages
Requirement already satisfied: EasyProcess in /usr/lib/python2.7/site-packages (from pyvirtualdisplay)

I am totally newbie but I guess that the pyvirtualdisplay is installed for python 2.7 but it is not for python 3....

How to fix this??

[2017-06-05 10:04] bigdropgr commented on #300
Is this how the quick start should look???

`from instapy import InstaPy

# Write your automation here
# Stuck ? Look at the github page or the examples in the examples folder

dont_like = ['food', 'girl', 'hot']
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

# If you want to enter your Instagram Credentials directly just enter
# username=<your-username-here> and passwor

[2017-06-05 10:40] bigdropgr commented on #86
Hi @timgrossmann, I run it on CentOs VPS but I get the same error.

[2017-06-05 10:50] timgrossmann commented on #86
apt list --installed | grep Xvfb

[2017-06-05 10:51] timgrossmann commented on #300
@bigdropgr looks like this is a problem with the setup docs about centOS...

My recommendation would be to simply use Ubuntu unless you got a good reason to use CentOS 😉

[2017-06-05 10:53] bigdropgr commented on #300
Ok I will switch to Ubuntu and let you know if I face any problem.
Thank you @timgrossmann !!

[2017-06-05 10:55] bigdropgr commented on #300
@timgrossmann Do I need to run my server on any specific Ubuntu version or it does not really matter?

[2017-06-05 11:12] timgrossmann commented on #300
@bigdropgr Don't you use DigitalOcean?
I don't think the ubuntu version is too important... But I actually didn't test it with ever version out there

[2017-06-05 11:15] bigdropgr commented on #300
I do not use DO.

I installed Ubuntu 14.04.

I am getting an error while I'm following the installation process.
The error is :
[code]

What is this?

[2017-06-05 11:25] virginsince1997 opened #301 "feedliker"
lovely bot , but please how can i like my instagram feed using this bot

[2017-06-05 11:27] bigdropgr commented on #300
@timgrossmann When I run `python3 quickstart.py`  I get this error:

[code]

and if I run the `python quickstart.py`

I get this error:

[code]

I also tried `apt list --installed | grep Xvfb`

and I get this error:
`WARNING: apt does not have a stable CLI interface yet. Use with caution in scripts.`

What am I doing wrong?

[2017-06-05 11:32] timgrossmann commented on #301
@virginsince1997 It can't by now

[2017-06-05 11:32] #301 closed

[2017-06-05 14:22] bigdropgr commented on #300
@timgrossmann It did not work, so I thought it was some kind of installation problem.
I created a new vps with ubuntu 17 installed. I am following the installation process for ubuntu.

When I run `sudo dpkg -i google-chrome-stable_current_amd64.deb`

I am getting this error:

[code]

[2017-06-05 15:03] bigdropgr commented on #300
@timgrossmann I created a new droplet (running Ubuntu) on Digital Ocean.
I get the exact same errors on that vps also.

[2017-06-05 16:47] rosartori commented on #291
in my MacbookPro - MacOS Sierra with the latest version

[2017-06-05 17:02] timgrossmann commented on #300
@bigdropgr Did you follow the advanced setup on in the "how to Ubuntu"?
You have to install it top down 😉

[2017-06-05 17:13] bigdropgr commented on #300
@timgrossmann I followed everything.... No luck!

So I will create a new droplet with ubuntu 16.04 x64.
Then I will follow the instructions fund [here ](https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu.md#advanced-installation). I just need to follow everything from the **Advanced Installation** and below, correct?

One more try!!

[2017-06-05 17:30] timgrossmann commented on #300
@bigdropgr Yes, just make sure to copy every command without the "$".

I did this like 7 times now, this actually works like charm 😉

[2017-06-05 17:42] bigdropgr commented on #300
@timgrossmann while installing it again on a clean vps, on the last step of the **General dependencies** when i run
`pip3 install --upgrade pip`
I get this message
`Requirement already up-to-date: pip in /usr/local/lib/python3.5/dist-packages`

On the **Chrome-stable** on the step
`sudo dpkg -i google-chrome-stable_current_amd64.deb`
I get this message
[code]
After following the step by step proce

[2017-06-06 00:59] tyler601 opened #302 "the script stops working while following a list of IGs acounts if it reachs a non-existant acount"
usually the instagram user changed their username or deleted the ig!
it's really bothering because i encouter this porblem atleast once in every 80 acounts so it's hindering the whole process to the point where following people manually seems faster.
can you figure out a script so that the bot just jumps those non-existing acounts and moves to the next one?
thanks alot!

[2017-06-06 16:00] bigdropgr commented on #300
@timgrossmann any possible fix for this?

Thank you!!

[2017-06-06 17:28] AlexBGoode commented on #234
I would also like to confirm here that the feature of following of the followers of the specified account would be really useful!
As for now, the method follow_by_list() just follows specified accounts straight forward meanwhile its description sound to me much more promising and making me believe that all followers of the specified accounts would be followed according to available  restrictions

[2017-06-07 00:15] imakethefish commented on #293
@dakshshah96 I've been experiencing the same error. I made changes to my script particularly using clarifai so I have reverted today to see if the error will continue. Will update tonight.

[2017-06-07 08:48] Entegh opened #303 "Dommie question"
Hello ,

I am totally new with coding. I am tryin to run instapy on windows, i installed Selenium and PyVirtualDisplay by using pip and in according to the installation guide, when i use cd InstaPy in cmd it says the system can not find the path specified.
what should i do ?

[2017-06-07 12:16] amitbend commented on #303
can you open the folder in the file explorer?

[2017-06-08 01:07] umangahuja1 commented on #286
Try uninstalling and reinstalling chrome driver
Try this then:
sudo mv /opt/google/chromedriver /opt/
sudo ln -fs /opt/chromedriver /usr/local/bin/chromedriver

[2017-06-08 01:34] lestergan88 opened #304 "Not commenting even though it says commented?"
Hi all, having some problem with the commenting. I'm using the GUI together with Instapy

Since my followback rate dropped recently, I took a look into why is that so. and i found out that ..
When the bot says it commented, it never actually does. I am able to comment through the app but the bot isnt commenting when it says it does

the only error i receive is this at the start of launch

![error]

[2017-06-08 02:12] lestergan88 commented on #292
Any update on the commenting? I am having the same problem where it says commented but no comments are actually written on the user's image

[2017-06-08 04:37] DrunkenHusky commented on #10
@Arinerron I've got the same issue. How I solved the issue:
My problem was, that I had different versions of Python installed. Due to this, only the latest version of the Python which is installed on my server has included the needed Modules.

So what I did: Check the version of Python with:
`python3 --version`

If you get e.g. Python version 3.4.5, then you have to use in the commandline not only

[2017-06-08 18:31] atomhax commented on #292
@lestergan88 Ok, So the commenting element didn't load on the page. The Script probably just has to skip commenting on that post. It almost seems like a soft ban thing.

[2017-06-09 10:46] Mkohm commented on #300
Im having the exact same issue.

[2017-06-09 12:12] dolax opened #305 "Clarifai isn't working"
Good morning
I've a question about clarifai.
My python file is the following (I deleted password username and clarifai id and secret) :

[code]

The clarifai part isn"t working. It doesn't comment img about food for example ...

What shall I do in order to make it work ?

Thank you very much

[2017-06-09 12:27] tyler601 commented on #234
im wondering if you got this feature working ?

[2017-06-09 14:34] Basti922 opened #306 "import emoji"
Hello,

i had an issue to get the Instapy started.

![emmoji bug](https://user-images.githubusercontent.com/29119470/26980080-5332ab08-4d31-11e7-8e2d-91fd602c3f44.PNG)

but outcommenting fixed it in the first place
![err emo](https://user-images.githubusercontent.com/29119470/26980056-3c6fd260-4d31-11e7-930f-0760a4da3584.PNG)

but later when the skript runs there reappears the emoji import error.

[2017-06-09 14:44] timgrossmann commented on #306
@Basti922 Please don't touch the code if your not aware of what you are doing... This will generate more problems than it solves!

You have to revert your changes in the code (or simply clone the repo again) and simply install the emoji module like every other one of the modules.

Just do
[code]

or if this is not working, find out the python3 version installed and do (for me its 3.5)

[code]

[2017-06-09 14:44] #306 closed

[2017-06-09 15:11] Basti922 commented on #306
Thanks :)

On Fri, Jun 9, 2017, 16:44 Tim Großmann <notifications@github.com> wrote:

[2017-06-09 15:45] timgrossmann commented on #300
How much memory?
You need at least 1GB of memory for it to work.

[2017-06-09 15:47] timgrossmann commented on #234
@tyler601 Why not? The question is not if, but when someone finds the time to do it 😉

[2017-06-09 16:25] Mkohm commented on #300
I got 1GB memory.

[2017-06-09 16:32] bigdropgr commented on #300
I also have 1gb!

[2017-06-09 16:48] bigdropgr commented on #300
@timgrossmann Exact same messages while installing and the same output when I try to run quickstart.py on a fresh created droplet with 4GB and Ubuntu.

So I guess it is not ram issue. Maybe we are doing something wrong and no one can guess what we are doing wrong.

So I am saying again. On a newly created vps on Digital Ocean with 4GB ram and Ubuntu 16.04.2 installed i install all the needed softw

[2017-06-10 07:07] timgrossmann commented on #300
@bigdropgr Weird  🤔 ...
Yes that's correct. Simply execute every command separately.

[2017-06-10 16:49] bigdropgr commented on #300
@Mkohm Any luck with installing the InstaPy? Did you figure this out?

@timgrossmann Can I provide any farther info to help you help me?

Thank you!

[2017-06-10 17:31] bigdropgr commented on #300
@timgrossmann is it possible that I will give you access to my server and you will check what is going on?
Can you please mail me at bigdropgr (at) gmail.com so I will give you my login credentials?

Thank you

[2017-06-10 18:33] nate2799 opened #308 "install issues - (windows how-to #4 Clarifai"
Hey guys, I am trying to get this to work.  I have done all steps to date but get this when I run the GUI (or Start.bat  .

![new error running gui](https://user-images.githubusercontent.com/29220989/27005277-24717de0-4de9-11e7-9a00-4ff07cdfdcee.png)

I have opened up instapy.py and can edit the file.  I am uncertain as to what to do here.  It says to:  4. Edit the instapy.py file

Open file insta

[2017-06-10 21:17] timgrossmann commented on #300
@bigdropgr Well, actually no, sorry... If I start doing that, especially for free, I'm covered for the rest of the year...

I will record a video on the server setup tomorrow or so and upload that to youtube...

[2017-06-10 21:18] timgrossmann commented on #308
@nate2799 please post this issue at the GUI's repo... this is not InstaPy related. You shouldn't touch the instapy code .... ever!

[2017-06-10 21:18] #308 closed

[2017-06-11 08:40] wecanfuture opened #309 "Noob wants some help please <3"
Heyho,

i am struggeling getting the InstaPy to run on Ubuntu 16.04 (1gb ram)

I used the fast install script from tim. I edited the instapy.py (nogui=True and no clarifai, outcommented, as i did it for windows)

When i want to run the quickstart it gets me following error: there is no pyvirtualdisplay
I case i want to install it it says its already there....i dont have a clue and didnt find any g

[2017-06-11 09:24] MoritzGruber commented on #309
try run quickstart.py with python3:` python3 quickstart.py`

[2017-06-11 10:01] wecanfuture commented on #309
Thank you thats it !

[2017-06-11 10:29] dakshshah96 commented on #293
@imakethefish Any luck on fixing the error?

[2017-06-11 14:42] #309 closed

[2017-06-11 20:13] Ketcap opened #310 "'Service' Object has no attribute 'process'"
`Traceback (most recent call last):
  File "index.py", line 3, in <module>
    InstaPy(username="xxxxx",password="xxxx")\
  File "/Users/ketchup/Desktop/InstaPy/instapy/instapy.py", line 38, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/selenium/webdriver/

[2017-06-11 20:19] Ketcap commented on #310
I got the problem after i wrote it. Chromedriver should be inside assets instead of path

[2017-06-11 20:19] #310 closed

[2017-06-12 09:21] ogerasymenko commented on #270
Hello. To not create new topic, write here. My ideas about InstaPy - will be good to add feature to skip Top Posts liking, because when we specify some tag, first of all happens liking this (Top) post; second - will be not bad to have some common features, for example get user followers list. I try to work with official  instagram python api and have permanent troubles with api_token (I'm not unde

[2017-06-13 12:15] wecanfuture commented on #26
Hey, i just setup up a 32 bit version Linux 14.04 (cause its cheap 10$ p.a.)

and had the same issue installing chromium with newest chromedriver worked fine.

sudo apt-get install chromium-browser

[2017-06-14 01:17] ohoscar opened #311 "ImportError: No module named pyvirtualdisplay"
No errors on install, added the nogui tag. What am i doin wrong?
Thanks guys

`Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/home/be-lost/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/home/be-lost/InstaPy/instapy/instapy.py", line 5, in <module>
    from pyvirtualdisplay import D

[2017-06-14 04:35] timgrossmann commented on #311
@ohoscar Did you follow the instructions on the How_to?
How do you start the script? `python quickstart.py` or `python3 quickstart.py` ?

Do `pip list` and check ich pyvirtualdisplay is in there.
Try to install it by hand: `pip3 install pyvirtualdisplay`

[2017-06-14 05:28] ohoscar commented on #311
i start with python quickstart.py
PyVirtualDisplay (0.2.1) is present.
I used python3.5 next, this is what i got now.
`be-lost@box:~/InstaPy$ python3.5 quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 5, in <module>
    session = InstaPy(username='xxxxx', password='xxxx', nogui='True')
  File "/home/be-lost/InstaPy/instapy/instapy.py", line 38, in __init__
    self.bro

[2017-06-14 12:43] AlexandruAcea opened #312 "IndexError: list index out of range"
Hey guys, I've been using the bot for a while, but lately it keeps giving this error: IndexError: list index out of range. It usually happens after 5 accounts liked, or less. Do you have any idea of how I can fix this? Thank you!

[2017-06-14 13:38] rosartori commented on #291
Any help?

[2017-06-14 13:50] razvanilin commented on #293
I get the same error at random times

[2017-06-14 18:44] timgrossmann commented on #291
@rosartori I'm sorry... Can't help you right now.
I'll leave this open so maybe someone else that faced the same problem has an answer.

[2017-06-15 05:07] kamushadenes opened #313 "selenium.common.exceptions.WebDriverException: Message: unknown command"
Hello,

When I try to run the script, I get:

 /dropbox/kamushadenes/Projects/InstaPy   master *  python script.py                                                                                                                                                           Thu 02:03
Logged in successfully!
Traceback (most recent call last):
  File "script.py", line 16, in <module>
    session.login(

[2017-06-15 05:11] kamushadenes commented on #313
If I set followed_by to a fixed number at print_log_writer.py, it proceeds fine.

[2017-06-15 05:13] kamushadenes commented on #313
Basically, it seems that I'm unable to execute any call to browser.execute_script()

[2017-06-15 05:49] imakethefish commented on #293
@dakshshah96 at first I changed my clarifai settings and it appeared to work. However, it has continued again this week.

It appears to only happen on certain hashtags. Have you had any luck?

[2017-06-15 10:31] RiboPg commented on #312
same problem
browser.execute_script("arguments[0].value = '" + rand_comment + " ';", comment_input[0]);
IndexError: list index out of range
but just for some tags

[2017-06-15 16:07] razvanilin commented on #293
I removed clarifai and it still happens. Seems to be happening more often than ever now. The script rarely manages to reach the second hashtag.

[2017-06-15 17:57] ohoscar commented on #311
I did.
Its a x64 arch. I still get this error.

`be-lost@box:~/InstaPy/assets$ uname -a
Linux box.be-lost.com 4.4.0-78-generic #99-Ubuntu SMP Thu Apr 27 15:29:09 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
be-lost@box:~/InstaPy/assets$ sudo wget https://chromedriver.storage.googleapis.com/2.30/chromedriver_linux64.zip
[sudo] password for be-lost:
--2017-06-15 10:26:10--  https://chromedriver.storage.g

[2017-06-15 18:23] bigcotton commented on #312
Absolute beginner here: I think I got the same problem, but it occurs only when it tries to comment a picture

![170615_bug](https://user-images.githubusercontent.com/24789653/27195756-466dc0b6-5208-11e7-9757-9ed4ce97e5eb.png)
^
I am thankful for any help

[2017-06-16 05:08] gitpatrickhub commented on #282
Trying to run this on a Mac using Python 3.6. Receive the following error;

 File "quickstart.py", line 14, in <module>
    InstaPy(username="xusername", password="password")\
TypeError: 'module' object is not callable

Any ideas?

[2017-06-16 10:42] #255 closed

[2017-06-16 10:43] #264 closed

[2017-06-16 10:43] #265 closed

[2017-06-16 11:56] bigdropgr commented on #300
@timgrossmann Hi, did you have time to record the video?

Can I ask you something very simple... Since we both use Digital Ocean, and we both have an Ubuntu server with at least 1GB ram, and we follow the exact same step by step procedure, what can be causing the error??

Thank you!

[2017-06-16 16:45] razvanilin commented on #293
So this is definitely caused by the commenting function, as the error specifies. Disabling the comment feature will make the script work.

[2017-06-16 19:31] timgrossmann commented on #293
@dakshshah96 @imakethefish @razvanilin
Can anyone submit a Fix for this?

[2017-06-16 19:39] timgrossmann commented on #300
@bigdropgr I'm sorry, I wanted to do it, but I, to be honest, currently can't afford paying money to set up a droplet simply to record a video... I'm sorry.

I wanted to make a full video from the Link here on github to the set up server.
If you want to I could make one with an already created server and just from an empty server to the working script.

Hmm... actually I have no idea what the prob

[2017-06-16 20:11] ujazzz opened #314 "No4 on the guide doesnt make sense"
https://timgrossmann.github.io/InstaPy/How_to_Windows.html

what does it mean to an disabling the clarify import?

[2017-06-16 20:34] bigdropgr commented on #300
@timgrossmann I have an idea. If you write me your email I can send you the login credentials to a feshly created vps. You can use it to set up the bot and record the video and I will have the bot working, since I cannot do it myself.

I also thought that this could be a location problem so I tried different locations, both in usa and Europe .
I tried at least 5 different locations.

[2017-06-16 21:01] timgrossmann commented on #314
@ujazzz you have to comment the clarifai lines by just adding a "#" character

[2017-06-16 21:01] #314 closed

[2017-06-16 21:04] timgrossmann commented on #300
I'm sorry, I can't set it up for yourself, you have to do it on your own.

I can also set up a new droplet, just wanted to do a full video for the people having problems.
But I see when I can set it up and then I'll post the video, even though it will be boring as hell 😄

[2017-06-16 21:48] ujazzz commented on #314
comment where?

[2017-06-16 22:39] ujazzz opened #315 "I get an error message when I run InstaPy Gui"
As soon as I put my login details in the GUI and select an option to like 50 tags at london. it starts the command prompt and closes in a second. I managed to take a screenshot and this is what it shows.

![instapy error](https://user-images.githubusercontent.com/29471597/27246964-1aaea7c2-52c3-11e7-95a4-d1e3d12da0b2.png)

https://ibb.co/eW6s7k

[2017-06-16 22:51] ujazzz commented on #36
I have the same problem. Do you have a solution?

[2017-06-16 23:51] drewgoudy opened #316 "Needed: A beginners guide to setting it up?"
I have a raspberry pi 3 running ubuntu mate, I have tried setting this up 5 or 6 times. I'd really like to try it out so if anyone could give a hand, I'd be much appreciated. I am happy to change os on the pi because I am only using it for this bot. If someone could give me a noobs tutorial on how to do it that would be great.

Ps - not much coding experience

[2017-06-17 08:25] timgrossmann commented on #314
@ujazzz Google how to add comments to python code...

Please better ask this on the github page of the actual GUI. This is not a InstaPy issue.

[2017-06-17 08:26] timgrossmann commented on #36
@ujazzz It probably simply was installing it: https://pypi.python.org/pypi/past/0.11.1

`pip install future`

[2017-06-17 08:27] timgrossmann commented on #315
@ujazzz https://pypi.python.org/pypi/past/0.11.1

`pip install future`

Please post issues regarding the GUI on the actual GitHub page...

[2017-06-17 08:27] #315 closed

[2017-06-17 08:28] timgrossmann commented on #316
@drewgoudy Make sure to change `web driver.Chrome` in the code into `web driver.Firefox`... Just as a hint

[2017-06-17 08:32] drewgoudy commented on #316
@timgrossmann thanks for the hint, only thing is I don't know where that is but ill have a look

[2017-06-17 09:13] DominicFrancois opened #317 ""Chromedriver is missing""
Downloaded Chormedriver however when trying to run from the GUI it wont run as "Chromedriver is missing" any ideas?

![image](https://user-images.githubusercontent.com/26164537/27251747-844e1b68-5345-11e7-8e45-9f771c1a185c.png)

[2017-06-17 11:02] ashi1702 opened #318 "Installation errors"
C:\Program Files (x86)\Python36-32\python.exe: can't open file 'get-pip.py': [Errno 2] No such file or directory.
C:\Program Files (x86)\Python36-32\python.exe: can't open file 'setup.py': [Errno 2] No such file or directory
Getting these errors.

Also, python file contains 'clarifai.util ... ' and no 'from clarifai.client import ClarifaiApi'. Has it edited already ?

[2017-06-17 13:16] timgrossmann commented on #316
@drewgoudy  It's at `instapy/instapy.py` it's one of the first calls in the constructor.

[2017-06-17 13:17] timgrossmann commented on #317
@DominicFrancois I don't want to sound rude, but could you please check for similar issues before posting a new one?
This is an issue that appears like 10 times now and it's always the same answer...

Please follow the instructions in the readme...
You have to download the right `chromedriver` for your system and put it in the assets folder

Thank you

[2017-06-17 13:17] #317 closed

[2017-06-17 13:18] timgrossmann commented on #318
@ashi1702 Could you give some context?
What command were you running?

You need to make sure all the dependencies are installed. Please read the Readme

[2017-06-17 13:27] ashi1702 commented on #318
Hey tim
yeah i worked on it more and now the script is working. Thanks !
Can you tell how can I get graphical results as done by you in your post ? :)

[2017-06-17 13:56] timgrossmann commented on #318
@ashi1702 Awesome!

Haha, well I used the logs in the logs folder and pythons matplotlib library to create the graphical results 😉

[2017-06-17 13:56] #318 closed

[2017-06-17 16:38] ashi1702 commented on #318
Alright !
Thank you so much :D

[2017-06-18 00:54] oamer1 opened #319 "selenium.common.exceptions.WebDriverException: Message: unknown error"
I have followed exactly advanced Ubuntu drop setup on Digital ocean.Still I get this error .

 File "index.py", line 2, in <module>
    InstaPy(username='User', password='Pass', nogui=True) \
  File "/root/InstaPy/instapy/instapy.py", line 80, in login
    if not login_user(self.browser, self.username, self.password):
  File "/root/InstaPy/instapy/login_util.py", line 31, in login_user
    nav = b

[2017-06-18 09:01] timgrossmann commented on #319
@oamer1 What size of the droplet? Is it the 10$ or more one?

[2017-06-18 09:28] sunnypatel165 opened #320 "Number of images to be searched reduced automatically"
Something really fishy I noticed today.
Here's my script:

[code]

Here are some log extracts:

Why did the 3rd tag search only for 32 images and not 40? for sure #blog has many images, much more than 40.

Is this seen before?

[2017-06-18 12:25] timgrossmann commented on #320
@sunnypatel165 Yes, that is the behaviour if you put the chrome window in the background or minimise it. The "aggregation" of images, by now, only works when the browser window is not minimised.

[2017-06-18 12:25] #320 closed

[2017-06-18 14:34] DominicFrancois commented on #317
@timgrossmann thank you and apologies

[2017-06-18 14:40] nicolasspragg opened #321 "What am I doing wrong?"
The program doesn't seem to be working how I thought it would with the parameters I have.
This is what my quickstart.py looks like

[code]

im trying to like and follow 1000 images with the landscape tag, and then 1000 images with the nature tag.  However this is what happens

Liked: 44
Already Liked: 3
Inappropriate: 65
Commented: 0
Followed: 44

Session ended

It doesn't like or follow anywhere

[2017-06-18 14:53] oamer1 commented on #319
@timgrossmann  The droplet is the 10 $ one .

I have solved it.
It turned out there were some background processes running consuming the already tight resources .Rebooting solved the problem .

[2017-06-18 15:52] cazaa opened #322 "The element reference of <a class="_fcn8k"> stale"
I'm trying to run the script on a Raspberry Pi 3 Model B. So far I've changed the webdriver from Chrome to Firefox in **instapy/instapy.py**:
`self.browser = webdriver.Firefox()`

My only modification in **quickstart.py** is this:
`InstaPy(username='XXX', password='YYY', nogui=True)\`

When executing the script I get the following error:
[code]
It looks like the script is unable to locate the logi

[2017-06-18 18:18] 10000hzl opened #323 "'InstaPy' object has no attribute 'set_do_comment'"
Hi, when running py quickstart.py I get this error:
`'InstaPy' object has no attribute 'set_do_comment'`
and actually when I go and look at the instapy.py, I can't find any set_do_comment in it, what am I doing wrong?

thanks!

Using Windows 10, this is my quickstart.py:

[code]

[2017-06-18 18:54] ujazzz commented on #315
works completely fine now. All I had to do was
`pip install future`

in python and then run the GUI again.

Thanks for the help!

[2017-06-18 19:42] sdiepend commented on #300
@bigdropgr
`InstaPy(username='XXXXXXXXX', password='XXXXXXXXX')`
shoubld be:
`InstaPy(username='XXXXXXXXX', password='XXXXXXXXX', nogui=True)`

[2017-06-18 19:45] #323 closed

[2017-06-18 19:46] 10000hzl commented on #323
Sorry my bad, I was using the wrong instaPy :D
Works like a beauty now

[2017-06-18 19:58] sdiepend commented on #289
@mattmaker I don't think the the ip address is supposed to serve something, just run the python program from the server itself.

[2017-06-18 20:42] sdiepend commented on #235
I'm guessing you're running it on a dedicated droplet? Why run in it in Docker? just run it on your vm using crontab to run it every x time.

[2017-06-19 00:42] ujazzz commented on #203
I think what OP means is when liking based on tags or geo locations there would be some post that might have more than 1K likes. It really wouldnt be necessary to like those posts as they will be buried under lots of like notifications. It would be better to set a limit to the likes a post has. so basically telling the system to like the posts only when the posts has less than 100 likes for exampl

[2017-06-19 02:49] ujazzz opened #324 "Feature request for liking posts on newsfeed"
just a humble request for code to like posts on the newsfeed to encorage interaction with people who we follow.

Another request would be to like pictures of the followings. The users that are followed from the base account just go one by one and like posts from specific timescare - like posts from 3 days ago. that would really come handy for many other feature addon.

[2017-06-19 04:28] FBosler opened #325 "Following: Element <button class="_ah57t _84y62 _i46jh _rmr7s">...</button> is not clickable"
hi there,

had this happen twice now. The error pops up when trying to follow (not always though). First run was after roughly 250 pictures, second run after roughly 40. I did scale the timing function down to return t * 0.75 instead of t and am running on following 10%, but otherwise its as configured.

Please see below the error
` Element <button class="_ah57t _84y62 _i46jh _rmr7s">...</button>

[2017-06-19 04:39] sunnypatel165 commented on #321
I haven't seen this ever - but something similar I noticed yesterday- #320 - could you verify from your logs? - did you minimize Chrome?

[2017-06-19 04:59] timgrossmann commented on #319
@oamer1 Perfect!
Thank you!

[2017-06-19 04:59] #319 closed

[2017-06-19 05:00] timgrossmann commented on #313
@kamushadenes Could you do `ps aux` on your server and check if there are several instances of chrome running? #319

[2017-06-19 05:01] timgrossmann commented on #321
@nicolasspragg @sunnypatel165 Yes, this is the problem with minimising the chrome window or losing focus while it's "getting" new posts

[2017-06-19 05:01] #321 closed

[2017-06-19 05:03] timgrossmann commented on #300
@sdiepend @bigdropgr How could I miss that... Thank you!!!

[2017-06-19 05:04] #289 closed

[2017-06-19 05:09] timgrossmann commented on #325
@FBosler Do you have the latest version of InstaPy?

try doing `git pull`

[2017-06-19 05:10] #305 closed

[2017-06-19 05:12] #271 closed

[2017-06-19 05:13] timgrossmann commented on #282
@gitpatrickhub Never touch the code....

This is not recommended...

[2017-06-19 05:14] #240 closed

[2017-06-19 05:15] #239 closed

[2017-06-19 05:15] #232 closed

[2017-06-19 05:16] #302 closed

[2017-06-19 06:53] bigdropgr commented on #300
@sdiepend Thank you man!!!
That was the problem!!

[2017-06-19 07:53] saurabh-kumar-vit commented on #324
I would like to take this task, I have already implemented this as a separate code and would love to see it integrated in your work.

[2017-06-19 08:18] #300 closed

[2017-06-19 12:01] FBosler commented on #325
Think I do, downloaded it yesterday.

I am hesistant of overwriting the recent version, because somehow importing instapy wouldn't work, so I had to move my script to the folder in which the Instapy.py file is and then I also us to change all the other import dependencies (I kinda don't wanna overwrite that).

[2017-06-19 12:32] jungfish opened #326 "Make a pool of automated followup and use that pool for unfollow in FIFO"
InstaPy unfollow account that have been followed manually by the actual user.
What I propose is that everytime there an automated follow, we write it in a csv and at the end of the script when we unfollow, we only unfollow the accounts from the csv in FIFO mode.

[2017-06-19 12:35] jungfish opened #327 "Like from image take the last image from the feed by default"
To automate Instapy only with my last post.
To do that I propose to use the function like_from_image with no url given. The script will take the url of that last post and do the automation from that.

[2017-06-19 12:36] nicolasspragg commented on #321
That sucks. I never minimized it, I just put it on a separate desktop.

[2017-06-19 12:43] timgrossmann commented on #321
@nicolasspragg It's easier to run this on a separate device, either an old laptop or a server

[2017-06-19 12:48] jungfish commented on #327
Hey I have code this part and I works fine. I'm not sure how to commit it to you, do you have to give me an authorization of some kind ?

[2017-06-19 13:34] jungfish commented on #326
I'm ready to develop right now do you want to discuss it before I do it ?

[2017-06-19 13:41] jungfish opened #329 "Rename log file with the username first"
I'm using this script for multiple users and I would love to differentiate the log files by name of user !

[2017-06-19 13:42] gitpatrickhub commented on #282
Ok, so I reverted the code back to original state. And I have verified the same file structure (screenshot below);

![image](https://user-images.githubusercontent.com/29474212/27287844-c7eeff8e-54b9-11e7-9825-5da84aea82f3.png)

Error below from executing the code with original __init__.py code;

Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import

[2017-06-19 13:44] jungfish commented on #248
what do you think of making instead a pool of automated followed and unfollow them in FIFO ?
https://github.com/timgrossmann/InstaPy/issues/326

I can do it !

[2017-06-19 14:01] timgrossmann commented on #248
@jungfish Feel free to do so!
Would love to have your feature in InstaPy

[2017-06-19 14:04] timgrossmann commented on #282
@gitpatrickhub That's weird, do you start the quickstart file with
`python3 quickstart.py` ?

[2017-06-19 14:05] timgrossmann commented on #329
#245

[2017-06-19 14:05] #329 closed

[2017-06-19 14:07] Sancccc commented on #312
Same here. Happens only when I unfollow users.
I have 7 500 followed users (max limit set by Instagram I guess) but it also happened a while ago when I had back to 3k users followed

[2017-06-19 14:08] jungfish commented on #248
@timgrossmann deal ! I commit it in master or dev ?

[2017-06-19 14:12] timgrossmann commented on #248
@jungfish Do it in master. It seems there are some problems with unfollow anyway so this is a good opportunity to get rid of them 😉

Looking forward to your PR.

[2017-06-19 14:45] gitpatrickhub commented on #282
I was only using the command; python quickstart.py
but just tried it with python3 quickstart.py and same error.

The dependencies look to be the issue;

writing manifest file 'instagram_py.egg-info/SOURCES.txt'
file i.py (for module i) not found
file n.py (for module n) not found
file s.py (for module s) not found
file t.py (for module t) not found
file a.py (for module a) not found
file p.py (for

[2017-06-19 15:36] timgrossmann commented on #282
@gitpatrickhub Never've seen that...

Could you clone the repo to a different location and simply do:

[code]

?

[2017-06-19 15:56] gitpatrickhub commented on #282
Created a new directory "production" and executed the clone command on the git repo. Then executed the install (same errors see attached). Lastly ran the python quickstart.py (error now related to pyvirtualdisplay)

[terminal_v1.txt](https://github.com/timgrossmann/InstaPy/files/1085559/terminal_v1.txt)

[2017-06-19 16:02] timgrossmann commented on #282
@gitpatrickhub `pip install pyvirtualdisplay`?

[2017-06-19 16:09] gitpatrickhub commented on #282
Before I execute the command, what directory should I be executing it from? I had initially installed at the Python 3.6 directory. Should I execute from Python 3.6/production/InstaPy or Python 3.6/production or Python 3.6?

[2017-06-19 16:25] timgrossmann commented on #282
@gitpatrickhub doesn't mind. Everywhere is fine

[2017-06-19 16:27] gitpatrickhub commented on #282
Looks like it was installed correctly;

Dallass-MacBook-Air:InstaPy dallasdenver$ pip install pyvirtualdisplay
Requirement already satisfied: pyvirtualdisplay in /usr/local/lib/python2.7/site-packages
Requirement already satisfied: EasyProcess in /usr/local/lib/python2.7/site-packages (from pyvirtualdisplay)

[2017-06-19 16:59] timgrossmann commented on #282
@gitpatrickhub

`pip3 install pyvirutaldisplay` of course this is not working if you install things for 2.7 but use 3 to execute the quickstart file 😉

Let's see if this fixes things

[2017-06-19 17:14] gitpatrickhub commented on #282
Doh! Ok, I think I need to revert to Python 2.7, as it doesn't appear that 3.6 is supported for pyvirtualdisplay

[2017-06-19 17:50] timgrossmann commented on #282
@gitpatrickhub It is 😉

[2017-06-19 17:50] #282 closed

[2017-06-19 17:52] #291 closed

[2017-06-19 17:52] #303 closed

[2017-06-19 17:54] timgrossmann commented on #311
@ohoscar Do you have the nogui Flag set?

`InstaPy(username="", password="", nogui=True)`

[2017-06-19 18:03] dmitriiweb commented on #311
@ohoscar
Install chromedriver from AUR
replace
`self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)`
to
`self.browser = webdriver.Chrome(chrome_options=chrome_options)`
in instapy/instapy.py (line#38)

[2017-06-20 06:48] saurabh-kumar-vit commented on #324
https://gist.github.com/saurabh-kumar-vit/47537a54cf8b1a475ed72468b55b1e24

this is the code. It is written in base python with selenium. Can you guide me to how and where I should integrate it into your codebase.

I know that InstaPy already has functions for login and scrolling, so I would appreciate it if I can get some API guide for it.

[2017-06-20 14:45] timgrossmann commented on #324
@saurabh-kumar-vit Well, the InstaPy codeBase sadly isn't clean enough to add this in nicely...
It's probably easiest to add that to the instapy.py file, like `like_by_location` and `like_by_tag`

And then add a method `get_links_for_feed` like the `get_links_for_tags` and `get_links_for_location` methods in the like_util.py...

A refactor of the whole app is highly necessary...

[2017-06-20 21:46] ohitsbill opened #330 "Couldn't find user_div. Now getting 'Already Liked!'"
I was getting an error that the element with class name '_nk46a' couldn't be found and each selected image was just skipped. I think I worked out what it was looking for and changed the code to

`  user_div = browser.find_element_by_class_name('_99ch8')
`

But now every image isn't being skipped right away, but is coming up as Already Liked and then being skipped. Can't seem to work out why; I gue

[2017-06-21 05:52] saurabh-kumar-vit commented on #324
@timgrossmann Ok, I will do it. Can you please assign this task to me.

[2017-06-21 07:16] sweb1 opened #331 "After successful login - wrong login data error"
I have installed Instapy on windows 10 following the setup instructions at https://github.com/timgrossmann/InstaPy/blob/master/docs/How_to_Windows.md
Problem:
After starting the program via GUI or from command line, the chrome window appears, logs in successfully (I can see my instagram home screen) and shuts down after 1 second. Following errors message appears in the console:
Session started - 2

[2017-06-21 07:41] timgrossmann commented on #331
@sweb1 Try to login yourself on the webpage.
You might have to click on a "This was me" Button in order to make it work :wink:

[2017-06-21 07:42] timgrossmann commented on #324
@saurabh-kumar-vit Perfect!
I can't I'm only able to assign "Collaborators", which, at this point, you are not yet.

[2017-06-21 12:09] kamushadenes commented on #313
Apparently there is

`kamusha+ 30981  1.2  0.1 204232 30860 pts/8    Sl+  09:07   0:00 ./assets/chromedriver --port=40491
kamusha+ 31026 17.1  0.7 1014220 129328 pts/8  Sl+  09:07   0:02 /opt/google/chrome/chrome --disable-background-networking --disable-client-side-phishing-detection --disable-default-apps --disable-hang-monitor --disable-popup-blocking --disable-prompt-on-repost --disable-sync -

[2017-06-21 13:07] blakemmw opened #332 "Unfollow / re follow and liking tags"
not so much an issue, but a couple of questions:

i have InstaPy working perfectly, yet i would like to know if you can set the instaPy to like most recent posts in a tag instead of most popular/trending?

secondly,

session.set_do_follow(enabled=True, percentage=10, times=2)

i know that the first part means that following is =true, and it will follow 10% of pages it interacts with. Can someone p

[2017-06-21 13:46] FBosler opened #333 "selenium.common.exceptions.WebDriverException: Message: unknown error: Cannot read property 'entry_data' of undefined"
Had the script crash for two nights in a row now with the following error

[code]

Any idea what this means?

[2017-06-21 18:25] AlexandruAcea opened #334 "Run two instances on DigitalOcean"
Hey guys, I bught a droplet from DigitalOcean and it's running really great. But I'm curious, could I run two bots at once in one droplet? Like having two terminal tabs open in MacOS. Thank you!

[2017-06-21 19:05] sweb1 commented on #331
Good idea but I guess there is no such button and if it was, chrome closes too fast to click it ;)

[2017-06-21 20:31] timgrossmann commented on #332
@blakemmw The most recent posts are liked after the top posts... You can also set the `.set_upper_follower` to make sure the first 9 posts are not liked

secondly
Yes, exactly how you described the times feature.

No, by now there is no other unfollow feature

[2017-06-21 20:31] #332 closed

[2017-06-21 20:33] timgrossmann commented on #334
@AlexandruAcea Yes you can if you time them (cronjob) without making them intersect.

E.g.

Account 1: 0h 4h 8h 12h 16h 20h
Account 2: 2h 6h 10h 14h 18h 22h

[2017-06-21 20:33] #334 closed

[2017-06-21 20:34] timgrossmann commented on #331
@sweb1

I mean in a normal browser window, not with the script.
Just log in to your instagram account like you would on the web page

[2017-06-21 20:35] timgrossmann commented on #325
@FBosler You can't close the window, this won't work. It always needs to stay in focus, that's why I recommend using a VPS like Digital Ocean

[2017-06-21 20:46] blakemmw commented on #332
So if I say .set_uppper_follower to say.. 10 it'll skip the first 10? I literally learnt python when discovered instaPy yesterday... still getting my head around it - havnt covered it at uni yet.

Also, running the script takes about 3 hours, I have 16 hashtags and 22 likes for each. Is there a way to speed this up or is it like this to make sure it looks more like a human interaction?

You're a l

[2017-06-21 21:02] timgrossmann commented on #332
@blakemmw No, check the readme for documentation.

It says, that every account which has more than 10 follower (in case you provide 10) will be skipped.
Read the Readme please.

Haha, to be honest this is like a really really bad tactic. If you want to include all of the tags, simply do 5 each time.

Pick some with random, e.g. do

[code]

[2017-06-21 21:03] blakemmw commented on #332
Also, I'm getting "throttled. Waiting 10 seconds" what does this mean ?

[2017-06-21 21:16] timgrossmann commented on #332
@blakemmw
Do you use Clarifai?

[2017-06-21 21:24] blakemmw commented on #332
Yeah I have an account and I put the secret and ID in correctly

[2017-06-21 21:33] timgrossmann commented on #332
@blakemmw  Then you probably have exceeded the monthly limit of 5000 requests ;)

[2017-06-21 23:00] ujazzz commented on #314
but is it necessary to add the comment? whats the point of it?

[2017-06-21 23:26] FBosler commented on #325
Hi Tim,

hadn't really closed the window. I left it running all night, but maybe it was too small. Regardless it seems to be a weird (kind of unique) bug and therefore probably not too important. But I guess if it keeps happening more often you might want to add that scrolling up.

I have since switched to Digital Ocean, took a bit to set up, but works like a charm. Might be worth mentioning in th

[2017-06-21 23:33] FBosler commented on #311
for me this was solved by:
1. checking my python 3 version like this: `python3 --version` (returned 3.5.2)
2. doing `pip3 freeze` to see if pyvirtualdisplay was among my installed packages
3. running my script with `python3.5 myscript.py` (3.5 because it was the major release of the python 3 version on my system - see step 1)

[2017-06-22 03:01] blakemmw commented on #332
thats weird, that was the first run i used with it...

[2017-06-22 04:30] timgrossmann commented on #314
@ujazzz I don't know, sorry. Just use my script if you want me to help.
You have to ask the GUI that built the GUI why you should do that.

[2017-06-22 04:30] #311 closed

[2017-06-22 04:32] timgrossmann commented on #311
@ohoscar And make sure to use python3 instead of 2

[2017-06-22 04:32] timgrossmann commented on #325
@FBosler Yes, making the window smaller triggers the page to change it's structure, also a bad thing 😄

Perfect!

[2017-06-22 04:32] #325 closed

[2017-06-22 10:40] ulianakucheriava opened #335 ".WebDriverException: Message: unknown error: Element <button class="_ah57t _84y62 _i46jh _rmr7s">...</button> is not clickable at point (935, 14)."
Traceback (most recent call last):
  File "quickstart.py", line 21, in <module>
    .like_by_tags(['#healthyfood', '#healthyeatinghabits','#fitfood'], amount=300) \
  File "/Users/zaelab/InstaPy/instapy/instapy.py", line 423, in like_by_tags
    followed += follow_user(self.browser, user_name, self.follow_restrict)
  File "/Users/zaelab/InstaPy/instapy/unfollow_util.py", line 49, in follow_user

[2017-06-22 19:31] #331 closed

[2017-06-22 19:36] sweb1 opened #336 "selenium.common.exceptions.StaleElementReferenceException: Message: stale element reference: element is not attached to the page document"
Using "Follow from list" in the GUI, it follows first one or two users ok, then script stops with this error message:
selenium.common.exceptions.StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=58.0.3029.110)
  (Driver info: chromedriver=2.29.461591 (62ebf098771772160f391d75e589dc567915b233),platform=Windows NT 1

[2017-06-22 20:03] timgrossmann commented on #336
@sweb1 This is probably not a problem with InstaPy itself, I'll leave this open, but also make sure to post this problem on the GUI Repo

[2017-06-23 18:54] ujazzz opened #337 "When I put in Amount as 300 for liking tags it still only works with 33 images."
When I run the script to like hashtag 300 it still likes only 30 or so. sometimes even 17-18 and upto 50. it seems like a random guess. is it possible to change this?

[2017-06-23 20:29] timgrossmann commented on #337
@ujazzz hey, make sure the browser window is not minimized or out of focus.
Use a server if you want to keep working...

[2017-06-23 20:29] #337 closed

[2017-06-23 20:43] sweb1 commented on #248
+1 for this feature. Unfollow oldest first, except accounts on friends list (https://github.com/timgrossmann/InstaPy#excluding-friends)

[2017-06-24 00:06] doremidom commented on #336
Getting this issue as well

[2017-06-24 03:09] ujazzz commented on #324
Any update on this?

[2017-06-24 03:52] saurabh-kumar-vit commented on #324
Still working. I haven't been able to dedicate a lot of time on this but it should be ready by the end of the weekend. By the time you can use the gist script I linked earlier. It works independently from InstaPy.

[2017-06-24 15:53] Mehnou commented on #336
I'm getting this as well, after downloading that last update

[2017-06-24 15:57] timgrossmann commented on #336
@Nemixalone Could you look into that, please?

[2017-06-24 21:15] doremidom commented on #336
I should add, I'm using the command line program on a mac, not the GUI.

[2017-06-24 21:21] timgrossmann commented on #336
@doremidom Ahh good to know, thank you for the information! Well I'll look into it as well then...

[2017-06-24 23:50] FBosler opened #338 "selenium.common.exceptions.WebDriverException: Message: chrome not reachable"
New bug, stopped my script twice now. I am running it on an ubuntu server. Script crashed after roughly 400 (for the first time) and 450 (for the second time) likes. Please find below the traceback. Cheers
Fabian

[code]

[2017-06-25 07:21] dannyvoid opened #339 "Fresh install, getting 'ImportError: sys.meta_path is None, Python is likely shutting down'"
First time trying to run this app, getting this every time.
Using the latest Python, webdriver, etc. On Windows 10.
Tried with GUI, and multiple other example quickstarts.

G:\ProgramFiles\InstaPy-master>python3 quickstart.py
Logged in successfully!
Tag [1/2]
--> b'dog'
Traceback (most recent call last):
  File "quickstart.py", line 10, in <module>
    .like_by_tags(['dog', '#cat'], amount=100)\

[2017-06-25 11:07] timgrossmann commented on #338
@FBosler Could you give some stats about how and where you're running it?

[2017-06-25 11:14] timgrossmann commented on #339
@Nemixalone Could you also look into that, please?

I'll try to find out, what's wrong here...

[2017-06-25 11:15] timgrossmann commented on #335
@ulianakucheriava Please give some info about how and where your run it.

Do you close the browser window or minimise it?

[2017-06-25 12:08] Mehnou commented on #336
Have you found the problem yet ?

[2017-06-25 13:37] FBosler commented on #338
Sure. It just crashed for the third time in a row, this time at the first tag.

[code]

I run it by calling (manually, i.e. no cronjob):
my script with: `nohup python3.5 LikeScript.py &`

I run it on:
DigitalOcean Droplet with: 1 GB Memory / 30 GB Disk / Ubuntu 16.04.2 x64

[2017-06-25 13:48] FBosler commented on #335
I had this bug before when running it on my own computer. What happens is that navbar slides in when the script tries to click the button (you can verify that by searching for the class of the Element that would receive the click and see that its the navbar)

**2 Options that worked for me solving this:**
1) make sure your automated chrome is full screen and leave your computer to it.
2) Run your

[2017-06-25 13:57] Kille250 opened #340 "After login successful - Ends"
After the Console is giving me the output Login successful, the script ends. No Errors given.

[2017-06-25 14:32] blesson3 commented on #335
Here's the full stack trace

[code]

[2017-06-25 14:34] blesson3 commented on #335
I sounds to me like the `like` button is "hidden" by another element, like a nav bar or the bottom toolbar. I'm not sure how this can be the case tho when using `noGUI=True` on a VPS.

[2017-06-25 16:17] Kille250 commented on #340
This is the script that i try out, from you. xd

`from random import randint
from random import sample
from time import sleep
from instapy import InstaPy

tag_list = ['fitness','sexy','gym','fit','love','fitfam',
            'motivation','workout','squats','hot','bodybuilding',
            'abs','fitspo','beautiful','ass','model','follow',
            'girl','bikini','body','legs','squats','girlsw

[2017-06-25 16:18] Kille250 commented on #340
This is the script that i try out, from you.
`from random import randint
from random import sample
from time import sleep
from instapy import InstaPy

tag_list = ['fitness','sexy','gym','fit','love','fitfam',
            'motivation','workout','squats','hot','bodybuilding',
            'abs','fitspo','beautiful','ass','model','follow',
            'girl','bikini','body','legs','squats','girlswholi

[2017-06-25 20:48] FBosler opened #341 "Error: Cannot determine loading status"
Script keeps crashing (pretty much every night for the last few days). New Errors now. What I also find very strange is the low number of tags the script picks up on. I run my script by calling (manually, i.e. no cronjob):
`nohup python3.5 LikeScript.py &` on DigitalOcean Droplet with: 1 GB Memory / 30 GB Disk / Ubuntu 16.04.2 x64.

this is my script:
[code]

[code]

[code]

[code]

[2017-06-26 02:25] FBosler commented on #341
Bug keeps crashing the script :(

[2017-06-26 16:01] sunnypatel165 opened #342 "Instagram login page changed?"
Until 2 hours ago I was using this and when I executed this now, the script failed and on taking a quick look - I think Instagram login page has changed in some way.
It doesn't seem to have the ID/Password login form by default!

This is what I see:

<img width="406" alt="screen shot 2017-06-26 at 9 27 57 pm" src="https://user-images.githubusercontent.com/9017668/27548477-a7c04062-5ab6-11e7-9886-f

[2017-06-26 16:07] timgrossmann commented on #335
@blesson3 I think this is the follow button, don't you think?
If the error throws after the commenting, the liking is already done.
Next would be pressing the following button.

Could you post a link to a page on which this happened?

[2017-06-26 16:10] timgrossmann commented on #342
@I checked several browsers and locale settings, but couldn't get this page...

I still have the signup form with the little login link on the bottom of the page.

[2017-06-26 16:12] timgrossmann commented on #338
@FBosler Do a `ps aux` on your server... There are probably some zombie chromes running there...

Simply turn it off and on on DO or do a `reboot`

[2017-06-26 16:13] timgrossmann commented on #336
Well, I seriously have no idea why this happens (mostly) with the GUI.
Couldn't get this error with the normal execution of the script and I'm not familiar enough with the GUI to solve his errors.

[2017-06-26 16:14] sunnypatel165 commented on #342
@timgrossmann  - probably they're rolling out in phases, maybe AB testing.
If at all they change it permanently, we'll have to figure out a way around this.

[2017-06-26 16:24] timgrossmann commented on #342
@sunnypatel165 I'm not really sure if they will remove the standard login mechanism completely...
But yes, we'll see and adapt once this becomes a big problem.

[2017-06-26 16:26] sunnypatel165 commented on #342
Owkay - not sure if it's already time to close this - the issue still remains, maybe for a fewer number of people, but it does!

[2017-06-26 16:27] #304 closed

[2017-06-26 16:27] FBosler commented on #338
Good idea. However, I already did that. There were no zombies :) which is good I guess, cuz zombies are bad.

Can try the reboot later. Have you encountered the problem before?

[2017-06-26 16:29] timgrossmann commented on #342
@sunnypatel165 Keeping every single issue open will flood the issues section and make it very hard to find anything or keep track of things.

I think this will get important if some people (more than one) faces this problem.

[2017-06-26 16:31] timgrossmann commented on #338
@FBosler Yes, I find it really interesting, that, given you set it up with the "How_to", people encounter so many problems when my script runs without any incidents for 3 months now 🤔

For me it was simply `reboot`

[2017-06-26 16:44] Nemixalone commented on #336
I can check that out but my GUI is doing nothing else than generating python lines to execute(maybe bad formatting after InstaPy updates), I mean it has nothing with the background working of InstaPy. But sure I can see whats up. @sweb1 @Mehnou Can you please open up **quickstart.py** file and copy whole line with something like this and paste it here please. Thanks

**accs = ['therock','natgeo']

[2017-06-26 20:17] RobertHosking opened #343 "Logs say "liked" but no like on actual post"
Running the script this morning to find that although the scripts runs normally with normal output on the console, my account shows no record of liking the photos that it says I am liking.

Did some playing around:
When the script shows the post data then pauses for a bit before liking, I look up that post on my phone. Then with the post open, I refresh after the script has liked that post and it

[2017-06-26 20:25] sdiepend commented on #44
@timgrossmann I'm trying to build a web gui using flask, but currently running into trouble. I import the InstaPy in a view class but when trying to instantiate an InstaPy object it says

Which is normal because relative from my view class there indeed isn't an ./logs/logFile.txt.

So I'm thinking that logging should move outside the repo to an appropriate system location. It would also probably b

[2017-06-26 20:48] timgrossmann commented on #44
@sdiepend Sounds great!

Yes, I think that's an important advancement of the script to improve the logging here...
Sorry for the problems.

[2017-06-26 20:51] timgrossmann commented on #343
@RobertHosking This sounds like your liking feature was temporarily banned.
Could you check that by liking something by hand on that account? Should open up a modal that says that this feature is currently temporarily disabled for you

[2017-06-26 20:53] RobertHosking commented on #343
I can still like by hand on mobile. I don't see why I would be banned. I've only been testing lately with small like numbers no more than 100/day.

[2017-06-26 21:17] timgrossmann commented on #343
@RobertHosking Ok, good to know.

We'll, the described behaviour appeared for me when I was banned...

The message that there was a strange login is alright, this happens with every new use. Sometimes you also have to verify your account by phone or mail as well.

[2017-06-26 21:19] timgrossmann commented on #341
@FBosler Did you restart the server to make sure there are no zombie instances of chrome eating up all the memory?

[2017-06-26 21:20] timgrossmann commented on #327
#328

[2017-06-26 21:20] #327 closed

[2017-06-26 21:21] timgrossmann commented on #322
@cazaa Did you try to first set it up with FireFox on your local machine to make sure there are no errors before moving onto the RasPi?

[2017-06-26 21:22] timgrossmann commented on #330
@ohitsbill I don't think touching the code for such changes is not too good of an idea.

Could you post some links to Images that throw this error, please?

[2017-06-26 21:23] timgrossmann commented on #333
@FBosler You really have weird errors 🤔
Did you follow the How_to_Ubuntu in the docs folder?

[2017-06-26 21:25] FBosler commented on #341
I did, so far its looking good. But again, even before restating I checked my processes to makes sure that there aren't any undead chrome processes running, and if there were I killed them off. So I don't really think that was the issue.

Anyhow, after rebooting all is looking good so far. I'll let you know how it goes.

[2017-06-26 21:28] timgrossmann commented on #341
@FBosler Awesome, if you want to make sure that that's not the problem, you can call the reboot command after the script is done:

[code]

[2017-06-26 21:28] #341 closed

[2017-06-26 21:28] FBosler commented on #333
Actually I think you can close this one down (this error happend before I switched over to server).

[2017-06-26 21:28] #333 closed

[2017-06-26 21:55] RobertHosking commented on #343
Yes, browser liking works on both accounts.

Just tried the script again. No avail.

[2017-06-27 03:54] FBosler commented on #338
Error persists, even after reboot. Really no idea whats going on ... :(

[code]

[2017-06-27 04:45] timgrossmann commented on #343
@RobertHosking Hmm... thank you for checking this.

This is really weird 🤔
You are probably running it on a server, aren't you?
Could you try to get it up and running on your local machine and watch it while it's running for a few posts? When it hit the like button, reload the page before the script continues.

[2017-06-27 04:46] timgrossmann commented on #338
@FBosler Ahh, this could also be due to the wrong version of the chrome driver you put into `/assets`.

Try to both update Chrome on that machine and remove the chrome driver and download it again

[2017-06-27 05:13] FBosler commented on #338
I did follow the "how to" step by step though. I mean, you really made it foolproof with the script and all.

How would I go about updating chrome on ubuntu?

[2017-06-27 13:25] Nemixalone commented on #339
@dannyvoid Please copy whole **quickstart.py** file and paste it here. Thanks

[2017-06-27 16:40] timgrossmann commented on #338
@FBosler Well, if the installation worked, you could just do `apt-get update` and `apt-get upgrade`

This should upgrade all dependencies including the chrome browser.
Also make sure to get the latest chrome driver.

If that does not work, please try with a new droplet and follow the instructions one by one.

[2017-06-27 18:37] RobertHosking commented on #343
I got a local version running and it works! It likes posts whether I'm looking at them or not.
I have two instances of this script on two different servers. Neither of them are working for any of my accounts. They were working last week, no problem.

[2017-06-27 23:44] DylanRichardPearson commented on #342
I'm seeing this issue also.

[2017-06-27 23:49] blakemmw opened #344 "login issue"
Everything was working perfectly until this morning. For some reason, the script is now launching the webdriver and is going to the create an account page not the log in. causing the script to fail.

I haven't changed anything which is really weird, can't put my finger on why it would just stop working...

Has anyone encountered this?

[2017-06-27 23:59] wesleyabbey commented on #344
Just got the same issue. Instagram probably pushed an update

[2017-06-28 00:05] blakemmw commented on #344
In a mean way, im glad im not the only one! Yeah it must have been an update :/

[2017-06-28 00:06] joyfie commented on #344
Hi guys, looks like I got the same thing.  Here's my error

[2017-06-28 01:07] urmilsetia commented on #344
Guys, if your OS language is English, go ahead and comment the line 10 in login_util.py. And it starts working again.

  # Changes instagram language to english, to ensure no errors ensue from having the site on a different language
  """browser.find_element_by_xpath("//footer[@Class='_oofbn']/div[@Class='_mhrsk _pcuq6']/nav["
                                "@class='_p1gbi']/ul[@Class='_fh0f2']/l

[2017-06-28 02:07] gitpatrickhub commented on #344
Thanks @urmilsetia, commented out as suggested and it is working again. It looks like the class for the login changed (a class="_fcn8k"), but not 100% how to update the code correctly, so went with your method.

[2017-06-28 02:27] blakemmw commented on #344
@urmilsetia aren't you crashing on launching with line 10 commented out? I am.

[2017-06-28 02:29] blakemmw commented on #344
@urmilsetia all good, my mistake. Love your work.

[2017-06-28 02:49] ujazzz commented on #324
@saurabh-kumar-vit I tried to run the gist but it doesnt work properly

It keeps scrolling but doesnt like anything from the feed
I think it has something to do with comment lines 34, 35, 41, 42 , 43 and 46
should I remove the pound to make them applicable?

Or do I have to make some changes to this? -
[code]

[2017-06-28 03:17] urmilsetia commented on #344
Yup, just a temporary work around.

[2017-06-28 05:51] timgrossmann commented on #344
@urmilsetia Thank you for your help.

I'll try to check this this evening... I temporarily removed the part from the login_util.

[2017-06-28 06:17] smallredcape commented on #234
Hi guys - any update on this feature? In my experience with bots, this is by far the most successful way to attract more followers. I'd love to find a way to impliment this into the script!

[2017-06-28 06:21] saurabh-kumar-vit commented on #324
for some reason selenium is unable to find the like buttons. I need to check the tags again.

[2017-06-28 06:29] FBosler commented on #344
this is the fix:
Addition in bold (I don't know how to submit that as a pull request?)

browser.find_element_by_xpath("//footer[@class='_oofbn']/div[@class='_mhrsk _pcuq6']/nav["
                                "@class='_p1gbi']/ul[@class='_fh0f2']/li[@class='_fw3ds'][10]/"
                                "span[@class='_17z9g **_c4mil**']/select[@class='_nif11']/option"

[2017-06-28 07:11] saurabh-kumar-vit commented on #324
I have submitted a PR but it seems that I have made a mistake and it started as its own issue instead of showing up here, or maybe that is how it is supposed to happen. I apologize this is my first PR so I am not that comfortable with git and GitHub.

The issue ID of the PR is **#345**.

Do I need to submit the PR again?

[2017-06-28 07:19] emKaroly opened #346 "Why InstaPy instead of native instagram API?"
Why is better this approach than using the instagram API. Is there any limiting factor of API?

[2017-06-28 10:52] JakubDev commented on #344
#347 fixes it

[2017-06-28 11:06] petrichuk commented on #346
Yes, to use the API you need to make a whole application than can use many people (can't be just for your project), and to get out of Sandbox mode, you need to submit your app for review. I am sure that the admins will not accept this type of application.

[2017-06-28 11:21] petrichuk commented on #344
After removing  line 10, still have an error

`Traceback (most recent call last):
  File "<console>", line 1, in <module>
  File "/home/petriichuk/InstaPy/instapy/instapy.py", line 87, in login
    if not login_user(self.browser, self.username, self.password):
  File "/home/InstaPy/instapy/login_util.py", line 16, in login_user
    action = ActionChains(browser).move_to_element(inputs[0]).click().

[2017-06-28 11:30] viseth opened #348 "OSError=[Errno 2] No such file or directory: 'Xvfb' while executing the latest pull from GIT version of InstaPy"
I'm trying to execute the script but run into issue with the Xvfb missing. Any idea
Below the details.

Thanks,

-- mac os Sierra 10.12.5

`
xxx @ ~/InstaPy * master
 [38] → pip3.6 install pyVirtualDisplay
Requirement already satisfied: pyVirtualDisplay in /usr/local/lib/python3.6/site-packages
Requirement already satisfied: EasyProcess in /usr/local/lib/python3.6/site-packages (from pyVirtualDisp

[2017-06-28 13:26] timgrossmann commented on #346
Also, the API has a lot of restrictions and limits when it comes to hourly interactions.
You don't have that when using Selenium

[2017-06-28 13:26] #346 closed

[2017-06-28 13:27] timgrossmann commented on #348
Have you installed it?

'''
sudo install xvfb

[2017-06-28 14:46] viseth commented on #348
I've already tried...
I'm sure someone has already managed to install it on macOS Sierra ?

xxx @ ~/InstaPy * master
 [49] → brew install xvfb
Error: No available formula with the name "xvfb"
==> Searching for a previously deleted formula...
Error: No previously deleted formula found.
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
==> Searching taps...
Erro

[2017-06-28 14:48] #344 closed

[2017-06-28 14:57] timgrossmann commented on #348
@viseth Could you post your quickstart file, please.

Also, if you run it on your local machine you don't need pyvirtualdisplay and xvfb

[2017-06-28 14:59] timgrossmann commented on #340
@Kille250 Please don't simply copy and ignore what it says.

The errors are written into the file located at `../errors.log`.
Could you post the content of this file here, please?

[2017-06-28 15:04] timgrossmann commented on #340
@Kille250 Please don't simply copy and ignore what it says.

The errors are written into the file located at `../errors.log`.
Could you post the content of this file here, please?

[2017-06-28 15:05] viseth commented on #348
@timgrossmann it's already in my first comment. Yes I'm running it in my local machine.

-- quickstart.py
`
from instapy import InstaPy

dont_like = [' food', ' girl', ' hot']
ignore_words = ['pizza']
friend_list = ['a','b','c','d']

InstaPy(username="xxx", password="xxx", nogui=True)
.login()
.set_upper_follower_count(limit = 1000)
.set_do_comment(True, percentage=10)
.set_comments(['Cool!', 'Awe

[2017-06-28 15:33] timgrossmann commented on #348
Why do you use nogui?

Remove that from the InstaPy()

I didn't see it because if you post code on GitHub you normally do the backticks to make it a code block ;)

Thanks

[2017-06-28 15:33] #348 closed

[2017-06-28 15:54] viseth commented on #348
Thanks @timgrossmann but now I have a login issue, looks like DOM elements in the login web page have moved.

 [8] → python3.6 quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 14, in <module>
    InstaPy(username="xxx", password="xxx")\
  File "/Users/xxx/InstaPy/instapy/instapy.py", line 80, in login
    if not login_user(self.browser, self.username, self.password):

[2017-06-28 16:53] ujazzz commented on #342
having the same issue

[2017-06-28 19:37] scopalaffairs commented on #342
yes, this is on.

[2017-06-28 19:43] RobertHosking commented on #342
I may be having the same issue `selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//footer[@class='_oofbn']/div[@class='_mhrsk _pcuq6']/nav[@class='_p1gbi']/ul[@class='_fh0f2']/li[@class='_fw3ds'][10]/span[@class='_17z9g']/select[@class='_nif11']/option[text()='English']"}
`
When calling `session.login`. This may al

[2017-06-28 21:25] timgrossmann commented on #342
@RobertHosking please do a `git pull` this issue should be covered by #347

[2017-06-28 23:45] lavedi opened #350 "Error: command 'gcc' failed with exit status 1"
Hi,

I tried to follow all the steps for Centos on digitalocean but this issue has been coming up and have no clue how to fix it?

Thank you
<img width="769" alt="screen shot 2017-06-29 at 00 44 23" src="https://user-images.githubusercontent.com/23012560/27665294-461b3100-5c64-11e7-9f82-74a0b79554b0.png">

[2017-06-29 01:03] velocityzen commented on #338
I have random crashes too, also run on DigitalOcean Droplet with: 1 GB Memory / 30 GB Disk / Ubuntu 16.04.2 x64
[code]

[2017-06-29 04:32] timgrossmann commented on #350
@lavedi It's probably easiest to simply use ubuntu instead of CentOS 😉

[2017-06-29 04:32] #350 closed

[2017-06-29 04:34] timgrossmann commented on #338
@velocityzen This can be due to zombie instances of chrome still running in the background...

You can e.g. add a reboot to the end of your script to make sure that you always have a clean droplet for running the script

[2017-06-29 04:39] velocityzen commented on #338
@timgrossmann Thank you! After reboot it goes smooth. I'll try to add `killall -9 chrome` after the "show".

[2017-06-29 07:14] emKaroly opened #351 "Disable all Likes"
It is possible to disable all likes?

[2017-06-29 07:38] emKaroly commented on #351
Can this be a workaround?
set_dont_like(['#cat'])
like_by_tags(['#cat'], amount=100)

[2017-06-29 08:22] emKaroly opened #352 "Unfollow not followers"
How can i achieve this functionality?

[2017-06-29 10:00] emKaroly commented on #352
If i think about it, it can be done with adding current followers to set_dont_include and let InstaPy unfollow as much it can. It would be nice if the [instagram-profilecrawler](https://github.com/timgrossmann/instagram-profilecrawl) could return the followers list also without going through all my post for advanced statistics.

[2017-06-29 10:47] wecanfuture opened #353 "Worked and now doesnt"
Hey,

it was working perfectly but since two days i get this error.

![screenshot_20170629-123430](https://user-images.githubusercontent.com/28114725/27684161-06a98ffc-5cc9-11e7-9de9-d9fafa445a0f.png)

Sorry for asking but has anyone a clue?

thanks

[2017-06-29 11:41] ashi1702 commented on #342
similar issue

[2017-06-29 11:51] AlainPilon commented on #353
Please, use the search, took me 3 seconds: https://github.com/timgrossmann/InstaPy/issues/344

[2017-06-29 11:51] #353 closed

[2017-06-29 13:32] timgrossmann commented on #353
`git pull`

[2017-06-29 13:33] timgrossmann commented on #351
@emKaroly This won't work, since dont_like will also prevent commenting and following

[2017-06-29 13:33] timgrossmann commented on #352
@emKaroly Well that's a hard and dirty get around 😄
will work though

[2017-06-29 14:07] jedbanger opened #354 ".follow_by_list breaking after following a few accounts. My bad?"
If i understand correctly the use of of` .follow_by_list` is to give it an array of usernames to follow.
When I use it, it correctly follows the first usernames in the array,  but after opening an n account, it breaks with this error:

Log:

Logged in successfully!
--> **** instagram account is opened...
---> Now following: ****
********************
--> **** instagram account is opened...
---> Now

[2017-06-29 14:26] FBosler commented on #338
I don't think we should close this. For me the error popped up again last night. I don't know the reason yet, but it's not always solved with a reboot.

[2017-06-29 14:38] IPYWorld commented on #342
I had the same issue as https://github.com/timgrossmann/InstaPy/issues/342#issuecomment-311766373 but the `git pull` (https://github.com/timgrossmann/InstaPy/issues/342#issuecomment-311796801) fixed it.

[2017-06-29 14:41] IPYWorld commented on #338
I had this error from a couple days ago. Doing `apt-get update` and `apt-get upgrade`, and then `git pull` to update InstaPy fixed everything for me.

I am also running on Digital Ocean and used the How to steps.

[2017-06-29 14:53] FBosler commented on #338
@IPYWorld : same here, I went through the same steps and It did work fine two or three times until last night when the same bug occured again. As I said, I would leave this issue open for information gathering.

[2017-06-29 17:07] Sem7 commented on #342
Facing the same issue. The code get me to the same screen as sunnypatel165 and obvsly the code doesn't work :(

Thanks for the awesomeness Tim!

[2017-06-29 19:05] RobertHosking commented on #343
Alright, I've done the pull on #347. Still, the script fails to actually like post on all my servers, on all my accounts.

Running the script locally works fine on all accounts.
Any idea what is going on?

[2017-06-29 20:04] scopalaffairs commented on #342
the updating commit seems to work, at least login works. thanks!

[2017-06-29 20:07] scopalaffairs commented on #342
still, I get the same error -- the server became very slow after the update and the message persists:
[...]
` self.execute(Command.GET, {'url': url})
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdriver/remote/webdriver.py", line 236, in execute
    self.error_handler.check_response(response)
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdriver/remote/errorhandler.py", li

[2017-06-29 20:38] ujazzz commented on #324
Works wonders. Youre a legend for this.

I was also thinking about a feature to like posts of the users we follow..

Just like `.like_feed` and `.like_by_locations` can we have an extension for `.like_by_followings` to this feature bossman? and be able to like multiple posts from each user?

[2017-06-29 21:17] timgrossmann commented on #342
@scopalaffairs Did you reboot your system?

[2017-06-29 21:29] #343 closed

[2017-06-30 03:10] doremidom commented on #336
I was able to fix this by removing sleep(10) at line 66, fyi

[2017-06-30 06:32] scopalaffairs commented on #342
@timgrossmann thanks, worked beautifully – this solved my issue

[2017-06-30 06:42] saurabh-kumar-vit commented on #324
We definitely can have such a feature. As soon as my PR for this feature gets accepted I will start working on that feature.

[2017-06-30 07:45] saurabh-kumar-vit commented on #354
What do you mean when you say

What does n mean?

[2017-06-30 09:17] sunnypatel165 commented on #342
Good to close I think @timgrossmann - works fine again!

[2017-06-30 09:17] #342 closed

[2017-06-30 11:01] Mehnou commented on #336
I removed it but it didn't work... It actually crashed sooner

[2017-06-30 15:29] jedbanger commented on #354
Sorry for not being clear. I meant that it doesn't always stop after the same ammount of follows.
At first I thought that it broke what it encountered a private account but then i also saw the same problem with a public account.

[2017-06-30 15:51] yuriscosta opened #355 "Errors when I run the file"
I wrote a code based on the README.md, but I got these errors.
![image](https://user-images.githubusercontent.com/13898077/27743534-b510eff8-5d92-11e7-8b44-2c3218f2b402.png)

[2017-06-30 15:54] sonnyobrien opened #356 "Traceback module"
upon running the example.py

Traceback (most recent call last):
  File "C:\Users\Sonny\Downloads\InstaPy-master(1)\InstaPy-master\examples\example.py", line 2, in <module>
    from instapy import InstaPy
ImportError: No module named instapy

[2017-06-30 16:21] doremidom commented on #336
I'm not using the GUI, so my fix only works for the command line program

[2017-06-30 17:24] aReaSa opened #357 "The clarafi module. How can i use it for profile pic?"
Hi everbody
i have been use instapy for long time. and i am happy with it (thank you timgrossmann bytheway)

but i've a question for you

i wanna check the user profile pics. how can i do that?

thank you for answering

regards..

[2017-06-30 20:23] timgrossmann commented on #357
@aReaSa Unfortunately at the moment you can't.
This feature has not been added.

What would be the use case of this?

[2017-06-30 21:28] Mehnou commented on #336
Well I think it's actually the same, the GUI just writes the code in the quickstart.py and executes it

[2017-06-30 21:47] philsiegel commented on #356
Move the example.py to the InstaPy-master folder instead of the examples folder

[2017-06-30 23:38] sonnyobrien commented on #356
I tried that. Now I am receiving this.

Traceback (most recent call last):
  File "C:\Users\Sonny\Downloads\InstaPy-master(1)\InstaPy-master\InstaPy\example.py", line 2, in <module>
    from instapy import InstaPy
  File "C:\Users\Sonny\Downloads\InstaPy-master(1)\InstaPy-master\InstaPy\instapy.py", line 10, in <module>
    from .clarifai_util import check_image
ValueError: Attempted relative impo

[2017-06-30 23:52] sonnyobrien commented on #356
Just want to add that I have clarifai:
C:\Users\Sonny>pip install future
Requirement already satisfied: future in c:\python27\lib\site-packages

C:\Users\Sonny>pip install clarifai
Requirement already satisfied: clarifai in c:\python27\lib\site-packages
Requirement already satisfied: Pillow==2.9.0 in c:\python27\lib\site-packages (f
rom clarifai)
Requirement already satisfied: future==0.15.2 in c:

[2017-06-30 23:53] sonnyobrien commented on #356
I receive this error when opening the quickstart.py:

Traceback (most recent call last):
  File "C:\Users\Sonny\Downloads\InstaPy-master(1)\InstaPy\quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "C:\Users\Sonny\Downloads\InstaPy-master(1)\InstaPy\instapy\__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "C:\Users\Sonny\Downloads\InstaPy-master(1)

[2017-07-01 06:04] aReaSa commented on #357
@timgrossmann i wanna check real person from profile pic. (by clarafai)

as you know there are alot of pages instagram...

[2017-07-01 08:29] sonnyobrien opened #358 "windows.ps1 Issues"
### After running windows.ps1 I receive some errors in red. Was this run successfully?
[code]

[2017-07-01 08:35] sonnyobrien opened #359 "No such line to comment out "from clarifai.client import ClarifaiApi""
On the fourth step of the instructions for windows, there is no such line as "from clarifai.client import ClarifaiApi" within the instapy.py folder.

4. Edit the instapy.py file
    Open file instapy.py an disabling the clarifai import
    comment the line "from clarifai.client import ClarifaiApi"
    from clarifai.client import ClarifaiApi

Here is my instapy.py code:
[code]

[2017-07-01 08:36] #356 closed

[2017-07-01 09:17] timgrossmann commented on #359
@sonnyobrien It's in the `clarifai_util.py` file...

[2017-07-01 09:17] #359 closed

[2017-07-01 09:22] timgrossmann commented on #355
@yuriscosta Simply `cd` into the InstaPy folder and do a `git pull` to get the newest version.

[2017-07-01 09:22] #355 closed

[2017-07-01 09:24] timgrossmann commented on #354
#336

[2017-07-01 09:24] #354 closed

[2017-07-01 09:29] timgrossmann commented on #358
@sonnyobrien Please try to `git clone` the repository again on a different place and try the setup again. This looks like you somehow already did some of the steps.
Thank you

[2017-07-01 09:30] #330 closed

[2017-07-01 15:38] Suppnkasper commented on #358
Hi,

i get the errors too!
I have tryed it also on a Virtual Machine with a brand new Windows 7.
I downloaded and unzipped the Files. I set the system Enviroment variables and run the Powershell as Administrator

PS C:\Windows\system32> E:\InstaPy-master\InstaPy-master\scripts\windows.ps1
InstaPy Windows Setup
========================================================================================

[2017-07-01 16:12] ipi0815 commented on #335
I get this error constantly every time I run my script... this stresses my nerves for days now. I will report the last error message with the page to the picture etc... As it throws next i will report it to you with my recent observations

[2017-07-01 16:24] blesson3 commented on #335
I'm no longer experiencing the issue, so weird. Also yes, follow button

[2017-07-01 17:31] wesleyabbey commented on #352
In order to get around this, I went to my followers on Instagram on my computer and then pushed all of them into a comma delimited string.

I pushed this string into a file called `followers.txt` and in my quickstart.py I read from that file. I can recreate this and post a solution or possibly try to create a script for this if enough people want it.

[2017-07-01 21:49] ipi0815 commented on #335
So, i got the error again.
This is the output:

[code]

My observations so far:
- strangely, this occurs often at the tag "pom"
- I think every time when this happens, the bot commented (and of course liked) before

I will report back when it happens the next time, again with the log snippet... so far, any ideas @timgrossmann ?

[2017-07-01 22:21] FBosler commented on #335
This is exactly the same issue as https://github.com/timgrossmann/InstaPy/issues/325.

As I stated there before:

When the script tries to click follow another object (with the class _df358 would receive the click). The object that would receive the click is the navbar. So my guess is that some pages are layouted differently and the script wants to click the follow button too fast, but then the na

[2017-07-01 22:22] kamushadenes commented on #313
Hey @timgrossmann, I still have the issue.

Have I missed something after your last commit?

[2017-07-01 23:27] ipi0815 commented on #335
Ah very interesting... did you try the code you provided yourself or is this just an idea?
Why did changing over to Digital Ocean fixed the problem for you? I do not really understand this...
As I'm running my script on a server too (a much more powerful than the droplets on DO)

In #325 you say something about "running script with python3.5..."
I ran my script with python3 until now... could this

[2017-07-01 23:35] FBosler commented on #335
Just an idea, it's also a bit hard to try, because I don't get the bug anymore.

I am not sure if digital ocean actually fixed it or if it was something else. But after switching to digital ocean I didn't encounter the bug anymore.

I suspected the reason for the bug being a small browser windows on my local machine. I then assumed it would be running in full screen on digital ocean. If this were

[2017-07-02 00:00] elijahlucian opened #360 "Updating the speed of liking."
Is this purposely slow when it comes to liking images?

It takes 15 - 30 seconds to like an image

[2017-07-02 05:45] elijahlucian opened #361 "any setting to skip the "top" in each hashtag?"
It's typicaly 9 of them, woud be nice to give instapy a way to skip them, to save time on the liking of pics.

[2017-07-02 05:50] saurabh-kumar-vit commented on #360
The delay is set to prevent you from getting banned. Instagram has some internal policy on how many like/comments a regular (not a bot) user makes. The delays are set so that you stay under that limit.

[2017-07-02 05:54] saurabh-kumar-vit commented on #361
By "top" you mean the the first few images that show up on the page?

Is it that they are always same because Instagram has pinned them because of their popularity?

[2017-07-02 05:58] elijahlucian commented on #361
Yeah they are always there during hashtag searches. So if you do the same tag multiple times in a day, you end up wasting a good 5-10 minutes just getting thru posts you already like.

Actually it would be great if you could just skip posts you like before the timer starts

[2017-07-02 05:58] elijahlucian commented on #360
Ok thank you, this is good to know. I appreciate the help :)

[2017-07-02 06:05] saurabh-kumar-vit commented on #357
So you wish to know wether the user corresponding to the current image is that of a real person and not to any organization/page etc.
And for doing this you are suggesting that we use clarafai for recognizing if the profile picture has a person in it or not.
What if the picture does not contain any person (lets say a dog, or a house) wouldn't it be misclassified  as a page?

Can you give us a bett

[2017-07-02 06:16] saurabh-kumar-vit commented on #351
can this be done is we separate out the comment and follow logic from the like logic. It would require a bit of refactoring but seems possible.

[2017-07-02 10:06] FBosler commented on #338
Bug still happening ... weird:

[62/72]
Traceback (most recent call last):
  File "LikeSCript.py", line 17, in <module>
    .like_by_tags(['mytags'], amount=300, media='Photo')\
  File "/root/InstaPy/instapy/instapy.py", line 383, in like_by_tags
    self.username, self.like_by_followers_upper_limit, self.like_by_followers_lower_limit)
  File "/root/InstaPy/instapy/like_util.py", line 170, in chec

[2017-07-02 16:53] elijahlucian commented on #316
upon doing this, I'm assuming, we need to change all "chromes" to "firefox"

[2017-07-03 06:47] timgrossmann commented on #326
#349

[2017-07-03 06:47] #326 closed

[2017-07-03 06:47] #360 closed

[2017-07-03 06:48] timgrossmann commented on #361
You can simply use the `.set_upper_followers()` to make sure you won't interact with them.
These accounts mostly have a lot of followers.

[2017-07-03 06:48] #361 closed

[2017-07-03 13:33] gethubuser24 opened #362 "CentOS 7 Install errors compilation terminated."
I have a brand new install of CentOS 7 x64 and followed the instructions provided exact but have a number of errors.  I have attached them, any ideas on what is causing them?
[putty-insta.txt](https://github.com/timgrossmann/InstaPy/files/1119667/putty-insta.txt)

 #include "Python.h"
                      ^
  compilation terminated.
  In file included from libImaging/Imaging.h:14:0,

[2017-07-03 15:18] timgrossmann commented on #362
@gethubuser24 Well, I noticed, that a lot of people came across problems with the CentOS setup... I therefore removed it.

Please use Ubuntu.
Thank you

[2017-07-03 15:18] #362 closed

[2017-07-03 16:19] ju5tis opened #363 "improving options?! #help"
# **Just checked the working flow.**

### 1.0  most popular vs recent pictures

- it takes a lot of time til the script likes the section of recent pictures.
  -> Thesis: liking recent pictures  let people check your site very quickly

Solution: Did find a way, by using Adblocker, in order to block the div of most popular pictures.

 ### 2.0 Liking series (improving likes)

An option could be:

-

[2017-07-03 17:18] gethubuser24 opened #364 "Windows Run Issue - ModuleNotFoundError: No module named 'emoji'"
1. This is the error I get when running from the command prompt

C:\Program Files (x86)\Python36-32\Scripts\InstaPy-master>py quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "C:\Program Files (x86)\Python36-32\Scripts\InstaPy-master\instapy\__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "

[2017-07-03 20:06] elijahlucian commented on #316
it doesn't seem like you can get FF on the rpi.

Just out of curiosity, why can't you use Chromium instead of Chrome or FF?

[2017-07-04 05:28] timgrossmann commented on #364
@gethubuser24 Please use the search function...

If `No module named xxx` shows up, just do `pip3 install xxx`

In this case `pip3 install emoji`

[2017-07-04 05:28] #364 closed

[2017-07-04 05:29] timgrossmann commented on #316
@elijahlucian You can, you'll need exaGear then, which isn't free.

[2017-07-04 06:35] elijahlucian commented on #316
Ok but I mean. Why did you say switch it to Firefox as a hint if you need to use the same workaround for both chrome and ff on raspberry pi. Am I missing something?

[2017-07-04 06:43] TechHackie opened #365 "compatibility"
Does it work with python 2.7 on a windows 10 machine.
Thanks

[2017-07-04 09:11] Mehnou commented on #336
@timgrossmann Any luck? If alot of people are having this problem then it's probably has something to do InstaPy itself

[2017-07-04 13:25] gethubuser24 opened #366 "Windows locale.Error: unsupported locale setting"
I receive the following error about an "unsupported locale setting"  what am I missing?

C:\Program Files (x86)\Python36-32\Scripts\InstaPy-master>start.bat
C:\Program Files (x86)\Python36-32\Scripts\InstaPy-master>set PYTHONIOENCODING=UTF-8
C:\Program Files (x86)\Python36-32\Scripts\InstaPy-master>py quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>

[2017-07-04 14:31] DBS9 opened #367 "Running start.bat guidance"
When I run start.bat, nothing happens it just closes instantly, and when I open Instapy GUI and try to run I get an error saying start.bat is denied? Can anyone help please. I've probably set things up wrong, and I admit that but I'd love some guidance.

[2017-07-04 14:43] timgrossmann commented on #365
@TechHackie Please use python 3

[2017-07-04 14:43] #365 closed

[2017-07-04 14:44] timgrossmann commented on #336
@Mehnou I'm running 4 accounts with this, never had that issue.

Could you please provide more informations about what system you are using, where you are located and so on...

[2017-07-04 15:28] s6s8 commented on #366
For windows you have to edit the file:
instapy\unfollow_util.py line 9
from: locale.setlocale( locale.LC_ALL, 'en_US.UTF-8' )
to: locale.setlocale( locale.LC_ALL, 'English_United States.1252' )

This error happen on last update.

[2017-07-04 17:39] Mehnou commented on #336
I'm using Windows 7, python 2.7

[2017-07-05 04:14] gitpatrickhub commented on #316
I have this running on my macbook, but wanted to try it out on the Raspberry Pi3 with Raspbian jessie (v8). I installed ExaGear and followed the instructions here:

https://eltechs.com/run-google-chrome-on-raspberry-pi/

I can start Exagear, but when I attempt to launch Chrome I receive the following;

Corrupt installation. Please reinstall.
License check has failed.
Exiting.

I was directed to th

[2017-07-05 06:12] #366 closed

[2017-07-05 06:12] timgrossmann commented on #336
@Mehnou Try python3

[2017-07-05 08:17] woutvdd opened #368 "Problems with unfollowing"
When I want to unfollow, I get this error:

[code]

[2017-07-05 14:57] ericchenmelt opened #370 "Locale setting error"
Please fix the locale setting in instapy unfollow_util.py
locale.Error: unsupported locale setting
proposed fix:
locale.setlocale( locale.LC_ALL, 'English_United States.1252' )

[2017-07-05 15:53] timgrossmann commented on #370
@ericchenmelt I removed it, should be working now.

[2017-07-05 15:53] #370 closed

[2017-07-05 17:41] tylershadix opened #371 "Resolved!"
-

[2017-07-05 17:57] jedbanger commented on #336
I'm having this problem using Windows 7 from command line (not gui) with python 3.

[2017-07-05 19:15] TheXeon81 opened #372 "Error on write *_followedPool.csv"
Error, when script open the file:

C:\InstaPy>py quickstart.py
Logged in successfully!
set_automated_followed_pool error
 list index out of range

[2017-07-05 19:21] TheXeon81 commented on #372
if delete the file i have this error

C:\InstaPy>py quickstart.py
Logged in successfully!
set_automated_followed_pool error
 [Errno 2] No such file or directory: './logs/thexeon_followedPool.csv'
Traceback (most recent call last):
  File "quickstart.py", line 6, in <module>
    session.unfollow_users(amount=10)
  File "C:\InstaPy\instapy\instapy.py", line 486, in unfollow_users
    unfollowNumber

[2017-07-05 19:25] TheXeon81 commented on #372
with another account i have this error:

C:\InstaPy>py quickstart.py
Logged in successfully!
set_automated_followed_pool error
 list index out of range
Traceback (most recent call last):
  File "quickstart.py", line 6, in <module>
    session.unfollow_users(amount=10)
  File "C:\InstaPy\instapy\instapy.py", line 486, in unfollow_users
    unfollowNumber = unfollow(self.browser, self.username, amou

[2017-07-05 19:58] timgrossmann commented on #371
@tylershadix You could post your quickstart file, I could take a look at it then.
Make sure to remove you username and password 😉

[2017-07-05 20:01] timgrossmann commented on #372
@TheXeon81 Could you do a `git pull` and try again, please?

[2017-07-05 20:06] timgrossmann commented on #336
@jedbanger Could you try to find the post on which this happens, please?
Also post your quickstart file, please.

[2017-07-05 20:25] TheXeon81 commented on #372
after git pull...

C:\InstaPy>set PYTHONIOENCODING=UTF-8

C:\InstaPy>py quickstart.py
Logged in successfully!
set_automated_followed_pool error
 [Errno 2] No such file or directory: './logs/thexeon_followedPool.csv'
--> Ongoing Unfollow 1, now unfollowing: b'partyinmilan'

[2017-07-05 20:28] timgrossmann commented on #372
@TheXeon81 don't you have the folder logs?

[2017-07-05 20:34] TheXeon81 commented on #372
![image](https://user-images.githubusercontent.com/5238466/27883759-fa4b03e0-61d1-11e7-96cd-992f693a5d8a.png)

![image](https://user-images.githubusercontent.com/5238466/27883776-09a86e9a-61d2-11e7-8da3-346c37eec859.png)

[2017-07-05 20:34] TheXeon81 commented on #372
![image](https://user-images.githubusercontent.com/5238466/27883791-1befbfa4-61d2-11e7-80b5-1c4ee2e82efb.png)

![image](https://user-images.githubusercontent.com/5238466/27883795-2102aa38-61d2-11e7-982d-0d586d1648b1.png)

[2017-07-05 20:36] jedbanger commented on #336
Sure tim (great proyect btw!)

This my quickstart file, just erasing/replacing any kind of sensitive info.
`
from instapy import InstaPy
import os
session = InstaPy(username= ****** pasword= *****)
session.login()
session.set_do_follow(enabled=True, percentage=25, times=1)
session.set_upper_follower_count(limit = 900)
session.set_lower_follower_count(limit = 50)
session.like_by_tags(['exampletag1'

[2017-07-05 20:37] timgrossmann commented on #372
@TheXeon81 Hmm... I have to revisit that...
I'll get back once it's working

[2017-07-05 20:40] timgrossmann commented on #336
@jedbanger Did you miss the comma between username and password?

Could you try to do it with the chaining example?
Like this:

[code]

[2017-07-05 20:48] timgrossmann commented on #372
@TheXeon81 Could you pull again?

[2017-07-05 20:50] timgrossmann commented on #367
@DBS9 Do you run it with root rights?

[2017-07-05 20:51] jedbanger commented on #336
No, sorry, it was a typo when putting the ****.
If i comment the `.follow_by_list` i got no problems with the script. I can run any other feature. Its just that one that gives me trouble.
just tried it with the chaining example. Same problem.

[2017-07-05 20:58] timgrossmann commented on #336
@jedbanger Good to know the problem is with the `.follow_by_list`
Thank you this helps out a lot

[2017-07-05 21:01] TheXeon81 commented on #372
okay! now work! :-)

[2017-07-05 21:15] #372 closed

[2017-07-05 22:02] RobertHosking commented on #316
There is an old version of Chromium that runs naively on RPI.

[code]

I've used this to use my RPI as a Google Cloud Print Server. It might work for InstaPy?

[2017-07-05 22:15] Mehnou commented on #336
@timgrossmann Nobody said it was only in following? My bad xD

[2017-07-06 04:51] timgrossmann commented on #336
@Mehnou Ahh ok, good to know.

[2017-07-06 18:03] jared-clarifai commented on #357
Hey @aReaSa - I made a tool during one of our internal hackathons that you might be interested in:

http://shouldimakethismyprofilepicture.com/

Checks for people, nudity, resolution, etc. And also for real people, not just celebrities.

[2017-07-06 18:47] TheXeon81 opened #373 "Add account info in the log"
i use the InstaPy whith 2 account.
is possible to use the account info (only name) in the log file?
or is possible to create more file of log for each account?

[2017-07-06 19:25] timgrossmann commented on #373
@TheXeon81 Not for the first version...
It's a feature that will be in InstaPy_V1

Simply clone it again and have 2 separate folders.

[2017-07-06 19:25] #373 closed

[2017-07-07 08:50] TheXeon81 opened #374 "today not work...."
This is the error:

C:\InstaPy>py quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 4, in <module>
    session.login()
  File "C:\InstaPy\instapy\instapy.py", line 83, in login
    if not login_user(self.browser, self.username, self.password):
  File "C:\InstaPy\instapy\login_util.py", line 29, in login_user
    sleep(2)
  File "C:\InstaPy\instapy\time_util.py", line 22

[2017-07-07 09:04] TheXeon81 commented on #374
C:\Users\lucia\OneDrive\Watermark\InstaPy>py quickstart.py
Logged in successfully!
Number of people followed automatically remaining: 171
following_link error
 Message: unknown error: Element <li class="_218yx">...</li> is not clickable at point (598, 204). Other element would receive the click: <span class="_bkw5z" title="...">174</span>
  (Session info: chrome=59.0.3071.115)
  (Driver info: chro