[2016-12-14 08:18] timgrossmann opened #2 "Comment with Emojis"
#### Allow to comment with sentences that contain emojis
It would be awesome to be able to set the comments like this:
[code]

- [x] Allow for emojis in comments

[2016-12-14 08:25] timgrossmann opened #3 "Only "target" local posts"
#### Would be nice if you could e.g. only like and comment and follow, that where posted near you
It could search through the tags and look at the posted location (if given) to determine if it's near your location

Could look somewhat like this:
[code]

- [ ] implement location lookup (tags and, if give, location)
- [ ] implement 'near cities' which gets the adjacent and near cities of the given l

[2016-12-16 08:49] timgrossmann commented on #2
#### Since Selenium, by now, only allows for certain "BMP"-Unicode characters, these are the ones that can either be copied as symbol or used as unicode in a unicode string (u'Hello world')

- ✅ \u2705
- ✊ \u270A
- ✋ \u270B
- ✌  \u270C
- ✔ \u2714
- ✨ \u2728
- ❗ \u2757
- ‼ \u203C
- ❤ \u2764
- ➰ \u27B0
- ➡ \u27A1
- ⌚ \u231A
- ☀ \u2600
- ☑ \u2611
- ☺ \u263A
- ♥ \u2665
- ⭐ \u2B50

[2016-12-16 08:49] #2 closed

[2017-02-11 19:56] diegoloop opened #4 "No matter what tags I'm looking at, I get -> Too few images, aborting message"
Using the tester.py provided in instaPy-master folder and no matter what tags I'm looking at, I'm getting following error output:

[code]

Am I missing something?

[2017-02-12 08:45] timgrossmann commented on #4
@diegoloop Hey, I'm sorry you are encountering this problem.
I also had the problem and got it working again. (I haven't updated it on github yet).

**Just edit "instep.py" and add the line**

[code]
**to the constructor.
If it stills says 'Too few images', just increase the number of seconds.**

[2017-02-12 08:57] timgrossmann commented on #4
@diegoloop Also, better don't ignore the **recommendation** to install PIL

[2017-02-12 12:56] diegoloop commented on #4
Hi @timgrossmann thanks for reply :)

So in the **InstaPy-master/instapy/instapy.py** file (please note that I didn't find the instep.py as you mentioned) I added the following, but still not working:

[code]
I also installed pillow

[2017-02-13 07:42] timgrossmann commented on #4
Hey @diegoloop ,
Sorry, I changed the "instep" to "instapy", sort for the typo. Thank you for mentioning!

I'm currently encountering some of the same problems. I'll get back to you (and push it to master) once I found the Bug 👍

Sorry for the Problems.

[2017-02-13 09:10] timgrossmann commented on #4
@diegoloop Just saw, that they changed their pagelayout a bit. (I already fixed that on my local repo, but haven't updated it only, yet)

I'll push it to github this evening (~8pm GMT+1)

[2017-02-13 19:13] timgrossmann commented on #4
Hey there @diegoloop.
I updated the code base to the version which works (at least on my system).
I hope it works for you, too.

If not, feel free to contact me again.
Best Regards

[2017-02-13 21:33] diegoloop commented on #4
Hi @timgrossmann Thanks for the update! It's working great :)

[2017-02-13 22:01] timgrossmann commented on #4
@diegoloop Perfect, glad to hear that!

[2017-02-13 22:01] #4 closed

[2017-02-13 22:06] timgrossmann opened #6 "Add direct messaging"
#### It would be nice to create some basic messages which could then be sent to some of the instagram users you just liked posts from

###### Could look somewhat like this:
[code]

- [ ] add API for direct messaging
- [ ] make sure to exclude the given friends

[2017-02-22 08:20] timgrossmann opened #7 "Prevent follow/unfollow multiple times"
#### Right now, the script has no knowledge of who has already been followed/unfollowed. It would be nice to be able to declare a number of times, someone will be followed and unfollowed.

###### Could look somewhat like this:
[code]

- [x] add times parameter
- [x] make sure there is a dict of accounts that shouldn't be followed again

[2017-02-24 21:25] #7 closed

[2017-02-28 17:26] jokull opened #9 "Immoral Project"
Likes and engagement are digital currency and you are devaluing them. You should add a disclaimer that users are risking being banned from the platform.

[2017-02-28 18:06] timgrossmann commented on #9
@jokull Yes you're right, Likes and engagement is a digital currency... **But it's a really corrupt and nasty one**. People with a lot of money can just buy them online, buy them easily! Or be part of services, there are dozens of it, and pay for exactly the same thing you can get here... **Except mines for Free**.

Also, I think that everyone should get the chance to become a so called "Influence

[2017-02-28 19:00] timgrossmann commented on #9
I already added a bold notification about the banning party :wink:

[2017-02-28 21:43] jokull commented on #9
We’ll agree to disagree :) Thanks for a thoughtful response.

[2017-02-28 21:43] #9 closed

[2017-03-03 16:52] Spiz opened #10 ""no module named 'pyvirtualdisplay'""
C:\Users\Matt>python C:\Users\Matt\Desktop\InstaPy-master\quickstart.py
Traceback (most recent call last):
  File "C:\Users\Matt\Desktop\InstaPy-master\quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "C:\Users\Matt\Desktop\InstaPy-master\instapy\__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "C:\Users\Matt\Desktop\InstaPy-master\instapy\instapy

[2017-03-03 18:32] timgrossmann commented on #10
Did you install it?
[code]

[2017-03-04 13:29] #10 closed

[2017-03-04 13:40] timgrossmann commented on #6
#### Update: Right now, direct messaging, sadly, is not possible on the web client. It's only available for the mobile apps.

###### If they'll add it later, I'll come back to this issue...

[2017-03-04 13:40] #6 closed

[2017-03-05 15:12] iflybrains opened #11 "got float"
Hi,

first of all GREAT work!
Liked your reply to the first "issue" :)

When executing the script it all works till it loads the first hashtag and tries to like some.

I see this in terminal:

    for _ in range(new_needed):  # add images x * 12
TypeError: range() integer end argument expected, got float.

What do I need to change?
Thanks!
M

[2017-03-05 16:09] timgrossmann commented on #11
Could you provide some context?
What number of images did you enter as "amount" here?
[code]

Really weird case because at this line I do:

[code]

I'll update the codebase to do:

[code]

###### Should be an edge case... Please provide still provide the amount you entered

[2017-03-05 16:15] timgrossmann commented on #11
Should be solved by [this commit](https://github.com/timgrossmann/InstaPy/commit/a2b0d60698254a51b01a99d942d8983d87c429d4)

[2017-03-05 16:48] #11 closed

[2017-03-06 00:28] Spiz commented on #10
Whoops! Still new to python, thanks!

[2017-03-06 05:58] timgrossmann commented on #10
@Spiz That's no problem at all 😉

##### Hope everything is working fine now.

[2017-03-06 19:47] Spiz opened #12 "Is it possible to use InstaPy without Clarifai?"
Alright I worked my way through getting this to work as far as I could, and this is just beyond my Python ability.

Running this script:

#########################################
dont_like = ['food', 'girl', 'hot']
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

InstaPy(username='xxxx', password='xxxx')\
  .login()\
  .set_do_comment(True, percentage=0) \
  .set_comments

[2017-03-06 21:32] timgrossmann commented on #12
#### I was pretty amazed, that you got this error and tested your case. Everything works as expected.

Make sure to include the
[code]

Also, if you want python to continue on the next line (like in the method chaining example here) you need to add a backslash on each line:

[code]

And if you take a look at the documentation, the default of clarify is `False` so you don't need to set it explicitl

[2017-03-06 21:32] #12 closed

[2017-03-06 21:33] timgrossmann commented on #12
So just replace your code with this:

[code]

and try `python3.5 <name of your file>`

[2017-03-06 22:00] timgrossmann commented on #12
#### If your problem still is there, did you do ?

`pip install git+git://github.com/Clarifai/clarifai-python.git`

[2017-03-06 22:14] timgrossmann opened #13 "Publish InstaPy on PyPi"
#### Would be nice if you could just install InstaPy with `pip install instapy` instead of downloading the repo

- [ ] get information about how to bundle a pypi package
- [ ] build pypi package
- [ ] publish it on pypi

[2017-03-14 18:48] timgrossmann opened #14 "Add check for follower number"
#### Would be nice if you could define an upper bound of followers an author of the posts you like should have. The more followers the account, the less likely it is that they will follow you back, so you can simply save that interaction

Could look somewhat like this:
[code]

- [x] implement account check for each post
- [x] add check for more than given upper bound

[2017-04-04 14:30] roothaxor opened #15 "Hey !!"
Please add requirements list for ease, thankyou

[2017-04-04 16:28] timgrossmann commented on #15
I'm not sure if i can follow you...

Everything needed is explained in the readme

[code]

[2017-04-04 16:51] renatoalencar commented on #15
It's important to add this in order to keep a compatible version listing of the libs, and this is a community pattern.

[2017-04-04 17:18] brunocechet opened #16 "Exec format error"
[code]

[2017-04-04 17:35] brunocechet commented on #16
Solved updating assets/chromedriver to the correct version and platform :)

[2017-04-04 17:35] #16 closed

[2017-04-04 17:36] timgrossmann commented on #15
@renatoalencar ahh ok, thank you!
I'll add that as soon as possible.

[2017-04-04 18:39] #15 closed

[2017-04-04 18:39] timgrossmann commented on #15
added at #17

[2017-04-04 19:42] apertureless opened #18 "Add docker"
Thought about dockerizing it ? Would be way easier to deploy.

[2017-04-04 19:57] timgrossmann commented on #18
Yes, I just lately thought about that.

I don't have enough knowledge in this area by now but I'm open to PR's 😉
I mean, writing a Dockerfile shouldn't be too hard and time consuming, but right now I sadly don't have the time to cover any of the open Issues...

[2017-04-04 20:39] fcfidel opened #19 "Not commenting"
I get this error when the app is running and tries to leave a comment:

Invalid Page: Message: no such element: Unable to locate element: {"method":"class name","selector":"_nk46a"}
  (Session info: chrome=57.0.2987.133)
  (Driver info: chromedriver=2.25.426935 (8***),platform=Mac OS X 10.12.3 x86_64)

[2017-04-04 20:44] seemethere commented on #13
You could automate this through travis using https://docs.travis-ci.com/user/deployment/pypi/

[2017-04-04 21:24] timgrossmann commented on #19
It's hard to debug this problem without the actual page...
Could you provide the Instagram link to the post?

[2017-04-04 21:26] timgrossmann commented on #13
@seemethere This is really nice, I hope I'll find some time to do this!
Thanks for the link.

[2017-04-05 04:23] aamirc commented on #19
I also am getting this error.

Link to page it was on. https://www.instagram.com/p/BSfVUFpAfa6/

`Invalid Page: Message: no such element: Unable to locate element: {"method":"class name","selector":"_nk46a"}
  (Session info: chrome=56.0.2924.87)
  (Driver info: chromedriver=2.28.455520 (cc17746adff54984afff480136733114c6b3704b),platform=Windows NT 10.0.10586 x86_64)`

[2017-04-05 04:54] aamirc commented on #19
Seems like the class has changed.

I fixed it by changing line number 51 in file 'like_util.py' to look for the following class '_31wak' instead of '_nk64a'.

`  user_div = browser.find_element_by_class_name('_31wak')`

[2017-04-05 04:57] timgrossmann commented on #19
@fcfidel  @aamirc
Should be fixed by #21

[2017-04-05 04:58] timgrossmann commented on #19
When checking the classes, it still was "_nk64" for me, @vlntdds mentioned, that it is different for other locations, so he changed it to use xPath instead of class 👍

[2017-04-05 04:58] #19 closed

[2017-04-05 05:01] aamirc commented on #19
Cool thanks.

[2017-04-05 05:15] aamirc opened #22 "Chromedriver won't run in Windows"
As the Chromedriver that comes with this package is for linux - this won't run if you are trying to run it on windows. I replaced the chrome driver in the assets with the windows version - extracted of course.

https://chromedriver.storage.googleapis.com/2.29/chromedriver_win32.zip

[2017-04-05 05:38] timgrossmann commented on #22
Yes thank you for pointing it out, I'll add it to the readme!
You have to use the chrome driver that fits your system.

[2017-04-05 05:38] #22 closed

[2017-04-05 06:13] xiyouMc opened #23 "Why you choose to use webDriver, not through InstagramApi?"
InstagramApi is public and is also restricted for each Api. But the implementation speed should be faster than webDriver

### Like Example:
* API
   https://www.instagram.com/web/likes/%s/like/

* Test:
  https://www.instagram.com/web/likes/1470104102175250269/like/

[2017-04-05 08:31] mohzoh opened #24 "XPath's have been changed in new Instagram UI"
In the function **like_image** I faced error while fetching element from xpath
`//article/div[2]/section[1]/a[1]/span[1]` and after small debugging in instagram's image view DOM I updated the xpath `//article/div[2]/section[2]/a[1]/span[1]`
Same in the function **check_link**
Changed the xpath from `//article/div[2]/div[1]/ul[1]/li[1]` to `//article/div[2]/ul[1]/li[1]`

I'm new to Github so I don'

[2017-04-05 08:31] #24 closed

[2017-04-05 10:51] smesgary opened #25 "method check_image_for don't defined in InstaPy Class"
method check_image_for that used in examples didn't defined in InstaPy Class Members and problem in run example

[2017-04-05 12:33] ianjuma opened #26 "Issue with wrong chromedriver format"
Maybe you should allow people to fetch platform specific chromedrivers (from chrome sites) instead of distributing one. I had an issue with Exec format being wrong ?

[code]
I guess this will be easy with the package being on PyPI

[2017-04-05 12:38] ianjuma commented on #26
looks like the page has changes - also

[2017-04-05 14:40] vlntdds commented on #26
Got the same issue under my ubuntu droplet in DO.
Chromedriver is specified in instapy.py file, put yours in PATH and use it

Can't reproduce under OSx and Ubuntu, but i'll try to find a better approach to fetch the element.

[2017-04-05 15:03] timgrossmann commented on #26
@vlntdds
the problem only occurs with videos...

That's why I originally had:

[code]

[2017-04-05 15:05] timgrossmann commented on #26
@ianjuma I explicitly mentioned that you should get the fitting chromedriver for your system in the readme... Sorry

[2017-04-05 15:08] timgrossmann commented on #25
I'm sorry, it's a typo... I'll change it in the example.

the correct method is:

[code]

[2017-04-05 15:08] #25 closed

[2017-04-05 15:12] razvanilin commented on #26
I get an error with the chrome driver too and I tried with multiple versions, all built for linux 32bit (like my server) - Tried 2.29, 2.28, 2.27, 2.10

[code]

[2017-04-05 15:13] rafo opened #27 "Language independent"
The like function isn't language independent.

[2017-04-05 15:15] timgrossmann commented on #23
I'm not sure if given example is from the real InstagramApi or if you mean the api calls, Instagram makes once clicking on the buttons.

For the real API, I read that it has a limitation of 500 likes per day... And you need an auth token, which I think is really annoying.

For the other idea, I think InstaBot is using the actual API calls which is pretty damn nice.
I didn't want to invest the time

[2017-04-05 15:15] #23 closed

[2017-04-05 15:15] timgrossmann commented on #26
@razvanilin Did you replace the chrome driver in the assets folder?

[2017-04-05 15:16] razvanilin commented on #26
@timgrossmann yes, I did that. Also tried to give it execute access and 755 permissions

[2017-04-05 15:17] timgrossmann commented on #27
Could you give an example of your "like"-method call?
Or what do you mean by "The like function isn't language independent." ? Could you give me an explanation?
Thanks

[2017-04-05 15:18] timgrossmann commented on #26
Oh, ok are you running it on your sever?

[2017-04-05 15:19] razvanilin commented on #26
Yup, I run it on a DO droplet

[2017-04-05 15:21] timgrossmann commented on #26
Weird, I run it on a Ubuntu DO Droplet, too.
Everything works fine...

What size? Probably 512MB if yes, that could be the problem.

[2017-04-05 15:21] rafo commented on #27
The problem is that when you are using chrome on another locale - let's say German - the instagram like btn isn't lanes "like" anymore but "Gefällt mir". So your "if else" condition will never like an image if you are running the browser or os in a different language than English.

[2017-04-05 15:23] razvanilin commented on #26
It's the 1GB actually. I wonder if it's because I'm running Fedora 19 on it. It's quite old now (can't find the time to upgrade).

[2017-04-05 15:26] timgrossmann commented on #26
Ahh ok... That's weird.

Did you try to run it manually on the server?
Also installed pyvirtualdisplay?

[2017-04-05 15:28] razvanilin commented on #26
I installed all the requirements from the txt file, I modified the quickstart script with my instagram credentials and then ran it with `python3.5 quickstart.py`

I got the chromedriver from here: https://chromedriver.storage.googleapis.com/index.html?path=2.29/

[2017-04-05 15:40] timgrossmann commented on #27
Ohh, well that really is a big problem...
I'll try to look into that as soon as possible

Thanks for pointing that out!

[2017-04-05 15:44] vlntdds commented on #26
@razvanilin Did you uncommented the lines 27 and 28 (that deals with the virtual display) from instapy.py?

[2017-04-05 15:53] razvanilin commented on #26
I just did that because you mentioned it and it complained about missing `xvfb`. I installed it and then I got the same error as above when running my script.

[2017-04-05 15:56] timgrossmann commented on #26
Maybe just try to install the newest version of selenium and clarifai...
I changed the requirements.txt since I actually nearly always use the newest version

[2017-04-05 16:04] razvanilin commented on #26
I'm pretty sure I have everything up-to-date since I installed everything just before trying this library. Maybe I'll just try to rebuild everything again

[2017-04-05 16:18] timgrossmann commented on #26
Do you have all this installed?

[code]

I just followed [how-to-test-or-scrape-javascript-rendered-websites-with-python-selenium](https://medium.com/@hoppy/how-to-test-or-scrape-javascript-rendered-websites-with-python-selenium-a-beginner-step-by-c137892216aa)

[2017-04-05 16:21] timgrossmann opened #28 "Make InstaPy Language Independant"
#### Right now, InstaPy only works if your Instagram language is english. Make sure it works with any language (or at least, most)

- [x] change check if already likes from "Like" to something more generic
- [x] make sure there are no other areas of language problems

[2017-04-05 16:22] timgrossmann commented on #27
Issue is #28

[2017-04-05 16:22] #27 closed

[2017-04-05 17:02] blackdayy opened #29 "Account problem"
I have two accounts. With one of them, it worked and I saw auto likes. When I try the other account, Invalid page message is displayed.  Both accounts are public and don't have special characters.

`Invalid Page: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//article/div[2]/div[1]/ul[1]/li[1]"}   (Session info: chrome=57.0.2987.133)   (Driver info: chromedriver

[2017-04-05 17:04] timgrossmann commented on #29
Could you provide a link to the image on which the error appeared?

[2017-04-05 17:07] timgrossmann commented on #29
Did you run them manually or from a server?

[2017-04-05 17:22] blackdayy commented on #29
tag is: "vsco"

An image: https://www.instagram.com/p/BSgrKkjDddm/

One of account likes photos with the tag and the other one does not.

[2017-04-05 17:23] timgrossmann commented on #29
@blackdayy Do you run the script locally (via python3.5 quickstart.py)
or automated from a server?

[2017-04-05 17:24] timgrossmann commented on #29
@blackdayy yes exactly, Instagram asks you if the account gets operated from a different location, so I thought this could be the problem...

I'll look into it...

Sorry for the problem

[2017-04-05 17:28] timgrossmann commented on #29
could you pull the newest version and try again, please?

[2017-04-05 17:40] blackdayy commented on #29
@timgrossmann  Thank you, I will try it.

I checked also if there are differences between these accounts, but there is no any differences.

[2017-04-05 17:50] blackdayy commented on #29
Tried with my acoount: now I see image link and description but error occurred again for all images.

[2/93]
Image from: the.purple.sock
Link: https://www.instagram.com/p/BSgpRBkFInp/?tagged=dog
Description: My cold, rocky interior . . . . 🌑🌚🌑 (follow @cosmoskyle @cosmoskyle 😂😂)
Invalid Page: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//article/div[2]/section

[2017-04-05 17:53] thekage91 opened #30 "Problem with chromedirver on OSX 10.11"
I would try your script on my system but i have one problem.
I have osx 10.11 and i have install chromedriver with brew.
` brew install chromedriver
`
This install version 2.29 under /usr/local/Cellar/chromedriver/2.29.
In this path, the folder bin contain a ./chromedriver file that i have put in the assets folder.
But when i start your example script with:

`python quickstart.py
`
the system retu

[2017-04-05 18:44] timgrossmann commented on #29
Hmm ok thank you...
I'll try to get that fixed

[2017-04-05 18:51] timgrossmann commented on #30
Do you have the latest chrome browser installed?
Do you have the right chromedriver (system and 32 or 64bit)?

[2017-04-05 21:24] thekage91 commented on #30
Yes, i have the latest chrome browser installed (57.0.2987.133 (64-bit))
 and the latest chromedriver that i have downloaded at https://chromedriver.storage.googleapis.com/index.html?path=2.29/ (mac64)

As if it were a selenium problem

[2017-04-05 21:43] timgrossmann commented on #30
Hmm that's pretty weird.
Right now, I can't figure out what the problem is...

You could try to create a new file and put in the selenium stuff.
Just to try out if selenium works.

[2017-04-05 22:59] vlntdds commented on #28
The comment is working perfectly because of the text inside the field.

Instead of turning everything to an language independent solution, why can we just use the chromedriver locale flag pointing to the en-US language?

Check my comment under #31

[2017-04-05 23:08] stephane-archer commented on #18
Done ;)

[2017-04-05 23:24] stephane-archer opened #33 "Invalid Page Log"
I have the following log message:
`Invalid Page: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//article/div[2]/div[1]/ul[1]/li[1]"}`
Every time a page is loaded.
I have a small screen, maybe the "phone version" of the page is loaded?
Any idea?

[2017-04-05 23:51] vlntdds commented on #33
What OS and which chromedriver version are you using?

[2017-04-05 23:58] vlntdds commented on #30
@thekage91 try to do the following changes in instapy.py

[code]

If the error persists, post the chromedriver.log file (located inside the assets folder)

[2017-04-06 00:01] vlntdds commented on #26
@razvanilin try to do the following changes in instapy.py

[code]

If the error persists, post the chromedriver.log file (located inside the assets folder)

[2017-04-06 00:17] stephane-archer commented on #33
Ubuntu 16.04, ChromeDriver 2.29 :)

[2017-04-06 01:34] mateuspontes commented on #33
[code]

[2017-04-06 01:47] mateuspontes commented on #33
Instagram has renamed attrs, I fixed using:

[code]

and for like
[code]

[2017-04-06 01:54] vlntdds commented on #33
@mateuspontes

this is not the right user_div, some accounts have different layouts.

there are two variants of user_div
`//article/div[2]/div[1]/ul[1]/li[1]`
and for some users
`//article/div[2]/ul[1]/li[1]`

I'm gonna try to find the pattern/relation between user accounts and the elements class.

[2017-04-06 02:07] vlntdds commented on #33
@mateuspontes could you open [this photo](https://www.instagram.com/p/BSUNC_ugUA5F-oCjArV_iczK5DwU_TSQLFTdAE0/) on chrome, open the JS Console and show me the value of `window._sharedData.qe.ebd.p.use_new_styles` variable?

[2017-04-06 02:10] mateuspontes commented on #33
`undefined`

[2017-04-06 02:12] vlntdds commented on #33
@mateuspontes for me it has the "true" value, did you have the `window._sharedData ` element in this page?

Do you mind share the content (if exists) with me?

[2017-04-06 02:18] mateuspontes commented on #33
[code]

[2017-04-06 02:21] vlntdds commented on #33
@mateuspontes the full element.

If you inspect the page, search for `window._sharedData`, you will see the entire element.
Are you logged when you opened that link? I've noticed that the variable only exists when you're logged.

With your variable (that is different that the ones that i've got there) maybe i can get all the information needed with JS instead of getting DOM elements.

[2017-04-06 02:27] mateuspontes commented on #33
[code]

[2017-04-06 03:01] vlntdds commented on #33
@mateuspontes could you please try with the modifications of [this](https://gist.github.com/vlntdds/8ff796b629b2be89ae7e6f04dec68296) gist?

[2017-04-06 03:07] mateuspontes commented on #33
It works ;)

[2017-04-06 03:09] mareknebesar commented on #26
Have the same issue:
`Invalid Page: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//article/div[2]/div[1]/ul[1]/li[1]"}
  (Session info: chrome=57.0.2987.133)
  (Driver info: chromedriver=2.29.461585 (0be2cd95f834e9ee7c46bcc7cf405b483f5ae83b),platform=Mac OS X 10.12.4 x86_64)`
chromedriver.log is empty.

[2017-04-06 03:10] vlntdds commented on #26
@mareknebesar i will do a pull request ASAP.
until that, take a look at #33, i posted a GIST with the fixed code.

[2017-04-06 03:17] vlntdds commented on #29
@blackdayy Take a look at #34, it should fix the problem

[2017-04-06 03:46] mareknebesar commented on #26
@vlntdds I already did (found it a moment after posting here). Confirm that it fixes the issue, good job ;-)

[2017-04-06 03:50] mareknebesar commented on #26
@vlntdds There might be still a bug because of different structure of the page - I am running it with `set_do_comment(True, percentage=10)` and in 60 images so far nothing has been commented.

[2017-04-06 05:18] #28 closed

[2017-04-06 05:27] timgrossmann commented on #18
@stephane-archer Awesome thank you!

[2017-04-06 05:30] #33 closed

[2017-04-06 05:32] timgrossmann commented on #26
@vlntdds Are there some updates on the actual topic of this issue?
The chrome driver problem?

[2017-04-06 05:33] #29 closed

[2017-04-06 05:34] timgrossmann commented on #30
@thekage91 Any updates on this?

[2017-04-06 06:54] thekage91 commented on #30
@vlntdds i tried to edit instapy.py with provided code
`
class InstaPy:
  """Class to be instantiated to use the script"""
  def __init__(self, username=None, password=None):
    #self.display = Display(visible=0, size=(800, 600))
    #self.display.start()
    chrome_options = Options()
    chrome_options.add_argument('--dns-prefetch-disable')
    chrome_options.add_argument('--no-sandbox')
    se

[2017-04-06 07:30] razvanilin commented on #26
Well I was a bit dumb and didn't think about installing Chrome on my server. Since the chromedriver allows running chrome headlessly, you obviously need chrome installed first. I never install it on my servers and that's why I didn't think about it in the beginning.

Maybe it's worth updating the readme with this info.

I'm now facing some other issues but I believe they are related to the ones @m

[2017-04-06 07:42] ianjuma commented on #26
@timgrossmann chrome driver issue seems straight forward, missed it on the README; current issue seems to be the one @mareknebesar is experiencing; works on and off - commenting too

[2017-04-06 07:56] thekage91 commented on #30
I have solve the issue!
The problem is connected to my /etc/host file.
I have remove 127.0.0.1 localhost for my development purpose, and this generate this issue.

In my case (and in [another case](https://bugs.chromium.org/p/chromedriver/issues/detail?id=1589)), add
`127.0.0.1 localhost`
to my /etc/host resolve this issue.

Try to replicate by delete this line from your host file.

For Mac user i

[2017-04-06 07:57] #30 closed

[2017-04-06 08:00] ianjuma commented on #33
@mateuspontes process also crashes on dead link/ if post has been deleted.

[code]

[2017-04-06 08:15] mareknebesar commented on #26
Although it is running, I still experience a lot of issues, usually between 10 - 30th the process falls down. Can't really find out what's the issue. Here are some cases from the command line for reference:

`Image from: anamacedo
Link: https://www.instagram.com/p/BSiKclDht8I/?tagged=hongkong
Traceback (most recent call last):
  File "quickstart.py", line 17, in <module>
    .like_by_tags(['#hongk

[2017-04-06 10:32] ianjuma commented on #26
I experience this too; I think it pops up when the link is dead.

```selenium.common.exceptions.WebDriverException: Message: unknown error: Cannot read property '0' of undefined```

If the posted image is dead.

[2017-04-06 10:37] vlntdds commented on #26
@mareknebesar Just realized that if the user left the caption empty and after the post write an comment, it doesn't count as a caption.
Could you try the new [like_util.py](https://gist.github.com/vlntdds/8ff796b629b2be89ae7e6f04dec68296) and send me some feedback about the first error?

I'll drive into the `Cannot read property '0' of undefined` now.

[2017-04-06 10:55] vlntdds commented on #26
@ianjuma just fixed that error too, try [this](https://gist.github.com/vlntdds/8ff796b629b2be89ae7e6f04dec68296)

[2017-04-06 12:15] tibor opened #35 "Getting started"
First, a big thanks for your efforts and for writing your media blog post!

Since I’ve never worked with Python, I’m not really sure what is necessary to get started with InstaPy.

I cloned your repository to uberspace, modified quickstart.py according to my aims and executed via SSH `python setup.py install`. Do I need to do anything else/different? For me the script doesn’t seem to work since my

[2017-04-06 12:27] vlntdds commented on #35
You should be fine just running `python quickstart.py`
Or creating your own python script and then running it.

[2017-04-06 13:14] tibor commented on #35
Okay, Thanks!

I get the following response:

[code]

Can I ignore this error or do I have to do anything?

I’m wondering if the scripts is running already since my following count stays the same.

My quickstart.py looks like this:

[code]

[2017-04-06 13:47] vlntdds commented on #35
@tibor What OS are you using?

You need the latest Google Chrome installed and configure the Chromedriver as you need (update, downgrade, varies with you OS)

After installing Chrome, try to run the following commands (assuming that you're running it on Ubuntu)

[code]

If the quickstart.py doesn't work, download [the latest chromedriver](http://chromedriver.storage.googleapis.com/2.29/chromedrive

[2017-04-06 14:10] rahulkapoor90 commented on #22
@aamirc how did you run this in windows?

I am getting this error even after replacing the file in assets.

[code]

[2017-04-06 14:11] rahulkapoor90 opened #36 "Module Error in Windows"
I am getting this error even after replacing the file in assets. My OS is windows 10 and chrome is updated to latest version.

[code]

[2017-04-06 14:26] emiliomarin opened #37 "Error trying the example"
Hi, I'm trying to use the example before starting to change anything. I change my user and pass and downloaded the chromedriver and put it in the assets folder. I am using Mac OSX 10.11.5.
I am getting this error
[code]

[2017-04-06 14:29] tibor commented on #35
Hi,

uberspace is using CentOS 6 (I’m not sure if x32 or x64 but I assume x64).

I uploaded the latest chromedriver but wasn’t able to get the script running:

[code]
I guess I have to ask uberspace or do you have an idea how to fix this?

[2017-04-06 14:36] vlntdds commented on #35
@tibor check https://github.com/timgrossmann/InstaPy/issues/26#issuecomment-292031334 and do the same

[2017-04-06 14:47] emiliomarin commented on #37
I was trying it in a new account, tried it with one that already had followers and it worked

[2017-04-06 14:49] tibor commented on #35
I edited the file, did a new ```python setup.py install``` and ```python quickstart.py```

[code]

[2017-04-06 15:20] #36 closed

[2017-04-06 15:39] vlntdds commented on #35
@tibor check the indentation in instapy.py after the edit.
`IndentationError: unexpected indent`

[2017-04-06 16:36] timgrossmann commented on #33
@ianjuma Thanks for the information, I'll open an issue for that!

[2017-04-06 16:38] timgrossmann opened #38 "Process crashes on dead link/ if post has been deleted."
- [x] Fix the problem by catching the error and continuing with the other posts

[2017-04-06 16:40] vlntdds commented on #38
check https://github.com/timgrossmann/InstaPy/issues/26#issuecomment-292138620

[2017-04-06 16:41] timgrossmann commented on #38
Thanks!

@vlntdds why not make a PR? 👍

[2017-04-06 16:44] vlntdds commented on #38
@timgrossmann i'm just waiting for the feedback from @ianjuma and @mareknebesar.
They have different instagram page style.

But will do the PR ASAP

[2017-04-06 16:49] timgrossmann commented on #38
@vlntdds Awesome, you're the man!

[2017-04-06 17:04] timgrossmann commented on #26
@ianjuma Hmm I thought about not distributing the chromedriver at all... But I don't think this will fix the problem, will it?
People will still try to run it as they downloaded it.

[2017-04-06 18:05] ianjuma commented on #26
@timgrossmann at least for the os.exec wrong format error; I think it will help; then maybe the guide to fetch relevant chrome driver on the README file takes precedence/ or is highlighted.

[2017-04-06 18:22] timgrossmann commented on #26
@ianjuma Well, let's just try it out then 😉

[2017-04-06 18:38] ianjuma commented on #38
I think a PR by @vlntdds might have fixed this for me? Have not run on this after using [like_util](https://gist.github.com/vlntdds/8ff796b629b2be89ae7e6f04dec68296) Can't any exception handling for an error; There's the missing post log, and the process continues running fine.

[2017-04-06 18:42] timgrossmann commented on #38
Fixed with #39

[2017-04-06 18:42] #38 closed

[2017-04-06 19:46] CleytonBonamigo commented on #35
I followed the recomendations above, but I got the following response:
`selenium.common.exceptions.WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally
  (Driver info: chromedriver=2.29.461571 (8a88bbe0775e2a23afda0ceaf2ef7ee74e822cc5),platform=Linux 4.4.0-66-generic x86_64)
`

I need to do a VNC access?

[2017-04-06 20:24] vlntdds commented on #35
@CleytonBonamigo check the ./assets/chromedriver.log file for the details.

[2017-04-06 20:32] CleytonBonamigo commented on #35
@vlntdds, I checked but have no idea what happened.
[code]

[2017-04-06 21:07] timgrossmann commented on #37
@emiliomarin could you try it again with your new profile when replacing the content of print_log_writer.py with this, please?

[code]

[2017-04-06 21:11] timgrossmann commented on #37
If this works, #40 fixes the issue

[2017-04-06 21:39] vlntdds commented on #35
@CleytonBonamigo uncomment all display lines in instapy.py

[2017-04-06 23:51] aamirc commented on #22
All I did to get it to work was to install all the dependencies via pip
install and replaced the chromedriver file in the assets folder with the
windows version.

Worked fine after I did this.

To install Clarifai I had to open command prompt as Administrator.

Regards,
Aamir Chaudhry
m 0413 647 066

On Fri, Apr 7, 2017 at 12:10 AM, Rahul Kapoor <notifications@github.com>
wrote:

[2017-04-07 00:56] marcotile opened #41 "Not working when TFA Enabled"

[2017-04-07 01:01] n3rio commented on #35
Hi, after installing try to put example code into a script but give me this error:
`python bellboyaudifonos.py
Traceback (most recent call last):
  File "bellboyaudifonos.py", line 2, in <module>
    from instapy import InstaPy
ImportError: No module named instapy`

[2017-04-07 01:11] CleytonBonamigo commented on #35
@vlntdds It worked, but now I'm having another error.
[code]

This happens when begins to search for the first tag.
I tried to search on web, but no one solution worked.

[2017-04-07 01:25] vlntdds commented on #35
@CleytonBonamigo are you running with sudo?
Chrome doesn't start with sudo when running without sandbox.

[2017-04-07 01:31] vlntdds commented on #35
@n3rio put your script outside the instapy folder.

[2017-04-07 01:39] CleytonBonamigo commented on #35
@vlntdds I run with and without sudo. On both times, showed me the same error.
I even try to add parameter `chrome_options.add_argument('--user-data-dir')` to run with sudo, with no success.

[2017-04-07 01:40] vlntdds commented on #41
I think that TFA compatibility would kill the "automation spirit" in this tool.

But, for users that runs on console, asking for the TFA code would be nice and simple to implement.
It's a fight between "automation users" x "console users"

[2017-04-07 01:40] n3rio commented on #35
on it @vlntdds at 10kbps, welcome to vzla

[2017-04-07 01:42] vlntdds commented on #35
@CleytonBonamigo are you running in a local machine or it's a VM somewhere? Could you provide more details about the machine configuration?

[2017-04-07 01:57] mareknebesar commented on #26
@vlntdds All seems to be working fine now for me with your fix.

[2017-04-07 02:00] mareknebesar commented on #41
It is working without issues for me. I am running it on my laptop and you just need to rewrite the SMS code to the Chrome window, that opens.

[2017-04-07 03:42] CleytonBonamigo commented on #35
@vlntdds sure. I'm running on a U$5,00 Digital Ocean droplet, with Ubuntu 16.04.

[2017-04-07 04:48] timgrossmann commented on #22
@aamirc Perfect, thanks  for sharing your experience, this will help a lot of other people having the same problems!

[2017-04-07 04:53] timgrossmann commented on #35
@CleytonBonamigo try upgrading it to a 10$ one and running the script again.
This might be due to Chrome eating up to much RAM.

[2017-04-07 04:55] #26 closed

[2017-04-07 05:41] razvanilin opened #42 "Element is not clickable at location"
I get this error and the script crashes after about 5-10 likes:

[code]

[2017-04-07 05:46] timgrossmann commented on #42
@razvanilin I also got this error a few times already... I think this is due to the footer bar in the Instagram webpage :🙁
We'll see if we can fix this.

Thank you for reporting!

[2017-04-07 05:48] razvanilin commented on #42
At first I thought it was because I was using a business account. I then reverted back to personal account and it still happens. So business accounts are not causing this.

[2017-04-07 05:52] timgrossmann commented on #42
@razvanilin Thank you, I really think it's the footer bar in Instagram, since Selenium just moves to the element and clicks the mentioned element.

[2017-04-07 06:02] rahulkapoor90 commented on #13
Also, for digitalocean it would be really easy. do i have to copy and paste each individual files for it to run on digitalocean?

[2017-04-07 06:31] timgrossmann opened #43 "Add a GitHub Pages Webpage to the project"
#### Would be nice if we had a static github pages webpage for InstaPy which tells a little about the features of the tool and has a small How-To. There also could be a part about the documentation given in the Readme.

- [x] create a basic github pages webpage
- [x] add a how to use it
- [x] add documentation to the webpage
- [x] make it pretty!

[2017-04-07 06:33] timgrossmann commented on #13
@rahulkapoor90 You're completely right, it would make things a bit easier. Like I mentioned, I'll instantly look into it when I find some time to.

Thank you for your comment.

Also, you can just zip the whole folder and scp it onto your machine... Or way easier, just clone it directly onto your machine

[2017-04-07 06:35] timgrossmann opened #44 "Add a GUI for the setup of the quickstart file"
#### Would be nice if you could setup the wanted configuration through a simple GUI instead of writing text into a textile.

- [x] build a basic GUI
- [x] *for the beginning* add some of the features of InstaPy to the GUI
- [x] create a "quickstart.py" file out of the given params of the GUI

[2017-04-07 06:39] tibor commented on #35
I checked all intents and now the last error message is gone. However, quickstart.py ends still with ```selenium.common.exceptions.WebDriverException: Message: Service ./assets/chromedriver unexpectedly exited. Status code was: 1```.

The file logs/logFile.txt is empty.

[2017-04-07 08:14] tibor commented on #35
2nd problem: I was able to get it running on my MacBook but it seems to ignore my commenting and following setting (liking works without problems)

Is there something wrong with my config?

[code]

[2017-04-07 10:25] caltv commented on #42
yes I'm seeing the sae

selenium.common.exceptions.WebDriverException: Message: unknown error: Element <span class="_soakw coreSpriteHeartOpen">...</span> is not clickable at point (684, 678). Other element would receive the click: <div class="_mghjk">...</div>

[2017-04-07 11:19] ianjuma opened #45 "Encoding error"
UnicodeEncodeError: 'ascii' codec can't encode character u'\u2026' in position 119: ordinal not in range(128) for some links

[code]

[2017-04-07 11:37] hillockink commented on #45
This is probably because of the encoding of the console you are using. To set for example Powershell to UTF-8, write the following in the console.

`chcp 65001`

Hope that works!

[2017-04-07 11:52] rahulkapoor90 opened #46 "Cronjob for server"
@timgrossmann Thanks for the scripts! I have the whole server with the scripts running but the last part of automating is difficult. Can you let me know at what time you run the script? and using cronjob or screen?

Can you share the command  and where should I add it?

Here's my cronjob file contents:

[code]

I did got an cron.log file created but it was empty don't know what's wrong. please hel

[2017-04-07 12:32] caltv commented on #42
Update: it seems if you manually click that footer at the beginning to dismiss it, the script continues successfully.

[2017-04-07 12:33] razvanilin commented on #42
I tried that in the beginning but it didn't work for me. What finally worked is to switch my account back to business account.

[2017-04-07 12:34] CleytonBonamigo commented on #35
@timgrossmann yeah dude, it was that. Thanks.

[2017-04-07 13:06] vlntdds commented on #42
@caltv what footer is that? i don't have it.
could you post a screenshot of the footer and tell me what resolution are you using?

[2017-04-07 14:03] caltv commented on #42
<img width="882" alt="screen shot 2017-04-07 at 15 03 21" src="https://cloud.githubusercontent.com/assets/219204/24803510/604d53de-1ba3-11e7-934f-6ee997d6f95b.png">

[2017-04-07 14:04] caltv commented on #42
I'm on a retina 2880 x 1800 res

[2017-04-07 15:20] timgrossmann commented on #42
Fixed by #47

[2017-04-07 15:20] #42 closed

[2017-04-07 15:22] timgrossmann commented on #35
@CleytonBonamigo perfect!

[2017-04-07 15:22] #35 closed

[2017-04-07 15:22] #45 closed

[2017-04-07 15:24] timgrossmann commented on #46
I just used crontab -e...

Here is my crontab:

[code]

[2017-04-07 15:24] #46 closed

[2017-04-07 15:25] #41 closed

[2017-04-07 16:18] giebeka opened #48 "Problem with chromedriver (I think)"
`$ python quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 10, in <module>
    InstaPy(username='XXX', password='XXX')\
  File "/home/giebeka/InstaPy/instapy/instapy.py", line 34, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/usr/lib/python2.7/site-packages/selenium-2.53.6-py2.7.egg/selenium/webdriver/c

[2017-04-07 16:36] vlntdds commented on #48
Download the right chromedriver for you OS, put on ./assets folder and fix the permissions (chmod +a, chmod 755)

[2017-04-07 16:49] giebeka commented on #48
I've done that before

[2017-04-07 17:52] vlntdds commented on #48
Well, the `Exec format error` refers to

- Multiple chromedriver binary / versions on machine
- Chrome and its dependencies not installed

What OS are you running?

[2017-04-07 18:00] giebeka commented on #48
CentOS 7

[2017-04-07 18:53] timgrossmann commented on #37
Fixed with #40

[2017-04-07 18:53] #37 closed

[2017-04-07 19:06] vlntdds commented on #48
@giebeka i've created on droplet on DO and everything seems ok.
Here's my from-scratch-setup:

[code]

After all this, i've uncommented the display lines on instapy/instapy.py (self.display)

[2017-04-07 21:42] giebeka commented on #48
I've done everything as you but I'm still getting error... I've got 1,7GB Ram
`$ python quickstart.py
Logged in successfully!
Traceback (most recent call last):
  File "quickstart.py", line 10, in <module>
    InstaPy(username=XXXXXXX', password='XXXXXX')\
  File "/home/giebeka/InstaPy/instapy/instapy.py", line 83, in login
    log_follower_num(self.browser, self.username)
  File "/home/giebeka/In

[2017-04-07 22:27] vlntdds commented on #48
Nice, we've got rid of the chromedriver error.
This last error was fixed on https://github.com/timgrossmann/InstaPy/commit/d30e87e475e7c5e7910a7a0379f8444a837b66a2.

[2017-04-08 05:19] sunnypatel165 opened #49 "Do we need a better how-to-build-and-run guide?"
Hi! Looks like a fun project to work on!
Just followed your steps - try to setup using setup.py. Kept getting permission denied and such:
[code]
Then figured this needs to be run via Python 3.

So ran the same command as `python3 setup.py install `

Now I get this:
![image](https://cloud.githubusercontent.com/assets/9017668/24825954/8bd0f844-1c48-11e7-89e6-0293dbd629ba.png)

So was wondering if we

[2017-04-08 06:23] iRajul opened #51 "UnicodeEncodeError"
Traceback (most recent call last):
  File "quickstart.py", line 7, in <module>
    .like_by_tags(['#jainism', '#jain', '#jainsmo'], amount=100)\
  File "C:\Users\user\Documents\insta\InstaPy\instapy\instapy.py", line 224, in like_by_tags
    self.ignore_if_contains, self.username)
  File "C:\Users\user\Documents\insta\InstaPy\instapy\like_util.py", line 67, in check_link
print('Description: ' + im

[2017-04-08 07:00] timgrossmann commented on #51
@iRajul Please first look through the issues...
Duplicate of #45

[2017-04-08 07:00] #51 closed

[2017-04-08 07:11] giebeka commented on #48
Thank you!

[2017-04-08 07:11] #48 closed

[2017-04-08 09:53] victorsc commented on #49
@sunnypatel165 I got the exact same error.

[2017-04-08 09:57] apertureless commented on #49
You should considering using pythons `virtualenv` to create a seperated environment for it. This way you don't pollute your system with the dependencies. Pyhton is kind of weird because you have still 2.7 and 3.x running seperately.

[2017-04-08 10:37] karan10 opened #52 "Follow people based on Instagram suggestions."
Would it be nice if, we add a feature which will follow the people suggested by Instagram in SUGGESTIONS FOR YOU box. Also we can like their updates.
This will increase the chances of following back by that person.

[2017-04-08 10:57] apertureless opened #53 "Add emoji support"
🙏🏻 Emoji support for comments would be great.
Right now it's breaking because of the `send_key()` event which does not recognize the emojis and break.

[2017-04-08 11:19] sunnypatel165 commented on #49
Thanks @apertureless , getting this now! 😞
![image](https://cloud.githubusercontent.com/assets/9017668/24828464/37f1755e-1c7b-11e7-8425-5d1c5fe259e9.png)

[2017-04-08 12:00] ToJen commented on #52
That'll be cool. I've seen a YouTube video that did this for LinkedIn. I'd like to work on something like this.

[2017-04-08 12:02] ToJen commented on #53
How are you passing the emojis?

[2017-04-08 12:19] apertureless commented on #53
Simply in the comments array.

[code]

[2017-04-08 12:22] apertureless commented on #49
Seems to be a problem with pillow.
Try to close the terminal session, reopen a new one and then

` xcode-select --install`

and then swap into the virtual env with `source instapy/bin/activate`  and try to install again.

[2017-04-08 12:31] ToJen commented on #53
DId you try the unicodes in the `assets` folder?

[2017-04-08 12:40] apertureless commented on #53
Nope, I will try to pass the unicodes directly.

[2017-04-08 12:50] ToJen commented on #53
Cool

[2017-04-08 12:50] timgrossmann commented on #53
@apertureless Yes, that are the only emojis supported by now...

[2017-04-08 12:50] #53 closed

[2017-04-08 12:50] timgrossmann commented on #53
Also look at #2

[2017-04-08 13:04] timgrossmann commented on #52
@karan10 Does this feature exist on desktop?
I haven't seen this yet, looks like this is a App-only feature like direct messaging... #6 😞

[2017-04-08 13:14] karan10 commented on #52
@timgrossmann Yes, this feature exists on desktop too. It is here on instagram home page.
Find the attachment.
![instagram](https://cloud.githubusercontent.com/assets/4979940/24829194/0fa789f2-1c8b-11e7-97c1-7055ceb0d1bd.png)

On clicking "See All", we can see more suggestions. Also we have to skip those verified pages, which has rare chance to follow us back. Or it will be done as per need.

[2017-04-08 13:15] timgrossmann commented on #52
@karan10 Ohh nice!
Perfect, I'll add an issue for that.

[2017-04-08 13:36] kiknag opened #54 "TypeError: 'NoneType' object is not callable - error on pip install ."
I have tried both ways of installation packages but every single time I am getting the same error.
[code]

[2017-04-08 13:53] karan10 commented on #52
@timgrossmann A problem here, It reedirects to [this page](https://www.instagram.com/explore/) and it shows only 10 results to follow and there is no load more button.

[2017-04-08 15:21] sunnypatel165 commented on #49
Thank you sir @apertureless 💯

[2017-04-08 15:22] vlntdds commented on #52
@karan10 only users with the old interface see this box.
Probably it will be discontinued soon.

[2017-04-08 15:24] #49 closed

[2017-04-08 16:21] tibor opened #55 "Filter by media type"
Since Instagram has both videos and photos now, it would be nice to filter for media types. Otherwise, comments like “Great photo!” might seem akward when posted on videos.

[2017-04-08 16:36] karan10 commented on #52
@vlntdds oh, ok. @timgrossmann It seems it is of no use now.
I am closing this issue.

[2017-04-08 16:42] #52 closed

[2017-04-08 18:14] mattmezza opened #56 "Spintax feature"
For comment automation it could be interesting to support Spintax in order to vary the comment text.
https://github.com/AceLewis/spintax might be a good candidate.

[2017-04-08 18:22] timgrossmann commented on #54
@kiknag Local or server?
If server, which system?
Did you follow the how-to?
Did you install all dependencies?

[2017-04-08 18:24] hanishassim commented on #26
Hi, I'm having the 127 error code as well, anyone can shed some light on how to solve this? I'm using 1GB droplet, ubuntu 16.04, and chromedriver 2.29.

[2017-04-08 18:26] timgrossmann commented on #54
Try installing the dependencies manually:

clarifai
selenium
pyvirtualdisplay

Instead of using the setup.py

[2017-04-08 18:27] timgrossmann commented on #55
@tibor You're right, this could be a small check-feature... Like to only comment on photos

[2017-04-08 18:29] timgrossmann commented on #56
@mattmezza You're right, I did this by simply writing a small python program which generates ~300 unique comments out of a few part of speech dictionaries.

Examples are: Like your content!, Awesome stuff!... Of course all iterated through with different emojis (#2) possible with selenium

[2017-04-08 18:38] lukasz00500 opened #57 "noob install instruction"
I'm trying to install a script, but I'm a total noob
So please help

I downloaded this script and alos chromediver  and python 3.6
and i dont know what to do lol..  i installed python where i should type "cd InstaPy
pip install ."

lol sorry for stupid question...

[2017-04-08 19:50] razvanilin commented on #26
Make sure you have Chrome installed. http://askubuntu.com/questions/510056/how-to-install-google-chrome#answer-510063

[2017-04-08 21:01] 7ruth commented on #57
In the terminal.... if you are on mac.

Type that line in the terminal while being in the directory that you cloned from github.
Then to run quickstart.py, open that file, type your username and password into '<user>' and '<password>' lines (make sure to remove brackets <>). Then where you typed in "pip install ." or what worked for me "sudo python setup.py install" (in the terminal), type in "pyt

[2017-04-08 21:02] 7ruth commented on #14
This would be a great feature to have!

Do you have plans to make a feature for similar upper check but on likes? (for example on liking posts that have below a certain amount of likes...for the same reasons, its more impactful for people that don't have mega accounts). I am brand new to Python and just got to play around with your tool today, its really awesome!

[2017-04-08 22:00] kiknag commented on #54
Locally on OSX.
I have solved it. I have just created virtualenv then installed those packages you told me and after it started working, thanks 👍

[2017-04-09 08:28] timgrossmann commented on #14
@7ruth yes this feature actually is meant to exclude these accounts completely, no liking, no commenting, no following... Accounts with a lot of followers won't do any interaction with your account and that means it'll just cost Instagram interactions which will have no impact on your profile

[2017-04-09 08:29] #54 closed

[2017-04-09 18:13] littleswany commented on #43
Would be able to do this for the project.

[2017-04-09 19:20] littleswany commented on #14
@timgrossmann I will work on this issue

[2017-04-09 20:45] foname commented on #55
I'll work on this ^^

[2017-04-09 22:21] pekapa commented on #55
working on it; will make a PR soon.

[2017-04-09 22:49] vlntdds commented on #55
@tibor @timgrossmann  what do you guys think of two distincts comments arrays? one for photos and one for videos?

[2017-04-10 00:58] pekapa commented on #55
If we make two comments arrays we might break backward compatibility.
I believe there should be three arrays, a general one and two specific ones (photos e videos).

I'll wait for a definition to implement as a whole and only then I'll submit a PR.

[2017-04-10 01:03] vlntdds commented on #55
Why three?
Keep the original and add another for vids.
If the second is empty, use the first for all cases.

[2017-04-10 01:14] pekapa commented on #55
Suppose I have the following comments:

"Amazing" - for both classes
"Great video" - for videos
"Nice shot" - for photos

how would you arrange them in just two arrays? I can't see a way, unless I duplicate the "Amazing" into both arrays, or is there any other way?

[2017-04-10 01:29] vlntdds commented on #55
#56 solves

[2017-04-10 05:17] timgrossmann opened #61 "Add "How to Do" Guides"
#### It would be nice to also have a full How to guide for the ubuntu platform, since it seems to be used more than CentOS.

- [x] Add a how to for ubuntu droplets
- [x] Add a how to for Windows host-machines

[2017-04-10 05:18] timgrossmann commented on #61
@vlntdds Could you modify your CentOS guide to make it work for ubuntu?

[2017-04-10 05:22] timgrossmann commented on #55
@vlntdds @pekapa I also think three would be better, since you don't want to have like 100's of comments duplicated at two different places

[2017-04-10 06:01] xiyouMc opened #62 "推荐一个Scrapy的项目"
[源码地址](https://github.com/xiyouMc/PornHubBot)
![](http://115.28.132.58:8080/docs/PornHubPic.png)

[2017-04-10 06:34] littleswany commented on #43
#63 Have created a pull request for this

[2017-04-10 06:50] rahulkapoor90 opened #64 "Comments percentage"
@timgrossmann pls mention somewhere in readme.md that changing comments percentage to 100 could lead to a temporary ban and account password reset by Instagram. I didn't knew this and suffered. lol

[2017-04-10 09:59] razvanilin commented on #64
Instagram checks for comment duplicates to counter the spammers. Yes, it's not a good idea to have 100% comment rate and you should limit to around 30%. The best idea is to have a huge list of different comments so they don't trigger Instagram's anti-bot protection.

Also make sure the you are not following more than 250 accounts per day and you should also limit your likes below 300/hour. If you

[2017-04-10 12:09] kristof0425 commented on #43
@littleswany , I would love to help you in this project as well!
@timgrossmann , I can send you an email about myself and about my works so far. 😃

[2017-04-10 12:12] #62 closed

[2017-04-10 12:13] vlntdds commented on #61
Sure, will do a from-scratch setup guide today!

[2017-04-10 12:32] tibor opened #65 "Language support"
It might be useful to comment only on Posts with a certain language.

So you could comment in german on german posts or skip posts in a language you don’t speak at all (turkish community in big cities).

I’m not sure how to implement this. As far as I know, Instagram isn’t providing language tags for their posts, so we’d need to implement language detection in our scripts ourselves.

[2017-04-10 13:24] vlntdds commented on #65
The old language-detection library by google handles this.
But the python port is a little slow/chunky.

Strange that in my location, 80%+ of the posts are JUST hashtags (or hashtags + emojis) or words that the library can't detect, this filter wouldn't be nice in that cenarios.

[2017-04-10 13:26] vlntdds commented on #64
It's on the disclaimer, 30% ratio is pretty extensive use, i think.

The ban is not only for comments, but for likes too.
Excessive likes/hour could lead you to an temp ban/perma ban.
Excessive comments/repetitive comments also lead you to the same cenario.

[2017-04-10 14:15] GiacomoManzoli commented on #65
Maybe this could be useful: [https://detectlanguage.com/](https://detectlanguage.com/)

[2017-04-10 15:15] timgrossmann commented on #61
@vlntdds Awesome!

[2017-04-10 15:17] timgrossmann commented on #43
@kristof0425 You're free to collaborate in any way possible.
Just either choose a feature issue or think about something on your own, @vlntdds and I will review it and if it works and fits, I'll merge the PR.

[2017-04-10 15:29] #64 closed

[2017-04-10 17:13] rahulkapoor90 commented on #64
yeah.. okay. thanks!

[2017-04-10 18:23] srpatcha opened #67 "Python cb_get_object error. need more than 0 values to unpack"
passing different values

[2017-04-10 18:34] pekapa commented on #65
@GiacomoManzoli, that might be good, but it requires a user key. Should users create their own key if they want to use that feature?

Another options is this library: https://github.com/saffsd/langid.py

[2017-04-10 18:40] #43 closed

[2017-04-10 19:02] timgrossmann commented on #67
@srpatcha I really don't get what the issue is about...

[2017-04-10 19:04] timgrossmann commented on #65
@pekapa That's an awesome idea!
Just the license seems to be somewhat weird...

[2017-04-10 20:15] vlntdds commented on #65
Well, i think that the use of "detectlanguage.com" is the same that clarifai, you get you API Key and use own your own.

I will test the langid.py and the port of language-detection from google ASAP and see if there's an considerable increase of machine resources needed for the project and share with you, guys.

[2017-04-10 23:11] pekapa commented on #55
Just submitted PR #68
Just plain comments, didn't get to work with Spintax for now

[2017-04-11 01:03] vlntdds commented on #55
It's better wait for the spintax implementation for this, isn't?

[2017-04-11 02:02] vlntdds commented on #61
#69, did it!

Will keep this open to do a complete guide to Windows.

[2017-04-11 04:58] #67 closed

[2017-04-11 06:57] tibor opened #70 "Advanced User Engagement"
Following an user just after one like seems a bit implausible.

In my opinion it would be good to like 2 or 3 photos of an user before following them. This way our bot behaves and looks more like a real user and should raise engagement rates.

So the new strategy would be like:

1. Search for Photos by #tag
2. Like (and comment) a photo
For every Xth photo:
3. Visit the profile and like some more

[2017-04-11 08:49] GiacomoManzoli commented on #65
@pekapa Yes, i think that you need to request a key, but i've never used this service. I was just looking around for a way to implement the language support

[2017-04-11 09:15] tibor opened #71 "TypeError: must be str, not NoneType"
I sometimes get this error:

[code]

What would I need to change to keep InstaPy running?

Kind regards

Tibor

[2017-04-11 10:55] thecolorblue commented on #14
Would it be better to add in generic filtering for any attribute on an account or post?

[2017-04-11 11:50] pekapa commented on #71
Seems like you have an old version, the easiest way to to just update your InstaPy and you should be good to go.

If you want to just fix this one, add

[code]

right before line 56 of `InstaPy/instapy/like_util.py`

[2017-04-11 11:56] kazyka opened #73 "generating comments?"
Maybe make it generate comments?

[code]

[2017-04-11 12:51] tibor commented on #71
Okay, thanks!

[2017-04-11 12:51] #71 closed

[2017-04-11 13:49] vlntdds commented on #73
See #56

[2017-04-11 13:49] #73 closed

[2017-04-11 15:20] timgrossmann commented on #14
@thecolorblue That's an interesting question.
What besides the follower count and the following count could be interesting to check?

[2017-04-11 15:23] timgrossmann commented on #56
@mattmezza I really do think, that this should be a separate tool instead of bloating InstaPy like a balloon...
You can then simply import the comment lists and set them were you want to use them in the quickstart.py

[2017-04-11 17:48] rafo opened #76 "Following a new user is not working (for me)"
I dont know why, but for me following new users is not working.

I tried:

` .set_do_follow(True, percentage=25, times=1) \`

and

` .set_do_follow(enabled=True, percentage=25, times=1) \`

[2017-04-11 18:31] rafo commented on #76
Thats all i get:
`Liked: 58
Already Liked: 2
Inappropriate: 33
Commented: 19
Followed: 0`

[2017-04-11 18:47] timgrossmann commented on #76
@rafo That's really weird...
Do you maybe already follow all the people from given run?

[2017-04-11 19:12] rafo commented on #76
No. I tried it several times… with different tags.

[2017-04-11 19:15] rafo commented on #76
`from instapy import InstaPy

#Write your automation here
#Stuck ? Look at the github page or the examples in the examples folder

dont_like = ['food', 'girl', 'hot']
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

InstaPy(username=‚xxx', password=‚xxx')\
  .login()\
  .set_do_comment(True, percentage=25) \
  .set_comments(['Thats very cool!', 'I like your POV!', 'Nice.!'

[2017-04-11 19:36] timgrossmann commented on #76
@rafo like_by_tag always has to be the last command, like in the examples.
If you set it after you already ran it, it won't work.

Change to:
[code]

Will work 😉

[2017-04-11 19:36] #76 closed

[2017-04-11 21:26] timgrossmann commented on #18
#77 will resolve this issue...
Just the encoding isn't working... Does someone have an idea?
@apertureless @stephane-archer @jaycegregg0

[2017-04-12 05:36] timgrossmann commented on #18
Fixed by #77

[2017-04-12 05:36] #18 closed

[2017-04-12 06:00] sugionodjojo commented on #61
hello,

if anyone can help, i am stuck with setup tools here, am not sure if the scripts works

pip instal . has no problem, but when I do python setup.py install, it looks for setuptools module , and no matter I add setuptools anywhere, the command simply does not work.

hope you guys can come up with solution here

[2017-04-12 11:01] apertureless commented on #18
@timgrossmann Maybe because of wrong locale?

[2017-04-12 15:31] timgrossmann commented on #61
[code]

[2017-04-12 15:33] timgrossmann commented on #18
Yes, but it can't set it.
Or more like, it set's it but still throws the same error

[2017-04-12 16:50] songproducer opened #79 "Trouble exporting Clarifai"
[code]

I have imported the library like so:
[code]

[2017-04-12 16:59] vlntdds commented on #79
The export commands are for the environment, not for the python script.
You should run it on the console.

[2017-04-12 17:02] giebeka opened #80 "Something broke up"
Script worked well few days but then it stopped working. I reinstalled it but it didn't help.
Sorry if it's my fault but I will be grateful for help.

[code]

[2017-04-12 17:12] songproducer commented on #79
Thanks!

[2017-04-12 17:12] #79 closed

[2017-04-12 19:33] timgrossmann commented on #80
@giebeka Could you post your quickstart.py?

[2017-04-12 19:54] timgrossmann commented on #70
@tibor Thank you for sharing your thoughts with everyone.
These are some really nice ideas. If you want to implement any of these, feel free to do so.

[2017-04-12 20:46] giebeka commented on #80
I didn't change quickstart.py. I have just edited login and password. When I do `python quickstart.py`
I've got:
`Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/home/giebeka/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/home/giebeka/InstaPy/instapy/instapy.py", line 11, in <module

[2017-04-12 20:51] timgrossmann commented on #80
@giebeka that's weird...
Did you delete it and cloned it again from github?

[2017-04-12 20:58] giebeka commented on #80
I cloned it again to another location and same error. When I try to install it again this happen:
[code]

and

[code]

It's Centos

I think that there is no issue with InstaPy but with some kind of python configuration, but it's not my cup of tea. Maybe somebody know how to help

[2017-04-12 21:22] timgrossmann commented on #80
Did you follow the guide on CentOS?

[2017-04-12 21:24] giebeka commented on #80
Yes, you helped me few days ago. Script was working well since then, today something broke down

[2017-04-12 23:32] pekapa commented on #80
Looks like pip/setuptools has broken.
Can you try to install another package and see if it works?

Try force upgrading pip with:

`python -m pip install --upgrade --force pip `

[2017-04-13 09:23] giebeka commented on #80
[This](http://stackoverflow.com/questions/42029545/pip-is-error-typeerror-call-takes-exactly-2-arguments-1-given) helped :)

[2017-04-13 09:23] #80 closed

[2017-04-13 09:35] ToJen opened #83 "Instagram now using cpatch"
I tried running `quickstart` this morning and found that the login page layout has changed to this:

[Instagram Login Page Update](https://drive.google.com/file/d/0B584NUUwKdOHUDliMVlRTEhsSDg/view?usp=sharing)

[2017-04-13 10:08] hariom282538 commented on #45
This is a terminal encoding issue.
Follow below mentioned steps:
1. Open CMD(for windows)
2. Open directory (cd InstaPy)
3. Command: set PYTHONIOENCODING=UTF-8
4. Execute this command every time before running python script.

Hope this works!

[2017-04-13 11:12] songproducer opened #84 "Clarifai not working"
[code]

[2017-04-13 12:53] pekapa commented on #83
This is the sign up page.
For the login page I don't have captcha yet, do you have on in there as well?

[2017-04-13 12:54] vlntdds commented on #83
This always been the instagram login page.
The class elements for not logged in users is always the same.

Still working as indeed.

[2017-04-13 14:02] sugionodjojo commented on #61
@timgrossmann

hi,

i am using ubuntu, so it will be linux,

tried pip install -U pip setuptools

it did install setuptools

and command python setup.py install run

return with

File "setup.py", line 1, in <module>
from setuptools import setup
File "/Instapy/setuptools/__init__.py", line 12, in <module>
import setuptools.version
File "/Instapy/setuptools/version.py", line 1, in <module>
import pk

[2017-04-13 14:08] vlntdds commented on #61
Seems like you messed your python installation on this machine.

[code]

[2017-04-13 14:20] nick-preda opened #85 "don't like option"
hi guys,

does the dont_like option really work?

i've got my array of:

dont_like = ['funny', 'love', 'friendship', 'smile', 'pretty', 'live', 'onedirection', 'profile', 'guy', 'look', 'boy', 'boys', 'gay', 'homo', 'food', 'girl', 'hot', 'sexy', 'cars', 'bride', 'girls', 'luxury', 'shoe', 'shoes', 'legs', 'leg', 'bikini', 'fashion', 'moda', 'me', 'selfie']

but i can see that the script likes and

[2017-04-13 14:31] ToJen commented on #83
@vlntdds I meant CAPTCHA, the only page that loaded was that one then the program crashed

[2017-04-13 14:34] sugionodjojo commented on #61
hello,

did all the above, last sentence was finished processing dependencies for setuptools==33.1.1

and when i input command python setup.py install
the result
File "/InstaPy/setuptools/__init__.py", line 13, in <module>
from setuptools.extension import Extension
File "/InstaPy/setuptools/extension.py", line 7, in <module>
from six.moves import map
ImportError: No module named six.moves

I did a

[2017-04-13 14:57] pekapa commented on #83
@ToJen,
Mind sharing the traceback?

[2017-04-13 15:00] pekapa commented on #85
You don't need the `.set_ignore_if_contains(dont_like)`
`.set_ignore_if_contains` acts as a overpass for the `.set_dont_like`, meaning that, even if one of the `dont_like` tags is present the image will still be liked.

[2017-04-13 15:05] vlntdds commented on #61
You definitely have a messed python installation and dependencies on this machine.

Are you SURE that you have `python3-pip python3-dev build-essential` installed?
Are you SURE that they are not reffs for any virtualenv?
Are you SURE that you upgraded pip before running `pip install .`?

[2017-04-13 15:08] vlntdds commented on #83
Just tested it again and the class still `_fcn8k`.
Still waiting for the logs.

[2017-04-13 15:08] sugionodjojo commented on #61
yes, i did follow the instruction to set up droplet , and did it till setup virtualenv

hmmm, how to clean it up?

python3-pip python3-dev build essential have been installed many times, under root directory, /InstaPy directory, and maybe virtualenv too

uninstall virtualenv will work?

regards,
Sugi

[2017-04-13 15:12] sugionodjojo commented on #61
rm -rf venv ?
will enough?

regards,
Sugi

[2017-04-13 15:21] sugionodjojo commented on #61
i remove virtualenv with the above command. then try to upgrade pip

the first command good
the second one, distribution, return with red letter, no version that satisfies the requirement.

is it easier to clean install all over again?

regards,
Sugiono

[2017-04-13 15:23] sankalpsingha opened #86 "Getting pyvirtualdisplay error."
Running it in my Ubuntu Server raises error :
[code]

[2017-04-13 15:24] sugionodjojo commented on #61
my bad, please ignore the above ( distribution) i forgot to write --upgrade

[2017-04-13 15:30] sugionodjojo commented on #61
yes, that six.moves still a problem, please help me with command to clean up what i already mess up , if there is ?

if not then, maybe better to build another drop let and start all over again?

regards,
Sugiono

[2017-04-13 15:46] nick-preda commented on #85
made the modification, and I still get the same thing though.

i've got my
`dont_like = ['kid', 'kids', 'child', 'baby', 'daughter', 'son', 'instamum', 'mum', 'mother', 'instakids', 'igbaby', 'igkids', 'instakids', 'bunny', 'children', 'instaselfie', 'funny', 'love', 'friendship', 'smile', 'pretty', 'live', 'onedirection', 'profile', 'guy', 'look', 'boy', 'boys', 'gay', 'homo', 'food', 'girl', 'ho

[2017-04-13 16:07] timgrossmann commented on #84
@songproducer Could you also post the link of the image this happened at?

[2017-04-13 16:13] timgrossmann commented on #85
@nick-preda please save us (the collaborators) some work and read through the documentation...

It clearly says, that ```set_dont_like()``` means "I don't want to like posts that contain one of these".
The ```.set_ignore_if_contains()``` means "Even if the post contains one of the don't like ones, i still want to like it"

e.g.

[code]

[2017-04-13 16:13] #85 closed

[2017-04-13 16:15] timgrossmann commented on #86
@sankalpsingha
[code]

....

[2017-04-13 16:15] #86 closed

[2017-04-13 16:49] songproducer commented on #84
https://www.instagram.com/p/BSyyNlyg48F/?tagged=food

[2017-04-13 19:29] pekapa commented on #14
@timgrossmann I believe the number of likes and comments on the current picture should be used as a filter.

[2017-04-13 20:05] sankalpsingha commented on #86
I did. I am still getting the error.

[code]

[2017-04-13 21:36] sankalpsingha opened #87 "Unicode Encode Error?"
After running it successfully, I am getting a UnicodeEncodeError

[code]

[2017-04-14 04:14] AlainPilon commented on #70
Actually, I dont think we should randomly like photos from the user. Instead, pick those with the same keywords or those which already have the more likes.

[2017-04-14 04:27] AlainPilon opened #89 "Making the bot harder to identify"
I think we should randomize all the numeric values used in the app (wait time, number of likes, comments, etc..) using a normal distribution. This would be more realistic of human behaviour.

Any monitoring system would find it odd that the user is always linking exactly 50 images and always waiting 2 seconds between clicks...

My idea would be to wrap any number into a lambda which would return t

[2017-04-14 05:35] ToJen commented on #83
It's good now. I think I was making changes half asleep haha

[2017-04-14 05:38] ToJen commented on #83
However, how do we handle situations where Instagram changes their DOM and all the elements?
I'm thinking some kind of good natural language parser (which I haven't learnt much about yet) could be used to improve the scraper. What do you think?

[2017-04-14 06:25] sugionodjojo commented on #61
hello

yes, i did all over agian and it went smootly
i can do pip install .
i can also do python setup.py install

and then what to do next? i have edit the quickstart.py
and when read again all the comment from Timgrossmann, found i can do trick like python3.5 quickstart.py

which i did, and back with result

Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from

[2017-04-14 07:23] sugionodjojo commented on #61
forgot to include chromedriver, did it now
re-do all the upgrading, still pyvirtualdisplay is a problem, did search on internet , come up with checking pip version and virtualdisplay, and the result

Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import Insta

[2017-04-14 07:23] sugionodjojo commented on #61
perhaps this is the reason?

root@ubuntu-512mb-sgp1-01:/# sudo -H pip3 install --upgrade pip
Traceback (most recent call last):
  File "/usr/bin/pip3", line 11, in <module>
    sys.exit(main())
  File "/usr/lib/python3/dist-packages/pip/__init__.py", line 215, in main
    locale.setlocale(locale.LC_ALL, '')
  File "/usr/lib/python3.5/locale.py", line 594, in setlocale
    return _setlocale(categor

[2017-04-14 09:16] timgrossmann commented on #87
Copy of #45

[2017-04-14 09:16] #87 closed

[2017-04-14 09:17] timgrossmann commented on #89
I did a lot of the randomness with cron and the quickstart.py file. But you're right, this should probably be part of the tool

[2017-04-14 09:18] timgrossmann commented on #61
@sugionodjojo This really is the wrong location to post this...

What language are you using?

[2017-04-14 09:22] timgrossmann commented on #14
@pekapa Well if you'd do that, the filter would be really dependent on the timing... Even a profile with thousands of followers could have a post with only few likes and comments directly after they posted them.

[2017-04-14 09:23] timgrossmann commented on #86
Do you run it locally?
http://stackoverflow.com/questions/27109176/importerror-no-module-named-display

[2017-04-14 09:25] timgrossmann commented on #70
@AlainPilon Yes, that's probably a good idea.
But it's way harder, that way you need to look at each picture and compare the "semantic distance" of the posts.
With the random approach it would be way easier to implement

[2017-04-14 09:31] timgrossmann opened #90 "Clean up the Readme"
#### Would be nice if someone could clean up the readme.md file

DoD:
- [ ] replace all HTML Tags with markdown

[2017-04-14 09:40] sugionodjojo commented on #61
Yeah, sorry about this.

"How to do " , i thought is the place to share experience installing InstaPy , turns out I have problem doing it with digitalocean droplet since python always go to 2.7 version although 3.5 installed, and no matter how i update pyvirtualdisplay,it always goes to python 2.7.

I even uninstall python 2.7, then update pip and pyvirtualdisplay, end up haveing problem with fold

[2017-04-14 13:39] littleswany commented on #14
I have submitted a pull request adding this

[2017-04-14 13:44] littleswany commented on #83
@timgrossmann This issue can be closed as it is not an issue and has been resolved.

@ToJen At the moment we have to manually handle issues when Instagram change their DOM.

[2017-04-14 14:00] pekapa commented on #14
@timgrossmann that's very right indeed, but one can use that together with the follower count.

[2017-04-14 14:04] pekapa commented on #89
I'm up for doing that as I was thinkg about it just yesterday.

[2017-04-14 14:23] ToJen commented on #83
Sure, I'll close it now.

[2017-04-14 14:23] #83 closed

[2017-04-14 14:52] ToJen commented on #89
@pekapa same here

[2017-04-15 01:29] Eldress opened #93 "NoSuchElementException - Error"
Hi, thanks for your app and great services ;) PLease could you help me, I have an issue with running this program; NoSuchElementException: Message: no such element: Unable to locate element: {"method":"name","selector":"MYUSERNAME"}. I have tried everything, but still doesnt work :/

Thank you anyway, have a great day :)

[2017-04-15 02:15] AlainPilon commented on #89
same here... Push something and we can share ideas.

[2017-04-15 03:24] AlainPilon opened #95 "Improving ClarifAI usage"
After assessing how InstaPy could help me, I realized that it is liking/commenting a lot of stuff which isnt related to my account interests. So I decided to checkout ClarifAI (made a PR about it #94 ) and realized that image analysis is only used to determine if the post should be commented or not.

So I propose we also use it to determine if if should be liked or not and later on if we should fo

[2017-04-15 04:49] amilios opened #96 "Operand Type Error"
I get the following error when trying to run occasionally:

[code]

[2017-04-15 09:37] timgrossmann commented on #61
@sugionodjojo

you can simply "force" it to use 3.5 by typing:

[code]

[2017-04-15 10:02] timgrossmann commented on #93
@Eldress could you please provide some context?
What post caused this error?
What were your settings?
Which OS?

[2017-04-15 10:04] timgrossmann commented on #89
@pekapa @ToJen @AlainPilon Feel free to make a PR with your changes.

[2017-04-15 10:06] Eldress commented on #93
Thank you for your quick reply. I use Mac OS (sierra)
I have followed the guide to install everything
then I started quickstart.py, google chrome opened with instagram log in page - (30 sec nothing) - then this error occured.

[2017-04-15 10:07] timgrossmann commented on #96
Hey there, well what "amount" did you provide in your quickstart.py?

could you paste in your setup?

[2017-04-15 10:08] timgrossmann opened #97 "Switch from Clarifai API v1 to v2"
#### It would be nice, if we could switch our clarifai API from version 1 to the newer version 2 to make sure the script is supported longer

[2017-04-15 10:57] anpusheshop opened #98 "TypeError: object of type 'NoneType' has no len()"
my steps:
pip install . | (successful)
quickstart.py - changed username and password
and then I launched the program - google chrome with instagram lon in page opened
and this error occured:
`quickstart.py", line 11, in <module>
    InstaPy(username=os.getenv('my_username'), password=os.getenv('my_psw'))\
/InstaPy-master 2/instapy/instapy.py", line 68, in login
    if not login_user(self.browser,

[2017-04-15 12:56] foname commented on #98
Have you ever tried ?
`
export my_username="<Your username>"
export my_psw="<Your password>"
`

[2017-04-15 12:59] amarlearning opened #99 "No title is set in the official page of InstaPy"
No title is set in the official [page](https://timgrossmann.github.io/InstaPy/) of InstaPy
![screenshot from 2017-04-15 18-28-09](https://cloud.githubusercontent.com/assets/9383897/25063696/55b05ce8-2209-11e7-90e8-a0b6b1ae534a.png)

[2017-04-15 13:22] anpusheshop commented on #98
I set my acc info in the file quickstart.py. I have to set them in cmd?

[2017-04-15 13:32] foname commented on #98
You can try to export your variables in cmd, and then run the script.

[2017-04-15 13:34] amilios commented on #96
Well, I'm dumb. Issue solved. I'm capturing amount from sys.argv directly,
and not converting it before I pass it. Sigh, the curse of dynamic
languages.

On Sat, Apr 15, 2017, 07:07 Tim Großmann, <notifications@github.com> wrote:

--
Aristides Milios
_______________________________
aristides.milios@gmail.com
aristides@bitness.io
(902) 579-0324

[2017-04-15 13:36] #96 closed

[2017-04-15 13:36] timgrossmann commented on #96
@amilios Perfect, thank you!
This will probably help a lot of people having the same issue 😉

[2017-04-15 13:40] anpusheshop commented on #98
It doesnt help :/ Thanks anyway, any other suggestion : )

[2017-04-15 13:49] pekapa commented on #89
Just pulled #100 to help with this.

[2017-04-15 13:51] foname commented on #98
Are you still getting the same error?
You could check your env from your console
`printenv my_username`
`printenv my_psw`
If you export it correctly, it'll print out your values.

[2017-04-15 13:54] timgrossmann commented on #99
@amarlearning Would be interesting to know how this works with the default github pages `.md` and `docs/` folder 😉
If you get it working, I'd love to know how that works

[2017-04-15 14:05] Rchristo opened #101 "Raspberry Pi?"
Hi thanks for this amazing work.

Will it be possible to run this on an raspberry pi? Would love to try this for a longer period of time.

[2017-04-15 14:09] hillockink commented on #101
You should read the Medium post by Tim Grossmann, a lot is explained there or have links/references to it.

https://medium.freecodecamp.com/my-open-source-instagram-bot-got-me-2-500-real-followers-for-5-in-server-costs-e40491358340

[2017-04-15 14:09] littleswany commented on #99
The fix is to add to _config.yml

`title: InstaPy`

Have updated as such in pull request

[2017-04-15 14:09] #99 closed

[2017-04-15 14:10] anpusheshop commented on #98
Ok, I moved forward. Now the script fills usernam and pasword. the usernam and psw are export correctly in the cmd, but in instagram log in page the script writes it with "<>" so from username is <username>. Any suggestion, but thank you very much!!

[2017-04-15 14:10] amarlearning commented on #99
@timgrossmann You should read [this](https://guides.github.com/features/pages/#changes) article if you want to know more about `how to make changes in Github pages`

PR submitted for this issue!

[2017-04-15 14:10] timgrossmann commented on #99
solved by #102

[2017-04-15 14:10] vlntdds commented on #101
It has enough ram?
It runs chrome?
If all that are true, you will run this project as an normal computer.

[2017-04-15 14:11] vlntdds commented on #98
Are you writing "<username>" or "username"?

[2017-04-15 14:13] vlntdds commented on #89
As i said, instagramweb seems to gather all the mouse/keyboard events via javascript.

I think that simulating the page movement is more efficient than random sleep times (also with the page loading times, it will be equivalent to a random sleep time).

Random sleep times without some page interaction will still flag as a bot.

[2017-04-15 15:11] anpusheshop commented on #98
It is working finally. Thank you very much...

[2017-04-15 15:16] AlainPilon commented on #98
Well, I had to reinstall everything and now I am getting this`no len()` error... What did you do to fix it? My PW and and login are correctly exported.

[2017-04-15 15:24] foname commented on #98
Please make sure that you export with correct variable names.
If you are newly pull from master, in your quickstart.py will look like below:

`InstaPy(username=os.getenv('INSTAGRAM_USER'), password=os.getenv('INSTAGRAM_PW'))`

In this case you have to export 'INSTAGRAM_USER' and 'INSTAGRAM_PW'
In order to make sure try to use 'printenv' to check the values.

[2017-04-15 15:37] AlainPilon commented on #98
was a typo on my end... I think we can close this now.

[2017-04-15 15:53] sugionodjojo commented on #61
hello,

am not sure if i can carry on on this thread, but I think it is useful for whoever want to try InstaPy

droplet digital ocean, USA server and singapore server, I have problem when updating pip3, that is why pyvisualdisplay always got problem.

the problem updating pip looks the same, unable to set locale, here is the exact result when i do
root@ubuntu-512mb-nyc2-01:~# pip3 install --upgrad

[2017-04-15 16:04] tibor opened #105 "Invalid Syntax time_util.py"
Hi,

I get the following error:

`
from .instapy import InstaPy
  File "/home/tibor/InstaPy/instapy/instapy.py", line 12, in <module>
    from .comment_util import comment_image
  File "/home/tibor/InstaPy/instapy/comment_util.py", line 5, in <module>
    from .time_util import sleep
  File "/home/tibor/InstaPy/instapy/time_util.py", line 2
    import random import gauss
                       ^
S

[2017-04-15 16:07] AlainPilon commented on #105
@tibor there is already a PR to fix this. Until it is merged, just go in `instapy/time_util.py` and replace `import random import gauss` with `from random import gauss` and do the same for the next line

[2017-04-15 16:10] AlainPilon commented on #95
I did a clean up in pr #106 to make things clearer for the next person looking into this

[2017-04-15 16:22] vlntdds commented on #61
@sugionodjojo This really is the wrong location to post this [2].
The Ubuntu guide already have the locale settings, all properly tested in AWS and DO.

[2017-04-15 16:24] foname commented on #93
@Eldress Does it fill up your username and password? If not, I guess it cannot find username element. In this case, please make sure that you checkout the latest code.
And double check again that InstaPy/instapy/login_util.py has the line same as below:

`username_elem = browser.find_element_by_name('username')`

[2017-04-15 16:25] tibor commented on #105
Thanks, Sorry

[2017-04-15 16:25] #105 closed

[2017-04-15 16:30] hillockink opened #108 "SyntaxError, like_util.py"
Syntax error: Missing parentheses in call to 'print' in like_util.py, line 80

Original:   print "Number of Followers: ", num_followers
Correction:   print( "Number of Followers: ", num_followers)

PS: There is also a mix of single and double quotes on line 77-79 vs 80.

[2017-04-15 16:33] AlainPilon commented on #108
Is this version dependant? Because I get no errors in the python interpreter if I dont put the parentheses.

On a separate note, I think we should use `"something {}".format("cool")` to format our strings instead of concatenations.

[2017-04-15 16:44] hillockink commented on #108
Yes, but one should follow the new protocol of Py3.

Running Py3.5.2 through Powershell and VS Code.
The linter in VS Code is, however, quite sensitive. Flags for every damn thing.

[2017-04-15 17:00] AlainPilon commented on #108
I suggest you create a PR, go over all the code fix these in a single commit. Then again, some of the PEP8 standards are pretty anal so I dont know how @timgrossmann feels about the project following the standard.

[2017-04-15 17:19] hillockink commented on #108
Put that on a t-shirt.

[2017-04-15 17:19] #108 closed

[2017-04-15 18:31] sugionodjojo opened #110 "problem with chrome driver , ubuntu 512mb RAM"
hello,

have this issue

root@ubuntu-512mb-nyc2-01:/InstaPy# python quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 8, in <module>
    InstaPy(username=os.getenv('xxxxxx'), password=os.getenv('xxxxxx'))\
  **File "/InstaPy/instapy/instapy.py", line 34, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)**
  File "/us

[2017-04-15 18:36] #110 closed

[2017-04-15 18:46] vlntdds commented on #110
Read the entire documentation

**Make sure to use the 1GB RAM version (or better)**

[2017-04-15 19:02] timgrossmann commented on #95
@AlainPilon Sorry for the late response... Been quite busy today.
Glad you found it out and cleaned it up. Thank you!

[2017-04-15 19:02] #95 closed

[2017-04-15 19:05] #98 closed

[2017-04-15 19:05] timgrossmann commented on #98
@AlainPilon Perfect, thank you!

[2017-04-15 19:30] harmanpreet93 opened #111 "Post link validity check"
Post might get deleted, hence raising 'Page Not Found' issue.

Scripts stops at that point with ValueError: Need more than two values to unpack

[2017-04-15 19:39] vlntdds commented on #111
This was fixed in the past.

You have the full tracelog?

[2017-04-15 20:01] harmanpreet93 commented on #111
Adding screenshot! @vlntdds

![trace](https://cloud.githubusercontent.com/assets/9989122/25066481/3e12b8c0-2244-11e7-970c-3340920e62f0.png)

[2017-04-15 20:28] vlntdds opened #112 "Fix OSx and Linux scripts"
I've tried to use the automate installation scripts and the OSx one didn't work OOB.
And i think that the Linux scripts could be merged in only one, since there's how to distinguish if is x86 or x86_64.

- [x] Fix the OSx script and make sure that it works with OOB OSx installations
- [x] Merge the two linux scripts into just one
- [x] Check if is possible to move them to another folder (just to c

[2017-04-15 21:08] pekapa commented on #111
Just created a PR to fix that.

[2017-04-15 21:18] vlntdds commented on #111
@pekapa it fixes, but now i get "Invalid Like Element!'" after the "Unavailable Page" and it stucks in the same page. Could you check, please?

![image](https://cloud.githubusercontent.com/assets/5658870/25066818/d1fbb358-2207-11e7-9376-8c81b4d21b80.png)

Thanks.

[2017-04-15 21:56] pekapa commented on #111
Done.
I changed the behaviour to it's now considered as "inappropriate" and don't try to like it.

I think the term "inappropriate" is starting to be used for other things and should probably be changed (also, to reverse the boolean logic so it's more friendly as suggested in another issue).

[2017-04-15 21:59] vlntdds commented on #111
Thanks, i've merged it.
@harmanpreet93 could you test now?

[2017-04-15 22:14] #101 closed

[2017-04-16 05:27] harmanpreet93 commented on #111
Yeah! its working fine now! @vlntdds

[2017-04-16 05:27] #111 closed

[2017-04-16 11:54] tibor commented on #90
Have replaced html tags with markdown in #116

[2017-04-16 12:06] tibor opened #117 "Page crash"
While everything works as expected on my MacBook, I’m not getting the script to run on my VPS:

[code]

Is this due to my setup? Both ram and cpu seem to be powerful enough for InstaPy and Chrome.

[2017-04-16 12:49] vlntdds commented on #117
Make sure that pyvirtualdisplay is working, that Chrome runs and that machine and that the machine haverá resources for that.

Not an instapy related issue.

[2017-04-16 14:51] #90 closed

[2017-04-16 16:22] sugionodjojo opened #118 "too few image, aborting"
hello,

how to cope with system aborting because too few image?

can i add something so that when the first tag resluts too few image, instead of aborting, can continue to the second tag?

[2017-04-16 16:24] Nemixalone opened #119 "[WIN] GUI tool for InstaPy script"
Hell everyone,

When I saw this script first time I liked it a lot. Real people are responding and following back not bots. So I experimented a lot with functions, i know it's simple (at least for us programmers) to use it, but what if people, who don't know how to use it, discover it and they would be probably like "what is this this ain't app.". So i thought maybe i should make some simple GUI t

[2017-04-16 16:28] timgrossmann commented on #119
#44 😉

[2017-04-16 16:29] timgrossmann commented on #118
@sugionodjojo Good observation, this will be added soon

[2017-04-16 16:33] Nemixalone commented on #44
I am on it :+1: :)

[2017-04-16 18:44] tibor opened #120 "Emoji"
Hi,

On my MacBook the script won’t start when there are Emoji in the comments section. I’m only using those Emoji mentioned in unicode.md and the same script works on other machines very well.

When I declare the script as utf8 (```# coding: utf8```) the script starts at least but crashes when the comment is being inserted the first time:

[code]

This is what my script looks like:

[code]

Has a

[2017-04-16 19:37] vlntdds commented on #119
I have the same thoughts of @AlainPilon
Is TOO early to do a thing like that.

And sadly, if instagram see this, they will end with that so fast.
With an Windows GUI this would be with less time.

GUI for installation and setup: OK
GUI for use: Nah, i guess no.

[2017-04-16 19:42] vlntdds commented on #120
It's not InstaPy related.

Why you don't use the unicodes code instead?
https://en.wikipedia.org/wiki/Emoji

[2017-04-16 20:00] Nemixalone commented on #119
I am working only with his functions and arguments I dont go into code it self.
Basically if you tick option program will write down "session.login()" or any of the functions. Who knows C# can check out on link down.

I have made first working version which needs polishing of course. You guys can download it [here](https://github.com/Nemixalone/GUI-tool-for-InstaPy-script). File is InstaPy.exe in

[2017-04-16 20:27] timgrossmann commented on #120
@tibor This won't work this way...

You have to do it with the unicode characters like @vlntdds mentioned.

e.g.
[code]

[2017-04-16 20:28] #120 closed

[2017-04-16 20:30] timgrossmann commented on #119
@Nemixalone I think this is not too bad.
The problem is, like they mentioned, it'll change really fast.

I still think, this is nice to start with.
What you should definitely  do, @Nemixalone , is add a Readme.md file to your project with explains what your tool is doing and provide one or two pictures of the GUI, this will maybe attract a few users.

[2017-04-16 20:31] timgrossmann commented on #117
Make sure you have > 1GB RAM...

[2017-04-16 20:32] timgrossmann commented on #93
@Eldress Is the issue solved?

[2017-04-16 20:36] timgrossmann commented on #14
solved by #91

[2017-04-16 20:36] #14 closed

[2017-04-16 21:40] Nemixalone commented on #119
I will try to keep up, I only need how you call functions e.g.
 `session.set_do_follow(enabled=True, percentage=10, times=2)`
Program works that way when you tick checkbox and add tags or percent and click **RUN !** button it will generate whole **quickstart.py** file from begging till end. Then it will create a little batch file to set UTF-8 coding and call for quickstart.py, the rest is up to yo

[2017-04-16 22:13] Eldress commented on #93
I am sorry, yea it is. I did not use cmd, but jsut python idle.... sorry for late respons and thank yo uvery much for the programm :)

[2017-04-16 22:17] #93 closed

[2017-04-16 22:35] Nemixalone opened #123 "Error with conversion"
Just got error for trying to convert int to string. I hope you can see from image.
Lower limit was 100.
Upper limit was 2500.

![jbg](https://cloud.githubusercontent.com/assets/7568344/25074814/60239fda-2305-11e7-88f2-b5cd8918195f.png)

[2017-04-16 22:49] Nemixalone commented on #123
File **like_util.py**
Add str () in this line -> print('Number of Followers: ' + **str(**num_followers**)**)

[2017-04-16 22:49] pekapa commented on #123
#122 should fix this.

[2017-04-16 23:36] AlainPilon opened #124 "Is it time for a refactor?"
I think we should refactor the code soon to better extract:
- the selenium commands to browse IG.
- the logic to decide if we should take an action.
- each separate IG action (like, comment & follow).

I came to this conclusion because the current design does not allow using ClarifAI to determine if an image should be liked or not, only determine the comment to write. I have a branch to fix this b

[2017-04-17 00:15] pekapa commented on #124
I agree with you. Loads of stuffs are getting bunched together in the like_util.

I'm interested in the "more AI to analyse" what are you thinking?

Also, you said to hold them for v2, why not v1? (actually, what's the current version, is there any?)
The refactored, cleaned and organised version could be v1.
Major new features goes into v2 (maybe with other ports that you mentioned).

[2017-04-17 01:32] taihoang opened #125 "ImportError?"
Hi!

I was testing out this project, however, when I tried to run it using "python3.5 quickstart.py" it gives me this error:

Am I doing something wrong? Do you know how I can fix this error?

Thanks!

[2017-04-17 01:41] AlainPilon commented on #124
Basically my idea AI would be to use machine learning to guess how much the account owner (me) would actually like the image/follow the user compared to just randomly pick the actioned images.

For example, I like to follow zombie/horror images. The problem is that these keywords are super heavily used on IG to describe pretty much anything but actual zombies. ClarifAI can help here (I did some te

[2017-04-17 02:08] pekapa commented on #125
Have you ran `pip install .`?
(or, to run locally and just install the dependencies, `pip install -r requirements.txt`)

[2017-04-17 02:18] taihoang commented on #125
Yes, I have done both of those! ):

[2017-04-17 02:24] pekapa commented on #125
I see that you're using `python3.5`
Any chance that your `pip` is actually `pip3` as well?

[2017-04-17 02:25] taihoang commented on #125
pip3?

[2017-04-17 02:33] taihoang commented on #125
Whoooopssss, I'm dumb, the dependencies were being installed in python2.7 because of that. My bad!

A new issue appears when I run it now:

Traceback (most recent call last):
  File "quickstart.py", line 15, in <module>
    InstaPy(username='myusername', password='passworddd')\
  File "/home/em/InstaPy/instapy/instapy.py", line 34, in __init__
    self.browser = webdriver.Chrome('./assets/chromedr

[2017-04-17 04:08] jokim1 opened #126 "Chrome Driver for Raspberry Pi"
Hi,

I read Tim's medium post and wanted to try to get InstaPy running on Raspberry Pi 3.

Sorry for not being super technical here, but I'm pretty much stuck when I try to run quickstart.py.

I followed all of the instructions including purchasing and installing Exagear and Chrome as per the instructions from Tim's medium post here: https://eltechs.com/run-google-chrome-on-raspberry-pi/

I believ

[2017-04-17 04:23] vlntdds commented on #126
You need the latest stable chrome ou chromium (v56-58) and latest chromedriver, both compiled for ARM.

And Exagear won't help in this cenario.

[2017-04-17 06:04] #125 closed

[2017-04-17 06:11] taihoang opened #127 "TypeError?"
I tried it out and it seemed to be working for about 2 seconds. After a bit, I get a typecast error like this one:

What do you think could cause this? Should I use a different version of Python (I'm currently using 3.5.0)?

Thanks!

[2017-04-17 06:42] sugionodjojo opened #128 "invalid like Elements"
have anyone experience always return

--> Invalid Like Element !

should I stop for a while before continue again?

[2017-04-17 06:51] sugionodjojo commented on #128
yes, after running 24 hour, i think been chaught...
i cannot even login from my smartphone....hahahhaha

[2017-04-17 07:21] #128 closed

[2017-04-17 11:11] timgrossmann commented on #127
@taihoang Sorry, this was solved in #122

[2017-04-17 11:11] #127 closed

[2017-04-17 11:21] #119 closed

[2017-04-17 11:23] #123 closed

[2017-04-17 11:27] timgrossmann commented on #124
@AlainPilon @pekapa
I really like this Idea!

There currently is no version, since I have never thought that this tool would explode that much 😄

Yes this could definitely be a cleaned up V1.
Like @pekapa mentioned, I'd put the other services like YouTube&Co. in the second version, after we refactored and made this more modular.

[2017-04-17 13:11] gphilips opened #130 "UnicodeEncodeError"
There is a problem with the unicode character "horizontal ellipsis".
It says:

[2017-04-17 14:23] timgrossmann commented on #130
Please use the search function fist...

Duplicate of #45

[2017-04-17 14:23] #130 closed

[2017-04-17 14:39] tibor commented on #117
Yeah, works now with 2GB RAM. I first tried it with the 1GB version as it was mentioned in the quickstart guide, but that seems to be too less.

[2017-04-17 14:39] #117 closed

[2017-04-17 20:25] VergelDijamco opened #131 "Cannot read property 'owner' of undefined"
Was running the code perfectly. then ran it today, and this message showed up.

Any clue? I don't know what to do

`Traceback (most recent call last):
  File "C:/Users/houseDIJAMCO/AppData/Local/Programs/Python/Python36/example.py", line 63, in <module>
    amount=100)
  File "C:\Users\houseDIJAMCO\AppData\Local\Programs\Python\Python36\instapy\instapy.py", line 235, in like_by_tags
    self.usern

[2017-04-17 20:42] alvinlee123 commented on #131
Instagram changed the site.
`user_name = browser.execute_script("return window._sharedData.entry_data.PostPage[0].media.owner.username")
  image_text = browser.execute_script("return window._sharedData.entry_data.PostPage[0].media.caption")`
no longer points to the same place

[2017-04-17 20:55] pekapa commented on #131
working on it

[2017-04-17 21:03] vlntdds commented on #131
Time to refactor the code and think in a better way of get the elements.

[2017-04-17 21:04] vlntdds commented on #131
Edit: in two of my accounts this JS method still works.

[2017-04-17 21:06] pekapa commented on #131
@vlntdds,

really? for me it changed everything to the new graphql...
I've made a PR for it but, since some accounts still use the old one we need to treat both scenarios.

[2017-04-17 21:56] #57 closed

[2017-04-17 23:13] AlainPilon commented on #131
They probably roll out changes incrementally to a % of their user population.

I guess that once we do the "big" refactor and move all click/browse functions together it will be easier to maintain.

[2017-04-18 02:20] vlntdds commented on #124
With #131, we have only more account type.
Maybe it's time to refactor and think about the "anti-bot detection" feature.

I'm already working on the selectors for the itens, thinking that the page will always show up in en-US language.

[2017-04-18 06:09] razvanilin opened #133 "Unable to locate class"
I'm getting this error lately and it's almost impossible to run the script. It works if I try about 5 times to start it. Maybe Instagram changed something and it broke the script.

[code]

[2017-04-18 07:12] jasezzx commented on #110
Hi,
I still got same errors after upgrading to 1GB RAM version. please help. Thanks!

root@ubuntu-512mb-sfo2-01:~/InstaPy# free
              total        used        free      shared  buff/cache   available
Mem:        1016180       46764      575400        3128      394016      789852
Swap:             0           0           0
root@ubuntu-512mb-sfo2-01:~/InstaPy#
root@ubuntu-512mb-sfo2-01:~/Ins

[2017-04-18 07:49] sugionodjojo commented on #110
first , it is not 1gb, it is 512 mb,

and you might want to chmod +u and chmod 755 , chromedriver in assets

[2017-04-18 08:38] jasezzx commented on #110
Thanks for your quick response. I have already done what you mentioned.
and my droplet is 1GB, you could see the attached screenshot and also total mem info below is 1016180. I guess just the name hasn't been updated. thanks
root@ubuntu-512mb-sfo2-01:~/InstaPy/assets# ls -l
total 7332
-rwxr-xr-x 1 root root 7500280 Apr  3 18:21 chromedriver
-rw-r--r-- 1 root root     489 Apr 18 07:00 unicodes.md
r

[2017-04-18 08:40] sugionodjojo commented on #110
have you uncomment #27 and #28 on instapy.py file? related to pyvirtualdisplay
/InstaPy/assets/instapy/instapy.py

[2017-04-18 08:50] jasezzx commented on #110
Yes, seems the default setting in instapy.py file is uncommented like below.

class InstaPy:
  """Class to be instantiated to use the script"""
  def __init__(self, username=None, password=None):
    #self.display = Display(visible=0, size=(800, 600))
    #self.display.start()
    chrome_options = Options()

[2017-04-18 09:15] sugionodjojo commented on #110
delete the #, so that script can work (uncomment)

[2017-04-18 09:29] sugionodjojo commented on #133
i think this belong to like-util.py

the clone git give you updated like_util.py, ( where something like  "_uikn3" mentioned)

try to upload like_util.py, reboot the droplet, pip install ., and then python3.5 quickstart.py again

[2017-04-18 09:32] razvanilin commented on #133
@sugionodjojo I don't really understand what you mean, but if you're trying to say that I should update the like_util.py, then I can assure you that I pulled the latest changes from the master branch and I still encounter that issue.

[2017-04-18 09:36] sugionodjojo commented on #133
nope, sorry, mistaken.... I also experience once, and the line above that could really help, that explain what went wrong. something to do with /instapy/login_util.py and like_util.py

i also always reboot the droplet, start with pip install .
and then python3.5 quickstart.py

then i have successful login......

[2017-04-18 10:48] sugionodjojo opened #134 "cannot read property owner"
this is the comment

root@ubuntu-1gb-sgp1-01:/InstaPy# python3.5 quickstart.py
Logged in successfully!
Tag [1/5]
--> **************
[1/100]
Traceback (most recent call last):
  File "quickstart.py", line 23, in <module>
    .like_by_tags(['*****************'], amount=100) \
  File "/InstaPy/instapy/instapy.py", line 235, in like_by_tags
    self.username, self.like_by_followers_upper_limit, self.l

[2017-04-18 10:52] giebeka commented on #134
https://github.com/timgrossmann/InstaPy/issues/131

[2017-04-18 11:38] pekapa commented on #134
I'm closing this as this is the same as #131
A quick fix can be found at #132 but we are working on bigger improvements to avoid this kind of problems in the future.

[2017-04-18 11:38] #134 closed

[2017-04-18 12:01] oltmannsdaniel opened #135 "Insta Py crashed"
My error message:
[code]

Why does it crash after InstaPy searched for the images of the hashtag? @timgrossmann

[2017-04-18 12:04] sugionodjojo commented on #135
--> b'design'

this part with new git clone, eventhough replace quickstart.py with old one, still got "b" in front of tag.

[2017-04-18 12:09] GaryYiu commented on #133
@razvanilin Can you provide more information about the error? Judging from the error message you provided, it might be related to fix #132 . Instagram changed some of its account query language to Graphql that cause this. But there is no official changes committed to the master. You have to fix it manually according to the commit in #132 . I did the same and my script is running fine.

[2017-04-18 12:10] oltmannsdaniel commented on #135
Sry, belongs to another issue: #131

[2017-04-18 12:10] #135 closed

[2017-04-18 12:41] jasezzx commented on #110
So sorry. What a stupid mistake. Thank you so much: D

[2017-04-18 13:13] sugionodjojo commented on #133
@GaryYiu  I did fix #132 but still got the same message as @razvanilin

furthermore fix #132 is like_util.py, but according to the result , it related with login_util.py

root@ubuntu-1gb-nyc2-01:/InstaPy# python3.5 quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 15, in <module>
    InstaPy(username='****', password='********')\
  File "/InstaPy/instapy/instapy.py", li

[2017-04-18 13:23] sugionodjojo commented on #133
@GaryYiu @razvanilin
for sure it is reboot problem
just reboot, pip install . and python3.5 quickstart.py

it works for me, i mean login successful....
 the rest , i still figure out.....

[2017-04-18 13:37] vlntdds commented on #133
The login page now changes all the classes, maybe it's time related.

As i said, instagram is changing a lot of things, time to wait and refactor instapy

[2017-04-18 14:40] dincerkurnaz opened #136 "unknown error: Cannot read property 'owner' of undefined"
[1/93]
Traceback (most recent call last):
  File "quickstart.py", line 23, in <module>
    .like_by_tags(['dog', '#cat'], amount=100) \
  File "/Users/dincer/InstaPy/instapy/instapy.py", line 235, in like_by_tags
    self.username, self.like_by_followers_upper_limit, self.like_by_followers_lower_limit)
  File "/Users/dincer/InstaPy/instapy/like_util.py", line 59, in check_link
    user_name = brow

[2017-04-18 14:41] pekapa commented on #136
Same as #131
Please have a look over there, we are working on some big changes but, for now, #132 should fix it.

[2017-04-18 14:41] #136 closed

[2017-04-18 14:45] pekapa commented on #124
@vlntdds, just load instagram with this url `https://www.instagram.com/?hl=en-us`
it forces en-US (might need to add the `?hl=en-us` to other page loads as well)

[2017-04-18 14:46] vlntdds commented on #124
The Chrome locale already forces It to loas in en-us, check the code.

[2017-04-18 15:32] #118 closed

[2017-04-18 15:37] timgrossmann commented on #55
mostly solved by #68

[2017-04-18 15:37] #55 closed

[2017-04-18 17:03] raffg opened #137 "Automation based on the likes and follows of popular accounts"
Would be awesome to be able to automate activity to focus on accounts which follow a specified account, or which have liked or commented on a recent post of a specified account.

[2017-04-18 17:04] raffg opened #138 "Ignore accounts with <~20 followers and >~5000"
This is valuable so as to avoid interacting with super popular accounts which will never interact back, or with inactive/spam/new accounts.

[2017-04-18 17:05] raffg opened #139 "Support for Instagram 2-factor authentication"
Let's all make ourselves safer :)

[2017-04-18 17:06] raffg opened #140 "More randomness in activity (on for an hour / off for an hour)"
Add some scheduling ability, so the bot stops activity overnight, or for an hour during the day

[2017-04-18 17:07] raffg opened #141 "Avoid following accounts previously followed"
Keep track of accounts already followed/unfollowed, even when I shut down the console and open a new one the next day

[2017-04-18 17:07] raffg opened #142 "Ignore accounts I have followed myself"
Ignore all accounts I followed manually. Only automatically unfollow accounts which were followed by the bot.

[2017-04-18 17:08] raffg opened #143 "Emojis in comments"
Better handling of emojis in comments. I have added emojis in utf-8, but it would be much easier to import emoji and type :thumbs_up_sign:

[2017-04-18 17:09] raffg opened #144 "Set limits and automatically shut off (for instance, stop commenting after 200 comments)"

[2017-04-18 17:10] vlntdds commented on #137
You can't get the followers from instagram web.
Also, read the existents issues, already have the ideas that you said.

[2017-04-18 17:11] #137 closed

[2017-04-18 17:12] vlntdds commented on #140
Is it up to you on your cronjob.

[2017-04-18 17:12] #140 closed

[2017-04-18 17:12] pekapa commented on #138
Already exists:

According to the docs:

Interactions based on the number of followers a user has
[code]

[2017-04-18 17:12] #138 closed

[2017-04-18 17:15] vlntdds commented on #139
duplicate of #41

[2017-04-18 17:15] #139 closed

[2017-04-18 17:16] pekapa commented on #141
I believe it behaves just like that.
There should be a file called `followRestriction.json` to keep track of that info... is it not working as expected or are you suggesting some changes to it?

[2017-04-18 17:17] vlntdds commented on #144
200 comments?
Instagram will block you if you do that number of comments running this script.

Also: already done with percentage, just calculate the number of images that you're loading and calculate the % of that

[2017-04-18 17:17] #144 closed

[2017-04-18 18:13] AlainPilon commented on #142
So obvious I dont understand why we did not think about it earlier!

[2017-04-18 18:24] timgrossmann commented on #142
I think it would be also really nice if you could unfollow LIFO instead of only FIFO... like #74 already suggested.
That way we would not instantly unfollow the just followed accounts

[2017-04-18 18:27] AlainPilon commented on #142
@timgrossmann I was planing to extract that feature tonight, if time allows.

[2017-04-18 18:28] taihoang opened #146 ""Cannot read property of 'is_video' of undefined"
I ran it and got this error:

Does anyone know how to fix it?

[2017-04-18 18:28] timgrossmann commented on #142
@vlntdds Would be awesome!

[2017-04-18 18:30] tibor commented on #146
I guess that has to do with #131

[2017-04-18 18:32] blesson3 commented on #146
That was just fixed in PR #131

[2017-04-18 18:34] #146 closed

[2017-04-18 20:02] #141 closed

[2017-04-18 20:06] timgrossmann commented on #143
@AlainPilon @vlntdds @pekapa This would really be a nice to have... Especially since some of the issues were due to people using the actual emojis instead of the unicodes.
As long as the comments are part of the clients setup we should make sure to ease the creation up...

What do you guys think?

[2017-04-18 20:07] timgrossmann commented on #133
solved by #145

[2017-04-18 20:07] #133 closed

[2017-04-18 20:08] timgrossmann commented on #131
should be solved by #132 and #145

[2017-04-18 20:08] #131 closed

[2017-04-18 21:51] pekapa commented on #56
@timgrossmann, I think we could add this to v1 as well

[2017-04-18 22:05] hillockink opened #147 "Keep getting same error"
I am getting the same error and I cannot see where that 'b' is coming from. I saw the same error in #135, but without much explanation for why this is so.

--> b'#technology'
[1/100]
Image from: b'picoplay'
Link: b'https://www.instagram.com/p/BTCO87NlkgJ/?tagged=technology'
Description: b'Peaple Get Earwax Extractions For The First Time!\n\xd8\xaf\xd8\xb1\xd9\x88\xd9\x86 \xda\xaf\xd9\x88\xd8\xb4 \

[2017-04-18 22:09] timgrossmann commented on #147
@hillockink  Please provide your quickstart.py setup

[2017-04-18 22:10] timgrossmann commented on #147
http://stackoverflow.com/questions/6269765/what-does-the-b-character-do-in-front-of-a-string-literal

[2017-04-18 22:17] pekapa commented on #143
I like the idea. I was having a look at the `emoji` module and it's just a big dictionary of emojis.
Unfortunately, I could only use selenium with 1 byte emojis (i.e. 167 out of 2388 available in that module)

(just for reference #2 )

[2017-04-18 22:23] vernak2539 opened #148 "TypeError: 'NoneType' object is not iterable"
python 3.6 (also with 2.7)

quickstart.py looks like this

[code]

getting the following error
[code]

[2017-04-18 22:38] hillockink commented on #147
I run mine from a external file, run.py, but I get the same error with an unadulterated quickstart.py, apart from my login information of course.

[2/100]
Image from: b'goldenretrievers'
Number of Followers: 360076
Link: b'https://www.instagram.com/p/BTCuQ7MDn9w/?tagged=dog'
Description: b"Cruisin' \xf0\x9f\x9a\x97 \nBy @lifeofscout_\n\n@lifeofscout_ \xe2\x9d\xa4\xef\xb8\x8f\xe2\x9d\xa4\xef\xb8\x8

[2017-04-18 22:44] pekapa commented on #147
@hillockink, can you please update and see if it persists?

[2017-04-18 22:45] pekapa commented on #148
Same as #147,
Should be fixed now, please update and let us know if it persists (closing this for now)

[2017-04-18 22:45] #148 closed

[2017-04-18 22:49] hillockink commented on #147
Yes, the script is now running fine.

The 'b', however, is still very persistent.

[2017-04-18 23:00] imovertheinternet commented on #147
Thanks @pekapa
I was about to open a similar issue. Your commit seemed to fix my "TypeError: 'NoneType' object is not iterable" and Im not receiving any "b" error.

[2017-04-18 23:07] pekapa commented on #147
Good!

The `b` seems to be related on the `unicode` changes between python2 and python3.
Since it's not raising any problems, I'm closing this issue.

[2017-04-18 23:07] #147 closed

[2017-04-18 23:36] amilios opened #149 ""Owner" not specified?"
I keep getting the following exception:
[code]

What could be the cause?

[2017-04-19 00:03] Nemixalone commented on #149
Maybe you should try with Python 3.5 instead of 2.7

Similar errors #134 and #131

[2017-04-19 00:13] dlt opened #150 "TypeError: 'NoneType' object is not iterable"
I'm getting the following error:

when I try to run the following InstaPy script:

[code]

[2017-04-19 00:14] blesson3 commented on #149
@amilios Have you updated to the latest commit? There was a PR #132 earlier that fixed my issue which looked exactly like yours.

[2017-04-19 00:19] blesson3 commented on #150
Are you up to date on the latest commit?

[2017-04-19 00:20] vlntdds commented on #149
This is not version related.
Wait for a fix

[2017-04-19 00:23] vlntdds commented on #150
For some users it won't work.
Wait for a fix.

[2017-04-19 00:27] AlainPilon commented on #124
While splitting the FIFO unfollow form #74, I had an idea: why not use the page object pattern to structure the way we browse IG? By encapsulating each Selenium call inside a method, it would be trivial to maintain the alignement of the browser code with the site and much easier to maintain features.

For some info on this pattern: https://martinfowler.com/bliki/PageObject.html and the implementat

[2017-04-19 00:29] taihoang opened #152 "Error when image has no caption"
I got this.

[2017-04-19 00:54] #149 closed

[2017-04-19 01:10] hillockink opened #153 "Skipping image because deemed innapropriate"
Would it not be more logical to not increment the number of pictures liked in a sequence if one of the pictures hit one of the conditions of session.set_dont_like?

For example, if picture [1/100] includes the tag 'mumbo', a tag that is deemed inappropriate by session.set_dont_like, and it goes forth to the next picture, the amount of pictures still in sequence would be not incremented and the nex

[2017-04-19 03:34] sugionodjojo opened #154 "wrong login data!"
anyone experience this ? maybe there something need to be set on login_util.py ?
username and password are correct, but i cannot login, always return wrong login data!

[2017-04-19 04:12] sugionodjojo commented on #154
some of account , maybe not yet using xpath, thus old login_util.py will be useful.

https://github.com/timgrossmann/InstaPy/blob/767b2ea4d71f6a0bbf3efc976f7caf705a87e9d8/instapy/login_util.py

[2017-04-19 04:12] #154 closed

[2017-04-19 06:10] jnmcfly opened #155 "unknown error: cannot find Chrome binary"
Hey Guys,

after **pip install .** and downloading and exctracting the chromedriver (for win32, took the path in the *.ps1 file) this happen to me:

[code]
My chromedriver is located in .\assets\chromedriver

any ideas?

[2017-04-19 06:54] GaryYiu commented on #155
Did you remove the hashtag in these two lines of code in InstaPy/instapy/instapy.py ?
#self.display = Display(visible=0, size=(800, 600))
#self.display.start()

[2017-04-19 07:02] jnmcfly commented on #155
@GaryYiu nope, everything original

[2017-04-19 07:14] tibor opened #156 "Run InstaPy minified"
Hi,

I’ve been running InstaPy on my MacBook while working.
Since one of the last versions the InstaPy Chrome Browser always get into focus so that I can’t work in other programs parallel. Is there a way to get the old behaviour back?

Kind regards

Tibor

[2017-04-19 07:43] GaryYiu commented on #155
@jnmcfly Yes you have to remove those two hashtags otherwise Chrome cannot start.

[2017-04-19 08:18] jnmcfly commented on #155
@GaryYiu Now I got this:

[code]

[2017-04-19 08:38] amitbend opened #157 "Docker container is failing"
Hi,
I'm using InstaPy with Docker, following exactly the readme, but every time i see this error on the logs -
`Traceback (most recent call last):
  File "quickstart.py", line 15, in <module>
    InstaPy()\
  File "/InstaPy/instapy/instapy.py", line 35, in __init__
    self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)
  File "/usr/local/lib/python3.5/dist-pack

[2017-04-19 09:31] razvanilin commented on #150
For me it works if I checkout the #132 PR. Also, this issue should still be open until it gets fixed.

[2017-04-19 09:53] vlntdds commented on #155
You have to **COMMENT** the display lines, since you're using windows.
Check if your Chrome installation is fine, if it's not installed on temp or user folder.

Also, you could add `chrome_options.setBinary("/path/to/your/chrome/binary"); ` on the instapy.py file.

[2017-04-19 09:56] vlntdds commented on #157
Do you have sufficient ram for run chrome?

[2017-04-19 10:01] vlntdds commented on #156
On old OSx versions this is an SO behaviour.

Not reproducible on latest Sierra build and it's not InstaPy related, since selenium doesn't bring the chrome window up.

[2017-04-19 10:02] amitbend commented on #157
Running on a laptop with 8GB,
It suppose to be sufficient @vlntdds right?

[2017-04-19 10:03] vlntdds commented on #157
Are you sure that your DOCKER CONTAINER have sufficient resources for run chrome?

[2017-04-19 10:12] amitbend commented on #157
@vlntdds I'm not very experienced with docker,
is there a way to allocate more ram to the specific container to validate that this is the issue?

[2017-04-19 10:17] tibor commented on #156
Hi,

this behaviour is occuring on both of my MacBooks which are running the latest version of macOS Sierra (10.12.4) and started only yesterday.
All versions of InstaPy before didn’t show this behaviour.
So I assume that some changes on InstaPy are responsible for this behaviour.

Further information: This behaviour occurs only while InstaPy is scrolling.
As soon as a post is selected and the lik

[2017-04-19 10:37] vlntdds commented on #156
As i said, OS or Chrome related.

![screen shot 2017-04-19 at 07 35 12](https://cloud.githubusercontent.com/assets/5658870/25175971/060d415c-24d3-11e7-8038-ba49e799f6d9.png)

![screen shot 2017-04-19 at 07 36 22](https://cloud.githubusercontent.com/assets/5658870/25175973/071eb198-24d3-11e7-87d5-44bf3eb27679.png)

If you check the code, there no changes in the scrolling part of code.

[2017-04-19 10:57] jnmcfly commented on #155
Ha! The binary thing got me! I only worked with a portable version of chrome. Installed the full and everything works! Thank you!

[2017-04-19 10:57] #155 closed

[2017-04-19 11:11] sugionodjojo opened #158 "verification by short messages or email"
when i try to login , always fail, the return message was wrong login data

I tried to manual login on application, and always got request to verified by email or sms

is it possible to add if asking to verify by sms or email always choose email, and return command to input verification code?

this could be the learning for me , and if there reading i can refer, i want to get into that.....

[2017-04-19 11:23] pekapa commented on #124
I really like the idea of having classes for each IG page. I was thinking of having more classes but couldn't really grasp how, it makes a lot of sense to split them per page and have them full of actions.

I'll have a look at the resources you shared and get back to you later!

[2017-04-19 11:23] sugionodjojo commented on #158
@vlntdds

maybe something like this ?

  #Check if user is logged-in (If there's two 'nav' elements)
  nav = browser.find_elements_by_xpath('//nav')
  if len(nav) == 2:
    return True
  else:
    action = ActionChains(browser).move_to_element() ( i cannot inspect what is the name button for verify by sms , and verify by email

[2017-04-19 11:27] pekapa commented on #153
Just to be sure, if you say to like 100 images, 100 ones should actually be liked, right?

Maybe we should stop collecting links than and just go clicking them on the search page (like a human would do and aligned with the "anti-bot" features)

[2017-04-19 11:31] pekapa commented on #150
@razvanilin, it was fixed last night. I've made a direct commit to solve it, try updating to the latest version.

[2017-04-19 11:48] #152 closed

[2017-04-19 11:49] pekapa commented on #152
Fixed by PR #159
Let us know if it completely solves for you.

[2017-04-19 12:14] sugionodjojo commented on #158
still got wrong login data

i add this starting line 25 , login_util.py

def ReviewLoginForm_0():

    #Check if user is logged-in (If there's two 'nav' elements)
  nav = browser.find_elements_by_xpath('//nav')
  if len(nav) == 2:
    return True
  else:
    action = ActionChains(browser).move_to_element(ReviewLoginForm_0).click().perform()

I do not think the script click either verified by sms o

[2017-04-19 12:37] sugionodjojo commented on #158
i think i have to leave this alone
#Check if user is logged-in (If there's two 'nav' elements)

nav = browser.find_elements_by_xpath('//nav')
if len(nav) == 2:
return True
else:
return False

and instead change on instapy.py , start from line 74?

[2017-04-19 14:07] vlntdds commented on #158
If there's user intervention needed, we can do nothing about.
If instagram flagged your account as a bot, we can do nothing about.

A little copy of the 2FA authentication, we can't just "wait for an user input" and check if the page was different in an amount of time, since the focus of the application was the use WITHOUT the chrome window.

When an exception like this raise in a console scenario

[2017-04-19 14:14] vlntdds commented on #156
@tibor please, could you check my comment on https://github.com/timgrossmann/InstaPy/commit/fb336bf94ad10cc05d0aec054a0e926ecbb824fd and remove the lines that i said?

[2017-04-19 14:16] vlntdds commented on #157
Have you checked the #110, that say that this could be an issue with pyvirtualdisplay lines?

[2017-04-19 14:17] vlntdds commented on #150
On some/all business accounts it wouldn't work yet.
As i said, wait for a fix (soon)

[2017-04-19 14:24] vlntdds commented on #150
The issues that is related with this issue are:

#134
#146
#149
#152

All of that still happens for some accounts, still working on it.

[2017-04-19 14:51] tibor commented on #156
Hi @vlntdds ,

I commented both lines 70 and 73 and Chrome stays in the background now.
Thanks for reopening!

[2017-04-19 15:06] amitbend commented on #157
Yeah! that was the issue @vlntdds

[2017-04-19 15:06] #157 closed

[2017-04-19 15:17] timgrossmann commented on #153
@pekapa The only problem would be how to extract all the information you get from the separate page of each post...

[2017-04-19 15:27] timgrossmann commented on #157
@amitbend Sorry for the late response... Saw your issue at work, but couldn't comment...
I'll add that instruction to the docker part of the readme.

[2017-04-19 15:33] vlntdds commented on #157
@timgrossmann you could replace the lines in the docker script, without user intervention, right?

[2017-04-19 15:33] amitbend commented on #157
Hi @timgrossmann!
Is there a particular reason to keep those lines commented?

[2017-04-19 15:35] sugionodjojo commented on #158
hello,

yes, without console, 2 quick question,

1. so python cannot interact like Clang, when script can wait for input? ( set aside the headless chrome)
2. so if GUI for login , that timgrossmann and developing would also not help?

[2017-04-19 15:38] vlntdds commented on #158
1. Yeah, it can interact, but in a large percent of cases it will get stuck for non-console users that use cronjob (or other automation tool), already discussed in the 2FA threads.

2. The currently GUI (#44) is not for login, but for setup and creation of an initial script.

[2017-04-19 15:38] timgrossmann commented on #157
@amitbend Yes, because you don't want to use that if you run the script 'locally' without Docker

[2017-04-19 15:41] #156 closed

[2017-04-19 15:49] vlntdds commented on #157
@timgrossmann `sed -ie 's/#self.display/self.display/g' instapy.py` seems to do the trick, could you please test?

[2017-04-19 15:49] sugionodjojo commented on #158
2FA  2 Factor authentication ,

thanks

[2017-04-19 15:49] #158 closed

[2017-04-19 17:11] tibor opened #160 "'ascii' codec can't encode character u'\u270a'"
Seems like something is wrong with the emoji encoding:

[code]

(I'm on the latest version, scripts doesn't work with any emoji which previously worked)

[2017-04-19 17:22] vlntdds commented on #160
Can't reproduce, maybe it's not OS locale related, since the code now uses string.format?
Check your system locale and give us a feedback.

![screen shot 2017-04-19 at 14 21 24](https://cloud.githubusercontent.com/assets/5658870/25192958/995a07e6-250b-11e7-9b24-2086130af69b.png)

[2017-04-19 17:23] timgrossmann commented on #157
@vlntdds Yeah, nice! Also thought of using sed, I'll try this out ASAP

[2017-04-19 17:30] vlntdds commented on #160
Tested it on OSx and seems to work, but on linux it doesn't.
Maybe another thing that goes live without testing, clearly is missing 'u' before the string on output.

Check https://github.com/timgrossmann/InstaPy/pull/161

[2017-04-19 17:35] tibor commented on #160
Can't confirm this working on Mac as well.

For future issues: which information should be at least included in a issue (python version, version number, OS, anything else?)?

Maybe we should add this information to README.md as well to make bugtracking easier.

[2017-04-19 17:37] vlntdds commented on #160
It's not python version related, maybe console output related (since OSx terminal is kinda of relaxed with this), maybe just OS is relevant.

Seems to be fixed on #161, will track another part of code that need this.

[2017-04-19 17:39] pekapa commented on #160
Might be python version related since one of the major 2to3 differences is how strings and unicodes are treated.

We should create a template to help people opening issues.

[2017-04-19 17:42] tibor commented on #160
I'm using Python 2.7.10 here as well.

[2017-04-19 17:42] vlntdds commented on #160
Still on the last revision of string documentation, not version related since there's no unicode flag or prefix on code and 3.5+ still support string literal prefixes.

https://www.python.org/dev/peps/pep-0414/

[2017-04-19 18:11] timgrossmann commented on #157
@vlntdds works really nice! Thank you I'll update that!

[2017-04-19 18:40] tibor commented on #160
Works for me, Thanks!

[2017-04-19 18:42] #160 closed

[2017-04-19 19:33] hillockink commented on #153
@pekapa Yes, that was my intention.
@timgrossmann We would still be needing the information for each post, so I agree that would still be required.

Another idea could be to optimise the rendering of each page by disabling rendering of images to the browser. While for one user the differences miniscule, if automating several users on the same machine (especially low-performance devices such as the

[2017-04-19 19:39] timgrossmann commented on #153
@hillockink You just send the link to the image to the clarifai API endpoint, so I don't think they care 😉

[2017-04-19 20:33] vlntdds commented on #153
@hillockink since we use chromedriver
1 - We can't disable image rendering, since it's chrome related
2 - 1 wouldn't impact on performance, since the hog on instagram page is JS rendering, pure CPU bound, the problems with RAM are from the development of chrome.
3 - Raspberry PI doesn't work with chromedriver and chrome, they compiled for arm run pretty slow and google has abandoned the support fo

[2017-04-19 21:34] pekapa opened #162 "Automate Tests and Continuous Integration"
I was thinking on how we can improve our builds.
Currently we have to manually test for the changes but I believe we could use Travis CI + BrowserStack in order to automate some of that.

Travis CI is free - https://travis-ci.org/
BrowserStack is free for open source projects but they request some additional info -
 https://www.browserstack.com/

[2017-04-19 21:40] AlainPilon commented on #162
I thought about it too, but would'nt it be too noticeable if a bunch of IG browser calls came to IG ever X minutes? And I dont see how we can stub (in a reliable way) IG website.

[2017-04-19 21:44] pekapa commented on #162
Maybe we can try to stub the critical bits, not the whole of IG

[2017-04-19 21:51] vlntdds commented on #162
The cons:

We depend of Chromedriver and Chrome, binaries of those guys differs from OS to OS, **Travis C**I is useless on this aspect.
We must assert that ALL instagram accounts possibilities are tested, some of users that constantly does PR doesn't test or doesn't have how to test this possibilities, **both** are irrelevant.

[2017-04-19 22:14] hillockink commented on #153
@vlntdds Thanks, I did not know that. Apart from the RAM hog Chrome; that one I am painfully experienced in. Aren't we all.

[2017-04-19 22:32] pekapa commented on #162
That's why we use BrowserStack

Indeed, a checklist would already be of great help!

Do we have access to all the options? I don't.

[2017-04-19 23:58] AlainPilon commented on #162
I think that an elegant solution to this issue will be available to us once we extract the browsing commands into the page object pattern. From that point, we will be able to test everything, but the browsing using an integration server. And the browsing could be tested easily on the dev side, since most actions will have no side effects.

[2017-04-20 00:12] pekapa commented on #162
@AlainPilon,
Not sure if you're doing any work on that line but I started some rewriting on that line. I shall push to the develop branch later today or tomorrow at the latest.

[2017-04-20 00:24] AlainPilon commented on #162
@pekapa go for it, I am sick and can't code for 💩  today and I guess it will be the same tomorrow... But if you follow the page object pattern, it should be pretty easy to follow. Basically the goal is to have a class per page, each possible action the user can perform would be an action and the page instance keeps track of the state of each element on it.

If you dont want to push your stuff to t

[2017-04-20 01:36] cheemengs opened #163 "Bug in _sharedData.entry_data"
Options:
dont_like = ['fuck', 'shit', 'bad', 'lousy', 'spit', 'porn', 'disgusting', 'ass']
ignore_words = ['fuck', 'shit', 'bad', 'lousy', 'spit', 'porn', 'disgusting', 'ass']
friend_list = ['xxx']
#like_tags = ['homemade', 'tasty']
like_tags = ['tasty', 'delicious']
InstaPy(username="xxx", password="xxx")\
  .login() \
  .set_use_clarifai(enabled=True, secret='xxx', proj_id='xxx') \
  .set_dont_i

[2017-04-20 05:03] timgrossmann commented on #163
@cheemengs This won't solve the problem, but you have to use `.like_by_tags` as the last command.
`.clarifai_check_img` has to be initialized before running the liking.

[2017-04-20 05:07] cheemengs commented on #163
thank you @timgrossmann

[2017-04-20 07:54] tibor opened #164 "Image appropriate check – false positives"
I just checked some of those images that weren’t liked because they were marked as inappropriate and all of them seem appropriate to me:

https://www.instagram.com/p/BTE7VZhDnAg/
https://www.instagram.com/p/BTFFMr-Bc-X/
https://www.instagram.com/p/BTGSYmlDoDn/
https://www.instagram.com/p/BTFioTUjQlP
https://www.instagram.com/p/BTGVtK7FeC_/

For me, this is a bug because the check
- is very sensiti

[2017-04-20 07:55] #164 closed

[2017-04-20 11:36] Albertmoiseev opened #165 "Multi accs support"
Dear contributors,

I think that multi accounts support will be extremely useful.

Nominally, in the current version, one could create many instances.
However, it is not very  convenient and it will be single-threading.

What do you think about this feature in general and the best way to implement it?

[2017-04-20 15:36] abraztsov opened #168 "Follow by location feature"
Is it possible to add a feature like "follow/like by location" ?

Example: `set_do_follow_by_lcoation(['Los Angeles', 'Miami'])`

It will be very beneficial for targeting the audience

[2017-04-20 15:38] vlntdds commented on #165
Selenium can't work with multi-thread, since is an browser automation tool.
The only way is running multiple accounts via cronjob, and it works like a charm.

Also, already discussed in another issue.

[2017-04-20 15:47] timgrossmann commented on #164
@tibor Did you close this issue because you realised that just leaving `dont_like` out of your script does exactly that?

[2017-04-20 15:49] timgrossmann commented on #168
Copy of #3

[2017-04-20 15:49] #168 closed

[2017-04-20 16:36] Nemixalone opened #169 "Question for contributors"
Emoji Support
You have to convert your comment to Unicode. This can safely be done by adding an u in front of the opening apostrophe: u'\u1234 some comment'

session.set_comments([ u'\u1234 WOW' , u'Nice' ])

Is it wrong to Unicode comment without emoji like second one?
Is this correct format of function call for emoji support ?

[2017-04-20 17:13] tibor opened #170 "Instagress is shutting down"
Not an InstaPy issue, but maybe this is interesting news for some of us:

https://petapixel.com/2017/04/20/instagram-shuts-popular-botting-service-instagress/

I think it's a big plus for InstaPy that we don't rely on
1. a centralized server/IP system
2. oAUTH

[2017-04-20 17:16] tibor commented on #169
That's the correct way and you may also convert comments without emoji to unicode.

[2017-04-20 17:23] Nemixalone commented on #169
Thanks @tibor :1st_place_medal:

[2017-04-20 17:23] #169 closed

[2017-04-20 17:29] vlntdds commented on #170
Not a big plus.
Instagram could take down the repo at anytime.

[2017-04-21 00:02] pekapa commented on #124
#171

[2017-04-21 00:02] pekapa commented on #56
Introduced this on #171

[2017-04-21 00:33] binhonglee commented on #112
Pretty sure it is. Just the pathing needs to be updated.

[2017-04-21 04:24] saphuttu commented on #84
I had similar problem

https://www.instagram.com/p/BTHmQRkBBqy/?tagged=frenchbulldog

Image check error: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//img[@class = "_icyx7"]"}
  (Session info: chrome=57.0.2987.133)
  (Driver info: chromedriver=2.29.461585 (0be2cd95f834e9ee7c46bcc7cf405b483f5ae83b),platform=Mac OS X 10.11.6 x86_64)

[2017-04-21 04:43] timgrossmann commented on #165
closed because of the by @vlntdds mentioned issues...

Also... running multiple chrome browsers in parallel actually costs a whole lot of RAM

[2017-04-21 04:43] #165 closed

[2017-04-21 04:46] timgrossmann commented on #84
@saphuttu This really shouldn't happen...
But thank you for posting, now we know that it definitely is a video-post problem!

[2017-04-21 04:51] timgrossmann commented on #84
Interesting, this really shouldn't happen, since the `Error` should be catched...
[code]

[2017-04-21 08:42] rohitsinha54 opened #173 "Use OAuth instead of asking username and password"
I am not sure if there are any challenges which I am not seeing but will it not be possible to use instagram OAuth to fetch the access token and then use that to make request to instagram and consume the pages as InstaPy does currently with BeautifulSoup or something ?

This will remove the need of an user giving their username and password away.

[2017-04-21 10:10] sharokh1 commented on #143
Use geckodriver (firefox) to use all emojis. Chrome supports just 4 character emojis

[2017-04-21 12:12] pekapa commented on #173
Doesn't it make more prune for an instaban? Like the mentioned in #170 ?

We would need to actually create an instagram app to validade the OAuth with instagram, centralising all the requests...

[2017-04-21 12:57] nonsou opened #174 "Deploying on digital ocean with docker"
Hello,

However I am not a techie but I know with a bit of guidance I can get things to work, I have created a docker server but I can not seem to install your script with the instruction on you github
page. 
docker build -t instapy

I have also tried
docker build https://github.com/timgrossmann/InstaPy

`root@docker-512mb-nyc2-01:~# docker build https://github.com/timgrossmann/InstaPy
Downloading

[2017-04-21 13:11] saphuttu commented on #84
Can i avoid this by some parameter in Clarifai or totally ignore videos while running InstaPy?

[2017-04-21 13:20] pekapa commented on #84
Looks like the problem is occurring when you try to send a video to ClarifAI
For now, you can avoid that by setting `.like_by_tags(tags, amount , media='Photo')` when using ClarifAI so it won't try to work with videos.

[2017-04-21 13:52] saphuttu commented on #84
Thanks @pekapa!

[2017-04-21 17:46] sinwav commented on #126
I could be wrong, but AFAIK chromedriver is not compatible on ARM

[2017-04-21 21:29] tibor opened #176 "Chrome failed to start: exited abnormally"
Hi,

I tried to install the latest build on my new vps and get only the following error message.
Performance-wise should my vps have enough power for Chrome/InstaPy (3GB RAM, 2 CPU).

[code]

[2017-04-21 21:41] vlntdds commented on #176
Duplicate of sooooo many issues.
Just uncomment the pyvirtualdisplay lines AND make sure that you CAN run Chrome before trying this scipt.

[2017-04-21 21:42] vlntdds commented on #173
Will lead to bans AND you can't Interact through pages with oAuth

[2017-04-21 21:45] tibor commented on #176
That was my first guess, but those lines aren't commented anymore in the latest build. #175

[2017-04-21 21:45] vlntdds commented on #126
If you compile, It is compatible.

[2017-04-21 21:52] pekapa commented on #176
@tibor, like said in the last build, just add `nogui=True` on your `quickstart.py`

[2017-04-21 21:53] rohitsinha54 commented on #173
@pekapa : Yes that makes sense. I didn't thought about the ban thing.

@vlntdds : I am new to Python so I might be wrong but in general all OAuth services also allow getting access token either independently or i exchange of oauth which can be sent with the httprequest to fetch pages. While glancing through the requests python module I saw it support passing access token.

[2017-04-21 21:58] vlntdds commented on #173
It's not python related.
You must read the Instagram documentation for that and see the limits.
Won't happen.

[2017-04-21 22:02] tibor commented on #176
Thanks, I missed this one!

[2017-04-21 22:02] #176 closed

[2017-04-21 22:22] rohitsinha54 commented on #173
@vlntdds Agree. My bad earlier I meant fetch pages as in the response of the call not exactly the "html page".

[2017-04-21 22:33] rohitsinha54 commented on #173
Closing this issue as switching to OAuth is not even a possibility due to chances of ban.

[2017-04-21 22:33] #173 closed

[2017-04-21 23:10] dlt opened #177 "Error when trying to run docker container on Ubuntu"
I'm getting the following error when trying to run InstaPy on an Ubuntu machine + docker

[2017-04-21 23:32] pekapa commented on #177
just add `nogui=True` to the `InstaPy` constructor in your `quickstart.py`

[2017-04-22 00:35] #177 closed

[2017-04-22 06:01] imovertheinternet opened #178 "InstaPy on Chromebook"
For anyone interested, its possible and currently running great for me. Originally was going to try @timgrossmann way of setting it up on a raspberry pi but didnt want to pay exagear and remembered I had an old chromebook (intel chipset). Installed crouton to get Linux on the machine, then install python and its dependencies, the Chromium browser works great with the new Webdrivers, and youre gold

[2017-04-22 07:00] timgrossmann commented on #126
Also, you probably could change the code to your needs to use FireFox 😉
https://www.raspberrypi.org/forums/viewtopic.php?f=63&t=129320

[2017-04-22 11:06] abraztsov opened #180 "Question: Auto kill previous run when the new started"
If I'm running my script on ubuntu server every 4 hours with cronjob (`0 */4 * * *`)
how to kill all processes caused by the script (like `chrome`) when the new script starts running ?

[2017-04-22 13:06] timgrossmann commented on #180
@abraztsov The script will, if run correctly, terminate all the used processes once it's done...

[2017-04-22 13:27] tibor opened #181 "Authorization check"
Hi,

with my VPS I ran into the problem that Instagram wanted to check if the request was authorized (e-mail/sms verification).

I wrote this tiny addon which selects e-mail as option at first and then sends the code to Instagram.

[code]

Of cause, we don’t know the code at the first time, so we will have to run the script a second time with the correct code (the code instagram sends stays the sa

[2017-04-22 13:37] vlntdds commented on #181
1 - change the find by id, use XPATH.
2 - If the user runs this via cronjob, It will get stuck and the user will never know that.
3 - Double action declaration for a click, why not chain the events?

[2017-04-22 13:55] tibor commented on #181
1. will update this later
2. This feature isn’t planned to run via cron but should be thought of as an one time enhancement. When you verify your account once on a machine, this machine will be trusted by Instagram as it seems.
I’m also not sure how to use this the best:
    - Just as a Snippet in the readme.md / FAQ
    - Commented out, but in the regular login_util
    - Used in a debug mode wit

[2017-04-22 14:06] abraztsov commented on #180
@timgrossmann > once it's done...
Yes, but if it's not done and new script starts running ?

PS: Tested on local machine with (* * * * *) cronjob and it's seems like chrome open new window every minute without ending old process (all ok, this is expected).

[2017-04-22 16:11] tibor opened #182 "UnicodeEncodeError: ordinal not in range(128)"
Seems like emoji aren’t working on my VPS:

[code]

Does anyone has an idea why this isn’t working?

On the Python FAQ I found [this quote](http://effbot.org/pyfaq/what-does-unicodeerror-ascii-decoding-encoding-error-ordinal-not-in-range-128-mean.htm):

When you do this, Python will usually assume that the 8-bit string contains ASCII data only, and will raise an error if this is not the case.

[2017-04-22 16:15] tibor commented on #182
Sorry, found the answer myself. I guess we should think about a small FAQ in addition to the quickstart guide.

[2017-04-22 16:48] imovertheinternet commented on #163
I have this issue as well. Also using python 2.7 & chromedriver 2.9 Im on linux though.

[2017-04-22 16:56] jdrussell78 opened #183 "[HELP] Newbie help"
Hi,

I was wondering if someone can help, newbie to most of this including git etc.

My quickstart.py file looks like this

from instapy import InstaPy
import os

# Write your automation here
# Stuck ? Look at the github page or the examples in the examples folder

# dont_like = ['food', 'girl', 'hot']
# ignore_words = ['pizza']
# friend_list = ['friend1', 'friend2', 'friend3']

# If you want to e

[2017-04-22 17:22] timgrossmann commented on #180
@abraztsov Ahh ok, why would you want this? You'll definitely get banned if the script runs all day...
You're right, with every start a new chrome tab will be opened.

I'm not really sure what you want to do, but I run my script via cron every 4 hours, too.
But by then, the old run stopped like 3 hours ago.

[2017-04-22 17:23] timgrossmann commented on #182
@tibor could you please quickly write what the answer was? (For future issues)

[2017-04-22 17:24] timgrossmann commented on #163
@imovertheinternet I don't really get why you would want to use python2 ???...

[2017-04-22 17:28] timgrossmann commented on #183
@jdrussell78

Please install python3. https://www.python.org/downloads/

Please take a look at the folder structure in this repository. Don't move the quickstart file anywhere, please!

so this should look like this:
[code]

Make sure that quickstart.py is in the root directory, not where the other `.py` files are

[2017-04-22 17:44] marudon opened #184 "Script terminates sessions before regular ending"
I'm running instaPy on Python 3.6.1 and an Win7 PC

After starting the script I get at once the error message:

--> b' photoart'
Load button not found, working with current images!
Too few images, aborting

Session ended

Hardcopy of the chrom browser just before the session cancel:
![image](https://cloud.githubusercontent.com/assets/27830829/25306723/7846762c-2793-11e7-807f-268869d1d5d7.png)

[2017-04-22 17:47] jdrussell78 commented on #183
Hi Tim,

Thanks.

Ok the file structure is as follows (see uploaded image below:

<img width="253" alt="screen shot 2017-04-22 at 18 44 33" src="https://cloud.githubusercontent.com/assets/25438393/25306761/cfc5d012-278b-11e7-9fdf-35471d785593.png">
<img width="253" alt="screen shot 2017-04-22 at 18 44 33" src="https://cloud.githubusercontent.com/assets/25438393/25306763/d4540e3c-278b-11e7-90ac-99e

[2017-04-22 17:50] jdrussell78 commented on #183
after this i ran

pip install --user pyvirtualdisplay

and got

Requirement already satisfied: pyvirtualdisplay in /Library/Python/2.7/site-packages/PyVirtualDisplay-0.2.1-py2.7.egg
Requirement already satisfied: EasyProcess in /Library/Python/2.7/site-packages/EasyProcess-0.2.3-py2.7.egg (from pyvirtualdisplay)

[2017-04-22 18:28] abraztsov commented on #180
@timgrossmann It depends of how much script logic you have (tags, comments percent, etc..)

Because if a new process starts on a weak machine, CPU will take off to the skies and the server will fall.

[2017-04-22 18:36] timgrossmann commented on #183
@jdrussell78 pip3.{your version} e.g. 3.5 install ;)

[2017-04-22 18:41] tibor commented on #182
I thought it would work with the solution from hariom282538  from #45:
[code]

Unfortunately, chrome crashes then.

[2017-04-22 18:43] timgrossmann commented on #180
@abraztsov Yes you're right.
But I don't really think with the current tools involved (Selenium, Chrome) you won't get that done.
And I'm not really sure if I want that for this project. This shouldn't turn into something everyone just takes and builds a paid service out of it...

[2017-04-22 18:45] tibor commented on #45
Hi @hariom282538,

when I use your solution under CentOS, Chrome crashes immediately when the script starts.
Do you know any other solution?

Kind regards

Tibor

[2017-04-22 18:53] jdrussell78 commented on #183
ok, getting there.... i then had a problem with selenium, don't think i had hat installed

i ran

python3.6 quickstart.py

and got

Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/Users/jonathanrussell/instapy/InstaPy-master/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/Users/jonathanrusse

[2017-04-22 18:55] hariom282538 commented on #45
Please share screenshot.

On Sun, Apr 23, 2017 at 12:15 AM, Tibor Martini <notifications@github.com>
wrote:

[2017-04-22 19:01] timgrossmann commented on #183
did you do pip install . ?

[2017-04-22 19:06] tibor commented on #45
Hi,

attached you can find the screenshot:

![img_0571](https://cloud.githubusercontent.com/assets/3136416/25307322/6b927a3c-279f-11e7-906c-6dd978903bf1.PNG)

[2017-04-22 19:12] jdrussell78 commented on #183
ok I have done that, and then did similar for clarifai too

Oooh oooh

Logged in successfully!

Traceback (most recent call last):
  File "quickstart.py", line 21, in <module>
    session.set_dont_include(friend_list)
NameError: name 'friend_list' is not defined

and then i commented out

session.set_dont_include(friend_list)

what is the syntax for the friend_list?

This is great thanks !!

[2017-04-22 19:23] jdrussell78 commented on #183
Looks like this is working now. Thanks for all your help Tim. Can you tell me how it handles the screen saver ? I turned it off as it seemed to interrupt it ?

[2017-04-22 20:23] abraztsov commented on #180
@timgrossmann Ok. I closed it

[2017-04-22 20:23] #180 closed

[2017-04-22 20:27] timgrossmann commented on #183
@jdrussell78 The syntax for the friend_list should be alright...

I don't really know how he handles it, I'm solely running it on a server.
It should be better to be turned off, but I think it could work with the screensaver on.

[2017-04-22 21:16] jdrussell78 commented on #183
ok, and this is the last question (for now) quite a lot of the images are not liked and the script says "Image not liked: Inappropriate" why is that? where is that controlled in the script?

[2017-04-23 07:20] timgrossmann commented on #183
I'm really sure, that this has to do with these lines...

[code]

dont_like searches the image test for given words. If one of the words is included, it won't like the picture.

If using clarifai, you also have to use `.clarifai_check_img_for(['some_tag'])\`. Because I didn't test what happens if you  specify no check at all.

e.g. here is my clarifai setup:
[code]

[2017-04-23 07:23] timgrossmann commented on #112
@binhonglee Could you submit a PR for the cleanup and update the pathing?

[2017-04-23 07:30] #170 closed

[2017-04-23 07:32] timgrossmann commented on #61
Done by [7d0619f](https://github.com/timgrossmann/InstaPy/blob/master/docs/How_to_Windows.md)

[2017-04-23 07:32] #61 closed

[2017-04-23 07:32] #178 closed

[2017-04-23 07:33] #126 closed

[2017-04-23 07:38] jdrussell78 commented on #183
thanks Tim, where do you define foodcomments and naturecomments?

[2017-04-23 07:45] jdrussell78 commented on #183
can you explain clarifai ?  Do I have to use it ?

[2017-04-23 07:56] timgrossmann commented on #183
@jdrussell78 Absolutely not..
It's just another layer of "security" to make sure people are not trolling with their description of the image...

e.g. I've seen people using "#vegan" a lot and actually posting images of cut off pig heads  or something like that.
In such a case you can simply enable clarifai and let it check for "blood" or something like that and make sure there really is no cut off

[2017-04-23 07:56] #183 closed

[2017-04-23 11:04] tibor commented on #182
At the moment, my server setup is as following:

[code]

Would I have to change anything here?

[2017-04-23 12:15] saphuttu commented on #97
When trying to use Clarifai I'm constantly getting

No new users to v1
https://community.clarifai.com/t/request-was-throttled/402
https://community.clarifai.com/t/accessing-v1-video-analysis-throttled/464

[2017-04-23 12:20] timgrossmann commented on #182
@tibor `LC_ALL`should definitely be `en_US.UTF-8`

[2017-04-23 12:22] timgrossmann commented on #97
@saphuttu Just looks like you already used your 5k free requests per Month...

[2017-04-23 12:22] fwartner commented on #174
The correct usage is ```docker build -t instapy .```

[2017-04-23 12:22] fwartner commented on #174
https://github.com/timgrossmann/InstaPy#build-the-image

[2017-04-23 12:29] saphuttu commented on #97
@timgrossmann No, i didn't get any requests because of APIv1. Clarify is throttling all new v1 users. My Clarify account says in billing

and in usage

[2017-04-23 13:03] CodeMaster1 commented on #97
What is the solution to this issue? I keep getting the request throttled error for image checking. My set up includes this package for clarifai. "clarifai-2.0.20-py3.6.egg". Any helpful pointers here?

[2017-04-23 14:15] littleswany commented on #184
@marudonart Would you be able to post your script that you are using?

But it looks as if the hashtag you are using has no images.

[2017-04-23 14:17] littleswany commented on #84
@timgrossmann or @songproducer This issue can be closed

[2017-04-23 14:20] littleswany commented on #3
@timgrossmann I like the idea but if you are using a widely used hashtag would the percentage go photos from the given locations not be very low so therefore have a large number of skips?

Is there a way within IG to search by location and use that as an alternative to hashtags. This would work well for small businesses trying to interact with local IG users.

[2017-04-23 14:24] littleswany commented on #181
@tibor I had this issue when I had left my VPN on.

Your idea looks like it would work well.

[2017-04-23 14:28] littleswany commented on #44
https://github.com/Nemixalone/GUI-tool-for-InstaPy-script

@timgrossmann or @Nemixalone Looks like this issue is sorted so can be closed?

[2017-04-23 14:42] timgrossmann commented on #97
Oh ok, didn't know this is only for new users...

Did you select v1 in the usage tab? @saphuttu
For v2 it says

for me as well

[2017-04-23 14:50] timgrossmann commented on #184
@marudonart the b'' in front of the string is probably the problem... Could you test it again and copy the URL when the first tag is searched? This will probably be an invalid URL

[2017-04-23 14:51] #84 closed

[2017-04-23 14:53] timgrossmann commented on #3
@littleswany Yes exactly this is the idea.

Well, you could simply use the hashtags of that area e.g. Stuttgart to start with.
And the set_only_locals should run as long as there are n posts found with the locations given.

Still have to look into IG if a search by location is possible. Thank you for the update on this!

[2017-04-23 14:55] timgrossmann commented on #44
@littleswany Problem is, that GUI is only for windows users 😉
Would be awesome if someone could build like a web GUI or something platform independent

[2017-04-23 14:57] littleswany commented on #3
@timgrossmann I can work on something as you described using the hashtag of a location. I will start once the clean up has been merged to the develop branch.

From a quick google search it docent look much like you can search by location, I will look into it in a bit more depth and report my findings.

[2017-04-23 14:59] timgrossmann commented on #3
@littleswany Perfect, thank you!
I think it would be best for that feature if there was like a check if they only used the location hashtag or if they actually tagged their location with the location feature... As long as you can see it on the Web interface...

[2017-04-23 14:59] littleswany commented on #44
@timgrossmann With you on that, on the other repo I commented saying because I am on OSX I couldn't test.

I will look into doing something like a web GUI, would it downloading a .py file be something that could work, if so I can do it with relative ease.

[2017-04-23 15:01] littleswany commented on #3
@timgrossmann Yeah I'm with you, I am pretty sure you can retrieve it using JS just as you do with the username. I will post any update here.

[2017-04-23 15:05] littleswany opened #185 "Utilising the built in GitHub Wiki"
It would be great if we could add Wiki documentation to the project here similar to what is [here](https://github.com/google/material-design-lite/wiki).

We could use it for How To Guides, How To Contribute etc etc.

I am happy to start this, I am just not sure that if I do this on my forked repo that a PR merges it across, so if anyone could tell me how to practically do this that would be great

[2017-04-23 15:09] Nemixalone commented on #44
Or I could (try*) to switch to QT (C++) instead of C#.

*try - cause never done that in C++ but why not try it right, it's all about learning :)

[2017-04-23 15:21] timgrossmann commented on #185
@littleswany That would be awesome!

Especially the part with how to contribute would be perfect!
In the worst case, we can just copy it.

[2017-04-23 15:22] timgrossmann commented on #185
@littleswany I think you can now simply edit the wiki in this repo 😉

[2017-04-23 15:23] timgrossmann commented on #44
@Nemixalone Do whatever you can!
It'll definitely will be useful!

[2017-04-23 15:30] Nemixalone commented on #44
I will do my best.

[2017-04-23 15:58] saphuttu commented on #97
In the usage tab I can't do anything.

[2017-04-23 16:03] tibor opened #186 "Exact match for negative Keywords"
It seems as if the function ```set_dont_like``` not only skips the selected hashtags but also skips all hashtags that starts with the selected hashtags. While this might be useful, too, I guess we should implement an exact match feature as well.

I stumbled upon this issue when I set "#me" as a negative keyword and images with hashtags like "#meindeutschland" wouldn’t be liked anymore.

[2017-04-23 16:10] tibor opened #187 "Stop unfollow_util when there are no users left to unfollow"
It seems as if the unfollow function gets into an endless loop when you have a larger unfollow amount selected than persons to unfollow are available:

![img_0575](https://cloud.githubusercontent.com/assets/3136416/25315103/166f9c0e-2850-11e7-8873-808b4a2b74bf.PNG)

[2017-04-23 16:23] tibor opened #188 "Unfollow issue with verified users"
My account unfollowed three users although they were in the list ```set_dont_include```. Also, console has echoed „Verified“ when unfollowing these accounts.

![img_0576](https://cloud.githubusercontent.com/assets/3136416/25315211/dc036a94-2851-11e7-8a3f-65652d7d721d.PNG)

It seems as if InstaPy ignores the setting made in ```set_dont_include``` when the user is verified.

[2017-04-23 16:43] pekapa commented on #186
I had that with the word "hot", it would skip every post tagged with "photo" or something related. I changed to skip " hot" (with a space before).
I think the solution would be to do a split on spaces to find words and on hashes to find hashtags

[2017-04-23 16:46] CodeMaster1 commented on #97
@timgrossmann cool product. Let me know if rectify this issue.

Thanks for quick reply

[2017-04-23 16:47] tibor commented on #186
Yeah, but I think it would be nice to have both options (broad match and exact match).

[2017-04-23 16:49] tibor commented on #182
Now it seems to work.
My steps were:
[code]

[2017-04-23 16:49] #182 closed

[2017-04-23 18:49] timgrossmann commented on #187
@tibor Yes, that really is an issue...
Same if the currently top 10 followed people are all mentioned in `dont_include`...

[2017-04-23 18:51] timgrossmann commented on #188
@tibor Ahh, good to know! Yes, it just compares the text of the username... Thank you!

[2017-04-23 18:55] timgrossmann commented on #97
@saphuttu You should be able to switch the api version with a slider...

[2017-04-23 18:55] timgrossmann commented on #182
@tibor Perfect, thank you for the reply!

[2017-04-24 00:52] AlexBailey opened #192 "[BAN LOG THREAD] Please Record User Bans Here"
I think it might be a good idea to create a ban log (in this thread?) so we can see activity getting banned for, for example... Settings used when banned, such as tags liked, messages commented, used Claifai API or not and quantities of each, when the ban was date/timezone, along with the given reason of the ban itself. I think if we can detect trends between bans we might be able to keep one step

[2017-04-24 04:17] littleswany commented on #192
@AlexBailey Great Idea.

I know you get a temporary ban if you like more than 300 pictures in an hour.

I believe that you also get a temp ban if you unfollow/(follow) more than 10 people in an hour also and as such the tool has got this factored in.

[2017-04-24 06:44] hariom282538 commented on #45
Hey Tibor,

First of all,This is not an encoding issue and i request my friend @Tim
Großmann to look into this matter. Meanwhile you can check log here
"chromedriver.log"
.
Please execute with super user and have a look "
http://stackoverflow.com/questions/23653461/chrome-failed-to-start-on-centos-using-chromedriver2-9
".

Thanks,
Hariom Vashisth

On Sun, Apr 23, 2017 at 12:36 AM, Tibor Martini <n

[2017-04-24 07:01] marudonart commented on #184
I found the error reason!
I had a blank within the quotes **' photoart'**
After removing it to **'photoart'** the script works

@littleswany:
you are right. if the hashtag has no images the script aborts.

@timgrossmann:
is it by intention that the script terminates if a hashtag has no images?
I think it would be better to log this and go on working :-)

[2017-04-24 07:13] saphuttu commented on #97
@timgrossmann can you take a screenshot. I'm seeing no slider here. :D

[2017-04-24 07:26] tibor commented on #188
Should be working correctly with #193

[2017-04-24 09:37] CodeMaster1 commented on #97
This is screenshot from my clarifai account. If someone can suggest what changes I need to do to get this API used for image identification, please let me know.

![image](https://cloud.githubusercontent.com/assets/7813918/25331179/adf701fc-28ff-11e7-9c46-b17216e0a41b.png)

[2017-04-24 10:54] watty62 opened #194 "Errors from GraphQL (I think)"
When running the test script I get the following output. I raised this with Tim (who suggested that I create this issue) and he thought that this was coming from GraphGL?

Any ideas / solutions?

[1/93]
Traceback (most recent call last):
  File "/Users/ian/development/InstaPy/from instapy import InstaPy.py", line 10, in <module>
    .like_by_tags([‘dog', ‘#cat'], amount=100)\
  File "/Users/ian/de

[2017-04-24 11:11] amitbend opened #195 "Instagram asks for verification every time, deployed on Azure"
Hi,
I deployed a simple instance on an Azure cloud VM.
enabled the `nogui` option, and every time i try to run instagram asks me to verify my account *every time*.

Did anyone had a similar issue? what could be the fix for it?

[2017-04-24 13:19] tibor commented on #195
Hi,

I had the same problem on my VPS.
Try my solution mentioned in #181.

Kind regards

Tibor

[2017-04-24 13:42] vlntdds commented on #195
1 - Don't login your account in another region of the world
2 - Don't abuse of this script
3 - If your account is flagged (verify account/change pwd/another stuff) STOP using if for a while, it will lead you to a hard-ban.
4 - If your account is a business or verified account, the #181 won't work, the code changes on every page request.

[2017-04-24 13:45] tibor commented on #195
4 - That’s not true. I’ve got a business account and the code stays the same.

[2017-04-24 13:46] vlntdds commented on #195
Tested NOW with three accounts, just one doesn't change.
Original logged app: BR
Script region: West EU

[2017-04-24 14:08] marudon opened #196 "Instagram reseted the password of my Instagram Account"
After quite intensiv use of InstaPy, Instagram reseted the password of my Instagram Account.
This was quite scary, are there any experiences about that problem ?

After editing a new Password,  I could go on in Instagram, but maybe it was a warn signal?

Unfortunately I can't say how many likes/comments I posted in what time with InstaPy as there is no session summary

[2017-04-24 14:11] littleswany commented on #196
@marudon I think you have answered your own question, intensive usage will bring up warning flags with IG.

The limit for the number of likes is 300 an hour.

If you check the logFile.txt in the logs folder you will be able to find out the number of interactions.

[2017-04-24 14:15] vlntdds commented on #196
You're now flagged.
If you continue with abusive use of the script, you will lead to an soft-ban/hard-ban.

@littleswany weird, i passed the 300/hour and nothing happened, but with other account got flagged with 50 comments.

[2017-04-24 14:17] littleswany commented on #196
@vlntdds Interesting. I keep meaning to create some accounts and just test them to the limits because at the moment I am just working off what I have seen on the internet. Did you reach an upper limit for the number of likes?

[2017-04-24 14:20] littleswany commented on #192
#193 @marudon If you want to post your findings here to keep it all in one place.

[2017-04-24 14:24] vlntdds commented on #196
I'm testing that right now, mixing login locations and checking the accounts original users habits.
For now one thing is right: the values for ban is not precise, it depends of the account behaviour before the ban flag.

[2017-04-24 14:30] marudon commented on #196
I've heard to advise not to post more than 1000 likes or comments (or likes and comments alltogether?) per day.

Does day means 24 following hours or from 0:00 A.M. to 0:00 A.M. ?

New Feature:
It is hard to configure the script to a certain or max. number of posts as you loose posts when the follower range is not matched (only way to range from 0 to endless number ..
So it would be nice to have a

[2017-04-24 14:31] marudon commented on #196
what are the exact meanings of soft-ban and hard-ban?

[2017-04-24 14:36] marudon opened #197 "New Features"
1: Safety Feature for a better ban control:
It is hard to configure the script to a maximun number of posts as you loose posts when the follower range is not matched (only way to confiure the range from 0 to an endless number ..)
So it would be nice to have a **Max Post Counter**. And InstaPy will stop working when it reaches your edited my post number.

2: Summary report
Summary log after session

[2017-04-24 14:38] littleswany commented on #197
Number 2 is being addressed by #143

[2017-04-24 14:50] vlntdds commented on #197
1 - As i said in another issue, It depends of the user behaviour before the flag. An empty account will not pass 50 likes/hour, but an old account get 1k+.

2 - Already exists

3 - You can't get a list os follow/followers from other users.

[2017-04-24 14:51] littleswany commented on #197
**Point 1**
Currently you can stipulate the number of posts you like by adding amount=x after the tags:

`.like_by_tags(['#photography'], amount=1) \`

**Point 2**
A summary report is given when the script is completed and is logged in the logFile.txt in the logs folder and the summary looks like this:

Already Liked: 1
Inappropriate: 0
Commented: 0
Followed: 0
Session ended - 2017-04-24 17:44:33

[2017-04-24 14:53] vlntdds commented on #196
Soft-ban: the like and comments Will not work (but appears to, the heart icon gets red)
Hard-ban: on a soft-ban, If you keep doing likes, your account gets locked/deleted.

[2017-04-24 14:54] vlntdds commented on #196
There's already an issue for that, like @littleswany mentioned.
Closing that for duplicate.

[2017-04-24 14:54] #196 closed

[2017-04-24 15:13] littleswany commented on #65
The detectlanguage.com api looks like it would be very easy to integrate into the project, something like this maybe:

`session.set_use_detectlanguage(enabled=True, secret='xyz', lang='en')`

`if (detectlanguage.simple_detect() != lang)`

I will play around with it once we have sorted out the code clean up.

[2017-04-24 15:30] littleswany commented on #143
Looks like there is something here, using JS to set the value of the comment filed opposed to using sendKeys. Maybe this could work?

[https://groups.google.com/forum/#!topic/selenium-users/SYr0Xlzds30](https://groups.google.com/forum/#!topic/selenium-users/SYr0Xlzds30 )

[2017-04-24 15:31] littleswany commented on #194
@watty62 I was having a similar issue with an older codebase, are you using the most up to date version?

[2017-04-24 15:40] littleswany commented on #13
@rahulkapoor90 Unfortunately I don't think this is possible to do for DO, it has been requested for DO to create such a feature but at present it does not exist.

@timgrossmann Here is a [link](https://packaging.python.org/distributing/) on how to create a distributable for PyPi

[2017-04-24 15:47] tibor commented on #195
Okay, so it may not work in all cases. For me, it worked without any problem.
Located in: Austria
Script region: Germany (but Instagram recognizes it as UK)

[2017-04-24 17:23] timgrossmann commented on #45
@tibor probably too low on RAM 😉

[2017-04-24 17:24] timgrossmann commented on #184
@marudon Yes, you're right... This is not intended but a bug

[2017-04-24 17:25] #188 closed

[2017-04-24 17:30] timgrossmann commented on #65
I think we also have to discuss whether it is better to use an API (Signup and Keys required) or a light weight dependency...

[2017-04-24 17:32] timgrossmann commented on #143
@littleswany This sounds really interesting! Looks like it is worth giving a try.
I experimented with the "fill with JS" idea a bit when i started to add the commenting feature, but couldn't get it working how i thought that might work.

[2017-04-24 17:33] timgrossmann commented on #13
@littleswany Thank you!
This will be added for V1

[2017-04-24 17:34] timgrossmann commented on #195
I got this with the first run on the server because I, stupidly, used a NYC server...
But after the first click on the approve button it never appears again

[2017-04-24 17:35] #112 closed

[2017-04-24 17:38] #195 closed

[2017-04-24 17:46] deronsizemore commented on #192
@littleswany more than 10 people in an hour leads to a ban? Is that something very new? I follow way more than 10 per hour and have never been banned.

[2017-04-24 18:05] AlexBailey commented on #192
@deronsizemore To be fair with @littleswany I have even heard of this limit myself, I'm certain it's not as low as 10 though, it has been around for a while however.

[2017-04-24 18:07] deronsizemore commented on #192
Maybe I've just been lucky. I have four accounts that I actively build and I've never had an issue.

[2017-04-24 18:09] deronsizemore opened #198 "Trying out on terminal in mac?"
I apologize for the dumb question here, but I'd like to give this a try before attempting to get it going on a server at Digital Ocean or on a Rasberry Pi. I've got some Python experience, but I'm not exactly sure how to run this locally and try it out. Could someone give me a "like I'm 5" version to get this going?

[2017-04-24 18:09] littleswany commented on #192
@AlexBailey @deronsizemore The emphasis was on the unfollow limit of 10, I am not certain for following.

From reading around today and on other threads here I believe the limits can changed based on your account which isn't much help to us.

[2017-04-24 18:12] littleswany commented on #198
Make sure you have downloaded the chrome driver from here [https://sites.google.com/a/chromium.org/chromedriver/downloads](https://sites.google.com/a/chromium.org/chromedriver/downloads) and put that in the assets folder.

Change the quickstart.py file to suite your needs and account details.

Navigate to the folder using cd Downloads etc.

Then run `python quickstart.py`

Let me know if you need

[2017-04-24 18:14] deronsizemore commented on #192
@littleswany @AlexBailey Oh, gotcha. I do unfollow as well, but I try to be a little more careful in that regard than I am when following. I was using another service online to unfollow and had it set to 40 per hour with no issue but who knows. I've read all kinds of things in regards to limits and how it depends on how old your account is and all sorts of things.

For following, I have noticed wh

[2017-04-24 18:30] watty62 commented on #194
Thanks @littleswany How can I tell my version? I will check. Thanks!

[2017-04-24 18:32] littleswany commented on #194
No worries. I'm not sure that you can at the moment.

@timgrossmann İt might be a good thing to include going forward?

[2017-04-24 18:33] watty62 commented on #194
@littleswany Running pip list it says: "instapy (0.1.dev0) "

If I run

will it upgrade?

Ian

[2017-04-24 18:35] littleswany commented on #194
İt might but i don't think it will as we have not got that setup yet i don't think.

How did you install it in the first place and what platform are you on?@

[2017-04-24 18:35] timgrossmann commented on #194
@watty62 No you have to do:

[code]

In the directory of InstaPy

[2017-04-24 18:41] deronsizemore commented on #198
Thanks. That seems easy enough.

So, once this runs, I assume it will just continue to run until your limits are met as long as you're connected to the internet? Will you see any sort of message in terminal letting you know it's complete? Thanks

[2017-04-24 18:44] littleswany commented on #198
Yeah fot each interaction it prints out some details and at the end it will print out a summary of all the actions.

[2017-04-24 18:49] watty62 commented on #194
That worked @timgrossmann (Thanks too @littleswany ).

The git pull updated the application.

The script ran.

I'd limited the number of likes to 10 to test the script.

I used:

as these two tags are ones which should reflect on my own account well.

But I noticed that I got repeated messages:

-->  Image not liked: Inappropriate

The summary at the conclusion was:
Liked: 1
Already Liked: 0
Inapp

[2017-04-24 18:59] deronsizemore commented on #198
Thanks. I'll give it a go and see what happens

[2017-04-24 19:15] timgrossmann commented on #194
@watty62
Please post your quickstart.py setup

[2017-04-24 19:28] deronsizemore commented on #198
Ok, I'm stuck it appears.

Trying to install Selenium with `sudo pip install selenium` gives me:

    error: could not create '/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages': Operation not permitted

In addition to that when I try to run the quickstart.py file, I get:

Inside of my quickstart file I set `.set_use_clarifai(enabled=False) \` which thought meant

[2017-04-24 19:43] watty62 commented on #194
Ah. Ok @timgrossmann

I think we should close this issue - as the original purpose is served. I will have a look at the don't_like method and make changes, and test again.

If there continues to be a problem I will raise a new issue.

Many thanks

Ian

[2017-04-24 19:47] vlntdds commented on #198
Forget everything, just run the Mac script in the Scripts folder.
But before install Xcode command line utils.

[2017-04-24 19:52] deronsizemore commented on #198
@vlntdds just did that. tried to run quicksetup.py again and still getting: ImportError: No module named clarifai.client

[2017-04-24 20:00] tibor commented on #198
Clarifai is just for image recognition. E. g. if you would like to like all images which are tagged with #animal and are photos of cats, you can use Clarifai for this.

If you don’t need image recognition, just drop this line of code.

[2017-04-24 20:19] #194 closed

[2017-04-24 20:22] deronsizemore commented on #198
Here's my quickstart.py file. I'm not sure what I'm missing and why it keeps giving me the Clarifai error?

[code]

[2017-04-24 20:29] tibor commented on #198
I would remove username and password from your comment as long as you can.

[2017-04-24 20:42] timgrossmann commented on #198
@deronsizemore Removed your pw and username... Make sure to exclude them next time!

[2017-04-24 21:11] AlexBailey opened #199 "Flag/ban thresholds for actions"
Unless I have completely missed this, we've not added anywhere a (rough?) threshold guideline of the maximum amount unfollows, follows, comments, likes and so on per hour an account can do per hour before getting flagged, soft banned or banned. I have heard that some thresholds are user specific, but we surely must be able to come up with a rough guideline and perhaps keep it up to date in the wik

[2017-04-24 21:22] vlntdds commented on #199
There's an existing discussion about that.
Why open another?

Also, instagram bans are purely random based on ip/subnet (VPS are the most trackable for now) and the account history.

There's no threshold, could be 10 or 1000. Today could be 10000, but tomorrow instagram could track this repo and limit this to 2. Adding that could lead to serious problems, there's already an BIG disclaimer on the r

[2017-04-24 21:22] #199 closed

[2017-04-24 21:38] AlexBailey commented on #199
There's a lot of evidence that stacks against that, but they are threshold rages, not accurate numbers.

As you even said yourself [here](https://github.com/timgrossmann/InstaPy/issues/89#issuecomment-294295863), they flag on instagramweb page interaction, not just a 'if your connection is on a list' approach, not sure why you made that comment?

If you look at the infamous PokemonGo-bot repo, you

[2017-04-24 21:44] vlntdds commented on #199
Show me that, i'm currently testing on my 15th account and there's no threshold, not today. Got an locked account just for logging and repeat the like function for 9 times.
Also check the closed issues before opening another, update the infos, check #196, for example.

[2017-04-24 21:53] AlexBailey commented on #199
I'm purely going off of the copious amounts of people claiming to have been banned for X threshold of Y action, the volume of reports suggested there was a range - apologies if your findings are different to what users have reported, I was not trying to spread misinformation

Sorry, I did miss that one.

[2017-04-24 21:59] deronsizemore commented on #198
@tibor thanks. Yeah I'm an idiot leaving that password in there. I updated my credentials on my accounts. I'm not sure what the os import is. I didn't add it. It was there in the file when I downloaded the package.

@timgrossmann thanks for removing that. I can't believe I forgot it.

[2017-04-25 04:42] timgrossmann commented on #198
@tibor @deronsizemore Thanks for pointing out, removed the `import os`.
This was abandoned code because we had `os.getenv()` in there as `username` and `password` 😉

[2017-04-25 10:15] Albertmoiseev commented on #197
4. - I think it would be more beneficial to add a scaper which scapers all the followers from a given account/accounts.

However, it is not easy to do this feauture )

[2017-04-25 13:59] shellscape commented on #198
quoting @vlntdds:

But there isn't a mac script in the scripts directory...

[2017-04-25 15:55] giebeka commented on #192
I didn't used follow/unfollow feature and I've got temporary ban, I can't comment anything. I've changed comment ratio from 25% to 40%.

[2017-04-25 16:01] littleswany commented on #198
@shellscape You are correct, you can use the `linux.sh` script by typing `sudo` then drawing that file to the terminal window.

[2017-04-25 16:12] AlexBailey commented on #192
Just so we can rule it out, what were the comment contents set to? it wasn't something that would've been marked as spam regardless of volume would it? E.g. linking promotion etc

[2017-04-25 16:14] littleswany commented on #192
@giebeka It is possible to get a ban without following/unfollowing. It looks like the increased rate of commenting is the reason. But like @AlexBailey says it would be helpful to know the content of the comments.

[2017-04-25 16:19] giebeka commented on #192
@AlexBailey @littleswany  There were standard comments like _Awesome_, _I like your stuff_ etc.
It says I'm **temporary** banned from commenting because _comment function_ was used _in too fast way [translated from polish]_

[2017-04-25 16:22] littleswany commented on #192
@giebeka Yeah just overuse of the commenting function, I would leave it a little while before using it again and when you do reduce the comment percentage. @deronsizemore Any experience of what works well?

[2017-04-25 16:22] AlexBailey commented on #192
@giebeka Sounds like they either mean in ratio you were commenting on content or perhaps field input is tracked in instagram web? Maybe @vlntdds can shed some light on what he thinks it probably will be

[2017-04-25 16:51] timgrossmann commented on #197
@Albertmoiseev

[2017-04-25 19:35] Albertmoiseev commented on #197
@timgrossmann
Tim, hi.  Well, It's possible.

However, I am working on some issues.

The first approach is just to open instagram.com/account/followers/ with selenium and scrape all the users and scroll down the page - then scrape again and scroll down. Then, go over this loop until the end.

I have coded the script which does the scraping process. However, need to think what to do with the scroll

[2017-04-25 19:39] timgrossmann commented on #197
@Albertmoiseev I think we lost track of the actual idea...

So you find users that already recognized yourself, but forget or was not yet convinced to follow you .. then work with this user group

This is not possible. You can't click on the `1xxx Likes` and check who liked the picture with the web interface

[2017-04-25 19:48] vlntdds commented on #197
The API has a request limit, needs an authkey and it's easy to detect an "abuse" with that.

You get your followers, in a horrible way, also in instagram web you can't see WHO liked your picture. Seems like a useless data mining.

[2017-04-25 19:52] Albertmoiseev commented on #197
@timgrossmann @vlntdds  That is true, it is not possible to click on the 1xxx Likes and check who liked the picture with the web interface.

However, I was talking about another feature - scrape the followers of a given account (it's could be a good targeting) and then follow those users. It can give a good follow back ratio. And this feature is also implemented in such social media tools like mas

[2017-04-25 20:00] vlntdds commented on #197
But you can only scrape YOUR followers, not OTHER accounts followers.

Edit: it only works in some personal accounts, verified accounts the "Followers/Following" information is not interactable. Also, the link informed here leads to nowhere, but the profile page.

Also, like some other researches, mining all this data and FOLLOWING this accounts would lead you to a possible ban.

Thinking in a ban

[2017-04-25 20:03] timgrossmann commented on #197
@Albertmoiseev if you're developing this feature, I'll be happy to see how and if this works.
Especially, what follow back ratio you could get with this approach.

Like @vlntdds mentions, you have to handle these edge cases (verified profile) and so on.

If you think people will like this feature, give it a go. We'll see where this is going!

[2017-04-26 01:04] deronsizemore commented on #192
@littleswany I honestly don't comment much. If there's something that really catches my attention, I'll comment on it, but I've grown to HATE the "cool gallery, bro" type bot comments and I don't want to leave them on someone else's stream as I feel like it's quite obvious they are bot comments. So all of my comments that I do leave are legit. I have used some bots to like and follow/unfollow befo

[2017-04-26 08:24] thehon opened #203 "Getting number of likes per post"
Would it be possible to add a feature whereby the number of likes per post found is recorded?

[2017-04-26 15:18] saphuttu commented on #97
Where is the slider?

[2017-04-26 15:38] saphuttu opened #204 "session.like_by_tags with 5 or more tags sets amount from 100 to 32"
session.like_by_tags(['#a','#b','#c','**#d**','**#e**','**#f**','#g','#h','#i'], **amount=100**)

When i'm having more than 5 tags the amount is changing from 100 -> 32. Anyone else having this? Can i test something that could be affecting this?

Tag [4/9]
--> #d
**[1/100]**

Tag [5/9]
--> #e
**[1/32]**

Tag [6/9]
--> #f
**[1/32]**

[2017-04-26 16:13] pekapa commented on #204
Looks like your Chrome window in in the background and the script is unable to fetch more images so, instead of getting stuck waiting for you to bring focus to the browser it works with the images it was able to fetch (i.e. the ones from the page loaded + the first extra load)

[2017-04-26 16:24] tibor opened #205 "Absolute paths"
I ran twice in issues with paths in instapy.py:
1. When I tried to add a cronjob for ```python /my/path/to/instapy/quickstart.py``` and tested it with bash mode `env -i /bin/bash --noprofile --norc`
2. When I tried to use InstaPy with [command on command line](https://unix.stackexchange.com/a/101531) mode

InstaPy would stop executing with following message:

[code]

Both could be resolved by usin

[2017-04-26 16:40] vlntdds commented on #205
Absolute path will break this in other OSes.

The error is pretty clear, just add the InstaPy path to your path variables before running the script (and you can call python quickstart.py)

(Also could happen when you ALREADY have chromedriver installed in another directory (/usr/bin)

[2017-04-26 16:45] vlntdds commented on #192
@AlexBailey i'm still working on it and finding an way out for comments.
Like you said, yeah, it tracks the inputs on the field (not just that field, but in the entire page).

Mixing mouse movements with the keypress will avoid that, but if the user do not have a high comment ratio on the app and uses this script with a high % of comments/like it still got flagged and it leads to a temporary ban.

[2017-04-26 16:46] tibor commented on #205
Why would [`os.path.abspath`](https://docs.python.org/2/library/os.path.html) break the script in other OS?

[2017-04-26 16:56] vlntdds commented on #205
`os.path.realpath` with windows depending of the directory full path length will break.

It doesn't seems like a right way out, since every binary on python scripts on the web that runs via cronjob or another automation system needs to be on PATH variable.
Take another look on the error, see the message, chromedriver itselfs says that it needs to be on PATH.

[2017-04-26 17:19] tibor commented on #205
So, how would I do this in CentOS?

If this is a necessary step, we should add it in the how to guides, too I’d think.

[2017-04-26 18:15] timgrossmann commented on #203
Could you specify this more?

I'm not really sure what you mean...

[2017-04-26 18:16] timgrossmann commented on #97
@saphuttu

Just click on usage, you can switch between v1 and v2 there.
At least it is that way for me... maybe they changed that for new users

[2017-04-26 18:19] timgrossmann commented on #204
@saphuttu yes, that's the problem with minimizing or moving the window in the background...

[2017-04-26 18:23] timgrossmann commented on #205
Absolute path is not good...
The cronjob simply starts a new command line session, so the solution to this to to use this as the command to Ben executed...

'''Bash
cd /home/InstaPy && python3.5 QuickStart.py

[2017-04-26 18:36] tibor commented on #205
Yeah, I’m using this already in my crontab (copied from #46).

What would be your solution to keep InstaPy running on the server when you aren’t connected anymore via SSH? At the moment InstaPy stops then, so command on command-line was my try to solve this.

[2017-04-26 18:48] atomhax commented on #192
I got a "suspicious activity" email from instagram today and they emailed me a code to enter in the app. I think it's because I had my upper follower limit set very low by mistake (sub 100). I ended up cycling through many many posts without liking or commenting. It's possible that their detection algo is looking for scrapers. In any case it's working fine now when I set the limit back up to aroun

[2017-04-26 20:49] thehon commented on #203
I think it would be helpful if the tool could record the number of likes/views each post has when it stumbles across them through the like_by_tags. Furthering on from this it would be a great extension to have a threshold of likes similar to follows

[2017-04-27 06:28] timgrossmann commented on #205
That's not a InstaPy related Issue...

I also tried that, but couldn't find a working solution. But I need to mention that I did not try out the given tools to only start the script on the machine. I don't know what they were called anymore...

[2017-04-27 06:44] saphuttu commented on #204
OK thanks guys!

[2017-04-27 08:40] vlntdds commented on #205
Use `nohup` before calling the script.

Use `export PATH=/Path/to/instapy:$PATH` to add the instapy folder to the PATH variable BEFORE running the script.

Also, read your distro documentation for basic knowledge of background service/tasks, since @timgrossmann said "That's not a InstaPy related Issue..."

[2017-04-27 11:21] SamuelMTDavies opened #206 "Similar issue to Newbie Help - Example.py error"
Hi,

I am rather new to Python and have been learning primarily in python 2.7.

I have both 2.7 and 3.5 installed and I have installed Selenium and pyvirtualdriver using pip3.5

I have been trying to run my example.py file and I receive the following error.

`Traceback (most recent call last):
  File "example.py", line 2, in <module>
    from instapy import InstaPy
  File "/Users/Sam/sm_bots/Insta

[2017-04-27 15:57] #204 closed

[2017-04-27 15:59] timgrossmann commented on #206
@SamuelMTDavies
[code]

[2017-04-27 16:08] SamuelMTDavies commented on #206
Wow. I feel a little silly now. I missed that it was a library that needed to be installed.

I will check to see if it now works and report back.

Can you keep the issue open until I confirm?

Thanks

[2017-04-27 17:54] #205 closed

[2017-04-28 07:27] SamuelMTDavies commented on #206
I got it all working thanks. Works a treat.

Does the script run quicker if it's run without the gui?

What are the limits in terms of number of likes before we get on Instagrams radar do you reckon?

[2017-04-28 18:10] DanielSokil commented on #206
@SamuelMTDavies
1000 likes in 24hr

[2017-04-28 18:12] DanielSokil commented on #203
Like Media, if less or more than X amount of likes.

[2017-04-28 19:27] SamuelMTDavies commented on #206
Thanks Daniel.

I have everything up and running now.

Really useful to learn by going through the code.

Tim - out of curiosity how did you find out and come across selenium and clarifai?

Being new to python I was wondering where is best to find new modules and what they do/can be used for?

Can you maybe message me and close the issue as I'm aware of not clogging up the issues.

[2017-04-28 20:10] binhonglee commented on #198
@shellscape

It was merged into the linux script so like @littleswany said, just run that. Also, I don't think you need to type sudo to run it. However, part of it does use sudo so you will need to enter your password halfway through the script.

[2017-04-29 05:50] timgrossmann commented on #206
@SamuelMTDavies
Selenium: https://automatetheboringstuff.com
Clarifai: Through a Hackathon 😉

[2017-04-29 05:52] #206 closed

[2017-04-29 05:54] timgrossmann commented on #203
@thehon @DanielSokil
This already is a feature...

[code]

Check out the readme to get an explanation of what this does

[2017-04-29 05:55] timgrossmann commented on #198
@shellscape You probably have to do a `git pull` inside the InstaPy directory to get the newest version of IntsaPy

[2017-04-29 06:40] dakshshah96 commented on #198
@timgrossmann Even I'm getting the following error:

[code]

Any ideas why? If I comment out the line `from .clarifai_util import check_image`, everything seems to be working fine. Although, I wouldn't be able to utilize Clarifai.

[2017-04-29 07:26] timgrossmann commented on #198
@dakshshah96 please do a `pip list` and make sure to find clarifai in the printed list...

Or simply do another install with `pip install clarifai` or `pip3.<your_version> install clarifai`

[2017-04-29 08:53] thehon commented on #203
That is different to what I am suggesting . That limits followers not the
amount of likes on the individual post
On Sat, 29 Apr 2017 at 3:54 pm, Tim Großmann <notifications@github.com>
wrote:

[2017-04-29 09:19] ToJen opened #209 "Session ends before verification code is sent"
I noticed a couple of weeks back that after logging in, the script would immediately go to my profile page before I even got the verification code. That causes this to be executed:

`
if not login_user(self.browser, self.username, self.password):
      print('Wrong login data!')
      self.logFile.write('Wrong login data!\n')
`

Then the session ends. What I did was to increase the sleep time to `

[2017-04-29 09:41] timgrossmann commented on #203
@thehon I'm not really sure what this feature should be good for...
The amount of likes on a post is highly dependant on time... Even a large account will have very few likes if it has been posted like 5 seconds ago.

A time dependant feature (which depends on seconds / followers at least on minutes or hours) will probably not have a high priority, sorry.

[2017-04-29 09:43] timgrossmann commented on #209
@ToJen please make sure to have the right login data entered as either `ENV Variables` or into the quickstart.py into `InstaPy(username="<your-username)", password="<your-password>"`

[2017-04-29 09:47] thehon commented on #203
Fair enough thanks anyway
On Sat, 29 Apr 2017 at 7:41 pm, Tim Großmann <notifications@github.com>
wrote:

[2017-04-29 10:16] ToJen commented on #209
@timgrossmann yup, I have the credentals in `IntsaPy(...)`.

[2017-04-29 10:41] #203 closed

[2017-04-29 10:42] timgrossmann commented on #203
@thehon Feel free to develop this feature and contribute to InstPy 😉

[2017-04-29 10:42] thehon commented on #203
Working on it
On Sat, 29 Apr 2017 at 8:42 pm, Tim Großmann <notifications@github.com>
wrote:

[2017-04-29 10:43] timgrossmann commented on #209
@ToJen

You are not supposed to enter the credentials on your own... The bot does all of this for you.
Please post your quickstart.py file (make sure to blur the login credentials)

[2017-04-29 13:33] marudon opened #210 "High ratio of lost followers"
Working with InstaPy brought me a quiet nice number of new followers.
But in the following 48 or 72 hour about 70-80% of this new followers unfollow me again.

Is this high number normal or did I do something wrong using the script?
Obviously I attract a high number of bots .. loosing nearly every of the new followers is quiet frustating :-(

[2017-04-29 14:11] timgrossmann commented on #210
@marudon Yes it is...
Especially if you're using tags like '#follow4follow' and these kind of things...

[2017-04-29 14:11] #210 closed

[2017-04-29 17:05] dakshshah96 opened #212 "Droplet instance not running"
I'm an absolute beginner to this and have followed the Ubuntu instructions and set up my droplet with Digital Ocean according to the docs. I get the following error when I run `python3.6 ./quickstart.py`

[code]

Anyone has any ideas what the problem might be?

[2017-04-29 17:09] #212 closed

[2017-04-29 17:58] marudon commented on #210
I didn't use any tags like #follow4follow #likeforlike # picoftheday #instamood etc.  I just had regular tags fitting to my topics ..

[2017-04-29 18:02] tibor opened #213 "Move unfollow script to the start"
At the moment we’re unfollowing users just after the recent session ended.
That means depending on the settings for follow/unfollow we unfollow our followers directly after we followed and leaving just a short time span for them to follow back.

When moving the unfollow script to the start, we would unfollow them just the next time the script starts (e. g. after some hours with a cronjob) and incr

[2017-04-29 20:44] timgrossmann commented on #212
@dakshshah96 Please make sure to always post the solution to your problem, because other people will have the same problems and can then find an answer

[2017-04-29 20:44] timgrossmann commented on #210
@marudon Yes, that's the way it is :D

[2017-04-30 01:17] kamushadenes commented on #163
I have something similar just after login, whe trying to get user follower count:

Traceback (most recent call last):
  File "leiatambem.py", line 16, in <module>
    session.login()
  File "/dropbox/kamushadenes/Projects/InstaPy/instapy/instapy.py", line 88, in login
    log_follower_num(self.browser, self.username)
  File "/dropbox/kamushadenes/Projects/InstaPy/instapy/print_log_writer.py", line

[2017-04-30 04:41] dakshshah96 commented on #212
@timgrossmann Sure! So everyone who has this problem, here's what I found out about the errors I faced.

I was getting an error which said that the module `pyvirtualdisplay` was not present even after I had installed it. This was because I was running `python3.6 ./quickstart.py` whereas the module was present in my default python directory which was `python3.5.1`.

[2017-04-30 21:21] ToJen commented on #209
I passed my credentials in `__init__` of the `InstaPy`class. But this is what my `quickstart` looks like.

[code]

[2017-04-30 23:18] vlntdds commented on #209
Disable 2FA or wait until Instagram unflag your account.

[2017-05-01 07:51] CodeMaster1 commented on #97
Okay! There are issues for some users and I faced the same issue.
We have to explicitly request to unlock v1API such as I did it [here](https://community.clarifai.com/t/throttled-request/560).
After that, there is a slider in the usage section and the API started working.

[2017-05-01 08:42] marudon opened #214 "Timeout problems"
Often I have problems with early termination of the script because of timeouts in the webdriver.
Does anybody know what the reason could be and how to fix it?

Traceback (most recent call last):
  File "quickstart.py", line 22, in <module>
    session.like_by_tags(['collection'], amount=100)
  File "..\InstaPy-master\instapy\instapy.py", line 274, in like_by_tags
    self.username, self.like_by_fo