[2017-10-19 08:37] beis92 commented on #776
Thanks I'll check It out

[2017-10-19 09:18] Marichka310 opened #787 "Interact with Followed Users doesn't work for me."
Amount = 40
Percentage =20
random = True

And I get logs like `Session started - 2017-10-19 12:10:01

Logged in successfully!

Session ended - 2017-10-19 12:10:09`

I have 745 followed users, so it should work. Need help!

[2017-10-19 10:34] JCADC opened #788 "Store User IDs and create blacklist"
Hi all,

Is there anyway to store on a data base the users that you have interacted with and then create a blacklist so you won't impact them again?

Thanks!

[2017-10-19 15:00] #184 closed

[2017-10-19 19:39] VKT16 commented on #783
@converge
The command line was outputting the following:

File "C:\Users\MY_USER_NAME\Documents\GitHub\InstaPy\scripts\windows.ps1", Line 1 echo "InstaPy Windows Setup"

SyntaxError: invalid syntax

**I think the above the error happened because I was not running the windows.ps1 file as administrator because I do not have such an option when I right click.**

I then however did my research and fou

[2017-10-19 20:44] NeoMechDragon commented on #499
+ I get "Load button not found, working with current images!"

[2017-10-20 11:31] flo1t commented on #779
the "problem" is line 270-272 in unfollow_util.py:
[code]

if you set random=True in follow_user_followers it'll triple the set amount.

[2017-10-20 14:16] carpediemzak commented on #780
Work around in
https://github.com/timgrossmann/InstaPy/issues/700
works for me too.

[2017-10-20 14:16] #780 closed

[2017-10-20 15:17] drogon34 commented on #724
Since the _Load more_ button is missing on some accounts and present on others, maybe we can have a conditional statement to check the presence of a load button once the user is signed in and navigates to the tag. If the _Load more_ button is not found on the page, we can initiate the scrolling sequence with something like:
`window.scrollTo(0,document.body.scrollHeight);  #scroll to absolute botto

[2017-10-20 16:05] Spiz opened #789 "Docker issue: port 5900 already allocated"
Is there some way to use a different port or something? I used the build command per the instructions for setting up Docker and it told me that port 5900 had already been allocated. When I try to run it (build docker-compose up -d --build) again it says the same:

[2017-10-20 19:05] sionking opened #790 "Scrolling top user followers bottom stops after a while."
I reached 465 users by InstaPy while doing it manually I could have reach all of them.
Do Instagram detect a scrolling bot ?

Why is that ?

[2017-10-20 19:06] sionking commented on #734
I saw it happens ! if a user is already followed than it will unfollow.

[2017-10-20 19:24] sionking commented on #734
Hi:
        follow_button = browser.find_element_by_xpath(
            "//*[contains(text(), 'Follow')]")

contains Follow in also "Following" maybe this is the reason ?

[2017-10-20 19:35] sionking commented on #734
not really an selenium guy but I see this changes before and after following the user:
![image](https://user-images.githubusercontent.com/7851877/31838782-024ee566-b5e7-11e7-9dc4-e8fe3f7104f0.png)

[2017-10-20 20:18] sionking commented on #734
here is a fix:
 follow_button = browser.find_element_by_xpath("//*[text()='Follow']")

But if a user is already followed - it will take time for proccessing it (xpath will over all xml)

[2017-10-20 21:16] VKT16 commented on #783
**Someone Please Help :(**

[2017-10-20 23:36] amtheguy commented on #703
Start a new droplet in DigitalOcean

instead of installing python 3 use this to install python 2
`sudo apt-get install build-essential libssl-dev libffi-dev python-dev`

`after pip install . `
you may want to install
`sudo apt-get install xvfb`

[2017-10-21 01:00] thedot80 commented on #783
Today, I installed the complete App on the AWS Server. The installation went smoothly. My problem was it didnt like the posts and some other few things correclty. I believe the code needs an update, as there have been few changes in Instagram code as well.

For you - you better delete this system and create a new one (Sound to me you work in a cloud as well), if not - just deinstall and reinstall

[2017-10-21 11:19] gerdmueller2 opened #791 "selenium error with docker: Wrong login data!"
i run on amazon ec2 ubuntu mashine.

setting the "docker-compose up -d --build web" works fine for me the last weeks.
but since some days each container log of the "image instapy_web" shows following errors:

[code]

can someone help me to get it work?

[2017-10-21 12:21] mamartins commented on #779
Hum, I guess that this should be stated under documentation, no?

Also, the bot will only interact with users after all the following is done? Because it did not enter any profile to interact while I was running it

[2017-10-21 13:50] shapetheLOLa commented on #791
I‘m having exactly the same error since today (or yesterday, don’t know for sure)

[2017-10-21 17:03] eracle opened #792 "'dpkg -i google-chrome-stable_current_amd64.deb' doesn't work with latest chrome"
While building with:

docker build -t instapy ./docker_conf/all_in_one

I got this:

 47300K .......... .......... .......... .......... .......... 99% 1.15M 0s
 47350K .......... ...                                        100% 6.56M=9m6s

2017-10-21 16:50:50 (86.7 KB/s) - 'google-chrome-stable_current_amd64.deb' saved [48500124/48500124]

Selecting previously unselected package google-chrome-stab

[2017-10-21 17:05] eracle commented on #792
By git blaming the source code:
git blame ./docker_conf/all_in_one/Dockerfile

I got this also this line:
570f4503 Dockerfile (timgrossmann   2017-04-11 23:23:10 +0200 56)     && dpkg -i google-chrome-stable_current_amd64.deb \

That means by using chrome build on 2017-04-11 it should work.

[2017-10-21 17:24] converge commented on #790
@sionking if you slow down the scrolling, you can see all of them, but it takes too much time, like hours.

[2017-10-21 17:31] converge commented on #783
@VKT16 when you run
[code]
what´s your output ?

[2017-10-21 17:33] #774 closed

[2017-10-21 17:34] converge commented on #763
@samducker some news about it ?

[2017-10-21 17:36] VKT16 commented on #783
**This is the output:**

`C:\Users\MY_USER_NAME\Documents\GitHub\InstaPy>python quickstart.py`

Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "C:\Users\MY_USER_NAME\Documents\GitHub\InstaPy\instapy\__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "C:\Users\MY_USER_NAME\Documents\GitHub\InstaPy\instapy\

[2017-10-21 17:36] samducker commented on #763
Hey, the soft ban was faced on Digital Ocean. I switched my provider, to a different cloud service provider and it's started working a treat again! Try linode or ovh if you are having problems.

@timgrossmann would you recommend running each InstaPy script/account with a unique IP or do you think that it would be ok to run a couple of accounts on the same IP?

[2017-10-21 17:39] converge commented on #783
@VKT16 python 3.6 ?
[code]
and try again

[2017-10-21 17:48] VKT16 commented on #783
@converge Still same error. I have attached the logs for you.
[pip3.6 install clarifai & python quickstart.txt](https://github.com/timgrossmann/InstaPy/files/1404333/pip3.6.install.clarifai.python.quickstart.txt)

[2017-10-21 17:57] converge opened #793 "InstaPy chat group (Poll)"
We're thinking about create more one way to communicate, in this way our community can keep in touch, help each other and talk about the features.

We have some possibilities, let's vote ?

![a](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44d.png) (IRC #instapy at freenode)
![b](https://assets-cdn.github.com/images/icons/emoji/unicode/1f44e.png) (I don't like this idea)
![c](https:/

[2017-10-21 18:02] converge commented on #783
@VKT16
1)Install the C++ compiler http://landinghub.visualstudio.com/visual-cpp-build-tools
2) Go to the installtion folder (In my case it is): C:\Program Files (x86)\Microsoft Visual C++ Build Tools
3)Open Visual C++ 2015 x86 x64 Cross Build Tools Command Prompt

from: https://stackoverflow.com/questions/41724445/python-pip-on-windows-command-cl-exe-failed

I googled it "clarifai install error: c

[2017-10-21 18:10] VKT16 commented on #783
What should I do when I open Visual C++ 2015 x86 x64 Cross Build Tools Command Prompt?

And what do you mean by _"If you want, I'm at #instapy (irc freenode)"_

[2017-10-21 18:35] brookton opened #794 "Setting up on Droplet / Unbutu"
Hey Tim.

I'm kind of new to all of this but really appreciate your code. It's the best of the best.
I'm hoping someone can help me solve this riddle though.

I'm trying to run this script on a Droplet through Digital Ocean with Unbutu from the article that you provided, which is really helpful: https://medium.com/@hoppy/how-to-test-or-scrape-javascript-rendered-websites-with-python-selenium-a-beg

[2017-10-21 18:39] brookton commented on #794
I'm going to try to install the git straight from your link to override the one I made on my account to see if it resolves it. I ended up creating pyvirtualdisplay in the InstaPy directory to see if it would help, I was getting pyvirtualdisplay and Easy Process error messages before so I ran

cp /usr/local/lib/python3.5/dist-packages/PyVirtualDisplay-0.2.1-py3.5.egg /InstaPy
cp /usr/local/lib/pyth

[2017-10-21 18:41] converge commented on #794
@brookton take a look
https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu_on_Digital_Ocean.md

[2017-10-21 18:53] brookton commented on #794
Thank you for your reply. I'm just going to rename my current /InstaPy directory and start over with those steps again. I think I missed some of those.

[2017-10-21 19:00] brookton commented on #794
That totally solved my issue! I was being super extra when I should have just kept it simple. Thank you @converge !!!!

[2017-10-21 19:03] #794 closed

[2017-10-21 20:12] brookton opened #795 "Setup a Schedule // Droplet with Unbutu"
Hi.

I'm wondering how to setup a scheduler.
I tried the Automate with Schedule

Schedule is an in-process scheduler for periodic jobs that uses the builder pattern for configuration. Schedule lets you run Python functions periodically at pre-determined intervals using a simple, human-friendly syntax.

[code]

but they don't really make sense to me.

I also looked into https://github.com/Tkd-Alex/

[2017-10-21 21:27] converge commented on #745
can someone test the bug fix ? #796

[2017-10-21 21:37] #783 closed

[2017-10-21 21:37] VKT16 commented on #783
Issue solved. Thank you, I appreciated your help.

[2017-10-21 21:38] converge commented on #783
*Windows install doc updated

[2017-10-21 21:41] brookton commented on #795
I'm sorry it's a pretty basic question, but where do I put this?

when I try to run the first line as a command and I get this error

Am I meant to install it in the instapy.py file?
Just kind of confused and not finding many support documents about it.
Sorry I'm such a noob! Any resources would be awesome

Much appreciated.

[2017-10-21 22:27] SimiCode commented on #793
slack! <3

[2017-10-22 01:04] converge commented on #742
Insufficient information. Please reopen the issue when you have more detailed information.

[2017-10-22 01:04] #742 closed

[2017-10-22 01:26] converge commented on #787
@Marichka310 what's your full setup ? remember to use some feature to like posts before call interact feature.

[2017-10-22 06:38] timgrossmann commented on #763
@samducker To be honest, I never had problem running different accounts from the same IP...

As long as you don't overdue it it should be fine. Please don't run 10 accounts from the same IP

[2017-10-22 11:39] sionking commented on #735
I did the same I am not looking for unlike since if like did not found, it is binary options ....
BTW, it is not surprising, if the elem if found it not need to search for the rest of the page...

[2017-10-22 11:39] sionking commented on #734
Guys! I think it is super important ! don't you ?

[2017-10-22 11:50] sionking opened #797 "Feature: (implemented) MAX LIKE/FOLLOW per HOUR/DAY (works for multiple running also)."
If it is an interest to someone I will add the code here.

* I used pickle.
* Able to read it at any time since it saved as file.
* wait for next hour/day to return to work if max is reached.

Sion.

[2017-10-22 15:04] VKT16 commented on #797
@sionking I was wondering about how to set the bot to follow 400 accounts and like 400 posts in 10 hours (I am only aiming to use the bot 10 hours a day to get around Instagram algorithms).

I think that your code might be of some help, so can you please post it, and a bit of guidance on what each line does as I am a beginner?

Thanks

[2017-10-22 16:43] sionking commented on #797
Sure ASAP

[2017-10-22 16:44] VKT16 commented on #797
@sionking  Patiently waiting as I need it really badly :laughing:

[2017-10-22 18:02] brookton commented on #797
I'm interested! 🙂

[2017-10-22 18:58] sionking commented on #797
It is not bug free (currently I ignore any errors) since I have no much time for it, But it do works.
I started it since the automation crashed all the time so I was unable to track to total daily likes/follows.
Now it will read the file before every run so it wont start liking from the begginging.
- If the Max is reached I print to console.
- If the Max is reached I wait certain amount of time (i

[2017-10-22 18:58] #797 closed

[2017-10-22 19:41] sionking commented on #797
I will attached the file tommorow

[2017-10-22 20:36] sionking commented on #797
[instapy.zip](https://github.com/timgrossmann/InstaPy/files/1405322/instapy.zip)

[2017-10-22 20:40] timgrossmann commented on #797
@sionking Would be awesome to get a PR for that feature 😉

[2017-10-22 21:00] VKT16 commented on #797
@sionking Thanks for providing this code, but can you provide an example of how to run it as I am new to programming and struggling to understand which commands I need to use.

I just need commands for liking 400 posts and following 400 accounts in 10 hours. I then need a command for the next day for following the accounts. Any help will be much appreciated, Thank you.

[2017-10-22 23:27] avanjool opened #799 "Unfollow not working"
Unfollow was working fine for me and suddenly stopped working.

[Error](https://i.imgur.com/P4Osnke.png)

session.unfollow_users (amount=50, onlyInstapyFollowed = True, onlyInstapyMethod = 'FIFO' )

I have that line set as last right before session.end, everything else goes smoothly and works fine until unfollow.

[2017-10-22 23:28] converge commented on #777
@thisishotdog just found it in the code:
[code]
you can change it in instapy/instapy.py line 123 (+/-)

I think we should keep this setup like this to save bandwidth. Please, reopen the issue if you need.

[2017-10-22 23:28] #777 closed

[2017-10-22 23:34] converge commented on #799
the problem is related to set_automated_followed_pool, can you send your *_followedPool.csv file to my email ? joaopaulo.mailfs@gmail.com , so I can reproduce the error.

[2017-10-22 23:38] converge commented on #446
@kthyaki some news about this issue ? how can we reproduce it ?

[2017-10-22 23:40] converge commented on #441
@jeffreylm there is no more interaction in this issue for a long time, please reopen if you need some help about it.

[2017-10-22 23:40] #441 closed

[2017-10-23 00:16] converge commented on #425
@sionking some news about this issue ?

[2017-10-23 03:09] brunopgalvao commented on #791
With a personal account I login fine, with a business account I get the same error..

[2017-10-23 03:34] brunopgalvao commented on #791
Seem like when I change: https://github.com/timgrossmann/InstaPy/blob/25c0bd86a823b60b2b50469f969f9258594611b1/instapy/login_util.py#L48
to `if len(nav) == 1:` then it works.

[2017-10-23 08:26] gerdmueller2 commented on #746
(off topic-question to your session.like_by_tags): you have a lot of tags and each with an amount of 600? 😮
i thought 1000 actions per day (likes/comments etc) is an limit to get not banned/blocked?
am i wrong?!

[2017-10-23 09:33] gerdmueller2 commented on #791
now the script is running and says everytime --> "Image Liked!"
but when i open the picture and ckeck it in the app the picture IS NOT LIKED...

does fix the first problem but moves into next one! any help?

[2017-10-23 09:52] avanjool commented on #799
Alright I just sent it.

[2017-10-23 13:34] wizarduk commented on #86
im getting the same issue

[2017-10-23 14:34] converge commented on #86
@wizarduk what's your python version ?

[2017-10-23 15:07] remybrillet opened #802 "Wrong login data! - but login data is correct"
Hi,

I have this error :

Wrong login data!
Traceback (most recent call last):
  File "bot.py", line 23, in <module>
    session.end()
  File "/root/InstaPy/instapy/instapy.py", line 1401, in end
    self.browser.delete_all_cookies()
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdriver/remote/webdriv                            er.py", line 655, in delete_all_cookies
    self.execute(C

[2017-10-23 15:43] elmerilaakkonen opened #803 "Headless Raspberry Pi w/ Firefox login out of bounds."
## Expected Behavior
To log in normally.

## Current Behavior
InstaPy can't log in because the login-button is out of view.

## Possible Solution (optional)
Fixed this quickly by changing the launch resolution on instapy.py line 54:
`self.display = Display(visible=0, size=(800, 600))`
`self.display = Display(visible=0, size=(1900, 1200))`

## InstaPy configuration

Raspberry Pi 3, Raspbian Stretch

[2017-10-23 15:44] converge commented on #802
take a look #791

[2017-10-23 16:18] wizarduk commented on #86
This is the error @converge

 python quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/root/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/root/InstaPy/instapy/instapy.py", line 8, in <module>
    from pyvirtualdisplay import Display
ImportError: No module named pyvirtua

[2017-10-23 18:05] sionking commented on #797
timgrossmann PR ? document ?
VKT16 please change the class static:
    MAX_PER_DAY = 400
    MAX_PER_HOUR = 40

It will not do more than 400 likes per day.
It will not do more than 400 follows per day.

Payattantion if the follow and like percentage are diffrent than it will stop the automation for the first MAX reached like/follow.

If you need auto start every day at specific time use the window

[2017-10-23 18:15] wizarduk commented on #763
@timgrossmann how many to be on the safe side with one dedicated ip ?

[2017-10-23 18:15] timgrossmann commented on #797
@sionking No, sorry.
A PR is a pull request. An implemented feature that will be merged into the InstaPy codebase.

[2017-10-23 19:35] converge commented on #86
@wizarduk have you tried it ?
```pip3.4 install pyvirtualdisplay```

[2017-10-23 19:42] wizarduk commented on #86
@converge says this

Requirement already satisfied: pyvirtualdisplay in /usr/local/lib/python3.4/dist-packages
Requirement already satisfied: EasyProcess in /usr/local/lib/python3.4/dist-packages (from pyvirtualdisplay)

[2017-10-24 00:49] rotohun commented on #789
Have you checked is the port is being used?

[2017-10-24 01:19] hajaja commented on #391
for me (using linux), the problem is solved by installing geckodriver

[2017-10-24 01:43] Spiz commented on #789
Ah I figured it out, I was running a VPN, whoops!

[2017-10-24 01:53] converge commented on #779
@flo1t thanks, just submitted a PR. @mamartins

[2017-10-24 01:54] #789 closed

[2017-10-24 02:25] rotohun commented on #86
I had the same issue, I used pip instead of pip3* and then installed each one individually.

[2017-10-24 02:26] rotohun commented on #86
Then started the script using python instead of python3 to use previous python download and installs.

[2017-10-24 07:47] wizarduk commented on #86
@rotohun how did u do this ?

[2017-10-24 09:00] rossbulat opened #806 "Where to connect to a proxy?"
Not sure If I am missing something, but can't seem to find where to use a proxy for this bot.

## Expected Behavior
Being able to connect to a proxy address.

## Current Behavior
None

## Possible Solution (optional)
Add a configuration option to connect to a proxy.

[2017-10-24 10:35] converge commented on #86
the point is, this error occurs because python version and pip version are differents. for example python command points to python2.7 and pip points to pip3.6 for example, in this way python can't localize the 2.7 version of pyvirtualdisplay.

the fix is, use same version for python and pip, if your

```python --version``` shows 3.6, you should use pip3.6 and so on.

[2017-10-24 10:43] converge commented on #806
hey @rossbulat we don't have proxy feature at the moment. but there is a beginning here #273

[2017-10-24 11:17] RafaelLee commented on #758
Still?
No one knows how to do that?
 :/

[2017-10-24 12:56] JCADC commented on #793
I would say Skype or Slack!

[2017-10-24 13:09] JCADC commented on #788
Hi there,

I've just posted a Bounty: https://www.bountysource.com/issues/50499135-store-user-ids-and-create-blacklist

Best regards

[2017-10-24 13:24] wizarduk commented on #86
@converge thanks its sorted i made a silly mistake.

[2017-10-24 14:19] wizarduk commented on #451
You would need more ram so if you wanted lots running it would cost you more mine is running 61% ram on 1GB ram so if i run two im maxed out...

[2017-10-24 15:03] wizarduk commented on #451
Yes running two is fine but all depends some ig bots you can run 10 on 1 account depending what its doing///

[2017-10-24 15:06] bardascat commented on #451
Why would you want to run multiple instances of bot for one instagram
accont in the same time ?

On Tue, Oct 24, 2017 at 6:03 PM wizarduk <notifications@github.com> wrote:

[2017-10-24 15:16] RomeoJuliett commented on #451
I run 2-3 different accounts at a time on my local machine from the same IP and have not had a problem so far.

I have an Amazon Ubuntu instance where I run my personal account, but will probably attempt to run another on that same instance at the same time. Not sure how it'll work being SSH'd in to the same Ubuntu instance from 2 separate terminal windows, but we'll see.

[2017-10-24 15:17] RomeoJuliett commented on #793
I prefer Slack!

[2017-10-24 15:19] RomeoJuliett commented on #763
@wizarduk

I've run 4 at a time on my local machine and experienced no issues

[2017-10-24 15:21] wizarduk commented on #451
@RomeoJuliett yeah that's good I use to run on the local machine but I wanted it up with a server so I don't need to worry about internet dropping out or powercuts I got a decent one cheap that I'm testing with two accounts at the moment... Yeah, thats the same what I'm doing 2 separate terminals will be adding another one to that...

[2017-10-24 16:00] XemyL opened #807 "Doesn't return following usernames"
## Expected Behavior
Parse with success all users following by passed username

## Current Behavior
Doesn't return usernames

## Possible Solution (optional)
fix row 477 in /instapy/unfollow_util.py
p.s. can fix asap by myself

[2017-10-24 16:00] sionking opened #808 "Anything similar for Facebook?"
## Expected Behavior

## Current Behavior

## Possible Solution (optional)

## InstaPy configuration

[2017-10-24 16:01] sionking commented on #808
I am not sure if this is the place, do you know about a similar tool for Facebook?
Thanks.

[2017-10-24 16:13] timgrossmann commented on #808
@sionking Haha, I was thinking about the same thing...

The long term idea is to create an open source organisation here on github which would be called
"BotPy".
You could find all kinds of social bots there including InstaPy. (And an improved version of TwitPy, maybe FacebooPy and YouTubePy as well...)
But first it would be really nice to have a quite stable version of InstaPy.

However, I don't

[2017-10-24 16:14] sunnypatel165 commented on #724
Hi @timgrossmann is there any plan to fix this?
It really kills the whole point of this, as it only pulls 12 images out of millions 😢
Manual scrolling does work, but obviously isn't the strategic solution.

[2017-10-24 16:32] converge commented on #793
at the moment we have: (5) IRC | 3 WhatsApp | 3 Slack | 1 Skype

let's vote until 26/october ?

[2017-10-24 16:37] converge commented on #793
I love IRC, but I have to say that I don't use it much often.
Slack is great because you can interact even if you're not always online.
WhatsApp é great because you can use it anywhere(mobile).
Telegram, same as WhatsApp without encryption.

[2017-10-24 16:41] wizarduk commented on #451
@RomeoJuliett does it cost anything to use amazon do u get a dedicated ip ?

[2017-10-24 16:44] RomeoJuliett commented on #451
@wizarduk costs me nothing right now. It's free for the first year and gives a designated IP depending on which location you select. For each new instance you spin up you get a new IP.

[2017-10-24 16:46] wizarduk commented on #451
@RomeoJuliett Will it be free so no charge the whole year ?
So your getting a dedicated ip per ig account your using a bot with ?

[2017-10-24 16:47] timgrossmann commented on #724
@sunnypatel165 I will try to... Unfortunately I currently have close to no time at all to work on OS...

Maybe @converge can take a look at this... Also there is the issue with the unfollowings because the follow button is not checked right #224

[2017-10-24 16:49] RomeoJuliett commented on #451
@wizarduk yes, it's free for the entire year as long as you don't go over a massive amount of traffic per month. It's something ridiculously high though. You'd have to run like 5 accounts 24 hours a day every single day and even then you probably wouldn't hit it.

[2017-10-24 16:57] RomeoJuliett commented on #451
@wizarduk I haven't tried running multiple accounts on the same instance, but with each new instance you get a new IP so you could run individual accounts on an instance and each one would have their own IP

[2017-10-24 17:02] wizarduk commented on #451
@RomeoJuliett the issue is amazon service is not a true private dedicated ip so would be risk of banning etc so think ill stick with my VPS

[2017-10-24 21:07] brookton commented on #795
Anyone? 😔

[2017-10-24 21:15] timgrossmann commented on #795
@brookton Hey, I would simply use a cronjob to do that.

you can setup a cronjob with `crontab -e`. This will open up an editor window where you have to specify dates.

E.g. you can do that

35 6 * * * cd /InstaPy && python3.5 quickstart.py
22 16 * * * cd /InstaPy && python3.5 quickstart.py

[2017-10-24 21:16] timgrossmann commented on #795
@brookton I think this is way easier to work with and actually close to as customizable as schedule

E.g you could simply do

0 */4 * * * cd /InstaPy && python3.5 quickstart.py

To run it every 4 hours

[2017-10-24 22:52] brookton commented on #795
Thank you so much Tim! It does indeed make sense now I was making it a bit too complicated.

Appreciated!

[2017-10-25 01:16] RomeoJuliett opened #811 "InstaPy fails when trying to follow users. Runs perfectly without unfollow/follow implemented."
Whenever I set the session to follow users, the script will run, but it will only get so far before it fails and spits out an "element not visible error." If I do **NOT** include follow/unfollow in the session commands, the script runs beautifully without fail, every single time. I've been running this locally on my Macbook Pro as well as my AWS instance and it's the same issue. Any help would be

[2017-10-25 03:28] converge commented on #788
@JCADC can you test it ? #812

[2017-10-25 05:05] timgrossmann commented on #795
@brookton Do you think we can close this issue? 😉

[2017-10-25 05:08] timgrossmann commented on #788
@JCADC Could you specify this feature a little bit closer?

I'm not sure to understand the purpose of it.

Do you really want to store every user you liked a picture from to not be interacted again?

[2017-10-25 05:18] timgrossmann commented on #734
@sionking Feel free to post a bounty on this. This will increase the speed of resolution.

@converge Could you maybe look into this as well, please?

[2017-10-25 06:38] JCADC commented on #788
Thanks @converge, I will try it in the late evening.

Sure, @timgrossmann. Let me ellaborate:
- We create a function to comment the pictures with the hashtag "cat" and set the percentage = 50. We are commenting only to the 50% of the people there. In the future the number of posts should increase and we might want to target them again. It may be the case that one of the new pictures is from a user

[2017-10-25 07:00] wizarduk opened #813 "Why is the script stopping"
Why is the script stopping?
Can i set it to run without having to log in each day?

This is the error

File "quickstart.py", line 22, in <module>
    session.end()
  File "/root/InstaPy/instapy/instapy.py", line 1401, in end
    self.browser.delete_all_cookies()
  File "/usr/local/lib/python3.4/dist-packages/selenium/webdriver/remote/webdriver.py", line 655, in delete_all_cookies
    self.execute(

[2017-10-25 09:03] wizarduk commented on #813
Has anyone got the settings they are using so i can run this on cron and just leave it running ?

[2017-10-25 09:14] converge commented on #734
@timgrossmann for sure, as soon as I have a free time

[2017-10-25 09:19] converge commented on #813
@wizarduk do you have some clue why the cookies aren't being deleted ?

[2017-10-25 09:21] wizarduk commented on #813
@converge no clue i ran this and it was working for a good 6 hours then it shut down...

I want to run this and leave it running so wanted to know the best way...

[2017-10-25 09:35] wizarduk commented on #813
Does the cron job run in screen ?

[2017-10-25 09:38] converge commented on #813
@wizarduk pls, update your chromedriver, they fixed this bug at 2.32 version, you're using 2.29

[2017-10-25 09:39] wizarduk commented on #813
@converge how do i do that ?

[2017-10-25 09:45] converge commented on #694
I'm closing it since there is no reply for a long time. Please reopen it if you need.

[2017-10-25 09:45] #694 closed

[2017-10-25 09:47] wizarduk commented on #813
@converge

why is the guide saying this then ?>

git clone https://github.com/timgrossmann/InstaPy.git
$ wget "http://chromedriver.storage.googleapis.com/2.29/chromedriver_linux64.zip"

[2017-10-25 09:52] converge opened #814 "How_To_DO_Ubuntu_on_Digital_Ocean.md (update help)"
Hello everyone, our Linux how to is outdated, can any Linux user update it ?

https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu_on_Digital_Ocean.md

[2017-10-25 09:54] converge commented on #813
@wizarduk you're right, the doc is outdated, just created an issue to update it.

[2017-10-25 10:30] wizarduk commented on #813
@converge When i am setting up cron do i need to do a screen and then cd InstaPy and then crontab -e ?

[2017-10-25 11:07] wizarduk commented on #813
@converge i want to start the script once a day via cron what do i need to do to set it can you give me a guide ?

[2017-10-25 11:23] wizarduk commented on #451
@RomeoJuliett are u running yours on cron ?

[2017-10-25 12:55] RomeoJuliett commented on #451
@wizarduk No I don't have mine set up on Cron. I just remember to run it everyday.

[2017-10-25 14:12] remybrillet commented on #802
Seem like when I change:

InstaPy/instapy/login_util.py
 if len(nav) == 2:
to
if len(nav) == 1:

then I have this error :

selenium.common.exceptions.WebDriverException: Message: unknown error: session deleted because of page crash
from unknown error: cannot determine loading status

[2017-10-25 14:15] converge commented on #802
Hello, you need update chromedriver to latest version.

[2017-10-25 14:59] #795 closed

[2017-10-25 15:10] timgrossmann commented on #788
@JCADC I really love that people are so interested in this tool, that they suggest features I could've never thought of.... Thank you very much for this!

I really think this could be extremely useful in the future.

However... I also think that it is **extremely** crucial to describe this feature in the right way for users that might be interested in this or are searching for a similar feature!

[2017-10-25 15:12] timgrossmann commented on #734
@converge You're awesome!
Thank you very much!

[2017-10-25 15:23] remybrillet commented on #802
Hello,
After updating :

Traceback (most recent call last):
  File "bot.py", line 10, in <module>
    session.login()
  File "/root/InstaPy/instapy/instapy.py", line 184, in login
    self.switch_language):
  File "/root/InstaPy/instapy/login_util.py", line 8, in login_user
    browser.get('https://www.instagram.com')
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdriver/remote/webdriv

[2017-10-25 16:18] ghost opened #815 "Less users to follow than requested."
Hello guys,
I'm using the configuration below to follow and give like in the followers of some specific profiles.

[code]

But when I run installpy it shows the second message:

Logged in successfully!
guriasbeauty -> Less users to follow than requested.
beautybase_lf -> Less users to follow than requested.
labellecenter -> Less users to follow than requested.

Could you help me ?

[2017-10-25 17:13] JCADC commented on #788
Thanks @timgrossmann

@converge we don't need to be as evolved as described (yet). A basic blacklist from comments would be sufficient to start working on this improvement and test how it goes!

I think it'd be easier from the user perspective if we could add a "campaign name" than then use it as a blacklist.

Thinking about something like: We are the owners of a restaurant and we want to say "Tha

[2017-10-25 18:04] timgrossmann commented on #802
@remybrillet Looks like you're running it on a linux machine, is it a DO droplet?

If yes, the problem might be that there are zombie instances of XVFB and Chrome running.

Do a `reboot` and try again, please

[2017-10-25 18:34] sionking commented on #815
I found out scrolling more will give you more users
`    # find dialog box
    dialog = browser.find_element_by_xpath(
        "//div[text()='Followers']/following-sibling::div")

    # scroll down the page
    try:
        print('0')
        scroll_bottom(browser, dialog, allfollowing)
        scroll_bottom(browser, dialog, allfollowing)
        scroll_bottom(browser, dialog, allfollowing)
    ex

[2017-10-25 19:57] sionking opened #816 "interact_user_followers error"
Username [73/1016]
--> b'sxxxka'
Getting  'sxxxkaimage list...
This user is private...

[code]

[2017-10-25 23:41] diveu opened #817 "Cannot focus element error"
I'm running the script on mac and after some time i get this error:

Message: unknown error: cannot focus element
  (Session info: chrome=61.0.3163.100)
  (Driver info: chromedriver=2.32.498537 (cb2f855cbc7b82e20387eaf9a43f6b99b6105061),platform=Mac OS X 10.12.3 x86_64)

Now I'm trying to update chromedriver with all of the packages to check whether they are the reason, but does anybody else get t

[2017-10-26 00:09] knark8086 opened #818 "Loops through pictures of users even if session.set_upper_follower_count"
## Expected Behavior
Skip Follower
## Current Behavior
Opens Followers images even if session.set_upper_follower_count is exceeded
## Possible Solution (optional)
Correct logic to skip follower if session.set_upper_follower_count is exceeds limit set.
## InstaPy configuration
	session.set_lower_follower_count(limit = 10)
	session.set_upper_follower_count(limit = 300)

[2017-10-26 00:09] knark8086 commented on #818
if you can point me to the general area of the script where this logic is , I can take a crack at fixing it.

[2017-10-26 00:38] avanjool commented on #817
I'm getting the same exact error, running on Windows 10 and chromedriver 2.33

[2017-10-26 01:15] alexmattson commented on #817
Im getting this same issue where it's failing on comments

`
File "/Users/alexmattson/Desktop/InstaPy/instapy/instapy.py", line 614, in like_by_tags
    self.browser, comments)
  File "/Users/alexmattson/Desktop/InstaPy/instapy/comment_util.py", line 25, in comment_image
    comment_input[0].send_keys("\b")
  File "/Library/Python/2.7/site-packages/selenium/webdriver/remote/webelement.py", line 34

[2017-10-26 01:25] avanjool commented on #817
I'm getting the same error on Windows 10 with chromedriver 2.33.506120

[2017-10-26 01:25] alexmattson commented on #817
upgraded to 2.33.506106 and still getting error on mac

[2017-10-26 02:03] alexmattson commented on #817
I still get the failure when I run on the firefox webdriver but a different error:

[code]

[2017-10-26 02:16] diveu commented on #817
@alexmattson I haven't found anything yet. But I'll look into it later today, and if I find smth I'll write it here.

[2017-10-26 02:17] ateich commented on #817
I managed to fix this issue on Chrome by changing `instapy/comment_util.py`

I moved the find element code from `comment_image` into its own function
[code]

And changed the beginning of the `comment_image` function to the following
[code]

It seems that clearing the comment textarea (`comment_input[0].clear()`) and finding the element again fixes the issue.

[2017-10-26 02:38] #813 closed

[2017-10-26 03:01] diveu commented on #817
@ateich thx, it worked!

[2017-10-26 03:03] converge commented on #784
@ellismarte some news about it ?

[2017-10-26 03:07] converge commented on #770
that's a good idea. we can have better results liking in this way.

[2017-10-26 03:15] converge commented on #818
@knark8086 options like
```follow_user_followers```
aren't impacted by set_lower_follower_count/set_upper_follower_count

set_lower_follower_count/set_upper_follower_count impacts in like options like
```like_by_tags```

[2017-10-26 03:32] RomeoJuliett opened #819 "selenium.common.exceptions.WebDriverException: Message: unknown error: cannot focus element"
I noticed that I've been getting a ton of crashes, roughly 2-3 pictures into running the script. This is all while running on my Ubuntu server on AWS.

I did a git pull last night and ever since then the script crashes almost as soon as it starts. The only file that was tinkered with was "quickstart.py"

**Error:**

File "/root/InstaPy/instapy/instapy.py", line 614, in like_by_tags
    self.browse

[2017-10-26 03:47] HammerSpb commented on #817
@ateich You forgot small part which produces error sometimes

Instead
[code]
use
[code]

[2017-10-26 03:48] ateich commented on #819
This issue isn't a result of anything you did. A number of people are experiencing the same issue.

Check out a possible solution at the bottom of #817

[2017-10-26 03:51] ateich commented on #817
@HammerSpb Sorry if I wasn't clear. I didn't intend for my `comment_image` function to be a full replacement for the existing one. Instead, I was suggesting changing the first part of the function to the code I posted.

Thanks for posting the entire function. It should go a long way to alleviate any confusion for anyone else with the issue.

[2017-10-26 04:02] ateich commented on #817
@HammerSpb Also, I noticed your `comment_image` function is missing the following lines from the original. Are you able to post comments without them?

[code]

Here is what my entire `comment_util.py` looks like

[code]

[2017-10-26 04:22] HammerSpb commented on #817
@ateich You are absolutely right
But sometimes it doesn't work
I found a better solution and tested it few times.
[code]

Sometimes `send_keys("\b")` overwrite comment! But if you add `submit()` before calling `send_keys("\b")` everything works fine. Atleast for now

[code]

[2017-10-26 04:41] ateich commented on #817
@HammerSpb `send_keys("\b")` is the equivalent of pressing the BACKSPACE key. It is there to delete an extra space at the end of
[code]

Note that there is a space between the `"` and the `'` before the semicolon
`+ " ';"`

The `send_keys("\b")` forces the input box to update the reactJS core of the Instagram website. The extra space at the end is there to make sure that the blank space is the del

[2017-10-26 04:58] knark8086 commented on #818
I do believe "session.interact_user_followers" is affected when liking / commenting on followers.
Instead skipping the process of interacting with a follower who an out of bounds number of followers, it iterates through each post and evaluates session.set_lower_follower_count & session.set_upper_follower_count over and over again.

Example:
session.set_lower_follower_count(limit = 10)
session.set_

[2017-10-26 05:38] timgrossmann commented on #818
@knark8086 Did you put the first image 5 times by mistake or is it stuck with the first image?

[2017-10-26 06:10] timgrossmann opened #820 "Feature Dump - Interesting ideas"
- Filters: this option lets you make filter people who act on them. (More important filters:
[Check gender](https://github.com/timgrossmann/InstaPy/issues/975), Skip private users, Skip accounts with a website, [Skip business accounts](https://github.com/timgrossmann/InstaPy/issues/980), Select Languages, Black list, Stop words, Skip used accounts)

- "Success" percentage: Some graphs showing how

[2017-10-26 06:18] Xander8 commented on #817
@ateich Thanks for the help debugging! But I keep getting a new error with your revised code.

Now an IndexError: list index out of range

Also any idea on the /instapy.py, line 614, in like_by_tags? I was looking at issue #700 but seems slightly different.

![image](https://user-images.githubusercontent.com/15362634/32037477-483fb54a-b9da-11e7-9e0c-12dea9729053.png)

comment_util.py
![image](http

[2017-10-26 06:26] blakemmw commented on #817
@HammerSpb @Xander8 HammerSpb, i copied your comment code and it seems to be working fine. I did run into 1 error ( the original one) but i think thats because i moved the window as it was trying to go to another post.

@Xander8 copy, Hammerspb's code exactly and your code should work - its a good fix for now.

[2017-10-26 06:41] ateich commented on #817
@Xander8 It looks like `comment_input` contains no items, which means that the `Add a comment...` textarea/input is not visible on screen. This is most likely the result of the browser window not being wide enough. (Instagram hides the `Add a comment...` element on smaller width screens)

Changing `comment_image` to the following will stop the `list index out of range` exception from being thrown,

[2017-10-26 07:26] ateich commented on #817
@Xander8 After some more thought, here is a better solution that doesn't require Chrome to be fullscreen. (No need to change `instapy/instapy.py`)

I added the function `open_comment_section`, which will press the on screen comment (message bubble) button. This causes the `comment_input` textarea/input to appear regardless of window size.

So all we need to do now is call `open_comment_section` be

[2017-10-26 08:27] remybrillet commented on #802
Hello @timgrossmann, thanks for your answer.

now, I have this error :
    session.login()
  File "/root/InstaPy/instapy/instapy.py", line 184, in login
    self.switch_language):
  File "/root/InstaPy/instapy/login_util.py", line 8, in login_user
    browser.get('https://www.instagram.com')
  File "/usr/local/lib/python3.5/dist-packages/selenium/webdriver/remote/webdriver.py", line 248, in get

[2017-10-26 08:36] remybrillet commented on #802
Another error, when I run the script for the first time after a reboot :
  File "/usr/lib/python3.5/http/client.py", line 266, in _read_status
    raise RemoteDisconnected("Remote end closed connection without"
http.client.RemoteDisconnected: Remote end closed connection without response

I think Instagram doesn't want to accept my connection from Iran.
Somebody know how to bypass it ?

[2017-10-26 09:16] AlessioBucaioni commented on #817
Changed the comment_util.py to the last @ateich suggestion, but still getting the same freaking error..any idea?

[2017-10-26 12:45] ateich commented on #817
@AlessioBucaioni Could you post the error log you are receiving?

[2017-10-26 12:50] jasecoop commented on #745
I'm getting the same problem here...

Any idea of the issue?

[2017-10-26 13:04] converge commented on #820
Great ideas @timgrossmann !! It's a big step forward, resuming what you said:

"less calls to Instagram server and more effectiveness in the actions, bringing better results"

Is it time to have InstaPy versioning ? It would be great to have a stable version before this step. We could list all the bugs we wanna close, before add more features.

[2017-10-26 13:07] converge commented on #745
@jasecoop I wrote a bug fix #796 for it some days ago, is your repository updated ?

[2017-10-26 13:08] #745 closed

[2017-10-26 13:26] samducker opened #821 "Crashing of script"
## Expected Behavior

quickstart.py working as normal for first 80 posts (number varies). Then randomly crashing.

## Current Behavior

        [9/70]
        Image from: b'honeybadgerr007'
        Number of Followers: 177
        Link: b'https://www.instagram.com/p/Batlsnjh-8m/?tagged=ui'
        Description: b'Unique Creations - #ui #ux #logo #logos #logodesinger #logodesign #creative #creatives

[2017-10-26 13:27] arjunmurali1993 commented on #788
This is a feature that would be definitely very helpful!

[2017-10-26 13:28] arjunmurali1993 commented on #793
I would prefer Slack too

[2017-10-26 13:57] RomeoJuliett commented on #817
@ateich

Have been running your latest revision on my local MacBook Pro and so far the fix seems fairly stable. So far it's made it through 2 tags without failing so I'll report back later on today if it's completely acceptable.

This might even be the fix for my follow/unfollow issue. I'll report back on that one as well.

[2017-10-26 14:12] ateich commented on #817
@RomeoJuliett I'm not sure if this is related to your unfollow issue, but I ran into a problem unfollowing users when the browser window is smaller. Specifically, at smaller window widths the "following" link tag moves outside of the header and breaks `unfollow_util.py` line 125

Replacing lines 125 to 127 fixed this issue for me

before
[code]

after
[code]

[2017-10-26 14:35] ateich commented on #811
@RomeoJuliett Could you post the lines of code leading up to line 175 in your `instapy/unfollow_util.py`? The version I have has `follow_button.click()` on lines 92 and 210, but not 175 as stated in your error message.

[2017-10-26 14:48] converge commented on #793
@RomeoJuliett @arjunmurali1993 did you guys vote ?

[2017-10-26 15:05] arjunmurali1993 commented on #793
@converge Yes, I've voted using the Heart emoticon

[2017-10-26 15:20] RomeoJuliett commented on #793
Slack <3 @converge

[2017-10-26 15:21] RomeoJuliett commented on #811
@ateich as soon as I get home tonight I'll be sure to get that code posted.

[2017-10-26 15:24] timgrossmann commented on #820
@converge Yes absolutely!

That's why this only serves as a dump for feature ideas.

The most important tasks now should be to get InstaPy, as you said, on a stable version... I'll be experimenting with xPaths to check if there is an easy way to get the least specific path to an element which still only delivers a single element. This could lead to way less errors when it comes to finding and clic

[2017-10-26 15:37] converge commented on #793
@italianrobot it's open for everyone.

[2017-10-26 17:04] arjunmurali1993 commented on #820
@timgrossmann Hi Tim, I've just started using your excellent software and I have to say it's quite impressive. Great work!! I haven't had the chance to take a look at the code yet though. I'll take a look this weekend to better understand how it works and contribute whatever I can.

I was running the program today and saw that after about 3+ hours it finished the process with results like Liked -

[2017-10-26 17:29] Niels1990 opened #822 "Quickstart error"
Hi I am trying to run the quickstart.py but I get this error: ModuleNotFoundError: No module named 'past'

![image](https://user-images.githubusercontent.com/33132119/32067616-2389963a-ba84-11e7-9404-e71f07fcc321.png)

Any suggestions?

[2017-10-26 17:30] converge commented on #802
@remybrillet I don't know Chromedriver uses versioning in this way, but 2.9 [1] is from 2014, the latest driver is 2.32 [2]

[1] https://chromedriver.storage.googleapis.com/index.html?path=2.9/
[2] https://sites.google.com/a/chromium.org/chromedriver/downloads

[2017-10-26 17:32] converge commented on #799
@avanjool sorry I didn't replied yet, I'll do it soon as possible.

[2017-10-26 17:42] timgrossmann commented on #822
@Niels1990 `pip install future`

[2017-10-26 17:42] #822 closed

[2017-10-26 19:40] knark8086 commented on #818
It just stuck. If you could point me in the right direction for the section of code that handles this, I'd be glad to pick it apart to see if I can find something. :-)

[2017-10-26 19:55] wizarduk opened #823 "Crashing of script"
It keeps crashing after 10min whats wrong with this bot ?

Image from: b'diet_memez'
Number of Followers: 337
Link: b'https://www.instagram.com/p/BatoIzWl1dw/?tagged=jokes'
Description: b'Satisfaction \xe2\x80\xa2\n\xe2\x80\xa2\n\xe2\x80\xa2\n\xe2\x80\xa2\n\xe2\x80\xa2\n\xe2\x80\xa2\n\xe2\x80\xa2\n\xe2\x80\xa2\n\xe2\x80\xa2follow @diet_memez for more\n-\n\xe2\x80\xa2follow my main \n@meemester\n\x

[2017-10-26 20:42] timgrossmann commented on #818
https://github.com/timgrossmann/InstaPy/blob/8662c9247df4c2a0058a059fef3dad433e03584a/instapy/instapy.py#L806

[2017-10-26 21:27] katieywu commented on #817
@ateich I've tried your code that you posted above, the one where you added `open_comment_section` but I sometimes get this error:
`Traceback (most recent call last):
  File "/Users/katieywu/Katie/Code/InstaPy/examples/katwu.py", line 91, in <module>
    amount=10)
  File "/Users/katieywu/Katie/Code/InstaPy/instapy/instapy.py", line 531, in like_by_tags
    commented += comment_image(self.browser,

[2017-10-26 21:29] Xander8 commented on #817
@ateich @HammerSpb Thank god for the duo debug team! Appreciate it guys!

[2017-10-26 21:52] CharlesCCC commented on #823
Staring from yesterday, I'm getting exactly the same error from two different computer i'm using to run the script. (Mac and Windows)

[2017-10-26 22:04] timgrossmann commented on #823
#817

[2017-10-26 22:04] #823 closed

[2017-10-27 00:51] converge commented on #734
@timgrossmann @sionking your wish if my command :D

#824 (can someone test it ?)

[2017-10-27 01:09] RomeoJuliett commented on #811
160
161                 if unfollowNum != 0 and \
162                    hasSlept is False and \
163                    unfollowNum % 10 == 0:
164                         print('sleeping for about {}min'
165                               .format(int(sleep_delay/60)))
166                         sleep(sleep_delay)
167                         hasSlept = True
168                         continue
169

[2017-10-27 01:13] RomeoJuliett commented on #817
@ateich

It unfollows just fine actually, it's when it tries to follow someone that it breaks. I reported back in the other thread as well.

[2017-10-27 01:17] converge commented on #793
the race is over! 🏎
🥇  IRC won!
🥈  Slack
🥉 WhatsApp

IRC:
irc.freenode.net
#instapy channel

I create a slack channel too: https://join.slack.com/t/instapy/shared_invite/enQtMjYzODY1ODAzMDMxLTFkZjFlN2UyYzhjYzZjZTQ3YjlhNmE4MzkzYjAwYzZkMWI2Y2UzMWUzYTMyZjgyZTFiZGVjYzNlMmQyYTdkNjI

[2017-10-27 01:49] RomeoJuliett commented on #811
@ateich  I spoke too soon about the fix!

`File "/Users/reco/Desktop/InstaPy/instapy/instapy.py", line 629, in like_by_tags
    user_name)
  File "/Users/reco/Desktop/InstaPy/instapy/unfollow_util.py", line 210, in follow_user
    follow_button.click()
  File "/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/selenium/webdriver/remote/webelement.py", line 72, in click

[2017-10-27 01:50] ateich commented on #811
@RomeoJuliett In `unfollow_util.py` try replacing `follow_button.click()` on line 210 with the following

[code]

[2017-10-27 01:56] RomeoJuliett commented on #811
@ateich like this?

`205             browser.execute_script(
206                 "arguments[0].style.visibility = 'visible'; "
207                 "arguments[0].style.height = '10px'; "
208                 "arguments[0].style.width = '10px'; "
209                 "arguments[0].style.opacity = 1", follow_button)
210             #follow_button.click()
211             browser.execute_script(
212

[2017-10-27 01:58] ateich commented on #811
@RomeoJuliett Yes, exactly like that

[2017-10-27 02:22] RomeoJuliett commented on #811
@ateich  I'll definitely give this a shot and report back on any issues. I never had a problem unfollowing since it unfollows at the very beginning of a run. It's always when it starts to follow, but it's so random. Might follow one person then crash, might follow none then crash. Either way, maybe this fix will work!

[2017-10-27 03:26] converge commented on #821
I just sent the #824 PR to fix the #734 bug, and I think it will fix this bug too, can you test it ?

[2017-10-27 03:26] converge commented on #811
I just sent the #824 PR to fix the #734 bug, and I think it will fix this bug too, can you test it ?

[2017-10-27 03:28] converge commented on #816
I just sent the #824 PR to fix the #734 bug, and I think it will fix this bug too, can you test it ?

[2017-10-27 03:34] rossbulat commented on #821
The script has issues. We are experiencing full server CPU up to 200% after a few hours of running.

I have also experienced memory leaks. If you do not reboot the server on a daily (or more regular) basis then this bot is not useful.

[2017-10-27 03:44] converge commented on #821
@rossbulat pls report a new issue with detailed information, without it we can’t do much.

[2017-10-27 03:46] ateich commented on #817
@katieywu Based on the error log, it looks like the comment button is sometimes either not visible or off screen when we call `comment_elem[0].click()` in `open_comment_section`

Try replacing the `open_comment_section` function with the following
[code]

Instead of `comment_elem[0].click()` the above uses
[code]
which should work even if the comment_button is not visible and, if all else fails, w

[2017-10-27 04:09] justinf102 opened #825 "Getting "Access is Denied" error after trying to fix no module named past error"
I keeping getting the error "no module named past" so i tried pip install future but i get this error below
![image](https://user-images.githubusercontent.com/31114105/32087608-0014d68e-baab-11e7-8f91-6a3e240efa99.png)

[2017-10-27 04:20] justinf102 commented on #825
Nvm i got it now, but now I'm getting no module named "jsonschema"

[2017-10-27 04:59] timgrossmann commented on #821
@rossbulat Yes, the problem is that if there is some kind of error, it won't close the XVFB and Chrome instances and just start them again next time.

This can be fixed by using something called [`atexit`](https://pymotw.com/2/atexit/)
as the handler we can call the end method which will then close all the descriptors.

[2017-10-27 04:59] timgrossmann commented on #821
@rossbulat to prevent restarting it manually you can simply use a try catch and reboot the system in the except part of it

[2017-10-27 05:01] timgrossmann commented on #825
@justinf102 `no module named xxxxxx` is always the same, just install it using `pip install xxxx`

Please try to use google before opening up a new issue

[2017-10-27 05:01] #825 closed

[2017-10-27 05:09] rossbulat commented on #821
@converge @timgrossmann That's encouraging, thank you or identifying the issue in this thread.

Is an atexit implementation in the works for the project? Unfortunately we are not yet well-versed enough in Python to implement this fix ourselves.

[2017-10-27 05:14] #793 closed

[2017-10-27 05:15] timgrossmann commented on #821
@rossbulat Who is "we" 😉

Well, this shouldn't be too much work. I'll check if I can submit a PR for that later today or sometime tomorrow... Can't promise anything tough...

[2017-10-27 06:54] rossbulat commented on #821
@timgrossmann Ok, that sounds great.
We are a small development team on a side project, playing with this bot. In any case, thanks for the repo!

[2017-10-27 07:27] timgrossmann commented on #821
#826 please test it, should be working but haven't tested it in depth

[2017-10-27 10:29] converge commented on #614
hey @hoangsoft90 @peguilherme77 @1pyxa1 ,
take a look https://github.com/timgrossmann/InstaPy#switching-to-firefox

[2017-10-27 10:29] #614 closed

[2017-10-27 10:32] converge commented on #510
We reorganized the README.md this week, I think it's easier to use it because we have a table of content. If you wanna update it, or have some doubt, please reopen this issue.

[2017-10-27 10:32] #510 closed

[2017-10-27 10:33] converge commented on #655
did #824 fixed it ?

[2017-10-27 10:35] converge commented on #641
hey @v77v , please try it:
https://github.com/timgrossmann/InstaPy#basic-installation

if the problem persist, pls reopen it.

[2017-10-27 10:35] #641 closed

[2017-10-27 10:37] remybrillet commented on #802
Hi,

I have install Firefox and set "use_firefox = true".
Then, it's OK.

but, the bot say's he like some pictures :

[8/100]
Image from: b'geeksnextdoorhq'
Number of Followers: 2007
Link: b'https://www.instagram.com/p/Bav4Z6KFZEU/?tagged=paris'
Description: b'#TRILL #Dope #streetgoth #SWAG #newaccount #fresh #hiphop #follow4follow #coolin #freestyler #fashion #Philadelphia #newyork #Miami #nextto

[2017-10-27 10:43] converge commented on #802
@remybrillet do you get the same error using latest chromedriver ?

[2017-10-27 10:46] converge commented on #633
hey @zooner-edu, you're using Linux right ?
```chmod -R 755 logs```
will fix it.
pls reopen this issue if it doesn't help.

[2017-10-27 10:46] #633 closed

[2017-10-27 10:50] justinf102 opened #828 "The Bot isn't showing follower users followers"
![image](https://user-images.githubusercontent.com/31114105/32100782-269939a2-bae3-11e7-890c-dc045e321faa.png)

any ideas?

[2017-10-27 10:59] justinf102 commented on #828
It's basically not showing all the features

[2017-10-27 12:11] remybrillet commented on #802
@converge I have download the latest version (http://chromedriver.storage.googleapis.com/2.32/chromedriver_linux64.zip), put it in assets and then pip install . but the result is the same :

selenium.common.exceptions.WebDriverException: Message: unknown error: Chrome failed to start: crashed
  (Driver info: chromedriver=2.29.461571 (8a88bbe0775e2a23afda0ceaf2ef7ee74e822cc5),platform=Linux 2.6.32-

[2017-10-27 12:43] wizarduk commented on #817
@ateich  thanks that's fixed it for me

[2017-10-27 12:57] converge commented on #828
hey @justinf102 , this is InstaPy (the core of InstaPy-GUI),
InstaPy-Gui is at https://github.com/ahmadudin/electron-instaPy-GUI

[2017-10-27 12:59] converge commented on #802
@remybrillet remove chromedriver from your PATH system variable, it's still trying to load ```chromedriver=2.29.461571```

[2017-10-27 13:46] justinf102 commented on #828
I downloaded the instapy-gui tho

[2017-10-27 15:15] justinf102 commented on #828
Fixed!! Thanks

[2017-10-27 15:15] #828 closed

[2017-10-27 15:56] timgrossmann commented on #817
@ateich Would you be interested in proposing a fix via PR? :smile:

[2017-10-27 16:04] katieywu commented on #817
@ateich got another one for ya. On line ~68, the line is `comment_input[0].submit()` but I get this exception when it attempts to comment: `selenium.common.exceptions.StaleElementReferenceException: Message: stale element reference: element is not attached to the page document` ...very odd

[2017-10-27 16:05] rossbulat commented on #821
@timgrossmann After running this for a few hours the system leaked again. I have found something in my syslog that happened around time of the leak:

Oct 27 15:53:56 insta-py kernel: [19930.033766] Out of memory: Kill process 8219 (chrome) score 460 or sacrifice child
Oct 27 15:53:56 insta-py kernel: [19930.033909] Killed process 8219 (chrome) total-vm:1245752kB, anon-rss:68100kB, file-rss:0kB, sh

[2017-10-27 16:27] wizarduk commented on #813
@converge so if i wanted once every 24hrs its this

 00*** cd/InstaPy && python3.4  /cd/InstaPy/quickstart.py >> /tmp/cron_debug_instapy.log.2>&1

[2017-10-27 16:40] converge commented on #821
@rossbulat what's your server setup ?

[2017-10-27 16:50] justinf102 opened #829 "How to not follow private users?"
I would like to know :).

[2017-10-27 17:18] rossbulat commented on #821
@converge
Ubuntu 17.10 x64
CPU: 1 vCore
RAM: 1024 MB
Storage: 25 GB SSD

[2017-10-27 17:33] wizarduk commented on #817
still getting the error

 File "quickstart.py", line 19, in <module>
    session.like_by_tags(['jokes', 'funny', 'lmao', 'jokes', 'lol' ,'laugh' ,'crazy','joking','silly','laughing','epic','lmfao','haha','humor','wacky','hilarious'], amount=50)
  File "/root/InstaPy/instapy/instapy.py", line 571, in like_by_tags
    self.like_by_followers_lower_limit)
  File "/root/InstaPy/instapy/like_util.py", l

[2017-10-27 19:47] Venni27 commented on #821
Random crash here too on Windows with this change...

`File "Z:\Entwicklung\Instapy\instapy\instapy.py", line 624, in like_by_tags
    self.browser, comments)
  File "Z:\Entwicklung\Instapy\instapy\comment_util.py", line 25, in comment_image
    comment_input[0].send_keys("\b")
  File "C:\Python36\lib\site-packages\selenium\webdriver\remote\webelement.py", line 352, in send_keys
    'value': keys_

[2017-10-27 21:31] Venni27 commented on #817
Changed the file with this and the comments are working now in my case:

`
# -*- coding: utf-8 -*-
"""Module which handles the commenting features"""
from random import choice
from .time_util import sleep
import emoji

def get_comment_input(browser):
    comment_input = browser.find_elements_by_xpath(
        '//textarea[@placeholder = "Add a comment…"]')
    if len(comment_input) <= 0:
        co

[2017-10-28 01:22] justinf102 opened #830 "How to follow only active followers of the users account?"
Sorry for all the questions, I was just wondering if this is a possible feature, and if so, How do you configure it? thanks.

[2017-10-28 01:23] justinf102 commented on #830
what i mean by active is that they like the user's posts

[2017-10-28 03:49] ateich commented on #817
@timgrossmann Here's the PR including @katieywu's fix. #831 😄

[2017-10-28 03:53] ateich commented on #817
@wizarduk It looks like your issue may stem from Instagram temporarily limiting liking from your account.

From #657: "I faced this problem and it was the sign that liking was limited for an account. Did you check the liking ability on your phone?"

[2017-10-28 09:02] wizarduk commented on #817
@ateich ill check my cron job doesn't start i haven't a clue why not...

[2017-10-28 09:41] converge commented on #829
hey @justinf102 , this is not possible at the moment.

[2017-10-28 15:46] wizarduk opened #832 "Error stopping script"
I keep getting this error when trying to run script i have done all the fixes and still happens.

arty #fun #pokerfest #casinofigueira #figueiradafoz #pokertime #pokertournament #showtime #pokerlife #pokerlive'
--> Image Liked!
Traceback (most recent call last):
  File "quickcasino.py", line 20, in <module>
    session.like_by_tags(['casino', 'gambling', 'freebets', 'poker', 'roulette' ,'footballb

[2017-10-28 15:49] wizarduk commented on #821
Yes seems like a issue this bot is not stable im just getting issues every day

[2017-10-28 16:20] amoffitt123 opened #833 "Crashing of Script on Firefox"
Hello, I am using InstaPy on firefox, and since about 2 days ago, the script crashes after logging in and liking one photo. any help? thanks.
Here is the error;

[2017-10-28 17:01] RomeoJuliett commented on #819
This issue is being solved in #817

[2017-10-28 17:01] #819 closed

[2017-10-28 17:53] #817 closed

[2017-10-28 19:51] michaloslav opened #834 ""chromedriver is missing!" in GUI even though the newest chromedriver is in \assets"
I installed the GUI, cloned InstaPy and directed the GUI to the folder. I then downloaded the newest version of chromedriver from the website and put it in the \assets folder but the GUI still says that it's missing. When I try to run it anyway, I get this: "Error: SyntaxError: EOL while scanning string literal"
I tried googling around but I didn't find anyone with a similar problem so I decided t

[2017-10-28 22:06] converge commented on #821
hey @rossbulat , take a look at my review at #826.

I wanna try your InstaPy configuration, what options are you using ?

[2017-10-28 22:43] timgrossmann commented on #834
@michaloslav Please post this issue at the GUI repository...

[2017-10-28 22:43] #834 closed

[2017-10-28 23:13] converge commented on #779
@mamartins thank you for your bug report, we just merged a fix, can you test it ? if you find some problem, please, reopen it!

[2017-10-28 23:13] #779 closed

[2017-10-28 23:16] converge commented on #833
hello @amoffitt123 , we fixed it today, please update InstaPy and try again. If the problem persists, please reopen this issue.

[2017-10-28 23:16] #833 closed

[2017-10-28 23:16] converge commented on #832
hello @wizarduk  , we fixed it today, please update InstaPy and try again. If the problem persists, please reopen this issue.

[2017-10-28 23:16] #832 closed

[2017-10-29 01:11] converge commented on #830
@justinf102 we have today the feature
```unfollow_active_users(enabled=True, posts=3)```

we should change it's name to dont_unfollow_active_users, it prevents to unfollow users who liked one of our latest "3" posts.

[2017-10-29 04:00] rossbulat commented on #821
@converge Sure, this is my configuration. I'm fetching the credentials from another file so we can soure-control the bot config.

from instapy import InstaPy
import json

with open("credentials.json") as json_data:
        d = json.load(json_data)

insta_username = d["username"]
insta_password = d["password"]

session = InstaPy(username=insta_username, password=insta_password, nogui=True)
session.

[2017-10-29 11:45] justinf102 commented on #830
Ok, and do you know how to loop the bot so it can run 24/7. Great bit btw

[2017-10-29 12:17] justinf102 commented on #830
Or is there anyway to loop it

[2017-10-29 13:09] converge commented on #830
@justinf102 thanks, @timgrossmann made most of the work, I'm just helping a little.
you can do it, take a look:

https://github.com/timgrossmann/InstaPy#automate-with-cron
https://github.com/timgrossmann/InstaPy#automate-with-schedule

[2017-10-29 13:38] martinkrulltott commented on #700
@julienschroder , @zooraw , @timgrossmann , is this fix still applicable? Just pulled ed8623b and now the code seems quite different and I can't find where to apply this. Is there still a need for a temporary fix or has it been fixed through a PR already?

[2017-10-29 13:47] converge commented on #700
@martinkrulltott I think we don't have this error anymore, #824 fixed it.

[2017-10-29 14:31] justinf102 commented on #830
im too noob to setup schedule lol

[2017-10-29 18:03] justinf102 commented on #830
Like how would you set up a crontab in windows command prompt?

[2017-10-29 19:10] schonert commented on #23
@timgrossmann there might be a point in considering using the web endpoints. We might be able to speed things up a bit and use less resources running the Bot.

As soon as we sign in to Instagram the cookies are set - we’ll be able to use their endpoints as long as we include credentials.

I’m not at my laptop - I’ll do a bit more research ☝🏻

[2017-10-29 20:20] justinf102 opened #836 "How to setup a Schedule for Windows?"
Would I use schedule task? or would I download Cron for windows?

[2017-10-29 22:41] SamuelPinho commented on #799
I'm with the same error

[2017-10-30 05:00] narchiii opened #837 "Cron Job problem"
I'm running into a problem setting up a cron job. I'm using OSX El Capitan. I have InstaPy running ,from my home directory, with this command.

cd healthy_bot/InstaPy && python ./quickstart.py

However, when I put this in my crontab and save it; nothing happens at the specified time.

39 0 * * * cd healthy_bot/InstaPy && python ./quickstart.py

Sorry for asking such a basic question. I'm very new

[2017-10-30 05:06] timgrossmann commented on #837
@narchiii to be absolutely sure, please always provide an absolute path for the `cd` part here.
e.g for me it would be `/Users/TG/git/InstaPy`

[2017-10-30 05:08] #837 closed

[2017-10-30 05:11] timgrossmann commented on #836
@justinf102 There should be a GUI application provided in the windows system with which you can easily set up scheduled tasks

[2017-10-30 05:14] timgrossmann commented on #23
@schonert That sounds great, thank you!
This could also get rid of a lot of the problems when searching/clicking buttons.

I just read through this thread again and realised, that I just didn't understand what @xiyouMc was walking about. Now it makes a lot more sense and I really think this has to be observed some more so thank you @schonert  for your contribution!

[2017-10-30 05:15] narchiii commented on #837
Sorry to be annoying. But, I tried it with the absolute path and got the same results. When I run
cd /Users/appcode/healthy_bot/InstaPy && python ./quickstart.py
everything runs fine.

But, when I put this into crontab nothing happens.

11 1 * * * cd /Users/appcode/healthy_bot/InstaPy && python ./quickstart.py

I understand if you can't point me in the right direction because it's not a problem wi

[2017-10-30 05:16] timgrossmann commented on #830
@converge Haha, there are really a ton of people involved in this project. Very few, as actively as you are so you definitely deserve quite a lot of the thank you's!

[2017-10-30 05:16] timgrossmann commented on #837
@narchiii Can you please read my answer...

[2017-10-30 05:17] timgrossmann commented on #837
# Therefore, simply use python quickstart.py

[2017-10-30 06:27] narchiii commented on #837
Thanks! It works now.

[2017-10-30 07:21] akcasoy opened #838 "cannot use characters like "ü" in hashtags"
Is this a desired functionality? Or i could not figure it out which Unicode representation i have to use in my hashtag string..

[2017-10-30 08:15] wizarduk commented on #832
@converge thanks, i have done this and it works fine now tested yesterday and didn't get any errors one issue I am having is my cron job doesn't work I have tried this several times and it's not starting or working?

[2017-10-30 09:30] CruiseDevice commented on #814
Hello @converge. I would like to work on this. Can you please guide me on what exactly are the changes i have to make.

[2017-10-30 10:34] converge commented on #814
hey @CruiseDevice , thank you for your interest!
I did it this weekend and forgot to close this issue, sorry. But it would be great if you could test it.

If you have some consideration or changes, you could fork it and propose a pull request with your ideas/changes.

[2017-10-30 10:34] #814 closed

[2017-10-30 11:57] mamartins commented on #779
I'll test it.
Thanks guys!

[2017-10-30 12:14] converge opened #839 "[feature] InstaPy statistics"
Hello,

I'm thinking about this idea and wanna share with you.

Record every InstaPy activity (like, comment, follow, unfollow, account followers, account following) in a statisticas.csv file and organize it by day, like:

[code]

**Why ?**
To be able to create reports, measure interactions and measure account grow.

This data can be used by external tools to create reports, in this way, we focus

[2017-10-30 12:44] justinf102 opened #840 "follow loop error?"
Anyone know how to fix? And what is the command line to update bot.

[2017-10-30 15:07] timgrossmann commented on #838
@akcasoy please give some more information about where what is not working...

Is it the commenting?
Have you tried `u'Test das ist eine übung'`

[2017-10-30 15:51] bsnisar opened #841 "Docker all_in_one building issue"
## Expected Behavior
Build docker immage with all components successfully

## Current Behavior
Build failed:
`
dpkg: dependency problems prevent configuration of google-chrome-stable:
 google-chrome-stable depends on lsb-release; however:
  Package lsb-release is not installed.
`

## Possible Solution (optional)
dpkg will failed on first unmet dependecies. This dependecies should be fixed by `apt-

[2017-10-30 16:34] akcasoy commented on #838
Try to give some hashtag with ü in "Like by Tags". Then you click on run button and see the error.. But the problem may also be sth. related with the "InstaPy GUI"..  I cannot run the app without the GUI right now.

[2017-10-30 16:52] remybrillet commented on #802
@converge : How ?
I haven't chromedriver in my PATH system variable :

root@serveur:~/InstaPy# echo $PATH | tr ":" "\n" | nl
     1  /usr/local/sbin
     2  /usr/local/bin
     3  /usr/sbin
     4  /usr/bin
     5  /sbin
     6  /bin
     7  /usr/games
     8  /usr/local/games

[2017-10-30 23:20] wizarduk commented on #821
anyone know how to make cron work i cant get it to auto start ?

[2017-10-30 23:24] timgrossmann commented on #821
@wizarduk Please use the search in the issues and/or look into the readme. This has been asked ~17 times before

[2017-10-31 02:08] converge commented on #667
I fix this problem was fixed and there isn't interaction here for a long time. Please, reopen this issue if you need it.

[2017-10-31 02:08] #667 closed

[2017-10-31 02:11] converge commented on #530
now, follow_user_follower, follow_user_following and unfollow_user has this option sleep_delay.

[2017-10-31 02:11] #530 closed

[2017-10-31 02:13] converge commented on #612
fixed at #805

[2017-10-31 02:13] #612 closed

[2017-10-31 02:14] converge commented on #613
hey, @hoangsoft90 do you have some news about it?

[2017-10-31 02:16] converge commented on #425
No interaction for a long time. Please, reopen this issue if you need

[2017-10-31 02:16] #425 closed

[2017-10-31 02:17] #537 closed

[2017-10-31 02:18] converge commented on #517
as @westondeboer said, latest version should fix it. pls, reopen the issue if you need it.

[2017-10-31 02:18] #517 closed

[2017-10-31 02:19] converge commented on #593
@preenupaul did you fix it ? can we close it ?

[2017-10-31 02:19] #593 closed

[2017-10-31 02:22] converge commented on #576
there is no interaction for a long time, pls, reopen it if you need.

[2017-10-31 02:22] #576 closed

[2017-10-31 02:24] converge commented on #404
there is no interaction for a long time, pls, reopen if you need.

[2017-10-31 02:24] #404 closed

[2017-10-31 02:25] converge commented on #840
hey @justinf102 , show your full trace back and your current quicktime.py setup

[2017-10-31 02:26] converge commented on #830
pls, reopen it if you need.

[2017-10-31 02:26] #830 closed

[2017-10-31 02:28] converge commented on #693
hey @Namaslayer , did the latest version fixed it ? pls, reopen the issue if you need.

[2017-10-31 02:28] #693 closed

[2017-10-31 02:28] #688 closed

[2017-10-31 02:33] #3 closed

[2017-10-31 02:39] converge commented on #501
hey @kthyaki , did you manage to get it working ?

[2017-10-31 02:39] #501 closed

[2017-10-31 02:43] converge commented on #351
Closing this issue because this feature is already available.

[2017-10-31 02:43] #351 closed

[2017-10-31 02:44] converge commented on #683
hey @pedronader , it would be easier to ask at InstaPy-GUI repository, https://github.com/ahmadudin/electron-instaPy-GUI

[2017-10-31 02:44] #683 closed

[2017-10-31 02:45] converge commented on #670
the bug is fixed if you update to latest version. pls, reopen if you need.

[2017-10-31 02:45] #670 closed

[2017-10-31 02:46] converge commented on #571
@gintjtjtj did you got it to work ?

[2017-10-31 02:47] #567 closed

[2017-10-31 02:48] #564 closed

[2017-10-31 02:49] converge commented on #596
hey @peguilherme77 , did you managed to fix it ?

[2017-10-31 02:49] #596 closed

[2017-10-31 03:28] omidedipidizi opened #842 "Cron Job On Raspberry Pi Not working"
my cron not running at all ...

Could somebody help please ?

This is my configuration

![crontab](https://user-images.githubusercontent.com/25254194/32206125-b3d15b4a-bdc9-11e7-8ed6-4aa8d17197c0.PNG)

[2017-10-31 04:08] timgrossmann commented on #842
@omidedipidizi Assuming you want to run this script every hour at :20 (1:20, 2:20, 3:20)

You just put the * ... */1 does not make any sense to do since the star at that position means every hour.

[2017-10-31 07:38] max-si-m opened #843 "Comments doesn't work"
## Expected Behavior

Add comments for 25% of scraped photos, but it raises an error

## Current Behavior

[code]

## InstaPy configuration

[code]

[2017-10-31 07:48] #843 closed

[2017-10-31 08:19] akcasoy commented on #838
This is the error when i run your app without GUI:

File "quickstart.py", line 11 (this is the line with session.like_by_tags(['sehenswürdigkeit'], amount=500, media='Photo'))
SyntaxError: Non-ASCII character '\xc3' in file quickstart.py on line 11, but no encoding declared; see http://python.org/dev/peps/pep-0263/ for details

[2017-10-31 10:52] akcasoy opened #844 "Waits in code (Sleep)"
I have seen in code that you often used some waits with sleep(seconds). Are those just for waiting for HTML Elements? If so, why did not you use sth. like “waitForElement”, and the code simply waits just until the element appears, so all in all everything runs a bit quicker.

Or was that a way of avoiding the Instagram Captcha, so that the Instagram does not see your app as a bot? If so, and if yo

[2017-10-31 11:37] RomeoJuliett commented on #839
I think this is a pretty good idea actually! Custom analytics would go a long way in being able to track our activity. I currently use SocialBlade to monitor how far my reach is extending. Not ideal, but it does work.

[2017-10-31 11:38] RomeoJuliett commented on #811
This issue has been resolved thanks to feedback from @converge

[2017-10-31 11:38] #811 closed

[2017-10-31 11:46] converge commented on #717
This problem should be fix with the latest version, if you still face this issue, pls reopen it.

[2017-10-31 11:46] #717 closed

[2017-10-31 11:48] converge commented on #673
hey @alberto11651 , did you solve this issue ?

[2017-10-31 13:43] xiyouMc commented on #23
@timgrossmann That's my mistake，Sorry. Because I am a Chinese developer, all the words used is not very clear . Hahahaha

[2017-10-31 15:46] JCADC commented on #839
That'd be awesome @converge !

[2017-10-31 18:29] randysinnott commented on #717
Can verify this has been fixed in latest version.

[2017-10-31 20:07] gitpatrickhub commented on #698
@imakethefish any chance you confirm these features are working and what your RPI3 configuration is?

@converge you seem to be helping fix all things instapy these days. Any chance you can help out here (#660 #644 #566)

[2017-10-31 20:20] converge commented on #698
hey @gitpatrickhub I would love to help, but my RPI is the RPI 1 B model and there isn't chromedriver or geckodriver for it.

If you guys wanna send me one RPI3, I donate my RPI 1 B to https://github.com/fablabjoinville guys.

[2017-10-31 22:03] driverdo19 opened #845 "how to do comment on tags? I only see the session.do_not_include..."
## Expected Behavior

## Current Behavior

## Possible Solution (optional)

## InstaPy configuration

[2017-10-31 22:06] imakethefish commented on #698
@gitpatrickhub hey totally forgot about this my apologies

I can confirm interact features working on RPI3 with below config:

Raspbian Jessie
Python 3.5
Selenium 2.53.6
Firefox 52.3.0
Geckodriver updated to 0.19.0

[2017-10-31 22:51] Namaslayer commented on #670
Awesome! How do I update to the latest version?

[2017-10-31 23:39] timgrossmann commented on #670
@Namaslayer `git pull`

[2017-10-31 23:41] converge commented on #845
hey @driverdo19 , it's all in the docs https://github.com/timgrossmann/InstaPy#commenting

[2017-10-31 23:41] #845 closed

[2017-10-31 23:50] #637 closed

[2017-10-31 23:52] converge commented on #636
hey @hoangsoft90 , unfortunately we can't help on this because it's not InstaPy related.

[2017-10-31 23:52] #636 closed

[2017-10-31 23:53] converge commented on #635
there is no interaction for a long time, pls reopen it if you need.

[2017-10-31 23:53] #635 closed

[2017-10-31 23:58] #705 closed

[2017-10-31 23:59] converge commented on #703
hey guys, some news about it ? @AustineA @cagalindo @hoseinit @CrazedRaven @omidedipidizi @geewaq @jacktator

[2017-11-01 00:00] converge commented on #697
@dominicwhyte @oldspankie is think this is fixed, am I correct ?

[2017-11-01 00:02] converge commented on #691
@CodeMaster1 blacklist feature can help you ? #835

[2017-11-01 00:03] converge commented on #684
hey guys @rokpalash @Pormientras @46960 , some news about it ? is it still happening ?

[2017-11-01 00:05] converge commented on #668
hey @rafffix , did you managed to fix it ? how did you fix ?

[2017-11-01 00:05] #665 closed

[2017-11-01 00:12] converge commented on #561
there is no interaction for a long time, pls reopen it if you need some help.

[2017-11-01 00:12] #561 closed

[2017-11-01 00:14] #655 closed

[2017-11-01 00:15] converge commented on #621
there no interaction for a long time, pls, reopen it if you need.

[2017-11-01 00:15] #621 closed

[2017-11-01 00:17] converge commented on #604
it should be fixed, pls, reopen it if you find the same bug.

[2017-11-01 00:17] #604 closed

[2017-11-01 00:18] #582 closed

[2017-11-01 03:04] xstalpha opened #846 "Not sure what's up here"
python quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 8, in <module>
    session = InstaPy(username=insta_username, password=insta_password, use_firefox=True, nogui=True)
  File "/root/InstaPy/instapy/instapy.py", line 106, in __init__
    self.set_selenium_local_session()
  File "/root/InstaPy/instapy/instapy.py", line 125, in set_selenium_local_session
    self.bro

[2017-11-01 03:11] converge commented on #846
hey @xstalpha , how is your quickstart.py ?

[2017-11-01 03:27] xstalpha commented on #846
it is the default one from the install page, but i added nogui and use_firefox since chromedriver wasnt working

from instapy import InstaPy

insta_username = 'USER'
insta_password = 'PASS'

# if you want to run this script on a server,
# simply add nogui=True to the InstaPy() constructor
session = InstaPy(username=insta_username, password=insta_password, nogui=True, use_firefox=True)
session.logi

[2017-11-01 04:27] adammenges opened #847 "TypeError: descriptor 'strip' requires a 'str' object but received a 'unicode'"
## Expected Behavior
Commenting with Emoji works

## Current Behavior
[code]

## InstaPy configuration
[code]

where `_general_comments` has objects like: `u"👊🏻"`

[2017-11-01 05:34] gitpatrickhub commented on #698
@imakethefish thanks! I’ll try using python 3.5 later this week and post results.

[2017-11-01 08:23] ujazzz commented on #844
Would really like to see this implemented.

[2017-11-01 11:09] 1saeedsalehi opened #848 "my account hacked"
i use instapy gui over instapy and my account was hacked
it's not secure really,
i take my account back , but please care about using instapy gui

anybody knows about instapy security?

[2017-11-01 11:20] antony5617 commented on #815
Hello, i got the same error. Can someone help me ?

Thanks a lot!

[2017-11-01 11:40] converge commented on #848
hey @1saeedsalehi , sad to hear that. I don't know InstaPy, it's other project and other repository.

Speaking about InstaPy side:
your login/passwd is store in a local file and used in the login page, after that, there is no more interaction with those data.

[2017-11-01 11:42] converge commented on #815
hey @antony5617 , is your InstaPy updated with latest version ?

[2017-11-01 12:01] Nemixalone commented on #848
How did you notice that? Can you explain behaviour of your account?

[2017-11-01 12:08] antony5617 commented on #815
Yes i do

[2017-11-01 12:14] pilotdude commented on #844
Sleep is to introduce a delay and some randomness to help avoid being blocked as a bot.

see: #764

[2017-11-01 12:20] pilotdude commented on #839
I've been brainstorming how to collect and report analytics for a while now. I definitely want to devote some time to it. I've been debating over whether it would be better to use csv or establish a local SQLite Database. Do you have a reason for suggesting a csv file as opposed to SQLite?

[2017-11-01 12:32] pilotdude commented on #820
Sorry to bump a (somewhat) old thread but I wanted to share some thoughts here.

In the vein of: "less calls to Instagram server and more effectiveness in the actions, bringing better results" I think we should be noting info about users when the script interacts with their page. Info like post id, number of followers, hashtags used, etc. I think so long as we are scraping the page we might as wel

[2017-11-01 12:44] converge commented on #839
hey @pilotdude ! A "real" database requires heavy modules (and more modules to be installed), a database diagram well documented and it increases complexibility.

I think the csv approach is good to keep it clean and simple, in this way the database complexibility can be used for front ends for example where way more informations are needed/collected/saved.

[2017-11-01 12:58] pilotdude commented on #839
@converge I just skimmed your OP and thought it was exactly what I was thinking about but it wasn't. For what you proposed a csv file is definitely much better.

I was thinking of a whole lot more analytics and info that could be used to speed up the process. For example noting the follower counts of specific accounts, noting post IDs that had already been interacted with etc. So then when the scr

[2017-11-01 13:06] pilotdude commented on #847
@adammenges I think the error is coming from the like_by_tags method.

Do you have emoji's or unicode objects in "_tags"?

[2017-11-01 14:01] Radzam opened #849 "How do I use schedule with docker microservice?"
I am new to docker and not really sure what to do here. I would like to schedule so that my docker microservice is being run several times per day and liking 100 images with specified tags each time.

I can run it without the scheduling functionality just fine, and when I connect with VNC I can see that selenium is doing its work. However it does not seem to work when I try to add schedule inside

[2017-11-01 14:09] 46960 commented on #820
Lately people have beeb DM'ing my account to ask me why I keep following and unfollowing them. Some of them were really pissed off. I've also noticed that some have blocked me. Since it is not our intention to upset users, it would be really cool for the bot to not follow users we followed (and unfollowed) before! What do you think?

[2017-11-01 14:14] blakemmw commented on #836
@justinf102 Hey mate, Suss out running Task Scheduler. You can tell your computer to run .bat files and the .bat files can launch the .python files. I've been doing this for months.

[2017-11-01 16:24] bradenjust commented on #840
I am also getting this error. I have attached an image of my quickstart.py file
![error](https://user-images.githubusercontent.com/33287578/32285034-1e63e01c-bef7-11e7-97c4-c44cc2989b79.PNG)

[2017-11-01 16:49] 1saeedsalehi commented on #848
@Nemixalone suddenly I logged out from everywhere, also my password reset email was changed and much more.
morandoron97@gmail.com
is hacker email address,

finally, I take back my account, but I think  instapy GUI is not secure

please remove it from installation document

[2017-11-01 17:51] randysinnott opened #850 "(Feature Poll) Interest in using MySQL Database with InstaPY?"
I've been modifying my local repo so that it reads most variables out of a MySQL database instead of from the config file.  I am beginning to insert some additional code that logs results to the same database instead of into a flat log file.

The major advantage I'm looking to leverage is that other applications can more easily make changes to the hashtags, amounts to be liked, followed, unfollowe

[2017-11-01 19:47] narchiii commented on #848
How did you manage to get your account back?

[2017-11-01 20:26] timgrossmann commented on #820
@46960 If you'd read the readme you'd see that there is a times parameter with the follow function that keeps track of the people you followed and how often you followed them :wink:

[2017-11-01 20:35] randysinnott commented on #850
Interesting.  I have hooked in the run statistics for analytics purposes as well :).  In particular, I have modified the follow/unfollow to stay within a "target range" of number of people to follow.  And I guess the choice of DB is a bit moot as multiple adapters could be written for your of Relational DB.

I really do like that idea of optimizing the post checking mechanism for better performanc

[2017-11-01 21:20] 46960 commented on #820
Thanks @timgrossmann! Does it also apply to session.follow_user_followers (which is the function that I am mainly using)?

[2017-11-01 23:29] timgrossmann commented on #820
@46960 Feel free to open up a feature request issue for that and post a bounty on it.

[2017-11-02 00:38] converge commented on #840
@bradenjust @justinf102 , pls, show the full error message.

[2017-11-02 05:31] sionking opened #851 "show more likes button not exist! we need to scroll bottom"
## Current Behavior
in get_active_users:
`               # if there is a button to show more likes
                more_likes = (
                    re.search(r'\b\d+ likes?\b', tmp_list[0].text, re.I)`

I don't see any "more likes" button and since that not all likes in image captured.

[2017-11-02 05:53] sionking commented on #851
I mean there is 250 likes and only first 20 captured

[2017-11-02 08:10] 1saeedsalehi commented on #848
@narchiii I received an email that let me revert recovery email change  and password change

[2017-11-02 09:48] RiccardoBe commented on #724
Same issue here, I am pretty sure it's an Istagram semi-ban, I cannot even explore manually tags I used to use on bot, changing tags worked for me

[2017-11-02 10:50] Radzam opened #852 "Wrong login data - Current configuration has issues with newest Chrome v62 on docker"
I have made a clean install of InstaPy and made some tests using docker microservices. I didnt have any issues with the old version that used previous chrome versions. Now with a clean install even if I updated the chrome driver to latest version (2.33) and even tried rebuilding the images, it is telling me that in most cases the login data is wrong and just closes the session. It is not and I can

[2017-11-02 11:35] henrytriplette commented on #844
You can add the sleep function inside your code by importing

`from InstaPy.instapy.time_util import sleep`

And using it like that:

[code]

[2017-11-02 13:06] RomeoJuliett commented on #848
You could always just run Instapy in AWS on a Linux instance. That seems to be a bit more secure all things considered.

[2017-11-02 13:21] pilotdude commented on #852
I've seen this issue occurring on previous versions of InstaPy as well at somewhat random times. For me sometimes it goes through and sometimes it doesn't. Usually if I restart InstaPy it works fine.

[2017-11-02 13:54] converge commented on #839
hey @pilotdude @JCADC @RomeoJuliett, if you guys have some free time, could you help me testing it ?

[2017-11-02 13:59] converge commented on #851
hey @sionking , it's a bit hard to understand, can you explain it better ?

[2017-11-02 16:19] pilotdude commented on #839
@converge I will see if I can look at it tonight.

[2017-11-02 19:07] sionking commented on #851
when I use the set_unfollow_active_users it going over last x posts, trying to list all "active" users, users which liked my posts.
What really happens is that it only take the first 20, to see the others you need to scroll down, something not done in this script, so instaed of having 250 active users per post I get only 20.

Thanks.

[2017-11-02 19:12] sionking commented on #848
Sound like an Israeli name morandoron97@gmail.com hacking an Arab name 1saeedsalehi :)
Kidding.

[2017-11-02 19:36] 1saeedsalehi commented on #848
@romeojuliett 👍good idea

[2017-11-02 19:37] 1saeedsalehi commented on #848
@sionking 😁 i am from iran

[2017-11-02 21:46] Radzam commented on #852
@pilotdude Thanks. It is very annoying. Do you know what causes it and did you find a solution for it?

[2017-11-02 21:47] Radzam commented on #849
anyone?

[2017-11-02 22:09] #623 closed

[2017-11-02 22:12] converge commented on #634
#839

[2017-11-02 22:12] #634 closed

[2017-11-02 22:17] converge commented on #728
Should we add it as a feature request ?

[2017-11-02 22:48] pilotdude commented on #852
Nope, no idea what is happening or why. Potentially related: is it normal for chrome to open two tabs on initialization? One for Instagram and one looking like this:
![image](https://user-images.githubusercontent.com/11094614/32354026-3c66836e-bffe-11e7-9cb4-0335e2fd97ae.png)

[2017-11-02 22:49] RomeoJuliett commented on #851
I'm still confused. You're saying that you want to unfollow anyone who hasn't been active on your last 20 pictures @sionking

[2017-11-03 01:50] blakemmw commented on #724
Any solutions yet? just bumped into this problem

[2017-11-03 02:07] converge commented on #724
hey guys, this issue is happening just in specific accounts, if someone can provide me login/passwd for an account with this problem, I can try to fix it this weekend. (I'm at slack, link on README)

[2017-11-03 02:41] converge commented on #254
our friend @snakelab closed his PR, after #853 merge we can have it. The feature is 90% done, just need to check the limits while running, at the moment is just checking when beginning interaction.
[code]

there is a point to be done, should we have pre defined values for the limitations ?

[2017-11-03 05:38] timgrossmann commented on #97
#521

[2017-11-03 05:38] #97 closed

[2017-11-03 06:40] sunthera commented on #728
Depends need this or not. I noticed it is not so important feature for many and in the same time it breaks compatibility with previous versions of code.

[2017-11-03 07:36] sionking commented on #851
last 7 pictures. instead of listing the total ppl that liked those picture it is only list the first 20 ppl in each picture (which have total likes of 250 ppl each picture!) So getting all active users is not working !!!

[2017-11-03 08:56] wizarduk commented on #724
Same issue here....

[2017-11-03 09:32] wizarduk commented on #724
I tried on several accounts and this is happening on all of them via my VPS

[2017-11-03 11:43] hoseinit opened #854 "abnormal Ram usage!"
Hello,
I am currently using the latest version of the bot.
The problem is when I run the script in a short time I will have all my 2Gig Ram filled with many processes named:
"/opt/google/chrome/google-chrome --disable-background-networking --disable-client-side-phishing-detection
all the Ram and Swap will be filled and I can't do anything else with my VPS.
please help

[2017-11-03 13:14] converge commented on #854
hey @hoseinit , we're working on it #826. Can you help us ? I tried to reproduce it without success.

[2017-11-03 13:30] justinf102 opened #855 "Does this bot follow active users?"
Does this bot follow only active users of an accounts followers?  And if not, how can i set it up?

[2017-11-03 14:00] Sem7 opened #856 "What's wrong with my script"
Hi guys,

Having issues with my script as soon as I am adding stuff. I am not a developer, just an enthusiast user looking forward to understand more about code so please, be patient! :) Leaving here the script I am trying to perform. It loads, Login OK and even performs around 15 likes. After that it closes. I'm pretty sure this must be the script.

Thanks beforehand!

## Current Behavior - Close

[2017-11-03 14:11] amauryleproux opened #857 ""Load button not found""
Hi Guys, does anyone got this error?

When I launch the command "python quickstart.py" I got the message "Load button not found, working with current images!" and so I've got only 10-15 images to like :/

Cheers

[2017-11-03 14:14] diveu commented on #857
Got this one too.

[2017-11-03 14:19] amauryleproux commented on #857
Do you think it's instagram who block this button when we make too much request in a short time?

[2017-11-03 14:27] diveu commented on #857
@amauryleproux Nah, I guess Instagram changed smth and now we should probably change the classname or simply scroll down for additional pics to load

[2017-11-03 14:31] Mattes85 opened #858 "Like amount reduced?"
Currently i face with the Problem that the amount of the liking would not be used greater then 12. Exact this Count are the first results of searching by an specific HashTag, without clicking "Load more" Button. If the script tries to do so, Chrome Report in the Center of the footer "Failed to load RETRY. Tried it on 2 different machines, but there is the same Problem. Could it be something like a

[2017-11-03 14:37] diveu commented on #857
I found out that even though there is still a style section for this button, it's not present on the page. So the fix would be the removal of this part and doing smth like "scroll down -> scroll back -> check whether new images were loaded or not -> continue"

[2017-11-03 14:41] dreamyUB commented on #858
Check it out I think its the same problem, its so annoying #724

[2017-11-03 14:42] dreamyUB commented on #724
@converge i could provide you acc, this problem is so annoying

[2017-11-03 14:54] dreamyUB commented on #857
We all have this problem #724 as I mentioned few times this problem is really annoying

[2017-11-03 14:55] dreamyUB commented on #856
We all have this problem, check it out thin its the same thing #724

[2017-11-03 14:56] MindRave commented on #724
Got the same issue. On my end, Instagram has removed the "Load More" button altogether, replacing it with instant Infinite Scroll. So I don't think it's a ban or anything, just a change in behavior and the Instagram team probably testing a UI change (as they usually do over at Facebook — targeting specific user accounts or geographic locations before deciding to implement it or not across the enti

[2017-11-03 15:10] diveu commented on #857
And another update: as discussed in #724 scrolling down and up works just fine. I'll try (once more) to make a pull request, but I'll probably need some suggestions about it. How is it common? Should this scrolling method be an exception?

[2017-11-03 15:38] Mattes85 commented on #858
Correct, i face the same issues!

[2017-11-03 15:40] Mattes85 commented on #724
@MindRave Sounds very good, where did you put the Code? Could you share that file probably? :)

[2017-11-03 15:58] timgrossmann commented on #858
@dreamyUB Well, good thing that there is [Bountysource](https://www.bountysource.com/issues/51124883-like-amount-reduced) where you can easily and quickly add a bounty to that problem and I'm pretty sure that it will be resolved in no time :wink:

[2017-11-03 16:21] dreamyUB commented on #724
@Mattes85 I will try to help you out think Mind is busy, correct me if I m wrong. Instapy -> instapy -> like_util open it up and find "get_link_for_tag" function 158 line of code.

[2017-11-03 17:50] flo1t commented on #724
@MindRave thanks for your solution.
@Mattes85 insert it in line 167 in like_util.py

i had to adapt it a bit:
`        # print('Load button not found, working with current images!')
        for i in range(int(ceil(amount/12))):
            browser.execute_script(
                "window.scrollTo(0, document.body.scrollHeight);")
            sleep(2)
`

[2017-11-03 18:04] wizarduk commented on #724
@flo1t tried that didn't work

[2017-11-03 18:07] wizarduk commented on #724
File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/root/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/root/InstaPy/instapy/instapy.py", line 16, in <module>
    from .like_util import check_link
  File "/root/InstaPy/instapy/like_util.py", line 168
    for i in range(int(ceil(amount/12))):

[2017-11-03 18:14] flo1t commented on #724
@wizarduk the whole try, except, else expression has to look like this (at least in my case):

[code]

[2017-11-03 18:30] ArdySan2012 commented on #724
@flo1t  That is exactly what I've done. And the script would not even start:
IndentationError: unexpected indent
(I think that's what @wizarduk meant).
Delete this paragraph, works again (for 12 images). Hm...

[2017-11-03 18:33] wizarduk commented on #724
put in 167

load_button = body_elem.find_element_by_xpath(
            '//a[contains(@class, "_1cr2e _epyes")]')
    except:
        # print('Load button not found, working with current images!')
        for i in range(int(ceil(amount/12))):
            browser.execute_script(
                "window.scrollTo(0, document.body.scrollHeight);")
            sleep(2)
    else:
        abort = False

[2017-11-03 18:37] Mattes85 commented on #724
@flo1t works great thx!
@wizarduk did you have installed latest release? if not, do it so, and make the changes which @flo1t has provided

Cheers

[2017-11-03 18:51] dreamyUB commented on #724
Can someone just upload file :P?

[2017-11-03 18:54] Mattes85 commented on #724
here you are,

Exchange that file with your current file located on Instapy -> instapy
[like_util.zip](https://github.com/timgrossmann/InstaPy/files/1442202/like_util.zip)
Do not Forget to extract ;)

and overwrite that

Cheers

[2017-11-03 18:59] omidedipidizi commented on #724
@wizarduk it works !!! tanks

[2017-11-03 19:03] wizarduk commented on #724
@Mattes85 perfect works fine now

[2017-11-03 19:19] wizarduk commented on #724
mine is saying its liking pictures but its not comments etc is working....

[2017-11-03 19:22] dreamyUB commented on #724
File "quickstart.py", line 1
from instapy import InstaPy
    ^
IndentationError: unexpected indent

[2017-11-03 19:42] timgrossmann commented on #724
@Mattes85 @flo1t Great work guys, how about a PR for this? :wink:

[2017-11-03 19:45] Mattes85 commented on #724
@timgrossmann @flo1t we should wait for a PR, i think the sleep time should be increased. It stocks after 20 maybe 30 loads, i just work with amount @500

will try with @sleep 5

[2017-11-03 20:16] sionking commented on #839
I made something simieler using pickle, also limit the total likes and follows per hour/day.
I opened  a thread for it!

[2017-11-03 20:17] sionking commented on #848
Sorry I know Iran are not Arabs :)

[2017-11-03 22:16] #855 closed

[2017-11-03 22:38] drogon34 commented on #724
@MindRave Great work ! Nice and clean fix and it's working smoothly.

The reason I thought is was a account specific restriction was because I tried with multiple accounts in the same geo location. I only saw this issue pop up on my primary acc only that I regularly run the bot on.
But it could also be that they are rolling out new features and UI changes to older accounts first.

[2017-11-04 02:12] converge commented on #254
one day after, we're again at 90% , I thought it would be easier, had to change somethings, there is a PR #859 (work in progress, needing help)

[2017-11-04 02:24] converge commented on #839
hey @sionking , that's good!! I didn't know you were working on it, just made a PR. It will be great if we could work together on it, my approach there is some flaws following/unfollowing. And I think it generates a bit more code than I would like.

PR: #859

[2017-11-04 02:28] converge commented on #857
@diveu that's great! tell me if you need some help, I'm at Slack (link in readme). To make it easier for you, just focus in what works for you, we can test it before merge.

[2017-11-04 02:31] #839 closed

[2017-11-04 03:35] sunnypatel165 commented on #724
PR is on!
Thanks @MindRave @Mattes85 @flo1t and others!

[2017-11-04 05:58] Namaslayer opened #861 "Can't unfollow more than 246 users."
I've got the following unfollow script trying to run via crontab on an Ubuntu Server.

<img width="533" alt="screen shot 2017-11-03 at 10 57 00 pm" src="https://user-images.githubusercontent.com/31394074/32402863-61487b6e-c0ea-11e7-83a8-301d570e2cdb.png">

However it seems to always crash after unfollowing 246 users. exactly at that number everytime.

Here's the error I get. What does this mean?

[2017-11-04 07:48] timgrossmann commented on #724
#860 Was merged, could you guys recheck please?

[2017-11-04 09:58] amauryleproux commented on #857
the #724 solution works perfectly :
in the instapy/like_util.py add

at the top: "import math"
in the "get_links_for_tag" / "except" block:
for i in range(int(math.ceil(amount/12))):
            browser.execute_script(
                "window.scrollTo(0, document.body.scrollHeight);")
            sleep(2)

[2017-11-04 10:03] wizarduk commented on #451
@RomeoJuliett i would forget i have tested 1 account with cron that starts everyday so i don't have to do anything

[2017-11-04 12:32] converge commented on #724
just made a small adjust on @sunnypatel165 (great work!) PR.

[2017-11-04 13:32] mojoego commented on #852
Same same here on both my macbook and an fresh amazon E2 instance... any clue?

[2017-11-04 14:52] converge commented on #861
hey @Namaslayer , it's a chromedriver bug, youre using 2.29 version, pls update it to latest version and tell us if it fixes the issue.

[2017-11-04 15:38] amauryleproux opened #863 "ChromeDriver unexpectedly exited. Status code was: -11"
I'm trying to launch the script on my Ubuntu 14.04 Server by doing this:
"python3 quickstart.py" but I got this error:
"selenium.common.exceptions.WebDriverException: Message: Service ./assets/chromedriver unexpectedly exited. Status code was: -11"

I already read others issues but still got the error when I try the solutions...
Do you have any ideas, please?

[2017-11-04 16:05] wizarduk commented on #629
Happening to me now has this been fixed ?

[2017-11-04 16:20] thomascello opened #864 "Set_unfollow_active_users not working"
Hi,

First of all thanks for all your work!

I would like to unfollow 5 accounts that have been followed by Instapy, starting from the oldest followed account to the newest, and only unfollow inactive accounts (that didn't like one of my 2 last pictures for example).

To do so, I'm using this code:
[code]
But I get this error message:
[code]

Interchange the order of set_unfollow_active_users and

[2017-11-04 16:28] converge commented on #864
hey @thomascello , thank you for you detailed informations. More people are having issues with this function, I'll take a look on it. FIFO (first in, first out), LIFO...

[2017-11-04 16:41] amoffitt123 opened #865 "Only liking 12 posts"
Hello all,

My bot was successfully running for a while now and suddenly it only likes 12 posts per tag even though I have it set to like 115. I run it and then it says 1/12, then 2/12 and so on, but it used to be 1/115 and so on. I'm not sure what happened. Thanks

[2017-11-04 16:42] Namaslayer commented on #861
@converge oh ok.

If I run the following commands, will that update it to the latest version?

<img width="671" alt="screen shot 2017-11-04 at 9 42 05 am" src="https://user-images.githubusercontent.com/31394074/32407320-814cb376-c144-11e7-983a-32f35c7b6fad.png">

[2017-11-04 16:49] dreamyUB commented on #724
Weird I updated code, but it still goes with load button

[2017-11-04 16:51] amauryleproux commented on #863
<UPDATE>

So now I'm launching it without sudo but I've got this error:

Message: no such element: Unable to locate element: {"method":"xpath","selector":"//form/span/button[text()='Log in']"}

[2017-11-04 16:51] sunnypatel165 commented on #724
@dreamyUB Did you build the code again?

[2017-11-04 16:58] amauryleproux commented on #865
did you try this solution: #857

[2017-11-04 17:03] converge commented on #861
@Namaslayer that's chrome, did you cloned instapy? git pull does the work. update your chrome driver too, youre using 2.29, there is some bug fix in the 2.33

[2017-11-04 17:25] Radzam commented on #852
Seems like a lot of people experience this issue, could you please take a look at it? @timgrossmann @converge

[2017-11-04 17:32] thomascello commented on #864
Hey @converge,

Thanks for your very quick answer! I look forward to know more about this issue.

*Indeed, it was outdated. However I just git pulled but still the same issues....
*FIFO: so it means that the oldest followed account will be the first the be unfollowed right?

[2017-11-04 17:34] Radzam opened #866 "Running with firefox on docker microservice"
As many of us are experiencing problems with wrong login data error on chrome with docker microservice, I was thinking of trying using firefox instead. What would I need to change to switch to firefox on docker microservice and would I need to install some drivers for firefox? thanks!

[2017-11-04 18:26] converge commented on #863
hey @amauryleproux , how is your quickstart.py file?

[2017-11-04 18:33] converge commented on #864
@thomascello, just made a PR #867 , can you test it ?

about FIFO, you're right, when you follow users they go to a list, when unfollowing this list will use FIFO to unfollow then in order.

[2017-11-04 18:36] converge commented on #724
I made a new PR extending @sunnypatel165 idea. @dreamyUB you probably is using like by location, my PR should fix it. the main problem is, should we keep the load button click to load content ?

I closed my PR because I don't know if should we keep the button or not, my PR disregard the button.

[2017-11-04 18:38] converge commented on #865
if you update InstaPy, there is a bug fix for like_by_tags(), there another fix on the way.

[2017-11-04 19:16] thomascello commented on #864
I just did it!

I ran:
[code]

I got this error message:
[code]

Thanks for your help!

[2017-11-04 19:17] Radzam commented on #852
@converge I think the issue happens to all of us using docker. Do you have any clue what it might be?

[2017-11-04 19:55] wizarduk commented on #724
im getting this error after a while @converge

 File "/root/InstaPy/instapy/instapy.py", line 571, in like_by_tags
    self.like_by_followers_lower_limit)
  File "/root/InstaPy/instapy/like_util.py", line 352, in check_link
    "return window._sharedData.entry_data.PostPage")
  File "/usr/local/lib/python3.4/dist-packages/selenium/webdriver/remote/webdriver.py", line 465, in execute_script
    'ar

[2017-11-04 20:03] Namaslayer commented on #861
@converge ok. Did the git pull. Does that update chrome driver though? I'm not sure how to do that.

Thanks for your help!

[2017-11-04 20:47] timgrossmann commented on #724
@wizarduk Do you have the latest version of InstaPy? (`git pull`)

[2017-11-04 20:50] kuzne4eg commented on #857
OK
Now just copy-paste on each "load button" in like_util and everything works properly.

[2017-11-04 20:50] timgrossmann commented on #852
@mojoego @Radzam The problem is that Instagram blocks you from logging in to your accounts...

The same happens sometimes when using it with a DigitalOcean server for the first time.
In that case, the IP does not change after the first time, I think with docker it's a little bit different  (Docker people correct me if I'm wrong, please)...

This means that if you log in to your account with your l

[2017-11-04 20:51] kuzne4eg commented on #724
OK
Now just copy-paste on each "load button" in like_util and everything works properly.

Raspberry Pi 3

[2017-11-04 20:55] timgrossmann commented on #724
Would it be possible for everyone to write his country of residence here?
Just making sure that these "load button removes" are globally and not just some kind of A/B test

Thanks

[2017-11-04 20:57] Mattes85 commented on #724
No Problem, i am from germany

[2017-11-04 20:58] timgrossmann commented on #724
Currently in California, no load buttons here

[2017-11-04 21:08] kuzne4eg commented on #724
Spain.

There aro no button on chrome on windowns, but if you use it with headless browser there was always the problem.

[2017-11-04 21:18] justinf102 opened #869 "[Feature] follow only active users of an accounts followers"
I think i mentioned this feature before, but I was wondering if it can be possible in the future :).

[2017-11-04 21:42] wizarduk commented on #724
@timgrossmann i done this now im getting this error when i start ???

--> Image Liked!
Traceback (most recent call last):
  File "quickstart.py", line 20, in <module>
    session.like_by_tags(['jokes', 'funny', 'lmao', 'jokes', 'lol' ,'laugh' ,'crazy','joking','silly','laughing','epic','lmfao','haha','humor','wacky','hilarious'], amount=60)
  File "/root/InstaPy/instapy/instapy.py", line 587, in l

[2017-11-04 21:52] converge commented on #857
it's already merged, you guys just need to update InstaPy

[2017-11-04 21:52] converge commented on #724
Brazil, no loads buttom.

[2017-11-04 22:00] drogon34 commented on #724
New York, no load button on old acc but present on new account.

[2017-11-04 22:02] pixelcatcher opened #870 "add_user_to_backlist() error"
## Current Behavior
Logged in successfully!
Campaign stuttgart first run
Tag [1/1]
--> b'stuttgart'
[1/100]
Image from: b'flohmarkt_karlsplatz'
Number of Followers: 109
Link: b'https://www.instagram.com/p/BbFtArvF_0A/?tagged=stuttgart'
Description: b'Pferdle in mehrfacher Ausfertigung und auch ein \xc3\x84ffle. Heute auf dem Flohmarkt Karlsplatz gesehen. Sind halt echte Stuttgarter und gehen zum V

[2017-11-04 22:14] flo1t commented on #724
switzerland, no load buttons.

[2017-11-04 22:20] mpaolor commented on #724
italy

no load button on instapy's account
load button present on old personal account

[2017-11-04 23:29] mojoego commented on #852
Thanks for you answer, for your work!
The thing is I use docker on my laptop too... and I get the same error message even though I can login to instagram from any browser on the same mac without any message...

[2017-11-04 23:40] converge commented on #870
hello @pixelcatcher , we merged the fix some hours ago.
pls update InstaPy and tell us if it's alright.

[2017-11-05 00:25] wizarduk commented on #724
@timgrossmann i ended up starting again and reinstalling latest one and seems to be ok ....

[2017-11-05 00:42] converge commented on #869
hello @justinf102 , take a look at the Wiki page, if you detail your idea, we can add it there for voting.

[2017-11-05 00:52] imakethefish commented on #861
@Namaslayer you need to download the chromedriver from [here](https://sites.google.com/a/chromium.org/chromedriver/downloads). Then put the extracted file in the assets folder within the instapy folder.

Start a new session and it should be good to go if you've done the pull.

[2017-11-05 01:51] Namaslayer commented on #861
Awesome! I think I’ve got it.

running it now. Fingers crossed this solves the problem.

Thanks everyone.

[2017-11-05 03:04] sunnypatel165 commented on #724
India, no load button, that's why sent a PR :P

[2017-11-05 07:38] kenedy86 opened #871 "Error: (Driver info: chromedriver=2.29.461591 (62ebf098771772160f391d75e589dc567915b233),platform=Windows NT 10.0.16299 x86_64) what should i do?"
![default](https://user-images.githubusercontent.com/33388585/32412860-fa4eb198-c20c-11e7-858b-0f05f920d16e.png)

[2017-11-05 07:39] kenedy86 commented on #871
what should I do?

[2017-11-05 09:13] bjo3rns commented on #850
I like the idea.. more performance and statistic to show.

[2017-11-05 09:24] dreamyUB commented on #724
Serbia,
Checked on 3 accs there is no load button

[2017-11-05 09:26] gaelangu opened #872 "Wrong login data error, then script crashes when phone OTP requested"
After `quickstart.py` is run with the correct login credentials, my chrome browser opens and the script logs in for me but when I reach the page where the phone OTP is requested, the browser closes and the script throws up the following message:

`Wrong login data!`

`Session ended`

`Exception ignored in: <bound method Service.__del__ of <selenium.webdriver.chrome.service.Service object at 0x1059

[2017-11-05 09:39] pixelcatcher commented on #870
I'll give it a try. thanks! the funny thing is I just downloaded a few hours ago :)

[2017-11-05 09:44] bjo3rns commented on #698
@imakethefish @gitpatrickhub

It works fine on my Raspberry Pi 3
config:

Raspbian GNU/Linux 9 (stretch) (nogui)
Python 3.5
Selenium 2.53.6
Mozilla Firefox 52.4.0
Geckodriver 0.18.0

[2017-11-05 09:48] pixelcatcher commented on #870
awesome now it works!

[2017-11-05 09:50] Radzam commented on #852
@timgrossmann Thanks for answering but I dont think this is the case here. When using VNC I can actually see it login and start navigating on tags before it closes down and says that it's wrong login. So there is def some bugg when using the current docker setup, perhaps there is compatibility issues with the configured driver and selenium version? How would I do to switch to firefox with docker m

[2017-11-05 10:32] dreamyUB commented on #871
Update chrome driver https://sites.google.com/a/chromium.org/chromedriver/downloads

[2017-11-05 10:47] dreamyUB commented on #872
Yea try to deactivate 2FA

[2017-11-05 11:19] gaelangu commented on #872
@dreamyUB ok that worked.. but was hoping for a workaround if that was possible. thanks!

[2017-11-05 11:19] #872 closed

[2017-11-05 11:28] kaanair opened #873 "Using another process"
I downloaded again instapy.git for fixing load issue but I got this issue.
Also I would like to thank for  Tim for this great script.

## Expected Behavior
Traceback (most recent call last):
  File "C:\Users\user\Desktop\InstaPy-master\quickstart.py", line 9, in <module>
    session.login()
  File "C:\Users\user\Desktop\InstaPy-master\instapy\instapy.py", line 186, in login
    self.switch_languag

[2017-11-05 13:25] #861 closed

[2017-11-05 13:28] Radzam opened #874 "Create comments based on like tag"
I would like to create different comments for different tags that are being liked. What would the best way be to do this?

[2017-11-05 13:41] converge commented on #870
@pixelcatcher that's great! We had some problem merging it, and fixed it some minutes later :octocat:

[2017-11-05 13:41] #870 closed

[2017-11-05 15:56] converge commented on #873
hello @kaanair , I tested it, it's really not working in Windows.

[2017-11-05 16:41] deendee commented on #640
I had the same problem and I just skipped it the first time I installed and everything as OK.  However I had to update everything and again had this issue so I looked a bit further.  I'm a bit of a novice at these things (I'm more into hardware), but here is how I got around it...

As stated in this thread - https://github.com/timgrossmann/InstaPy/issues/422 you need to find the get-pip.py file do

[2017-11-05 16:56] Namaslayer commented on #861
@converge so the updates make the bot run cleaner (no memory leaks and sessions are closing instead of crashing) But I still can't get it to unfollow more than 246 users in one session, even though it's set to unfollow 2000

<img width="464" alt="screen shot 2017-11-05 at 8 56 08 am" src="https://user-images.githubusercontent.com/31394074/32416993-32d78a90-c207-11e7-8ef7-e7d56cb06848.png">

Any th

[2017-11-05 22:36] converge commented on #852
This happened to me while I was working in Windows, I added this line, and looks like it fixed, can anyone test it ?
[code]
after ```input_username =```

if this is a fix, we could use selenium wait()

[2017-11-06 08:36] datteba opened #876 "IndexError: list index out of range"
![image](https://user-images.githubusercontent.com/30053143/32431953-dcd4474e-c2d5-11e7-92e3-58583ace6e0e.png)

[2017-11-06 08:39] datteba opened #877 "Error: Cannot read property 'entry_data' of undefined"
![image](https://user-images.githubusercontent.com/30053143/32432027-2e3e62cc-c2d6-11e7-9529-f122a699d6b9.png)

[2017-11-06 10:56] dreamyUB commented on #877
Try to update driver https://sites.google.com/a/chromium.org/chromedriver/

[2017-11-06 13:52] blakemmw commented on #874
@Radzam I see what you're saying. If a photo has #beach attached to it, you could confidently tell InstaPy to comment "the beach looks amazing!".

I honestly think you'd be better off having high fidelity Clarifai comments. I use clarify to the absolute extreme and im getting great results. Just bee super specific with comments relating to particular things.

For example:

`session.clarifai_check_

[2017-11-06 16:20] timgrossmann commented on #876
@datteba Please post your quickstart file...

[2017-11-06 16:21] timgrossmann commented on #874
@blakemmw You're right, I did the same

[2017-11-06 19:44] converge commented on #877
if anyone have time to take a look on it or try to fix it, it's something related to the javascript.

[2017-11-06 19:51] jackpot001 opened #878 "Unable to get username on like_by_feed - empty username"
## Expected Behavior
The like_by_feed feature with Interact=True should be able to navigate through the user's profile and like a given amount of their pictures, then go back to the feed and keep liking.
## Current Behavior
I've been having an issue where the bot was getting an empty ('') username so it wasn't able to retrieve images from the user:
[code]
## Working Solution
I was able to debug th

[2017-11-06 19:59] converge commented on #873
I looked at it yesterday, and as I said before, unfortunately it's really not working in Windows. When I was developing the feature I didn't tested it on Windows and wasn't expecting Windows problem when copying files. There is a way to fix it, but it would be a headache for Windows user manually download more libs(win32files), choose the right architecture and python version to make it work.

The

[2017-11-06 20:31] mojoego commented on #852
In the login script, I tried the

as you wrote: same error.

Then I then tried to change :

It seems to connect, the scripts starts, but nothing is liked or anything. Note that my IP is not blacklisted and my account is not ghosted...

[2017-11-06 20:44] gitpatrickhub commented on #857
@converge I merged and the issue is fixed except when I use Interact_user_followers. Anyone else having the issue after merge with this method?

[2017-11-06 20:50] gitpatrickhub commented on #698
Thanks @imakethefish @bjo3rns @converge
I upgraded to python 3.5 and is now working as expected.

@timgrossmann we can close the bounty and associated issues: #660 #644 #566
I think we should update the How to Doc for Raspberry Pi to indicate use of known working configurations as documented in this issue, it will help prevent future issues when people try to deploy on RPI3.

[2017-11-06 21:26] kuzne4eg commented on #857
Yes, but its fixed with copy/paste load button on each “not found” in like_util
@timgrossmann could merge it, I think you understand what am I talking about

[2017-11-06 21:29] kuzne4eg commented on #698
Actually there is no any issues on raspberry pi 3 & python 2.7...
This kind of install does work.
The only problem is that Firefox is too slow loading and sometimes gives error loading profile.

[2017-11-06 21:34] converge commented on #852
@mojoego tha'ts nice! I think we are almost there. What I really think will solve this issue is understand what InstaPy is doing wrong, I wish I had a scenario where it always happens so we could debug it.

Is there anyone with this issue that could give me remote access to it ? So I can debug it (I'm at Slack)

[2017-11-06 21:39] converge commented on #857
@kuzne4eg I do understand, only like_by_tags is using the bug fix, like by location for example it's not patched. There is a PR #862 on the way, but we need help there (at comments).

[2017-11-06 21:41] gitpatrickhub commented on #698
@kuzne4eg I wasn't able to get commenting using Interact_User_Followers to work with python 2.7. The console would indicate the image was Commented, but when I verified the user account for the Comment was not there, nor did it account for the Media specification. I'd be curious if it's working your pi what configuration you have.

[2017-11-06 21:43] kuzne4eg commented on #857
Wrong!
Line 79, 171, 291

[2017-11-06 21:45] Sillanmaki commented on #857
Yes this needs to be merged also to get_links_for_location and get_links_for_username😄  Works fine in there also.

[2017-11-06 22:59] converge commented on #820
@46960 take a look at the new blacklist feature

[2017-11-06 23:16] wizarduk commented on #874
@blakemmw does the work fine in instapy Clarifai comments?

[2017-11-06 23:33] tylergit2 opened #879 "Like pictures by list of users functionality?"
Is there anyway currently to like every user's first post from a list of users? This functionality would be super useful for Instagram engagement groups.

[2017-11-06 23:41] converge opened #880 "Feature Request: InstaPy PlugIns"
There is some nice features showing up everyday, some of then would be opcional, like Telegram integration, Twillo integration and dashboard for example.

Would it be nice, if we could easily install/load it through a plugin system.

we could use a Telegram plugin in this way for example:

[code]

or scrape data plugin for example:
[code]

what do you guys think ?

[2017-11-06 23:47] tylergit2 commented on #879
How hard would it be to do something like this (http://likelistbot.com/faq/) with Instapy?

[2017-11-07 01:45] converge commented on #878
hey @jackpot001 , can you test it ? #881

[2017-11-07 01:51] converge commented on #857
hello @kuzne4eg, sorry I didn't got it, what's wrong ?
check it out: https://github.com/timgrossmann/InstaPy/pull/862

[2017-11-07 06:29] arjunmurali1993 opened #882 "[Help Needed] Facing WindowsError: [Error 32] on all runs - Happens before signing in"
Hi, I pulled all the latest commits today morning and ever since, I've been facing this error. Looks like it might have something to do with logging or the new blacklist feature.

Traceback (most recent call last):
  File "E:/Documents/Python/InstaPy/arjun.py", line 9, in <module>
    session.login()
  File "E:\Documents\Python\InstaPy\instapy\instapy.py", line 186, in login
    self.switch_langua

[2017-11-07 08:09] dreamyUB commented on #877
@converge Well I see he is using 2.30 and latest is 2.33, we dont have respone from @datteba maybe updating driver worked for him

[2017-11-07 08:22] datteba commented on #877
It seems to work now. Thanks @dreamyUB

[2017-11-07 09:35] jackpot001 commented on #878
Thanks!
I'll test as soon as I can and leave a report here

[2017-11-07 09:52] Niels1990 commented on #857
How do I update Instapy? pip update Instapy?

[2017-11-07 09:56] Niels1990 commented on #865
How do I update InstaPy? I am new to Python so installing packages is new to me. Sorry.

[2017-11-07 10:02] Niels1990 opened #883 "InstaPy keeps crashing"
Hi guys,

InstaPy keeps crashing.

Below is a screenshot
<img width="417" alt="instapy crash" src="https://user-images.githubusercontent.com/33132119/32487900-3d4ad810-c3ab-11e7-813c-40c0aa9fedef.PNG">

Thank you in advance!

[2017-11-07 10:38] flo1t commented on #883
are you using the newest version?

[2017-11-07 10:41] Niels1990 commented on #883
@flo1t I'm new to Python so I could be wrong but what I did was in command prompt:
pip install InstaPy--upgrade

[2017-11-07 10:45] flo1t commented on #880
i like this idea, especially the telegram implementation (but i don't know scrape data). monitoring woul'd be easier with this.

[2017-11-07 10:51] flo1t commented on #883
i'm not using the windows version. i just asked because there's no code like "comment_input[0].send_keys("\b")" in line 25 in comment_util.py. but in a later version it was on line 25.

i suggest to update instapy first.

[2017-11-07 11:29] ghost opened #884 "How to turn off 'inappropriate'?"
Hi guys,

Almost every picture gets not liked because it is 'inappropriate'.

I use tags like 'fitness' . How do I turn 'inappropriateness' off?

[2017-11-07 11:39] bjo3rns commented on #884
Check your config file "session.set_dont_like(['pizza', 'girl'])" ...

[2017-11-07 11:54] converge commented on #883
didn't know we had a pip package. I think it's outdaded as @flo1t said, download or clone it in the github page. as youre using Windows, apply this patch #875 while we dont fix it.

[2017-11-07 11:56] converge commented on #880
@flo1t these are examples, we don't need to implement it, the main idea is to have a plugin feature.

[2017-11-07 11:57] converge commented on #865
#881 fixes like_by_feed

[2017-11-07 11:59] converge commented on #857
@Niels1990 best way is cloning it, and doing ```git pull```

[2017-11-07 12:00] converge commented on #882
#873

[2017-11-07 12:00] #882 closed

[2017-11-07 13:46] jackpot001 commented on #878
PR #881 Works like a charm!

I'm wondering if the problem was maybe caused due to a change in the HTML code by Instagram. Is it possibile that we might need to change these "file_element_by_xpath" every once in a while because Instagram is changing the source code?

Anyway, thanks as well for the scrolling on the user profile to bypass the "Load button not found" error, much appreciated.

[2017-11-07 14:34] converge commented on #878
@jackpot001 great to hear that!

I don't know if we need to worry about xpath elements, it's quick to fix it. Another approach would be find elements by it's names, but in the end, it could be the same work to fix it (locate xpath new button text content, maybe the button disappear and we need to locate it anyway)

[2017-11-07 14:46] gitpatrickhub commented on #880
@converge I like the idea, would need some help modifying the text feature into the plugin format.

[2017-11-07 15:07] gitpatrickhub opened #885 "Correct configuration for Commenting Photo vs. Video?"
## Expected Behavior
For media= Photo use specified comments
For media = Video use specified comments

## Current Behavior
Randomly posts one of the comments from both sets regardless of media.

Is the below the correct way to configure this?

## InstaPy configuration
[code]
Raspbian Jessie
Python 3.5
Selenium 2.53.6
Firefox 52.3.0
Geckodriver 0.19.0

[2017-11-07 15:23] sionking opened #886 "Feature: run for infinity."
I implemented a feature for MAX PER HOUR & MAX PER DAY.
I would like to know what is the suggested solution to rerun the script each time it ended/crashs.
I am currently using while(true) and try except inside it.
but it not working the best ;~(

Any suggestions?

Thanks.

[2017-11-07 16:31] amoffitt123 commented on #865
@Niels1990 you could try going to the directory in the terminal and running sudo apt-get update but that never works for me. I usually just restart and re download everything and it's the newest version.

[2017-11-07 17:19] datteba commented on #877
Still the same problem :(

@dreamyUB @timgrossmann

![image](https://user-images.githubusercontent.com/30053143/32507563-0d1be9da-c3e8-11e7-98d2-a6ef7abea60d.png)

[2017-11-07 17:56] tylergit2 commented on #879
from instapy import InstaPy
import os
session = InstaPy(username='***', password='***')
session.login()

# Interact with specific users
# set_do_like, set_do_comment, set_do_follow are applicable

session.set_do_follow(enabled=False, percentage=50)
session.set_comments(["Cool", "Super!"])
session.set_do_comment(enabled=False, percentage=80)
session.set_do_like(True, percentage=100)
session.interac

[2017-11-07 17:56] #879 closed

[2017-11-07 19:46] dreamyUB commented on #877
Which version of python you got? @datteba

[2017-11-07 22:06] converge commented on #857
hey guys, there is a new PR for fixing this issue, can anyone help testing it ?

[2017-11-08 01:08] converge commented on #880
@gitpatrickhub count on me!

[2017-11-08 01:29] diveu opened #889 "Optimal number of interactions per day"
Hey everybody!

I've been trying to do some commits here and there, but still didn't make any pull requests. I've been using this script since June and the results are pretty awesome. I've moved from Digital Ocean to running it on my laptop since Instagram doesn't restrict that much from the known ips.
So, I'd like to propose a feature with something like "optimal interactions per day". I mean tha

[2017-11-08 02:20] converge commented on #889
thats cool. what do you think about #859 ?

[2017-11-08 05:20] sionking commented on #886
`session = InstaPy(username=insta_username, password=insta_password)

while (True):
	try:
		session.login()
		session.set_upper_follower_count(limit=1500)
		#session.set_user_interact(amount=2, random=True, percentage=90, media='Photo')
		session.set_do_comment(True, percentage=5)
		session.set_do_follow(True, percentage=80, times=1)

		#session.interact_user_followers(userFollowlist, amount=20, r

[2017-11-08 05:40] sionking commented on #886
I think this works for me, please take a look and check.

[2017-11-08 08:19] amauryleproux commented on #633
Hi, I've got the same error when I try to run the script via a cron task, I did the chmod -R 755 logs but still got the error :/

Any other solutions please?

[2017-11-08 08:47] datteba commented on #877
@dreamyUB 2.7

[2017-11-08 09:01] wizarduk commented on #639
Sounds like a good idea

[2017-11-08 09:03] wizarduk commented on #237
is this now a feature?

[2017-11-08 09:23] blakemmw commented on #889
Hey, sounds cool. I think the way it works currently, with passing on inappropriate post but adding to the total works well as no day is the same.

In regards to growth and bans. I studied Instagram pretty intensely and I found out that the number of likes a day should NOT be a spike, it should be a gradual increase - kinda like a steroid lol. So start with 18 per tag, 24 per tag, 30 per tag, 45 p

[2017-11-08 10:29] wizarduk commented on #889
@blakemmw So your saying its best to only have max 44 per tag

[2017-11-08 11:06] #858 closed

[2017-11-08 11:08] wizarduk opened #890 "commenting on the same photo each day"
is there anyway to stop commenting on the same photo each day i only want to comment on it once ?

[2017-11-08 11:12] blakemmw commented on #889
@wizarduk no not at all, I'm just playing it safe. The account has just over 3000 followers.

In order to be extra careful, I've tried to randomize as many things as i can to avoid any sort of pattern.

The way i look at it is this:
Is an actual human being going to comment/view more than 400 posts a day? NO WAY. I'm sure you can use instaPy more aggressively. I'm just trying to keep it as real as

[2017-11-08 11:17] diveu commented on #890
That seems strange, because in my case I get "already liked" message and that stops any further actions on photo.

[2017-11-08 11:17] wizarduk commented on #889
@blakemmw very true we are trying a few methods

[2017-11-08 11:19] wizarduk commented on #890
@diveu this is not for photos this is for comments i have had several pictures that i have commented on 3 times now i only want it to comment once ?

[2017-11-08 11:23] diveu commented on #889
@blakemmw actually, some people spend hours liking posts. I've got a friend who even got herself a temporary liking ban by liking too many on her fresh art account :)
What are your growth rate? Mine is about 20-40 new followers per day. Since October I got 500+ (from 800 to 1300) new followers, and I feel I'm playing it safe with many randomized things and many comment and hashtag variations. But

[2017-11-08 11:26] blakemmw commented on #889
@wizarduk just some stats:

Current followers: 3041
Currently following: 2470 ( i dump 60 every second day, to grow my "currently following" proportionately to my current followers)

Last run
liked: 307
already liked: 20
inappropriate: 146
commented: 104
Followed: 45

So im running a quite a bit of tags, but im keeping the overall view / interact under 500 posts.

Instagram looks at the amount of

[2017-11-08 11:26] diveu commented on #890
Which method do you use? like_by_hashtags() with commenting on?

[2017-11-08 11:27] wizarduk commented on #889
@blakemmw Yes we are running 16 tags set at 60 which is doing well but i think i need to lower that amount as had comments set at 50% problem is it keeps commenting on the same picture which doesnt help...

[2017-11-08 11:28] blakemmw commented on #889
@diveu My best mate at universities job is to sit on his phone and like stuff!!!! hahaha. I get you.

when i was using instaPy aggressively, in the beginning, we went from 1500 - 2000 3 weeks. in the past month i think on average we have gone up 10-20 per day. However, when i post something we can go anywhere from 30-80 a day. We got 120 in one day once, was awesome!

[2017-11-08 11:29] wizarduk commented on #890
@diveu   session.like_by_tags

with comments on yes

[2017-11-08 11:34] blakemmw commented on #889
@diveu yeah i'd be careful. Also look at the tags you use.

Check this out: https://austenallred.com/the-growth-hackers-guide-to-instagram-3f084d7d2d0a

[2017-11-08 11:46] converge commented on #890
@wizarduk @diveu take a look at ```set_blacklist``` new feature

https://github.com/timgrossmann/InstaPy#blacklist-campaign

[2017-11-08 11:50] wizarduk commented on #890
@converge so i need to add this line ?

session.set_blacklist(enabled=True, campaign='soccer_campaign')

[2017-11-08 11:56] converge commented on #890
@wizarduk no.. let me know if the doc/readme isn't clear and how could we improve it.

https://github.com/timgrossmann/InstaPy#blacklist-campaign

[2017-11-08 14:30] gitpatrickhub commented on #639
@imewish I set-up text messages on success and failure of the bot using Twilio. See Pull Request #488 Twilio supports email, as well. If there is further interest we could tweak to include the summaries. @converge is looking to move these type of features into a plugin structure.

[2017-11-08 15:23] akcasoy opened #891 "Best Practices for using the Clarifai API?"
Do you guys have any best practices already about using the Clarifai API? Predict feature of this API is really awesome, but how can we use it effectively?
As in the homepage of this project states, we can use it like "if there is food, lunch, dinner, comment Yummy!! etc.." But do you have some personal algorithms to handle this in a more clever way avoding any misbehaviour?  Like looking at the p

[2017-11-08 16:47] timgrossmann commented on #237
@wizarduk Nope, haven't been implemented yet,

[2017-11-08 17:04] JacobSpruce opened #892 "Why don't include function don't work with unfollow?"
I wan't to unfollow everyone except users in don't include list. Am I doing something wrong?

----------------------------------------

[code]

[2017-11-08 18:13] diveu commented on #889
I'm thinking about using some machine learning algorithms here for better scaling etc. We could probably get something working here, but it could make this bot a bit too large and complex :)
For example: choosing the best comment with random forest depending on the content of image or getting the like amounts via linear models like regressions etc.

[2017-11-08 18:14] diveu commented on #889
@converge I'll look into #859 and write my opinion here, thx!

[2017-11-08 20:31] sionking commented on #891
I would like to have some, since not already using it, I would like to see someone's code who does!

[2017-11-08 20:32] sionking commented on #886
The idea is to let the script run without caring for crashes, it will run forever but counting the MAX per day we have. Much easier maintaine.

[2017-11-09 03:05] Kylescottw commented on #797
Thank you for this feature,
I'm trying to implement it into my digital ocean Linux server.

Q: Do I need to install pickel?
Q: Do I just replace the files on my server with the ones in the zip you provided?
Q: after adding these new files do I just reference the MAX_PER_HOUR & MAX_PER_DAY within my .py file?

Q: since I'm using crontab for scheduling, how many times should the script run per day?

[2017-11-09 03:11] Kylescottw opened #893 "Soft Ban Commenting"
## Expected Behavior
Script gets executed daily on digital ocean server with the following crontab
*/30 7-22 * * * cd /root/InstaPy && python3.5 fileName.py

## Current Behavior
instagram asked if the account is hacked and made me reset the password, also Instagram set a temp comment ban on the account

## Possible Solution (optional)
should I adjust my crontab schedule?
or
decrease the tags and a

[2017-11-09 03:16] #893 closed

[2017-11-09 04:38] sionking commented on #851
session.set_user_interact(amount=2, random=False, percentage=90, media='Photo')
session.interact_user_followers(userFollowlist, amount=1000, random=False)

This configuration should go over 2 of my account posts (last posts) and record all the users which did like. what accutually happenes is that the automation only passes over the first users since it is not scrolling to the bottom!

[2017-11-09 08:28] martinkrulltott commented on #700
@converge, @timgrossmann, I'm running the latest version (a9c6ebd), still getting the "Message: element not visible" error from time to time. Same issue as https://github.com/timgrossmann/InstaPy/issues/629 ?

Full log:
Traceback (most recent call last):
  File "./bot.py", line 20, in <module>
    session.like_by_tags(['ozonekites', 'northkiteboarding', 'kiteboarding', 'extremesports', 'kitesurf',

[2017-11-09 09:27] juandes commented on #865
@converge is #881 suppose to fix the problem? I'm trying the current version from master and I am still encountering the same issue. Any other idea? Thanks.

[2017-11-09 11:05] jksyrek opened #894 "Like multiple photos per profile"
Is it possible to like multiple photos per account? In the case the bot is looking for a hashtag, can I set the option to like not only one photo but also a few other of the same author?

[2017-11-09 11:12] converge commented on #851
Hello @sionking, you're being clear here, ```set_dont_unfollow_active_users``` has no relation with ```set_user_interact``` and ```interact_user_followers```.

Last week we updated ```set_unfollow_active_users``` to ```set_dont_unfollow_active_users```, now it's clearer what this feature does.

When you say it's not scrolling down, it's true, ```set_dont_unfollow_active_users``` doesn't need to sc

[2017-11-09 11:15] converge commented on #894
hello @jksyrek , it's possible, check the docs for better understanding: https://github.com/timgrossmann/InstaPy#instapy-available-features

[2017-11-09 12:28] Mehnou opened #895 "Could you please make the cross platform GUI for 32 bit systems too"

[2017-11-09 12:44] Basti922 opened #896 "Ideas for marketing"
## Expected Behavior

Crawl the best influencers from hashtags and cities

## Current Behavior

not possible

## InstaPy configuration

How would it be to find out, who is the person with the most followers on the posted hashtag?

Backround for the idea:
What are local businesses looking for?  People out from their area. People from the city or town where they sell products (food, hairstyle etc.)

[2017-11-09 14:21] pigipi commented on #852
I have the same problem on my mac and I used also Docker.

The script begins, and after connection it stops/crashes after login (and I can see 'Wrong login data!' in the terminal).

Sometimes it works, sometimes it doesn't. Unfortunately, and generally, it doesn't work...

[2017-11-09 14:29] mojoego commented on #852
Personally I move yesterday to a virtual machine to test with Ubuntu, it works flawlessly, so I just bought a Raspberry Pi 3 to install it on...
Best move ever I think... so easier.

[2017-11-09 14:39] alberto11651 commented on #673
Unfortunately I gave up :(

[2017-11-09 14:54] pixelcatcher commented on #632
and I would like to interact with users who engage with a certain post

[2017-11-09 15:08] pigipi commented on #852
In my case when I add wait(), it doesn't crash. But the script waits indefinitely.
I'll do it without docker.

[2017-11-09 15:50] Jhhoo commented on #857
Still receiving the 'Load button not found' issue after the latest pull

[2017-11-09 16:08] hestuppfodarn commented on #852
I found a personal solution for my case. I downloaded the new chromedriver, now everything works frictionless.

[2017-11-09 17:28] converge commented on #857
Hello @Jhhoo , we need your help to test #888.

[2017-11-09 17:34] Jhhoo commented on #857
hey @converge, I've done the latest Git Pull, does it include test #888 ? Is there anything I'm missing?

[2017-11-09 17:37] converge commented on #896
@Basti922 that's a good feature, but it's hard work. A Bounty[1] for it would be great, I'm sure more people would like to see this feature in action. It's a step forward adding more intelligence to InstaPy.

[1] bountysource.com

[2017-11-09 17:38] converge commented on #857
@Jhhoo take a look at #888 (command line instructions)

[2017-11-09 17:39] converge commented on #895
hello @Mehnou , the right place to create this issue is at https://github.com/Nemixalone/GUI-tool-for-InstaPy-script.

[2017-11-09 19:32] Mehnou commented on #895
I'm not talking about the third party GUI

[2017-11-09 20:01] converge commented on #895
@Mehnou alright. pls extend your question, give us details about your issue.

[2017-11-09 20:26] converge opened #897 "Smart Hashtags"
Hey guys, I like this idea, and would like to know if you like it also.

[code]

Extending it a little:

[code]

What do you think ?

[![](https://api.gh-polls.com/poll/01BYH7JA22PRZ58F868S4CM2DY/Good%20Idea)](https://api.gh-polls.com/poll/01BYH7JA22PRZ58F868S4CM2DY/Good%20Idea/vote)
[![](https://api.gh-polls.com/poll/01BYH7JA22PRZ58F868S4CM2DY/Bad%20Idea)](https://api.gh-polls.com/poll/01BYH7JA22

[2017-11-09 21:12] PriKahar commented on #813
This does not seem to work for me on 62.0.3202.75 version.
I am getting the same error 'Network.deleteCookie was not found'

[2017-11-09 21:25] wizarduk commented on #813
@PriKahar update your chrome driver

[2017-11-09 21:39] ugurozturk commented on #254
it would be amazing

[2017-11-09 22:42] mcevadov commented on #36
I pip install future 'd it and still get:

`PS C:\Users\cevad\Downloads\InstaPy-master\InstaPy-master> py quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "C:\Users\cevad\Downloads\InstaPy-master\InstaPy-master\instapy\__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "C:\Users\cevad\Download

[2017-11-09 22:50] converge commented on #36
*ModuleNotFoundError: No module named 'clarifai'*
pip install clarifai

[2017-11-09 22:58] mcevadov commented on #262
How did you set the chrome driver wrong???

[2017-11-09 23:06] converge commented on #262
@mcevadov we learn from mistakes..

[2017-11-09 23:45] timgrossmann commented on #895
@Mehnou This is still the wrong place to post it...
@ahmadudin is the owner of that GUI repository so you should open that issue there.

As always, begging is good but putting a [Bounty](https://www.bountysource.com/issues/51354112-could-you-please-make-the-cross-platform-gui-for-32-bit-systems-too) on that issue will not only make you get the feature but also will help the developer get something

[2017-11-09 23:47] timgrossmann commented on #897
@converge Maybe we can get some ideas on how to easily implement this from their "Hashtag generator"
https://github.com/MoritzGruber/instabot

[2017-11-10 00:00] mcevadov commented on #262
No I meant, what did he do wrong because I had the same issue and didn't know how to set the driver directory wrong. But my problem has been solved! (:

[2017-11-10 00:01] mcevadov commented on #36
Yes thank you! I did some more digging and found this answer as well! I'd thought that since the instructions said to comment out the clarifai bit that it wouldn't be necessary to install clarifai.

[2017-11-10 00:25] converge commented on #262
@mcevadov that's great :)

[2017-11-10 00:48] mcevadov commented on #262
Actually now that I want to edit my parameters I've broken it again. I am attempting to follow x amount of people and then like some photos and then unfollow y amount of people.

[code]

I realize I have two InstaPy folders, one in downloads and one in GitHub. I imagine I should use the one on GitHub? When I do I receive this:

[code]

Of course I am going to continue digging to find an answer mys

[2017-11-10 00:51] converge commented on #262
@mcevadov try removing nogui=True

[2017-11-10 02:00] rvarseveld opened #898 "Follow and unfollow don't work when using nogui=True"
Hi,

I downloaded InstaPy last weekend and got it running smoothly since then. It works great although there's one big issue since a couple of days: unfollow doesn't work.

The followedPool.csv is being filled with followed account names without any problems. When a new run starts with unfollowing accounts from this pool the output shows accounts are being unfollowed but in reality only a few out

[2017-11-10 04:58] gitpatrickhub opened #899 "Followed ReadMe Clarifai Instruction, but InstaPy not Commenting"
## Expected Behavior
When Clarifai does NOT find specified object in image use random comment from list. When Clarifai does find specified object in image use random comment from Clarifai list.

## Current Behavior
No images are liked.

## InstaPy configuration
[code]

summary from session;
Liked: 463
Already Liked: 1
Inappropriate: 75
Commented: 0
Followed: 0

Did I miss something?

[2017-11-10 06:58] timgrossmann commented on #899
@gitpatrickhub Please always use the `set_...` methods **BEFORE** all of the `like_by_...`, `follow_user_...` and `interact_by_...`.

The Setup has to be done before the actual execution of the actions.

[2017-11-10 06:58] #899 closed

[2017-11-10 07:24] Sillanmaki commented on #898
I got some issues with unfollowing. It did unfollow all from pool but still there was users to unfollow but they were not in the pool. So I made unfollow to its own session after following and it's now working fine after couple tests.

[2017-11-10 08:38] keivan85 opened #900 "Instapy keeps crashing after latest update when using interact_user_followers"
I update the chromedriver but no changes.
This is the error and so far it happens when script reaches **private users** . I am using Ubuntu 14.04

This user is private...
Traceback (most recent call last):
  File "quickstart-nora.py", line 25, in <module>
    .interact_user_followers(['account1','account2', 'account3'], amount=27, random=True)\
  File "/home/MY-PC/Documents/InstaPy/instapy/instapy

[2017-11-10 09:25] ugurozturk opened #901 "install pip . or python setup.py install fails"
## Expected Behavior
install without error

## Current Behavior

[code]

## Possible Solution (optional)

## InstaPy configuration
Did clone from github. it is up to date, searched for the error but couldn't find any

## Prerequirements
i though i have everything because i am also using Visual Studio but going to reinstall everything as writed from readme. I will right back soon

[2017-11-10 09:36] ugurozturk commented on #901
By the way, the program looks working.

[2017-11-10 09:41] ugurozturk commented on #886
@sionking Let us know if you get ban

[2017-11-10 10:11] converge commented on #788
It's ready and merged #812

[2017-11-10 10:11] #788 closed

[2017-11-10 10:19] converge commented on #901
Are you following this steps ? https://github.com/timgrossmann/InstaPy#basic-installation

[2017-11-10 10:49] hestuppfodarn commented on #839
Hi @converge,
What was the outcome of the 'exporting statistics' idea?
I love this feature and would love to have it.

[2017-11-10 13:09] justinf102 opened #902 "How to use bot filters"
Like filter out private users, bots, users without profile pic etc

[2017-11-10 13:14] sionking commented on #784
Happened to me 2 :(  I am able to log from mobile but not from laptop

[2017-11-10 13:25] converge commented on #839
@hestuppfodarn good to hear that. The feature is ready (for non Windows users), update to latest commit and check /logs/activity.csv

about the graph, it requires a lot of work, maybe I'll wait a BountySource request, it could be a collective work, with collective Bounty. Maybe we could have a designer to design it, don't know yet. We need to elaborate it.

[2017-11-10 13:30] ugurozturk commented on #901
@converge yeah i do and As i said, program works. Setup looks gives an error and idk what is going on
Python 3.6.3
pip 9.0.1
Win10 Pro 1709

[2017-11-10 14:57] gitpatrickhub commented on #899
@timgrossmann thanks! Sorry, should have caught that.

[2017-11-10 15:24] sionking commented on #886
I won't get banned since I am setting MAX per HOUR and MAX per day...
BTW I don't know hot to do PR .. I will figure it out soon :)

[2017-11-10 15:37] ugurozturk commented on #886
@sionking commit > push to your github fork > new pull request (on your github fork)

[2017-11-10 17:01] Naramsim opened #903 "[Feature request] Extract data when commenting"
Hi, Instapy could extract automatically the name of the owner of a photo that has to be commented and gave it back to us, so we can include the owner name in our comment.

[2017-11-10 17:31] timgrossmann commented on #903
@Naramsim Yes, that is a great idea!

Shouldn't be too hard to do, are you interested in trying it out?

[2017-11-10 18:07] converge commented on #903
count on me if you need some help.

[2017-11-10 21:12] Naramsim commented on #903
I will let @converge do the work, I'm busy right now

[2017-11-10 21:48] timgrossmann commented on #903
@Naramsim Well... Make sure to at least support him with a Bounty if you don't want to implement it yourself :wink:

[2017-11-11 05:18] justinf102 commented on #903
how do you update the bot??

[2017-11-11 05:34] gitpatrickhub commented on #903
From command line navigate to your InstaPy directory and type git pull

[2017-11-11 06:48] mehdi691 opened #904 "Unfollow by list as the follow function"
Hey Friends,

I would like to know if it is possible to unfollow people by enter a list as the following function. For example;

accs = ['friend1','friend2']

session.unfollow_users_by_list(accs)

Thank you very much

[2017-11-11 08:10] sionking commented on #797
yes,
yes but pay attenation main branch is updated,
yes,
I run it only once with amount of 500 per tag and in a while loop, so it never stops.
but you can ran 3 diffrent scripts simultanisly, the limit is writen in a file .... thay all be counting to limit toghter.

[2017-11-11 08:45] sionking commented on #903
We need more complex commenting mechanisem anyway... After 20 same comments instagram will know you are a bot.

[2017-11-11 08:46] chrismaltais opened #905 "error when enabling nogui=True in InstaPy constructor (Heroku)"
Hey, I have my quickstart script deployed on Heroku, however when I try to run it via Heroku Scheduler I get the error:

[code]

It runs perfectly fine on my local without the nogui=True setting, I'm just not sure what to do here.
In addition, I've also tried ```pip install xvfbwrapper``` and placed xvfbwrapper in the requirements.txt file, and still no luck. Any help is appreciated!
quickstart.py

[2017-11-11 09:01] sionking commented on #784
It might be an instagram bug, anyway to solve it log in using your email instaed of username.
than change the password.
I am still not able to log using username only mail, hope it nothing to do with botting

[2017-11-11 12:05] FBosler opened #906 "Did they change layout again?"
## Expected Behavior
Bot working and not crashing
## Current Behavior
I just set up the bot on a fresh server and tried running it. However, it crashes with the following error:
[code]
## Possible Solution (optional)
Something like here https://github.com/timgrossmann/InstaPy/issues/730
## InstaPy configuration
Latest installation according to "ubuntu how to"

[2017-11-11 12:14] keivan85 commented on #900
I also tried the script with firefox esr. After 7-8 profiles when it reaches to a private account it throws this error

This user is private...
Traceback (most recent call last):
  File "firefoxExample.py", line 26, in <module>
    .interact_user_followers(['sarahbtm','chelseaspursuit', 'camilla.law'], amount=27, random=True)\
  File "/home/MY-PC/Documents/InstaPy/instapy/instapy.py", line 1063, i

[2017-11-11 12:35] ffext commented on #903
How did this go?

[2017-11-11 12:43] blakemmw opened #907 "Running fine, Chromium driver not closing"
[code]

So as you can see, the script is running to the last entity. However, there seems to be some issue where the script isnt closing itself. Very odd. Its just sitting on the last image.

[2017-11-11 14:08] ffext commented on #886
Is this working fine? How do I add it to the code?

[2017-11-11 14:10] max-si-m opened #908 "set_lower_following_count"
Hello,
what do you think about limitation by following? It can be very helpful:
[code]

# Behavior
If the following count more than `1000` don't interact with user

[2017-11-11 14:20] ffext commented on #142
How do I activate this feature?

[2017-11-11 16:22] emasb238 commented on #617
Any news on this issue? Help!

[2017-11-11 16:46] jksyrek commented on #894
As I've read that it is possible for the photos from thee feed using
```session.like_by_feed(amount=100, randomize=True, unfollow=True, interact=True)```
where `interact` visits the author's profile page of a certain post and likes a given number of his pictures, then returns to feed.

But I'm looking for such a option for the pictures on the hashtag search page. So basically `interact` flag for t

[2017-11-11 17:21] jksyrek commented on #818
@knark8086 any update on that? Have you been successful with fixing this bug?

[2017-11-11 17:44] timgrossmann commented on #904
@mehdi691 Sorry, that's not possible at the moment

[2017-11-11 18:15] brookton commented on #889
Hey @diveu I'm interested in the results you're finding on your account.
Would it be possible for you to share the .py file you use to run that's giving you those results?

I'd like to compare it with mine. I'm not sure if the settings I've made are very effective.

[2017-11-11 18:36] sionking opened #909 "I am trying to "PULL REQUEST" my local changes, but getting "Authentication Failed""
"Authentication failed. You may not have permission to access the repository. Open options and verify that you're signed in with an account that has permission to access this repository."

I am new to GitHub, I am working with mercurial at work, Anyone can assist?
I have a new branch based on master, I am working with windwos GUI.

Thanks.

[2017-11-11 19:18] pleum commented on #898
I got same issues. i try to fix it with new xpath and it worked on my pc can you try this?
https://github.com/pleum/InstaPy/commit/92240e20b6d4d8416646a64f8cb8370c5cc30d50

[2017-11-11 21:12] phyesix commented on #756
Yes, I use ARMbian (Ubuntu Base) from these operating systems on Orange Pi Prime.

https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu_on_Digital_Ocean.md

I think that the installation can be done through the directives in this address and I install Geckodriver v0.19.1. When i try start with: python3.5 firefoxExample.py, I get an error:

`root@orangepiprime:~/InstaPy# sudo p

[2017-11-11 23:00] ugurozturk commented on #909
@sionking if you are trying to push at timgrossmann/InstaPy then you probabbly doesn't have Authentication. You have to Fork the project to your profile. Then do set remote url to your fork. Do push then do new pull request

[2017-11-11 23:02] ugurozturk commented on #886
@sionking did something
[code]

[2017-11-12 01:09] converge commented on #908
@max-si-m good idea, that worth a ![Bounty](bountysource.com)

[2017-11-12 09:15] ugurozturk commented on #876
@datteba i am not good in python. https://docs.scipy.org/doc/numpy-1.13.0/reference/generated/numpy.random.randint.html#numpy.random.randint in the example it does return array. So maybe your amount=rnd_4 has a problem. You can find it by debugging

[2017-11-12 13:50] Geczy commented on #906
In unfollow_util.py find `//header/div[2]//li[3]` replace with `//header/section//li[3]`

[2017-11-12 16:17] FBosler commented on #906
Seems to be working ... thx!

[2017-11-12 17:28] #906 closed

[2017-11-12 19:01] AustineA commented on #893
I would say reduce the number of tags... I'm just curious what did you end up doing?

[2017-11-12 19:42] Radzam commented on #889
Could you please share your quickstart script with me so I can see how you randomize it? Im new to this, thanks!

[2017-11-12 21:23] Kylescottw commented on #893
yes,
after posting I realized that there were too many tags resulting in over commenting.

[2017-11-12 21:53] sionking commented on #909
Thanks! I think I did it :)

[2017-11-12 23:04] converge commented on #876
hi @datteba , your InstaPy is outdated, could you update it and try again ?

Remember to update chromedriver as well.

After that, pls tell us if it still happening.

[2017-11-12 23:24] converge commented on #909
If you guys have this issue in the future, use the https version to clone it:

[code]

[2017-11-12 23:24] #909 closed

[2017-11-12 23:56] HaginCodes opened #912 "Quickstart.py fails to start on server."
## Expected Behavior
I expect the program to run like it does locally
## Current Behavior
Traceback (most recent call last):
  File "quickstart.py", line 8, in <module>
    session = InstaPy(username=insta_username, password=insta_password)
  File "/root/InstaPy/instapy/instapy.py", line 109, in __init__
    self.set_selenium_local_session()
  File "/root/InstaPy/instapy/instapy.py", line 161, in

[2017-11-13 00:02] converge commented on #912
hi @HaginCodes , check it:
1. chromedriver is in assets folder
2. chromedriver have +x (is executable)
3. seams like youre running it on DG (using terminal), make sure to set nogui=True https://github.com/timgrossmann/InstaPy#running-on-a-server

[2017-11-13 00:04] converge commented on #907
hi @blakemmw , this is a know chromedriver bug, to fix it, just update chromedriver to latest version.

[2017-11-13 00:06] #904 closed

[2017-11-13 00:08] converge commented on #903
@ffext waiting someone to do it, or some Bounty on BountySource.

[2017-11-13 00:08] blakemmw commented on #907
@converge you have all the answers ahaha i love it.

[2017-11-13 00:08] #907 closed

[2017-11-13 00:10] converge commented on #902
unfortunately we don´t have it. Do you know [Bounty Source](https://www.bountysource.com/teams/instapy) ?

[2017-11-13 00:11] converge commented on #901
@ugurozturk did you fix this ?

[2017-11-13 00:13] converge commented on #907
@blakemmw :octocat: glad to help!

[2017-11-13 00:20] #895 closed

[2017-11-13 00:26] HaginCodes commented on #912
thanks for the help I just forgot about that parameter I didn't know it was a thing. Now it works! thank you so much for the help!!

[2017-11-13 00:26] #912 closed

[2017-11-13 00:27] converge commented on #894
hey @timgrossmann , should
[code]
do it ?

[2017-11-13 00:29] justinf102 commented on #902
No

[2017-11-13 00:29] converge commented on #892
hi @JacobSpruce , nothing wrong. We don't have this feature yet.

[2017-11-13 00:31] converge commented on #885
I think the second
[code]
overwrite the first set_comments, can anyone confirm it ?

[2017-11-13 00:33] converge commented on #884
@Niels1990 , as @bjo3rns says, if you define a new ```set_dont_like``` it will overwrite the default
[code]

it can be anything, for example:
[code]

[2017-11-13 00:36] converge commented on #883
@Niels1990 did you fix it ?

[2017-11-13 00:37] #878 closed

[2017-11-13 00:39] converge commented on #871
hi @kenedy86 , did you fix it?

[2017-11-13 00:40] #869 closed

[2017-11-13 03:36] arjunmurali1993 opened #914 "List Index Out of Range Error when trying to Unfollow"
## Current Behavior
Unfollow_util was always failing when it was trying to access the 'Following' button on our Instagram profile page and was throwing the error "following_link error, list index out of range"

## Possible Solution (optional)

Changing line 131 of Unfollow_util.py to the following got it working for me:
`'//article//ul//li[3]')`

[2017-11-13 04:31] converge commented on #864
#867 fixed it

[2017-11-13 04:31] #864 closed

[2017-11-13 10:06] datteba commented on #900
Same here

![image](https://user-images.githubusercontent.com/30053143/32720022-98936488-c862-11e7-923f-504d8132cb4f.png)

[2017-11-13 10:46] converge commented on #914
thanks @arjunmurali1993 , can anyone else test it ? It's good have more people testing it, because sometimes the layout change isn't global(countries/regions).

[2017-11-13 10:46] paranoiasystem commented on #914
it works already for me

[2017-11-13 10:48] converge commented on #898
@pleum @Sillanmaki @rvarseveld can you guys help testing #915 ? after that, we can merge.

[2017-11-13 10:57] hestuppfodarn commented on #839
@converge thanks!
another feature that would be nice to add to this is "USER ID", so you know who you interacted with

[2017-11-13 11:16] converge commented on #857
someone with this issue yet ?

[2017-11-13 11:27] sionking commented on #900
same, you can just ignore the error for now

[2017-11-13 11:29] sionking commented on #900
'''
		errorSkip = False

		try:
		    follow_button.is_displayed()
		except:
		    errorSkip = True

        if not errorSkip and follow_button.is_displayed():
            follow_button.send_keys("\n")
            update_activity('follows')
        else:
'''

[2017-11-13 12:13] itsedomil opened #916 "can't understand what to do in step 4"
hi,
im new to python and github and i cant understand how to do step 44, it says to edit the instapy.py file, but i dont find it anywhere on the github desktop, and cant see how to edit it as well.
have anyone tried to make a youtube video explaining how to install the file and using it from a-z?
if anyone is down to making one that will be awesome, and if anyone can help mewhere im stuck that wil

[2017-11-13 12:19] rediv commented on #914
I'm getting the "list index out of range" on unfollow, but not sure if its related to this thread as I'm using InstaPy in a server with the nogui option.
I'm having this problem for a few days already.

I just get:

My user__followedPool.csv file has 1259 lines. If I cut this file in half (~632 lines) it just works.

[2017-11-13 12:25] converge commented on #916
hi @itsedomil , it can help https://www.youtube.com/watch?v=I025CEBJCvQ

[2017-11-13 12:26] converge commented on #914
@rediv can you help us testing #915 ?

[2017-11-13 12:37] itsedomil commented on #916
hi joao, I'm using mac as well but I can't really understand how to do all
the steps, do i need to download python for mac before i start the process?
And how can I activate it, I'm sorry but I'm really confused :/
Is there any chance you can make a video explaining everything from start
to end, including all the downloading? It will help me alot
Tnx in advance,
Edomil

[2017-11-13 12:48] rediv commented on #914
@converge I tested and had no change here.
With a 600 lines csv file: unfollow works sucessfully with or without #915
With a 1200 lines csv file: unfollow does not work with or without #915

My instagram account is set to english.

[2017-11-13 12:53] converge commented on #914
@rediv with 1200 lines in csv do you get this exactly error ?

or is there something different ?

[2017-11-13 12:59] rediv commented on #914
@converge  I get that exactly same error.

[2017-11-13 13:00] converge commented on #914
@rediv can you send me your csv file ? So I can reproduce the error here and debug ? If yes, joaopaulo.mailfs@gmail.com

[2017-11-13 13:18] rediv commented on #914
@converge I was just about to send the file to you when I decided to double check it.
It turns out that the problem was caused by a blank line in the csv file! I simply removed it and everything works fine now.
And I can confirm that is working with or without #915

[2017-11-13 13:37] arisanguinetti commented on #914
I have the exact same error as @arjunmurali1993:

Logged in successfully!
Number of people followed automatically remaining: 9182
**('following_link error \n', 'list index out of range')**

It's fixed for me with #915

[2017-11-13 14:51] hestuppfodarn opened #917 "Blacklist Problem"
Hi,
I'm not succeeding with my blacklist implementation,
Could someone please advise me on this?
[code]

ERROR MESSAGE:

/Users/xx/InstaPy/venv/bin/python /Users/xx/InstaPy-master/Blacklist.py
Logged in successfully!
Traceback (most recent call last):
  File "/Users/xx/InstaPy-master/Blacklist.py", line 35, in <module>
    .set_blacklist(enabled=True, campaign='soccer_campaign')\
AttributeError: '

[2017-11-13 15:31] flo1t commented on #914
works for me. thanks!

[2017-11-13 15:55] converge commented on #914
thanks @flo1t @arisanguinetti @rediv @paranoiasystem and specially @arjunmurali1993 for the bug fix.

[2017-11-13 15:55] #914 closed

[2017-11-13 16:16] converge commented on #917
@hestuppfodarn try in this way:
[code]

[2017-11-13 17:36] hestuppfodarn commented on #917
@converge it works, thanks.
I would love to add the date to the blacklist csv file, is there any way of doing this with a single line of code since it's already in the log/activity.csv?

thanks

[2017-11-13 19:17] timgrossmann commented on #906
@Geczy Could you quickly PR that, please? :wink:

[2017-11-13 19:28] converge commented on #906
hey @timgrossmann , #915 already merge, we're too fast :octocat:

[2017-11-13 20:49] Sillanmaki commented on #898
My problem is that bot starts follow users which are not mentioned in console and that's why they are not in followedPool (I don't know why, when or how). I try to figure it out.

[2017-11-13 21:09] #901 closed

[2017-11-13 21:53] itsedomil opened #918 "problem running the program on mac"
when i try to activate the program in terminal it sends me the next error message:
Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/Users/adam/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/Users/adam/InstaPy/instapy/instapy.py", line 8, in <module>
    from pyvirtualdisplay import D

[2017-11-13 22:56] converge commented on #918
hi @itsedomil , take a look https://github.com/timgrossmann/InstaPy/search?q=pyvirtualdisplay&type=Issues&utf8=%E2%9C%93

[2017-11-13 23:56] mohdhazwan commented on #838
facing the same prob above
- with/without GUI
- `SyntaxError: Non-ASCII character ...`
- tried with `u'Comment 🍕'`

[2017-11-14 02:02] converge commented on #897
#919 can someone test it ? so we can merge.

[2017-11-14 06:51] timgrossmann commented on #906
@converge You're awesome!

[2017-11-14 06:54] timgrossmann commented on #902
@justinf102 Feel free to post a bounty on this!
https://www.bountysource.com/issues/51400049-how-to-use-bot-filters

[2017-11-14 06:54] timgrossmann commented on #894
@converge Yes, that should work out

[2017-11-14 06:55] timgrossmann commented on #903
@Naramsim @justinf102 https://www.bountysource.com/issues/51408855-feature-request-extract-data-when-commenting

[2017-11-14 07:21] sionking opened #920 "In unfollow function, we look for text "follow" instead of following."
def unfollow(browser,
...
                        follow_button = browser.find_element_by_xpath(
                            "//*[contains(text(), 'Follow')]")

Will it find a user that we don't follow and will follow after (instead of returning "Already following")

Sion.

[2017-11-14 08:00] amauryleproux commented on #863
Hi @converge this is my file:

from instapy import InstaPy

   insta_username = '********'
   insta_password = '********'

   session = InstaPy(username=insta_username, password=insta_password, nogui=True)
   session.login()

   session.set_upper_follower_count(limit=1500)
   session.set_do_comment(True, percentage=50)
   session.set_comments(['Really cool!', 'I like this!', 'Love that!'])
  sessi

[2017-11-14 10:18] squigglesMcW opened #921 ""onlyInstapyMethod" flag not working for unfollow_users()"
The function  appears to be ignoring onlyInstapyMethod='LIFO' / 'FIFO' flags and unfollows the most recent user instead.

[2017-11-14 12:16] converge commented on #863
@amandoabreu did you followed these steps ?

https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu_on_Digital_Ocean.md

sounds like chrome is not installed (not chromedriver)

[2017-11-14 14:58] clowii opened #922 "How many followers do I have to follow/unfollow per day?"
Hello,
how many followers do I have to folllow/unfollow per day to prevent that Instagram block me?
Thank you!!

[2017-11-14 16:35] sionking commented on #922
Basically: start with 100 and increase every 3-5 days until 500.
For old age account limit can be even 1000.
No one really know, better keep it low as max 500.

[2017-11-14 16:39] sionking opened #923 "follow_user Should Catch more exception types."
## Expected Behavior
def follow_user(browser, follow_restrict, login, user_name, blacklist):
Should Catch more exception types.
I fall on:
[code]

## Current Behavior
Catches only one "NoSuchElementException"

## Possible Solution (optional)
catch "StaleElementReferenceException":

exception selenium.common.exceptions.StaleElementReferenceException(msg=None, screen=None, stacktrace=None)[source]
T

[2017-11-14 16:41] sionking commented on #923
can change to:
except (NoSuchElementException, StaleElementReferenceException) as e:

[2017-11-14 16:54] amauryleproux opened #924 "[ Cron task ]: FileNotFoundError: [Errno 2] No such file or directory: './logs/logFile.txt'"
## Expected Behavior
I try to set up a cron task but it's not working while it's working when I launch it manually by this command: python3 <Name_of_my_file>

Here is my cron task file:

21 16 * * * /usr/bin/python3 /var/www/aleproux/InstaPy/quickstart_city.py &> /var/www/aleproux/cronInsta_city.log

Here is my log error message:

Traceback (most recent call last):
    File "/var/www/aleproux/Inst

[2017-11-14 17:04] converge commented on #923
@sionking that's cool! In my point of view, we should fix the issue, so the Exception will never be called.

What do you think ?

[2017-11-14 17:08] converge commented on #924
hi @amauryleproux , this is how I do it:
```06 */3 * * * cd /opt/InstaPy/ && python /opt/InstaPy/bot.py >> /tmp/cron_debug_instapy.log 2>&1```

```*/3``` (every 3 hours)

let me know if it help.

[2017-11-14 19:07] Abzidian commented on #904
It should be possible given that you have to reverse engineer the codes for follow_users_by_list. Find the source of it all and change the buttons and wordings of it. Basically, to make it easier, it can be defined using def.

[2017-11-14 19:15] sionking commented on #923
Maybe we can try do the action 2 times, if it fail in the 3'rd time we shall continue there are many instagram users :)

[2017-11-14 19:28] converge commented on #923
We're good programmers, let's debug it, find the cause of the issue and make the world a better place :octocat:

Exceptions are friends, they tell us where we need to focus to fix the issues.

Count on me if you need some help to fix this issue. I'm working in other stuffs, but I always find some time.

[2017-11-14 21:12] sionking commented on #923
My comment related to:
Possible causes of StaleElementReferenceException include, but not limited to:
You are no longer on the same page, or the page may have refreshed since the element was located.

So I meant to reload page try again (in case of this exception) and if not helping go to next user (print error) but don't stop the running.

SC

[2017-11-15 01:57] MorganPelissier opened #925 "Image check error: 'InstaPy' object has no attribute 'clarifai_id'"
Hello boys,

Got an issue while trying to use clarifai with instapy,
here is my code, basically I would like to have a test on the behavior of clarifai, so just try on two of my friends pictures, I already went on https://www.clarifai.com/demo to get some existing tag on my friends pics
[code]
I tried many things, Do you have any ideas?
Cheers,
Morgan

[2017-11-15 02:29] timgrossmann commented on #925
@MorganPelissier Quick fix, could you please test #926

[2017-11-15 02:29] #925 closed

[2017-11-15 02:30] timgrossmann commented on #925
@MorganPelissier Please update your InstaPy `git pull` and try again

[2017-11-15 04:12] kimelbert opened #927 "How to Add a Korean Tag?"
## Expected Behavior
Using quickstart.py I tried inserting a Korean hashtag expecting it to run like it did with English tags.
## Current Behavior
The error I get is: SyntaxError: Non-ASCII character
## Possible Solution (optional)
I'm new to coding and I have a feeling I have to convert(?) or allow(?) the program to identify with Non-ASCII characters. Can anybody direct me to a source so as to le

[2017-11-15 04:14] timgrossmann commented on #927
@kimelbert have you tried adding the tag in the form of `u'koran_tag'`?

[2017-11-15 04:19] MorganPelissier commented on #925
Great mate thanks, it works well!

[2017-11-15 06:48] rossbulat opened #928 "Found an error whilst unfollowing"
## Current Behavior
I'm running the bot and when it gets to unfollow, this following error occurred:

Liked: 6
Already Liked: 0
Inappropriate: 4
Commented: 0
Followed: 0
Number of people followed automatically remaining: 703
('following_link error \n', 'list index out of range')
Traceback (most recent call last):
  File "bot.py", line 23, in <module>
    session.unfollow_users(amount=350, onlyInst

[2017-11-15 06:57] wyvers opened #929 "Keyboard and Mouse unresponsive after script finishes or ends unexpectantly"
## Expected Behavior
Script finishes or ends early. Keyboard and Mouse should stay usable.

## Current Behavior
When the script ends, I cannot use my mouse or keyboard until I force a shutdown and reboot. Closing the laptop lid and reopening it puts me in the login/welcome screen and nothing on the keyboard or trackpad is giving feedback. Mute keys on the keyboard works, keyboard back lighting adj

[2017-11-15 07:28] amauryleproux commented on #863
Yes in fact I reinstalled everything and it was good, thanks

[2017-11-15 07:31] amauryleproux commented on #924
Now the command launch the task but I've got this into my log file:
The first run had worked until the 4th picture and the second one until the 7th and then I got this:

Traceback (most recent call last):
   File "/var/www/aleproux/InstaPy/quickstart_city.py", line 6, in <module>
     session.login()
   File "/var/www/aleproux/InstaPy/instapy/instapy.py", line 195, in login
     log_follower_num(s

[2017-11-15 07:37] amauryleproux commented on #924
and another message on the last entry:

"selenium.common.exceptions.WebDriverException: Message: chrome not reachable"

[2017-11-15 07:39] amauryleproux commented on #924
Might be because I tried to launch to script at the same time?
I commented one of them, will let you know if I get other errors

[2017-11-15 07:51] digimix commented on #638
Same issue on Ubuntu 16 x64.

[code]

[2017-11-15 08:21] hestuppfodarn commented on #818
I have the same problem. Any update?

[code]

[2017-11-15 08:35] amauryleproux commented on #924
So I've got several error messages:

"selenium.common.exceptions.WebDriverException: Message: unknown error: session deleted because of page crash from unknown error: cannot determine loading status"

"selenium.common.exceptions.WebDriverException: Message: chrome not reachable"

"selenium.common.exceptions.WebDriverException: Message: unknown error: Chrome failed to start: exited abnormally"

[2017-11-15 08:47] squigglesMcW commented on #928
Yes there's an error when you set onlyInstapyFollowed=False or omit the flag. My workaround was to replace line 130-132 of unfollow_util.py as follows:

            #following_link = browser.find_elements_by_xpath(
            #    '//header/div[2]//li[3]')
            #following_link[0].click()
            browser.find_element_by_partial_link_text("following").click()

Works fine for me after thi

[2017-11-15 09:06] squigglesMcW commented on #921
Please close this - walked through the code and realised the onlyInstapyMethod flag requires that onlyInstapyFollowed=True because it reads from [user]_followedPool.csv.

I will have to write some additional code so the FIFO works with my full followed list, not just what is managed by InstaPy.

[2017-11-15 10:31] JacobSpruce commented on #892
In my opinion, it would be a very vital feature. This would allow to preserve loyal followers and root out all unnecessary ones. Thanks for the reply and thumbs up!

[2017-11-15 10:31] JacobSpruce commented on #892
In my opinion, it would be a very vital feature. This would allow to preserve loyal followers and root out all unnecessary ones. Thanks @converge for the reply and thumbs up!

[2017-11-15 11:05] Naramsim opened #931 "set_dont_unfollow_active_users(enabled=True, posts=2) Crashes the script"
## Expected Behavior
Work normally
## Current Behavior
`selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//header/div[2]/ul/li[1]/span/span"}`

## Possible Solution (optional)

## InstaPy configuration
On Docker, latest version

[2017-11-15 12:19] datteba commented on #931
Same here

  File "C:\Python27\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 309, in find_element_by_xpath
    return self.find_element(by=By.XPATH, value=xpath)
  File "C:\Python27\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 787, in find_element
    'value': value})['value']
  File "C:\Python27\lib\site-packages\selenium\webdriver\remote\webdriver.py", line 2

[2017-11-15 12:22] converge commented on #931
I´m preparing a new update to fix this and improve the code quality, it´s not good at the moment.

[2017-11-15 13:16] pigipi commented on #852
I did the update but no change on my case. So I don't use Docker.

[2017-11-15 13:26] Abzidian commented on #921
Please do share this additional code. In a similar situation, but barely find time to decode all the scripts to get to writing the additional codes for it to work. Thanks!

[2017-11-15 15:15] #863 closed

[2017-11-15 16:14] timgrossmann commented on #818
@jksyrek @hestuppfodarn No updates yet, sorry...

Feel free to help get this resolved faster: https://www.bountysource.com/issues/50778182-loops-through-pictures-of-users-even-if-session-set_upper_follower_count

[2017-11-15 16:15] timgrossmann commented on #892
@JacobSpruce https://www.bountysource.com/issues/51318956-why-don-t-include-function-don-t-work-with-unfollow :wink:

[2017-11-15 16:29] italianrobot opened #932 "chromedriver.exe and chrome.exe instances launched remain still pending after script end"
Hi all

I'm running InstaPy on a Windows 10 node. Everything is fine but chromedriver and Chrome instances are not closed after  running a like task. The script I'm using is calling session.end() method but chromedriver.exe and chrome.exe instances launched remain still pending after script execution

If I replace in instapy/instapy.py

`    def end(self):
      .....
        """ self.browser.clos

[2017-11-15 16:30] hestuppfodarn commented on #818
@timgrossmann Bounty submitted!

[2017-11-15 17:41] ingorichter commented on #739
Hey @timgrossmann

Now I'm really late... Too much stuff happened in the past month. Anyway.

I find the idea very appealing and I believe that it would be a great learning experience to scale it up as you proposed.
What is the new GUI that you referring to? I haven't seen it yet and I'm really curious what it looks like.
I don't have that many Raspis lying around nor do I have space at the moment

[2017-11-15 20:38] Naramsim opened #933 "Can't login"
## Expected Behavior
Log in works
## Current Behavior
Log in doesnt work
## Possible Solution (optional)
Double click Log In button
## InstaPy configuration
Latest on docker

Hi, with one of my account Instapy seems to not fully click the login button, leaving greyed out as in the image below
![insta](https://user-images.githubusercontent.com/8996268/32858762-c98b32dc-ca4c-11e7-91bc-cca5de020e12.p

[2017-11-15 21:31] hectorleroux opened #934 "FileNotFoundError: [WinError 2] The system cannot find the file specified"
Hey Guys,
Hope someone here can help me with this. Not sure what I'm doing wrong but i follow the Windows installation steps to the T (https://github.com/timgrossmann/InstaPy/blob/master/docs/How_to_Windows.md)
But when I run the script i get (see attached image). Please help.

thanks!
![capture1](https://user-images.githubusercontent.com/33637138/32861336-3a838c8a-ca09-11e7-8a6a-f354f322bf17.PNG)

[2017-11-15 22:02] kimelbert commented on #927
@timgrossmann hey that didn't work. The way I made it work was to comment line 554 so it doesn't delete white space. It's inefficient because I have to uncomment this line of code to change it to english, but it works. Thanks for commenting Tim. Really enjoy using instapy.

[2017-11-15 22:21] timgrossmann commented on #739
@ingorichter The first version of the GUI is this one https://github.com/ahmadudin/electron-instaPy-GUI

Sounds great!
Looking forward to hearing about it. Thank you

[2017-11-15 22:34] converge commented on #931
hey @Naramsim @datteba , can you test it before we merge ? #935

[2017-11-15 22:36] converge commented on #934
hi @hectorleroux , how is your quickstart.py file ? are you using nogui=True ?

[2017-11-15 23:05] chrisscholly commented on #802
Works for me with `chromedriver v2.33` (https://chromedriver.storage.googleapis.com/index.html?path=2.33/)

[2017-11-16 02:05] converge commented on #818
hi @hestuppfodarn , just submitted a PR #936 , can you test it ?

[2017-11-16 02:52] hectorleroux commented on #934
Hello Joao,
Thank you for checking in.

I do not have nogui=True in my quickstart.py.
I have it in my instapy.py. was I supposed have it in the quickstart.py?
If so can you show me an example of it?

Thanks

On Nov 15, 2017 2:36 PM, "João Paulo Vanzuita" <notifications@github.com>
wrote:

hi @hectorleroux <https://github.com/hectorleroux> , how is your
quickstart.py file ? are you using nogui=True

[2017-11-16 04:54] squigglesMcW commented on #921
Pretty trivial edit actually... in unfollow_util.py, after line 163: hasSlept = False, add the following:
`    if onlyInstapyMethod == 'FIFO':
           print("Unfollowing FIFO")
           person_list = list(reversed(person_list)) # FIFO
`

The onlyInstapyMethod  flag will now work even if onlyInstapyFollowed=False

[2017-11-16 04:56] squigglesMcW commented on #921
Just add this after line 163: hasSlept = False in unfollow_util.py:

       if onlyInstapyMethod == 'FIFO':
                person_list = list(reversed(person_list)) # FIFO

The onlyInstapyMethod flag will now work even if onlyInstapyFollowed=False

[2017-11-16 09:07] hestuppfodarn commented on #818
@converge,
I’m away until Monday, will check first thing then!
Thanks!

[2017-11-16 09:25] datteba commented on #931
I get this now @converge

![screen](https://user-images.githubusercontent.com/30053143/32883706-5c7599f0-cab8-11e7-9ae9-3f98d03c5fde.png)

[2017-11-16 10:14] converge commented on #931
@datteba , is something in your quickstart file, preffer using it in this way:

https://github.com/timgrossmann/InstaPy/blob/master/quickstart.py

If you paste your quickstar-FIFO.py file will be easier to catch the issue.

[2017-11-16 10:38] flothousand commented on #933
I have an almost similar Problem: Seems like when entering the password, the InstaPy Bot clicks the wrong field (which leads to google settings). Can someone help? :)

[2017-11-16 10:53] punktik opened #937 "Cannot login"
## Expected Behavior
Login
## Current Behavior
Fails to fill up username and password correctly - when executing everytime it meets a letter "r" it changes the field, and so fails to fill in the username and password to correct fields and vaules.

Thank you in advance for your help!

[code]

[2017-11-16 10:59] ugurozturk commented on #937
@punktik im not sure about that but i have an idea. Maybe the problem is password characters. Did you try changing password to normal ones ?

[2017-11-16 11:04] ugurozturk commented on #916
@itsedomil https://github.com/timgrossmann/InstaPy#getting-started everything is written.

Example : First step "git clone https://github.com/timgrossmann/InstaPy.git" so you need git on your mac to go. its same for python "python setup.py install" so you need python as well.

[2017-11-16 11:18] converge commented on #934
kind hard to know what's going on since it's a OSError, it's no related directly to InstaPY, we need some help here.

[2017-11-16 11:41] converge opened #938 "Improvements Poll"
Hey guys,
we're preparing some updates and wanna ask you, **What are the most important improvements you're waiting for ?**

We ask you to vote in our [Wiki](https://github.com/timgrossmann/InstaPy/wiki), if you don't find what you're looking for there, please comment bellow.

[2017-11-16 11:51] datteba commented on #931
Thanks @converge !

In this way it seems to work. I will test it for 24 hours and let you know.

[2017-11-16 11:57] omrimaya commented on #937
You using VPS to run the Instapy project?
Or you using your computer .
I have meet the same problem before and solved it by changing my VPS ip adress .
If its in your computer try to browse www.instagram.com and see if it return 200 and try to login there .
If you have logged in then its not a banned ip ...
As @ugurozturk said maybe try changing the password for normal one and see if it works :+1:

[2017-11-16 11:59] omrimaya commented on #934
As everyone said i think its about nogui=True or False..
If its a VPS  you have to use nogui=True .
If its your computer and you have desktop you can use both :)

[2017-11-16 13:15] flothousand commented on #937
My Login fails as well and I have a password with no specific characters

[2017-11-16 13:50] omrimaya commented on #937
Did you try to do " git pull " ?
Maybe it will fix your problem .
Also have you tried to login to www.instagram.com from your browser not from instapy?

please try also to delete or comment your username and password variables and just put your username and password in
`session = InstaPy(username=insta_username, password=insta_password, nogui=True)`

[2017-11-16 14:10] flothousand commented on #937
To describe the problem a bit more detailed: Seems like when entering the password, the InstaPy Bot clicks the wrong field (cursor is moving into password field, but then clicks on: show all google chrome password or sth, which then opens a new page with google settings). Does this help? :)

[2017-11-16 15:12] omrimaya commented on #937
What is your default browser language ?
Maybe it browsing not in english?
Because you Parse the Login button .
As it seems you using Windows for instapy?

[2017-11-16 16:44] ffext opened #939 "Chromedriver on raspberry pi"
I keep on getting this error. I know someone already brought it up but I couldn't find a solution that works. Anyone has experienced and maybe solved this?
Thanks

Traceback (most recent call last):
  File "quickstart.py", line 8, in <module>
    session = InstaPy(username=insta_username, password=insta_password)
  File "/home/pi/Projects/InstaPy/instapy/instapy.py", line 109, in __init__
    self

[2017-11-16 18:30] punktik commented on #937
I am on Linux, on VPS. I did also start it with GUI active.
And doing git pull indeed solved my issue. Also had to start chrome normally with X11 forwarding and approve the login. (May be this would be helpful to anyone)
Running and liking. THnk you for helping out, guys!

[2017-11-16 18:30] #937 closed

[2017-11-16 19:04] hectorleroux commented on #934
Excellamente! Guys!! It is Working!! the "nogui=True" was the culprit. 👍

THANK YOU ALL so very mucho!

Here is my happy dance.   \ / \ \  \ / \ /   (silly me..lol)

[2017-11-16 20:10] #934 closed

[2017-11-16 20:31] sionking commented on #471
Just run the 2 process thoghter it will work ( I run 3 processes: unfollow/interact user/interact tag)
more than 3 monthes and it works fine!

[2017-11-16 21:07] sionking opened #940 "Feature: stay logged inso it won't need to log every time"
Saving the cookies might help ?

[2017-11-17 01:24] Namaslayer opened #941 "Inconisistent Performance...pulling my hair out"
I have a few bots on a few accounts. For a while they were all super consistent and operating beautifully. Had an issue with out of date chromedriver, updated to 3.33 and still having a bunch of issues.

Running on a server, using crontabs to automate. What would cause a script to start running (log in correctly) and then just fritz out?

Here are graphs from Digital Ocean, I can show crontabs and

[2017-11-17 01:45] RomeoJuliett commented on #865
@juandes  I'm currently experiencing the issue on my Windows machine and am trying to debug and give @converge a solid answer as to why it's happening.

[2017-11-17 02:09] timgrossmann commented on #941
@Namaslayer Sorry you're experiencing this issues... This is already known, I came up with a quick and dirty "solution" to fix at least some of it... #826

Problem is still present though.

Until the problem is fixed, it's probably easiest to simply add a "reboot" to your quickstart file that reboots the server everytime something fails and throws an error...

[2017-11-17 06:13] sionking commented on #940
I think it is a suspicious behavior

[2017-11-17 08:06] Namaslayer commented on #941
@timgrossmann I've seen that thread, and I'm a bit confused about how to impliment the solution.

For whatever its worth, its only seeming to give me trouble when running the script that interacts with someone else's followers. My unfollow script and like-by-feed script work flawlessly.

Also, I just ran a script in a screen instead of relying on the logs and this is the error that was kicked back

[2017-11-17 08:24] amauryleproux commented on #383
I've got the same problem :/ and I've got the last version.

Try to launch a cron on an Ubuntu server 14.04

[2017-11-17 10:03] flothousand commented on #933
Had to download the current Chromedriver and put it into assets 👍 Now working again

[2017-11-17 11:22] ffext commented on #939
No lines after Errno 8. Yes I followed all the instructions in the how to, including pip install ., pip install futures and pip install pyvirtualdisplay.

[2017-11-17 12:31] converge commented on #933
@Naramsim , did the @flothousand fix your issue ?

[2017-11-17 13:57] Naramsim commented on #933
@converge Nope, since I run it through Docker Compose and Chromedriver is not necessary using Selenium image

[2017-11-17 15:19] oscaradams21 opened #943 "Getting error while 'python setup.py install'"
Hey, I am trying to install it via python setup.py install.
And i am getting :

What can I do ?

[2017-11-17 16:23] oscaradams21 opened #944 "Problem while runing quickstart.py first time"
[code]

[2017-11-17 18:07] rvarseveld commented on #898
@converge so it looks likes the original issue has not been fixed and is more complicated than I thought as it not only involves unfollows but follows too (which is even more important).

[2017-11-17 19:53] datteba commented on #931
@converge everything works for now.

[2017-11-17 20:09] Namaslayer commented on #941
Today, even after restarting all of the servers, the interact-with-someones-followers script only got through liking 2 to 5 accounts then crashes.  But liking by feed works perfectly every time.

I've updated everything I know how to, git pull, sudo apt-get update, and my chrome drivers is supposed to be the latest version.

[2017-11-17 21:28] tuxity commented on #933
Same here directly in cmdline
[code]

[2017-11-17 22:38] tuxity commented on #852
When I print the source code I can see I'm still on login page with the error message ```The username you entered doesn't belong to an account. Please check your username and try again.``
I'm sure of my creds, I've updated everything.

Changing to `if len(nav) == 1:` is a bad idea because the script runs but you aren't connected.

[2017-11-17 23:50] converge commented on #944
hi @oscaradams21 , every time you see lines like this:
```ModuleNotFoundError: No module named 'past'```
all you have to do is:
```pip install past```
if it shows command not found, you need to install pip first

[2017-11-18 00:52] converge commented on #728
great work! it's merged.

[2017-11-18 00:52] #728 closed

[2017-11-18 00:58] converge commented on #682
As there is no interaction for a long time, we are closing this issue. Please, reopen if you need help about this issue.

[2017-11-18 00:58] #682 closed

[2017-11-18 01:01] converge commented on #675
@pedronader did you fix this issue ?

[2017-11-18 01:03] converge commented on #673
@alberto11651 you just need to setup ```nogui=False```

did it fix the issue ?

[2017-11-18 01:05] converge commented on #668
As there is no interaction for a long time, we are closing this issue. Please, reopen if you need help about this issue.

[2017-11-18 01:05] #668 closed

[2017-11-18 01:25] converge commented on #656
Im trying to reproduce this error, so we can fix it, can someone help me to reproduce it ?

I'm trying in this way:
[code]

[2017-11-18 01:33] converge commented on #583
hey guys, there is a PR to fix it , can someone help testing it ? #936

[2017-11-18 01:39] converge commented on #570
hi @nacimgoura , did you fix it ? how ?

[2017-11-18 01:39] RomeoJuliett commented on #944
@oscaradams21 Pip should be included in your Python package, but if not use this link to help your  [pip install](https://github.com/BurntSushi/nfldb/wiki/Python-&-pip-Windows-installation)

[2017-11-18 01:40] RomeoJuliett commented on #943
Try installing python directly from the website. When running the install package be sure to select the option "Set Python to Path."

[2017-11-18 01:41] converge commented on #446
as there is no interaction for a long time, we're closing this issue. please, reopen it if you need help about this topic.

[2017-11-18 01:41] #446 closed

[2017-11-18 01:44] RomeoJuliett commented on #941
@Namaslayer The only current solution is the down and dirty version. I don't run on Digital Ocean so I'd have to brush up on your issue.

[2017-11-18 01:45] converge commented on #776
closing, as there is no interaction for a long time. reopen it if you need

[2017-11-18 01:45] #776 closed

[2017-11-18 01:53] RomeoJuliett commented on #932
@italianrobot  .quit() is a viable solution as long as your Chrome instances from the Instapy bot aren't closing at the end of its run.

[2017-11-18 01:56] RomeoJuliett commented on #929
Not sure if it's related to the InstaPy GUI or not. Have you experienced this issue WITHOUT running the GUI @wyvers

[2017-11-18 01:57] RomeoJuliett commented on #928
@rossbulat did this work for you?

[2017-11-18 02:01] RomeoJuliett commented on #916
@itsedomil do you still need help with this?

[2017-11-18 02:25] Namaslayer commented on #941
@RomeoJuliett Im not quite sure how to implement the down and dirty fix.

[2017-11-18 02:28] staringispolite commented on #673
@converge No, check out the stack trace, he already used nogui=True, and it’s saying the code can’t find Xvfb. He had the same problem as I did.

@alberto11651 I included instructions for a fix above, if you want to try again

[2017-11-18 02:36] converge commented on #673
hi @staringispolite , nogui=True means the system will try to use a framebuffer to do it, as Windows doesn't have it, it will throw this error. As I said before ```nogui=False``` means: don't use xvfb

[2017-11-18 02:43] staringispolite commented on #673
Oh you’re right, Xvfb doesn’t have a build for Windows! Did you try
anything like Docker or a virtual machine to get a Linux or Mac environment?
On Fri, Nov 17, 2017 at 6:36 PM João Paulo Vanzuita <
notifications@github.com> wrote:

[2017-11-18 03:29] wyvers commented on #929
@RomeoJuliett I think it is related to InstaPy GUI after you brought this up. I went through and just filled out a quickstart.py and the script finishes without any issues. Thank you so much for pointing that out. Seems like an issue with that particular GUI app and not InstaPy?

[2017-11-18 06:15] timgrossmann commented on #941
@Namaslayer @RomeoJuliett  The problem with the pending PR is that it's not working consistently as well...

Do you use DigitalOcean @Namaslayer ??

If so, you could do something like

[code]

This will lead to the server rebooting after every problem or successful run, but at least guarantee you (some) better performance and a few less issues