[2017-11-18 06:19] timgrossmann commented on #943
@RomeoJuliett Thank you for pointing this out!

@oscaradams21 For Windows it's, unfortunately, extremely important to not miss that small checkbox when install Python on the system that says

- [ ] Add Python to Path

[2017-11-18 06:21] timgrossmann commented on #656
@converge I somehow also can't get this error when using the `interact_user_followers` feature...

Which version of python are you using?
@dominicwhyte @datteba @Pormientras  @46960

[2017-11-18 06:23] #931 closed

[2017-11-18 06:35] Namaslayer commented on #941
@timgrossmann Yes I do use DigitalOcean.

My scripts look a little different, so I'll have to learn how to use the code this way, but I can ask some friends to help me implement the change. Thank you so much for the help!

[2017-11-18 06:40] #873 closed

[2017-11-18 06:44] timgrossmann commented on #941
@Namaslayer Just post your script here, I'm sure it'll be easy to wrap this around the whole thing 😉

[2017-11-18 11:33] nacimgoura commented on #570
I did not retest for a long time.

[2017-11-18 13:45] tmurphy00 commented on #941
@timgrossmann which file would you insert that code into? And do you suggest running that alongside the quick and dirty fix?

[2017-11-18 14:05] datteba commented on #877
![image](https://user-images.githubusercontent.com/30053143/32981017-cb7500ec-cc71-11e7-87be-126225317d69.png)

[2017-11-18 14:09] datteba commented on #656
@timgrossmann i'm using py 2.7

[2017-11-18 14:19] datteba commented on #931
@converge back again... :(

![image](https://user-images.githubusercontent.com/30053143/32981219-db93b1f6-cc73-11e7-95ac-8d41877b16e2.png)

[2017-11-18 14:27] converge commented on #931
@datteba it's because you're using the master version, we didn't merge it yet.

The PR is here #935 , I just tested it today and it's working, could you help testing it ? There is a command line instruction in the end of the PR page.

I'm just waiting another test to merge it.

[2017-11-18 14:33] 46960 opened #947 "As of late, chrome automatically opens a new tab with chrome settings"
## Expected Behavior
Automatic login to Instagram, start liking / following

## Current Behavior
During login, opens new tab: Chrome settings / "Chrome is up to date".
Since this has started, my Macbook makes the famous "error" sound with every image it likes and every user it follows. This is disturbing, so I can only run it with my macbook on mute. Though it is not such a huge deal, since InstaP

[2017-11-18 17:57] timgrossmann commented on #941
@tmurphy00 That is the quick and dirty fix... Unfortunately 😅

The quickstart.py file (or your copy of it)

[2017-11-18 17:57] timgrossmann commented on #877
@datteba What methods are you using?
Please paste your quickstart file

[2017-11-18 17:58] timgrossmann commented on #947
@46960 Have also seen that... Have you already updated to the newest version?
Should disappear from then on

[2017-11-18 18:02] timgrossmann commented on #656
@datteba Weird... which accounts do you want to to follow the users from?
Do they have no followers at all?

[2017-11-18 18:09] timgrossmann commented on #695
#810

[2017-11-18 18:09] #695 closed

[2017-11-18 20:35] Luisetty opened #949 "Hello, I updated the new fixes on unfollow but"
I got this error:

  File "quickstart_.py", line 32, in <module>
    session.set_unfollow_active_users(enabled=False, posts=10)
AttributeError: 'InstaPy' object has no attribute 'set_unfollow_active_users'

--- quickstart---
line 32:
session.set_unfollow_active_users(enabled=False, posts=10)
----

I'm doing something wrong? or what object has not attribute. Any ideas what i should look into?

[2017-11-18 22:01] timgrossmann commented on #949
@Luisetty Sorry, make sure to look into the documentation... The api changed shortly after the release of that feature, actually thought nobody was working with it at that point...

[code]

[2017-11-18 22:02] #949 closed

[2017-11-19 01:26] Namaslayer commented on #941
Thanks @timgrossmann Here is the typical engagement code I use. I've taking usernames and passwords out for discretion

from instapy import InstaPy

session = InstaPy(username='username', password='password', nogui=True)
session.login()

session.set_user_interact(amount=5, random=True, percentage=100, media='Photo')
session.set_do_follow(enabled=True, percentage=50)
session.set_do_like(enabled=Tru

[2017-11-19 06:01] rvarseveld commented on #898
@converge @timgrossmann

I did some more testing and found out the follow/unfollow issue only occurs when running the script on my server using nogui=True

When I run the script locally on my laptop then everything seems to work fine.

[2017-11-19 07:12] timgrossmann commented on #941
@Namaslayer Simply use:

[code]

[2017-11-19 12:03] AustineA opened #950 "Interact with Users who like a post"
## Expected Behavior

## Current Behavior

## Possible Solution (optional)

## InstaPy configuration

Is it possible to interact with users who like a particular post.

eg. Give a Url and instapy will interact with the users who liked the post.

[2017-11-19 12:50] sionking opened #951 "unfollow loop error (all the time with 2 different users and PCs)"
I am getting it usually after 100 unfollwing.

[code]

Unfollow.py:
[code]

[2017-11-19 16:23] Naramsim opened #952 "Feed crashes"
## Expected Behavior
Run
## Current Behavior
Feed crash
## Possible Solution (optional)
Change the line below
## InstaPy configuration
Does not matter

https://github.com/timgrossmann/InstaPy/blob/94b24f487e487c0709c1bf3154069df91138cbaf/instapy/instapy.py#L745

This line crashes because random is boolean, as you see in the named parameter of the function. I suggest

`import random as rnd`

[2017-11-19 18:08] converge commented on #950
hi @AustineA , this functionality isn't available yet. If you add a bounty for it, maybe someone could work on it to you.

https://www.bountysource.com/issues/51733313-interact-with-users-who-like-a-post

[2017-11-19 19:28] timgrossmann commented on #952
@Naramsim Thank you for reporting this.

Yes, we definitely have to change the `random` part...
Feel free to submit a PR for this, thank you

[2017-11-19 19:30] timgrossmann commented on #950
@AustineA @converge I think with the current InstaPy version, this isn't possible at all.
When opening up a post in the web browser, there is no way you can search through the people that actually liked the post.

I don't know if this would work on the mobile webpage

[2017-11-19 19:53] converge commented on #950
@timgrossmann that's right. I do think in a less specific solution, for example:

```interact_with_active_users(enabled=True, posts=5)```

[2017-11-19 22:26] converge commented on #570
@nacimgoura you forgot to install chrome browser https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu_on_Digital_Ocean.md

[2017-11-19 22:27] converge commented on #125
this error means you don't have chrome browser installed, https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu_on_Digital_Ocean.md

[2017-11-19 22:38] MorganPelissier opened #953 "Message: unknown error: Cannot read property 'entry_data' of undefined"
Hey boys,
Got an error few times (every time that I run my script), the script works well but crash after something like 1hour of running,
Does anyone have a solution?
Cheers,
Morgan

## Current Behavior

`Traceback (most recent call last):
  File "C:/Users/morga/PycharmProjects/Instagram/interactandlike.py", line 19, in <module>
    session.interact_user_followers(['removedtopost-username', 'remo

[2017-11-19 22:41] GabrielleV commented on #947
I had the same issue and it was also saying my password was incorrect (it was correct). I updated Chrome Driver and it works fine now.

[2017-11-20 00:21] converge commented on #224
hey guys, just checked, all these bugs are gone. closing it.

[2017-11-20 00:21] #224 closed

[2017-11-20 00:23] converge commented on #571
We had no return from @gintjtjtj , closing it. Pls, reopen it if you need.

[2017-11-20 00:23] #571 closed

[2017-11-20 01:19] Namaslayer opened #954 "'bool' object has no attribute"
Started over fresh, and getting this error.

<img width="660" alt="screen shot 2017-11-19 at 5 16 33 pm" src="https://user-images.githubusercontent.com/31394074/32998178-b1ee3544-cd4d-11e7-9226-153481b03f7e.png">

What's causing this error?

InstaPy used to work perfectly for me, and now with new updates I can't get it to run one single script!

[2017-11-20 01:27] converge commented on #952
thanks @Naramsim , just made a PR #955 , can you help testing it ?

[2017-11-20 01:30] timgrossmann commented on #954
@Namaslayer Sorry to hear that, if you could help test #955 we could get this error out of the way soon

[2017-11-20 01:44] converge commented on #581
@keivan85 I think this bug was fixed, could you confirm ?

[2017-11-20 01:48] converge commented on #601
couldn't reproduce the error since there were a lot of new commits since this report. Please, reopen this issue in case you find this bug again.

[2017-11-20 01:48] #601 closed

[2017-11-20 01:48] #602 closed

[2017-11-20 01:51] converge commented on #676
@blakemmw do you still have this issue ?

[2017-11-20 01:52] #697 closed

[2017-11-20 01:53] converge commented on #703
Since there is no more interaction here, I'm closing the issue, if you need some help about this topic, please reopen it.

[2017-11-20 01:53] #703 closed

[2017-11-20 01:56] Namaslayer commented on #954
oh I didn’t see this! I’ll try it now. Thank you

[2017-11-20 01:57] converge commented on #716
I think this is our biggest bug.

[2017-11-20 02:00] Namaslayer commented on #954
How do I test it? I just switched “random” to “randomize” in all of my scripts and that doesn’t work. I think I need to do something else to get the updated InstaPy program, right?

New to all of this, thanks for helping me learn!

[2017-11-20 02:02] converge commented on #928
hi @rossbulat , could you upgrade your chromedriver to latest version and tell us if it fixed the issue ?

[2017-11-20 02:03] Namaslayer commented on #954
did a git pull and that's up-to date

[2017-11-20 02:03] #734 closed

[2017-11-20 02:06] converge commented on #954
hey @Namaslayer , there is a link (command line instruction) in the bottom of the #955

[2017-11-20 02:08] thecaharin opened #956 "error when bot encounters a private user"
Hi there, first off thanks so much for creating this program and open sourcing it. Ive been trying to grow my following and hopefully this can help :).  Im receiving an error when the bot encounters a user that is private. Im using the interact_user_followers to like and follow the followers of a certain user and it ends up stoping the program in the terminal and producing an error when it comes a

[2017-11-20 02:51] Namaslayer commented on #954
Am I just missing permissions?

This is what I tried to do

<img width="1031" alt="screen shot 2017-11-19 at 6 50 13 pm" src="https://user-images.githubusercontent.com/31394074/33000063-9fd224a8-cd5a-11e7-851b-b8e68387265c.png">

[2017-11-20 02:52] Namaslayer commented on #954
@converge read above. I'm still painfully new to all of this, Guessing im missing permissions or I did something wrong haha

[2017-11-20 02:54] rvarseveld commented on #898
So a short summary here:

Running on a DigitalOcean US server using nogui=True:

- Liking works fine
- Commenting works fine
- Following doesn't work (only a few out of 100 whereas in the log it says it followed 100)
- Unfollowing doesn't work (only 1 out of 100 whereas in the log it says it unfollowed 100)

Running on macbook:

- No problems

So there is something going wrong when using  a virtua

[2017-11-20 03:42] elbizzo opened #957 "PC shutting down"
## Expected Behavior
Quickstart script to run for 2-3 hours
## Current Behavior
PC shuts down prematurely
## Possible Solution (optional)
I have no possible solution to this. I understand the script may terminate prematurely. But how does this relate to the PC shutting down? I raise this issue because it's happened to me 2-3 times and to my friend who just started using InstaPy. I would appreciate

[2017-11-20 13:43] CharlesCCC commented on #956
curious question, how do you decide which image to like/comment ? by tag or something else, I just wondering how did it end up looking for private user ? because if it private user, they image shouldn't showing up under tag search.

[2017-11-20 14:20] hestuppfodarn commented on #917
@timgrossmann @converge
could you create a bountysource for this, I will add a bounty :)

[2017-11-20 14:34] mamartins commented on #954
I'm getting same error after last PRs merged locally

[2017-11-20 15:14] uni1783 commented on #956
@CharlesCCC I think it's because of the interact_user_followers(['username']) setting. It will try to generate a list of images from a private user that is following the username.

[2017-11-20 15:23] converge commented on #917
hi @hestuppfodarn , you can add a Bounty here https://www.bountysource.com/issues/51493944-blacklist-problem

[2017-11-20 15:25] converge commented on #954
@Namaslayer you downloaded it using the zip file, to use that git commands you do need to download it using git clone (this is easier to update InstaPy later)

[2017-11-20 15:25] converge commented on #954
@mamartins could you help testing #955 ? after testing we can merge.

[2017-11-20 15:38] hestuppfodarn commented on #917
@converge done!

[2017-11-20 17:01] thecaharin commented on #956
Hey guys thanks for the responses.  There is an instagram user with a big following who i have had success with his followers liking my photos and following because we looks somewhat similar. So i am trying to target his followers. The bot runs fine when it encounters one of his followers whose account is public, but then when it gets to his followers who are 'private' the error occurs.
 @CharlesC

[2017-11-20 20:35] mamartins commented on #954
@converge now after your merge I get
[code]

[2017-11-20 21:20] 46960 commented on #947
I thought I had the most updated version but turns out I didn't. Updated again, and it did the trick. Thanks!

[2017-11-20 21:20] #947 closed

[2017-11-20 21:29] converge commented on #954
@mamartins it's because we renamed every method that uses random parameter/argument, now it have to be ```set_user_interact(amount=3, randomize=False...)```

[2017-11-20 21:29] #954 closed

[2017-11-20 21:51] sionking opened #958 "get_active_users can't get formatNumber(browser.find_element_by_xpath( '//header/div[2]/ul/li[1]/span/span').text)"
exception: Message: no such element: Unable to locate element: {"method":"xpath"
,"selector":"//header/div[2]/ul/li[1]/span/span"}
  (Session info: chrome=62.0.3202.94)
  (Driver info: chromedriver=2.33.506120 (e3e53437346286c0bc2d2dc9aa4915ba81d902
3f),platform=Windows NT 6.1.7601 SP1 x86_64)

A Workaround is to work without it....

[2017-11-20 21:53] sionking commented on #956
I workaround it by adding:

''''
def follow_user(browser, follow_restrict, login, user_name, blacklist, logger):
    """Follows the user of the currently opened image"""

    try:
        follow_button = browser.find_element_by_xpath(
                "//button[text()='Follow']")

        # Do we still need this sleep?
        sleep(2)

        errorSkip = False

        try:
            follow_but

[2017-11-20 22:03] Namaslayer commented on #954
@converge still a bit confused. I tried this

<img width="969" alt="screen shot 2017-11-20 at 2 01 41 pm" src="https://user-images.githubusercontent.com/31394074/33043798-7c59b94a-cdfb-11e7-96d3-672f9893c89f.png">

What is the line command I need to enter?

[2017-11-20 22:23] Namaslayer commented on #954
@converge Ah, Nevermind! I see you've updated the regular file with the new paramaters. I did a normal git pull with "randomize" and its working. Thank you for the hard work and help!!

[2017-11-20 22:54] mamartins commented on #954
@converge True, sorry! :)

[2017-11-20 23:00] converge commented on #958
hi @sionking , can you help testing #935 ?

[2017-11-20 23:02] converge commented on #957
hi @elbizzo , I dont know much to say, all I can say is that's probably a hardware issue.

[2017-11-21 00:19] converge commented on #917
hey @hestuppfodarn , just did it, PR #959. Could you test it ?

[2017-11-21 00:24] converge commented on #953
hi @MorganPelissier , this is a know issue, we will focus the conversation here #877

[2017-11-21 00:24] #953 closed

[2017-11-21 00:27] converge commented on #952
we fixed this at #955 , thanks @Naramsim for the bug report.

[2017-11-21 00:27] #952 closed

[2017-11-21 00:31] converge commented on #807
hi @XemyL , I can't reproduce this issue, how could I do reproduce it ?

[2017-11-21 00:34] converge commented on #684
No interaction for a long time, reopen it if you're having this issue.

[2017-11-21 00:34] #684 closed

[2017-11-21 00:49] hestuppfodarn commented on #917
@converge works perfectly,
thanks again!

(do I have to do anything else now to give you the bounty(ies)?)

[2017-11-21 00:55] converge commented on #917
thank you @hestuppfodarn ! Did you receive an email to accept it ?

[2017-11-21 00:55] #917 closed

[2017-11-21 00:59] #857 closed

[2017-11-21 01:44] converge commented on #958
it's fixed, just merged it.

[2017-11-21 01:44] #958 closed

[2017-11-21 02:47] mcafigo commented on #877
I'm getting the exact same issue. Running Python 3.6.3 as well as chromedriver 2.33

It's stopping anywhere between 20 and 90 likes for me. Have only just started using it so am using basic commands

My quickstart.py

from instapy import InstaPy

insta_username = ''
insta_password = ''

# if you want to run this script on a server,
# simply add nogui=True to the InstaPy() constructor
session = Ins

[2017-11-21 07:17] hestuppfodarn opened #960 "Activity.csv not working"
## Expected Behavior
all interactions being saved in log/activity.csv

## Current Behavior
log/activity.csv is not getting updated
Worked perfectly. Issue starting yesterday 20/11-17

## Possible Solution (optional)
Might be something with the latest updates of Instapy occurring 20 November

## InstaPy configuration
MacOS

[2017-11-21 08:01] macdonjo opened #961 "How do we post?"
How exactly do we post to Instagram? I see liking and commenting and all this stuff, but how exactly do you add content to the app?

[2017-11-21 08:14] hestuppfodarn commented on #961
It's not possible at this moment.

[2017-11-21 11:03] Naramsim commented on #960
Activities.csv is no more :)

Superseded by SQLite3 😝

[2017-11-21 11:49] hestuppfodarn commented on #960
Oh, sorry but what does "Superseded by SQLite3" mean?
If you want to know how many likes, comments, follows and server calls you make per day?

[2017-11-21 12:01] Naramsim commented on #960
*replaced

[2017-11-21 12:05] hestuppfodarn commented on #960
@Naramsim,
Thanks, solved!

[2017-11-21 12:05] #960 closed

[2017-11-21 12:10] #961 closed

[2017-11-21 13:58] Radzam opened #962 "How can I unfollow everyone that I follow through the bot?"
I would like to unfollow everyone (not just some) that I follow by using the bot on the day after. How can I achieve this?

[2017-11-21 15:57] timgrossmann commented on #962
Unfollows 50 people per session, let run until at 0
[code]

[2017-11-21 15:57] #962 closed

[2017-11-21 18:16] ramprasadc commented on #914
Thanks it works for me 👍

[2017-11-21 19:14] harrypython opened #963 "Missed parameter in interact_by_users()"
Missed parameter "logger" at  interact_by_users() -> get_links_for_username()

https://github.com/timgrossmann/InstaPy/blob/786397d631d4f66d6e6f752a6e95bf62f78df7cb/instapy/instapy.py#L908-L912

[2017-11-21 19:34] sionking opened #965 "Feature(implemented): dump all followers/following as list to a file."
I found out that my original "following" (all the people I really follow) get currupted after a time
using this automation, it might be an error that stop the automation in the middle, but I found my following list to be much longer (2000 instead 1000) but the follow pool is empty.

A good Idea is to save my original following before running this script.
I used a method already exist in unfollow w

[2017-11-21 19:39] ethandunford opened #966 "Schedule always crashes"
## Expected Behavior
Run script at certain time
## Current Behavior
As soon as it's time to start a job chrome will crash

## InstaPy configuration
[code]

[2017-11-21 19:52] cavemanpussy opened #967 "Instagram notices InstaPy use?"
Hey guys!

I'm currently using instapy with firefox and proxyserver set over "firefox_profile.set_preference('network.proxy.type', 1)" and authentication with "expected_conditions.alert_is_present()". It works pretty well, but since a few days I'm getting a message, when logging in.
Instagram says "We Detected An Unusual Login Attempt" and I have to verify my identity over mobile phone.

Can it ha

[2017-11-21 19:53] ethandunford commented on #967
Sounds like you are running your bot too much?

[2017-11-21 19:55] cavemanpussy commented on #967
I'm actually doing about 700 likes a day.
What likelimit did you experience? Is 1.000 a reasonable value?

[2017-11-21 21:19] converge commented on #966
@ethandunford , what's the error ?

[2017-11-21 21:20] converge commented on #963
merged, thanks @harrypython !

[2017-11-21 21:20] #963 closed

[2017-11-21 21:20] #944 closed

[2017-11-21 21:24] converge commented on #897
working and merged, more info in the docs.

[2017-11-21 21:24] #897 closed

[2017-11-21 21:26] converge commented on #818
hey @hestuppfodarn did you had the time to test it ? we already merged it.

[2017-11-21 21:26] #818 closed

[2017-11-21 22:27] hestuppfodarn commented on #818
Sorry. It works! Claim the bounty
On Tue, 21 Nov 2017 at 22:26, João Paulo Vanzuita <notifications@github.com>
wrote:

--
_________________
Emil Esselin
(+46) 70 432 81 18

[2017-11-21 23:27] thecaharin commented on #956
Hey @sionking thank you for providing that code to try. Unfortunately once the bot gets to a private user, the same error is occurring and halting the program :/

[2017-11-22 09:26] AustineA commented on #950
Thanks guys, sorry for the late reply... I am currently experimenting on how to implement this myself i think you can grab a link of users who like a post from the heart icon.

I'll keep you updated on my finds if it works.

[2017-11-22 10:06] rvarseveld commented on #967
Sounds like a proxy issue. Where's your proxy located?

[2017-11-22 10:24] ManuBombon opened #971 "Session.like_by_tags don't work good?"
Hi guys,
I have a problem with like by tags function, I set an amount of 100 likes for 2 tag for example, sometimes the script make only 12 likes and not 100.
There is a way to resolve this problem?

[2017-11-22 10:40] converge commented on #971
anyone knows how to reproduce this error ? I tried it before, without success.

[2017-11-22 13:04] hestuppfodarn commented on #820
Hi,
We would love the gender feature. Would it be hard to do? Please make a bountysource and I will place some money.

[2017-11-22 14:14] ManuBombon commented on #971
So you don't have this error? By the way, I don't know, I update instapy, but still nothing, same error, sometimes 100 likes and sometimes 12.

[2017-11-22 14:26] converge commented on #971
It doesn't happen to me, I would like to reproduce it, so I can fix it.

[2017-11-22 15:05] thecaharin commented on #956
Hi @converge sorry to bother you. I see that you are fairly active on the instapy issues page. Is there anyway you would be able to take a quick look at this error please? I would greatly appreciate it. Thanks so much in advance if you are able to. :)

[2017-11-22 15:54] converge commented on #956
hi @thecaharin , do it in the InstaPy folder:
[code]
it will update your InstaPy, we added this private account verification this week, after updating it will avoid private accounts and you will see the information in the ```logs/general.log```

[2017-11-22 16:13] thecaharin commented on #956
Hey @converge wow thank you very much for the quick response as well as a potential fix to the issue i am having. Sorry to be a bother but im not exactly sure how to execute an update. Im very new to coding. I went into the folder that i have instapy installed on my desktop and couldn't find a link for "git pull" so i tried to execute it in my terminal (running it on a mac) and it produced --->
Ne

[2017-11-22 16:16] converge commented on #956
your welcome, you don't bother me helping each other we go further.
do it:
[code]

[2017-11-22 16:29] #613 closed

[2017-11-22 16:30] svensonx opened #973 "How do I get the accounts I am already following (followed manually)"
This issue is related to the following situation:
I want to use Instapy on an already existing IG-Account with >3k followers.

## Expected Behavior

1) Get all accounts my account is already following. Even those, which I followed manually
2) Add them to the Blacklist
[3) Unfollow all "old" accounts ]

## Current Behavior

If I unfollow all accounts I am following (done manually), InstaPy will eve

[2017-11-22 16:43] Spyd3r0us opened #974 "When feature onlyNotFollowMe=True, excluded users are unfollowed"
## Expected Behavior
users added to ```session.set_dont_include(['friend1', 'friend2', 'friend3'])``` should not be unfollowed when running ```session.unfollow_users(amount=10, **onlyNotFollowMe=True**, sleep_delay=60)```
## Current Behavior
running the unfollow if not following me code  ```session.unfollow_users(amount=10, onlyNotFollowMe=True, sleep_delay=60)```. I notice that it is unfollowing

[2017-11-22 16:57] thecaharin commented on #956
@converge Wow thank you so much! I like your way of thinking, i agree. I hope as i progress with my coding i will be able to contribute on here one day. It appears to be running smoothly after the git pull. Thank you again so much and for all the work you do on here. I was on a 100$ a month instagram program at one point and im thrilled i will be able to do it on my own now. Thanks again and be we

[2017-11-22 17:03] thecaharin commented on #956
@converge Thats odd, it was working and then just crashed again.. :/

Username [21/250]
--> _username_
('Getting', u'username', 'image list...')
This user is private...
Traceback (most recent call last):
  File "quickstart.py", line 21, in <module>
    session.interact_user_followers(['username'], amount=250, random=True)
  File "/Users/newuser/Desktop/InstaPy-master/instapy/instapy.py", line 1062

[2017-11-22 17:09] converge commented on #956
@thecaharin this is a know bug, it happens randomly unfortunately.

[2017-11-22 17:11] thecaharin commented on #956
@converge Oooo ok i see, thanks. Is there a code to add that would reboot instapy automatically, incase i was away from my computer?

[2017-11-22 18:09] timgrossmann commented on #950
@AustineA Yes! That's the right spirit.

Looking forward to the PR! Thank you very much.

[2017-11-22 18:10] converge commented on #956
I think @sionking did something about it.

[2017-11-22 18:11] timgrossmann commented on #820
@converge Maybe it's smarter to open up a separate issue for the gender feature.
This issue has to be closed in order for the implementer to claim the bounty.

[2017-11-22 18:13] timgrossmann opened #975 "[Feature Request] Filtering: Gender"
Filters: this option lets you make filter people who act on them.

Implement a way to check for the gender of a user and ignore/interact with them if they are of specified gender.

[2017-11-22 18:30] ethandunford commented on #966
@converge  here is the full console output

Traceback (most recent call last):
  File "test.py", line 54, in <module>
    schedule.run_pending()
  File "/home/ethan/insta_env/lib/python3.5/site-packages/schedule/__init__.py", line 452, in run_pending
    default_scheduler.run_pending()
  File "/home/ethan/insta_env/lib/python3.5/site-packages/schedule/__init__.py", line 75, in run_pending
    self

[2017-11-22 18:35] ethandunford commented on #967
1000 sounds like way too much

[2017-11-22 19:52] sionking commented on #965
Running separetly the followng and the follower works.
Probebly and instagram limit.
Will PR soon.

BTW, new account uses this automation can ignore there original following by loading the list.

[2017-11-22 20:26] harrypython opened #976 "Search Locations"
Hey everybody!

I test a way to search locations based in the Facebook API. This can be useful if you need to target an audience that frequents a particular type of location / event.

What do you think? Is adding the Facebook API worth it for this feature?

[2017-11-22 21:07] thecaharin commented on #956
@converge Ok thanks so much, i appreciate your time and your assistance. If i don't get it figured out ill read up on how to create a bounty for it lol. Be well :)

[2017-11-22 21:09] mehdi691 opened #977 "Unfollow produces an error"
Hi,
I have a problem when I tried to unfollow people. It used to work nicely... (I'm using Selenium + Chrome Driver)
## Expected Behavior

## Current Behavior
`Number of people followed automatically remaining: 696
('unfollow loop error \n', 'Message: unknown error: session deleted because of page crash\nfrom unknown error: cannot determine loading status\nfrom tab crashed
--> Total people unfollo

[2017-11-22 21:22] sionking commented on #965
in quickstart.py:

[code]

[2017-11-22 21:24] timgrossmann commented on #976
@harrypython Do you think this is also possible without the API?
If not, then build a Repo for it and we can integrate it #880

[2017-11-22 21:40] uni1783 commented on #956
I use a simple bash script for that:

[code]
Put it in the same directory as your quickstart.py, make it executable (chmod +x) and run. It should work on both Linux and Mac.

[2017-11-22 22:00] harrypython commented on #976
I'll do some research and tests.
But I don't think this is possible without accessing the API.
It's worth remembering that the venues on Instagram are actually created on Facebook.

[2017-11-22 22:08] ugurozturk opened #979 "Re-Follow Problem"
## Expected Behavior
Settings or by Default do not follow again whose did i followed before.
## Current Behavior
Somebody asked me why i am following him always again and again. So the bot does try to follow him again and again.
## Possible Solution (optional)
There could be a setting for it or by default it must not refollow

[2017-11-22 22:09] hestuppfodarn commented on #820
Would Also be Nice to have a “avoid business account”. We will place bounty
for that.

On Wed, 22 Nov 2017 at 19:11, Tim Großmann <notifications@github.com> wrote:

--
_________________
Emil Esselin
(+46) 70 432 81 18

[2017-11-22 22:20] thecaharin commented on #956
Hey @uni1783 thanks in advance for reaching out and posting that script. Im pretty new to coding so im unsure how to make it executable (chmod +x)?
I pasted it in quickstart.py and it produced --->
News-MacBook:instapy-master Mac$ python quickstart.py
  File "quickstart.py", line 19
    function startInstapy {
                        ^
SyntaxError: invalid syntax

Im guessing thats because i didn'

[2017-11-22 22:43] uni1783 commented on #956
It should be pasted in it's own file (call it startbot.sh). So from the command line (in the instapy-master folder):

[code]

[2017-11-22 22:52] timgrossmann opened #980 "[Feature Request] Filtering - Skip business accounts"
Filters: this option lets you make filter people who act on them.

Implement a way to check if an account is a business accounts and ignore/interact with them if they are.

[2017-11-22 22:53] timgrossmann commented on #820
@hestuppfodarn https://github.com/timgrossmann/InstaPy/issues/980

[2017-11-22 23:01] ugurozturk commented on #979
https://github.com/timgrossmann/InstaPy/blob/5b1cac42c24fa15977fa0cbbe02de2466e399ab0/instapy/unfollow_util.py#L347

[code]

So it does add to blacklist to avoiding re-follow it ? So i should enable blacklist feature

[2017-11-23 00:34] ugurozturk opened #982 "By Default it has Error"
## Expected Behavior
Work Fine
## Current Behavior
I was running fine the code before 40 commits. I did update repo. Now im seeing only fails.

Ubuntu 64 bit going from start again.
https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu_on_Digital_Ocean.md

$ sudo apt-get update
$ sudo apt-get -y upgrade
$ sudo apt-get -y install unzip python3-pip python3-dev build-essential lib

[2017-11-23 00:37] thecaharin commented on #956
Startbot.sh as a text file? Also when i pasted the nano startbot.sh into my terminal it changed the whole layout and spooked me a tad lol

[2017-11-23 00:38] thecaharin commented on #956
Startbot.sh as a text file? Also when i pasted the nano startbot.sh into my terminal it changed the whole layout and spooked me a tad lol @uni1783

[2017-11-23 00:38] ugurozturk commented on #982
removed session.unfollow_users to find if this issue dublicate of https://github.com/timgrossmann/InstaPy/issues/977 But nope. Still getting error

[code]

[2017-11-23 00:40] ugurozturk commented on #982
also removed session.set_unfollow_active_users(enabled=False, posts=5). it did work fine. So i think set_unfollow_active_users has problem

[2017-11-23 00:48] ugurozturk commented on #982
set_unfollow_active_users  changed to set_dont_unfollow_active_users

[2017-11-23 00:48] #982 closed

[2017-11-23 00:51] ugurozturk commented on #977
@mehdi691 do you using session.set_unfollow_active_users ?

https://github.com/timgrossmann/InstaPy/commit/5389ee1ecc9392e6581ef5e84b6b5c8e3aa2905c in this commit they changed this to session.set_dont_unfollow_active_users

[2017-11-23 00:53] mehdi691 commented on #977
@ugurozturk, yes I do. But I want to unfollow everybody i followed before even if an active user liked one of my pic...

[2017-11-23 00:55] ugurozturk commented on #977
@mehdi691 so make like this session.set_dont_unfollow_active_users(enabled=No, posts=5). session.set_unfollow_active_users this fails bacuse this command is deleted

[2017-11-23 00:57] mehdi691 commented on #977
ok I'm gonna try
session.set_dont_unfollow_active_users(enabled=No, posts=5)

[2017-11-23 01:15] converge commented on #977
hey guys , check it out: https://github.com/timgrossmann/InstaPy#dont-unfollow-active-users

[2017-11-23 01:19] mehdi691 commented on #977
@converge Yes but guys I'm using session.unfollow_users(amount=10, onlyInstapyFollowed = True, onlyInstapyMethod = 'FIFO', sleep_delay=60 ) and this makes an error because of cookies...

[2017-11-23 01:21] converge commented on #977
@mehdi691 you just need to upgrade chrome driver to latest version.

[2017-11-23 01:23] mehdi691 commented on #977
File "/Users/Mehdi/Desktop/InstaPy/instapy/instapy.py", line 1467, in end
    self.browser.delete_all_cookies()

 File "/usr/local/lib/python2.7/site-packages/selenium/webdriver/remote/webdriver.py", line 692, in delete_all_cookies
    self.execute(Command.DELETE_ALL_COOKIES)

[2017-11-23 01:29] ugurozturk commented on #890
@converge i made session.set_blacklist(enabled=True, campaign='generic_campaign') . And gonna use this for all time. So i will not follow second time any person am i right ?

[2017-11-23 01:32] converge commented on #890
@ugurozturk that's right

[2017-11-23 03:39] timgrossmann commented on #841
@bsnisar Is this still an issue? Please reopen if it is

[2017-11-23 03:39] #841 closed

[2017-11-23 03:39] timgrossmann commented on #595
@tomStegmaier Still an issue? If yes, please reopen

[2017-11-23 03:39] #595 closed

[2017-11-23 03:43] timgrossmann commented on #898
@rvarseveld Have you updated the chrome driver and pulled the newest InstaPy version?

[2017-11-23 03:57] #336 closed

[2017-11-23 03:58] #503 closed

[2017-11-23 03:58] #450 closed

[2017-11-23 03:59] #515 closed

[2017-11-23 04:00] timgrossmann commented on #628
@sndf3 Is this issue still present? If yes, please reopen!

[2017-11-23 04:00] #628 closed

[2017-11-23 04:15] clevebounce opened #983 "Is this a bug and how do I fix it?"
#hkboy #hkgirl #hksalon #hkboys #hkiger #hkig #b5 #化妝 #染髮 #漂頭 #美髮 #扮靚 #負離子 #電髮 #曲髮 #直髮 #剪頭髮 #巴西焗油 #放榜 #畢業 #漂染 #旅行 #韓風 #香港好去處 #髮型屋 #梨花頭 #熱療 #直療 #paimore熱療 #paimore直療
INFO - --> Image Liked!
INFO - --> Not commented
INFO - --> Not following
INFO - [24/900]
INFO - https://www.instagram.com/p/Bbz0UYHFdzr/?tagged=hkig
INFO - Image from: hanabihairsalon
Traceback (most recent call last):
  File "quickst

[2017-11-23 04:24] timgrossmann commented on #983
@clevebounce Do you have the latest version of InstaPy and the latest chrome driver for your system?

[2017-11-23 05:17] clevebounce commented on #983
Yes I do, both downloaded less than a week ago

[2017-11-23 05:41] timgrossmann commented on #983
@clevebounce Have you updated InstaPy in the last day?

[2017-11-23 06:53] sionking commented on #980
How whould you do it? I think checking if a website is published on bio is a good start.

[2017-11-23 11:07] clevebounce commented on #983
You mean, the one you updated 6 hours ago?

[2017-11-23 11:14] hojjabr commented on #838
Just add these lines to `quickstart.py` and `instapy.py`:

[code]

[2017-11-23 11:16] hojjabr commented on #927
Just add these lines to `quickstart.py` and `instapy.py`:

[code]

[2017-11-23 11:16] hojjabr commented on #291
Just add these lines to `quickstart.py` and `instapy.py`:

[code]

[2017-11-23 11:16] hojjabr commented on #45
Just add these lines to `quickstart.py` and `instapy.py`:

[code]

[2017-11-23 11:17] hojjabr commented on #130
Just add these lines to `quickstart.py` and `instapy.py`:

[code]

[2017-11-23 11:17] hojjabr commented on #182
Just add these lines to `quickstart.py` and `instapy.py`:

[code]

[2017-11-23 11:18] hojjabr commented on #87
Just add these lines to `quickstart.py` and `instapy.py`:

[code]

[2017-11-23 12:30] mehdi691 commented on #977
Still need help ...

[2017-11-23 13:14] converge commented on #983
@clevebounce yes

[2017-11-23 13:22] converge commented on #977
@mehdi691 pls paste the full stacktrace (the error message)

[2017-11-23 14:39] timgrossmann commented on #980
@sionking I'm not really sure how it works in the web view, but on the mobile version there is an extra button that says "Contact"... This might be the best way to find out

Maybe there are some other uniquenesses

@converge What do you think about this?

[2017-11-23 15:02] converge commented on #980
hey @timgrossmann @sionking , I think it's a good idea. The web version of Instagram doesn't show up the contact/email button.

For me, the best way today is to name the feature something like:
```set_ignore_business_account(...)``` and make it clear in the docs that it will avoid interacting with profiles containing links.

[2017-11-23 15:46] clevebounce commented on #983
Let me try and report back

[2017-11-23 18:12] brokleen opened #984 "Comment only when Clarifai match"
It is possible to comment only when Clarifai match ?
Because with my config, instaPy comments even when the clarifai_check_img_for function returns false.

My conf :
[code]

[2017-11-23 23:00] blakemmw commented on #984
Hi @brokleen, can you share your whole file? If you don't have anything in your generic comments, I believe it should only comment when it finds the required items specified by session.clarifai_check_img_for in the photo.

[2017-11-23 23:01] blakemmw commented on #975
What about people who have more than one gender ? ;)

[2017-11-23 23:03] blakemmw commented on #967
Bring it down a notch man! thats way too much. Considering that your script will be skipping posts that are inappropriate too. You must be viewing over 1000 posts.

Play it safe...

[2017-11-24 05:24] tuxity opened #985 "WebDriverException: Message: unknown error: Cannot read property '0' of undefined"
Hi there! I'm having issues to run the script directly with python. I'm using the latest version of the repo (7a6c9ff98e2db42881d1acff08342b6752796bed)

## Expected Behavior

## Current Behavior
[code]

## Possible Solution (optional)
I've checked directly into my browser [the javascript code](https://github.com/timgrossmann/InstaPy/blob/master/instapy/print_log_writer.py#L10#L12) to get the follo

[2017-11-24 05:43] tuxity commented on #985
Okay, I was using my email as login instead of username. So obviously `https://www.instagram.com/EMAIL/ isn't an existing page ...

[2017-11-24 05:43] #985 closed

[2017-11-24 06:48] sionking commented on #966
Will schedule execute the next job even if the previous did not finish ?

[2017-11-24 09:45] brokleen commented on #984
I found a solution
`session.set_comments([''])`

[2017-11-24 09:45] #984 closed

[2017-11-24 09:47] ethandunford commented on #966
it doesn't get that far

[2017-11-24 10:22] brokleen opened #986 "[bug] Clarifai full_match"
`session.clarifai_check_img_for(['food', 'lunch'], comment=True, comments=['Tasty!', 'Yum!'], full_match=True)
`
return
`TypeError: clarifai_check_img_for() got an unexpected keyword argument 'full_match'`

[2017-11-24 15:34] jbsness commented on #933
Same here with fresh new install on Windows,
duplicating Line45 solved this issue !

[2017-11-24 16:00] timgrossmann commented on #980
@converge Still trying to figure out if we should create single different commands like
`set_filter_business_account(...)`
`set_filter_gender(...)`
`set_filter_...`

or if we should go for a more generalised
`set_filters(...)`

We probably want to have it both ways => **Filter out** business accounts and **filter for only** business accounts

[2017-11-24 16:18] gerdmueller2 opened #987 "logfiles: activity.csv is gone?"
does anybody has the same problem?

i am running on ubuntu aws mashine.

how can i reacticate or force the creation of the logfiles?
-logs /actitity.csv

it seems that the logfile (/logs/logfile.txt) is now the /logs/general.txt

[2017-11-24 19:01] sionking commented on #966
I heard it has a threded way to do it

[2017-11-24 19:32] clevebounce commented on #983
This issue has be solved. Thank you.

[2017-11-24 19:33] clevebounce opened #988 "session.set_dont_like() only accepts 2 arguments?"
INFO - Logged in successfully!
Traceback (most recent call last):
  File "quickstart.py", line 32, in <module>
    session.set_dont_like('herbalife', 'amyway', 'maione', 'youngliving', 'avon', 'marykay', '#sex', 'follow', 'follower', 'shop', 'doterra', 'forex', 'cryto')
TypeError: set_dont_like() takes at most 2 arguments (14 given)

[2017-11-24 19:35] clevebounce commented on #988
and even if I try 2 arguments, it returns an error

INFO - Session started - 2017-11-25 03:34:12
INFO - Logged in successfully!
Traceback (most recent call last):
  File "quickstart.py", line 33, in <module>
    session.set_dont_like('maione', 'shop')
TypeError: set_dont_like() takes at most 2 arguments (3 given)

[2017-11-24 20:02] converge commented on #988
hi @clevebounce , do it:
[code]

you forgot the [ ] (list)

[2017-11-24 21:26] tonoli opened #989 "[Feature Request] Sending email with activity of session"
Before closing the session I imagine a function:
send_report(youremail@internet.com)

The report could have important information about the session:
- time of the start of the session + time of the end
- Number of profiles interacted with
- Number of likes
- Number of comments
- Number of profiles followed
- Number of profiles unfollowed
- Number of requests

[2017-11-24 21:34] hestuppfodarn commented on #987
Yeah it has been replaced by db (database).

[2017-11-24 22:10] gerdmueller2 commented on #987
And how can i open it (in terminal)?

with "cat db/instapy.db" i get:
`cat db/instapy.db
SQLite format 3@
                  ?
???$!!?tablestatisticsstatisticsCREATE TABLE `statistics` (
  `likes` SMALLINT UNSIGNED NOT NULL,
  `comments` SMALLINT UNSIGNED NOT NULL,
  `follows` SMALLINT UNSIGNED NOT NULL,
  `unfollows` SMALLINT UNSIGNED NOT NULL,
  `server_calls` INT UNSIGNED NOT NULL,
!2!RL2ated` D

[2017-11-24 22:16] #987 closed

[2017-11-24 22:16] hestuppfodarn commented on #987
Oh, not sure.
I've downloaded SQLite.

[2017-11-25 04:04] clevebounce commented on #988
@converge  thank you for your response.

could you elaborate? I am sort of a newbie and not very familiar with python

[2017-11-25 05:50] sionking commented on #988
a list is a data type which count as one argument..

[2017-11-25 08:18] chrismaltais commented on #905
## This issue has now been resolved using chrome headless

1) Download chromedriver with _a version later_ than 2.9 (pref 2.33) and place in assets folder
2) In my `quickstart.py` remove `nogui=True` from the constructor
3) In `instapy.py` go to line 154-156, where chrome options are declared
4) Add `chrome_options.add_argument('--headless')` to enable chrome headless

Outcome: `quickstart.py` wil

[2017-11-25 08:18] #905 closed

[2017-11-25 12:03] Naramsim opened #990 "General.log flooded"
## Expected Behavior
Normal log
## Current Behavior
Each entry is added several times
## Possible Solution (optional)

## InstaPy configuration
Docker Compose latest

my general.log looks like this:

[code]

Also yours?

[2017-11-25 12:51] #988 closed

[2017-11-25 15:58] mjortberg521 commented on #519
@amoffitt123 I got the same error as you, what steps did you take to fix it?

[2017-11-25 16:34] converge commented on #519
@mjortberg521 did you instaled chrome browser (not chrome driver) ?

[2017-11-25 17:04] converge commented on #980
@timgrossmann great idea, I think ```set_filters(...)``` would be better because it's easier to read:
[code]

[2017-11-25 20:56] mjortberg521 commented on #519
@converge I will try installing google Chrome tonight. Does it require ExaGear desktop? I was trying with Chromium...whoops

[2017-11-25 21:09] sionking opened #992 "Delete line from file - > error/PC down can cause the file to be malformed. (should use temp file)"
under util.py delete_line_from_file is not safe to use.
Please change it to the following:

[code]
*** Something improtant ***
Related to the file "userX_followedPool.csv", it contain many usernames without ',' at the end of the line before the \n.
Maybe an old syntex leftovers? it results in not removing the username from list after unfollowing it !!!!

[2017-11-25 22:02] FreakyBoy opened #993 "InstaPy Like Photo => No Like at Instagram"
Hey I have a problem with the bot... the console output say that I liked a photo

INFO - --> Image Liked!
INFO - --> Not commented
INFO - --> Not following
INFO - [10/10]

But at Instagram (iOS App) I can`t see any Like :S
What do I wrong ?

## InstaPy configuration
`
from instapy import InstaPy
insta_username = '_name_'
insta_password = 'password'
session = InstaPy(username=insta_username, passwo

[2017-11-25 22:26] FreakyBoy commented on #993
ok I test the same configuration now on my mac and it`s working o.O
problem with nogui param ?

[2017-11-25 22:29] converge commented on #519
@mjortberg521 is it Linux ? check the docs folder, we have a tutorial.

[2017-11-25 22:52] martinkrulltott commented on #700
Hey, this problem still exists, getting ”element not visible” still (although it seems less frequent, only happened once in the last 6 runs). Any possible work around?

[2017-11-25 23:16] converge commented on #700
hey @martinkrulltott , I think I fixed it, but need more testing, can you help ? https://github.com/timgrossmann/InstaPy/pull/991

[2017-11-26 02:20] wlrd commented on #974
I'll work on this one.

[2017-11-26 05:42] sionking opened #994 "new LOGGER with schdule, second job will print the same line twice"
the third job will print the same line 3 times.
e.g.
INFO - [1/195]
INFO - [1/195]
INFO - https://www.instagram.com/p/Bb8md8RjY0T/?tagged=babygirl
INFO - https://www.instagram.com/p/Bb8md8RjY0T/?tagged=babygirl
INFO - Image from: b'blondeswhoblog'
INFO - Image from: b'blondeswhoblog'
INFO - Number of Followers: 3988
INFO - Number of Followers: 3988

What should I do?

[2017-11-26 05:43] sionking commented on #994
Maybe object seesion need to be removed in exception ?

[2017-11-26 07:17] #977 closed

[2017-11-26 08:40] italianrobot opened #995 "new following mode : follow hashtag instead of people"
Hi there
I heard a new mode to follow is udner test on Instagram , where people can follow hashtag. What will be the market impact on this ? how strategies will change in growing  followers and popularity index?

That's completely new approach in following for us

[2017-11-26 09:57] nocomp commented on #727
hi,
no gui mode works like a charm, but gui version is having this pyvirtualdisplay error
i tried pip3.5 install pyvirtualdisplay pip3 install pyvirtualdisplay and pip install pyvirtualdisplay all tell me that it is installed

how can i get this fixed? any clue?
thxx for your help

best regards

[2017-11-26 10:25] gerdmueller2 commented on #993
i have the same issue on aws, when i run it.
in about 50% of the cases it says:
INFO - --> Image Liked!
INFO - --> Commented: "..."
INFO - --> Now following
but did not like. (follow and comment are working well)

can anybody fix this?

[2017-11-26 10:29] converge commented on #727
@nocomp what python --version and pip --version shows ?

[2017-11-26 10:31] nocomp commented on #727
hi,
thxx for your reply
here is what i have
nocomp@ubuntu:~/InstaPy$ pip --version
pip 9.0.1 from /usr/local/lib/python3.5/dist-packages (python 3.5)
nocomp@ubuntu:~/InstaPy$

nocomp@ubuntu:~/InstaPy$ python --version
Python 2.7.12
nocomp@ubuntu:~/InstaPy$

i run the quickstart.py using python3.5

would be great to find a fix, using last ubuntu version 16.04
thxx a lot

[2017-11-26 10:32] converge commented on #994
It's because InstaPy is single thread, if you run InstaPy more than once, log file will save all the calls in the same file.

[2017-11-26 10:45] converge commented on #727
when you say gui version, are you referring to this https://github.com/ahmadudin/electron-instaPy-GUI ? or ```nogui=False``` ?

I don't know exactly where the issue is, for me, people were using pip (to python2) and python (python3), but now I can see you're doing it right using the same version when using python3 and installing modules using pip (pip3).

Have you tried upgrade the package ? ```pi

[2017-11-26 11:12] nocomp commented on #727
hi,
this is what i get
nocomp@ubuntu:~/InstaPy$ pip install pyvirtualdisplay -U
Requirement already up-to-date: pyvirtualdisplay in /usr/local/lib/python3.5/dist-packages
Requirement already up-to-date: EasyProcess in /usr/local/lib/python3.5/dist-packages (from pyvirtualdisplay)
nocomp@ubuntu:~/InstaPy$

i tried to import pyvirtualdisplay i get no error what so ever, but the gui version ( yes the

[2017-11-26 11:23] nocomp commented on #727
is there a way to force python3.5 to be the default version to use?

[2017-11-26 11:26] converge commented on #727
@nocomp unfortunately I never used the GUI version before, I can't help.

It's quite simple, are you using Debian ? https://linuxconfig.org/how-to-change-from-default-to-alternative-python-version-on-debian-linux

[2017-11-26 11:32] nocomp commented on #727
thxx a lot,
did the changes described in the link, and it worked
nocomp@ubuntu:~$ python --version
Python 3.5.2
nocomp@ubuntu:~$

but didn t fixed the gui issue :'(

[2017-11-26 11:48] converge commented on #727
@nocomp maybe GUI requires python 2.7 , ```pip2.7 install pyvirtualdisplay```

[2017-11-26 12:28] nocomp commented on #727
here we go...
 python2.7
Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named pyvirtualdisplay

  File "<stdin>", line 1
    install pyvirtualdisplay
                           ^
SyntaxError: invalid s

[2017-11-26 12:32] nocomp commented on #727
getting near, now miss selenium

[2017-11-26 12:34] nocomp commented on #727
after have install selenium, i get this :'(
Error: ImportError: No module named requests

raaaaaaaaaaaaaaaa

[2017-11-26 13:10] tgs266 opened #996 "follow_user_followers not working"
## Expected Behavior
Should follow users of the account specified
## Current Behavior
Outputs the following:

`INFO - Session started - 2017-11-26 07:24:57

INFO - Logged in successfully!
INFO - --> Ongoing follow 1, now following: b'anthony7007'
INFO - --> Ongoing follow 2, now following: b'gvoigt33'
INFO - --> Ongoing follow 3, now following: b's_castanu'
INFO - --> Ongoing follow 4, now followi

[2017-11-26 13:50] sionking commented on #994
I don't run it threaded, the schduler run serial, no?
It is the same log file printed, not 2 diffrent.

Can you enlight me ?

[2017-11-26 14:07] jackpot001 opened #997 "Session deleted because of page crash error"
## Expected Behavior
I'm running the bot on a DigitalOcean droplet with some changes that I'm testing to make it work everyday doing different things, so I need the python script running 24/7 on the server (it doesn't perform Instagram actions over night though). For this purpose I'm using "screen" and I'm able to make my server run the python script even when I'm not logged in my vps.

## Current

[2017-11-26 15:17] gitpatrickhub commented on #993
Same problem. If I try to like a photo from iOS device I receive an error stating the action was blocked, you can select ok or report the problem. It appears to be a soft ban. Waiting for reply of the report problem selection.

[2017-11-26 15:45] FreakyBoy commented on #993
@gitpatrickhub that`s not a 'soft ban' problem. I can like all Photos from the iOS App without a problem.

[2017-11-26 16:20] nocomp commented on #727
question, running in cli mode, used to work fine, but now all pictures gets labeled "INFO - --> Image not liked: Inappropriate" and when i llok at the picture, looks fine to me, any idea what can go wrong?
here is my code:

session.like_by_tags(['fpv', 'fpvlife', 'fpvracing', 'fpvaddiction', 'fpvracer', 'fpvaddict', 'fpvwing', 'android', 'androidography', 'sector9', 'argonay', 'drone', 'uav', 'pat

[2017-11-26 16:39] converge commented on #727
@nocomp pls, paste all your quickstart.py file (without passwd)

[2017-11-26 16:41] converge commented on #997
hi @jackpot001 , I think just updating selenium will fix the problem, you're using 2.53, the actual version is 3.7

[2017-11-26 16:47] nocomp commented on #727
here we go, thxx a lot

session.login()

session.set_dont_like([''])
session.like_by_tags(['fpv', 'fpvlife', 'fpvracing', 'fpvaddiction', 'fpvracer', 'fpvaddict', 'fpvwing', 'android', 'androidography', 'sector9', 'argonay', 'drone', 'uav', 'patrouilledefrance', 'downhillskateboarding'], amount=200 )
#session.like_by_tags(['android', 'androidography', 'androidonly', 'androidographer', 'photoofthed

[2017-11-26 16:51] sionking commented on #994
https://stackoverflow.com/questions/47008864/how-to-prevent-logger-printing-same-information-multiple-times

[2017-11-26 16:51] sionking commented on #994
We initialize the handler more than once, so solution is to update or to check that it is not already initialized.

[2017-11-26 17:17] converge commented on #727
remove the ```set_dont_like`` line will fix it.

[2017-11-26 17:22] nocomp commented on #727
oh weird, i think it has been added by the gui mode, never wanted to have this.
i ve removed it and it still doesn t work.
does it work for you?
can you add sleep time also for session.like_by_tags ?
is there a possibility to scheddule it too?

thxx for your help

[2017-11-26 17:37] nocomp commented on #727
i ve removed this and now it works
#session.like_by_tags(['android', 'androidography', 'androidonly', 'androidographer', 'photooftheday', 'pictureoftheday'], amount=200,)

#session.follow_user_followers(['name1', 'name2', 'name3'], amount=50, randomize=False, sleep_delay=60)

weird no?

[2017-11-26 17:40] timgrossmann commented on #905
@chrismaltais Did you encounter any quick bans or something similar from Instagram by using the headless mode?

[2017-11-26 20:39] jackpot001 commented on #997
Thanks @converge for replying!

I'll test it right now after updating selenium to the latest version, I hadn't thought about it.

Hope it works, I'll let you know.

[2017-11-26 20:49] mjortberg521 commented on #928
The fix by @squigglesMcW above combined with the change by @cagalindo in #730 (switch line ~144 to browser.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/div/div[2]') made unfollowing work for me

[2017-11-26 21:36] jackpot001 commented on #997
I'm still getting the same error, I figured out it only happens on foll_by_foll feature.

  File "test.py", line 85, in <module>
    bot.myFollByFoll(me)
  File "/root/hekti/instapy/instapy.py", line 194, in myFollByFoll
    self.follow_user_followers(users, amount=amount, random=thisRandom, interact=interactFlag, me=me)
  File "/root/hekti/instapy/instapy.py", line 1265, in follow_user_followers

[2017-11-27 02:23] chrismaltais commented on #905
@timgrossmann not yet, but I've encountered quick bans from other sites using the headless mode.

I _have_ figured out a way around the bot detection (CAPTCHA, mostly) for some of the sites, I don't know how well it'll work with Instagram.

Some detection software tries to check if the browser's User Agent states its headless, and unfortunately on Headless Chrome states explicitly that we're using

[2017-11-27 03:30] drcyber975 opened #999 "when i try launching quickstart.py i get this responce"
when i try launching quickstart.py i get this responce:
Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/home/lubuntu/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/home/lubuntu/InstaPy/instapy/instapy.py", line 15, in <module>
    from .comment_util import comment_image
  File "/hom

[2017-11-27 04:36] mjortberg521 commented on #999
Try the steps described in issue #297

[2017-11-27 05:41] tctrautman commented on #997
@jackpot001 I'm getting the same error and came across this past ticket: https://github.com/timgrossmann/InstaPy/issues/117

I'm in the process of upping my droplet -- it sounds like that might be the fix.

[2017-11-27 07:53] sionking commented on #992
rewriting the file can be stopped in the middle - > results in a file with missing users.

[2017-11-27 12:39] jackpot001 commented on #997
@tctrautman can you please let me know once you upgrade your droplet if that fixes the problem?

Are you upgrading to 1GB or 2GB?

Thanks in advance.

[2017-11-27 18:42] CharlesCCC opened #1001 "Automatically Turn off Clarifai when reach API limit per month"
## Expected Behavior
Whenever reached the 5000 Clarifai API call limit, the script will stop Clarifai API call but fall back to the default comment;

## Current Behavior
Whenever reached the 5000 Clarifai API call limit,  the script will log a API call error without leave any comment then move on to next image.

## Possible Solution (optional)
manually disable Clarifai api call for now.

## InstaP

[2017-11-27 18:49] timgrossmann commented on #905
@chrismaltais This is awesome, could you create a PR for that? :wink:
Thank you very much for figuring this out!

[2017-11-27 19:55] timgrossmann commented on #1001
@CharlesCCC Sounds like a great idea to make everything more convenient!

Are you able to implement and PR this?

[2017-11-27 21:10] #999 closed

[2017-11-27 21:12] #983 closed

[2017-11-27 21:14] timgrossmann commented on #989
@tonoli Great Idea!
If you're interested in this, help get it implemented faster by adding a bounty to this: https://www.bountysource.com/issues/51949487-feature-request-sending-email-with-activity-of-session
Thank you.

[2017-11-27 21:47] drcyber975 opened #1002 "still facing issue installing emoji"
i followed the steps of  issue #297 and it still didnt work for me. I already have emoji as a directory however when i use the command python setup.py install i recieve an error message decsibed below )=

InstaPy$ git clone https://github.com/carpedm20/emoji.git
fatal: destination path 'emoji' already exists and is not an empty directory.
lubuntu@lubuntu:~/InstaPy$ cd emoji
lubuntu@lubuntu:~/Insta

[2017-11-28 01:01] tonoli commented on #989
I can do it myself, I'll be glad to contribute!

[2017-11-28 01:43] timgrossmann commented on #989
@tonoli Even better!
So awesome, thank you very much!

[2017-11-28 02:14] rvarseveld commented on #898
@timgrossmann Yes, I will do some further testing to see whether I can pinpoint this issue.

[2017-11-28 04:07] chrismaltais commented on #905
@timgrossmann in the middle of exams currently haha, give me a couple of days and it'll be done! :)

[2017-11-28 04:20] timgrossmann commented on #905
@chrismaltais Sounds perfect, thank you very much!

[2017-11-28 05:08] jmurphy45 opened #1003 "Delay seems to not always work"
Output

INFO - --> Ongoing follow 1, now following: niablackmore
INFO - --> Ongoing follow 2, now following: mosscreekmallards
INFO - --> Ongoing follow 3, now following: jgray1865
INFO - --> Ongoing follow 4, now following: thomascolepike
INFO - --> Ongoing follow 5, now following: rodriguezman
INFO - --> Ongoing follow 6, now following: calharriss7
INFO - --> Ongoing follow 7, now following: j_t

[2017-11-28 08:21] hestuppfodarn commented on #1003
I have the same experience,

[2017-11-28 15:57] bryant22 opened #1006 "Feature Request: "exclude private users" or "only private users""
## Expected Behavior
New options for more precise targeting and less annoying bots:
• exclude private users
• only private users
(for commenting, following, liking etc)
## Current Behavior
the bot is targeting all accounts, both private and public
## Possible Solution (optional)
## InstaPy configuration
## Why?
This is a feature most paid bots offer. It either reduces the time spent on following p

[2017-11-28 19:45] sionking commented on #980
gender_to_interact ??? How can you recognize this beside image ?

[2017-11-28 21:24] Namaslayer opened #1007 "Unfollow not working"
After the new update, I am running this script

<img width="512" alt="screen shot 2017-11-28 at 1 12 08 pm" src="https://user-images.githubusercontent.com/31394074/33344878-424df15e-d43f-11e7-9589-1c19c5268536.png">

when I run it on my server, I get this error.

<img width="1277" alt="screen shot 2017-11-28 at 1 16 42 pm" src="https://user-images.githubusercontent.com/31394074/33344898-52bfcbac-d

[2017-11-28 23:06] timgrossmann commented on #1007
@Namaslayer When was the last time you updated the chromedriver and InstaPy?

[2017-11-28 23:13] timgrossmann commented on #980
@sionking Seems like there are a lot of ways to do that!
Here are some services that offer exactly that:
- https://captiv8.io/
- https://minter.io/
- https://later.com/blog/first-look-instagram-new-analytics/
- http://www.allin1social.com/instagram-reports

In the worst case, we will get a first basic version by using some ML in the sense of a few hundred/thousand hand tagged profiles where we cho

[2017-11-28 23:33] Namaslayer commented on #1007
@timgrossmann did a git-pull about 10 minutes before posting this, using chromedriver 2.33 which I think is the most up to date.

[2017-11-29 12:16] addiman opened #1008 "Interact with someones followers not working correctly"
## Expected Behavior
should interact with given number of someone followers

## Current Behavior
Info says 41 and then starts with 1/21:
also repository example code not working, if not adding the upperlimit.
and also getting into loop if getting to user wich has too much followers.
and the do-like-false argument is ignored. why is it in example code?

INFO - Session started - 2017-11-29 03:46:41

[2017-11-29 12:17] converge commented on #1008
hey @addiman , I think we already fixed this bug, are you using the latest version ?

[2017-11-29 12:32] addiman commented on #1008
hey @converge. Yes its a todays fresh git clone.

[2017-11-29 13:39] hestuppfodarn opened #1010 "Rapberry Pi - Raspbian - Help"
Hi Guys,

I'm currently trying to get the script working on my RPI3.

I've followed the instructions but cannot get it to work.
PyCharm is the program I'm using to create a virtualenv and use it as projects interpreter.

Using Rasbpian, have latest Selenium and Geckodriver.

What happens? The script starts and then Firefox opens but then immediately closes.

The following error message occurs:

[c

[2017-11-29 14:00] sionking commented on #1001
It easy to implement based on my limit per hour / limit per day module.

[2017-11-29 14:01] sionking commented on #1006
How much a paid bot cost ?

[2017-11-29 14:03] sionking commented on #994
It is a bug... will it be fixed ? or should I read about LOGGER and fix it myself :)

[2017-11-29 15:35] rvoets commented on #877
Now I also get this error running Python 2.7.10 and chromedriver 2.33 on OS X Sierra.

[2017-11-29 15:57] Tokyysek opened #1011 "Can i run this on pythonanywhre ??"
Hello i want set up this bot on pythonanywhere it is free cloud server with two consoles free

[2017-11-29 16:06] ceribbo commented on #1007
same problem here

[2017-11-29 16:18] neomh opened #1012 "Direct Messaging feature"
## Expected Behavior
Ability to send direct messages to followed users as example
## Current Behavior

## Possible Solution (optional)
Using python-api it seems to be possible, as discussed here

https://github.com/LevPasha/Instagram-API-python/issues/181#issuecomment-347909638

## InstaPy configuration

[2017-11-29 16:33] converge commented on #1011
sounds good, tell us if you need some help

[2017-11-29 16:40] Tokyysek commented on #1011
@converge i have a problem i succesfully install it on cloud but i dont really know how to run that

[2017-11-29 16:41] converge commented on #1011
maybe it helps: https://www.youtube.com/watch?v=2Ci-hXU1IEY

[2017-11-29 16:50] timgrossmann commented on #994
@sionking Best option is always the last one :wink:

[2017-11-29 16:51] Tokyysek commented on #1011
this is diferent to this https://ctrlv.cz/wJ5i
i have acces to files

[2017-11-29 17:26] Tokyysek commented on #1011
How can i setup that

[2017-11-29 17:34] Tokyysek commented on #1011
https://ctrlv.cz/onZu
i tryed to install selenium

[2017-11-29 17:56] timgrossmann commented on #821
@converge Hmm.. I think this PR is more related to the general memory leak problem... Therefore the rather "high" bounty.

Therefore we should keep this open until there is some actual fix for the memory leak

[2017-11-29 18:02] converge commented on #821
@timgrossmann no problem, let's do it.

[2017-11-29 19:30] Tokyysek opened #1013 "problem with python setup.py"
https://ctrlv.cz/eN5g

[2017-11-29 19:39] dreamyUB commented on #1002
You want to use emojis for? Just wondering?

[2017-11-29 19:41] pedryvo opened #1014 "exit code when dealing with my followers list (?)"
## Current Behavior

`selenium    | 19:33:51.210 INFO - To upstream: {"script": "return window._sharedData.entry_data.ProfilePage[0].user.followed_by.count", "args": [], "sessionId": "ce8d5470ef8f70410d2154658bd0d917"}`
`selenium    | 19:33:51.228 INFO - To downstream: {"sessionId":"ce8d5470ef8f70410d2154658bd0d917","status":0,"value":586}`
`selenium    | 19:33:51.267 INFO - Found handler: org.ope

[2017-11-29 19:57] converge commented on #1014
hey mate, this is a known issue https://github.com/timgrossmann/InstaPy/search?q=window._sharedData.entry_data.ProfilePage%5B0%5D&type=Issues&utf8=%E2%9C%93

need to be fixed

[2017-11-29 19:58] Namaslayer commented on #1007
@ceribbo Are you trying to use onlyInstapyFollowed = False too?

[2017-11-29 20:09] pedryvo commented on #1014
thanks @converge i'll test on another machine

[2017-11-29 20:11] Tokyysek commented on #1013
@converge can you help me please

[2017-11-29 20:24] ceribbo commented on #1007
@Namaslayer yep, also using the flag false

[2017-11-29 20:50] Affenjimbo opened #1015 "What is the reason for this error?"
Hello together,
this error appears after a certain time every time I run instapy .

[3/12]
Image from: b'clemmography'
Number of Followers: 192
Link: b'https://www.instagram.com/p/BcF6otVFasF/?tagged=bleachmyfilm'
Description: b'American Idiot\n\n#portraits #portrait #portraits_ig #pixel_ig #p
ortraiture #expofilm3k #portrait_perfection #portraitstyles_gf #snowisblack #por
traits_universe #feature

[2017-11-29 21:22] drcyber975 commented on #1002
No I fixed the issue i am just tying to work out how to edit the QuickStart.py file to allow me to follow people.

Sent from Yahoo Mail for iPhone

On Wednesday, November 29, 2017, 11:39 AM, dreamyUB <notifications@github.com> wrote:

You want to use emojis for? Just wondering?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the t

[2017-11-29 21:34] converge commented on #1013
Yes, extend your issue with detailed informations.

[2017-11-29 21:36] converge commented on #1015
Hey mate, could you update your chrome driver and try again?

[2017-11-29 21:38] Tokyysek commented on #1013
Specify detailed information

[2017-11-29 23:08] rodriguesprobr commented on #1007
Same error with chromedriver and InstaPy up-to-date.

[2017-11-29 23:13] ceribbo commented on #1007
it can be simply fixed by modifying row 266 in unfollow_util.py as described in this commit: https://github.com/timgrossmann/InstaPy/pull/1009/files

[2017-11-29 23:16] rodriguesprobr commented on #1007
Great!

[2017-11-29 23:35] RomeoJuliett commented on #1013
@Tokyysek how far have you gone in the install?

[2017-11-29 23:39] RomeoJuliett commented on #1011
@Tokyysek try running the sudo command.

sudo install "whatever you want"

I run docker containers at work and they can be really weird when using certain commands. I have never run this script on Pythonanywhere though.

[2017-11-29 23:39] jeometry opened #1016 "TypeError when interacting with an accounts followers"
I am getting a TypeError when running the script for following specified accounts followers. The error is below:

I copied the code directly from the code page as follows:

[2017-11-29 23:41] RomeoJuliett commented on #1006
@sionking a lot of paid services actually use this so you're paying for what you already have. If you're truly looking for massive amounts of engagement and impressions you'll have to buy your way into a large DM group with big accounts.

[2017-11-29 23:42] RomeoJuliett commented on #1016
Can you include more of the trace before and after those lines?

[2017-11-29 23:44] RomeoJuliett commented on #993
It could be a "soft ban" based on IP @FreakyBoy  How many pictures are you trying to like at a time?

[2017-11-29 23:45] Affenjimbo commented on #1015
Thanks a lot for the quick reply!
 I think that solved the issue. InstaPy just ran for 2 hours without any errors!

[2017-11-29 23:45] #1015 closed

[2017-11-29 23:46] jeometry commented on #1016
Here is the full output from running my script:

My code is as follows:

[code]

[2017-11-30 02:50] converge commented on #1016
@jeometry could you update InstaPy, try again and paste all the error message ?

[2017-11-30 03:08] kimelbert commented on #1007
@ceribbo that worked, thanks!

[2017-11-30 03:58] Namaslayer commented on #1007
@ceribbo you're a savior. Thank you

[2017-11-30 07:02] FreakyBoy commented on #993
@RomeoJuliett I try it also on a AWS Instance (with the nogui param) and it doesn't work.

2 Server:
AWS Instanc with Ubuntu
vServer with Debian Stretch
booth with a different IP and nogui param = don't work

1 MacBook with 10.12.5 and without the nogui param = work

[2017-11-30 07:38] timgrossmann commented on #1007
#1009

[2017-11-30 07:38] #1007 closed

[2017-11-30 07:39] drcyber975 opened #1017 "executing the script error"
from instapy import InstaPy

insta_username = 'username'
insta_password = 'password'

session.follow_user_followers(['natgeo', 'kimkardashian', 'therock'], amount=10, randomize=False, sleep_delay=60)

session.end()

I finally got InstaPy to work but my script isnt working. I tried to just edit the quickstart.py and add in my own information but all the text is encrypted. So i am trying to write ou

[2017-11-30 07:58] addiman commented on #815
any news about this one?

[2017-11-30 09:21] ancuse1 opened #1018 "ERROR - set_automated_followed_pool error line contains NULL byte"
First of all congrats on the work done, it is awesome all the features InstaPy has!

## Expected Behavior
Load correctly the .csv file in logs folder and unfollow those who are not following my account
## Current Behavior
Error is thrown printing :

## Possible Solution (optional)
Looked around on Stackoverflow on this [question](https://stackoverflow.com/questions/7894856/line-contains-null-byte-

[2017-11-30 14:36] Tokyysek commented on #1013
gdi32.lib canon be opened
error: Setup script exited with error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2017\\Professional\\VC\\Tools\\MSVC\\14.10.25017\\bin\\HostX86\\x64\\link.exe' failed with exit status 1181

[2017-11-30 15:23] jeometry commented on #1016
Hello All,

I have updated the file and now I no longer get the error. Thank you all for your help!

[2017-11-30 15:23] #1016 closed

[2017-11-30 15:31] sionking commented on #994
The correct use of logger is to initialize it once as global, so it can be used over all instances, it is a good way to go when we will move to threaded.

[2017-11-30 17:45] tonoli commented on #815
Indeed it's an issue I have all the time, it seems that when loading the followers it doesn't scroll enough I tried setting a random time sleep before scrolling but it didn't fix the bug. If someone has a clever idea to fix this I'm interested too!

[2017-11-30 20:50] bryant22 commented on #1006
@RomeoJuliett It is definitely possible to generate large amounts just by using a bot. However, only if used the right way;)

So has anyone an idea how to implement this?

[2017-11-30 21:11] RomeoJuliett commented on #1006
@bryant22 you'll have to show me then

[2017-11-30 21:51] sionking commented on #994
need to add 2 lines:
[code]

If we already have handler than clear it before adding new one.

[2017-12-01 07:19] rvoets commented on #877
@converge I did some more testing and found out that the exception didn't occur when I left the screen of my macbook on all night. Normally the display automatically turns off after 10 minutes but this time I changed the settings using the Energy Saver app and the script is still running flawlessly after 20+ hours.

Sounds a bit weird so I will look into this more thoroughly but for once my script

[2017-12-01 07:39] timgrossmann commented on #877
@rvoets You could try to use the relatively new headless feature which does not rely on the screen web browser open all the time #1020

[2017-12-01 08:08] TR0X opened #1022 "Syntax verification"
Hi Tim!

I've another feature request:
An option to verify the syntax would be very nice.

Following the idea of S. Sinek:
Why?
Because it prevents syntax errors, especially when InstaPy runs via cron job where a syntax error is a pain in the a**.

How?
As an argument for the instap.py or as a stand alone script...?

What?
As already said, to prevent syntax errors and lost likes/followers

Thanks!

[2017-12-01 09:50] arjunmurali1993 opened #1023 "Feature - Don't follow previously Unfollowed Users"
One feature I had wanted from Instapy was to make it not follow someone again that's been previously unfollowed through Instapy.

I decided to code it during my free time and I think it is now ready.

I'm not sure how I should share it with others here so that it can be tested on other systems and OSs as well. (I'm quite new to programming and not that familiar with git/github). Could someone plea

[2017-12-01 09:51] arjunmurali1993 commented on #1023
I have done all the coding and commits in a separate local git branch

[2017-12-01 10:08] converge commented on #1017
hey @drcyber975, did you solve it?

[2017-12-01 10:29] #1002 closed

[2017-12-01 10:30] converge commented on #990
@Naramsim are you running several accounts or is it a single account ?

[2017-12-01 10:33] converge commented on #974
#998 (fixed)

[2017-12-01 10:33] #974 closed

[2017-12-01 10:34] converge commented on #920
I think it's fixed, could you confirm @sionking ?

[2017-12-01 10:35] converge commented on #916
@itsedomil please, reopen it if you still need some help.

[2017-12-01 10:35] #916 closed

[2017-12-01 10:35] converge commented on #894
@jksyrek please, reopen it if you still need some help.

[2017-12-01 10:35] #894 closed

[2017-12-01 10:37] converge commented on #883
@Niels1990 please, reopen it if you still need some help.

[2017-12-01 10:37] #883 closed

[2017-12-01 10:37] converge commented on #848
@1saeedsalehi please, reopen it if you still need some help.

[2017-12-01 10:37] #848 closed

[2017-12-01 10:42] converge commented on #732
@LoneWolfsMoon did you followed this steps ?

There another video tutorial about it, I'm using Debian on the video: https://www.youtube.com/watch?v=2Ci-hXU1IEY

[2017-12-01 10:43] #707 closed

[2017-12-01 10:44] converge commented on #700
#991 fixed it, if you have this problem again, please reopen it.

[2017-12-01 10:44] #700 closed

[2017-12-01 10:44] Naramsim commented on #990
Hi @converge, one single account, but the issue seems gone, closing, thanks

[2017-12-01 10:44] #990 closed

[2017-12-01 10:47] converge commented on #638
[code]

[2017-12-01 10:47] #638 closed

[2017-12-01 12:46] sionking commented on #1023
Isn't already implemented as a Json file ?

[2017-12-01 13:31] arjunmurali1993 commented on #1023
I'm not sure, but I think the Json feature is to Unfollow only those who aren't following us back.

The feature I'm talking about is to not follow someone whom we've previously unfollowed in some previous session. This is so that people don't keep getting notifications that we've followed them again and again

[2017-12-01 13:31] arjunmurali1993 commented on #1023
@converge can confirm about the Json file

[2017-12-01 13:35] rvoets commented on #877
@timgrossmann Thanks, I will give that a try.

[2017-12-01 13:36] converge commented on #1023
hey @arjunmurali1993 , you can use blacklist feature for that, check it out:
https://github.com/timgrossmann/InstaPy#blacklist-campaign

[2017-12-01 13:54] RafaelLee opened #1024 "ImportError: No module named clarifai.rest"
In my first run on DigitalOcean I run python quickstart.py

And get this error: ImportError: No module named clarifai.rest

I try run pip install clarifai
try clarifai.rest too
and without sucess, someone knows how to solve that?

I follow all the tutorial of instapy, and just edit the essencial things in the quickstart.py

Some help, please

[2017-12-01 14:02] arjunmurali1993 commented on #1023
Hi @converge, from what I understand, the blacklist campaign can be used for liking and commenting which might happen several times with the same person under different campaigns.

However, unfollowing doesn't have this kind of repetitiveness to it. Like I wouldn't want to keep following, unfollowing, following and unfollowing the same person again and again, irrespective of campaigns.

So the fea

[2017-12-01 14:17] converge commented on #1024
Hey @RafaelLee , I made a video tutorial teaching step by step how to setup InstaPy on Digital Ocean, take a look: https://www.youtube.com/watch?v=2Ci-hXU1IEY

[2017-12-01 14:26] RafaelLee commented on #1024
Hey @converge, thanks for your video, actually I in that step thanks for you.

Im following your tutorial. But I get stuck here.

In the red error you say in the video 'dont consurn about that'... is there my problem. And I cant continue.

If you can help me with another solution.

Thanks anyway.

[2017-12-01 14:36] converge commented on #1024
sorry, english is not my first language.

what's the error message ?

[2017-12-01 14:50] converge commented on #1023
@arjunmurali1993 , youre right. I trough I made blacklist respect followings as well. The easier way is to implement it at blacklist feature.

[2017-12-01 15:04] ceribbo commented on #994
@sionking that solution isn't working for me:
`'Logger' object has no attribute 'hasHandlers'`

[2017-12-01 15:49] arjunmurali1993 commented on #1023
Sure @converge. Let me know if I can help in any way :)

[2017-12-01 16:52] RafaelLee commented on #1024
Não é a minha primeira língua também amigo @converge .

Eu estou conectado no console da DigitalOcean, por isso ainda não consegui copiar o texto, não manjo como faz igual você faz, de mandar a parada pelo console da sua máquina física, acho que é por SSH.

Enfim, o que tá pegando, eu vou deixar os prints aqui:
![image](https://user-images.githubusercontent.com/681629/33493467-3af32482-d6a7-11e7-9

[2017-12-01 17:06] converge commented on #1024
@RafaelLee estava cansado de pensar em inglês ! haha , easy fix:
```sudo apt-get install python-dev```
or if your python --version says 3.x:
```sudo apt-get install python3-dev```

[2017-12-01 17:45] uni1783 opened #1025 "Crash on trying to follow a user with a long username"
When running the script with the GUI (Chrome), the follow button/link is not visible if the username is 30 characters or longer. The follow button appears when the window is resized (smaller)

## Expected Behavior
Script clicks on the visible follow button

## Current Behavior
Crash:
[code]
## Possible Solution (optional)

Run the GUI in a smaller/narrow resolution ?

## InstaPy configuration
sess

[2017-12-01 17:49] converge commented on #1025
hey @uni1783 , when was last time you updated InstaPy ?

To catch this error I do need a 30 characters longer username and reduze the chrome windows size to which size ?

[2017-12-01 17:50] #1024 closed

[2017-12-01 17:57] uni1783 commented on #1025
I updated it yesterday I think, or the day before

Resize the browser to 850px width should do it and the user it crashed on was https://www.instagram.com/p/BZ4Dhc4g0Z7/ (the rest of the images might not be safe for work)

[2017-12-01 18:06] RafaelLee commented on #1024
Thanks @converge, thats really help me.

Lets go, continue the process.

[2017-12-01 19:25] nocomp opened #1026 "[QUESTION] Is it possible to unfollow people who dont follow you?"
hi,
well the title says it all, couldn t find the answer in the rtfm,  maybe it s not possible?
thxx for your time
best regards

[2017-12-01 19:46] omidedipidizi commented on #1018
i got this issue on raspberry pi too !!!

[2017-12-01 20:31] uni1783 commented on #1026
[code]

[2017-12-01 23:31] converge commented on #1018
https://github.com/timgrossmann/InstaPy/search?utf8=%E2%9C%93&q=%22set_automated_followed_pool+error%22&type=Issues

[2017-12-01 23:32] converge commented on #1026
closing issue, please reopen it if you need some help on it.

[2017-12-01 23:32] #1026 closed

[2017-12-01 23:50] HONGAA opened #1027 "Element is not clickable at point (188, 530)"
Recently started getting this error. Instapy, selenium and chromedriver are up to date.

[code]

[2017-12-02 00:04] converge commented on #1027
hey mate, youre chrome driver is outdated, could you update it and try again ? also update InstaPy to latest version.

[2017-12-02 00:12] HONGAA commented on #1027
thanks - I'm trying to download the newest version of chromedriver from https://chromedriver.storage.googleapis.com but when i run the exe file, it says "only local connections are allowed." Is there another way to update chromedriver?

[2017-12-02 00:13] converge commented on #1027
check it out: https://sites.google.com/a/chromium.org/chromedriver/downloads

[2017-12-02 00:15] HONGAA commented on #1027
Yep- I'm trying to download the latest chromedriver from here but I get this:

[code]

Sorry.. do you know how to get around this?

[2017-12-02 00:18] converge commented on #1027
this is a warning, everything is fine. Got it to work ?

[2017-12-02 00:23] HONGAA commented on #1027
No, unfortunately not yet..

[2017-12-02 00:25] converge commented on #1027
Do you have slack ? check out slack channel at REAME, I can help you.

[2017-12-02 00:44] ssthormess commented on #993
I migrated my server to another DigitalOcean region because this was happening and it's still happening so it's clearly not a ban. I have even liked photos from the new IP address using VPN.

[2017-12-02 00:47] #1027 closed

[2017-12-02 02:17] mehdi691 opened #1028 "Selenium Chrome Driver Trouble"
Hi,

My script use to work nicely and now I have a trouble which came from nowhere...
## Expected Behavior

## Current Behavior

Traceback (most recent call last):
  File "quickstart.py", line 8, in <module>
    session = InstaPy(username=insta_username, password=insta_password)
  File "/Users/Mehdi/Desktop/InstaPy/instapy/instapy.py", line 128, in __init__
    self.set_selenium_local_session()

[2017-12-02 02:44] ssthormess commented on #850
This would be great: with this we could work on a Web GUI to handle our accounts, the schedule and action variables (campaigns?) for these accounts, operation logs, account statistics, etc. Anyone else interested?

[2017-12-02 06:05] MerGez opened #1029 "OnlyNotFollowMe not doing anything"
## Expected Behavior
This simple script does absolutly nothing. I can't find the reason why and couldn't find anyone here that had the same problem. I don't know if it's working for everybody else, but The more people I follow, the less i'm able to unfollow afterwards.

## Current Behavior
INFO - Session started - 2017-12-01 23:01:53
CRITICAL - Sorry, Record Activity is not working on Windows. We'

[2017-12-02 07:16] MerGez commented on #1003
Same here! Sleep delay randomly stopped working and my whole unfollow util is just not acting normally. The unfollows happen almost instantly, when the util actually works.

[2017-12-02 11:00] bryant22 commented on #1006
I just posted a bounty for this!

https://www.bountysource.com/issues/52103366-feature-request-exclude-private-users-or-only-private-users

[2017-12-02 12:31] sionking commented on #1029
I tried to look for a Y. but it seems that you don't capture all of your follower/following since rate is too high and instagram blocks you.
Try add this:
unfollow_util.py
line 175 add a sleep after the while:
while has_next_data:
    **sleep(10)**

You need to add the sleep after the while

[2017-12-02 15:53] MerGez commented on #1029
Thanks for the reply, Still experiencing exactly the same results though. Should I just delete some of the followers from the list?

[2017-12-02 17:01] RafaelLee opened #1030 "In log say Liked but not like in real"
Im monitoring in the general log, and we have that:
![image](https://user-images.githubusercontent.com/681629/33517775-492f460a-d771-11e7-9407-1b6fa7657237.png)

But, in real what happends: nothing
![image](https://user-images.githubusercontent.com/681629/33517781-6600f65c-d771-11e7-932c-52f64671c142.png)

And that is my quickstart file:
![image](https://user-images.githubusercontent.com/681629/33

[2017-12-02 18:23] RafaelLee commented on #993
Some problem here :/

[2017-12-02 18:41] converge commented on #1029
It's sad when people don't recognize the work done by some many people, has 0 contributions and says "This simple script does absolutly nothing".

But, I always prefer to share the love, here is the bug fix #1031

[2017-12-02 19:03] MerGez commented on #1029
I;m sorry, maybe i didn't express myself correctly, I'm not familiar at all with git and would love to contribute, I actually thought that this would be a common bug. I meant no dissrespect and absolutly love your work. If I can contribute in any way, please tell me how.

[2017-12-02 19:38] #1029 closed

[2017-12-02 20:33] converge commented on #1025
tried to reproduce the error without success.

[2017-12-02 20:54] #1017 closed

[2017-12-02 20:56] converge commented on #626
It's no possible at the moment.

[2017-12-02 20:56] #626 closed

[2017-12-02 20:57] converge commented on #551
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 20:57] #551 closed

[2017-12-02 20:57] converge commented on #459
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 20:57] #459 closed

[2017-12-02 20:58] converge commented on #486
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 20:58] #486 closed

[2017-12-02 20:58] converge commented on #496
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 20:58] #496 closed

[2017-12-02 20:59] converge commented on #524
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 20:59] #524 closed

[2017-12-02 20:59] converge commented on #554
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 20:59] #554 closed

[2017-12-02 21:00] converge commented on #565
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:00] #565 closed

[2017-12-02 21:00] converge commented on #566
The bug is fixed. Please reopen it if you still need some help.

[2017-12-02 21:00] #566 closed

[2017-12-02 21:00] converge commented on #570
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:00] #570 closed

[2017-12-02 21:01] converge commented on #583
fixed

[2017-12-02 21:01] #583 closed

[2017-12-02 21:01] converge commented on #605
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:01] #605 closed

[2017-12-02 21:02] converge commented on #617
It's fixed. If you still need some help, please reopen it.

[2017-12-02 21:02] converge commented on #629
It's fixed. Please reopen it if you still need some help.

[2017-12-02 21:02] #629 closed

[2017-12-02 21:03] converge commented on #632
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:03] #632 closed

[2017-12-02 21:03] converge commented on #691
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:03] #691 closed

[2017-12-02 21:03] converge commented on #675
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:03] #675 closed

[2017-12-02 21:03] ugurozturk commented on #1030
@RafaelLee You are right. Mine is also didn't liked. And i checked from the instagram history, im realized, my bot did like 1 day ago. Tried manuel like and yeah i can do it without problem. So the bot fails.

[2017-12-02 21:03] converge commented on #676
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:03] #676 closed

[2017-12-02 21:04] converge commented on #730
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:04] #730 closed

[2017-12-02 21:05] converge commented on #736
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:05] #736 closed

[2017-12-02 21:05] converge commented on #737
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:05] #737 closed

[2017-12-02 21:06] converge commented on #673
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:06] #673 closed

[2017-12-02 21:07] converge commented on #746
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:07] #746 closed

[2017-12-02 21:07] converge commented on #692
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:07] #692 closed

[2017-12-02 21:07] converge commented on #849
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:07] #849 closed

[2017-12-02 21:08] converge commented on #836
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:08] #836 closed

[2017-12-02 21:08] #816 closed

[2017-12-02 21:08] converge commented on #792
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:08] #792 closed

[2017-12-02 21:09] converge commented on #790
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:09] #790 closed

[2017-12-02 21:09] converge commented on #840
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:09] #840 closed

[2017-12-02 21:09] converge commented on #847
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:09] #847 closed

[2017-12-02 21:10] converge commented on #758
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:10] #758 closed

[2017-12-02 21:11] converge commented on #644
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:11] #644 closed

[2017-12-02 21:11] #396 closed

[2017-12-02 21:11] converge commented on #452
It's fixed.

[2017-12-02 21:11] #452 closed

[2017-12-02 21:12] converge commented on #494
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:12] converge commented on #562
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:12] #562 closed

[2017-12-02 21:12] converge commented on #806
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:13] #807 closed

[2017-12-02 21:14] converge commented on #631
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:14] #631 closed

[2017-12-02 21:14] converge commented on #520
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:14] #520 closed

[2017-12-02 21:14] converge commented on #512
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:14] #512 closed

[2017-12-02 21:15] converge commented on #615
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:15] #615 closed

[2017-12-02 21:15] #957 closed

[2017-12-02 21:15] converge commented on #943
There is no interaction for a long time, please reopen it if you still need some help.

[2017-12-02 21:15] #943 closed

[2017-12-02 21:22] sionking commented on #1023
You can provide the code here I will test it

[2017-12-02 21:35] ugurozturk commented on #1030
@converge blacklist has something wrong on likes

[2017-12-02 23:10] SimiCode commented on #1028
Hello, In the issue title, you say "Selenium Chrome Driver Trouble" definitely talking about chrome but in your trouble-shooting steps you are actually trouble shooting Firefox; "I dowloaded geckodriver (Firefox)". Those are two different browsers please.

I suspect your issue is one that results from auto-updates. Selenium behaviour is sometimes messy for latest browser updates.

Suggested Soluti

[2017-12-03 08:41] sionking opened #1032 "Feature: Capture all user followers into a list and save as file."
## Expected Behavior
Capture once, save all users to a list, move over the list next time you trigger the liking.
Possible to do it as a worker thread, adding to the file list all the time, and a main thread reading this list.
lock the file to prevent async.

## Current Behavior
Capturing the First followers only, when finishing the like amount, we delete the capture.

## Possible Solution (option

[2017-12-03 08:43] pryetranka commented on #1010
I have the same problem. Try running the script like 10 times in the row, it usually starts working eventually.

However, a proper solution is indeed needed.

[2017-12-03 08:51] arjunmurali1993 commented on #951
Experiencing the same issue several times on Windows. Haven't experienced this on Ubuntu though

[2017-12-03 11:52] eternaldigger commented on #815
Hi everyone!
The same problem. I also noticed that  it practically does not depend on the quantity of followers user has.
When problem appears it does not disappear anywhere until session end.

[2017-12-03 12:03] eternaldigger commented on #815
And one more. This problem appears only if I use "Interact..." option and does not appear when I use "session.follow_..." options.  Probably it is connected with the message:  "CRITICAL - Sorry, Record Activity is not working on Windows. We're working to fix this soon!", which appears in the beginning of session.

[2017-12-03 16:05] ugurozturk commented on #1030
New detail : it does adds well blacklist. Checked the usedname and activity in blacklist. There is no liked/followed to this user before

[2017-12-03 16:08] RafaelLee commented on #1030
I think that dont affect me, because I dont use blacklist.

[2017-12-03 17:18] ugurozturk commented on #1030
@RafaelLee and your quickstart file is not visible

[2017-12-03 19:05] RafaelLee commented on #1030
Im sorry @ugurozturk, I edit now the post...

I try with locations and without, with comment and without, coments with a percentage of 10, 50 and 100.

Likes by hashtags dont work :/

[2017-12-03 19:56] ugurozturk commented on #1030
@RafaelLee asking for beeing clear, is your code doesn't like all the time?

[2017-12-03 20:36] RafaelLee commented on #1030
![image](https://user-images.githubusercontent.com/681629/33529496-d5e4a6ac-d858-11e7-9325-14e464d2aa0f.png)
![image](https://user-images.githubusercontent.com/681629/33529500-e4f376fa-d858-11e7-8cff-3bb04dadb16c.png)

[2017-12-04 00:14] bjo3rns commented on #1010
run:
sudo xvfb-run python3.5 yourconfig.py

[2017-12-04 03:21] rvoets commented on #877
@timgrossmann Unfortunately the new headless feature doesn't work for me. After about 10 likes the script crashes with the "Element not visible" exception.

`File "/Users/roland/workspace/test/InstaPy/instapy/instapy.py", line 717, in like_by_tags
    self.logger)
  File "/Users/roland/workspace/test/InstaPy/instapy/unfollow_util.py", line 349, in follow_user
    follow_button.click()
  File "/Lib

[2017-12-04 03:35] the-mcnaveen opened #1035 "clarifai API Key Returns error !!"
Whenever I'm using Clarifai API. It returns an Error.

I can't find any proper guide for Using this.

Here is the Error : https://imgur.com/a/fxs3c

Here is my Configuration : https://imgur.com/a/fcvK0

[2017-12-04 03:47] chrismaltais commented on #877
hey @rvoets, can you add the following line to the `unfollow_util.py` file, in line 344:
[code]

This will take a screenshot at the point of error when executing the script and save as file `screen-at-error.png` in the instapy folder. If you could post the screenshot here it may help us debug the Headless feature! Thanks :)

[2017-12-04 03:50] rvoets commented on #877
@chrismaltais Sure, will do!

[2017-12-04 04:00] timgrossmann commented on #1035
@the-mcnaveen You can't put the `export` statement into the quickstart.py file.
You have to execute that from the command line.

Simply put it as a parameter in the `set_use_clarifai` method instead of using the export method

[2017-12-04 04:34] drcyber975 opened #1036 "unexpected error when executing script"
All i am trying to do is execute the script so it follows and likes the amount specified in an hour but the script doesnt work when i execute it and the code looks correct. I used the same commands in the example and just swapped the information. This is what i used;

[code]

this was the error message the received.

lubuntu@lubuntu:~/InstaPy$ python script.py
Traceback (most recent call last):

[2017-12-04 04:41] timgrossmann commented on #1036
@drcyber975 Please read the documentation...

the quickstart file gives you a start out of that exact reason... You're missing the constructor:

[code]

[2017-12-04 04:41] #1036 closed

[2017-12-04 09:37] ancuse1 commented on #1018
Hi, I checked all other related issues, but I think they do not apply to this case. I have pulled the latest version just couple days before opening this issue, the error does not complain about any selector not being found nor an index being out of range so I thought it is something else.

I've also checked my csv file and has all the people I followed during last couple weeks using InstaPy. I'll

[2017-12-04 09:41] the-mcnaveen commented on #1035
Can you Post some Example Code? Can't get it !! Completly new to Python.

Thanks :)

[2017-12-04 09:41] theolux commented on #933
I just started receiving the 'wrong login data' error on all my accounts suddenly, even though I changed absolutely nothing with them. They are running on a Scaleway Ubuntu server.
I tried duplicating Line45 and it didn't help, I tried changing the IP and then reactivating one of them and it didn't help either.
What could it be?

[2017-12-04 10:04] danniefraim opened #1037 "If follow request has been sent to private account, unfollow behaviour is incorrect"
If InstaPy has sent a follow request to a private account, and then tries to unfollow that account while the request is still pending, the user will simply be deleted from the follow pool, which means that if the follow request is approved later, that user will never be automatically unfollowed by InstaPy if `onlyInstapyFollowed`is true.

## Expected Behavior

Pending follow request should be hand

[2017-12-04 10:09] danniefraim commented on #1037
I have noticed that the number of people I follow on Instagram continually grows, despite not doing any manual following since starting to use InstaPy and unfollowing as many as I'm following with InstaPy and trying to keep the InstaPy follow pool at around 400-500 people. It might be because of this issue, or it might have other causes (in which case I will post another issue if and when I discov

[2017-12-04 10:32] Naramsim commented on #933
One thing you can do is take a screenshot with selenium right when instapy prints ('cant login')

[2017-12-04 10:34] drcyber975 opened #1038 "quickstart.py not executing"
I have the same problem as before even after taking your advice of using the quickstart.py as a template. this is my script:
[code]
2
this is the error message i receive from using the command "python quickstart.py"

[code]

sorry to be a pain i really want this to work and cant understand what i am doing wrong i am following the codes so precisely.

[2017-12-04 10:35] theolux commented on #933
Hmm how do I do that?

[2017-12-04 10:35] Naramsim commented on #1035
@the-mcnaveen please do not use the double exclamation points since you are also new to Python.

When you are in your shell give these commands

[code]

[2017-12-04 10:38] Naramsim commented on #1038
Please, remove the comments above, they render in Markdown.

Give us more information, if you use the template quickstart, why don't you use the issue template?

[2017-12-04 10:42] Naramsim commented on #933
Google has the answer

after this line

https://github.com/timgrossmann/InstaPy/blob/db6b7cc4670884cb8b000cabad336b26dc865ebb/instapy/login_util.py#L52

put a `browser.save_screenshot('screenie.png')`

[2017-12-04 10:44] drcyber975 commented on #1038
okay so the comments you used above the code such as #do the actual liking. i should remove the comments from the code?

[2017-12-04 10:45] drcyber975 commented on #1038
just now i used the exact same template as quickstart.py all i added was my username and password and it wasnt working :/

[2017-12-04 10:57] converge commented on #933
Hey guys, I'm not able to reproduce the issue. I'm at our Slack workspace, if you give me remote access I can try to fix it.

[2017-12-04 11:42] sionking commented on #1037
Good catch!
I am getting the same increase in followers despite pool is empty.
It might be the reason.
BTW, is it configurable to follow private account or is it like this by defualt?

[2017-12-04 11:56] danniefraim commented on #1037
@sionking It's not configurable, but there's a feature request for it (with a bounty!) here: https://github.com/timgrossmann/InstaPy/issues/1006

[2017-12-04 12:14] sionking commented on #1037
So how can you say "InstaPy has sent a follow request to a private account" if this feature not yet implemented ?

[2017-12-04 12:34] converge commented on #1038
@drcyber975 , what's your chrome version (not chrome driver) ?

[2017-12-04 14:57] danniefraim commented on #1037
@sionking I misunderstood your question. I thought you asked if there's a configuration option that lets you choose whether to follow private accounts or not. There's no such option. InstaPy will follow private and public accounts alike, without making any difference between them.

[2017-12-04 15:38] sionking commented on #980
I will give a bounty on it !

[2017-12-04 16:36] theolux commented on #933
OK the screenshot says 'the username you entered doesn't belong to an account'...
I tried both username and email and I still get this error... WTF?

[2017-12-04 17:07] fiferrari opened #1040 "A few doubts after reading and googling a lot"
Hello everyone,

I started with instapy about 3 days ago and have finally something running. Sorry if my doubts are too basic but I'd really appreciate if someone took a couple of minutes to guide me in the right directions. What I can't understand so far is:

- How do I change the order of the activities? In my current quickstart I have comments coming first, then interaction with someone else's

[2017-12-04 17:32] gerdmueller2 opened #1041 "unfollow_user does not remove all users (but no error-message)"
hi guys,

the command:
_session.unfollow_users(amount=100, onlyInstapyFollowed = True, onlyInstapyMethod = 'FIFO', sleep_delay=60 )_

does not remove all users from the pool.

does this relates to [#1037](https://github.com/timgrossmann/InstaPy/issues/1037)?

## Expected Behavior
should unfollow all 100 users

## Current Behavior
INFO - --> Ongoing Unfollow From InstaPy 2, now unfollowing: ******

[2017-12-04 18:10] timgrossmann commented on #1040
@fiferrari Sure, no worries.

- The way InstaPy works right now is, that you define the behavior by first setting the way it should interact. This is done with al the `.set_....` methods. These methods won't do anything in terms of interacting on Instagram, their purpose is to tell InstaPy what you want to do. E.g. comment with a specific percentage and with specified comments. This means that you

[2017-12-04 18:13] timgrossmann commented on #1035
@the-mcnaveen I'd recommend just doing this:

[code]

[2017-12-04 18:48] wizarduk opened #1042 "not starting anymore"
is there a issue as all my accounts have stopped working

/root/InstaPy && python3.4

when i try to run it just goes blank now ?

[2017-12-04 18:51] sionking commented on #1041
Look at my post:
https://github.com/timgrossmann/InstaPy/issues/992

at the IMPORTANT :
*** Something improtant ***
Related to the file "userX_followedPool.csv", it contain many usernames without ',' at the end of the line before the \n.
Maybe an old syntax leftovers? it results in not removing the username from list after unfollowing it !!!!

[2017-12-04 19:06] gerdmueller2 commented on #1041
thanks @sionking, but your solution fixes the following case:
"it removes the username from list (CSV) after unfollowing it"

--> BUT my case is different: the user are correctly deleted from the CSV but not unfollowed in my account

[2017-12-04 19:13] wizarduk commented on #1042
This is the error

File "/root/InstaPy/instapy/instapy.py", line 186, in login
    self.switch_language):
  File "/root/InstaPy/instapy/login_util.py", line 18, in login_user
    "//footer[@class='_s5vm9']/div[@class='_g7lf5 _9z659']/nav["
  File "/usr/local/lib/python3.4/dist-packages/selenium/webdriver/remote/webdriver.py", line 293, in find_element_by_xpath
    return self.find_element(by=By.XP

[2017-12-04 20:41] imvieira opened #1043 "Can we unfollow who didn't view videos?"

[2017-12-04 21:28] sionking opened #1044 "Feature: Filter by Location/Gender/Age/Buisness"
I saw many websites that have this users data, how do they do it? R they connect to the user related Facebook?
I want to help with this targeting the users, but I am not sure how to grab this info.

SC.

[2017-12-04 21:44] gerdmueller2 opened #1045 "don't comment on the same pic twice"
Because of this bug [InstaPy log Like Photo => No Like at Instagram](https://github.com/timgrossmann/InstaPy/issues/993) instaPy comment in the next running session sometimes on the same pictures.

can someone implement a check, if user already commented on the pic (and dont allow a second comment...) ?
thanks

[2017-12-04 21:53] gerdmueller2 commented on #1030
In the Readme is this hint - maybe you can try this!
Put `like_by_location` under the comments...

Essentially, all the `set_`* methods have to be before `like_by_tags` or `like_by_locations` or unfollow. This is also implicit in all the exmples and quickstart.py

[2017-12-04 22:07] timgrossmann commented on #1045
@gerdmueller2 Feel free to post a nice big bounty on this issue: https://www.bountysource.com/issues/51974209-instapy-like-photo-no-like-at-instagram

I'm pretty sure there will be someone who'd love to resolve this issue then.

[2017-12-04 22:07] timgrossmann commented on #1043
@0x69676f72 Could you please specify this a little bit more?

Do you mean unfollow everyone who did not watch your latest video post?

[2017-12-04 23:47] leorobles opened #1046 "Solution for login"
Change URL and comment change  Check if the first div is 'Create an Account' or 'Log In'
## Possible Solution (optional)
"""Module only used for the login part of the script"""
from .time_util import sleep
from selenium.webdriver.common.action_chains import ActionChains
from .util import update_activity

def login_user(browser, username, password, switch_language=True):
    """Logins the user with

[2017-12-05 01:48] tgs266 commented on #996
Just as an update, I watched the gui go into an account that fails to load followers. What looks like the problem is that the list of followers takes a while to update, and for the account I was testing with, never actually showed up at all. I'm assuming that this error shows up because the action of loading the followers times out, and it gives up, and moves on.

[2017-12-05 06:08] sionking commented on #1041
If you have a corrupted CSV which not contain all followed users by instaPy, than the only solution for you is to read the json file, which contain all ever followed users, and check each user to unfollow.

Another thing I do with my clients is to save all current followers/following before starting the automation, it is a good starting point for recovery, I will do a PR for this feature soon.

[2017-12-05 08:23] theolux commented on #933
Any idea what could cause this and how this could be fixed?
This is how I'm logging into my accounts:
session = InstaPy(username='USERNAME', password='PASSWORD', nogui=True)
This has worked perfectly up to a few days ago...

[2017-12-05 12:29] tamminh commented on #871
Try to kill the dangling chrominum processes!

[2017-12-05 14:05] sionking opened #1048 "Feature: Capture targeted users by "Worker Instagram account"."
Let me know if this feature will be good idea.
**Worker Instagram account**

What will it do? Will work for promoted account, instead of each account to do suspicious activity, there will be one account that will do it for all others.

How? by using different computer(ip) and a new Instagram account, this worker, will work for all promoted accounts:
1. For each promoted accounts we will have a lis

[2017-12-05 14:16] fiferrari commented on #1040
@timgrossmann Hi Tim! thanks for replying and congrats on all the work, kind of feeling starstruck right now hehe. I will try to work with my setup later and see how it works. Another question: If the setup is defined by the .set methods. What happens if all the actions are completed? does the script repeats itself automatically?

Thanks again

[2017-12-05 18:54] wizarduk commented on #1042
any idea anyone ?

[2017-12-05 19:02] theolux commented on #1046
How can I try this fix exactly? I'm not very familiar with the code yet. Should I replace it with some lines in login_util or...?

[2017-12-05 20:17] fiferrari commented on #1040
Thanks guys...where can I find details of what the codes mean? I'd really like to understand them but I can't seem to find an explanation for dummies...I'm not a programmer so it's been difficult. For example, the false and true words. Let's take "session.set_do_follow" as an example. It's used with both false and true in front of it depending on what you try to accomplish.

Also, if I use a comma

[2017-12-05 23:39] converge commented on #1040
@fiferrari we have it documented here with detailed informations, check it out:
https://github.com/timgrossmann/InstaPy

[2017-12-06 02:19] squigglesMcW commented on #1023
Arjun, I am very interested in this feature. Could you provide the code or indicate where the changes are made? Would love to incorporate it into my modded version of InstaPy.

[2017-12-06 02:46] 0x69676f72 commented on #784
changed my user, didn't work. changed password, didn't work. login over facebook works.

[2017-12-06 02:49] 0x69676f72 commented on #784
changed insta's mail equal to facebook, didn't work

[2017-12-06 02:49] 0x69676f72 commented on #784
it looks to be a protection from insta

[2017-12-06 02:49] 0x69676f72 commented on #784
would resolve if Instapy allows login over facebook

[2017-12-06 03:11] sky660099 opened #1049 "How can I set up proxy in Instapy"
I`m from China, so you know, we have to visit instagram through proxy.

I`ve tried to install switchomega to set up proxy everytime the chrome window shows up. However, when I restart the quickstart, the switchomega disappears and so do the setting of proxy.

So, is there any solution to set proxy in instapy properly?

[2017-12-06 03:38] akyzer commented on #730
Hi,

I changed in "instapy > unfollow_util.py"
the line :

# find dialog box dialog =
 browser.find_element_by_xpath("//div[text()='Following']/following-sibling::div")

By

# find dialog box dialog = browser.find_element_by_xpath('/html/body/div[4]/div/div/div[2]/div/div[2]')

But i still have :

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element

[2017-12-06 03:47] akyzer commented on #730
My bad, i didnt change the line ~110 in "instapy > unfollow_util.py" to:

I did it after relecture, but still not working and said :

`SyntaxError: invalid syntax`

Sorry i'm not a dev boy :o
Thanks for all ya work

Regards

[2017-12-06 04:45] sudo-judo opened #1050 "Can I use InstaPy running on termux!"
## Expected Behavior

## Current Behavior

## Possible Solution (optional)

## InstaPy configuration

[2017-12-06 05:00] timgrossmann commented on #1049
@sky660099 Try adding

[code]

to the instapy constructor in https://github.com/timgrossmann/InstaPy/blob/db6b7cc4670884cb8b000cabad336b26dc865ebb/instapy/instapy.py#L154-L160

[2017-12-06 05:11] sky660099 commented on #1049
@timgrossmann That works, thank you!

[2017-12-06 05:21] sudo-judo commented on #1050
@timgrossmann can you tell me step by step to run InstaPY on termux? Do i need to install chromedriver or leave it on my default web browser which is miui browser

[2017-12-06 06:42] timgrossmann commented on #1050
@sudo-judo I am sorry but I have no experience with this platform... Maybe there is someone else that can help you 😉

[2017-12-06 06:47] #1049 closed

[2017-12-06 06:47] timgrossmann commented on #1049
@sky660099 Awesome! Enjoy

[2017-12-06 07:31] NewyorkDev commented on #1030
I had this happen to me,  found our that it was that Instagram blocked liking on my account - it happended twice to two accounts. One was only after about 250 likes.  Different IP'S different everything.

[2017-12-06 10:24] sudo-judo commented on #1050
@timgrossmann ok thanks for the answer, how about if  i just run the tool without selenium installed? I had selenium installed on my termux but show me some error with chromedriver.
Thanks in advance

[2017-12-06 12:36] ancuse1 commented on #1018
Started a new .csv and now the problem is gone!

[2017-12-06 12:36] #1018 closed

[2017-12-06 12:46] PaulPoul opened #1051 "Instagram disconnect my account after the bot have scroll the first hashtag."
Hi,
I use InstaPy from France for weeks and thanks @timgrossmann by the way!
Today, i have an unexpected error:
my script is running, connecting myself and go scrolling the first hashtag page, going to an account then a photo, and it seems that something disconnect my account before any interaction (like & follow).
On my console it's written:

"--> Warning: Comment Button Not Found: May cause issu

[2017-12-06 14:47] Naramsim commented on #1051
Maybe because it is ran on a server distant to you

[2017-12-06 17:49] hestuppfodarn commented on #1042
You have the lastest chromdriver?

[2017-12-06 17:52] wizarduk commented on #1042
This is working on another VPS so im clueless to the issue with the same drivers

[2017-12-06 20:35] wizarduk commented on #1042
INFO - Session started - 2017-12-06 15:28:12
Traceback (most recent call last):
  File "quickstart.py", line 9, in <module>
    session.login()
  File "/root/InstaPy/instapy/instapy.py", line 219, in login
    self.switch_language):
  File "/root/InstaPy/instapy/login_util.py", line 9, in login_user
    browser.get('https://www.instagram.com')
  File "/usr/local/lib/python3.4/dist-packages/seleniu

[2017-12-06 20:36] wizarduk commented on #1042
I havent a clue why its not working i have tried everything and reinstalled everything and its still not woking any ideas ?

[2017-12-06 21:38] pr0f-f4rn5w0rth commented on #967
I recently started getting the same notices so I too brought down my engagement to about 2-300 likes. Still seem to be getting notices of Unusual Login Attempts?

I have not setup a proxy and my server is running somewhere in USA but I'm running my IG account from Canada. Not sure what best action plan should be?

[2017-12-06 21:55] pr0f-f4rn5w0rth commented on #806
I can't understand if this feature was implemented or not? Don't see it in the repo...

[2017-12-06 22:35] timgrossmann commented on #806
@pr0f-f4rn5w0rth Wasn't...
Just search for proxy in the issues, I described how to do it yourself in another issue

[2017-12-06 23:02] pr0f-f4rn5w0rth commented on #1049
Thanks @timgrossmann for help on this. Had a follow-up question: how do you add login details in case I have for my proxy?

[2017-12-06 23:16] blakemmw commented on #967
@pr0f-f4rn5w0rth hey mate, definitely try and get a server in Canada. Try and make it all local. I run mine on a server in Melbourne, Australia - i am in Melbourne. Never had any issues.

[2017-12-06 23:50] universalxtv opened #1052 "Firefox for raspberry pi(Don't work)"
Hi! Thanks for this awesome project, but im trying to install it in my raspberry pi 3 and followed the instructions but i can't be able to install firefox. When i do apt-get install firefox it tells that doesn't exist in the repository and i added the repo of q4os. Any solution?

[2017-12-07 00:26] converge commented on #1042
@wizarduk maybe a firewall is blocking your connection to instagram. try to get instagram ips and ping it or do some call using curl

[2017-12-07 00:27] #806 closed

[2017-12-07 04:15] sionking commented on #1048
No one have idea? limitations ?

[2017-12-07 04:51] timgrossmann commented on #1049
@sky660099 I'm not 100% sure but in most cases you just use

`username:password@<proxy_url>:<port>`

[2017-12-07 04:53] drcyber975 opened #1053 "#like functionality not working with following"
[code]

The script worked for following people but thne i want to add in the likes in between the follows as i have tried to above but irecieve this error message: INFO - Tag [1/3]
INFO - --> natgeo
Traceback (most recent call last):
  File "script.py", line 14, in <module>
    session.like_by_tags(['natgeo', 'girl', 'cute'], amount=33)
  File "/home/lubuntu/InstaPy/instapy/instapy.py", line 622,

[2017-12-07 05:59] arjunmurali1993 commented on #1023
Hi @sionking and @squigglesMcW, like I mentioned previously I'm not really familiar with the functioning of GitHub. I have the changes as a git branch on my system. How can I share it? Should I fork and commit to the forked github page?

[2017-12-07 08:18] blakemmw opened #1054 "what the hell does this mean?"
[2524:5180:1207/183609.408:ERROR:process_metrics.cc(105)] NOT IMPLEMENTED

script still runs when this occurs, just not sure what it means.

[2017-12-07 09:18] ediooo opened #1055 "Instapy crashing"
Hi,
Any idea why instapy always crashes with this message over here?

Thanks a ton for any hints what might be wrong (maybe with my configuration?)

Traceback (most recent call last):
  File "instapy_sw.py", line 5, in <module>
    from instapy import InstaPy
  File "/Users/dk/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/Users/dk/InstaPy/instapy/insta

[2017-12-07 09:43] peterglynch commented on #1052
@universalxtv just type into terminal `sudo apt-get install firefox-esr` and it should work on your raspberry pi 3

[2017-12-07 10:19] sky660099 commented on #1049
@timgrossmann got it, thx. Btw, unfortuanately today my account is restricted by ins. Even not able to add any caption or comment at my own post. How long will it be recovered?  Is there any good suggestions in using instapy or setting the parameter? Now I unfollow 20 users every hour and view 30 posts under each hashtag, others are all default.

[2017-12-07 12:04] universalxtv commented on #1052
@peterglynch Thank you very much i could install firefox but now i have another issue..  when i try sudo xvfb-run python quickstart.py or python quickstart.py i get a runtimeerror exception : "could not find firefox in your system path". I have firefox-esr installed... any solution? Thank you!

[2017-12-07 12:08] gerdmueller2 commented on #1041
@sionking my CSV is not corrupted. each line has a "," at the end...

in round about 50% of the cases the user is not deleted (maybe it belongs to the bug, that this is a private account)?

as i mentioned: the "Number of people followed automatically remaining:" is decreasing but the users are still in my account.
and instapy is running: "INFO - --> Ongoing Unfollow From InstaPy" XXX , now unfollo

[2017-12-07 16:00] timgrossmann commented on #1049
@sky660099 I'm sorry, but the setup changes from account to account...
There is no "general" rule as it seems

[2017-12-07 16:00] timgrossmann commented on #1054
@blakemmw Could you add your quickstart file or any other information? Please

[2017-12-07 17:22] timgrossmann commented on #1055
@ediooo Please refer to other issues before opening a new one.

If there is any error that says `No module named xxxxxx` then please, please simply do:

[code]

[2017-12-07 17:23] #1055 closed

[2017-12-07 17:40] ArdySan2012 opened #1056 "IP follow block?"
Did that happen to anyone?
Basically the account which was running insta got temporary follow block on it.
But once I've logged in the other account, from another computer, but under same WiFi - which was clean, it could not follow either...

[2017-12-07 17:52] timgrossmann opened #1057 "[Feature Request] Filtering - Sentiment analysis"
Filters: this option lets you make filter people by a set of possible conditions.

Implement a way to check if a post is negative/positive, e.g. Only like posts that have a positive "way of writing" => prevent InstaPy from commenting "Awesome" on some post that features a problematic situation or some person that has an illness.

[2017-12-07 17:55] edwardium opened #1058 "help Error problem"
hi after i download the file
i try to run the Quickstart.py but not working

i got this erorr

**ModuleNotFoundError: No module named 'pyvirtualdisplay'**

any help please

[2017-12-07 18:22] timgrossmann commented on #1058
@edwardium https://github.com/timgrossmann/InstaPy/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aclosed+pyvirtualdisplay

[2017-12-07 18:22] #1058 closed

[2017-12-07 18:30] Namaslayer commented on #967
Just happened to me too on one of the accounts I'm running. have been liking about 700 photos a day, and logging in 15 times. Too much?

[2017-12-07 21:35] Naramsim commented on #1057
NLP

[2017-12-07 22:27] peterglynch commented on #1052
@universalxtv could you please post your quickstart.py code?

[2017-12-07 23:19] gitpatrickhub commented on #1052
@universalxtv what version of python, selenium, and geckodriver are you using?

Can confirm it works with the below, but necessarily required to get working;

Raspbian Jessie
Python 3.5
Selenium 2.53.6
Firefox 52.3.0
Geckodriver updated to 0.19.0

[2017-12-08 01:10] botpadawan opened #1059 "Cannot Run InstaPy"
Got the latest version in repo and when I run the quickstart.py, I encountered this error

[2017-12-08 04:44] blakemmw commented on #967
@Namaslayer Hi, yeah I would say its a bit much. Typically my scripts like around 275, skip 300. even then i think its a bit much.... for you to be liking 700 i cant image how many you must be viewing! As I've stated before on usage, think of instaPy as an opportunity to for you to not have to like posts, don't see it as a growth hack, in my opinion.

I doubt instagrams algorithms consider a singl

[2017-12-08 06:30] sionking commented on #1056
I got follow block yesterday and it was from this pc with insta and from mobile...

[2017-12-08 09:17] sionking opened #1060 "Enhancement: Follow blocked by Instagram is not recognized by InstaPy."
## Expected Behavior
If we press follow button we shall check if it worked, and if not we shall notify the admin and stop trying to follow after N users fails.

## Current Behavior
If we press follow button we don't check if it worked (it is still stays follow instead of following).
Than we try again and again on different users to follow, this is very secpicius.

* Like/Comment block we should do

[2017-12-08 10:40] universalxtv commented on #1052
@peterglynch is the original quickstart.py. @gitpatrickhub i am using the latest raspbian scratch i need to use jessie?

[2017-12-08 10:58] hijak opened #1061 "CRITICAL - Wrong login data! & follow_given_user_followers not working"
## Expected Behavior
able to login and run the script. The creds are 100% correct
## Current Behavior
fails
[code]
## Possible Solution (optional)

## InstaPy configuration
[code]

[2017-12-08 11:02] universalxtv commented on #1052
Sorry original quickstart.py with usefirefox=True,pagedelay=25 i am trying to follow the steps of the guide another time... my raspbian is raspbian scratch lite

[2017-12-08 11:15] universalxtv commented on #1052
I have to reinstall firefox-esr i dont know why.. but is working!!! Thanks for your help and patience:)

[2017-12-08 11:16] #1052 closed

[2017-12-08 11:26] PietroGranati commented on #939
Same problem here

[2017-12-08 11:28] hijak commented on #1061
Hi

I have fixed incorrect login data. when viewed via VNC it seemed to be stuck on the page of one of my follow_user_followers users

[2017-12-08 11:51] daaanny90 commented on #1011
I resume this issue because I have some problem with that.
First of all, you can run it on Pythonanywhere, you have to clone the project in the home folder with the bash console, than set the bot to use firefox (on pythonanywhere you can use selenioum, but only firefox is supported).
It's almost like a normal installation.
My problem is this:
`INFO - Session started - 2017-12-08 11:43:43
Traceback

[2017-12-08 12:39] converge commented on #939
do you guys have chrome or firefox installed ?

[2017-12-08 12:44] PietroGranati commented on #939
I've installed firefox but crash on startup if i try to lauch when logged with GUI.
So I try using the default example, I put chromedriver in assets folder and then this happens.
It's a raspberry pi 3

[2017-12-08 13:50] assafelovic opened #1062 "CRITICAL - Wrong login data!"
## Expected Behavior
I've been running InstaPy for quite a while now, thank you very much for this amazing community!
In the past few days, I've been running into issues logging into already verified accounts. I usually expect "Logged in successfully!" alert after starting the script from a Linux server, however, logging in fails.

## Current Behavior
The login attempts fail again and again.  I al

[2017-12-08 14:23] universalxtv opened #1063 "Create a Telegram Group?"
Would you like that i create a telegram group of instapy? I think its a great idea to talk about this great tool and exchange views

[2017-12-08 15:05] TGIFelix commented on #1062
Having the same issue running at digital ocean.

[2017-12-08 15:17] arjunmurali1993 commented on #1023
I have commited my files to a branch on a fork in my account

[2017-12-08 15:44] timgrossmann commented on #1062
@assafelovic Simply login with your account from the browser once and verify it.
Once you did, everything should work fine

[2017-12-08 15:45] timgrossmann commented on #1063
@universalxtv Good idea, feel free to do so!
We already have a [Slack Channel](https://join.slack.com/t/instapy/shared_invite/enQtMjYzNTgwMDg3MDEyLTk2NWI0MjY2MTVjYmM2NjFlYjVmMmE0ZjU1OGQ0OWM2MTQwOTc1NTIyOGVhZDEwMTFkYzFmODE5ZWIxZjhjMTQ) where a lot of people discuss what they come across

[2017-12-08 16:11] TGIFelix commented on #1062
What if I'm running headless?

[2017-12-08 16:24] nsgolosoff commented on #1062
The same problem :( Instagram requires verification each time, even after logining in and verifying from browser. There were no problems three days ago

[2017-12-08 16:28] thomasuno commented on #1062
no @timgrossmann it's not working. I think we should add cookie management to the software.

I'm testing your software with some modifications to keep session cookies, and it's working. :-)

[2017-12-08 16:34] nsgolosoff commented on #1062
@thomasuno can you share your modifications, please?

[2017-12-08 16:38] thomasuno commented on #1062
yes @nsgolosoff  I'll do here because last time I tried to commit something, someone hasn't appreciated

*** file instapy.py ***
1) comment line self.browser.delete_all_cookies

2) after line self.logger.info('Logged in successfully!') add this line
pickle.dump(self.browser.get_cookies() , open("QuoraCookies.pkl","wb"))

3) at the beginning add import pickle

4) NOW start a session of instapy and

[2017-12-08 16:43] nsgolosoff commented on #1062
@thomasuno Thank you very much!!

[2017-12-08 16:44] thomasuno commented on #1062
@nsgolosoff  no problem. if something doesn't work maybe you need to touch the file instacookies.pkl (create it blank).

[2017-12-08 18:09] timgrossmann commented on #1062
@thomasuno Would be awesome if you could create a PR out of this once it's ready!
Thank you very much

[2017-12-08 18:23] universalxtv commented on #1063
I didn't know about slack! So telegram group is not necessary then! Thanks mister!

[2017-12-08 18:23] #1063 closed

[2017-12-08 20:42] randysinnott commented on #1062
Thanks for the cookie solution when running interactive.  Is there a solution yet for running headless?  I have a server that I don't have any sort of window server on as well.

[2017-12-08 20:43] thomasuno commented on #1062
@randysinnott  you can try to export cookies from a live browser and then save to the headless server. maybe its going to work =)

[2017-12-08 21:05] assafelovic commented on #1062
Thank you @timgrossmann  @thomasuno, however, after loading the cookies when logging back in, there's an Instagram login error with the loaded cookies.

[2017-12-08 21:06] thomasuno commented on #1062
@assafelovic , you should not login again... if you are logged in and you have cookies, no login again.

[2017-12-08 21:33] deronsizemore commented on #1059
I just downloaded the latest copy of the software and am also getting this. I'm sure it's something I'm doing wrong, but I've thus been unable to figure it out. Please post back if you resolve it.

[2017-12-08 23:24] pinnabruno commented on #1062
Dear Folks,
Need help if possible on https://github.com/instabot-py/instabot.py/issues/842
i know that are other project, other developer but this cause is Same!

thank you and sorry for anything

[2017-12-09 01:05] pinnabruno commented on #1062
hi @ @timgrossmann
i like to know when u make new version with this fix, because i´ll download the project :)

thank you

[2017-12-09 07:21] sionking commented on #1062
Created PR:
https://github.com/timgrossmann/InstaPy/pull/1064

[2017-12-09 07:28] tamminh commented on #617
@converge  Thank for your fix, but the problem is still there when running with firefox. I got the following ERROR message with the latest revision on github:

`selenium.common.exceptions.NoSuchElementException: Message: Unable to locate element: //div[text()='Following']/following-sibling::div`

Please take another look

[2017-12-09 07:34] ugurozturk commented on #1054
@blakemmw "what the hell does this mean?" doesn't give any info. You should post here your OS, Python version, selenium version, quickstart file.

[2017-12-09 08:31] blakemmw commented on #1054
@timgrossmann  @ugurozturk Windows 10, Py3.6

Quick start file:

`"""Example Case of the Script"""
from instapy import InstaPy

#if you don't provide arguments, the script will look for INSTA_USER and INSTA_PW in the environment
session = InstaPy(username='#########, password='##########')

"""Logging in"""
#logs you in with the specified username and password
session.login()

"""Comment util"""
#

[2017-12-09 08:37] wizarduk commented on #1062
same issue happening on 10 accounts across several vps

[2017-12-09 09:19] sojan-official commented on #1062
should we work on something where right after the login, the script will check whether its the security page and issue an appropriate exception than the wrong login data ?
also if possible an interactive  option in the script itself to input the code and handle this case ?

[2017-12-09 09:22] thomasuno commented on #1062
@sojan-official we can use this piece of code for it. Just need something that interact with io for the code.

# THIS IS FOR GETTING PAST THE VERIFICATION BLOCK

from selenium.webdriver.common.action_chains import ActionChains
session.browser.get('https://www.instagram.com')

login_elem = session.browser.find_element_by_xpath("//article/div/div/p/a[text()='Log in']")
action = ActionChains(session.

[2017-12-09 09:47] daaanny90 commented on #1011
I did some test to reproduce the exception. It look like the problem is not pythonanywhere but firefox. Pythonanywhere uses Firefox 17, I installed it on my computer and tried to run it, but when it comes the moment to charge the page https://www.instagram.com the page doesn't load, it stays empty, and after few seconds Instapy gives this exception

`selenium.common.exceptions.NoSuchElementExcepti

[2017-12-09 10:08] ugurozturk commented on #1054
@blakemmw What is the chrome version ? ChromeDriver 2.33 Supports Chrome v60-62. Perhaps you have newer one (v63). The problem looks like chrome/selenium side

[2017-12-09 10:13] Naramsim commented on #1062
If you want to get the cookie and you are using a headless instapy version (like docker-compose), you can create a SOCKS5 proxy to your machine and use Firefox to login to Instagram and save the cookie.

https://www.digitalocean.com/community/tutorials/how-to-route-web-traffic-securely-without-a-vpn-using-a-socks-tunnel

[2017-12-09 10:15] wendyhouserules opened #1065 "Logging in and then breaking: No such element"
Current behaviour:
Logs in
Lands on feed
Looks at profile
Back to feed
Stops

Has the xpath changed on one of the elements?
I'm getting this error:

(env) iMac:instapy user$ python3 quickstart.py
Logged in successfully!
Traceback (most recent call last):
  File "quickstart.py", line 21, in <module>
    session.login()
  File "....../InstaPy/instapy/instapy.py", line 186, in login
    self.switch_l

[2017-12-09 11:57] Idrisskh commented on #1062
The bot is working with new account but is not working with old account. Maybe Instagram apply different security level to some account and block some type of connection.

[2017-12-09 12:01] assafelovic commented on #1062
Thank you everyone! Currently, it seems that this solves the issue locally on PC/Mac, however when running it headless on a Linux machine, there's an error loading the cookies - "unable to set cookie".
Any idea why this might be happening? Thanks!

[2017-12-09 12:02] thomasuno commented on #1062
@assafelovic have you created the blank file?

[2017-12-09 12:05] gerdmueller2 commented on #1062
i created a socks5 proxy for my headless aws mashine and opened firefox locally, logged in successfully.
but how can i save the cookie from firefox to my aws?

created the blank file with `touch file instacookies.pkl`

[code]

and now i get the error: can someone help?
[code]

[2017-12-09 12:05] assafelovic commented on #1062
@thomasuno yes. Locally on my Mac it works perfectly, but when running on my AWS Linux server, there's an error loading the cookies.
This is the flow:
1. Created a blank file
2. Started instapy
3. Entered verification number and logged in successfully
4. Logged out
5. Started instapy again -> Error with loading cookies.

The process above worked perfectly running locally on Mac

[2017-12-09 12:24] ethandunford commented on #1062
I'm getting this error now, but nothing about suspicious login data.

* ) set up new digital ocean server  1 GB Memory with 16.04
* ) Git clone this repo and install docker
* ) Put in my user details in docker_quickstart.py

this seems so temperamental on a server

[2017-12-09 12:49] Radzam opened #1066 "Getting less followers and likes in the last days - instagram filtering?"
The bot was working great for me but in the last couple of days Im getting almost no new followers or likes. Is there something going on with instagram, perhaps doing some actions against bots?

[2017-12-09 14:05] santon777 commented on #815
Same on linux. Interact not loading full list of users

[2017-12-09 14:14] nocomp opened #1067 "set_user_interact() got an unexpected keyword argument 'random'"
## Expected Behavior

## Current Behavior
hi, i ve followed the example file but i get this error when i run it

INFO - Session started - 2017-12-09 03:36:58
INFO - Logged in successfully!
Traceback (most recent call last):
  File "follow.py", line 8, in <module>
    session.set_user_interact(amount=5, random=True, percentage=50, media='Photo')
TypeError: set_user_interact() got an unexpected keyw

[2017-12-09 14:23] converge commented on #1067
random was updated to randomize
```session.set_user_interact(amount=5, randomize=True, percentage=50, media='Photo')```

[2017-12-09 14:28] FiboStore opened #1068 "Run Bot Through Proxy"
I have searched up and down for a method to run the bot through a proxy but unfortunately I had no results.

I found this line:
chrome_options.add_argument('--proxy-server=http://<178.238.231.234:3128>')

        else:
                        chromedriver_location = './assets/chromedriver'
                        chrome_options = Options()
			chrome_options.add_argument('--dns-prefetch-disable')

[2017-12-09 14:51] nocomp commented on #1067
thxx a lot, i am trying now. no error so far, no comments either :/

[2017-12-09 14:53] converge commented on #1067
you should add the like_by_tags() action to your config file.

[2017-12-09 14:56] nocomp commented on #1067
ok i do that now, thxxx

[2017-12-09 14:57] #1067 closed

[2017-12-09 15:14] sionking commented on #1066
As long the like and follow works, there is nothing they can do since the notification which "catch" the user is exist.

[2017-12-09 16:12] universalxtv opened #1069 "Less users to follow than requested (interact_user_followers)"
## Expected Behavior
When i use interact_user_followers i want for example to interact with a 400 amount from an account that have thousands of followers.
## Current Behavior
It says to me 'less users to follow than requested' and i can only interact with about 200. Obviously this account have so much users to follow than i requestes so this isnt working properly. Any solution? Thanks!

[2017-12-09 16:13] gitpatrickhub commented on #1066
I’m having similar results. The bot appears to run successfully, but drastically lower results.

[2017-12-09 16:26] CharlesCCC opened #1070 "Question: set_sleep_reduce missing from ReadMe ?"
I believe there used to be a section mentioned about set `set_sleep_reduce` but it is now missing from the ReadMe and the code still exists ? Is there any reason that get removed from readme ?

[2017-12-09 17:08] gerdmueller2 commented on #1066
Same here.
After get InstaPy running with [CRITICAL - Wrong login data!](https://github.com/timgrossmann/InstaPy/issues/1062) the results are following:
only commenting/following are working. liking is only working in some cases.
I guess this relates to: [InstaPy Like Photo => No Like at Instagram](https://github.com/timgrossmann/InstaPy/issues/993)

Can someone please fix this "Liking Problem - I

[2017-12-09 18:01] sionking commented on #1069
Been asked before, reason is that Instagram stop let you scroll down after a while.
Solution is to use the graphql to extract the users followers, better to do it with a different account on different pc so instagram will not know about this bot querying the data.

[2017-12-09 18:04] universalxtv commented on #1069
Wow! Can you explain me more about graphql and how to use it for this purpose?

[2017-12-09 19:16] espipj opened #1071 "Switch language to ¿Dutch? And fails to login"
Switch the webpage language from English (default) to Dutch and then fails to login.

https://github.com/timgrossmann/InstaPy/blob/db6b7cc4670884cb8b000cabad336b26dc865ebb/instapy/login_util.py#L16-L21

[2017-12-09 19:26] timgrossmann commented on #1062
Could you guys help test if #1066 is working correctly? Please

[2017-12-09 19:33] timgrossmann commented on #1071
@espipj You don't want to change the language...
The whole thing will fail at several points if you change the language, what do you think is the advantage if you change it?

[2017-12-09 19:36] timgrossmann commented on #1069
@sionking @universalxtv
I'll change my [Profilecrawl](https://github.com/timgrossmann/instagram-profilecrawl) repo today to use the graphql endpoints I researched and documented here: [InstaPy-Research](https://github.com/timgrossmann/InstaPy-Research)

Also, I'll create an issue which will have the refactor of all "scroll"-logic as a goal.
I think that will have at least a $25 bounty, we need to

[2017-12-09 19:38] timgrossmann commented on #1066
@Radzam We have to restructure some things in order to preserve it working... This will not be minor refactors but some bigger ones that also cover the stated problem...

If you guys could help out, here's the link to support the dev: [Support InstaPy](https://www.paypal.me/supportInstaPy)

This will definitely result in stuff being resolved faster

[2017-12-09 19:39] timgrossmann commented on #1068
@FiboStore Remove the `<` and `>` characters

[2017-12-09 19:40] timgrossmann commented on #815
#1066

We have to restructure some things in order to preserve it working... This will not be minor refactors but some bigger ones that also cover the stated problem...

If you guys could help out, here's the link to support the dev: Support InstaPy

This will definitely result in stuff being resolved faster

[2017-12-09 20:05] justinf102 opened #1072 "Chrome driver keeps on crashing"
## Expected Behavior

## Current Behavior
So every time I start the bot it would type my username in half way (sometimes not even a single letter) and then just stop and crash saying "chrome driver has stopped working"
## Possible Solution (optional)

## InstaPy configuration

[2017-12-09 20:58] gitpatrickhub commented on #1066
I’ve checked my log and am not experiencing the wrong login data issue and have verified several posts are being liked as indicated in log. However, in the last 2-3 days my likes and follows have dropped 75%+

[2017-12-09 21:19] espipj commented on #1071
Yes I mean in the execution Firefox starts with English for Instagram by default, and suddlenly It goes through that if clause and execute that line, which in my case the result is that the instagram webpage turns into ¿dutch? language instead continue being in english... I'm executing it from Spain.

Solved it by commeting that 2 lines.

[2017-12-09 22:18] timgrossmann commented on #1071
@espipj Which lines?

[2017-12-09 22:22] espipj commented on #1071
Lines 16 to 22

[2017-12-09 23:11] timgrossmann opened #1073 "[Refactor] Change "scrolling"-parts to graphql"
Since there now is a [basic documentation](https://github.com/timgrossmann/InstaPy-Research) about the first and basic graphQL endpoints, and an [example on how to use them](https://github.com/timgrossmann/instagram-profilecrawl/blob/refacotor_to_graphql/util/extractor.py) we are starting to refactor the way we get information from Instagram.

**Once done, this will remove ~35-40% of the work we h

[2017-12-09 23:12] ppx45 commented on #1062
When I follow @thomasuno 's instructions from a day ago I get this error:

for cookie in pile.load(open("instacookies.pkl", "rb")):
EOFError: Ran out of input

Please advise

[2017-12-09 23:12] timgrossmann commented on #1062
@ppx45 Nice catch!

[2017-12-09 23:14] ppx45 commented on #1062
That is because the file is empty right?

[2017-12-10 00:59] zknicker commented on #1072
No idea why, but nuking the last 5 commits (arbitrary number but it works) and then pulling again seems to fix the problem.

    git reset --hard HEAD~5
    git pull

Sorry, I'm not familiar enough with this codebase to be much more insightful.

[2017-12-10 02:21] espipj commented on #1071
My fault! Just seen the firefox example and it sets the "set_switch_language" to False.
So sorry! ;)

[2017-12-10 02:21] #1071 closed

[2017-12-10 03:57] espipj commented on #703
@omidedipidizi did you managed to solve it I'm having the same issue! It shows "Photo liked" or "User Followed" but not actually in Instagram. I'm not banned as I can follow/comment/like in the webpage and app.
Mozilla Firefox 52.5.0
Gecko 0.18
Selenium 2.53.6

[2017-12-10 04:07] FiboStore commented on #1068
`Traceback (most recent call last):
  File "C:\Users\MrPip\Desktop\Bots\ClashRoyale - Copy\b royalegoldx.py", line 1, in <module>
    from instapy import InstaPy
  File "C:\Users\MrPip\Desktop\Bots\ClashRoyale - Copy\instapy\__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "C:\Users\MrPip\Desktop\Bots\ClashRoyale - Copy\instapy\instapy.py", line 157
    chrome_options.add_

[2017-12-10 04:09] FiboStore commented on #1068
Traceback (most recent call last):
  File "C:\path\quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "C:\path\instapy\__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "C:\path\instapy\instapy.py", line 157
    chrome_options.add_argument('--dns-prefetch-disable')
    ^
IndentationError: unexpected indent

That's the report I receive when I try with

[2017-12-10 04:50] espipj commented on #1066
I don't know if the issue I have is the same but for me the log says that it "liking" and "following" but not actually...

[2017-12-10 06:50] sekred18 opened #1074 "we detected an unusual login attempt"
I live in PA state
I have a service in " digitalocean " that located in New York when the service log in in my Instagram account the insta looked my account and says "  we detected an unusual login attempt"

it's kind of security in Instagram
the picture is an example
<img width="778" alt="screen shot 2017-07-14 at 23 59 56" src="https://user-images.githubusercontent.com/34411527/33802752-71428964

[2017-12-10 07:40] virginsince1997 opened #1075 "Follow and like media likers"
Hello guys , Thank you for the bot , please can you implement follow and like media likers of a particular given user? Thanks

[2017-12-10 07:46] omidedipidizi commented on #1074
same for 10 of my accounts ! trying to kill bots !!

[2017-12-10 08:16] timgrossmann commented on #1068
@FiboStore You have to make sure that the file is correctly indented

[2017-12-10 08:42] assafelovic commented on #1062
@timgrossmann fixed the problem for me. However, I'd recommend combining it with @thomasuno solution, since their might be end use cases in which despite the cookies, the user is not logged in.
Also add a validation check for entering instagram.com and checking for nav == 2 after adding cookies.
All in all, great solution, thank you @sionking !

[2017-12-10 08:43] #1062 closed

[2017-12-10 08:59] timgrossmann commented on #1062
@assafelovic Good to hear that!
Is the given solution working correctly?

If not, could you contribute the rest to make it work correctly?

[2017-12-10 09:57] JoshuaBatty commented on #1074
Yeah this is happening to me now as well. I just reached out to my online server hosting and they confirmed that my server is still based in Melbourne but each time I try and run the script it has the above error and says its trying to log in from a different state in Melbourne. Very annoying.

[2017-12-10 11:49] sunnypatel165 opened #1076 "InstaPy not starting up?"
Hi, InstaPy has recently stopped to startup.
I thought it was one of my silly modifications that broke the code, but that's not the case - just took the latest version and still breaks.
Error screen:
![image](https://user-images.githubusercontent.com/9017668/33804582-2943ca6a-ddce-11e7-9d4a-2fecca197a04.png)

Qickstart:
[code]

Any ideas?

[2017-12-10 11:56] wizarduk commented on #1074
Yup have had this happening for a few days annoying all systems dead now

[2017-12-10 12:34] nsgolosoff commented on #1062
@assafelovic Could you explain how to combine @timgrossmann and @thomasuno solutions, please? In one account everything is ok after adding cookies as timgrossmann explained, but in another one the user is not logged in. I'm new to python and selenium... Thank you!

[2017-12-10 13:34] FiboStore commented on #1068
Thank you very much, Tim.

[2017-12-10 13:35] #1068 closed

[2017-12-10 14:26] converge commented on #1076
@sunnypatel165 try again using this syntax https://github.com/timgrossmann/InstaPy/blob/master/quickstart.py

[2017-12-10 14:26] daaanny90 commented on #1011
Another update, I tried to load the page without style and I saw this
<img width="990" alt="schermata 2017-12-10 alle 15 00 36" src="https://user-images.githubusercontent.com/24957034/33805769-4b611752-ddbe-11e7-887c-1c138115479f.png">
The key is to go over it with firefox 17 and then it will possible to run Instapy on pythonanywhere.
Somebody knows how?
[I posted also a question on stackoverflow

[2017-12-10 14:30] daaanny90 commented on #1011
@converge @timgrossmann sorry for the tag but it could be important and useful to somebody. Pythonanywhere gives the chance to run Instapy on a server for free, not bad. But right know is impossible.

[2017-12-10 14:32] Cineda commented on #1074
Happening to me too, InstaPy can never login without facing this problem.

[2017-12-10 14:41] converge commented on #1011
hey guys, InstaPy is open source, softwares like this coasts $100/month, paying 5% of the software coast in a decent server is a nice idea. Don't understand me wrong, but Digital Ocean offers $5 vps, check it out:
https://www.digitalocean.com/pricing/#droplet

[2017-12-10 14:42] converge commented on #1074
can anyone give remote access, so I can debug it.

I tried to reproduce this issue without success at my Digital Ocean account.

[2017-12-10 16:00] 0x69676f72 commented on #1043
Yes correct

[2017-12-10 16:29] hobeser commented on #1074
same problem....

[2017-12-10 17:59] wizarduk commented on #1074
@converge i can if you need access let me know do u have email or skype ?

[2017-12-10 18:03] sekred18 commented on #1074
Oh thank god there are people have the same problem

[2017-12-10 18:04] wizarduk commented on #1074
@sekred18 Yes have this issue on over 6 accounts

[2017-12-10 18:04] converge commented on #1074
@wizarduk joaovanzuita@me.com

[2017-12-10 18:05] XXWGXX commented on #1074
This is becoming a widespread problem for so many users.
A lot of devs already researching into this.
So far I have found this pattern - hope it can help someone in some way -

1. API Login + Self Hosted Script (Home IP) = Success
2. API Login + Server Hosted (Proxy) = Fail
3. Web/App Login + Proxy (Literally any freaking proxy) = Success

Most of the bots - including non-spam bots are no longer a

[2017-12-10 18:08] wizarduk commented on #1074
@converge  i have emailed you details

[2017-12-10 18:14] espipj commented on #1030
@NewyorkDev did the log said "Image Liked". Could you at that moment post likes from the mobile/web manually?
In facing this issue...

[2017-12-10 18:18] converge commented on #1074
@wizarduk didn't receive it yet

[2017-12-10 18:27] wizarduk commented on #1074
@converge sent it

[2017-12-10 18:30] wizarduk commented on #1074
looks like my ip is being blocked : @converge

[2017-12-10 18:33] wizarduk commented on #1074
@converge did u get it sent via another address

[2017-12-10 18:35] converge commented on #1074
@wizarduk joaopaulo.mailfs@gmail.com

[2017-12-10 18:36] wizarduk commented on #1074
I sent to other address you should have

On 10 Dec 2017 18:35, "João Paulo Vanzuita" <notifications@github.com>
wrote:

[2017-12-10 18:59] universalxtv commented on #1069
Sorry for my bad english, so @timgrossmann i understand this feature will be corrected in the future? I had a look at profilecrawl but i dont know to use graphql to solve this problem.

[2017-12-10 20:15] converge commented on #1074
hey guys, we have a lot of people with wrong login data issue, we will work on a fix for it.
https://github.com/timgrossmann/InstaPy/search?utf8=%E2%9C%93&q=wrong+login&type=Issues

It requires a lot of work, could you guys make a collective Bounty for it ?
https://www.bountysource.com/issues/52533434-we-detected-an-unusual-login-attempt

[2017-12-11 01:08] converge commented on #1075
is this wha you need ?
https://github.com/timgrossmann/InstaPy#interact-with-specific-users

[2017-12-11 01:12] virginsince1997 commented on #1075
No , bot has to follow and like the liners of a particular user lastest
picture

On Dec 11, 2017 2:08 AM, "João Paulo Vanzuita" <notifications@github.com>
wrote:

[2017-12-11 01:14] converge commented on #1038
no return, closing..

[2017-12-11 01:14] #1038 closed

[2017-12-11 02:25] drcyber975 opened #1077 "can you ignore errors?"
so i have got the following function to work and liking function however after liking about 6 tags it just stops and returns with error messages. I dont want that to stop my whole script is there any code i can use to ignore errors? or maybe in the set up add i code that will ignore errors. Thank you

[2017-12-11 02:31] converge commented on #1077
On Mon, 11 Dec 2017 at 00:25 drcyber975 <notifications@github.com> wrote:

Which error ?

[2017-12-11 03:05] drcyber975 opened #1078 "ERROR - follow loop error unable to open database file???"
This was the code i used;
 from instapy import InstaPy

insta_username = 'username'
insta_password = 'password'

nogui=True
session = InstaPy(username=insta_username, password=insta_password)
session.login()

session.set_upper_follower_count(limit=900)

session.follow_user_followers(['kimkardashian', 'selenagomez', 'cosplay.world_', 'realdonaldtrump'], amount=17, randomize=False, sleep_delay=60)

[2017-12-11 06:28] arjunmurali1993 commented on #1077
To prevent errors from stopping your code execution, you can put the code inside a try-except block. For example:
`try:
   Like function
   Follow function
   ...
except Exception as e:
   print e`

[2017-12-11 08:33] assafelovic commented on #1062
Dumped the code here :)
In general, this is the logic:
1. Try to add cookies
2. Check if user is logged in.
3. If so, return True, else, try to log in
4. If verification code is needed, enter it and submit
5. Repeat 2

[code]

[2017-12-11 09:25] Phazz commented on #1062
@assafelovic is sharing an updated ```login_util.py``` file. @assafelovic Can you recommend an approach for headless chrome running on a VPS?

[2017-12-11 11:17] converge commented on #1077
friends don't let friends bypass exceptions :octocat:

[2017-12-11 11:18] converge commented on #1078
what's your instapy.db permissions ?
try: chmod 755 instapy.db

[2017-12-11 13:44] justinf102 commented on #1072
Didn't work, here is the error message
![screenshot_20171211-084232](https://user-images.githubusercontent.com/31114105/33833992-79967bda-de4f-11e7-8244-ca90fa5e30f7.png)

[2017-12-11 13:56] DanielSemmelrock opened #1080 "Error message after completion"
## Expected Behavior

## Current Behavior
![image](https://user-images.githubusercontent.com/17365427/33834491-67e35e92-de83-11e7-8cf2-499adb0e34e2.png)
## Possible Solution (optional)

## InstaPy configuration

[2017-12-11 14:05] converge commented on #1080
hey mate, update you chrome driver and try again. Let me know if it fixed the issue.

[2017-12-11 14:07] converge commented on #1072
hello @justinf102 , your chrome driver is outdated, update it and try again. Let me know if it fixed the issue.

[2017-12-11 17:20] AlexKalyo commented on #1074
Unfortunately this is not working for me :(
I get this error when trying to run the script with your fix :

raise exception_class(message, screen, stacktrace)
selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//label[@class='_q0nt5']"}

FYI : Don't know if this changes anything but the instagram account is in French

[2017-12-11 17:37] thebitbrine commented on #1072
same problem, have the latest chrome driver

`Error: (Driver info: chromedriver=2.34.522940 (1a76f96f66e3ca7b8e57d503b4dd3bccfba87af1),platform=Windows NT 10.0.16299 x86_64)`

[2017-12-11 17:38] espipj commented on #1078
Maybe It wasn't properly closed or still open in other execution. Try:
`ps aux | grep python`
And kill the zombie processes that are still running.

[2017-12-11 17:48] sunnypatel165 commented on #1076
@converge Tried already, same error!

[2017-12-11 18:05] converge commented on #1074
thanks @AlexKalyo . If you give me remote access I can debug it to understand what's wrong and fix it. I'm at Slack channel.

[2017-12-11 18:08] converge commented on #1076
never saw it before. looks like you got disconnected. your selenium is 2.56 , the actual version is 3.x maybe it can help.

[2017-12-11 18:27] wizarduk commented on #1074
@converge i updated this file but im getting a error

 File "bay.py", line 1, in <module>
    from instapy import InstaPy
  File "/root/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/root/InstaPy/instapy/instapy.py", line 27, in <module>
    from .login_util import login_user
  File "/root/InstaPy/instapy/login_util.py", line 105
    return False
    ^

[2017-12-11 18:33] converge commented on #1074
@wizarduk did you do these commands listed here in "command line instructions" ?
https://github.com/timgrossmann/InstaPy/pull/1079

[2017-12-11 18:44] ugurozturk commented on #1054
chromedriver v2.34 came up.

[2017-12-11 18:45] wizarduk commented on #1074
@converge how do u do this ?

when suspicious account is detected, send security code to users email, and ask it in console.

[2017-12-11 19:13] converge commented on #1074
@wizarduk it's about it: https://media.giphy.com/media/tbfM33pcd7xQc/giphy.gif

[2017-12-11 19:14] wizarduk commented on #1074
This is not the issue when we try and login it just says :  we detected an unusual login attempt"
we click on this was me and it still wont allow us in and sends no codes.

[2017-12-11 19:23] converge commented on #1074
resuming:

1. tried to login using a friend account from another country
2. the message "we detected an unusual login attempt" show up
3. he sent me the 6 digits code, I entered it using my fix (instapy)
4. logged in succesfull
5. tried to login again, same "we detected an unusual login attempt" message
6. repeted the 3 step
7. logged in succesfull
8. tried to login again
9. "we detected an unusua

[2017-12-11 19:45] wizarduk commented on #1074
@converge Yes thats good but if you dont have someone from another country to do this then we are stuck....

[2017-12-11 20:06] converge commented on #1074
@wizarduk what do you mean ?

I tried to use another country login/passwd to force the "we detected an unusual login attempt" message/issue, so we can now bypass it.

[2017-12-11 20:13] wizarduk commented on #1074
@converge i cant trigger the code it just doesnt send one

[2017-12-11 20:48] drcyber975 commented on #1078
instapy.db permissions ? i am unsure what this is is instapy.db one of the config files that i need to alter? i will look ino thish now

[2017-12-11 20:54] drcyber975 commented on #1078
i found the instaoy.db but i am unsure how to open it did you open it using a custom command line?

[2017-12-11 21:15] drcyber975 commented on #1077
this was the error message i recieved:
ERROR - follow loop error unable to open database fileO - --> Total people followed : 54
Traceback (most recent call last):
File "quickstart2.py", line 14, in
session.follow_user_followers(['kimkardashian', 'selenagomez', 'cosplay.world_', 'realdonaldtrump'], amount=17, randomize=False, sleep_delay=3600)
File "/home/lubuntu/InstaPy/instapy/instapy.py", line 1

[2017-12-11 21:17] drcyber975 commented on #1077
try:
   Like function
   Follow function
   ...
except Exception as e:
   print e

i will try adding this to my script and see if it helps

i will update you guys shorlty and thank you for taking the time to help me with my code you are the ony help i have lol

[2017-12-11 21:31] converge commented on #1074
@wizarduk just updated it, can you try again ?

[2017-12-11 21:51] drcyber975 commented on #1077
Like function
Follow function
...
except Exception as e:
print e

this did not work any other suggestions guys?

[2017-12-11 21:56] drcyber975 commented on #1078
how do i set  instapy.db permissions to  chmod 755 instapy.db? can you please explain further on the process of this? Thank you

[2017-12-11 21:57] CiprianDe commented on #834
Hey There!
I am dealing with the same problem.
Any idea?

[2017-12-11 21:59] converge commented on #1078
@drcyber975 what's your system ?

[2017-12-11 22:04] CiprianDe opened #1081 "Chromedriver is missing"
## InstaPy configuration

Hey Guys!

I search a tool to automatize my instagram, and I found your project.

The thing is that I did all the steps (many times) and I'm encoutering the same problem.

![ice_screenshot_20171211-230247](https://user-images.githubusercontent.com/34459675/33856147-78a948b0-dec7-11e7-9f2b-a941d6b5b6a4.png)

Can anyone to help!

[2017-12-11 22:09] converge commented on #1081
wrong place mate.

https://github.com/Nemixalone/GUI-tool-for-InstaPy-script

[2017-12-11 22:09] #1081 closed

[2017-12-11 22:37] drcyber975 commented on #1078
i am using windows 10 and ubuntu

[2017-12-11 22:38] drcyber975 commented on #1078
im really confused now because a script i amde yesterday was working fine until it ran into an error but now the script it wont even run without me making any alterations to it. there some kind of bug with the automation or i havent configured everything properly

[2017-12-11 22:54] fiferrari commented on #1074
Hi @converge, sorry but I don't get it. How am I supposed to apply the fix? should I copy the whole text from the here (https://github.com/converge/InstaPy/commit/7f4bb66022dd8d0b5db6f77ac04f20d380b878dd#diff-0dd693be7f423737670db49b7863add2  )  and save it in my login_util.py file? I guess I need a more detailed step by step on how to fix this. Thanks a lot

[2017-12-11 22:59] converge commented on #1074
@fiferrari there is a like 'command line instructions' here: https://github.com/timgrossmann/InstaPy/pull/1079

we're at Slack channel if you need more help

[2017-12-11 23:16] wizarduk commented on #1074
@converge i had a go but to confusing with all the files i need to update and it didnt run cant we just have the updated files to upload ?

[2017-12-11 23:17] converge commented on #1074
just pushed a new version of the fix

[2017-12-11 23:23] converge commented on #1074
@wizarduk as it takes a long time to find the elements on suspicious attempt page, It's opcional now. to bypass the suspicious page, you need to setup like this:
[code]

[2017-12-11 23:32] n0sw34r commented on #1074
After fix I am getting this error
![image](https://user-images.githubusercontent.com/30392165/33859382-f42889ea-ded3-11e7-854a-59c9878d0715.png)

[2017-12-11 23:43] converge commented on #1074
@n0sw34r can you update chrome driver and try again?

[2017-12-11 23:48] n0sw34r commented on #1074
@converge After Update
![image](https://user-images.githubusercontent.com/30392165/33859860-2848ef4c-ded6-11e7-81fd-dda4d1ea48f3.png)

[2017-12-11 23:49] converge commented on #1074
@n0sw34r your chrome driver is still 2.29 version, I think last version is 2.34

[2017-12-12 00:23] farshadseifi opened #1082 "UTF8 tags are not supported"
an issue with Persian language tags in quickstart.py
syntaxerror non-ascii character

![git1](https://user-images.githubusercontent.com/21032757/33860846-f7d398de-deef-11e7-852c-02308b4d16ab.JPG)
![git2](https://user-images.githubusercontent.com/21032757/33860847-f7feed68-deef-11e7-818b-8cc9648b5299.JPG)

[2017-12-12 00:25] converge commented on #1082
wrong place mate.

https://github.com/Nemixalone/GUI-tool-for-InstaPy-script

[2017-12-12 00:25] #1082 closed

[2017-12-12 00:29] n0sw34r commented on #1074
@converge Thanks logged in successfully! :+1:

[2017-12-12 00:45] espipj opened #1083 ""Image Liked" or "Now following" but not actually"
I'm having this issue since the first execution.
The script goes through the tags, picks photos, check if the user is appropiate (sometimes it isnt) and likes (follows 10% of them).
It says "Image Liked" or "Now following" but when I go to Instagram browser or app the image/profile is not actually liked/followed.

I've gone further in my tests, after the script ends I run it again, but before of t

[2017-12-12 01:00] justinf102 commented on #1072
yea still not working, I recently updated windows and it started screwing up right after, could that possibly be it?

[2017-12-12 01:01] n0sw34r commented on #1074
@converge New problem... :( Everytime I want login it want verify code... I tried it like 5 times in row

[2017-12-12 01:24] biggt22 opened #1084 "Can't Log in"
Been using Instapy on ubuntu for a while. Suddenly can't get past the login in page. Tried troubleshooting but no luck so far. Any ideas?? Returning the following
![image](https://user-images.githubusercontent.com/34463187/33862518-23df5f38-deb1-11e7-9b9b-adb903b43fd6.png)
![image](https://user-images.githubusercontent.com/34463187/33862532-30221fce-deb1-11e7-8627-f0a0a082fcfb.png)

[2017-12-12 03:21] justinf102 commented on #1084
same error for me

[2017-12-12 03:36] zknicker commented on #1084
Had the same issue. Updating my chromedriver in the assets folder and running 'pip install .' again fixed it.

[2017-12-12 03:39] justinf102 commented on #1084
Pip install What?

[2017-12-12 03:43] justinf102 commented on #1084
Nvm it worked

[2017-12-12 04:43] TonyStark commented on #614
i set True parameter in instapy.py for using firefox
after quickstart execution it giving me error
[code]

[2017-12-12 05:38] sionking commented on #1083
Is it working manually from the web?
Don't change windows size.

[2017-12-12 09:10] biggt22 commented on #1084
Yes that worked, thanks!

[2017-12-12 10:02] dolax opened #1085 "Issue with chrome drive"
Hi guys

I got this problem when I launch my file.

INFO - Session started - 2017-12-12 04:57:49
INFO - Logged in successfully!
INFO - Tag [1/5]
INFO - --> b'#instagood'
Traceback (most recent call last):
  File "test3.py", line 9, in <module>
    .like_by_tags(['#instagood','#picoftheday','#startup','#entrepreneurship', '#likeforfollow'], amount=70)\
  File "/root/InstaPy/instapy/instapy.py", lin

[2017-12-12 10:31] sasymonopoli commented on #1074
@converge  same problem, everytime i try to login from my cloud server Instagram asks for verify code.

[2017-12-12 11:15] Cineda opened #1086 "Unable to login on Windows after filling up username"
I have been trying to solve this issue for days but I can't seem to figure out what's wrong. I uninstalled every python version I have as well as reinstalled InstaPy, but the error still persist.

Whenever I run the script, Chrome would open and then InstaPy would fill up the username. Then it stops there and gives me this error on power-shell.

Any idea what I could do to solve this?

Many thanks

[2017-12-12 12:15] Cineda commented on #1086
Did another clean install this time, somehow its working again.
Thanks anyway!!

[2017-12-12 12:15] #1086 closed

[2017-12-12 12:23] datteba commented on #1074
Same here.. on every login @converge

[2017-12-12 12:33] EnricoSemrau commented on #1059
Same issue here with other software - It might not really related to InstaPy. Guess its somehow Webdriver / Chromium related.

[2017-12-12 12:46] Cineda opened #1087 "set_upper_follower_count skipping users despite being below limit"
## Expected Behavior
InstaPy to skip interaction if the user I am interacting with has more than 2000 followers.

## Current Behavior
It skips every interaction despite users having less than 2000 followers.
For example, @_llccr has only 1,087 followers and 469 following, which is way below the 2000 followers limit I have set, but InstaPy still skips her interaction.

Note: I am using **'Interact

[2017-12-12 12:58] Cineda commented on #1087
Note: I tried removing the 'session.set_upper_follower_count(limit = 2000)' from my config but somehow InstaPy is still skipping users.

[2017-12-12 13:18] Lukavalls commented on #311
did you solve your import error? if yes.. how did you fixed?

[2017-12-12 14:21] converge commented on #311
pip install pyvirtualdisplay
or
pip3 install ...
or pip3.4 or 3.5
depends on your python version

[2017-12-12 14:33] fiferrari commented on #1074
Hi @converge ...Not sure what I did really but it's working now. I also updated the chrome driver so it must have something to do with it. Thanks for your help

[2017-12-12 14:38] virginsince1997 commented on #1075
@converge can you please help?

[2017-12-12 15:08] converge commented on #1075
@virginsince1997 unfortunately we don't have this feature.

Do you know BountySource ? There is some open bounties, some are hard to develop and some have low value. If you place a nice bounty maybe someone can develop it for you.

[2017-12-12 16:02] Lukavalls commented on #311
Fixed thanks!

[2017-12-12 16:12] alessiomatt1 commented on #1084
Same problem for me.. I really don't understand what I have to do

[2017-12-12 16:17] VivianSolide commented on #459
Still the same here
Do I need to repost my issue?

[2017-12-12 18:47] alessiomatt1 opened #1088 "Can't log in too"
Hi guys I can't log in like https://github.com/timgrossmann/InstaPy/issues/1084, I read the comments for the issues that I linked but I really don't undersand what I have to do for fix it

[2017-12-12 19:11] FreakyBoy commented on #1085
I have the same problem with the lates Chromedriver...
My solution is to downgrade Chrome to 62.0.3202.75 and now it works.

[2017-12-12 19:11] FreakyBoy commented on #1072
I have the same problem with the lates Chromedriver...
My solution is to downgrade Chrome to 62.0.3202.75 and now it works.

[2017-12-12 19:14] FreakyBoy commented on #1088
I have the same problem with the lates Chromedriver...
My solution is to downgrade Chrome to 62.0.3202.75 and now it works.

[2017-12-12 19:44] alessiomatt1 commented on #1088
Hi @FreakyBoy, I have just downgraded Chrome to  62.0.3202.75, using the latest Chromedriver and It doen't work...

What info can I give to you for  let you help me better?

[2017-12-12 19:51] FreakyBoy commented on #1088
@alessiomatt1 Can you open in Chrome this site `chrome://settings/help` and make a Screenshot ?
Maybe you have the Auto-Update feature activated?

[2017-12-12 20:53] ffext commented on #939
#698 found a solution that works for me here, might also work for you. Thanks for the support everyone.

[2017-12-12 21:39] alessiomatt1 commented on #1088
![cattura](https://user-images.githubusercontent.com/34484439/33909852-3ab2a076-df8d-11e7-8e7b-9ea96a75aec4.PNG)

Yes.. autoupdate is active, now i google how to remove it !

[2017-12-12 22:05] alessiomatt1 commented on #1088
![cattura1](https://user-images.githubusercontent.com/34484439/33910941-ccc3a020-df90-11e7-9f87-6c5cb7880a8e.PNG)

AutoUpdate disabled, it start but look like this..

[2017-12-13 01:16] justinf102 opened #1089 "Just a quick question"
What is the best way to get active followers?

[2017-12-13 01:17] biggt22 commented on #1084
ugh very frustrating... worked this morning, now getting the same issue

[2017-12-13 01:18] timgrossmann commented on #1084
@Jhhoo You don't simply `pip install chromdriver`...
Please check out the *Getting Started* part of the README, there is the link to the chromedriver download

Just download it and replace the old one in your assets folder....

[2017-12-13 01:35] biggt22 commented on #1084
got it again! 2.34 seems to be the one that is working for me. Missed that the chromedriver zip files rename 1,2,3.... Kept trying the same one over and over... ><
working great again :)

[2017-12-13 02:10] converge commented on #1089
* good content
* no spam comments
* no spam actions

[2017-12-13 02:39] sunnypatel165 commented on #1076
Updated selenium, no luck! :(
This is especially weird because I am working on a fresh install :(

[2017-12-13 04:31] justinf102 commented on #1054
Yea it's still saying not implemented for me

[2017-12-13 04:58] tierten commented on #1088
I have a similar issue. I run it on 2 accounts. After updating both accounts' chromedriver.exe, one account is able to log in, and the other one experiences the same login problem.

[2017-12-13 05:04] botpadawan commented on #1059
Problem solved, just update the chrome driver, see it here https://github.com/timgrossmann/InstaPy/issues/1088

[2017-12-13 08:58] hestuppfodarn opened #1090 "Wrong Login Data - No time to fill in security code"
## Expected Behavior
When security code is requested, we should have time to access our email, get the security code and enter it.

Also experiences a major problem with login in, in general.

## Current Behavior
Cannot log in, since Instagram recognises the login as a suspicious login attempt.
Then going to my email to get the security code, the browser with Instagram shuts down before the securi

[2017-12-13 09:07] dolax commented on #1085
And how did you downgrade it ?

[2017-12-13 09:42] davidrocket commented on #1083
Just catch the same problem today and I'm not sure if the problem has been there already for some time!

After changing the setup from Chrome to Firefox, both Headless!

I can confirm for a normal run (like_by_tags()...):
-> Image liked! (NOT working)
-> Commented "..." (working)
-> Now following (NOT working)

instapy (on Firefox) has also problem with UNFOLLOWING. It's simply not working!

[2017-12-13 09:47] davidrocket commented on #1090
Without having a change in instapy, You can try to copy the security code of previous mail, then paste in when being asked!

In some case, instagram will "always" keep asking the security code!

[2017-12-13 09:48] davidrocket commented on #1089
- pay for ad :)

[2017-12-13 09:52] davidrocket commented on #1085
- Uninstall the current chrome version
- Then install the older one! You have to find out the appropriate one, sometime you have to download it manually!

[2017-12-13 09:59] davidrocket commented on #1078
1. Take a look under folder /InstaPy/db to check if instapy.db file is there! If not, pick it from github/instapy...
2. If its there, please check the permission of this file. Probably change it to 755 (on linux, mac)

---
@converge Please take a look it its possible to create a new instapy database, when the file wrongly not existed! Thanks

[2017-12-13 09:59] espipj commented on #1083
Hey @davidrocket I think UNFOLLOWING is actually working, but as It didnt actually followed fails in "unfollowing" as you cannot unfollow a profile you are not following ;) (if you follow (manually web/app one of the "false" following logged on the script, it will do the unfollow)

Which is the config where you are running the script in? Raspberry Pi? Has it worked before on Chrome in the RasPi? I

[2017-12-13 10:02] davidrocket commented on #1077
Please fix your instapy.db as my answer on your other question!

[2017-12-13 10:12] davidrocket commented on #1074
Why no one of you did try to use chromium profile with an saved instagram session for this specific user? It would solve the problem!

[2017-12-13 10:30] alessiomatt1 commented on #1088
Fresh reinstalled everithing but still compile the wrong form, seem that doesn't click on the Log in button for switch the div

![cattura](https://user-images.githubusercontent.com/34484439/33934356-f1175cf6-dff8-11e7-8acf-27f08102264f.PNG)

[2017-12-13 10:33] alessiomatt1 commented on #1085
also you have to disable chrome autoupdate..
I tried this method but still not work

[2017-12-13 10:45] converge commented on #1054
does updating chromedriver to 2.34 fixed it ?

[2017-12-13 10:46] #1059 closed

[2017-12-13 10:46] converge commented on #1090
did you test #1079 ?

[2017-12-13 10:48] converge commented on #1078
@davidrocket the question is, in which situation instapy.db would not exist.. ?

[2017-12-13 10:53] converge commented on #1085
chromedriver 2.34 should fix this issue

[2017-12-13 10:57] davidrocket commented on #1083
UNFOLLOWING works now with Firefox (after tweaking around :) )! despite having this ERROR shown:

`ERROR - set_automated_followed_pool error list index out of range`

This Error indicates, this line failed:

`with open('./logs/' + username + '_followedPool.csv') as \
                followedPoolFile:`

in my case, I actually dont have the file "username_followedPool.csv"

[2017-12-13 11:19] davidrocket commented on #1083
To Fix "Like"-Problem, please replace the line 537 in like_util.py with this line

`        like_elem[0].click()`

Tested and works!

[2017-12-13 11:20] hestuppfodarn commented on #1090
@davidrocket, I did and  it worked, but next time the script ran the same problem occurred. Did manage to verify 3 times, but the 4th time it requests security code again
@converge, haven't tried it. Will do later, thanks!

[2017-12-13 11:26] davidrocket commented on #1083
To Fix "Follow"-Problem, please replace the line 347 in unfollow_util.py with this line

`follow_button.click()`

Tested and works!

[2017-12-13 11:35] alessiomatt1 commented on #1084
It work! Re installed everithig, update chromedriver and it work!
Sorry for all my problem and thanks!!

[2017-12-13 11:44] FreakyBoy commented on #1088
@alessiomatt1 Don`t click in die Chrome windows when you start your script. I have the problem only when I click with the mouse in die Chrome windows or try to resize the window...

Start your script and do nothing :)

[2017-12-13 11:46] Cineda commented on #1087
After further tests with quickstart.py, it seems like this problem only occur when I try to 'Interact with someone else's followers'. InstaPy works perfectly fine for liking/following by geolocation or tag.

[2017-12-13 12:59] rodriguesprobr commented on #1074
Guys, you need to fix the ./scripts/unix.sh script to update to the lastest stable release of chromedriver.

[2017-12-13 13:12] converge commented on #1074
hey @rodriguesprobr , could you do that ?

[2017-12-13 14:47] davidrocket commented on #1078
Some git-magic with refactoring, pushing, fetching, cherry-picking, squashing ... :) as I did... would ignoring the instapy.db

Or simply being pushed in .gitignore, because this database as I guessed, is being used on "production" :) and should not be overwriten with the local one

[2017-12-13 15:34] espipj commented on #1083
Hey @davidrocket Could you explain what environment are you using? (firefox/chrome, headless?, gecko driver version, selenium version, python version)

I'll test those fixes you say and give you feedback this weekend. ;)

[2017-12-13 15:37] gerdmueller2 commented on #993
@davidrocket posted an solution for this:

To Fix "Like"-Problem, please replace the line 537 in `like_util.py` with this line

like_elem[0].click()

Tested and works!

[2017-12-13 15:41] gerdmueller2 commented on #1030
@davidrocket posted an solution for this: (same problem, other issues:
[#1030](https://github.com/timgrossmann/InstaPy/issues/1030) [#1083](https://github.com/timgrossmann/InstaPy/issues/1083) [#993](https://github.com/timgrossmann/InstaPy/issues/993)

To Fix "Like"-Problem, please replace the line 537 in `like_util.py` with this line

like_elem[0].click()

Tested and works!

[2017-12-13 15:45] gerdmueller2 opened #1091 "like_by_tags amount=75 -->different amount in session INFO - [1/18]"
I set the like_by_tags amount=75 but in the session (running on aws ubuntu) it likes a different amount. Here [1/18]

## Expected Behavior
INFO - [1/75]

## Current Behavior
INFO - [1/18]

## Possible Solution (optional)

## InstaPy configuration
session.like_by_tags(['test'], amount=75)

[2017-12-13 15:54] converge commented on #1078
@davidrocket got it.

adding database to .gitignore isn't a good idea because people will not receive new improvements. We can do it when we have a stable version, the project is in constant change.

[2017-12-13 18:58] ffext opened #1093 "ERROR - Firefox on Raspberry - Webdriver exception: window shareddata is undefined"
## Expected Behavior
Working
## Current Behavior
Webdriver exception: "window._sharedData si undefined"

[2017-12-13 19:02] ffext opened #1094 "Automation with Cron not working on Raspberry"
## Expected Behavior
Cron starting InstaPy
## Current Behavior
CPU load spikes at the defined hour but nothing happens

[2017-12-13 20:21] lukahans opened #1095 "syntaxerror: Unexpected Identifier"
I've been using instapy to like photo's from certain users, however, an error occurs after the script likes a certain amount of pictures (sometimes 4, sometimes 10). I installed on two different computers - chrome web driver is up to date.

I appreciate any help! Thanks in advance!

**The following error**

 File "/Users/lukahans/InstaPy/instapy/instapy.py", line 1026, in interact_by_users
    sel

[2017-12-13 20:27] converge commented on #1094
Sorry mate, it's not a InstaPy related issue, it's a Cron issue.

[2017-12-13 20:27] #1094 closed

[2017-12-13 23:27] travisday commented on #1091
I am having a similar issue, I set mine to '100' but it shows INFO - [1/12]

[2017-12-13 23:59] umrashrf commented on #348
```sudo apt install xvfb```

[2017-12-14 01:28] #1089 closed

[2017-12-14 01:29] #1084 closed

[2017-12-14 02:13] sunnypatel165 commented on #1076
Updating Chrome Driver fixed this :/
Thanks @converge for your help :)

[2017-12-14 02:13] #1076 closed

[2017-12-14 03:07] converge commented on #815
just realized you guys forgot to set it:
```session.set_user_interact(amount=5, randomize=True, percentage=50, media='Photo')```

[2017-12-14 09:09] sasymonopoli commented on #1074
@davidrocket  hi. how can u do that?

@converge  i've just verified that instagram is recognizing somehow if the connection comes from a Cloud Server, or it checks the OS and recognize if is a Server OS.

If I try to log from one of my two VPS it ask me always for the verify code (2 differente VPS in 2 different Providers).

 if i try from an house pc (in different locations), it asks only the fir

[2017-12-14 12:12] ugurozturk commented on #1054
They say it is chrome issue.
detailed and source : https://github.com/SeleniumHQ/selenium/issues/5189#issuecomment-351605839

[2017-12-14 12:13] forgottensword commented on #1054
process_metrics.cc(105) instapy error

[2017-12-14 12:14] forgottensword commented on #1054
`p_posts=True)
  File "C:\Users\RSR\Downloads\InstaPy-master\instapy\instapy.py", line 555
like_by_locations
    self.logger)
  File "C:\Users\RSR\Downloads\InstaPy-master\instapy\comment_util.py", lin
 in comment_image
    "arguments[0].value = '" + rand_comment + " ';", comment_input[0])
  File "C:\Users\RSR\AppData\Local\Programs\Python\Python36\lib\site-packag
lenium\webdriver\remote\webdriver

[2017-12-14 12:15] forgottensword commented on #1054
`p_posts=True)
  File "C:\Users\RSR\Downloads\InstaPy-master\instapy\instapy.py", line 555
like_by_locations
    self.logger)
  File "C:\Users\RSR\Downloads\InstaPy-master\instapy\comment_util.py", lin
 in comment_image
    "arguments[0].value = '" + rand_comment + " ';", comment_input[0])
  File "C:\Users\RSR\AppData\Local\Programs\Python\Python36\lib\site-packag
lenium\webdriver\remote\webdriver

[2017-12-14 12:16] forgottensword commented on #1054
This is the current error

[2017-12-14 12:16] ugurozturk commented on #1054
@forgottensword which chrome version ?

[2017-12-14 12:16] forgottensword commented on #1054
latest

[2017-12-14 12:16] forgottensword commented on #1054
i just installed it

[2017-12-14 12:17] forgottensword commented on #1054
Google Chrome is up to date
Version 63.0.3239.84 (Official Build) (64-bit)

[2017-12-14 12:18] forgottensword commented on #1054
Anything Helpful ... Please !!

[2017-12-14 12:22] ugurozturk commented on #1054
@forgottensword  https://github.com/timgrossmann/InstaPy/issues/1054#issuecomment-351694118 as i said here. So use firefox or downgrade your chrome. And please dont spam, use edit function of github.

https://github.com/timgrossmann/InstaPy/issues/1054#issuecomment-351694539 and https://github.com/timgrossmann/InstaPy/issues/1054#issuecomment-351694819 are same.

Use github markdown. [Github Forma

[2017-12-14 12:24] forgottensword commented on #1054
@ugurozturk  i used the code button above. but still it shows like Normal Text. What should I do?
And
Does Firefox Works Fine?
My FireFox Version is 57.0.2 (64-bit)

[2017-12-14 12:25] ugurozturk commented on #1054
@forgottensword check the link i sent you. There has an example for multiple lines

[2017-12-14 12:27] forgottensword commented on #1054
@ugurozturk ... You said to Downgrade Right? Downgrade to which Version? Please Specify if you know!!

[2017-12-14 12:28] forgottensword commented on #1054
I'm already using version 63. Chromedriver in it's version says it does support 61-63 !! What am I missing Here??

[2017-12-14 12:30] ugurozturk commented on #1054
@forgottensword you are just not reading. https://github.com/timgrossmann/InstaPy/issues/1054#issuecomment-351694118. They says chrome v63 has a bug of ShaderCache. And it makes the error. So anything version but v63 would just work fine. Like v62

[2017-12-14 12:46] forgottensword commented on #1054
[code]

[2017-12-14 13:23] converge commented on #1074
hey guys, we need your help to support the project and the developers.

we have other jobs, and we love to develop to InstaPy, but without any support is harder to help.

You can place a small bounty for it here:
https://www.bountysource.com/issues/52533434-we-detected-an-unusual-login-attempt

if everyone that is having this issue post a $10 bounty, more developers would be interested to help fix

[2017-12-14 14:57] alessiomatt1 opened #1096 "How can I follow by tag?"
I know that maybe it's a very stupid question, but how can I follow a profile that have posted a photo whith a specific tag without liking the image?

[2017-12-14 16:32] deronsizemore commented on #1059
Worked for me. Thanks

[2017-12-14 17:17] gitpatrickhub commented on #1093
I am experiencing the same issue and have been for some time now, but is intermittent.

**Additional information:**
after the error message in the description is;
[code]

[2017-12-14 17:20] ffext commented on #1093
@gitpatrickhub same. Sometimes it stops, sometimes works

[2017-12-14 17:49] gitpatrickhub commented on #1093
This is the only thing I could find that appears related on a google search;

https://reformatcode.com/code/javascript/selenium-webdriver-executescript-can39t-execute-custom-methods-and-external-javascript-files

[2017-12-14 18:19] nsgolosoff commented on #951
Has anyone solved thi problem?

[2017-12-14 19:01] CharlesCCC commented on #1091
Are you guys using smart_tag ? if yes, it possible the top tag from the website only have 18 not 75.

[2017-12-14 19:09] gerdmueller2 commented on #1091
no, i am only using:

[code]
and
`session.like_by_tags`

and at the beginning:

[code]

[2017-12-14 21:33] ugurozturk commented on #1054
@forgottensword
[code]

You are not dumb. You are just dont reading it, i already wrote how to fix this error. https://github.com/timgrossmann/InstaPy/issues/1054#issuecomment-351696970

[2017-12-14 23:23] RorixRebel commented on #1096
you mean following people with certain tags in their posts?
or you want to see all posts tied to a tag sort of like twitter?

[2017-12-15 06:31] johnstsai commented on #1091
same issue, follow

[2017-12-15 07:45] #1090 closed

[2017-12-15 12:29] Idrisskh opened #1099 "Action blocked by Instagram"
Hi,

We have created our own bot based on Tim Grossman's script and we have noticed something unusual yesterday. Indeed, some action done by the script were not done in Instagram. The script followed somebody but when we checked, the person was not followed. We checked for lot of action and we saw that sometime the follow was ok and sometime the follow did not happen (all actions were not blocked)

[2017-12-15 15:34] deronsizemore opened #1100 "like_by_tags using random.choice?"
I've got a list of tags I'm targeting which are stored in the varible "like_tags":

`like_tags = ['tag1', 'tag2', 'tag3]
`
I want to target each tag at random rather than simply going down throught he list in order each time I run the script. Is that possible?

I'm trying:

`session.like_by_tags(random.choice(like_tags), amount=100)
`

The script runs, but it seems to target a completely different

[2017-12-15 16:23] virginsince1997 commented on #1075
@converge alright thank you

[2017-12-15 23:47] fanto88 opened #1101 "Schedule script windows 10"
I didn't understood how to setup a schedule to run this script every day at some precise time, i used the schedule on the main page but the script just throw out error: urllib.error.URLError: <urlopen error [Errno 11001] getaddrinfo failed>

[2017-12-16 05:23] Cineda commented on #1087
Solved it.
For some reason session.set_upper_follower_count(limit = 2000) needs to be set before the interaction command. I guess that makes sense.

[2017-12-16 05:23] #1087 closed

[2017-12-16 05:23] Cineda commented on #1101
You can try using Windows task scheduler.
http://www.thewindowsclub.com/how-to-schedule-batch-file-run-automatically-windows-7

[2017-12-16 05:24] Cineda commented on #1099
I faced the same situation yesterday too. Seems like Instagram is looking into ways to block botting via VPS.

[2017-12-16 07:39] sionking commented on #1099
Instagram/FB/FBI they all know which ip address is a proxy/server so it much easy to spot bots like that.
My solution ? Run the automation from the user own PC connected to home network, all files stored on dropbox (with 120 days recovery for files). Harder to maintain but works!

[2017-12-16 07:41] sionking commented on #1099
BTW, Instapy Shall validate that following/liking is done before moving on.
It is a must to implement ASAP.

[2017-12-16 12:28] converge commented on #1087
@Cineda great to hear that!

That's why show your config file is important, so we can understand better what's going on.

[2017-12-16 14:17] sionking commented on #1101
this is wiorking for me windows 10:
[code]

[2017-12-16 15:49] squigglesMcW commented on #905
Chris, thanks for sharing! Timely as I'm currently trying to migrate my code to an AWS server.

[2017-12-16 16:13] ceribbo commented on #1062
it should be added another check: when logging just with cookies instagram can detect the suspicious login attempt so it asks if "this was or wasn't me", it should be added the check and press of the button "this was me"

[2017-12-16 18:17] Namaslayer commented on #1074
@converge I've posted a bounty to help. Thanks for the hard work!

What can I do to help? I'm not a programmer but I'd be happy to do whatever I can.

[2017-12-16 18:18] thomsonza commented on #1091
Same issue, I get different results when running from my laptop and from a linux server. Linux server [x/18] and laptop shows [x/21] with the exact same script. Simplified my script as follows, no change.

`session = InstaPy(username=insta_username, password=insta_password)
session.login()
session.like_by_tags(['tag'],amount=37)
session.end()`

[2017-12-16 19:01] thomsonza commented on #1091
Tested this with another account and seems to be account specific. It works fine on one account, not on the other.

[2017-12-16 23:02] rCrax commented on #1074
Hello guys, I have solutions for this for this loop attempt.
here is proof
**1**

-------cut-------

**2**

-------cut-------

**3**
rCrax@instance-1:~/tools/IG2/InstaPy$ python quickstart.py
INFO - Session started - 2017-12-16 22:16:27
Instagram detected an unusual login attempt
A security code wast sent to your email: Email: sensored@gmail.com
Type the security code here:
INFO - Logged in succes

[2017-12-16 23:39] timgrossmann commented on #1074
@rCrax Don't you just want to share how you did it? So we can add it InstaPy?

[2017-12-17 03:43] rohan11103 opened #1102 "error using pip/ setup.py command?"
## Expected Behavior

New to coding but I read that the pip command should install a python package. I tried both ways  listed in the getting started but neither have worked.

## Current Behavior
[code]

## Possible Solution (optional)
Unknown

## InstaPy configuration
[code]

[2017-12-17 13:39] converge commented on #1102
hey buddy

try it:
```sudo easy_install pip```

[2017-12-17 13:40] converge commented on #1101
@fanto88 did you solve it?

[2017-12-17 13:46] rCrax commented on #1074
@timgrossmann tested on ubuntu 16 and windows 10
1. logout your instagram account in mobile apps or local browser
2. [login_util.py](https://github.com/nilkesede/InstaPy/blob/172e47869a3771981fdd0d5a726b254e977df17c/instapy/login_util.py)  set bypass_suspicious_attempt=True
3 . create remote port forwarding " ssh -f -N -D 21212 username@remote_vps" check if your port fw is ready "ps -aux | grep 21

[2017-12-17 13:46] converge commented on #1100
hey @deronsizemore ,

you can do it:

[code]

[2017-12-17 13:52] converge commented on #1074
@rCrax I would love if everyone could understand about network stuff (ssh, port forwarding, vpn..), but unfortunately it's a very technical and specific solution. It can work for most of the technical guys, but most people wouldn't be able to bypass it.

cool hack! Maybe we can find a solution that we can code and will be easy to use.

[2017-12-17 14:19] rCrax commented on #1074
@converge everyone running bot in vps like OP surely understand about network stuff. I'm just trying to help them can't run InstaPy in vps with problem suspicious attempt  🥂

i'm running my private account as normal user, running this bot with default setting, and no network stuff in local machine does not have this issue.

[2017-12-17 14:34] converge commented on #1074
@rCrax can't agree with that.

but as I said before, cool hack and I really appreciate your help! hope people can put it to work.

[2017-12-17 19:11] Basti922 commented on #1074
Yeah totally agree with @rCarx . As I am following this issue. I ve been trying to configure a VPN to my phone so that my vps uses my phone as VPN. Well sounds crazy but works, maybe someone can help me putting a script for installation together so I could share it. It's nothing what makes sense to fix this issue but as long as the issue is open it ensures the functionality.

[2017-12-17 19:46] lukahans commented on #1095
Update: I’ve installed it on a windows machine and the same error occurs

[2017-12-17 20:02] rohan11103 commented on #1102
Last login: Sun Dec 17 11:59:04 on ttys000
Geetanjalis-iMac-462:~ geetanjalisharma$ cd Instapy
Geetanjalis-iMac-462:Instapy geetanjalisharma$ sudo easy_install pip
Password:
Searching for pip
Best match: pip 9.0.1
Processing pip-9.0.1-py2.7.egg
pip 9.0.1 is already the active version in easy-install.pth
Installing pip script to /usr/local/bin
Installing pip2.7 script to /usr/local/bin
Installing p

[2017-12-17 20:02] rohan11103 commented on #1102
I think I'm still doing something wrong :(

[2017-12-17 20:05] sionking commented on #1091
maybe Instagram loading more images got stuck in this moment/account.

[2017-12-17 20:10] sionking commented on #1073
This is important work, but I think Instagram will notice access from specific account to the graphQL DB.
This is not recommended since we want not to get blocked.
I think we shall maintain another account that crawl throw the DB using a proxy server and save all this db to be used from real accounts.
Best solution is to use MySQL server but a 'write - read' async mechanism can also be implemented

[2017-12-17 20:39] converge commented on #1102
sounds like you dont have setup.py
try it: https://www.youtube.com/watch?v=2Ci-hXU1IEY
It's almost the same for MacOS

[2017-12-17 20:56] evgeniya96 commented on #1074
Hello,
I am sorry but I am not familiar with all these proxy vpn settings and etc. things that you mentition. I would be very thankful if you can help me with this. I am having a problem logging in in Instagram: every time I try to log in I get the window for an unusual login attempt and tried with both code to my phone and to my email. I get the codes every time, I enter them but after I try to l

[2017-12-17 21:13] rohan11103 commented on #1102
Hey! So I watched the video, and I got this far.
Last login: Sun Dec 17 13:11:14 on ttys000
Geetanjalis-iMac-462:~ geetanjalisharma$ pwd
/Users/geetanjalisharma
Geetanjalis-iMac-462:~ geetanjalisharma$ git clone https://github.com/timgrossmann/InstaPy.git
fatal: destination path 'InstaPy' already exists and is not an empty directory.
Geetanjalis-iMac-462:~ geetanjalisharma$ cd InstaPy/
Geetanjalis

[2017-12-18 00:08] rCrax commented on #1074
@evgeniya96 contact me rcrax[-at-]protonmail.com

[2017-12-18 06:57] fanto88 commented on #1101
when i use your code, @sionking , cmd say: The system cannot accept the time entered.
Enter the new time:

And if i try to enter a new time the cmd close. What's wrong?

[2017-12-18 08:16] NoobTove opened #1103 "Whether it is liking pictures, following or unfollowing people, the program stops midway and returns the following error?"
## Expected Behavior
This program has been so wonderful to use, I sometimes encounter this error repeatedly. For context, I entered 300 photos as a parameter for liking photos on my local pc.
## Current Behavior
It stopped at about 148 pictures and returned the following lines.
<img width="873" alt="error" src="https://user-images.githubusercontent.com/29563338/34095916-589bc0ca-e3f9-11e7-9c0f-843

[2017-12-18 12:08] sionking commented on #1103
poor internet connection ?

[2017-12-18 12:09] sionking commented on #1101
it is something original_all_following private igonre.

[2017-12-18 12:10] sionking commented on #1101
I don't mind the amount since I have my own limit per day and hour so it is no issue for me.
I heard it have issue with this

[2017-12-18 14:33] superjacke commented on #1103
Same issue?
<a href="https://github.com/SeleniumHQ/selenium/issues/5189#issuecomment-351605839" class="issue-link js-issue-link tooltipped tooltipped-ne" data-error-text="Failed to load issue title" data-id="280351139" data-permission-text="Issue title is private" aria-label="SeleniumHQ/selenium#5189 (comment), Chrome Driver, ERROR:process_metrics.cc(105)] NOT IMPLEMENTED">SeleniumHQ/selenium#5189