[2017-07-07 16:46] TheXeon81 commented on #374
the problem is in the file ./logs/******_followedPool.csv!!!!

1. I opened the file
2. Deleted its contents
3. restart instapy and now work!

[2017-07-07 16:48] TheXeon81 commented on #374
after 2 minute .... ko! With the same error :-(

[2017-07-07 19:14] yuriscosta opened #375 "Troubles with selenium/webdriver"
Everytime I try to run a script to follow or comment I got this error.
![image](https://user-images.githubusercontent.com/13898077/27973120-4f3bda24-632f-11e7-863b-a46ed7abcc5c.png)

[2017-07-07 19:37] tylershadix commented on #371
from instapy import InstaPy
import os
from random import randint

session = InstaPy(username='...', password='...!')
session.login()
amountLike= randint(43, 57)
amountUnfollow= randint(10, 15)
percentFollow = randint(9, 15)

session.set_do_follow(enabled=True, percentage=percentFollow, times=1)
#session.unfollow_users(amount=amountUnfollow)
session.set_upper_follower_count(limit = 250000)
session.

[2017-07-07 19:54] vomblyat opened #376 "Strange issue after days of working properly"
I was able to use InstaPy perfectly for a few days (thanks Tim!) but then it suddenly stopped working at all a couple of days ago. Some Googling around hasn't shed any light on this problem - every time I run it I get the following error messages:
![error](https://user-images.githubusercontent.com/29987799/27974573-943c0ad4-632c-11e7-9165-366b3845585e.png)

[2017-07-07 20:24] TheXeon81 commented on #376
i have this problem....
the post is here: https://github.com/timgrossmann/InstaPy/issues/374

[2017-07-07 21:30] ujazzz opened #377 "News feed liking feature"
One issue I faced with this was when liking a lot of pics on the newsfeed of a person who posts 20 pics a day. Can we have an dded feature to have a limit to like a maximum of 3 posts from an account appearing on the newsfeed?

@saurabh-kumar-vit  thought it would be more appropriate to tag you here.

[2017-07-07 23:43] #375 closed

[2017-07-07 23:43] yuriscosta commented on #375
I solved using .quit() instead of .close()

[2017-07-08 01:13] raaedk commented on #367
I'm also having this issue. I am running the program as an administrator. This is my setup.

from instapy import InstaPy
import os
session = InstaPy(username='username', password='password')
session.login()
session.like_by_tags(['#animals'], amount=50, media='Photo')

session.end()

I don't have any logs or anything either.

[2017-07-08 21:28] wendyhouserules opened #379 ".set_dont_like not working in my code"
Hi Tim or anyone that may be able to help.

I am currently having trouble with the .set_dont_like function. It's not working whether I put a string into the function itself or, if i put a variable in which contains a list. I have previously set this to ignore posts with '#model' in as well as '[model' and ']model' which when contained in the post are ignored and the image is liked and commented on

[2017-07-08 23:29] omidedipidizi commented on #336
@timgrossmann so what we should do to solve the problem !! i have the same problem when i enter a list of user to fallow !!

[2017-07-08 23:55] omidedipidizi commented on #336
@doremidom in which file you made changes ?

[2017-07-09 06:03] wecanfuture opened #381 "Aborting after not finding enough pictures"
Hello,

i just wondered why it got less the last days. Then i realized of i made a typo: summer[

this caused following:

![image](https://user-images.githubusercontent.com/28114725/27991615-1010aeac-647d-11e7-880d-07bf03d1edba.png)

would be nice if this happens that the code just jumps to the next hashtag instead of aborting. thanks ;)

[2017-07-09 10:09] timgrossmann commented on #381
@wecanfuture The special characters don't work this way...
They only for work `.dont_like`

[2017-07-09 10:09] #381 closed

[2017-07-09 10:15] timgrossmann commented on #379
@wendyhouserules When using a variable in the braces `()` you should not use a string, this won't work.
You can pass a variable by just using the name without `''`

in you case the solution should be:

[code]

instead of

[code]

[2017-07-09 10:21] timgrossmann commented on #367
@raaedk Could you try removing the `media` parameter, please?

[2017-07-09 10:27] #376 closed

[2017-07-09 10:27] #371 closed

[2017-07-09 12:49] wendyhouserules commented on #379
Hi Tim

Yes I know variables are not strings. I must have made an error when changing the code to add to this page.

Unfortunately that is not the issue. Do you have any other advice please?

Thanks,

Chris

[2017-07-09 14:05] timgrossmann commented on #379
@wendyhouserules The checks with clarifai also won't work like this, is this wanted behaviour?

The posts probably had something that you specified in `.set_ignore_if_contains()`. Could you give an example, please?
What don't likes did you use, what ignores did you use and what was the picture that was commented?

[2017-07-09 14:06] #192 closed

[2017-07-09 14:07] #142 closed

[2017-07-09 14:08] timgrossmann commented on #142
#349

[2017-07-09 14:08] #185 closed

[2017-07-09 15:20] RobertHosking opened #382 "Programmatically Update Profile Info"
Let the logged in user change their Bio, Name, and profile picture.

[2017-07-09 16:21] timgrossmann commented on #382
@RobertHosking Could you give some information about what this should be good for?

[2017-07-09 16:34] RobertHosking commented on #382
I'm a traveler and I'd like to include a blurb in my bio that automatically posts what city I'm in so followers can reach out to connect. I and many others already do this by hand.

[2017-07-09 19:52] diveu opened #383 "selenium.common.exceptions.WebDriverException: Message: chrome not reachable"
Running on Digital Ocean Droplet with these configs:
1 GB Memory / 20 GB Disk / AMS2 - Ubuntu 16.04.2 x64

I did the How To Ubuntu setup, but I get this issue:

`Traceback (most recent call last):
  File "index.py", line 2, in <module>
    InstaPy(username='userNameChangedForIssue', password='password', nogui=True) \
  File "/root/InstaPy/instapy/instapy.py", line 44, in __init__
    self.browser

[2017-07-10 00:08] diveu commented on #383
If anyone is interested:
Fixed it with removing the `chrome_options.binary_location = chromedriver_location` line. I guess this one should be the location of Chome instead of chromedriver.

[2017-07-10 08:27] blakemmw opened #384 "Clarifai Throttle (cry for help)"
Having some consistent issues with using Clarifai. I'm on V2 and I definitely haven't used all my free usage. All I've done is entered my secret and my proj_id and changed the tags and comments. Getting throttled 100% of the time.

Can anyone that has managed to get their Clarifai API working point me in the right direction?

Code below:
[code]

[2017-07-10 09:12] Faiz7412 commented on #311
I faced the same problem. Now I'm getting this error:

``ubuntu@ip-172-31-21-156:~/scripts/InstaPy$ python3 quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 14, in <module>
    InstaPy(username="faiz.png", password="*****", nogui=True) \
  File "/home/ubuntu/scripts/InstaPy/instapy/instapy.py", line 44, in __init__
    self.browser = webdriver.Chrome(chromedriver_locat

[2017-07-10 09:22] dmitriiweb commented on #311
@Faiz7412
Install chrome driver: https://gist.github.com/ziadoz/3e8ab7e944d02fe872c3454d17af31a5
and
replace
`self.browser = webdriver.Chrome('./assets/chromedriver', chrome_options=chrome_options)`
to
`self.browser = webdriver.Chrome(chrome_options=chrome_options)`
in instapy/instapy.py (line#38)

[2017-07-10 09:37] Faiz7412 commented on #311
@dmitriiweb I tried that, ran the script at https://gist.github.com/ziadoz/3e8ab7e944d02fe872c3454d17af31a5 and replaced the line in instapy.py
I am still getting the same error.

[2017-07-10 09:45] dmitriiweb commented on #311
@Faiz7412 Do you have chrome browser?

[2017-07-10 09:49] Faiz7412 commented on #311
![screen shot 2017-07-10 at 3 17 05 pm](https://user-images.githubusercontent.com/8874731/28012281-eb192500-6582-11e7-973f-9fdc95f4879b.png)
As you can see, the script installed chrome on aws server. But I tried running 'chrome' command and it says the command doesnt exist

[2017-07-10 09:50] dmitriiweb commented on #311
@Faiz7412 use phantomjs instead of chrome

[2017-07-10 09:52] Faiz7412 commented on #311
Okay, but I'd like to see if I can get chrome working for me. @timgrossmann Do you have any suggestions?

[2017-07-10 09:56] dmitriiweb commented on #311
@Faiz7412 For this you should install DE on your server, coz Chrome web browser is GUI application.

[2017-07-10 10:00] Faiz7412 commented on #311
well, I can see that it installed xvfb which can run chrome in terminal.
I deleted the entire aws instance completely to clear the clutter. Thanks anyway!

[2017-07-10 11:10] diveu commented on #293
@timgrossmann Had the same issue. It was the \' symbol, which was set as ' in js code and it caused the string to exit early, so the <Unexpected identifier> error occured. I think you could solve it by simply escaping the ' symbol with another backslash.
For example:
'that\'s nice!' - this one causes an error once it gets to comments.
'that\\\'s nice!' - should work out just fine.
I tested it just

[2017-07-10 11:42] Mehnou commented on #336
@timgrossmann Hey tim, downloaded it again, now it just crashes immediately when you give it a list to follow, without even running..

[2017-07-10 14:41] vomblyat opened #386 "Strange issue (not a duplicate)"
Hi - I opened an issue a few days ago which was incorrectly closed for being a duplicate (somebody else referenced their problem in a reply, but we don't appear to be having the same error).

Currently, when I run the script I get the first two lines of the following output (that is, both lines which end with "line 477". When I close the chrome window which the script opened up, the rest of the li

[2017-07-10 15:10] diveu commented on #384
Hi!
You should probably ask about it on clarifai forum. https://community.clarifai.com. Usually they say that you've exceeded the quotas. And you should probably look at server responses.
And by the way: you are using #'Clarifai_SECRET' and 'CLARIFAI_ID'. Aren't they from v1? Or v2 should work as well?

[2017-07-10 16:58] datteba opened #387 "Like by feed not working if window is minimized"
Hi!
If browser is minimized the like by feed is not working. It continues to show: "Total Likes uptil now..."

![likebyfeed](https://user-images.githubusercontent.com/30053143/28029801-93432956-65a1-11e7-9c5a-0e177470be0e.png)

[2017-07-10 18:44] timgrossmann commented on #387
@datteba The aggregation as it is right now doesn't work when minimised.
Please use a separate device or a virtual server like DigitalOcean if you need to work on your device.

[2017-07-10 18:44] #387 closed

[2017-07-10 18:47] timgrossmann commented on #293
@diveu If that really is the case, then this issue has nothing to do with InstaPy....
Thank you!

[2017-07-10 18:47] #293 closed

[2017-07-10 19:00] TheXeon81 opened #388 "not open chromedriver"
the script run... but not open chromedriver :-(

![image](https://user-images.githubusercontent.com/5238466/28034795-8dc48680-65b2-11e7-8603-fe9fd8224eea.png)

and after many time... i have this error:

![image](https://user-images.githubusercontent.com/5238466/28034838-aea50352-65b2-11e7-9a6b-59e0accee0c9.png)

Up to 2 days it worked all ... :-(

[2017-07-10 21:02] mo0nz22 commented on #386
After a quick google search, it looks like you have issues with rendering page in your web browser.
try:
1. Download fresh version of the [chromedriver ](https://chromedriver.storage.googleapis.com/index.html?path=2.30/) and put it in './assets/chromedriver'
2. Update drivers for your video card

[2017-07-10 21:21] TheXeon81 commented on #386
i have some problem... https://github.com/timgrossmann/InstaPy/issues/388
but not work...

3 PC... Same mistake ... :-(

[2017-07-10 21:32] razvanilin commented on #293
I don't think that's the issue. I had all the comments escaped in my script and it was still throwing the error randomly. I double-checked the comments again and they are all escaped properly.

I removed the `'` from my comments and see if that's causing the error

[2017-07-10 21:47] mo0nz22 commented on #388
@TheXeon81 Your issue is different than [#386](https://github.com/timgrossmann/InstaPy/issues/386) .
You are getting 10054 Error(""). I don't have enough knowledge to suggest the solution, but it looks like you are getting a rejection from the remote server. Perhaps your IP got banned?
Can you log into Instagram manually?
Also, on the second screenshot Username and Password are listed as "test'. C

[2017-07-10 21:51] TheXeon81 commented on #388
in chrome login and navigate on my instagram profile!
I changed my username and password to make screenshots

[2017-07-10 21:53] diveu commented on #293
@razvanilin yeah, I'm saying it based on removal of `'` character from my comments. And it got the script running the whole day perfectly. Let's see how it works on your side :)

[2017-07-10 22:16] razvanilin commented on #293
got you

The script seems to be working fine for me too. Before, it used to crash after a few comments (probably when encountering one with `'`)

[2017-07-10 23:06] blakemmw commented on #384
To be honest, i have no idea, i'm a rookie with all of this - i'm learning as I go. Do you have a working version of Instapy with clarifai running? It would be great if i had a working version i could compare mine to. @diveu

[2017-07-11 02:28] timgrossmann commented on #384
@blakemmw First, go to the clarifai webpage and check your monthly usage, if this is at the maximum, you can't do anything about it but wait or buy more calls.

Here is a working code snippet:

[code]

Why do you do this three times?

[code]

[2017-07-11 02:31] timgrossmann commented on #388
@TheXeon81
What is your process on executing the script?

You have to "move" to the InstaPy folder in your terminal and then simply do a `python3 quickstart.py` you don't need to do anything with the python REPL...

[2017-07-11 02:33] timgrossmann commented on #386
@vomblyat Make sure that your device got enough RAM, at least 1GB is needed.

[2017-07-11 07:17] blakemmw commented on #384
@timgrossmann copied in the working code snippet and inserted my secret and proj_id and im getting syntax errors. it only runs if i have:
[code]

If these are in place im still getting a throttle error. also tried just having NSFW running an its still not going. i looked up my usage and its <300.

[2017-07-11 09:49] timgrossmann commented on #384
@blakemmw What does the rest of your quickstart file look like?
Please paste the whole quickstart file here.

[2017-07-11 11:47] blakemmw commented on #384
@timgrossmann , here you go:

[code]

[2017-07-11 12:01] timgrossmann commented on #384
@blakemmw But where is the clarifai part?

[2017-07-11 12:04] blakemmw commented on #384
Was i supposed to add something in to this file? Like i said, fairly new to all this..

[2017-07-11 13:10] shapetheLOLa commented on #383
Same problem, and removing `chrome_options.binary_location = chromedriver_location` helped!

[2017-07-11 13:11] RealMakAttak opened #391 "Message: 'chromedriver' executable may have wrong permissions."
I have tried everything to get rid of this error when I try to run any InstaPy script.

selenium.common.exceptions.WebDriverException: Message: 'chromedriver' executable may have wrong permissions. Please see https://sites.google.com/a/chromium.org/chromedriver/home

I run with administrator cmd on windows 10, with full permissions (although the boxes are greyed out so im guessing those permission

[2017-07-11 15:47] TheXeon81 commented on #388
i open my directory in c:\instapy and execute InstaPy-GUI

![image](https://user-images.githubusercontent.com/5238466/28076833-2e52caf0-6660-11e7-916d-3ff60147393e.png)

after i insert:

1. my username
2. my password
3. check following box
4. check unfollowing box
5. check like from tags
6. add the tags
7. check photo
8. check video
9. press run to execute!!!

![image](https://user-images.githubus

[2017-07-11 17:56] jedbanger commented on #336
Anyone managed to solve this?

[2017-07-11 18:26] datteba opened #394 "Like by feed - AttributeError: 'NoneType' has no attribute 'end'"
After this error the terminal closes.

![likebyfeed](https://user-images.githubusercontent.com/30053143/28083895-31b76a40-6677-11e7-8e79-4774fc5ff3a8.PNG)

[2017-07-11 18:31] Nkuutz opened #395 "Docker run doing nothing"
Hi, I'd like to know what should happen once I run InstaPy with docker on the terminal. I get this code: ec7c4610ab425846fd57b66c22d8af200f6a766ffe13fc51de7e26b07eec1c04 but Chrome doesn't open and nothing happens. I have the latest chromedriver and have uninstalled and reinstalled the necessary packages.

[2017-07-11 19:20] onyxim commented on #395
Docker image in the master branch seems to be broken now. I've made  [pull request](https://github.com/timgrossmann/InstaPy/pull/389) which have approved not so long time ago. I think Tim will merge it soon, when checked it.

If you want some really working solution with docker right now, just look at my private fork, [branch docker_microservice](https://github.com/onyxim/InstaPy/tree/docker_micro

[2017-07-11 19:57] Nkuutz commented on #395
How am I supposed to open the docker_quickstart.py if when I clone or download the branch the file isn't there?

[2017-07-11 20:10] timgrossmann commented on #394
@datteba Could you please do a git pull and check that again?
I should've fixed the problem

[2017-07-11 20:10] #394 closed

[2017-07-11 20:16] timgrossmann commented on #384
@blakemmw Where did you add the clarifai?
Where did you write the clarifi part in?

Yes, you're running it with `python quickstart.py` so you have to edit this file 😉

[2017-07-11 20:23] onyxim commented on #395
Your 5900 port simply have been already allocated with the old docker image. Either change port for selenium before ":" (to 5092 for example) or kill old docker image. And try again.

[2017-07-11 20:31] Nkuutz commented on #395
Okay thanks, and what about the username I get asked for along with the "secret" password?

[2017-07-11 20:39] onyxim commented on #395
There is no username. Leave it blank or use [tighVNC](http://www.tightvnc.com/), which is not asks any usernames.

[2017-07-11 20:43] onyxim opened #396 "Develop branch current status?"
What is current status for the develop branch? Is it alive?

[2017-07-11 20:53] onyxim commented on #391
Try to [run with new docker micro services](https://github.com/timgrossmann/InstaPy#running-with-docker-microservices-manual). It completely solves all chromedriver problem.

[2017-07-11 20:53] onyxim commented on #388
Try to [run with new docker micro services](https://github.com/timgrossmann/InstaPy#running-with-docker-microservices-manual). It completely solves all chromedriver problems.

[2017-07-11 20:55] onyxim commented on #358
Try to [run with new docker micro services](https://github.com/timgrossmann/InstaPy#running-with-docker-microservices-manual). It completely solves all environment problems.

[2017-07-11 20:56] onyxim commented on #339
Try to [run with new docker micro services](https://github.com/timgrossmann/InstaPy#running-with-docker-microservices-manual). It completely solves many environment setup problems.

[2017-07-11 21:02] RealMakAttak commented on #391
I will look in to that, thank you very much! @onyxim

[2017-07-11 21:22] diveu opened #397 "unfollowing works only on 19 users"
I'm not sure whether it's an Instagram policy or just a bug, but onfollowing works only twice (first 10 and then 9 users after 10 minute sleep).
Is there any workaround about it? I guess, I should probably try to set longer wait (approx. 12-15 minutes). Anyone got any suggestions?

[2017-07-11 21:24] blakemmw commented on #384
@timgrossmann Ahhhh i think we have totally misunderstood each other. I'm not using quickstart.py to running instapy. I created my own files that I run, all with different hashtags and comment that my pc runs at random at key times per day. There's 9 of them so the bot covers a wider area of instagram. I'll grab one of the documents and I'll show you what i'm doing.

[2017-07-11 21:29] blakemmw commented on #384
At the moment Clarifai is commented out, but if i add what you suggested earlier i get a syntax error. so in order to have the script not throttle, clariafai is completely commented out.

[code]

[2017-07-12 05:05] olgavasileva commented on #339
Same problem here

[2017-07-12 08:45] Cas7or opened #398 "AttributeError: 'InstaPy' object has no attribute 'aborting'"
Hi Guys,

After reinstalling windows10 and reinstalling instapy I get the following output:

C:\Users\usrname\Documents\GitHub\InstaPy>quickstart.py
Traceback (most recent call last):
  File "C:\Users\usrname\Documents\GitHub\InstaPy\quickstart.py", line 3, in <module>
    session = InstaPy(username='usrname', password='pass')
  File "C:\Users\usrname\Documents\GitHub\InstaPy\instapy\instapy.py",

[2017-07-12 10:03] botpadawan commented on #398
I also got the same error updating the latest code

[2017-07-12 10:47] onyxim commented on #398
I've created [the pull request](https://github.com/timgrossmann/InstaPy/pull/399) to fix it.

[Pull the update from my master branch fork](https://github.com/onyxim/InstaPy)  if you want to fix it right now.

[2017-07-12 11:55] SameerKhan commented on #383
Agreed! Removing above worked for me too!

[2017-07-12 12:23] SameerKhan commented on #398
I get the same error.

python quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 14, in <module>
    InstaPy() \
  File "/Users/sameer/OuzelSystems/Experiments/InstaPy/instapy/instapy.py", line 40, in __init__
    self.set_selenium_local_session()
  File "/Users/sameer/OuzelSystems/Experiments/InstaPy/instapy/instapy.py", line 79, in set_selenium_local_session
    if sel

[2017-07-12 12:28] diveu commented on #383
@timgrossmann fixed it in [this](https://github.com/timgrossmann/InstaPy/commit/ef762701d25b9e15cddf22b0f48fdd88aa69f7fd) commit, so I think we could close it

[2017-07-12 12:28] #383 closed

[2017-07-12 12:32] diveu commented on #397
Current quick fix is to run sessions with `unfollow_users(amount=20, onlyInstapyFollowed=True)` multiple times with sleep(725) between them.
Looks like a dirty hack, but it works anyway

[2017-07-12 12:50] TheXeon81 commented on #388
@onyxim  ok!!! in a docker now works!!!!!
my question: ... but the sequence is not too fast ????

[2017-07-12 13:45] RealMakAttak commented on #395
the password "secret" doesnt seem to work - am I being stupid?

[2017-07-12 14:15] kushpvo opened #401 "Interact with list of Accounts"
Is it possible to provide a list of usernames and the bot will interact with the followers of that account?

[2017-07-12 15:07] RealMakAttak opened #402 "Exception thrown when following a given list of people - seems cant find follow button"
On the docker compose logs, the bot keeps failing with this error:

selenium_1  | 15:05:19.361 INFO - Done: [find element: By.xpath: //*[contains(text(), 'Follow')]]
selenium_1  | 15:05:26.343 INFO - Executing: [get text: 7 [[ChromeDriver: chrome on LINUX (740e7b55efacbce37f18d67cb07638dd)] -> xpath: //*[contains(text(), 'Follow')]]])
selenium_1  | 15:05:26.893 WARN - Exception thrown
selenium_1

[2017-07-12 15:11] PJUllrich commented on #13
There seems to be a package on PyPi with this name already: https://pypi.python.org/pypi/instapy

Would be nice to have a package of this library on PyPi soon!

[2017-07-12 19:06] vomblyat commented on #386
I tried downloading a fresh version of chromedriver and updating drivers (which were apparently already up-to-date). My device also does have enough RAM. Somehow, I'm still getting the same error - any insight anyone has would be appreciated!

[2017-07-12 20:37] timgrossmann commented on #386
@vomblyat Could you please paste your quickstart.py content?

[2017-07-12 20:39] timgrossmann commented on #13
@PJUllrich thank you for checking that out...

Yes, we'll try to make that happen pretty soon.

[2017-07-12 20:41] timgrossmann commented on #398
#400

[2017-07-12 20:41] #398 closed

[2017-07-12 20:41] timgrossmann commented on #401
@kushpvo Sadly, that feature is not implemented by now...
I'm sorry

[2017-07-12 20:41] #401 closed

[2017-07-12 20:42] #388 closed

[2017-07-12 20:47] timgrossmann commented on #384
@blakemmw hmm good question, you should write the support of clarifai what the problem could be.
I really don't know.
I had this problem several times, but it always was the case that I reached the limit of free requests for that month.

[2017-07-12 20:49] timgrossmann commented on #396
@onyxim Well it kinda is... There hasn't been a lot of progress, but feel free to further work on it.
Here's the PR for it: #171
The current state should be working, there are still a lot of features missing though

[2017-07-12 21:14] vomblyat commented on #386
from instapy import InstaPy

import os
session = InstaPy(username='[redacted]', password='[redacted]')
session.login()
session.set_do_comment(enabled=True, percentage=25)
session.set_comments(['cool!', 'nice!' ])
session.set_do_follow(enabled=True, percentage=10, times=1)
session.set_lower_follower_count(limit = 0)
session.like_by_tags(['yoga', 'meditation'], amount=50)

session.end()

[2017-07-12 21:39] timgrossmann commented on #386
Try to [run with new docker micro services](https://github.com/timgrossmann/InstaPy#running-with-docker-microservices-manual). It completely solves all chromedriver problems.

[2017-07-13 03:32] kushpvo commented on #401
If it's possible, do work on it. It would be a really efficient feature for this script!
Thanks a ton :)

[2017-07-13 06:23] RealMakAttak commented on #395
Yes I was, have to set the password in tightVNC

[2017-07-13 07:25] kushpvo opened #403 "Linux Setup"
Hello

I'm trying to set this up on a Digital Ocean Ubuntu but i'm unable to run it. There are no instructions on how to run and setup files. Please help!

[2017-07-13 09:26] datteba commented on #394
Thanks Tim! Now it's ok but I get this

![unable](https://user-images.githubusercontent.com/30053143/28159680-0a2a029c-67be-11e7-88bc-62a5fbd11913.png)

[2017-07-13 09:57] timgrossmann commented on #394
@saurabh-kumar-vit Could you please look into this?

[2017-07-13 09:59] timgrossmann commented on #403
@kushpvo There even is a step by step instruction for DO... [Ubuntu Setup](https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu.md)

[2017-07-13 09:59] #403 closed

[2017-07-13 10:01] timgrossmann commented on #401
[You can help make it happen](https://www.patreon.com/InstaPy)

[2017-07-13 10:28] kushpvo commented on #403
Yes I did follow that but i don't know what to do after that

[2017-07-13 13:31] tibor opened #404 "Developer feature: Github Code Owners"
Hi,

not a bug/issue, but it might be interesting for the main developers that github supports [code owners](https://github.com/blog/2392-introducing-code-owners) since last week.

This way, all owners can review new pull requests:

[2017-07-13 13:36] saurabh-kumar-vit commented on #394
@datteba I am unable to reproduce this problem. Can you tell me the configuration of your browser when this error occurred.

In my knowledge this should happen only when selenium is unable to focus on the like button which might happen if you manually try to scroll the page while it is performing the likes.

[2017-07-13 14:13] TheXeon81 opened #405 "info log"
in the docker version... where is located the log folder?

[2017-07-13 15:23] RealMakAttak opened #406 "Asking for advice on how I can help learn to contribute to this project!"
Hello All,

This is fantastic, I am captivated.

I will not lie I am not the best Python programmer but I want to use this project as my chance to learn.

What do I need to learn to pick this apart?

Selenium? Any books people can recommend? Not on Python programming but on what I need to understand this amazing project.

What I am trying to do is make it so that the program will only like/comment

[2017-07-13 15:23] TheXeon81 opened #407 "NOT COMMENT"
today the script in docker version... works... but not comment.... :-(

[2017-07-13 16:19] datteba commented on #394
Thanks for your reply @saurabh-kumar-vit

Where can I see the browser config?
Yesterday worked perfectly but today I get that message. I'm not scrolling the page.

Maybe the problem is caused by this new instagram banner?
![insta](https://user-images.githubusercontent.com/30053143/28176415-989cdade-67f7-11e7-8f99-6507532e5563.PNG)

[2017-07-13 16:32] Nkuutz commented on #395
I tried tighVNC but had no success. I have a Mac and I get this message:

[2017-07-13 16:51] onyxim commented on #395
Oh, Mac. You have to think different, you know:-) I've never tried docker on Mac, so I have clues about cheats and tricks on that platform. Try to changed vnc port in docker-compose file setting, as I described above.

By the way, tightVNC have no official support for Mac. Please, try to use other tool something like [realVNC](https://www.realvnc.com/en/download/vnc/macos/), which is officially su

[2017-07-13 18:11] Nkuutz commented on #395
Yeah, I tried realVNC. That's why I asked about the username. RealVNC asked for a username. I'll try once again... Do you know of any other VNC viewer I could check?

Of course I will post the solution. I guess I'm not the only one experiencing this problem so, if I can help other people, I will.

[2017-07-13 18:31] Nkuutz commented on #395
I managed to use realVNC with localhost:5902. It didn't work two days ago on localhost:5900. However, this is all I see:

![img_7315](https://user-images.githubusercontent.com/13706448/28181844-4c1cd660-680a-11e7-844c-026b9232d9c7.jpg)

[2017-07-13 18:45] onyxim commented on #395
Click on the right arrow near "workspace 4" before there will be "workspace 1". When the bot is running, chrome window will be there.

[2017-07-13 18:48] onyxim commented on #395
To rerun only bot service just type: `docker-compose up -d --build web`

[2017-07-13 18:49] Nkuutz commented on #395
It looks the same on every workspace.

[2017-07-13 19:02] onyxim commented on #395
Type this `docker-compose up -d --force-recreate` and connect again.

[2017-07-13 19:32] Nkuutz commented on #395
There was an error:

`web_1       | Traceback (most recent call last):
web_1       |   File "/usr/local/lib/python3.6/urllib/request.py", line 1318, in do_open
web_1       |     encode_chunked=req.has_header('Transfer-encoding'))
web_1       |   File "/usr/local/lib/python3.6/http/client.py", line 1239, in request
web_1       |     self._send_request(method, url, body, headers, encode_chunked)
web

[2017-07-13 21:43] raaedk commented on #367
Just an update that may help others. Removing the media parameter didn't change anything. I ended up deleting the folder and reinstalling after updating python and that solved my issue. There probably was an error in how I installed it.

[2017-07-14 02:28] kushpvo opened #408 "Problems with Unfollowing"
C:\Users\kushpvo\Documents\GitHub\InstaPy>set PYTHONIOENCODING=UTF-8

C:\Users\kushpvo\Documents\GitHub\InstaPy>py quickstart.py
Logged in successfully!
('set_automated_followed_pool error \n', "[Errno 2] No such file or directory: './logs/the.couples.stuff_followedPool.csv'")
Traceback (most recent call last):
  File "quickstart.py", line 11, in <module>
    session.unfollow_users(amount=10, only

[2017-07-14 05:28] kushpvo commented on #403
@timgrossmann Could you please help me with the following?
1. How to change parameters in linux?
2. how to run the bot in linux?

[2017-07-14 08:21] kushpvo opened #409 "No module named selenium"
![image](https://user-images.githubusercontent.com/511577/28204410-711ee48a-689b-11e7-87f5-e1c713778770.png)

[2017-07-14 10:33] kushpvo commented on #409
![image](https://user-images.githubusercontent.com/511577/28208958-f7a1efa4-68ad-11e7-814d-46e2fe05de1f.png)

[2017-07-14 10:42] #409 closed

[2017-07-14 11:04] diveu opened #410 "Liking limited"
Hey, guys
I had my liking feature temporary blocked, but commenting and following still works.
It's not permanent as I can say, because some likes were set, but not as much as I needed.
How long does it usually take to restore the full liking ability? I guess, I went over the limit with almost 1000 likes per day and 150-175 new followers, which were unfollowed at the end of the day. I took a look

[2017-07-14 11:45] kushpvo opened #411 "Automate using Crontab"
I just deployed the script on my Vultr server and I'm about to setup automation using Crontab to run the script every 4 hours.
But what if the old running script takes more than 4 hours to end?
How do I determine how much time will it take for one script to end? Because I have lot of hashtags put in for the script to work on..

So what would be the ideal thing? To reduce the number of interaction

[2017-07-14 11:48] kushpvo commented on #411
Is this too much for the script to do? Will it result in a ban?
Please help in optimizing in that case.

`from instapy import InstaPy
import os

session = InstaPy(username='blah', password='blah')
session.login()

session.set_upper_follower_count(limit = 5000)

session.set_do_follow(enabled=True, percentage=25, times=1)

session.set_do_comment(enabled=True, percentage=40)
session.set_comments(['Aw

[2017-07-14 13:57] lgr commented on #408
I had the same problem on OSX, just created a pull request to fix it:
https://github.com/timgrossmann/InstaPy/pull/412

[2017-07-14 15:45] onyxim commented on #395
Please, post here your full bot code (without credential for sure). Or better attach it to message.

[2017-07-14 16:45] Nkuutz commented on #395
There you go.
[InstaPy.zip](https://github.com/timgrossmann/InstaPy/files/1149116/InstaPy.zip)

[2017-07-14 17:58] onyxim commented on #395
Please delete your credentials from archive and better change your insta password quick. Now it is obviously exposed.

[2017-07-14 18:04] Nkuutz commented on #395
Oh... I thought I only had to change them on quickstart! Thanks for the alert! Here it is.

[InstaPy.zip](https://github.com/timgrossmann/InstaPy/files/1149310/InstaPy.zip)

[2017-07-14 18:35] onyxim commented on #395
Ok, @Nkuutz . I wish, but couldn't help you right now, because docker on mac  still very young, and have a lot of restrictions. And what is the worst fact, that I currently know nothing about this restrictions:-D

So, I suggest you  prepare and post an issue to the [official docker repository](https://github.com/docker/for-mac/issues). Put there docker-compose.yml file and log above and describe b

[2017-07-14 18:41] Nkuutz commented on #395
I just got a Raspberry so tomorrow I'll be trying it on NOOBS which is basically Linux, I hope it works. In case it doesn't, I would post an issue to the official docker repository.

Thank you very much for your patience, effort and help. I really appreciate it @onyxim .

[2017-07-14 19:47] selcukahmet commented on #408
For temporary fix change this
`dialog = browser.find_element_by_xpath('/html/body/div[2]/div/div[2]/div/div[2]')`
this line as
`dialog = browser.find_element_by_class_name('_4gt3b')`
on InstaPy/instapy/unfollow_util.py Line 53

[2017-07-15 10:11] onyxim commented on #407
There are no changes in comments sections in new docker architecture. And it works as I can see.

But , I am currently working on new version of InstaPy with new global limits settings (based on schedule mechanism) including for comments. I hope to release it during 1 or 2 next weeks. Stay tuned!

So if it  really doesn't work in Docker, I'll fix it soon or later. Because Docker is the most breakt

[2017-07-15 12:27] Nkuutz opened #413 "'InstaPy' object has no attribute 'aborting'"
I get this error when executing python3 quickstart.py on my Raspberry.

`Traceback (most recent call last):
  File "quickstart.py", line 19, in <module>
    .end()
  File "/home/pi/InstaPy/instapy/instapy.py", line 40, in __init__
    self.set_selenium_local_session()
  File "/home/pi/InstaPy/instapy/instapy.py", line 79, in set_selenium_local_session
    if self.aborting:
AttributeError: 'InstaPy

[2017-07-15 12:59] timgrossmann commented on #413
@Nkuutz Please paste your quickstart.py file here.

[2017-07-15 13:01] timgrossmann commented on #408
#412

[2017-07-15 13:01] #408 closed

[2017-07-15 13:03] timgrossmann commented on #411
@kushpvo Just for your information, if you run that script, you'll most likely get banned in like 2-3 hours...
You shouldn't use it this excessive...

To see how long it takes, let it run once and e.g. on the Digital Ocean Graph view of the server, you can see how long the activity there was.

[2017-07-15 13:04] timgrossmann commented on #410
@diveu It will take ~1 day to get back to normal (at least it was like this for me)...

[2017-07-15 13:04] #410 closed

[2017-07-15 13:06] Nkuutz commented on #413
There you go.
[quickstart.txt](https://github.com/timgrossmann/InstaPy/files/1150335/quickstart.txt)

[2017-07-15 13:08] timgrossmann commented on #406
@RealMakAttak Thank you!

There is a `.follow_by_list` feature, but this will only follow the people given in the list.
It would be awesome if you could develop that feature!

Maybe you could start with some simple automation with python and selenium.
It's not too hard to pick up.
I gave a talk about "Automating Instagram with Python and Selenium", you can take a look at it and check out the slide

[2017-07-15 13:11] timgrossmann commented on #404
@tibor Yes I saw that a few hours ago.
Could you work on that?

Thank you

[2017-07-15 13:21] kushpvo commented on #411
@timgrossmann Yes, I did realize that. Later, i added random delays between activities and randomized the tag amount.
And just FYI, to make it run indefinitely, I'm looping the script with multiple random delays and multiple points where it would end the session, wait for some time and then restart the session and stuff.

Thanks for the help! 👍

[2017-07-15 14:01] kushpvo commented on #406
Hello!

Just like you, even i'm amazed to have this script.

I'd like to contribute as well. The feature that I want on this script is to interact with followers of competitors. So, if i put in few usernames of my competitors accounts, the bot should like/comment/follow the followers of those accounts.

I'm a beginner python programmer so I don't think I'd be able to do that at this stage, but i'l

[2017-07-15 15:40] Nkuutz commented on #413
Having done a few tweaks that I cannot now remember, I get this error.

`Traceback (most recent call last):
  File "quickstart.py", line 23, in <module>
    .end()
  File "/home/pi/InstaPy/instapy/instapy.py", line 76, in __init__
    self.set_selenium_local_session()
  File "/home/pi/InstaPy/instapy/instapy.py", line 89, in set_selenium_local_session
    self.browser = webdriver.Chrome(chromedriv

[2017-07-15 17:23] Naramsim commented on #335
Im getting the same error with the latest version

[2017-07-15 20:27] #411 closed

[2017-07-15 20:28] timgrossmann commented on #406
@kushpvo Go for it!
Trying out is the best way to learn. You can simply work on the feature on your local copy and once it's working you can still contribute it 😉

[2017-07-16 00:00] mantjob opened #414 "trying to like media not like error 400"
who can help me i have login but hi is not liking picture its say trying to like media and than error 400or not liked 400

[2017-07-16 06:59] kushpvo commented on #335
I'm getting the same error. Running it on DO, 2GB RAM server.  Also, I'm using `noGUI=TRUE` since it is on a server.

`[38/101]
Image from: b'a_h_m_e_d_a_b_a_d__s_h_o_u_t'
Number of Followers: 785
Link: b'https://www.instagram.com/p/BWmNJuUlnDg/?tagged=desi'
Description: b"we welcome  you  at Ahmedabad shout out \xf0\x9f\x91\x8dFollow  @Y_A_S_H_9098 and follow  our page @ahmedabad swagers for shot

[2017-07-16 11:45] hasangok opened #415 "A new function request to skip following some usernames"
Hi!

I think it would be great if this script has a function something like set_ignore_users_if_usename_contains :)

I selected some locations and tags, following and commenting on posts to attact my target group for a while, and it's working very well. But I'm always following some blabla_photography and ig_blabla accounts. A function to skip all of them would be great!

Thanks!

[2017-07-16 14:11] timgrossmann commented on #415
@hasangok Would be interesting to see how many people think this is an interesting feature.

[2017-07-16 14:12] timgrossmann commented on #414
@mantjob Could you give some more details. please?

OS?
How does your quickstart file look like?

[2017-07-16 19:18] Pormientras commented on #406
Hey Tim this is my first post and first let me tell you a big Thank you!

Now, im interested in what kushpvo is asking for, which would be great for people trying to promote certain business. I just started learning python and I dont think im ready to jump for something like this but I found this Instagram API that gives you a full list of the followers of any account you enter https://www.magimet

[2017-07-17 07:19] RealMakAttak commented on #406
@timgrossmann Thank you very much Tim, I will do my best!

[2017-07-18 00:06] Spiz commented on #12
Ok, sorry, been away for a long while. Back at it with the latest code. When I use the code you pasted here, or example.py in /examples/, I still get the 'No module named 'clarifai' error. This happens even though, like you say, the use_clarifai defaults to false ("session.set_use_clarifai(enabled=False, secret='xyz', proj_id='123')" in the default example.py, which I didn't touch).

Is there some

[2017-07-18 01:25] kushpvo commented on #335
@timgrossmann Please help here.

[2017-07-18 04:34] DeependraSinghC opened #417 "Error on executing the example.py file"
I have followed all the steps mentioned on the home page but I still can't get to fix the below error:

[code]

I know it's a dependency error but how do I fix this?
Thanks

[2017-07-18 04:41] timgrossmann commented on #12
@Spiz Make sure to use python3 and make sure the install is with `pip3` instead of only `pip`

[2017-07-18 04:42] timgrossmann commented on #417
You need to make sure that the file you're executing is at the level of the `quickstart.py` file.
It won't work if your file is somewhere else

[2017-07-18 04:43] timgrossmann commented on #335
@kushpvo I hope you do understand, that I can't afford to work on this my whole time... This does not generate any money for me, so you have to wait until I can find some time to look into it.
I'm sorry

[2017-07-18 05:05] DeependraSinghC commented on #417
Works now. Thanks! This is great. :)

[2017-07-18 05:07] kushpvo commented on #335
@timgrossmann Hey Tim! I totally understand that. I really appreciate your time and efforts for this project! 👍

[2017-07-18 06:05] #417 closed

[2017-07-18 07:49] FBosler commented on #335
@kushpvo as stated earlier you could try to fix this yourself. Selenium isn't really that hard.

[2017-07-18 08:39] Naramsim commented on #335
Just understand why it happens, on my previous machine it occurred every time because I had low RAM and instapy had to work on swap, which is slower. So the selenium browser couldn't load all element and thus fail to click something, now that I switched to a 1.75GB RAM server, the error went away.

[2017-07-18 09:09] kushpvo commented on #335
@FBosler I did try that before posting here and it didn't help. The reason why it didn't help could be because I'm running it on a sever without GUI.

@Naramsim I did think that 2GB RAM server won't be enough (though it's more than enough) so i tried on 4GB server but the problem persists.

[2017-07-18 09:33] Naramsim commented on #335
Hey, maybe your problem is pending/zombie process that eats your ram, after every job, do a `pkill chrome && pkill xvfb`

I run the script fine now with 1.75 GB RAM

[2017-07-18 09:39] kushpvo commented on #335
@Naramsim How can I add/import this command into the quickstart.py file itself?
Thanks 👍

[2017-07-18 13:08] Naramsim commented on #335
What I´m doing right now is:

[code]

[2017-07-18 18:11] deronsizemore commented on #352
Can you explain how you went about this?

[2017-07-18 18:31] Spiz commented on #12
I am using python3, and do you mean pip3 for the install of clarifai? I'm trying to see if there's a way to use instapy without using clarifai at all..

That being said, to try it, I installed clarifai with pip3, and tried running the same script, now I'm getting the error:
" C:\Users\Matt>c:\users\matt\desktop\instapy-master\example.py
Traceback (most recent call last):
  File "C:\Users\Matt\Desk

[2017-07-18 18:32] deronsizemore opened #418 "Order of items in quickstart?"
[code]

So I've got the above basic options. When I run the script, it starts working and does its thing but it looks like it start going through and liking photos first rather than following. Wouldn't it go through and follow users first since that's first in the list of items?

[2017-07-18 18:57] timgrossmann commented on #12
@Spiz If you want to use it without clarifai you can do that.

Where is your quickstart.py file located? Did you change something in the folder structure?

[2017-07-18 19:02] timgrossmann commented on #418
@deronsizemore Good question!

Well not exactly...
all the `.set_something` methods only define what should happen when the run `.like_by_something` is called.

So you are only defining options there. It's like this:

[code]

[2017-07-18 19:02] #418 closed

[2017-07-18 19:44] deronsizemore commented on #418
Ah, thanks. That makes sense now.

Can you explain that further? I'm sorry, I'm not sure I ever really understood what was meant by that percentage parameter and "with a 60% chance" seems even more confusing to me. I'm sure I'm just missing something obvious.

[2017-07-18 20:33] sweb1 commented on #248
Is this already released or what is the current unfollowing behaviour?

[2017-07-18 20:34] Spiz commented on #12
It's in the main directory, but to be doubly sure, I just redownloaded the zip. I used the exact default quickstart.py with my login info and run it from an administrator command window and get the same error (no such file or directory: './logs/logfile.txt'). Same thing in powershell. Is there something I'm missing?

[2017-07-18 21:06] sweb1 commented on #336
I have installed now latest Instapy version and run it from command line, still getting the error on first or second user (win 10, python 3.6).
@Nemixalone here is the quickstart.py content:
accs = ['technik_tim','imtheonlycaptain','emilio.hasanov','serenacv96']
session.follow_by_list(accs, times=1)

[2017-07-19 03:27] pattersonrptr commented on #177
I'm having the same problem but it did not help put nogui=True in the constructor, it still gives the same error. Did you get it fixed?

[2017-07-19 04:16] timgrossmann commented on #12
@Spiz Please try to use git instead of downloading the zip...

Download git for windows and then do a `git pull https://github.com/timgrossmann/InstaPy.git` to download the repository. Then follow the install instructions

[2017-07-19 04:22] timgrossmann commented on #418
@deronsizemore Well I hope to be able to, I don't really understand what you don't understand.

It's pretty simple, if you ever observed the behaviour of the script, you can see that it's going through the amount of images you provided.
For every image it likes, it will draw a "random" number and if that random number is smaller than your percentage, the account will be followed/commented.

60% me

[2017-07-19 04:23] timgrossmann commented on #248
@sweb1 Nope, there is another feature which will only unfollow the accounts that have been followed by InstaPy itself. So if you use that from the beginning of your account you will get what you want. But it's not exactly what this issue is here for

[2017-07-19 05:58] Spiz commented on #12
Oh man, so sorry, and reading back through I see those were exactly the instructions you give. Thanks so much for you patience and help, I'm obviously new to this. And that worked, thanks!

While I'm learning, if you don't mind, why exactly does it only work if cloned through git? The download is simply the most recent version of the code anyway right?

[2017-07-19 06:49] #406 closed

[2017-07-19 06:55] RealMakAttak opened #419 "Clarification of documentation"
Hello all and @timgrossmann ,

I am just wondering how InstaPy does it's counting - I tried looking over the documentation but couldn't find anything. If you would be so kind as to explain the result of the following settings it will answer all questions:

1.  bot.like_by_tags(['x', 'y'], amount=10)

does that mean 5 for x and 5 for y or 10 for x and 10 for y?

2. bot.set_upper_follower_count(limi

[2017-07-19 07:03] RealMakAttak commented on #402
@timgrossmann sorry Tim but any ideas on this?

[2017-07-19 14:31] timgrossmann commented on #419
@RealMakAttak

**For every tag it likes the given amount of pictures**... in your case 10 for x and 10 for y.

Well, right now it's "*take a look at 100 pics*" which means if 15 of these 100 pics are inappropriate or not to be like because of too many followers, then the script will only like 85 pics and stop then.

This will be part of InstaPy_V1 to make sure if you want to like 100 pics, the scr

[2017-07-19 14:31] #419 closed

[2017-07-19 15:58] NewyorkDev opened #420 "No Such File or Directory './logs/user_followedPool.csv [errno 2]"
I only get this error when I added the following code - I posted my quickstart file below.

[code]

![image](https://user-images.githubusercontent.com/16314793/28376935-699fb36a-6c79-11e7-9d90-85ebc8fdd1fb.png)

![image](https://user-images.githubusercontent.com/16314793/28376914-5d46f6fa-6c79-11e7-8e24-9cf2c25e5c2b.png)

[2017-07-19 18:15] RealMakAttak commented on #419
@timgrossmann

Thank you for your reply. The change from "take a look..." to "like x amount" will be much welcomed.

Thanks again.

[2017-07-19 18:30] NewyorkDev commented on #397
it appears to only be on Linux for me - on the windows side it works. on ubuntu it stops at 19. When I have it set for 300.

[2017-07-20 04:50] kushpvo commented on #214
I'm getting this error frequently.

`[82/191]
Traceback (most recent call last):
  File "quickstart.py", line 28, in <module>
    session.like_by_tags(['#nyc', 'miami', 'chicago', 'losangeles'], amount=randint(minTag, maxTag))
  File "/root/InstaPy/instapy/instapy.py", line 430, in like_by_tags
    self.like_by_followers_lower_limit)
  File "/root/InstaPy/instapy/like_util.py", line 176, in check_

[2017-07-20 10:14] RealMakAttak opened #421 "Not an issue but a request for advice on "cron" in docker for windows"
Hello all,

Would someone please point me in the direction of how to run timed docker-compose builds in docker on windows - at the moment I am having to manually run it from the command line throughout the day, bit annoying.

Many thanks!

Mak

[2017-07-20 19:57] deronsizemore commented on #418
@timgrossmann Ah, ok. That makes sense. Sorry for my ignorance. I tend to overthink things. :)

[2017-07-20 22:34] nsilenzi opened #422 "Errors always! (pip install)"
I can not install "instapy".
What I do?

(TUTORIAL)
1. For a start you need:

(ME)
- open terminal
- download Python (2.x and 3.x)
<img width="488" alt="screen shot 2017-07-21 at 00 30 43" src="https://user-images.githubusercontent.com/6278152/28441598-edbe727a-6dab-11e7-85cf-3c0c9cb38fd3.png">
<img width="490" alt="screen shot 2017-07-21 at 00 31 00" src="https://user-images.githubusercontent.com

[2017-07-20 23:57] kushpvo opened #423 "Timeout Error"
I'm getting this error frequently. Everything else works fine.

`[82/191] Traceback (most recent call last): File "quickstart.py", line 28, in <module> session.like_by_tags(['#nyc', 'miami', 'chicago', 'losangeles'], amount=randint(minTag, maxTag)) File "/root/InstaPy/instapy/instapy.py", line 430, in like_by_tags self.like_by_followers_lower_limit) File "/root/InstaPy/instapy/like_util.py", line

[2017-07-20 23:59] kushpvo commented on #422
Install pip first.
`sudo easy_install pip`

[2017-07-21 04:38] timgrossmann commented on #418
@deronsizemore No problem 😉

[2017-07-21 04:40] timgrossmann commented on #423
@kushpvo Do you have enough RAM?
Are there any zombie instances running? (ps aux)

[2017-07-21 04:50] kushpvo commented on #423
Yes, 2GB RAM Server.
No, i checked for Zombie Instances, none running.

[2017-07-21 06:18] bubolumunadi commented on #415
Hi,

I agree with @hasangok ,i think it would be useful to eliminate some similar type of accounts like some groups or promotion accounts, so we can have interaction with just personal accounts.

[2017-07-21 09:39] nsilenzi commented on #422
If I write `sudo easy_install pip`

<img width="490" alt="screen shot 2017-07-21 at 11 39 04" src="https://user-images.githubusercontent.com/6278152/28458210-3b8d10a8-6e09-11e7-8c41-9a3334507933.png">

[2017-07-22 10:57] Naramsim commented on #421
Hey, consider this two solutions:
Use cron inside the container, use [schedule](https://github.com/dbader/schedule)

[2017-07-22 18:56] sionking commented on #363
Can you share the solution for 1.0 ?

[2017-07-22 19:15] sionking opened #424 "Export to the user list all the followers of a specific user."
I would like to get likes and follow/unfollow of all followers of a specific account in instagram.
For example I have a computer shop in Instagram and I would like to get all Intel followers to a list.

Thanks.
Sion.

[2017-07-22 19:43] sionking opened #425 "Follow by list not working"
![image](https://user-images.githubusercontent.com/7851877/28494156-1c175aea-6f2f-11e7-93d9-17332709817b.png)

with the follow:
accs = ['therock','natgeo']
session.follow_by_list(accs, times=1)

[2017-07-23 11:51] just-radovan opened #426 "Random pick of what to do"
For us, who don't run this script indefinitely, it would be great to configure **random behavior**. In current state it picks tags and locations always in the same order. Meaning if I run the script for two hours a day, it will never reach tags further in the list.

[2017-07-23 17:04] RealMakAttak commented on #421
@Naramsim Thank you very much for your suggestions, I used a version of schedule and that has worked sufficiently for the time being.

Thanks again!

[2017-07-23 17:04] #421 closed

[2017-07-23 18:38] n0sw34r opened #427 "I am Lost :/ Help please"
Hello
I set up new Ubuntu 14.04.5 x64 droplet with Digitalocean. Then I moved on Advanced Installation as showen here https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu.md .
Then I edited quickstart.py like this:

from instapy import InstaPy
session = InstaPy(username='myinstausername', password='myinstpass', nogui=True)
session.login()
session.unfollow_users(amount=10)
sess

[2017-07-23 23:02] mr-White commented on #427
Have you tried running the python script without a cronjob?

I found an issue with python versioning. I had to figure out the python version, then use that to install all proper dependencies

[2017-07-23 23:27] mr-White opened #429 "set_ignore_users() & set_upper_follower_count() do not effect like_by_feed()"
I am using this bot for my personal Instagram account. I'm not interested in follows/unfollows, simply liking images that I typically would like to maintain a level of activity on my private Instagram account, while no longer using it.

I have InstaPy working, here is my code (sensitive data redacted):
[code]
The script runs and displays output as expected.

However, I've noticed that the `like_by

[2017-07-23 23:37] mr-White commented on #429
I took a look at the code. Doesn't appear to be referencing any of those constraining functions.

Feature request?

I might fork the project and work on making those functions applicable to the `like_by_feed()`. For now, I'll take a look at some alternatives

[2017-07-23 23:45] XtraQ8 opened #430 "Says Liked but no actual likes are performed"
Hello,

I have this issue where the app says Liked in the shell, but when I check my liked images, none of the set images are liked. I've tried both liking by a tag and liking my own news feed.

[2017-07-24 01:52] andrewjburnett commented on #126
Can anyone help with further instructions on setting this up on a Raspberry Pi 3?

[2017-07-24 03:59] andrewjburnett commented on #316
@gitpatrickhub Any luck getting this to work?

[2017-07-24 04:22] gitpatrickhub commented on #316
@andrewjburnett ExaGear was of zero help, they actually stopped responding me chats and email inquiries. I ended up taking Tim's advice and switched to Firefox instead of Chrome. After making the change I was able to get the program to run on the rpi3.

[2017-07-24 07:34] RealMakAttak commented on #425
yes there seems to be a problem here, @timgrossmann has been made aware by me before there is a bug, just waiting for a fix :) Thanks!

[2017-07-24 07:35] RealMakAttak commented on #402
@sionking

[2017-07-24 11:23] psam25 opened #431 "Follow all users from a other user"
How can I follow all users from a specific user or beter to follow all people who liked a recent media of this user?

[2017-07-24 12:20] n0sw34r commented on #427
I tried run with python3 quickstart.py but I got error "Wrong login data!" I have corect login data and also when I try to login to that acc after running InstaPy I got instagram message to verify myself with email code... So is it possible that script is getting same verification message?

[2017-07-24 12:47] sionking commented on #431
I requested this as well, I might try to implement in my free time (none).

[2017-07-24 14:39] XtraQ8 commented on #430
**_Solved:_**

Updated the chromedriver to the latest one but wasn't fixed until after a 6+ sleep.

Could be the updated driver or I just needed to wait..

[2017-07-24 15:26] andrewjburnett commented on #316
@gitpatrickhub If it's not too much trouble can you give me a general walkthrough of what you did to get it all set up? Which dependencies were necessary, etc. I have a Raspberry Pi coming in the mail, but I have little experience outside of a standard python dev environment on a Mac.

[2017-07-24 16:15] #427 closed

[2017-07-24 19:00] timgrossmann commented on #430
@XtraQ8 Maybe you'r account has been blocked for liking or something like that

[2017-07-24 19:00] #430 closed

[2017-07-24 19:41] gitpatrickhub commented on #316
@andrewjburnett I'll do my best. I started off using a monitor, wireless keyboard and mouse, but configured to move to headless with ssh and tightvnc.

1) connect rpi3 to monitor via HDMI
2) connect internet via cat5
3) insert usb for wireless keyboard and mouse
4) plug in rpi3 with sd card preloaded with NOOBs
5) select country & install Raspbian
6) open terminal --> sudo raspi-config -->interfac

[2017-07-24 20:00] timgrossmann commented on #429
@mr-White Yes exactly, this is something that still has to be done.
Would be awesome if you could implement this!
Would love to see it. (Same functionality as the other `.like_by_..` methods)

[2017-07-24 20:01] timgrossmann commented on #316
@gitpatrickhub You are awesome!

[2017-07-24 20:08] gitpatrickhub commented on #316
@timgrossmann just happy to contribute to this project.

[2017-07-24 20:18] mr-White commented on #427
@n0sw34r fyi this script runs through a proxy. Instagram asked me if I was accessing my Instagram account from Ukraine, as it flagged it as unusual behavior.

@timgrossmann I haven't read anything in the documentation about the use of a proxy. Are you running it? To my understanding, Social Media services such as Instagram have a black list of IP's for popular web hosting services to limit bot usa

[2017-07-24 20:19] mr-White commented on #429
@timgrossmann I'll see what I can do once I get some free time, maybe this coming weekend. My Python skills are rather rusty... it's been 10 years since I've last used it

Any direction or suggestions will be greatly appreciated 👍

[2017-07-24 20:45] timgrossmann commented on #427
@mr-White Well, there is a PR about implementing a proxy, but there is none actually running... #273

[2017-07-24 20:47] timgrossmann commented on #429
@mr-White I'm pretty sure you can handle that well.
It's actually really similar to the other `.like_by_...` methods.
Once this is implemented, I probably will start cleaning and refactoring before this completely explodes.

[2017-07-24 20:48] timgrossmann commented on #316
Could someone here approve the guide as working?
I could add this to the documentation then.

[2017-07-25 00:45] mr-White commented on #427
@timgrossmann Strange. I'm going to have to check some logs later.

Thank you for correcting my false assumption

[2017-07-25 06:47] hasangok commented on #425
It can be coincidence, but after surounding follow_given_user function with try/except, it started working for me.

[2017-07-25 12:48] n0sw34r opened #432 "Running multiple account on one server?"
Hello everyone is it possible to run multiple insta accounts on one server with this script?
Thanks

[2017-07-25 13:15] andrewjburnett commented on #316
@timgrossmann I'll be able to confirm as soon as my Raspberry comes in the mail today or tomorrow.

@gitpatrickhub Thank you so much! This is invaluable.

[2017-07-25 16:43] timgrossmann commented on #432
@n0sw34r Just clone it several times and rename it....

[2017-07-25 16:43] #432 closed

[2017-07-25 21:44] aReaSa commented on #336
I have installed now latest Instapy version and run it from command line, still getting the error on first running

[2017-07-25 23:18] NewyorkDev opened #434 "Server Freeze's"
I run this script on an ubuntu server using a cron job but every like 10 hours the server freeze's cause it runs out of ram (1gb) I've tried creating scripts for Ubuntu but none have been working great.

[2017-07-26 01:03] gitpatrickhub commented on #292
I am encountering the same issue when I run from my rpi3 using Firefox. If I run the same quickstart.py file from macbook using Chrome it runs fine. However, it is not taking the type of media into account.

InstaPy()\
  .login()\
  .set_upper_follower_count(limit = 2500) \
  .set_do_comment(True, percentage=75) \
  .set_comments(['Sweet pic!', 'Sweet!'], media='Photo') \
  .set_comments(['Sweet v

[2017-07-26 05:39] timgrossmann commented on #434
@NewyorkDev You could try to call `reboot` after every "session".

[2017-07-26 05:59] karlmbagna opened #435 "Not opening"
I have everything already set up but when I run the GUI, it opens for half a second and directly closes.

[2017-07-26 06:37] Spiz commented on #397
Python noob here, where exactly do I put "sleep(725)"?

[2017-07-26 07:26] RealJamesMoriarty opened #436 "Disable like - comment only"
Is there any possibility to disable "Like" feature and do only commenting stuff?

[2017-07-26 08:04] RealMakAttak commented on #335
this bug is a bastard. It only happens when you like and comment and then try to follow.

How can I actually see what is happening when I run it on a server? @timgrossmann

Thanks

[2017-07-26 08:32] RealMakAttak commented on #335
Hey all and @timgrossmann

Sorry to ask another question - I'm quite happy to try and fix this but I'm sure the way I'm testing things is basic.

I just make changes to the script and then sit there watching the terminal output until it breaks, if it does, I do it again...it's long.

How can I speed this up or get some kind of visual?

Many thanks!

[2017-07-26 10:25] Naramsim commented on #335
@RealMakAttak debug locally using noGui=False

[2017-07-26 12:43] commit-master commented on #422
You need to install pip.
Download this [file](https://bootstrap.pypa.io/get-pip.py) and save it as **get-pip.py**. Then in your terminal, in the same folder where you downloaded the file type in: `python get-pip.py`.

[2017-07-26 13:13] FBosler commented on #338
@timgrossmann sorry to bother you with this, but since I am fairly new to servers I figured it wouldn't hurt to ask. What do I have to add to my python script to reboot the server? Can I just add a simple `reboot` at the end of the script?

[2017-07-26 14:04] Mehnou commented on #336
Me too..

[2017-07-26 16:03] GonzaloZiadi commented on #361
@timgrossmann Tim, let's say I set .set_upper_followers(limit=250). For some hashtag the first 20 pictures will be by users with large amounts of followers, so I won't like any of those pictures unless I set a really high number in like_by_tags.
Using set_upper_followers() works, but it takes a lot of time. I think a 'skip the "top" in each hashtag' feature would be beneficial.

[2017-07-26 16:09] onehtwndr commented on #316
Tried it with an odroid (similar to raspberry pi) and can confirm it works!

[2017-07-26 16:44] dc500 commented on #391
If anyone has this problem on Mac try ` brew install chromedriver`

[2017-07-26 20:38] #391 closed

[2017-07-26 20:38] timgrossmann commented on #316
@onehtwndr @gitpatrickhub So awesome, thank you for this!

[2017-07-26 20:38] #316 closed

[2017-07-26 20:40] jeffreylm opened #437 "asset directory?"
Where is the asset directory? So I can put the crome driver in it. In your install instructions you just say, place in asset director with no explanation as to if we need to create it or is it a subdirctoory of pyton or Instapy.

[2017-07-26 20:45] timgrossmann commented on #437
@jeffreylm It's already present at the root level of the project...

[2017-07-26 20:45] #437 closed

[2017-07-26 20:47] timgrossmann commented on #338
@FBosler
[code]

should do it.

[2017-07-26 20:49] timgrossmann commented on #436
@RealJamesMoriarty Not at this time

[2017-07-26 20:49] #436 closed

[2017-07-26 20:50] timgrossmann commented on #435
@karlmbagna Please provide some information about your system and where you run it.
Also post the content of your `quickstart.py` file (make sure to remove your credentials)

[2017-07-26 21:00] Nemixalone commented on #336
@sweb1 Well the formatting from GUI is fine as i can see,but i get this error on first account with **command line**.

`--> technik_tim instagram account is opened...
Traceback (most recent call last):
  File "quickstart.py", line 6, in <module>
    session.follow_by_list(accs, times=1)
  File "C:\Users\Nemanja\Desktop\InstaPy-master\instapy\instapy.py", line 261, i
n follow_by_list
    followed +

[2017-07-27 01:06] mynameisearl opened #438 "not opening"
Hello i made all the steps except the 4*, but my bot is not working.
*What i have to do in the step 4? add the line inside:
from clarifai.client import ClarifaiApi and it's ok?
once i run the GUI it starts and closes in 2 seconds, i tried to see what is saying and it appears this:
![instabot](https://user-images.githubusercontent.com/29730507/28649898-6fdac94a-7278-11e7-82e9-546c3e82ba47.png)

[2017-07-27 05:16] timgrossmann commented on #438
@Nemixalone

[2017-07-27 08:16] jeffreylm opened #439 "Video tutorial"
Dear Tim,

I have been struggling with this app for some days now. I followed the steps, but there are little things that are missing for a non programmer to understand. Such as when the app starts does Chrome needs to be open, and if so does it need to be logged into the account. When you say comment out Clarifai in the instapy.py file. I opened it up, it is a behemoth of a file with many entries

[2017-07-27 11:14] s6s8 commented on #439
I believe this would attract extra unwanted attention to this app. And having users who know what they are doing is what makes this app what it is today.
But again, its up to the dev to decide which way he wants to go.

@jeffreylm Sorry, I don't mean to be rude at all.

[2017-07-27 11:28] RealMakAttak commented on #335
@Naramsim Thanks for your reply. I tried doing it locally on docker with nogui=false, I also logged in to tightvnc at port 5900 as suggested in the docker instapy docs - all I get is a stream of my screen, no bot.
Can you think of what I am doing wrong?
Thank you

[2017-07-27 11:53] FBosler opened #440 "Script crashes on Server"
My script has been crashing on the server for quite some time now, I am not really sure what the reason for this is. Please find below an excerpt from the server syslog:

[code]

It does look like the server is running out of memory?

[2017-07-27 13:30] jeffreylm opened #441 "Invalid syntax quickstart.py"
Hello,

When I start quickstart from the command line in python interpreter I get the following error.

**This is what I type:**

py quickstart.py

**Error message:**

File "<stdin>", line 1
py quickstart.py

SyntaxError: invalid syntax

I am new to Python, and I have used version 3.6.2 python on windows

Here is what is in my quickstart.py ( I removed the login and password naturaly.)
I am using

[2017-07-27 13:33] jeffreylm opened #442 "Video showing the steps"
Could someone make a video showing the steps.
Also could someone tell me if I need to have chrome running and logged into my account for this bot to work?
New to the python, Bot & chrome driver concept.

Thank you in advance,
Jeffrey

[2017-07-27 14:23] kthyaki opened #443 "It has been running just fine until..."
It has been running just fine until certain point then I get the following message:

[code]

Would anyone help please?

[2017-07-27 14:31] jeffreylm commented on #439
Hello Tim,
That made total sense. Didn't think of it like that. I am struggling to make it work.
Do I need to have chrome running and logged into my account when I run the script?
Greeting,
Jeffrey

Sent from [ProtonMail](https://protonmail.com), Swiss-based encrypted email.

[2017-07-27 16:13] timgrossmann commented on #439
@jeffreylm Of course this would be a good idea, but this also takes quite some time I currently sadly don't have...
Maybe there is someone here, who could do that, would be amazing!

[2017-07-27 16:13] timgrossmann commented on #442
#439

[2017-07-27 16:13] #442 closed

[2017-07-27 16:28] timgrossmann commented on #441
@jeffreylm When using the GUI you don't need to start the file from the command line, what is the reason you're doing this?

Did you define `py` as an alias for `python3` ?
Please try to run the file with `python3.5 quickstart.py` and make sure that the quickstart file is in the root directory of the folder

[2017-07-27 16:29] timgrossmann commented on #440
@FBosler Yes, when InstaPy crashes, it is not closing off any pyvirutaldisplay and chrome instances...
What you an do to fight that, is wrapping the InstaPy part in a try-catch and in the catch area, simply do a reboot of the server.

[2017-07-27 16:31] timgrossmann commented on #439
@jeffreylm No, it will start an instance of chrome and log you in by itself.

[2017-07-27 16:35] FBosler commented on #443
Same error as a few other Issues. I think this one has the most tracktion: https://github.com/timgrossmann/InstaPy/issues/335

[2017-07-27 16:42] FBosler commented on #440
@timgrossmann thx for the quick feedback. As always, much appreciated. I had rebooted the droplet quite a few times, but even after that its still crashing, well maybe its just coincidence I will keep checking the logs and try to see if it does run successfully now.

Cheers

[2017-07-27 17:30] timgrossmann commented on #440
@FBosler What you can also do is using the try-catch to get an error log:

[code]

You can then paste the actual crashing reason here

[2017-07-27 17:30] #443 closed

[2017-07-27 18:52] sweb1 commented on #336
@Nemixalone yes i get this error from command line and I would be happy to get it work from command line. GUI is not my priority

[2017-07-27 18:54] timgrossmann commented on #336
@sweb1  @Mehnou  Could you guys try to change the `implicit wait` in the instapy.py file to more than 25 as it is right now and test again, please?

[2017-07-27 19:38] timgrossmann opened #444 "Interact with the followers of given list of users"
This has a high priority.
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=47675897)](https://www.bountysource.com/issues/47675897-interact-with-the-followers-of-given-list-of-users?utm_source=47675897&utm_medium=shield&utm_campaign=ISSUE_BADGE)

The idea is to interact with the followers of a given account. This should be implemented so that I can provide a list of accounts and

[2017-07-27 20:26] mynameisearl commented on #438
@timgrossmann Hello Tim, as i see the clarifai word in the console, can you tell me exactly what i need to do in the step 4? i tried to search in the document the line: from clarifai.client import ClarifaiApi but i haven't see it.
So i decided to insert it inside.
But the bot still don't open.

[2017-07-27 20:29] timgrossmann commented on #438
@mynameisearl To be honest, I don't know, that's why I linked @Nemixalone , he wrote the GUI with the instructions 😉
I use the GUI without commenting out the stuff from "step 4"

[2017-07-27 20:30] mynameisearl commented on #438
@timgrossmann Oh, well i downloaded the repository and followed the step using windows, this downloaded the GUI too, i'm gonna try without the GUI.

[2017-07-27 20:32] timgrossmann commented on #438
@mynameisearl For me, both works fine. Hadn't had any issues with the GUI as well as the command line...

[2017-07-27 20:36] Nemixalone commented on #438
Go to **master** folder then go to **instapy** folder open **instapy.py** file with **notepad** or **notepad++** and find the line **from clarifai.client import ClarifaiApi** and delete it, save it and you will be good to go.

[2017-07-27 20:54] gitpatrickhub commented on #444
Not sure this is open to additions/feedback, but just in case.

Support for the following behavior would be great;
For specified IG account scroll follower list for specified number, like 3 most recent posts from each follower and post a comment on 33% and follow 10% --> result for your example would be for 50 random natgeo followers --> 150 posts liked (3 posts per 50 followers) --> 50 posts comm

[2017-07-27 21:01] mynameisearl commented on #438
@Nemixalone As i tried it's the first thing i tried and when i search for: from clarifai.client import ClarifaiApi It says not found, as if this line isn't there.

[2017-07-27 21:03] timgrossmann commented on #444
@gitpatrickhub Yes it is, I just wanted to make several smaller issues instead of one big one.
I think the "interaction" with other users should be a separate method that can then simply be called in this method.

Good to see people interested!

[2017-07-27 21:21] mynameisearl commented on #438
Is it possible if you can upload the instapy.py file that you have?

[2017-07-27 22:21] Nemixalone commented on #438
Only this [way](https://pastebin.com/RE32prPG)

[2017-07-27 23:07] snik123 commented on #336
idk what y'all problem is but its working fine for me

[2017-07-27 23:29] mynameisearl commented on #438
@Nemixalone  Thanks, using that one now it works, , but i get a floating window: Chromedriver.exe - no disc telling: there's no disc in the unity E:
But it looks like the bot is working.
Will test it asap.

[2017-07-28 00:08] imovertheinternet commented on #440
Having the same issue. This is on a droplet from Digital Ocean with 2GBs ram. Crashes after only about an hour of running.

`Message: unknown error: session deleted because of page crash
from unknown error: cannot determine loading status
from tab crashed
  (Session info: chrome=60.0.3112.78)
  (Driver info: chromedriver=2.29.461571 (8a88bbe0775e2a23afda0ceaf2ef7ee74e822cc5),platform=Linux 4.4.0-8

[2017-07-28 04:55] cjsmith015 opened #445 "Media max like?"
Hey there!

This project is fantastic, I'm excited to start using it.
Is there any way to set a media min/max-like limit? I.e., prevent InstaPy from liking the post if it exceeds a certain number of likes?

Thanks! Looking forward to all the awesome things from InstaPy!

[2017-07-28 05:28] timgrossmann commented on #445
@cjsmith015 No, I'm sorry this, at the moment, isn't supported. You can only filter by the number of followers the owner of the post has.

[2017-07-28 05:29] cjsmith015 commented on #445
@timgrossmann Hey - just found a closed issue (https://github.com/timgrossmann/InstaPy/issues/249) that mentioned this same thing. Sorry I didn't find that sooner (I was only looking through open issues the first time)! Reasoning makes sense, and thanks for the quick response!

[2017-07-28 05:40] cjsmith015 commented on #445
@timgrossmann One more question: is it possible to have the bot skip all the top, trending posts? I want to interact with smaller accounts so I set the upper limit of followers to be around 6,000 - all the users that have trending posts in big tags likely have more than that. Might as well start within recent posts and save the bot from opening the first 9 trending/top posts.

[2017-07-28 07:28] sweb1 commented on #336
I tried with settings 50,100,1000. First run I got passed first entry and stopped at second entry. Consecutive runs all stopped at first entry.
@snik123 which software config do you have? (o/s, chromedriver, python...)

[2017-07-28 07:42] Nemixalone commented on #438
@mynameisearl One guy fix it [this](https://github.com/Nemixalone/GUI-tool-for-InstaPy-script/issues/12) way

[2017-07-28 07:44] Nemixalone commented on #336
@sweb1 I dont know how InstaPy is working (in background) I am here if GUI fucks up :smile:

[2017-07-28 08:45] FBosler commented on #440
Message: unknown error: session deleted because of page crash
from unknown error: cannot determine loading status
from tab crashed
  (Session info: chrome=60.0.3112.78)
  (Driver info: chromedriver=2.30.477691 (6ee44a7247c639c0703f291d320bdf05c1531b57),platform=Linux 4.4.0-83-generic x86_64)

[2017-07-28 11:06] RealMakAttak commented on #440
@imovertheinternet I have the same problem - Im not great with this but learning and I was wondering, why does the RAM consumption trend up? what is it that we have in memory?

Thanks, sorry if this is a basic question

[2017-07-28 11:55] bardascat commented on #444
+1 this would be a great functionality..

[2017-07-28 11:56] bardascat commented on #444
Also it would be nice to automatically interact with followers of somebody who you are following...

[2017-07-28 13:38] diveu commented on #440
I faced the same problem here. Can anybody share their image numbers?
My script fails on pic 170, and i guess lowering the image count could help.

[2017-07-28 13:40] jeffreylm commented on #431
This also something I am interested in. So I can choose an account that represents my target audience, and auto follow all there followers and auto unfollow down the line.

[2017-07-28 13:50] timgrossmann commented on #431
#444

[2017-07-28 14:32] jeffreylm commented on #247
session.set_do_follow(enabled=True, percentage=10, times=2)

What is the effect of setting the "times" value to 1 or 2?

Thanks in advance.

[2017-07-28 14:37] imovertheinternet commented on #440
Well if you look at my first graph that was an array of 20 images which at an amount=50 my second spike was an array of 7 images at amount=100. This script use to work fine, looks like there are chorme processes that never get killed which is why i think the memory keeps leaking. You can see on my graph that even after the crash  it doesnt close everything (stays at 25% usage) as Tim has already m

[2017-07-28 14:44] jeffreylm commented on #247
Tell me if the following re-write explains this function better?

#default enabled=False, follows ~ 10% of the users from the images, times=1 (only follows a user once (if unfollowed again))

session.set_do_follow(enabled=True, percentage=10, times=2)

#default enabled=False, follows ~ 10% of the users from the images _**defined/found by the settings set  for session.like_by_tags settings. This fu

[2017-07-28 14:53] diveu commented on #440
@imovertheinternet I'm probably running the same setup as you did because it all started after a git pull too.

[2017-07-28 14:57] snik123 commented on #336
windows 10 python 3.6.2 chromedriver 2.30.477700

[2017-07-28 14:57] kthyaki opened #446 "After having the issue #335 solved, I got a new issue..."
First of all, I would like to thank @FBosler for helping me out with my issue #443.

I just did it full screen and it worked fine until I have this new issue...

``[4/6]
Image from: b'king_goldendog'
Number of Followers: 3501
Link: b'https://www.instagram.com/p/BS3qo4OhgES/?tagged=petbamboo'
Description: b'Ningu\xc3\xa9m me tira daqui... #goldenretriever  #golden  #pet  #camapet  #petbamboo  @petb

[2017-07-28 17:01] Spiz commented on #397
Can someone help me with this? I've tried writing the script as you've described, using both sleep and session.sleep, and both give me this error:
==========
Traceback (most recent call last):
  File "C:\Users\Matt\instapy\UNFOLLOW.py", line 13, in <module>
    session.sleep(725)
AttributeError: 'InstaPy' object has no attribute 'sleep'
==========

To be clear, the script I'm using is:

==========

[2017-07-28 17:28] jeffreylm commented on #248
What would also be a nice added feature. So many people have alot of manual followers they would like removed with InstPy. In my case I wanted to remove 800 people, but when I set it to 800, the scripts just started doing the normal batch of ten and waiting 10 minutes.

**Feature**
Whenever an amount is given above 10, let the script do the first batch of 10 then continue with the rest of the scri

[2017-07-28 19:49] timgrossmann commented on #397
@Spiz There is no sleep function at InstaPy You have to use the

[code]

[2017-07-28 22:03] Spiz commented on #397
@timgrossmann ah thank you!

[2017-07-28 23:12] Spiz commented on #397
@timgrossmann ah, hmm, spoke too soon. I'm still getting the same error. This is my full code now:

[code]

By the way do you have anywhere I can donate to you or anything? This code is really great and I really appreciate the time you've taken to help me.

[2017-07-29 01:34] pekapa commented on #247
@jeffreylm
That's almost right.
If I'm not mistaken, it follows the user DURING the like period. Not after.
I.E. while going through the images and liking them the script randomly chooses the ones that should be liked so that, in average, the given percentage of images have their owner being followed.

Times N allows the script to follow a given user up to N times.

Basically, all the "set" functi

[2017-07-29 08:26] koeniig2 commented on #439
i need a tutorial too

[2017-07-29 14:53] Naramsim commented on #335
@RealMakAttak Obviously docker can't render what's going on, it does not run on monitors. You have to install the project without using Docker.

[2017-07-29 16:20] diveu commented on #440
@imovertheinternet @RealMakAttak @FBosler @timgrossmann
Hey, everybody. I guess the commit #416 was the reason for the problem. I commented these added lines and RAM consumption decreased significantly (see the screenshot). Hope this helps you guys.
![2017-07-29 19 15 28](https://user-images.githubusercontent.com/7192133/28746313-649ccfe4-7492-11e7-8e21-8f53fa1a7ece.png)

[2017-07-30 06:43] NewyorkDev opened #448 "Do not unfollow who has liked you feature request."
Should be an option to not unfollow people who have liked your pictures also known as ghosts

[2017-07-30 06:54] NewyorkDev commented on #422
Just run this to install pip.

wget https://bootstrap.pypa.io/get-pip.py
python get-pip.py

[2017-07-30 09:02] timgrossmann commented on #440
@diveu Interesting, this should actually decrease the bandwidth and memory used...
Thank you for reporting

[2017-07-30 09:05] timgrossmann commented on #397
@Spiz Well, the `session` still has no sleep method.

Instead of:

`session.sleep(725)`

you simply have to write

`sleep(725)`

Just leave out the `session`

[2017-07-30 11:52] jeffreylm commented on #444
Didn't realize that this is what this function does. What would make this function more valuable is if it follows the people that Like or that commented on  a given post or last post.

Those people are the ones you really want, you want highly active followers. My experience is when you follow them, they follow you back, then they become highly active on your own feed, because that is just there n

[2017-07-30 12:10] jeffreylm opened #449 "Following by a list - Total followers (treshhold 1000 limiter)"
What determines the total follow amount?

I want to avoid passing the 1000 treshhold. Is there a mechanism in place to keep track of the scripts total
follows from all the different session calls? So a counter of sorts.

Is there a counter in place to protect against the passing of the different tresholds?
I am also using this "session.set_do_follow(enabled=True, percentage=10, times=1)" in my scr

[2017-07-30 12:19] jeffreylm commented on #444
One question about the line ".follow_from_account(['natgeo', 'geo'], amount=50, random=True) ".
Am I to understand that htis feature isn't implemented in this way as of yet?

[2017-07-30 18:21] imovertheinternet commented on #440
@diveu Funny, I found that same commit and commented it out a couple days ago and let script run for a day before I jumped to any conclusions and I agree it does seem to have helped with the RAM issue (I couldnt last over 1.5hours before).
However, I ran into another issue after I did that which was issue #335 but im running in nogui mode so I was a bit confused as to why it would happen. As a ban

[2017-07-30 19:27] 7ruth opened #450 "Raspbian (Raspberry pie 3 install), example.py issue, ImportError: No module named instapy"
Hello,

I was able to run pip install . and all seemed fine.
Set up the example.py file for a first test run and got the above error after running sudo python examples/example.py from instaPy root. (using python 2.7 and pip)

I used pip freeze to see list of installed modules:
`
clarifai==2.0.20
configparser==3.5.0
EasyProcess==0.2.3
emoji==0.4.5
functools32==3.2.3.post2
future==0.15.2
instagram-p

[2017-07-30 21:10] spikerang opened #451 "run 3 account at the same time"
i have 3 accounts. if i run 3 programe at the same time with same computer, same ip, will i get banned?

[2017-07-31 00:40] wiardvanrij opened #452 "Logs are only written after completion"
I run the script on an ubuntu 16 server.

My issue is that I cannot see the 'progress' in the logs. I start the command with 'nohup' so I can close the terminal. I would expect to see progress in the logs, rather they work a bit dodgy. Sometimes I get a little output (such as; 'started at xx-xxx time').

It is a bit unclear for me what the issue really is and it might even be my setup..

[2017-07-31 04:55] andrewjburnett commented on #292
I'm encountering the same issue as @gitpatrickhub.

[2017-07-31 06:39] timgrossmann commented on #292
@gitpatrickhub @andrewjburnett I'll try to find some time looking into this

[2017-07-31 06:42] timgrossmann commented on #444
@jeffreylm yes

[2017-07-31 06:43] timgrossmann commented on #449
@jeffreylm There is no mechanism for that, as of right now.

[2017-07-31 06:43] #449 closed

[2017-07-31 08:30] bardascat commented on #451
I'am also interested about this question...

[2017-07-31 18:11] 7ruth commented on #450
Thank you for a quick response @gitpatrickhub , in the old iteration of the repo I remember there was a quickstart.py in the root, but thats no longer the case.

I see there is a InstaPy/docker_conf/all_in_one/quickstart.py
as well as a docker_quickstart.py in the root.

Are you referring to ether of these files? I will try them in a few hours when I get home and update here, but wanted to clarify

[2017-07-31 18:40] jeffreylm opened #453 "Unfollow end prematurelly"
Hello I made the following script, but after it unfollows 19 people it neatly ends the session.
Why is it ending prematurly?

from instapy import InstaPy
import os
session = InstaPy(username='login', password='pass')
session.login()
session.set_do_follow(enabled=True, percentage=97, times=1)
##session.set_upper_follower_count(limit = 6500)
#session.set_dont_like('nsfw')
#session.set_dont_like('#ex

[2017-07-31 19:00] sionking commented on #453
I think it does not scroll down, I see it im my unfollow, only for followed users "onlyInstapyFollowed=True" so it only check the first page but not scroll down.

[2017-07-31 19:42] jeffreylm commented on #453
I tried it with and without. Same result of it stopping. So I added the unfollow command twice and it did 2 times unfollow 19 people, then ends the session. It does scroll down.

Did try it to see what it does?

[2017-07-31 19:42] gitpatrickhub commented on #450
@7ruth I'm running on rpi3, but not the Docker configuration. The file in: "InstaPy/docker_conf/all_in_one/quickstart.py" is the file I'm referring to, but if you are using Docker this likely will not work.

[2017-07-31 20:02] sionking commented on #453
It will scroll down if an unfollow user appear on the screen then pressing the unfollow button will scroll down a bit, if  no user show on screen it will stop.
This is the behiver I see, Hope to be fixed soon.

[2017-08-01 02:07] 7ruth commented on #450
@gitpatrickhub , got it, thank you for the help. Unfortunately running that file resulted in the same error.

Just to make sure I am doing the right thing:
Got exagear desktop, and installed chrome, works fine.
Got python 2.7.
Confirmed that my PY command path is set up.
(ran python -c "import sys; print(':'.join(x for x in sys.path if x))") and that seemed fine (lists instagram_py-0.0.1-py2.7.egg

[2017-08-01 04:00] gitpatrickhub commented on #450
@7ruth I wasn't able to get Exagear to work with Chrome. So ditched Exagear and am running it on Firefox. Did you run the setup.py from within the Exagear session? Only other thing I can think of is to double check the case of "InstaPy" and make sure it matches in the module.

The steps I took to run this on the rpi3 are included in the Docs folder, 'How to on Raspberry'

[2017-08-01 04:46] pattymayo commented on #336
Mine started running fine after I turned off the follow by lists. Running GUI on Windows 10, Python 3.6. it's returning the same codes as above.
C:\InstaPy-master>quickstart.py
Logged in successfully!
--> rwnbyrawan instagram account is opened...
Traceback (most recent call last):
  File "C:\InstaPy-master\quickstart.py", line 7, in <module>
    session.follow_by_list(accs, times=1)
  File "C:\Ins

[2017-08-01 08:54] ato09 commented on #425
@hasangok how do you that surrounding thing? I face the same problem when trying to follow by list. Appreciate your guide.

[2017-08-01 09:48] jeffreylm commented on #453
Thank you Sionking for taking the time to try it out also.

[2017-08-01 09:55] jeffreylm commented on #453
Even when I grab the scroll bar and drag it down so that it has a long list on screen, when it reaches 19, it stops and ends the session.

Greetings,
Jeffrey

[2017-08-01 10:20] jeffreylm commented on #448
Yes, I think this is a good option to have. Also to not to unfollow your active users, because at the end of the day if you can have an account with users that are for the majority active commenting, liking and sharing. Instgram algorithm will no doubt notice your accounts ratio. I can't imagine it won't. This can lead to new nice things from instagram. Say if you could get the sccript to look at

[2017-08-01 10:24] jeffreylm commented on #444
Ok, then it is clear. And what do you think of my version of the feature being added to your script? Would you put it under the bounty?

[2017-08-01 10:28] jeffreylm commented on #439
@timgrossmann Hello,

I have been able to figure alot of stuff out since this post. Being a newbie to python it was quite a bit to take in and on reading over and over, started to see things I missed the first couple reads. It's just alot to grasp and not only remember, but also realize what it means.

[2017-08-01 10:46] sojan-official commented on #444
guys i found InstaPy yesterday and its a neatly written piece of software and I would love to contribute.
If no one else is working on this already, i will pick this up.

[2017-08-01 16:39] jeffreylm commented on #247
@pekapa  Then how does the % part of the follow? So if I tell it follow 60%, it could never follow 60% of the liked accounts if during the tag & like it sometimes decided that an account is inappropriate.

For it to do it properly, the follow has to gather the liked from the database and follow the percentage of the liked. Think about it for a moment.

I saw at times the script decided not to like

[2017-08-01 16:40] jeffreylm commented on #247
@pekapa When would it be a good idea to follow someone N times? So more than once.

[2017-08-01 16:44] jeffreylm commented on #453
When I put 3 of these in the script : session.unfollow_users(amount=500)
The script executes in three times, but when I add 5 in total. The script gives command errors. And when I return it back to 3 and execute, the same error keep coming. But once I reduce it back to 1, execute then increase back to 3. It works normal once again.

Maybe someone knows what is going on.

[2017-08-01 19:29] jeffreylm commented on #453
Bear in mind with the following I changed nothing, just kept retyping start.bat
So after the script executing like above for a few times (10-12)

It logins in then this error below shows in the prompt

**On typing start.bat it gave this error:**

C:\Users\jeffrey\Documents\GitHub\InstaPy>py quickstart.py
Logged in successfully!
Number of people followed automatically remaining: 642
Traceback (most

[2017-08-01 21:36] westondeboer opened #454 "selenium.common.exceptions.WebDriverException: Message: unknown error: Element"
`[58/100]
Image from: alirehman11
Number of Followers: 406
Link: https://www.instagram.com/p/BXQ7qVNnX1e/?tagged=clothes
Description: 😎 #ootd #outfitoftheday #lookoftheday #fashion #fashiongram #style #love #beautiful #currentlywearing #lookbook #wiwt #whatiwore #whatiworetoday #ootdshare #outfit #clothes #wiw #mylook #fashionista #todayimwearing #instastyle #instafashion #outfitpost #fashionpost

[2017-08-01 22:24] westondeboer commented on #454
on line 126 in unfollow_util.py Changed
`    follow_button = browser.find_element_by_xpath("//article/header/span/button")
`
to

`    follow_button = browser.find_element_by_xpath("//*[contains(text(), 'Follow')]")
`

[2017-08-01 22:28] GrennUntree opened #455 "Instagram opens in Africaneer instead of English"
I'm not even close to a region that speaks africaneer. When I open firefox as private window it goes to english as expected.
But as soon as I open it using InstaPy it goes directly to Africanner and cannot login due to that.

[2017-08-02 03:22] jeffreylm commented on #453
Now the script doesn't execute anymore. It logins pulls up the unfollow screen, then prints the following on screen before quiting in the command prompt. Just for clarity, I have never tickerd in the code, only added the lines needed in the quickstart.py

Before the error below the script worked and would execute 19 unfollows and end prematurly, but other than that it worked.

Logged in successful

[2017-08-02 03:49] jeffreylm commented on #453
Now the script doesn't execute anymore. It logins pulls up the unfollow screen, then prints the following on screen before quiting in the command prompt. Just for clarity, I have never tickerd in the code, only added the lines needed in the quickstart.py

Before the error below the script worked and would execute 19 unfollows and end prematurly, but other than that it worked.

Logged in successful

[2017-08-02 03:58] n0sw34r opened #456 "Everything was working fine until..."
Script was working fine (Ubuntu 14.04) until I saw that it stoped working and when I try to run it I got this...
Anybody help please?
![image](https://user-images.githubusercontent.com/30392165/28857181-b8f1fc74-7747-11e7-96ca-c932442713bf.png)

[2017-08-02 04:17] platramos commented on #335
I'm having the same issue as many of you running nogui=true on DO. Is there a way to at least catch the error and continue the script so that it doesn't kill the whole process?

[2017-08-02 07:07] Spiz commented on #453
I'm now having what seems to be the exact same problem:

[2017-08-02 09:44] Naramsim commented on #335
@platramos `try/except` blocks

[2017-08-02 10:00] Naramsim commented on #440
Are you guys on Docker?, mount dev/shm to the host, it needs it.

Link: https://github.com/elgalu/docker-selenium/issues/20

[2017-08-02 11:36] jeffreylm commented on #444
@sojan-official That would be amazing!!!

Will you also incorporate the ideas I gave?

[2017-08-02 12:24] JMuffin commented on #453
There is a simple solution that I tried:
In instapy/unfollow_util.py in line 52 change dialog = ... to
dialog = browser.find__element_by_xpath("//div[contains(@class, '_4gt3b')]")

It should work ;)

[2017-08-02 12:47] lgr commented on #456
I've observed thae same issue, working on a fix now

[2017-08-02 12:56] JMuffin commented on #456
There is a simple solution that I tried:
In instapy/unfollow_util.py in line 52 change dialog = ... to
dialog = browser.find__element_by_xpath("//div[contains(@Class, '_4gt3b')]")

It should work ;)

[2017-08-02 14:15] VivianSolide opened #459 "Clarifai API // Need some help"
Hello,

First of all, thank you for your tool, very useful.
Currently I try to play with Clarifiai, but it doesn't work.

When I copy paste your snippet :

[code]
The script does'nt start :
![image](https://user-images.githubusercontent.com/9358572/28877716-7af270a6-779d-11e7-81ae-2ecb4c4ce468.png)

I double checked my ids and the Clarifai's ID.

Someone has faced this issue before?

[2017-08-02 15:21] jeffreylm commented on #453
@JMuffin I am not a programmer, so what does this new re-write say to do?
What got you to this re-write?
Just trying to understand, starting to learn Python.

[2017-08-02 15:22] lgr commented on #456
The CSS class names seem to have hashed/random names, so IMHO it's better to refer to the DOM elements in a relative manner - as it was done so far.

[2017-08-02 15:43] JMuffin commented on #456
If instagram is changing so fast... there should be a better way to find this dialog box :/

[2017-08-02 15:49] lgr commented on #456
Yeah... another option is to search for the label "Following" in the dialog itself, however I guess not everyone has an English version of the UI

[2017-08-02 15:49] jeffreylm commented on #453
@JMuffin the modification did not work. Here is the new error

Logged in successfully!
Number of people followed automatically remaining: 1151
Traceback (most recent call last):
  File "quickstart.py", line 10, in <module>
    session.unfollow_users(amount=20)
  File "c:\Users\jeffrey\Documents\GitHub\InstaPy\instapy\instapy.py", line 530, in unfollow_users
    self.automatedFollowedPool)
  File "

[2017-08-02 15:50] JMuffin commented on #456
I've tried it, but with no luck as the box is under div with label :/

[2017-08-02 17:15] jeffreylm commented on #453
What I just want to do is unfollow atleast 800 people so I can get my follow/followers ratio nearer to each other.

As to the follow pool, I just want it to unfollow people wether they are in the pool or not.

[2017-08-02 17:15] sionking commented on #453
find_element_by_xpath instead of find__element_by_xpath

[2017-08-02 17:15] sionking commented on #453
jeffreylm try captivate for IOS to unfollow, it has a white list and many other features.

[2017-08-02 17:17] jeffreylm commented on #453
@sionking I am on android, do you have a solution for that platform?

[2017-08-02 17:19] jeffreylm commented on #453
@sionking in your comment above about the xpath, you wrote the same thing twice. Can you rewrite what you were trying to say, also I'm not a programmer so could you write it out clearly what you were suggesting I do?

[2017-08-02 17:38] sionking commented on #453
jmuffin seggested replace line to this line:
dialog = browser.find__element_by_xpath("//div[contains(@Class, '_4gt3b')]")
but he has a typo, extra _, __ instaed of _

Anyway I tried it and it doesnt work also.
I am not familiar with selenium and have no time to learn, soI have no idea of this code.

Sion.

[2017-08-02 17:41] sionking commented on #453
please try:
-    dialog = browser.find_element_by_xpath('/html/body/div[3]/div/div[2]/div/div[2]')
 +    dialog = browser.find_element_by_xpath('/html/body/div[4]/div/div[2]/div/div[2]')

This works for me

[2017-08-02 17:42] sionking commented on #453
https://github.com/timgrossmann/InstaPy/pull/460/commits/a61c74286b766955a87e54381de1e27a37e4fe5a

[2017-08-02 17:53] jeffreylm commented on #453
@sionking It worked!!!!!!

Thank you, really. I am starting to see that others are experiencing the same problem, and it won't surprise me if this problem resurfaces. I take it tim is looking for a better solution. Because with out the unfollow feature, the follow feature is kind of useless to a certain degree.

Do you think you have a quick fix for the issue of it conly doing 19 unfollows eventho

[2017-08-02 18:16] BernardoGO commented on #455
PR #457 fixes this issue.

[2017-08-02 18:26] jeffreylm commented on #453
@sionking do you also have the issue that it only unfollows 19?

[2017-08-02 18:35] ato09 opened #461 "Bot won't comment on any photo/video"
Beside the problem with "follow by list" (which I saw others having issues with it as well), it also can't comment on photo/video. It start normal but once log in successfully, it close. I've tried reinstalling from top to bottom. Tried combining it with other function and on its own, but whenever it come to commenting task it abruptly close. It showed session ended. No error. Nothing.
Thanks anyw

[2017-08-02 20:14] #453 closed

[2017-08-02 20:14] #456 closed

[2017-08-02 20:14] timgrossmann commented on #456
#458

[2017-08-02 20:16] timgrossmann commented on #461
@ato09 You actually need a `.like_by_...` method to make the script start running

[2017-08-02 20:16] #461 closed

[2017-08-02 20:18] timgrossmann commented on #459
@VivianSolide Did you ad the clarifai secret and token?

[2017-08-03 00:49] awb715 commented on #312
Traceback (most recent call last):
  File "index.py", line 4, in <module>
    session.login()
  File "/var/www/instapy/instapy/instapy.py", line 124, in login
    if not login_user(self.browser, self.username, self.password):
  File "/var/www/instapy/instapy/login_util.py", line 24, in login_user
    action = ActionChains(browser).move_to_element(inputs[0]).click().send_keys(username) \
IndexError

[2017-08-03 01:07] westondeboer commented on #312
@awb715 I changed login_util.py line 23 from:

`    inputs = browser.find_elements_by_xpath("//form/div/input")
`

to

`    inputs = browser.find_elements_by_xpath("//form/div/div/input")
`

and it works. did instagram change the location of the form?

[2017-08-03 01:43] brandonkovacs opened #463 "Login Error // IndexError: list index out of range"
Everything was working fine - but then all of a sudden, I started getting this error. I'm currently using the master branch.

Traceback (most recent call last):
  File "bot.py", line 6, in <module>
    session.login()
  File "/home/centos/InstaPy/instapy/instapy.py", line 124, in login
    if not login_user(self.browser, self.username, self.password):
  File "/home/centos/InstaPy/instapy/login_uti

[2017-08-03 01:55] botpadawan commented on #463
Also encountered this error in all accounts just today

[2017-08-03 02:01] alvintclam commented on #463
And all server got the same issue suddenly

[2017-08-03 02:01] jeffreylm opened #464 "Script login issue"
Hello @timgrossmann,

After you lasted update the script excuted perfectly with the unfollow now working. I was able to test it with 10 at first, then I did 90, and they both worked perfectly.

After it was done with the 90, I attemted 500, but the script now reached the login screen was able to get the screen to change to the correct sign in screen (Login : password), but it would now not write t

[2017-08-03 02:37] smallredcape commented on #463
I am also encountering this new login problem. Looks like Instagram changed something on the login page?

[2017-08-03 03:14] blakemmw commented on #463
Also not able to log in

[2017-08-03 03:47] BernardoGO commented on #463
Fixed on PR #457. Instagram changed div positioning.

[2017-08-03 03:48] BernardoGO commented on #464
Fixed on PR #457. Instagram changed div positioning.

[2017-08-03 04:03] blakemmw commented on #451
@bardascat , @spikerang

I currently run 2 at a time, but I have 3 unique accounts that I run instapy on. I have done extensive research on this and this is what I have discovered:

1. Running multiple accounts from the same IP address is dangerous. Instagram looks at activity from IP addresses and if there is too much coming from the same IP address it will assume that there is suspicious activit

[2017-08-03 05:01] jeffreylm commented on #464
@BernardoGO I checked the link you gave, but I couldn't quite decipher where the solution for my issue was on that page. Could you point out where the step by step solution is? So I can implement it here.

[2017-08-03 05:07] jeffreylm commented on #464
@BernardoGO I saw the Div part and saw the link, but being that I am new to python and not yet programming in it. Could you paste the exact code I need to enter.

So basically tim updated the scripts a few hours agao, and it worked perfectly, then a few hours later Instagram made that Div change you spoke of, so the situation is now current.

Could you take a look and the Tim update and the now up

[2017-08-03 05:08] BernardoGO commented on #464
@jeffreylm It is a pull request that changes different parts of the login procedure to fix this and other issues. There is no step by step solution since it will probably be merged to the master branch soon.

Meanwhile what you can do is download or clone the fork that implements the solution. https://github.com/BernardoGO/InstaPy

[2017-08-03 05:09] jeffreylm commented on #464
@BernardoGO does this copy you just send me have the fix Tim just made for the Unfollow bug?

Our paths crossed as you sent your message I was busy typing the one above.

[2017-08-03 05:12] brandonkovacs commented on #463
@BernardoGO - Are you sure? Just tried using that commit file and it still isn't working.... I believe IG made a change to their login page a few hours ago. That commit is a day old?

[2017-08-03 05:12] jeffreylm commented on #464
@BernardoGO sidenote, I am so new to Github and Python, I don't yet understand the forking mechanism and merging with my local files and such. Just in the phase of getting my mind around how this all works. Been on Github for a few days now and Python for around the same amount of time.

So bear with me while I try to understand your explanations.

[2017-08-03 05:14] jeffreylm commented on #464
@BernardoGO Could you copy the piece of code from Tim's latest update that needs replacing with your version paste underneath? So I can just paste in place.

[2017-08-03 05:14] BernardoGO commented on #464
@jeffreylm I don't think it contains the unfollow update.
In this case you'll be better off replacing your instapy/login_util.py for the one in the link I've sent.

The login should work as expected

[2017-08-03 05:17] BernardoGO commented on #463
The commit isn't a day old. My virtual machine messed the commit datetime.
Yes, I'm sure it fixes the problem. The mechanism to find the text boxes was rewritten and is now working.

[2017-08-03 05:17] jeffreylm commented on #464
Ok, could you double check if Tim's latest update did any changes to that file? Then I know that I can just replace the file with no issue.

[2017-08-03 05:19] BernardoGO commented on #464
I've just checked it out again. His update changes the unfollow_util.py.

Let me know if it works out for you.

[2017-08-03 05:49] jeffreylm commented on #464
Thank you. Will let you know.

[2017-08-03 06:08] jeffreylm commented on #464
@BernardoGO It worked. It was able to login and do the unfollow as @timgrossmann updated to. I think Tim most probally will has to add this change immediately due to the fact that it will affect everyone at the moment.

[2017-08-03 06:46] bardascat commented on #451
@blakemmw - thanks for tbe reply.
Do you know if the "multiple accounts" problem can be avoided using some proxy servers ?
Or instagram would know that you are using proxy and ban your account. ?
Any info on this one ?

[2017-08-03 07:22] meherranjan commented on #463
@BernardoGO why have we doubled the sleep time in the login utils file?

[2017-08-03 07:32] meherranjan commented on #464
@BernardoGO has some good changes right there. If anyone is looking out for a quick fix then it just requires a minor change in the login_util.py
`inputs = browser.find_elements_by_xpath("//form/div/input")`
to
`inputs = browser.find_elements_by_xpath("//form/div/div/input")`

Relevant PR for this change: https://github.com/timgrossmann/InstaPy/pull/465/files

[2017-08-03 07:38] meherranjan commented on #312
@westondeboer yes, i see that an additional div has been in the input field wrapper in the login form.

[2017-08-03 07:44] jeffreylm opened #466 "Feature Request - Track all unfollows"
So it just occured to me. If I have Instapy unfollow all the people that I have manually followed ( 5000+)/ and ones followe by InstPy, then when I ask it to go and follow people for me, it will only know the ones it has followed in the past or unfollowed within the InstaPy ecosystem.

So the feature I would like to ask for is for InstaPy to register people it unfollows be it people it has followe

[2017-08-03 09:56] PastaGringo commented on #463
[This](https://github.com/timgrossmann/InstaPy/pull/465/commits/112b1796c51f4eb86c72f4536d5d323aa8c17522) commit fixed the issue!

[2017-08-03 12:15] VivianSolide commented on #459
@timgrossmann : Yes!
I tried with export and after adding the keys like this :
`.set_use_clarifai(enabled=True, secret='xyz', proj_id='123')`

It is this keys?
![image](https://user-images.githubusercontent.com/9358572/28921413-24ded452-7856-11e7-8c3c-70531f55a2ac.png)

[2017-08-03 15:32] meherranjan commented on #464
Yes. #457 is the right and a permanent fix. I have closed #465

[2017-08-03 16:53] jeffreylm commented on #464
@BernardoGO Just a quick question, being new on the platfom. I started this thread, and being that it now seems to be solved, do I close the thread?

[2017-08-03 17:24] BernardoGO commented on #464
Not yet. It's only considered as fixed when it's merged to the master branch.

[2017-08-03 18:08] wecanfuture opened #468 "Stoped working"
Hey :)

Sorry for asking but 22 hours ago the script stoped working

I screenshoted the issue...I didn't change anything but it just stoped.

Server is update to date

![img-20170803-wa0004](https://user-images.githubusercontent.com/28114725/28936270-80df1d44-7887-11e7-8544-f0a380afa6d9.jpg)

[2017-08-03 18:15] converge commented on #468
same here

[2017-08-03 18:43] wecanfuture commented on #468
Sorry guys i didnt find it. just scrolled over it using my smartphone. just saw it thank you for helping me out man. nice one >)

[2017-08-03 18:43] wecanfuture commented on #468
@timgrossmann closed <3

[2017-08-03 19:06] rubsonalok2 opened #469 "Crashes right after opening"
The program breaks after I open the program gives the error following

[code]

I can not open the robbery anymore, my boss is going to fire me if it stops like this

Was working yesterday and today but today stopped working all thefts do not work anymore nor open right
I really need them working right away so my customers are satisfy and they do not cut the service

[2017-08-03 19:06] Naramsim commented on #468
@wecanfuture before filing issues, please check if somebody already did it.

[2017-08-03 19:08] rubsonalok2 commented on #469
I do not function much the github in my current knowledge I want a quick tidy that does not work

[2017-08-03 19:09] jeffreylm commented on #464
@BernardoGO Ok, that is clear.

[2017-08-03 19:36] BernardoGO commented on #469
The commit d7af29d in #457 fixes this issue.

[2017-08-03 21:59] westondeboer commented on #454
This didn't fix it, I have added a sleep before follow_button

`
sleep(2)
follow_button = browser.find_element_by_xpath("//article/header/span/button")
`

And that fixed it.

[2017-08-04 08:17] #469 closed

[2017-08-04 08:17] timgrossmann commented on #464
#457

[2017-08-04 08:17] #464 closed

[2017-08-04 08:17] #468 closed

[2017-08-04 08:18] timgrossmann commented on #459
@VivianSolide You really shouldn't post this here, but yes, these are the right keys

[2017-08-04 08:19] timgrossmann commented on #461
@ato09 As stated several times before, all the `.set_...` methods need to be called before any of the `.like_by_...` methods.

[2017-08-04 08:20] #463 closed

[2017-08-04 11:26] jeffreylm opened #471 "Feature request - Run processes asynchronously"
**Unfollow process**

One of the processes that would lend it's self to being run asynchronously is the unfollow processes. During the 10 min break so much could be done.

There are most probally other processes that could come to mind by others who know the ins and out of the script from a programming level, but for now this is what I have come to realize.

[2017-08-04 14:13] n0sw34r opened #472 "New error third time in a row... :("
Hello I got new error anybody have same issue or know how to fix it?
Thanks a lot!
![image](https://user-images.githubusercontent.com/30392165/28972394-c8ca891a-792f-11e7-9250-5012c5f716f2.png)

[2017-08-04 14:19] ahmadudin commented on #444
Is this boutny still on? i actually have made these requested function and used it for a week. Btw It got me good follower gain.

[2017-08-04 14:48] gitpatrickhub opened #473 "Gzip Error with latest Update to Raspberry configuration"
Performed the latest git pull and was following the additional instructions for running on Raspberry Pi.

1) wget https://github.com/mozilla/geckodriver/releases/download/v0.18.0/geckodriver-v0.18.0-arm7hf.tar.gz

2) tar -xvzf geckodriver*

receive the following error:

gzip: stdin: unexpected end of file
tar: Child returned status 1
tar: Error is not recoverable: exiting now

Searched google for

[2017-08-04 15:02] jeffreylm commented on #444
@ahmadudin Does your feature set include my features also?

[2017-08-04 15:09] timgrossmann commented on #444
@ahmadudin Yes it's still on

[2017-08-04 15:09] jeffreylm commented on #444
@ahmadudin What also is important is that you follow the active users of an account, the rest are passive and will most probaly be passive on your account also. So in a sense Tim's original request doesn't defrenciate and will get you there passive and active by chance, but adding the feature to also focus down on the commenters & likers of that account, makes for a higher quality follow list.

An

[2017-08-04 15:10] jeffreylm commented on #444
@timgrossmann does my features also fall under your bounty?

[2017-08-04 15:16] VivianSolide commented on #459
@timgrossmann : You're right, I deleted the screenshot. And I'll generate new credentials :)
I'll retry until he works :)
Thanks!

[2017-08-04 15:28] VivianSolide commented on #459
I just edit the docker-compose.yml with version 2.0
Might it be a problem?

[2017-08-04 16:24] westondeboer commented on #472
The login box was moved, if you update to the latest version, It should fix that error.

[2017-08-04 17:35] BernardoGO commented on #473
Did the file download completely?
I've just tried the commands you've sent and it worked.

[2017-08-04 17:49] andrewjburnett commented on #473
Does it matter where you run the `wget` command?

I'm also running this on a RaspPi and it's no longer working after the update. I'm get the following error, which I believe is related to the driver:

[code]

[2017-08-04 17:57] BernardoGO commented on #473
It shouldn't matter. Maybe you're running out of space to download the driver through wget.
The error you've mentioned, `gzip: stdin: unexpected end of file`, is not related to the update. The downloaded file seems to be corrupted.

The `Exception AttributeError` happens because it did not download or install the driver properly.

[2017-08-04 18:12] andrewjburnett commented on #473
@BernardoGO It seems to download fine. But when running the updated version of InstaPy I'm encountering the `AtrributeError` mentioned above. The same error occurs whether I attempt to use  the Chrome or Firefox. Thoughts?

[2017-08-04 18:25] BernardoGO commented on #473
Did `tar -xvzf geckodriver*` extracted fine?

[2017-08-04 18:34] andrewjburnett commented on #473
@BernardoGO Yup!

[2017-08-04 18:36] andrewjburnett commented on #473
@BernardoGO Nope! lol

[code]

I suppose I'm encountering the same issue as @gitpatrickhub

[2017-08-04 18:40] BernardoGO commented on #473
I think it is happening because you probably have it extracted already.
Try: `tar -xvzf geckodriver-v0.18.0-arm7hf.tar.gz`

If it works follow the next steps in the documentation.

[2017-08-04 18:47] andrewjburnett commented on #473
@BernardoGO Bingo. That worked. However, my script still fails:

[code]

[2017-08-04 18:51] BernardoGO commented on #473
Did you try:
[code]
Then:
`sudo apt-get update`
`sudo apt-get install iceweasel`
`sudo apt-get install firefox`

If it still doesn't work, assuming that you are using raspbian:
`sudo apt-get install rpi-update`
`sudo rpi-update`
`sudo reboot`

[2017-08-04 18:53] andrewjburnett commented on #473
@BernardoGO I'm not actually chaining my commands as shown in `firefoxExample.py`. I'm explicity setting `use_firefox=True` when initializing the InstaPy client, similar to `example.py`. I don't believe this should make a difference though.

Trying the above commands now.

[2017-08-04 18:57] andrewjburnett commented on #473
Did all of the following and am still encountering the same error.

[code]

Followed by:
[code]

[2017-08-04 18:59] andrewjburnett commented on #473
Maybe a completely fresh install of the OS is in store. @gitpatrickhub Have you had any luck?

[2017-08-04 19:01] BernardoGO commented on #473
@andrewjburnett Did you try to update selenium?

[2017-08-04 19:11] andrewjburnett commented on #473
I have now. That seems to have fixed the problem. But now I'm encountering this (which might be associated with [this issue](https://stackoverflow.com/questions/44166608/unable-to-find-a-matching-set-of-capabilities) on stackoverflow):

[code]

[2017-08-04 19:22] n0sw34r commented on #472
New version is working fine :+1:

[2017-08-04 19:22] #472 closed

[2017-08-04 19:30] ahmadudin commented on #444
@timgrossmann okay then
@jeffreylm for now its just following from followers pool, but i also have something in my mind that similiar to your feature. and for following the likers i dont think its possible for now, because we dont have access for that in instagram web.

[2017-08-04 19:31] andrewjburnett commented on #473
I'm running my setup headless also. If I try to run with chrome:

[2017-08-04 19:47] BernardoGO commented on #473
@andrewjburnett I've ran on a fresh raspbian install and I think I was able to reproduce the error now.

First problem, it comes with a version of Firefox that does not support the option `'permissions.default.image'` that we use to reduce bandwidth usage.
Remove it and iceweasel by doing:
[code]
Remove firefox:
`sudo apt-get remove firefox`

Try to run the script to check if it is indeed removed.

[2017-08-04 20:10] andrewjburnett commented on #473
@BernardoGO  On `Try to run the script to check if it is indeed removed.` <- When running the script here I'm still getting the same error. Which seems funny. If there some other installation of Firefox hanging around potentially. I uninstalled everything per the commands above and 'which firefox' returns nothing.

[2017-08-04 20:15] BernardoGO commented on #473
Is it the error:
`Exception AttributeError: "'Service' object has no attribute 'process'" in <bound method Service.__del__ of <selenium.webdriver.firefox.service.Service object at 0x762038d0>> ignored`

If yes, it is right. Reinstall Firefox and change the files if it doesn't work.

[2017-08-04 20:15] gitpatrickhub commented on #473
I was able to get past the gzip error with
[code]

I then ran;
[code]
And then executed;
[code]
Resulting in below error;
[code]

[2017-08-04 20:17] andrewjburnett commented on #473
@BernardoGO No, still the error regarding matching capabilities: `selenium.common.exceptions.WebDriverException: Message: Unable to find a matching set of capabilities`

[2017-08-04 20:18] BernardoGO commented on #473
@andrewjburnett Did you comment the lines 91 and 92?

[2017-08-04 20:27] andrewjburnett commented on #473
@BernardoGO Accidentally, did not save. Everything is now in working order. Thank you much. Jah bless.

[2017-08-04 20:30] andrewjburnett commented on #473
@BernardoGO Now onto getting comments in working order when running a headless setup on the rasp #292 .

[2017-08-04 20:43] BernardoGO commented on #473
@gitpatrickhub Did it work out for you?

[2017-08-04 20:46] gitpatrickhub commented on #473
@BernardoGO Yes! Just commented out the 2 lines and modified the other. Back up and running. Thanks for all the help. @andrewjburnett agree on #292

[2017-08-05 05:03] BernardoGO commented on #444
I think #477 meets all the requirements. There is some extra functionality like following the followers and the users that an account follows since I only saw this issue/bounty after I did the pull request.

[2017-08-05 08:25] ahmadudin commented on #444
Check #479, works simply as required

[2017-08-05 13:57] yuriscosta opened #480 "Don't like by location"
When I try to run
`session.like_by_locations(['c1658008/bergen-norway/'], amount=10)`
I got
![image](https://user-images.githubusercontent.com/13898077/28995951-c85a03b4-79cc-11e7-87d3-62d33af2dc21.png)

[2017-08-05 17:36] jeffreylm commented on #444
@BernardoGO Is 477 now merged? I am still getting use to GITHUB, I can't tell what is now included. I am seeing you and @ahmadudin talk about the differences, but has @timgrossmann added any of your version?

How do I read if it is so. I watched a few hours of tutorials thus so far, but still haven't gotten my head around it. I do understand the pull concept, the fork concept. I cloned the Tim ver

[2017-08-05 17:45] jeffreylm commented on #444
@BernardoGO & @ahmadudin It seems like you to have make the same feature with varying differences.
@ahmadudin  when you say "works simply as requited", which one of the many comments of that are you refering to? Being that I had an extended version and Tim had his bounty version.

Thank you in advance.

[2017-08-05 17:45] BernardoGO commented on #444
@jeffreylm #477 is not merged yet.
You can tell if it's merged, closed or open by opening the pull request. If it says it's open it's not merged yet, you can see the green icon.
If it's closed it won't be merged.
The purple icon means that it was merged, like #476.

If you want to see what has changed you can open the pull request and click on the last tab: changed files. If you want to test it ju

[2017-08-05 19:51] westondeboer commented on #454
Don't know why this was still coming up for me, but that did not fix it.

So instead I am faking the click:
`follow_button.send_keys("\n")`

And well see if the error comes up again, running it on two accounts now.

had to import
[code]

[2017-08-05 20:10] jeffreylm opened #481 "Chrome driver issue"
Hello Everyone,

I had a fully working version, then I downloaded a new copy, because I got the impression that there was an update. Placed the nessecary files in the asset directory, and now I receive this error.

Tried to figure it out, but got nowhere.
Could someone help with this issue?

Thank you in advance.

**Error code**

C:\Users\jeffrey\Documents\GitHub\InstaPy>py quickstart.py
Traceback

[2017-08-05 21:31] Backlonely opened #482 "CANT RUN Auto closes after Start.bat also in when i py quickstart.py"
I have tryed doing it on powershell and cmd i get errors like syntax error line 1. I have kali and windows but no luck at all. Please help me!

[2017-08-05 21:46] timgrossmann commented on #482
@Backlonely Could you please copy your quickstart.py file here?

[2017-08-05 21:48] Backlonely commented on #482
Yes. I will as soon as I can.

_Sent from my Samsung SM-G935T using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 21:51] Backlonely commented on #482
I also have tried with the GUI I press run and nothing happens exept getting quickstart.py and a START.bat file in my master folder...

_Sent from my Samsung SM-G935T using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-05 22:09] VergelDijamco opened #483 "sleep is not defined - from comment_util.py"
Here is the traceback:

Traceback (most recent call last):
  File "C:\Program Files (x86)\JetBrains\PyCharm Community Edition 2017.1\helpers\pydev\pydevd.py", line 1585, in <module>
    globals = debugger.run(setup['file'], None, None, is_module)
  File "C:\Program Files (x86)\JetBrains\PyCharm Community Edition 2017.1\helpers\pydev\pydevd.py", line 1015, in run
    pydev_imports.execfile(file, gl

[2017-08-05 22:16] timgrossmann commented on #483
@VergelDijamco Do you have the latest version?
`git pull`

[2017-08-05 22:25] timgrossmann commented on #444
Fixed by #477

[2017-08-05 22:25] #444 closed

[2017-08-05 22:56] timgrossmann opened #484 "Like different pictures of a user's profile"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=47972754)](https://www.bountysource.com/issues/47972754-like-different-pictures-of-a-user-s-profile?utm_source=47972754&utm_medium=shield&utm_campaign=ISSUE_BADGE)

### Single use
*Key to this feature* is that it includes all the `.set_...` calls, therefore it will interact with different pictures of given users but still make sure

[2017-08-05 22:57] timgrossmann commented on #484
@BernardoGO 😉

[2017-08-05 23:16] timgrossmann opened #485 "Improve the .like_by_feed feature"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=47972974)](https://www.bountysource.com/issues/47972974-improve-the-like_by_feed-feature?utm_source=47972974&utm_medium=shield&utm_campaign=ISSUE_BADGE)

This one should be quite simple.
Reimplement the `.like_by_feed` feature so that it not only *stupidly* likes the pictures on the feed page, but actually **takes into account all

[2017-08-06 02:01] Backlonely commented on #482
from instapy import InstaPy
import os
session = InstaPy(username='', password='')
session.login()
session.set_do_follow(enabled=True, percentage=50, times=1)
session.unfollow_users(amount=10)
session.like_by_tags(['follow4follow', 'followforfollow'], amount=500)

session.end()

[2017-08-06 02:06] Backlonely commented on #482
I also got these errors when I run the windows.ps1

InstaPy Windows Setup
=============================================================================================
Installing Selenium
pip : The term 'pip' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the
spelling of the name, or if a path was included, verify that the path is correct and try again

[2017-08-06 03:13] BernardoGO commented on #484
@timgrossmann I'll take it.

[2017-08-06 04:22] #482 closed

[2017-08-06 04:26] Backlonely opened #486 "set_automated_followed_pool error with a bunch off error messages."
Noob and I need help :0
Thanks in advance :)

C:\Users\No Password\Desktop\InstagramBot\InstaPy-master>set PYTHONIOENCODING=UTF-8

C:\Users\No Password\Desktop\InstagramBot\InstaPy-master>py quickstart.py
Logged in successfully!
set_automated_followed_pool error
 [Errno 2] No such file or directory: './logs/myinstagramusername_followedPool.csv'
Traceback (most recent call last):
  File "quickstart

[2017-08-06 05:19] vitormvasc commented on #485
I'm working on it.

[2017-08-06 06:34] timgrossmann commented on #486
@Backlonely Please try to provide a `page_delay=X` in the Constructor like so:

[code]

And try to put a higher value here like 50 or 100 to test.
Maybe this problem is due to a slow internet connection.

[2017-08-06 07:45] Backlonely commented on #486
@timgrossmann Seems like it has nothing to do with the delay. As soon as I start.bat it opens a cmd and closes it fast... I get 70mbps down and 16mbps up.

[2017-08-06 10:21] jeffreylm commented on #481
@timgrossmann
Here is what solved the problem.

Simply start chrome. Then when I start the start.bat file is connected. The same problem happend hours later and starting then closing chrome fixed the issue. So somewhere in there there is an issue with chromedriver and Python script.

[2017-08-06 11:30] iSimonWeb opened #487 "Selenium driver exception, Chrome crashed"
Hello there, I'm not an expert in Python nor Linux, but after some hours spent configurating my Ubuntu on Linux subsystem I believe I've done it the right way. The project is incredibly awesome and I hope it'll keep up and kick ass.

I run into an issue tough and I need some help.
Running `python3.5 test.py` do some init stuff and then Chrome crashes:
[code]

`test.py` it's just the `chainingExamp

[2017-08-06 11:49] timgrossmann commented on #487
@iSimonWeb Did you follow all the steps on [this Linux guide](https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu.md)?

Also, where is your test.py located?
You have to make sure it's at the same location as the `quickstart.py`, in the root directory of InstaPy

[2017-08-06 11:52] timgrossmann commented on #486
@Backlonely I'll try and look into if the selector is outdated.

[2017-08-06 12:23] iSimonWeb commented on #487
@timgrossmann thanks for the quick response.
Yes I did and my script file is located in the root folder or your cloned repo.

Is there a way to get more info on the occurred exception?

[2017-08-06 12:31] timgrossmann commented on #487
@iSimonWeb Well, you could add a try-catch around the InstaPy call like so:

[code]

This should give you the error occurred

[2017-08-06 12:40] iSimonWeb commented on #487
@timgrossmann no luck, it got me the same error as above:
[code]

[2017-08-06 12:53] timgrossmann commented on #487
@iSimonWeb Please try to start Chrome before starting the script.

[2017-08-06 17:50] timgrossmann commented on #70
#484

[2017-08-06 17:50] #70 closed

[2017-08-06 17:51] #187 closed

[2017-08-06 17:52] timgrossmann commented on #234
#477

[2017-08-06 17:52] #234 closed

[2017-08-06 17:52] #235 closed

[2017-08-06 17:53] #292 closed

[2017-08-06 17:53] #312 closed

[2017-08-06 17:53] #313 closed

[2017-08-06 17:54] timgrossmann commented on #324
#485

[2017-08-06 17:54] #324 closed

[2017-08-06 17:55] #338 closed

[2017-08-06 17:55] #339 closed

[2017-08-06 17:55] #340 closed

[2017-08-06 17:56] jeffreylm commented on #444
@BernardoGO Really thank you for that explanation.
No one in the videos would just explain these simple concepts. This is truly the basics, now I can follow whats going on here with the merges.

One more question. In the same way you explained above.
Is there is simple workflow with github desktop to have new changes overwrite my local copy?
I got messages about shashing and commiting before I get

[2017-08-06 17:56] timgrossmann commented on #377
#485

[2017-08-06 17:56] #377 closed

[2017-08-06 17:56] #379 closed

[2017-08-06 17:56] #386 closed

[2017-08-06 17:57] #395 closed

[2017-08-06 17:57] #397 closed

[2017-08-06 17:57] #414 closed

[2017-08-06 17:58] #422 closed

[2017-08-06 18:10] iSimonWeb commented on #487
@timgrossmann you got it man!
I'm quite embarassed since the issue was about a non-launching google-chrome.
Anyway, it was caused by google-chrome itself who's not able to start on WSL (Windows Subsystem for Linux) and I found a solution here using this shim library [libudev-stub](https://github.com/therealkenc/libudev-stub).

Hope this will help someone other!
Thanks a lot, we made it. 😎

[2017-08-06 19:04] jeffreylm opened #489 "Feature request / Idea - Human mode"
What if you let the bot run in a mode named human mode.

What the mode would intale is that Instapy would look at the list of todo's and randomize or packed a series of actions.

So for instance when I go on instagram I visit an acount then it read the post, like it then read peoples comments, then like certain comments then follow fome people and visit other post and so on.

The feature would bas

[2017-08-06 20:36] jeffreylm opened #490 "Bug - Unfollow maxout at 246"
Hello Everyone,

The script ends the session after it reaches 246 unfollows.
There us no error of any kind. Does anyone know why this is happening?

@BernardoGO It has your fix, but not the latest merge as of yet.

[2017-08-06 21:03] #487 closed

[2017-08-06 21:22] jeffreylm commented on #423
How do you check for zombie instances on windows? I'm guessing starting the task manager and if it is so, what process am I looking for?

[2017-08-07 07:18] timgrossmann commented on #423
@jeffreylm Exactly, you could start the Task Manager and check for duplicated Chrome instances.
If you run it on a Server, you also would've to look for duplicated xvfb instances.

[2017-08-07 10:26] VivianSolide commented on #459
When I run Docker :
![image](https://user-images.githubusercontent.com/9358572/29022836-43aedcde-7b6b-11e7-883e-cee6861b3ccf.png)

However, I get the latest version
![image](https://user-images.githubusercontent.com/9358572/29022872-6676f4f4-7b6b-11e7-8359-f0fc0f28b17a.png)

The only way to make docker working is to change the version by `"2"`

[2017-08-07 11:53] jeffreylm opened #493 "Idea - Gathering data via API"
Hello Everyone,

I had a conversation I believe with @BernardoGO where he informed me that it via the web we were not able to know or gather info like who commented or liked a certain user's image.
So if you go via instagram app you can just go to an account and see who commented and liked an image.
Those users are the most valuable users because the are active.

My question is this, could we crea

[2017-08-07 14:49] gitpatrickhub opened #494 "Comments not working on Raspberry Pi 3"
Running the latest version on Raspberry Pi 3 headless with Firefox, Python 2.7, xvfb. Receive the below warning;
[code]
Verified the post and no comment was left.

[2017-08-07 20:30] razvanilin commented on #440
I can confirm that #416 crashes the script after a while.

[2017-08-07 21:11] mathmorrison opened #496 "Raspberries pi no work under pressure"
The pressure of High and temperature are infernal along with the raspberries I can not use any king of coomend the use it won't load because I think the power surge is efficient although not too much like the other I've seen the community users uses used to feed the power to this beast.

It only opens the chrome or the fox on fire no deal no work no followers.
@timgrossmann @calvinclaus @ahmadudin

[2017-08-07 21:13] mathmorrison opened #497 "Can anyone help I?"
My fox witness does not open regard the raspberries

[2017-08-07 21:13] mathmorrison commented on #489
Cool

[2017-08-07 21:14] mathmorrison commented on #494
Help me raspberries won't do work

[2017-08-07 21:20] mathmorrison commented on #451
I want run raspberries 8 simultaneity together to ride the power shouldn't I get banned?

[2017-08-07 21:23] timgrossmann commented on #497
@mathmorrison Try to open the web browser before starting the script

[2017-08-07 21:26] timgrossmann commented on #440
@razvanilin Are you completely sure?
I can't really see what would cause the problems

[2017-08-07 21:28] razvanilin commented on #440
@timgrossmann yes, the problem started to appear right after I did a git pull. I did as @diveu said, rolled back those changes and now the script is running without problems.

[2017-08-07 21:33] timgrossmann commented on #440
I removed these lines from InstaPy to make sure less people get your problems

[2017-08-07 21:33] #440 closed

[2017-08-07 23:29] andrewjburnett opened #498 "Login Issue"
Anyone else having this problem?

[code]

[2017-08-07 23:32] risharjanto commented on #498
I just got the same error too! It started about half and hour ago.

[2017-08-07 23:38] crzalex commented on #498
they changed the way the landing page is presented. Maybe if somebody change or adapt the code to this https://www.instagram.com/accounts/login/ it could work.

[2017-08-08 00:01] Vvkmnn commented on #498
I'm seeing the same thing too:

[code]

Final dead page for posterity:

![](http://i.imgur.com/wWyIfjH.png)

[2017-08-08 00:10] johnstsai commented on #498
same here, happened couple days ago

[2017-08-08 00:24] botpadawan commented on #498
got the same issue here

[2017-08-08 00:32] pattymayo commented on #498
Same thing here. Looks like the default page for instagram is not the login screen but the account set up. This only just happened to me today, but I'm not on my normal laptop. So is there a way to set default instagram.com to the login, or do we need to add a line for finding the log in button before entering the log in information.

[2017-08-08 01:56] Bay40k commented on #498
It's an issue with the auto-English language selector thing on launch. If you only use the bot in English (your default browser locale being English), you can comment out lines **11-14** in `instapy/login_util.py` to get it working temporarily until the issue gets resolved.

[2017-08-08 02:05] gitpatrickhub opened #499 "Load button not found working with current images"
On raspberry pi 3 headless using Firefox.

After login receive “Load button not found working with current images”

Just started seeing this about same time as others reporting login issues.

[2017-08-08 02:26] kthyaki opened #501 "RaspberryPi was working just fine until the last update..."
Hey guys!

Would anyone help me with this issue please?

`Traceback (most recent call last):
  File "/home/pi/Desktop/InstaPy/firefoxExample.py", line 18, in <module>
    InstaPy(username='xxx', password='xxx', use_firefox=True, page_delay=25)\
  File "/home/pi/Desktop/InstaPy/instapy/instapy.py", line 85, in __init__
    self.set_selenium_local_session()
  File "/home/pi/Desktop/InstaPy/instapy/i

[2017-08-08 03:49] smallredcape commented on #499
Same here - script can't find the load button on Chrome - using Terminal on a mac.

[2017-08-08 03:55] leasabban commented on #498
I have the same issue
commenting lines 11-14 in `instapy/login_util.py` fix it
but the pagination does not work for some reason

[2017-08-08 04:04] Bay40k commented on #498
@leasabban On the latest commit it's actually lines **12-16**, sorry about that.

[2017-08-08 04:11] leasabban commented on #498
yes this is actually what I did
so the login part works fine now
but for some reason pagination does not work

[2017-08-08 04:24] Bay40k commented on #498
@leasabban Maybe it's a different issue then? I got the login issue today from the language selector thing, and once I fixed that everything now works again how it should.

[2017-08-08 04:33] leasabban commented on #498
@Bay40k yes maybe u right will try again tomorrow on my bigger screen sometimes on my laptop it does not paginate
Thanks anyway!

[2017-08-08 04:38] sionking commented on #499
same

[2017-08-08 06:17] anuragbjain commented on #499
They have changed the classes for the Load url, updating the class on like 34 and line 111 of like_util.py to  ('//a[contains(@class, "_1cr2e _epyes")]') made it work for me.  On both Raspberry pi and Mac

[2017-08-08 06:27] benvegel opened #502 "Pagination not working (I got a quick fix-- class was renamed)"
Hey the "load more" button class was renamed yielding this error: 'Load button not found, working with current images!'

The issue was a class name change for the "load more"button. I fixed my bot by updating instapy/like_util.py both lines 35 and 115 (they were identical) from:
('//a[contains(@class, "_8imhp _glz1g")]')

to:
('//a[contains(@class, "_1cr2e _epyes")]')

[2017-08-08 06:32] wecanfuture opened #503 "Clarifai stoped legal Auth key"
Hello @timgrossmann,

there is no longer the opportunity to create auth keys. Just if you have an old account you can use it till late 2017 but for new Clarifai Accs its no longer supported.

is there a chance for a fast fix in the clarifai_util.py?

![image](https://user-images.githubusercontent.com/28114725/29059088-2244e378-7c14-11e7-9972-68aa302c9b73.png)

Thanks for your outstanding work and

[2017-08-08 07:45] timgrossmann commented on #502
@benvegel I'll look into this.
Do you want to create a PR for this fix?

[2017-08-08 07:48] timgrossmann commented on #498
#500 was merged, could you guys please test again?

[2017-08-08 08:17] timgrossmann commented on #484
#492

[2017-08-08 08:24] n1k88 commented on #498
It works.

[2017-08-08 08:25] #498 closed

[2017-08-08 08:27] thehon commented on #502
I just got mine working by de-capitalizing the C in class
('//a[contains(@class, "_1cr2e _epyes")]')

[2017-08-08 08:44] #502 closed

[2017-08-08 08:47] timgrossmann commented on #499
#504

[2017-08-08 08:47] #499 closed

[2017-08-08 09:03] jeffreylm opened #505 "Xpath issue: Message: no such element: Unable to locate element:"
@BernardoGO You were able to fix the DIV issue last time.
Yesterday it worked fine. Woke up this morning and started the script, and I got this.
Seems as though instagram has changed the login page again.

**Here is the CMD prompt error**

Traceback (most recent call last):
  File "quickstart.py", line 4, in <module>
    session.login()
  File "C:\Users\jeffrey\Documents\GitHub\Instapy477\instapy\

[2017-08-08 09:06] #44 closed

[2017-08-08 09:07] timgrossmann commented on #217
#416

[2017-08-08 09:07] #217 closed

[2017-08-08 09:10] #374 closed

[2017-08-08 09:10] #405 closed

[2017-08-08 09:10] #407 closed

[2017-08-08 09:11] timgrossmann commented on #429
#495

[2017-08-08 09:11] #429 closed

[2017-08-08 09:12] #435 closed

[2017-08-08 09:12] #438 closed

[2017-08-08 09:13] #431 closed

[2017-08-08 09:13] #483 closed

[2017-08-08 09:14] #420 closed

[2017-08-08 12:38] sojan-official opened #506 "Limit the number of items for feedlike"
currently the feed like function only has one parameter which takes the number of likes and the script will keep on executing until that number is reached.
what about about another parameter which will abort the function after scrolling through n number of images in feed

use case
------------------------
- i want to automate like pictures on my feed  by setting up a crontab every hour
- the  para

[2017-08-08 12:47] #484 closed

[2017-08-08 12:50] Spyd3r0us commented on #505
Getting this same issue

[2017-08-08 12:56] timgrossmann commented on #505
@jeffreylm @Spyd3r0us Did you guys actually do a `git pull` before opening/commenting this issue?

[2017-08-08 13:01] jeffreylm commented on #505
@timgrossmann So I had the issue before I downloaded the new last update #477 , then I donwloaded the zipfile and copied over the chromedriver and the quickstart.py

And still got the same error.

Are you not getting the same error?

And do bear in mind yesterday it worked perfectly ok logging in. I left the computer on overnight, and on waking up, I just typed start.bat

Greetings,
Jeffrey

[2017-08-08 13:02] timgrossmann commented on #505
@jeffreylm Yes, we had to change it this morning. The newest version has no problems with logging in.

[2017-08-08 13:02] jeffreylm commented on #505
@timgrossmann still not clear how to do git updates via the git desktop app.

[2017-08-08 13:02] Backlonely commented on #486
@timgrossmann Did you ever figure out the problem?

_Sent from my Samsung SM-G935T using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-08 13:02] timgrossmann commented on #505
You probably have a Windows system, do you?

[2017-08-08 13:04] timgrossmann commented on #505
@jeffreylm Download this: https://git-scm.com/download/win

Then use it to do a:

`git clone https://github.com/timgrossmann/InstaPy.git`

once you've done that you can simply do:

`git pull`

to update it with the newest version

[2017-08-08 13:04] timgrossmann commented on #486
@Backlonely no, sorry. Haven't figured something out yet

[2017-08-08 13:08] ogerasymenko commented on #505
got same issue and seems instagram again change //form/div/div/input location. some time ago was same issue - fix was in changing //form/div/input to //form/div/div/input

[2017-08-08 13:09] jeffreylm commented on #505
@timgrossmann Thank you. How will it know which directory to write to? Or will it make a directory and then always do it automatically from that moement on?

Where will the files be placed? So I know where to copy the start.bat and quickstart.py files to.
Also could you add that git code you just wrote to the main help page for windows install, because only now that you typed this do I know that i

[2017-08-08 13:22] jeffreylm commented on #505
The funny thing is the last time that I was busy in the cmd line like this is in '94 with Dos 6.22. The good old days.

[2017-08-08 13:23] datteba opened #507 "TypeError: can't multiply sequence by non-int of type 'float'"
Hi! I get this error when I try to interact with user followers

![image](https://user-images.githubusercontent.com/30053143/29073721-ef5e27ce-7c4c-11e7-81ca-3692fb6d55eb.png)

[2017-08-08 13:30] jeffreylm commented on #505
Would it be an idea to scrape the page to find input, then use that to set the variable for your input field?
I am noticing that the are just messing with the div, probally to have the bots have issues that use Xpath. I can't imagine a good technical reason for keep messing with the depth of the input field.

[2017-08-08 13:40] timgrossmann commented on #505
@jeffreylm Please gather that info from google.

[2017-08-08 13:40] #505 closed

[2017-08-08 13:40] timgrossmann commented on #507
@ahmadudin

[2017-08-08 14:13] ahmadudin commented on #507
@datteba i could not reproduce the error yet, your quickstart file will be a big help.

[2017-08-08 14:14] timgrossmann commented on #507
**@datteba I really can't reproduce this behaviour, please post your quickstart.py!**

[2017-08-08 14:31] datteba commented on #507
from random import randint
from random import sample
from time import sleep
from instapy import InstaPy

friend_list = ['friend1', 'friend2']

tag_list = ['tag1', 'tag2']

rnd_1 = randint(20, 100)
rnd_2 = randint(20, 40)
rnd_3 = randint(30, 50)
rnd_interact = randint(2, 10)

InstaPy(username="user", password="pass") \
  .login() \
  .set_upper_follower_count(limit=5000) \
  .set_lower_follower_cou

[2017-08-08 14:53] gitpatrickhub opened #509 "Question re: Interact with someone else's followers/following"
Does this feature support only interacting with someone else's followers? I.E., I don't want to follow any of the provided user accounts followers, I only want to interact with the followers by liking & commenting on posts. If so, how do you configure the lines below?

[code]

[2017-08-08 15:19] timgrossmann commented on #509
@gitpatrickhub Unfortunately, this feature is not supported yet...

[2017-08-08 15:38] gitpatrickhub commented on #509
@timgrossmann can this be added to the list of features to be created?

[2017-08-08 15:57] jeffreylm commented on #481
Just updated to the latest version. So for now I believe this issue can be closed. The script is running normal so far for the day.

[2017-08-08 16:46] timgrossmann commented on #509
@gitpatrickhub Hmm... I think we can at least keep this issue open.
If you posted this earlier, we could've made this part of #492

[2017-08-08 16:46] #481 closed

[2017-08-08 16:47] timgrossmann commented on #507
@datteba Does the error occur every time?

[2017-08-08 16:51] datteba commented on #507
yes @timgrossmann every time

[2017-08-08 17:57] gitpatrickhub commented on #509
@timgrossmann thanks! I requested it, but failed to explicitly state that following should not be required to support the "interact with".

[2017-08-08 17:59] ahmadudin commented on #507
I still can not reproduce the error. The error occur when second parameter of `sample()` is non-int datatype. So i used `ceil()` to round up any decimal number produced by the `self.user_interact_percentage*len(userFollowed)/100` and make sure the type is int.

[2017-08-08 18:13] flothousand commented on #411
Hi everybody, can someone tell me why my script does not really run? So I installed everythong correctly, set the crontab to run quickstart.py. When I start it from terminal it runs through and works fine. But with crontab it seems noting happens..... :/

If I check with "grep "quickstart.py" /var/log/syslog" it says the file is run every 3 hours... but I cannot see that I really follow anybody ne

[2017-08-08 21:02] abraztsov opened #510 "Rewrite README"
I have a bot that works with cronjob on Ubuntu server, all works fine for months and today I decided to pull InstaPy from Github and see what is going on with the project.
And....
I don't understand how to work with new changes....docker?microservice architecture?....in readme I see 10% of new changes (that I can't understand without deep learning how to work with docker...really??) and 90% of old

[2017-08-08 21:08] timgrossmann commented on #510
@abraztsov You still simply need to follow the Getting Started part and run a file, for example one that's called `quickstart.py` and add the functionality there.

[2017-08-08 21:26] abraztsov commented on #510
@timgrossmann  There is no such file anymore, now there is a `docker_quickstart`

[2017-08-08 21:30] marudon opened #511 "New Login Bug"
Since a few days there is the following bug when trying to login the script. Maybe any changes in code of instagram? Does anybody know a solution?

login_util.py", line 27, in login_user
    action = ActionChains(browser).move_to_element(inputs[0]).click().send_keys(username) \
IndexError: list index out of range

[2017-08-08 21:39] timgrossmann commented on #510
@abraztsov Well, we can add that again

[2017-08-08 21:39] timgrossmann commented on #511
@marudon Did you actually do a `git pull` before submitting this issue?

[2017-08-08 21:42] abraztsov commented on #510
@timgrossmann So for the previous work flow I just need to add `docker_quickstart` and ignore `docker_ docker_quickstart` ?

[2017-08-08 21:47] Naramsim opened #512 "Publish on Docker Hub"
Hi, thanks for your work. It would be extra useful for us if you publish the Dockerfile to the Docker hub and automate the builds, so we can pull always the latest version without spending time building everything up.

`docker pull instapy #done`

https://hub.docker.com/

Thanks :) (It is free)

[2017-08-08 21:58] marudon commented on #511
No. Is there a bugfix already? The script worked fine and without changes at the next moment there was this bug :-(

[2017-08-08 22:09] FBosler commented on #511
Hey Tim,
I know this is a really dumb question, but I am still curious. Maybe you can help a fella out. How do I update my instaPy version on the server.

Cheers
Fabian

[2017-08-08 22:14] marudon commented on #511
@timgrossmann: I pulled login_util.py - now it works again. Thanks :-)

[2017-08-08 22:38] amoffitt123 opened #513 "No Module named instapy"
Hello, I am running InstaPy on my raspberryPi 3 and everytime i try and run quickstart.py i get this error-
Traceback (most recent call last):
  File "/home/pi/Projects/InstaPy/docker_conf/all_in_one/quickstart.py", line 1, in <module>
    from instapy import InstaPy
ImportError: No module named 'instapy'

Not sure what I did wrong as i am new to python.... thanks.

[2017-08-09 06:17] flothousand opened #514 "Automate InstaPy with Crontab"
Hi everybody, can someone tell me why my script does not run from server? So I installed everything correctly and set the crontab to run quickstart.py every 3 hours. If I check with "grep "quickstart.py" /var/log/syslog" it says the file is run every 3 hours... but I cannot see that I really followed anybody new or liked images. Can you help me?

When I start quickstart.py from mac terminal it run

[2017-08-09 06:49] iSimonWeb commented on #513
Your script should be in the root folder of InstaPy, either way python
won't find it.
"/home/pi/Projects/InstaPy/" in your case.
Otherwise, I suppose you should change the import at the beginning of the
script.

On Wed, Aug 9, 2017, 12:38 AM amoffitt123 <notifications@github.com> wrote:

[2017-08-09 07:52] bkoohy opened #515 "<urlopen error [Errno 8] nodename nor servname provided, or not known>"
Error is thrown when I run docker-quickstart.py through the terminal.
`Traceback (most recent call last):
  File "docker_quickstart.py", line 18, in <module>
    bot.set_selenium_remote_session(selenium_url='http://selenium:4444/wd/hub')
  File "/Users/behradkoohywork/Desktop/InstaPy-master/instapy/instapy.py", line 145, in set_selenium_remote_session
    desired_capabilities=DesiredCapabilities.C

[2017-08-09 09:55] timgrossmann commented on #510
@abraztsov Yes exactly, it works the exact same way as before 😉

[2017-08-09 09:57] timgrossmann commented on #515
@bkoohy Good question, never had that problem.

Maybe someone here had the same problem...

[2017-08-09 09:58] timgrossmann commented on #514
@flothousand Did you add the `nogui=True` parameter in the `InstaPy(username="", password="")` constructor?

Make sure to read the part on how to run it on the server from the README

[2017-08-09 10:00] timgrossmann commented on #511
@FBosler Follow the instructions in the `How_to_Ubuntu` once you've done that you can simply `cd InstaPy` and in the InstaPy folder you only have to do a `git pull`.
This will update it with the newest changes

[2017-08-09 10:00] #511 closed

[2017-08-09 10:17] Naramsim commented on #514
Commands executed with cron do not have the same env variables you normally have. Check which ones are available by running a `printenv` in a cron job

[2017-08-09 10:37] flothousand commented on #514
@timgrossmann first of all thanks for your support and the great code :) fun to play with!

So I added now the nogui parameter to the quickstart behind username and password. Will check in the next hours if I am following more people and let you know

[2017-08-09 10:48] bkoohy commented on #515
@timgrossmann Some googling suggests its an internet connection error? Maybe I've configured the setup wrong - I'll keep working at it

[2017-08-09 11:35] yuriscosta commented on #480
Still not working...

[2017-08-09 11:39] timgrossmann commented on #480
@yuriscosta Is this the newest version of the script?

[2017-08-09 11:41] yuriscosta commented on #480
yeah, I did the git pull today

[2017-08-09 11:43] timgrossmann commented on #480
@yuriscosta To be honest, you guys should actually start looking at the Readme and examples before posting issues stating it's not working...

If you look at the location you provided: https://www.instagram.com/explore/locations/c1658008/bergen-norway/

You can see that this is not the final page.
Compare that to the example: https://www.instagram.com/explore/locations/224442573/salton-sea/

You c

[2017-08-09 11:45] yuriscosta commented on #480
I read, but I understood that I can put the location like that.
Thanks.

[2017-08-09 11:54] yuriscosta commented on #480
What about the load button not found?

[2017-08-09 11:56] timgrossmann commented on #480
@yuriscosta The load button is not present on the location you provided.
Should work 😉

[2017-08-09 11:56] #480 closed

[2017-08-09 13:27] datteba commented on #507
@ahmadudin @timgrossmann

I removed ceil() and now it works fine!

userFollowed = sample(userFollowed, self.user_interact_percentage*len(userFollowed)/100)
instead of
userFollowed = sample(userFollowed, ceil(self.user_interact_percentage*len(userFollowed)/100))

[2017-08-09 13:34] n0sw34r opened #517 "Unable to locate element"
Anyone have same error and know how to fix it please?
![image](https://user-images.githubusercontent.com/30392165/29124103-3306a368-7d18-11e7-9406-2dcf7f4a15ee.png)

[2017-08-09 14:18] datteba commented on #509
Really interested in this too! I only want to like posts of user followers without follow them.

[2017-08-09 14:26] amoffitt123 commented on #513
Okay, I moved quickstart.py to the instapy folder, it is still giving me the same error, any ideas? @iSimonWeb

[2017-08-09 14:35] amoffitt123 commented on #513
Thanks @iSimonWeb, that fixed that problem, but then when I tried running quickstart.py again in the terminal with

I got these errors
Traceback (most recent call last):
  File "quickstart.py", line 14, in <module>
    InstaPy() \
  File "/home/pi/Projects/InstaPy/instapy/instapy.py", line 93, in __init__
    self.set_selenium_local_session()
  File "/home/pi/Projects/InstaPy/instapy/instapy.py",

[2017-08-09 14:47] timgrossmann commented on #513
@amoffitt123 Did you put the chromedriver in /assets?

[2017-08-09 14:47] j4ypandey opened #518 "Commenting and Following doesn't work while liking by location."
[code]

This is the script but it only likes images of that location and doesn't comment and follow, even though I have written to do so.
Please Help!

[2017-08-09 14:49] timgrossmann commented on #518
@j4ypandey As stated several times now:

Please put all the `.set_...` methods above any of the `.like_by_...` methods, else it will only be taken into account once the `.set_...`method is called

[2017-08-09 14:49] #518 closed

[2017-08-09 14:54] amoffitt123 commented on #513
Also, this may be a super silly question, but where do you enter your username and password?

[2017-08-09 16:25] timgrossmann commented on #513
@amoffitt123 Could you please take a look at the README file here on GitHub?
There is a Getting Started section 😉

[2017-08-09 16:25] #513 closed

[2017-08-09 16:58] omidedipidizi commented on #517
yes i get same error right now !! load Instagram registration page instead of login page ...

[2017-08-09 17:05] westondeboer commented on #517
If you pull the latest version, it should fix that error.

[2017-08-09 17:06] westondeboer commented on #515
I have removed that line completely and it works for me.

[2017-08-09 23:07] amoffitt123 opened #519 "Completely Lost!! Help"
Hello all, I am trying to run quickstart.py on my raspberry pi 3 and I just keep on getting errors. Here is my code -

from instapy import InstaPy

# Write your automation here
# Stuck ? Look at the github page or the examples in the examples folder

dont_like = ['food', 'girl', 'hot']
ignore_words = ['pizza']
friend_list = ['friend1', 'friend2', 'friend3']

# If you want to enter your Instagram C

[2017-08-09 23:28] amoffitt123 commented on #519
Nevermind guys, GOT IT!!!

[2017-08-09 23:28] #519 closed

[2017-08-10 00:16] bombsandbottles commented on #515
I'm having the same issue...No issues when I run locally.

[2017-08-10 01:58] 7ruth commented on #450
Hey @gitpatrickhub , thank you for the help, you pointed me in the right direction and I got it to work.

Might help anyone else:
No exagear and no chrome (I started off from Tim Grossman's blog post that had a link to that)
I reinstalled everything following directions in the docs/How_to_Raspberry.md
Note, dont use docker_cond/all_in_one/firefoxExample.py but instead example/firefoxExample.py (sh

[2017-08-10 04:39] gitpatrickhub commented on #225
It would be great to log more info to perform additional analysis. At a minimum it would be great to log number of actions per tag (likes, comments, follows). Currently it logs a summary of all tags.

[2017-08-10 07:50] timgrossmann commented on #519
@amoffitt123 Feel free to post a quick description on how you solved it to help others having the same problem 😉

[2017-08-10 08:17] flothousand commented on #514
Okay still not running. I installed all the packages on he server and also running quickstart from mac works fine. I am just wondering which information you need so that you could help me.

Do I have to change anything else than adding nogui=true in quickstart.py file?

[2017-08-10 08:23] timgrossmann commented on #514
@flothousand Try to run the quickstart file by hand first.

Do `python3.5 quickstart.py` or whatever your file is called.
If that works, it's your crontab.

Make sure to put your environment vars, if you set them there, in the /etc/environment file.
Make sure your crontab looks something like this: `0 4 * * * cd /InstaPy && python3.5 quickstart.py`.
The crontab job has to move to the InstaPy folde

[2017-08-10 09:40] raffaeleder22 opened #520 "Bot and Online server: Installation issues?"
I tried to set up the bot on pythonanywhere, but there might be a problem that I can't figure out! Does someone of you how to make it works? Thanks
Here you can see what happens.... It would be great if someone could help me! Thanks a lot!
![1](https://user-images.githubusercontent.com/30895126/29164663-836f3902-7dc0-11e7-8ebb-0b130eccd235.png)
![2](https://user-images.githubusercontent.com/308951

[2017-08-10 17:12] NedYork commented on #503
I made a PR #521 which updates this.

[2017-08-10 19:04] tylergit2 opened #522 "Best way to update"
I've been having issues with the script ever since the bug where instapy was getting stuck at the login screen. I saw a string of comments that others were having the same issue at the time... I guess it was resolved but I still get stuck at the login screen.

I think I missed an update. What's the best way to update my files to the latest version of instapy?

[2017-08-10 19:32] gitpatrickhub commented on #522
from the command line cd to the InstaPy directory and then do
[code]

[2017-08-10 20:17] NewyorkDev commented on #520
run sudo -s
and then
`1. git clone https://github.com/timgrossmann/InstaPy.git
2. cd InstaPy
3. pip install .
or
3. python setup.py install`

[2017-08-10 20:18] NewyorkDev commented on #520
1. git clone https://github.com/timgrossmann/InstaPy.git
2. cd InstaPy
3. pip install .
or
3. python setup.py install

[2017-08-10 20:19] NewyorkDev opened #523 "Learning Suggestions"
Are there any books or online resources you guys would recommend to read to try and learn and help with the developing of this project.

All help is appreciated :)

[2017-08-10 20:31] citizenQ commented on #523
For understanding the scripts and basic knowledge of how you can modify stuff, I would personally just stick with official learning resources.
(Subreddit: learnpython, Books: for ex. Automate the boring stuff with Python, Blogs, ...)

For authenticity of the bots I would recommend to do a lot of research about Instagram itself. (for ex. there are Tags which obviously reach a lot more people (http:

[2017-08-10 20:54] gitpatrickhub commented on #509
@timgrossmann @datteba I'd be willing to contribute, as well, to get this delivered soon

[2017-08-10 21:04] jeffreylm opened #524 "Question - FIFO"
Has the FIFO (First In First Out) been implemented as of yet for the unfollow option?

[2017-08-10 21:54] raffaeleder22 commented on #520
unfortunately, I get this message when I give the command sudo:
sudo: unknown user: root
sudo: unable to initialize policy plugin

also if I give it sudo --user

[2017-08-10 21:57] CanonManF22 opened #525 "import errors"
I am getting this error when I try running the script. I modified the example.py file and moved it into the 'instapy' folder.

from .like_util import check_link
ValueError: Attempted relative import in non-packag

[2017-08-11 07:57] timgrossmann commented on #524
@jeffreylm No, there has been a PR but I was very old and the implementation was really basic.
There were a lot of updates and the PR hasn't been updated so I closed it.

[2017-08-11 07:59] timgrossmann commented on #509
@datteba @gitpatrickhub Well, then let's open up a bounty to get this implemented ASAP 😉

I think with more than 10$ we'll get this implemented in no time.
I'll create a bounty issue for that soon.

[2017-08-11 08:01] timgrossmann commented on #523
@NewyorkDev Also make sure to check out www.automatetheboringstuff.com if you need to get a basic understanding of python and working with selenium.

There also is a really small [How to contribute](https://github.com/timgrossmann/InstaPy/wiki/How-to-Contribute) section to get you started 😉

[2017-08-11 08:01] #522 closed

[2017-08-11 08:02] timgrossmann commented on #503
@wecanfuture @NedYork Will be merges as soon as the documentation changes has been made.
Thank you!

[2017-08-11 08:46] flothousand commented on #514
okay just checked, quickstart on mac running, got python 3.5
Changed crontab from 0 */3 * * * /home/ubuntu/InstaPy && /usr/bin/python ./quickstart.py
to 0 */3 * * * /home/ubuntu/InstaPy && /usr/bin/python3.5 quickstart.py

Will keep you updated :)

[2017-08-11 09:29] timgrossmann commented on #514
@flothousand Make sure to add the `cd` before the directory path `/home/ubuntu/InstaPy` 😉

[2017-08-11 09:30] timgrossmann commented on #509
@BernardoGO Would you be interested in refactoring your `follow_user_followers/following` a little bit?
25$ Bounty? 😉

[2017-08-11 10:49] FBosler opened #526 "Have they changed something again?"
Unable to locate element: {"method":"xpath","selector":"//footer[@class='_oofbn']/div[@class='_mhrsk _pcuq6']/nav[@class='_p1gbi']/ul[@class='_fh0f2']/li[@class='_fw3ds'][10]/span[@class='_17z9g _c4mil']/select[@class='_nif11']/option[text()='English']"}

new bug?

[2017-08-11 10:55] citizenQ commented on #526
got something similiar
`selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"//li[2]/a/span"}`

[2017-08-11 12:06] timgrossmann commented on #526
@FBosler Please remember to post your quickstart file with each issue.
This will help find the bug ASAP

[2017-08-11 12:09] timgrossmann commented on #526
@FBosler @citizenQ Hmm I just checked and the element should still be found with that selector...

[2017-08-11 12:51] citizenQ commented on #526
Still occuring. And like the first time it is happening in the second run of follow_user_followers

--> Ongoing follow 14, now following: b'...'
`
Traceback (most recent call last):
  File "PycharmProjects/InstaPy/botSession.py", line 33, in <module>
    session.follow_user_followers(friends, amount=15, random=True, interact=True)`

  `File "PycharmProjects/InstaPy/instapy/instapy.py", line 693, i

[2017-08-11 13:42] timgrossmann commented on #526
@citizenQ As stated 100 times by now.
**Please Post Your Quickstart File**

I can't reproduce this error and seeing your exact file could help me.

[2017-08-11 13:46] kthyaki commented on #519
@amoffitt123 would you help me with that please? I am having the same issue here. How did you do?

[2017-08-11 13:47] jeffreylm commented on #524
@timgrossmann Ok, good to know.

[2017-08-11 13:47] citizenQ commented on #526
`from instapy import InstaPy`

`friends = [
    '...',
    '...',
    '...'
]`

`tags = [
    "#...",
    "#...",
    "#..."
]`

`session = InstaPy(username='...', password='...', nogui=True)
 session.login()`

`session.set_user_interact(amount=5, random=True, percentage=50, media='Photo')
 session.follow_user_followers(friends, amount=15, random=True, interact=True)`

`session.set_user_interact(a

[2017-08-11 13:54] FBosler commented on #526
Sorry about that:

[code]

[2017-08-11 14:02] timgrossmann commented on #526
@FBosler Did you already do a `git pull` in the last days? This looks like something that already has been resolved.

@citizenQ So the second `set_user_interact` is never reached.
Does the error always happen at the same follower of the second friend?

[2017-08-11 14:10] citizenQ commented on #526
I'm running it at atm, but I recognise that the new people being followed are all written into the .csv as the same name. Maybe I should setup my project again?

[2017-08-11 14:23] citizenQ commented on #526
It is the **14**. one again

[2017-08-11 15:00] timgrossmann commented on #526
@citizenQ Could  you check the profile of the 14th and make sure he/she has a public account, and is actually not a dead profile page or even a "Sorry, this webpage..." error page ?

[2017-08-11 16:08] irinhuman opened #527 "Filtering Inappropriate/nsfw content."
Hello Tim,

Is there a way to turn off/ exclude the filtering of clarifai? Is there a way to make it include images with certain tags even if clarifai labels the image nsfw?

Thanks in Advance,
J

EDIT: I realize that you can just turn the clarifai image check into a comment to stop the script from running.

[2017-08-11 16:18] timgrossmann commented on #527
@irinhuman Exactly

[2017-08-11 16:18] #527 closed

[2017-08-11 16:59] BernardoGO commented on #509
Yes, I'm interested.
I'll start working on it later today. Thanks

[2017-08-11 17:25] datteba commented on #352
I'm also interested in this feature!

[2017-08-11 17:37] timgrossmann commented on #509
@BernardoGO Oh perfect, I'll write an Bounty Issue for it.
This will be the first issue where some of the interface will be changed.
We will move from a `.like_by...` and `.follow_...` to a global `.interact_with`

I think this will be way better since people want to choose on what they do and don't, e.g. like in this example where they only want to get all the users and like their stuff without f

[2017-08-11 17:59] NewyorkDev commented on #523
thanks Tim!

[2017-08-11 17:59] #523 closed

[2017-08-11 18:01] timgrossmann commented on #509
@BernardoGO I think we have to discuss how this should look first... I just tried to write an issue for it and came across some problematic things.

However, you could modify the code to the needs of @datteba and @gitpatrickhub and at least get that 10$ for the small changes.

I will open up an issue to discuss the mentioned interface change and gather some information.

[2017-08-11 18:19] timgrossmann commented on #509
@datteba @gitpatrickhub Feel free to post the bounty you mentioned here: https://www.bountysource.com/issues/48047739-question-re-interact-with-someone-else-s-followers-following

[2017-08-11 18:29] FBosler commented on #526
pull fixed it for me, thx for the pointer. If its up to me, this issue could be closed.

[2017-08-11 19:51] timgrossmann commented on #526
@FBosler thank you for the information.

@citizenQ could you give me an update?

[2017-08-11 21:20] jeffreylm commented on #490
@timgrossmann Hello Tom,

No one seems to be looking into this bug.  Could you look into why this is happening?
It now end at times on an even lower number with the last update. It ended at 58, whilst I asked for 200.

Greetings.
Jeffrey

[2017-08-11 21:24] timgrossmann commented on #490
@jeffreylm I hope you can understand that this is openSource project and Myself and every one else does this in his free time. I don't get a single dollar for this so I don't want to sound rude, but please remember that you're not free to demand anything unless you pay for it.

Thank you for understandings this.
I will look into this as soon as I can find some time for it.

[2017-08-11 21:54] gitpatrickhub commented on #509
@timgrossman $10 added to bounty

[2017-08-11 21:59] datteba commented on #509
bounty posted ;)

[2017-08-11 22:40] ahmadudin commented on #509
i think the requested feature is simply resolved by skipping the following script

[2017-08-12 00:07] citizenQ commented on #526
sorry for answering so late, so no the profile is fully accessible and it is again the 14. one.

[2017-08-12 03:47] BernardoGO commented on #509
It is done: #528

[2017-08-12 05:13] WillManidis opened #529 "cannot import 'InstaPy' (incorrect installation?)"
Excuse my new-ness, but trying to run InstaPy in a DigitalOcean droplet. I went through the install procedure and all seems well-- I then cd'd into InstaPy/examples and changed example.py with the correct username and password.

I then tried to run it with:
`python3 example.py`
to which I get the error
`Import Error: cannot import name 'InstaPy'`

so I assume something went wrong when I was instal

[2017-08-12 05:33] paunocu69 opened #530 "User customizable delays"
Hello everyone,

Today I wanted to run a quick demonstration to my clients and the long delays was a pain in the ass.
I know it's useful to avoid being banned and shit but sometimes we just need to test or to show the thing working and we will have to wait too long for it.

My idea is to have something like a method called set_delay_reduction so that we can set a percentage to reduce every sleep i

[2017-08-12 05:35] paunocu69 commented on #524
I could really use that function

[2017-08-12 05:38] paunocu69 opened #531 "Automatically upload photos in a given folder periodically"
It would be really useful to have something like a not to automatically upload photos in a given folder periodically

So in my mind I would put tons of dicpics I'm at folder and it would be uploaded daily or monthly or on the weekends.

I know it is not possible to upload using the web desktop client but as for right now I'm using the smartphone website just had to change the thing to iphones

[2017-08-12 05:53] sojan-official commented on #530
InstaPy has option for passing `page_delay` as a param. you can reduce the default 25 sec delay using that.

`session = InstaPy(username='username', password='password', page_delay=5)`

[2017-08-12 06:02] sojan-official commented on #529
the instapy module exists in the root folder of InstaPy.
copy the example.py to root folder and try running from there.

https://stackoverflow.com/questions/67631/how-to-import-a-module-given-the-full-path

[2017-08-12 07:02] paunocu69 commented on #530
This is not the delay I've meant. The one you've said is relative to the time the browser will wait to least I think.
The one I'm asking for is relative to the sleeps

[2017-08-12 07:10] satiskmar opened #532 "Only like a photo if it has more than X likes"
Is it possible!?

[2017-08-12 07:18] timgrossmann commented on #526
@citizenQ just out of curiosity, could you try to use the '.like_by_user()' Feature with that 14. one ?
Just so I know, that his profile is not the problem

[2017-08-12 07:21] timgrossmann commented on #532
@satiskmar at the moment it's not implemented. As with the upper and lower follower count, this could be implemented.
I'll leave this open, maybe someone will implement it

[2017-08-12 07:26] timgrossmann commented on #531
@paunocu69 I think this would be an awesome feature.
Problem is that when switching to the mobile page, every single Elements query has to be adjusted.
Tha is a lot of work as well.
But we can do some testing if it's possible to start there page as modibole and upload pictures

[2017-08-12 09:34] citizenQ commented on #526
when I run,
[code]
everything is working, but it is stated that

`Load button not found, working with current images!`

but still everything is working

[2017-08-12 09:45] ahmadudin commented on #526
@timgrossmann i think public or private is not the problem, since the error is in `follow_given_user_follower`, and the `like_by_users()` method not yet executed

@citizenQ did you, by any chance, change the browser window size during the session?

[2017-08-12 10:40] citizenQ commented on #526
@ahmadudin No I didn't.

[2017-08-12 13:19] timgrossmann commented on #485
#495

[2017-08-12 13:19] #485 closed

[2017-08-12 13:45] jeffreylm commented on #490
@timgrossmann Tom,

It wasn't a demand. It was more in the vein of trying to bring light to a bug, and not a feature request. I understand the response for a feature request as in that this is opensource, thant tottaly understandable.

This bug it one of the core features of the bot, and sooner or later others will also experience it. I just ran the bot, and not it unfollows 0. So for some reason

[2017-08-12 14:21] jeffreylm commented on #490
@timgrossmann Just for clarity, I do understadn that you are doing this in your free time, and I really appreciate the work you have done.

One thing I just tried was to restart the computer (Win 7, Python 3.6.2), and your bot doesn't unfollow anymore.

session.unfollow_users(amount=400, onlyInstapyFollowed=True)

Greetings,
Jeffrey

[2017-08-12 14:33] jeffreylm commented on #490
@timgrossmannann

When I now change session.unfollow_users(amount=400, onlyInstapyFollowed=True) into
session.unfollow_users(amount=400). It started unfollowing.
Then I stopped it and put the end part back, and it was back to not unfollowing anyone, and ending the session and closing the browser.

Side note, it does scroll down and do all that it normally does to get ready to start unfollowing, th

[2017-08-12 14:35] timgrossmann commented on #490
@jeffreylm Maybe you don't have any accounts that were followed by InstaPy left?

[2017-08-12 14:40] jeffreylm commented on #490
I ran it for the entire day yesterday, and added about 700 people, then I edited the script to only do an unfollow today.

[2017-08-12 14:43] timgrossmann commented on #490
@jeffreylm Well, looks like a bug then

[2017-08-12 14:45] jeffreylm commented on #490
Yes, I really wish I had the knowledge to fix it, else I would, but this is outside of what I know at the moement about python. And as I stated above, before the recent update I could always get 246 unfollows, but now none, if onlyInstapyFollowed=True is set.

[2017-08-12 14:47] gitpatrickhub commented on #509
I’m out of town and don’t have remote access configured for my rpi3. Will try tomorrow evening. Thanks @timgrossman @bernardgo

[2017-08-12 14:48] jeffreylm commented on #490
Also this is what the command prompt write during execution : Number of people followed automatically remaining: 2249

It was lower before I did the all day run yesterday. One thing to also note, Instapy has never lowered that number ever since I am running the script, it only adds to the value, even when onlyInstapyFollowed=True was being used.

Greetings,
Jeffrey

[2017-08-12 15:14] jeffreylm commented on #490
@timgrossmann

I opened the followed pool csv file and looked at the bottom of the list, and the account that was asked to follow it's users: session.follow_user_followers(['friend', 'friends', 'friends3'], amount=150, random=True)

Has many follows of the given account entered in the csv file. So for instance if it was elon musk, there is about 150 times his name in the file tight under each othe

[2017-08-12 15:21] jeffreylm commented on #490
The followed.txt has "0" at the first line.

[2017-08-12 15:46] WillManidis commented on #529
@sojan-official I moved example.py into the InstaPy/ folder and ran it, which looks like it made it further then last time, however it ended with error
`selenium.commom.exceptions.WebDriverException: Message unknown error: Chrome Failed to start: excited abnormally`
so now I have an error in my chrome installation?

[2017-08-12 16:29] sojan-official commented on #529
do you have the chrome webdriver in assets folder ?

https://github.com/timgrossmann/InstaPy/blob/master/docs/How_To_DO_Ubuntu.md

[2017-08-12 16:33] WillManidis commented on #529
@sojan-official  chromedriver is in ~/InstaPy/assets alongside unicodes.md

[2017-08-12 21:45] WillManidis commented on #529
Solved!

For future people in the same situation, be sure to set nogui=True.

[2017-08-12 21:45] #529 closed

[2017-08-12 21:58] timgrossmann opened #533 "Add user interaction to the like_by_feed feature"
[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=48199211)](https://www.bountysource.com/issues/48199211-add-user-interaction-to-the-like_by_feed-feature?utm_source=48199211&utm_medium=shield&utm_campaign=ISSUE_BADGE)

Simply add support for the `.set_user_interact` to the `.like_by_feed` feature.

[code]

DoD:
- There is documentation added
- There is an example in examples.py
-

[2017-08-12 21:59] timgrossmann commented on #533
@vitormvasc

[2017-08-12 22:08] AbdulABHILASHA opened #535 "No quickstart found"
It says in the readme that there is a quickstart file somewhere bute there isssnt

[2017-08-12 22:09] timgrossmann commented on #535
#534

[2017-08-12 22:09] #535 closed

[2017-08-12 22:14] AbdulABHILASHA commented on #533
Can I DO IT? I WANTR TO

[2017-08-12 22:14] AbdulABHILASHA commented on #533
wow you made me official Contributor!

[2017-08-12 22:16] AbdulABHILASHA commented on #533
wait, does #495 fixes it1?

[2017-08-12 22:16] timgrossmann commented on #533
@AbdulABHILASHA @vitormvasc Has already implemented this, he only needed an issue

[2017-08-12 22:17] AbdulABHILASHA commented on #533
but he didnt upload it yet amiright?

[2017-08-12 22:17] timgrossmann commented on #533
@AbdulABHILASHA Yes

[2017-08-12 22:18] AbdulABHILASHA commented on #533
i think i can do it then?

[2017-08-12 22:20] timgrossmann commented on #533
@AbdulABHILASHA Well, he'll upload it tomorrow. There is no need to redo this... He's already finished

[2017-08-12 22:21] AbdulABHILASHA commented on #533
but i can have it done by today

[2017-08-12 22:22] AbdulABHILASHA opened #536 "Auto message to new followers"
i think that in my opinion it is a great solution for most of the people that use this programme.
we can set a X amount or even everyone to send a message after being of following foes

[2017-08-12 22:22] timgrossmann commented on #533
@AbdulABHILASHA Really, there is no need to implement this again

[2017-08-12 22:24] AbdulABHILASHA opened #537 "SHould we have a multi-account bot?"
for example Login, like 1 photo then logout and login with another account.
do this all day long kind of stuff

[2017-08-12 22:29] AbdulABHILASHA opened #538 "A trigger to all my accounts like my posts when I post new one"
I have my main account and like 70 accounts under other names
I want then to like my posts as ssons as post a new one.

It would be great to have this implemented as son as possibly

[2017-08-12 22:30] AbdulABHILASHA opened #539 "Before comenting try to detect the language"
we already check if the image is inaproproiia can we check its language aswell before commenting?

[2017-08-12 22:32] AbdulABHILASHA opened #540 "Prevent to comment own photo"
Is there a way to prevent that the bot doesn't comment under my own photo?

[2017-08-12 22:33] AbdulABHILASHA commented on #540
it look like i have split personality and talk with me

[2017-08-12 22:37] timgrossmann commented on #539
#65

[2017-08-12 22:37] #539 closed

[2017-08-12 22:37] timgrossmann commented on #540
@AbdulABHILASHA It won't

[2017-08-12 22:37] #540 closed

[2017-08-12 22:40] timgrossmann commented on #538
@AbdulABHILASHA I don't think this is really useful since not many people have 70 accounts...

[2017-08-12 22:40] #538 closed

[2017-08-12 23:51] vitormvasc commented on #533
#541

[2017-08-13 04:06] jmurphy45 opened #542 "Make scripts more random"
Could the script become more random where the sleep method in all the functions use a random number in a range like 1 to 4 seconds for example to make it more random.

[2017-08-13 07:38] ashu-22 commented on #533
Are the issue is still open or closed.

[2017-08-13 08:09] timgrossmann commented on #542
@jmurphy45 Every sleep in the whole script as a random distribution over 1/2 and 1 1/2 the time.

So e.g. on the 4sec sleeps, it will sleep for a random number of seconds between 2 and 6 seconds

[2017-08-13 08:09] #542 closed

[2017-08-13 10:52] amandoabreu opened #543 "Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt' when running docker-compose -f docker-dev.yml up -d"
When running `docker-compose -f docker-dev.yml up -d` I get `Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'`

[2017-08-13 13:53] timgrossmann commented on #543
#544

[2017-08-13 13:53] #543 closed

[2017-08-13 14:03] #533 closed

[2017-08-13 18:44] drogon34 opened #545 "Ability to interact with user's own followers"
I think it might be a good idea to implement a feature for a user to interact with his own followers. As a user's following increases and he doesn't follow some of them back, he should still have the ability to interact with their feed.

Something like this perhaps:
`session.set_user_interact(amount=5, random=False, media='Photo')
 session.like_by_followers_feed(amount=10, random=True, interact=Tr

[2017-08-13 18:47] timgrossmann commented on #545
@drogon34 Reopen this issue if I'm wrong but checkout the `.interact_user_follower()` out. simply provide your own username.

Interact with users that someone else is following
[code]
Interact with someone else's followers
[code]

[2017-08-13 18:47] #545 closed

[2017-08-13 18:53] drogon34 commented on #545
Oh, this might be it then. I was not aware this had been implemented and merged. Will give it a go. Really appreciate this project and all the time you folks have put into it.

[2017-08-13 18:59] sojan-official commented on #506
i think with the latest implementation this shouldn't be an issue. so closing this

[2017-08-13 18:59] #506 closed

[2017-08-13 20:02] ahmadudin commented on #530
@paunocu69 good idea

[2017-08-13 20:11] theolux opened #546 "A few questions"
Hi,

First off, thank you so much for this tool, it's so useful and I'm impressed how well it works!

I've been playing with it the past few days, and I noticed a few problems that I would like to hear your thoughts on:
1. It seems that when trying to like+comment+follow at the same time, issue #335 occurs. How difficult is it to fix?
2. I don't really understand how the like amount per tag works.

[2017-08-14 07:18] diveu commented on #335
Hey, guys.
I fixed it just like @FBosler said: by scrolling back to the top every time i want to follow somebody, and this fixes the issue. Think it might be useful, as it still occurs to some users, like in #546.
I'll try to make a pull request, but I'm pretty new to merging and pulling branches etc., so it might take some time.

[2017-08-14 11:21] datteba commented on #509
@timgrossmann I have always the same problem with Ceil(). If I remove it mannualy from instapy.py it seems to work. I use windows 10, I don't know if this may be the cause.

![image](https://user-images.githubusercontent.com/30053143/29268643-fcc2f9f8-80ed-11e7-83d0-fd46f9e46166.png)

Then, it would be nice if it was possible to always like the last uploaded photo.

If I want to like + follow a li

[2017-08-14 14:50] TBrannan opened #548 "IndexError: list index out of range"
When trying to use the following function

`session.follow_user_followers(['superdeluxe', 'timanderic'], amount=10, random=False)`

I get this error:

[code]

[2017-08-14 15:22] jedbanger opened #549 "unfollow_users problem"
I've been getting problems when trying to use the unfollow_users feature.
When the bot arrives to its followers modal in order to begin unfollowing, i get this error:

`selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"xpath","selector":"/html/body/div[3]/div/div[2]/div/div[2]"}`

Anyone else getting this error? Has the xpath of the p

[2017-08-14 16:13] citizenQ opened #550 "Ways of randomizing tags"
A simple way of randomizing tags from a given list.
**session.py**
[code]

[2017-08-14 16:55] timgrossmann commented on #550
@citizenQ Interesting that you implemented this yourself.

You could also simply do:

[code]

[2017-08-14 17:00] citizenQ commented on #550
lol :'D

[2017-08-14 17:36] amandoabreu opened #551 "Should we check for the comment block notification?"
And automatically either stop commenting, or take a 20 minute break.

[2017-08-14 18:53] BernardoGO commented on #509
@datteba, it is correct. Did it work?

About the ceil error, I've been trying to reproduce it without success since @timgrossmann mentioned it.
Can you post a picture of what's on the browser when it happen?

[2017-08-14 19:07] BernardoGO commented on #509
@datteba The error is fixed by #552.

[2017-08-14 20:02] jedbanger commented on #550
I've also added some tag/likes/follow randomization because I thought it would seem more natural to instagram and would decrease the chances of being caught.  But I'm not a coder so my solution is not very elegant. It works, though.

[code]

So then i can use it like
[code]

The `random.sample` looks easier :) glad to learn about it.

[2017-08-15 00:59] paunocu69 commented on #550
@citizenQ @jedbanger why dont you open pull request to share youre solution with out all and contribute with these project?
to me it sounds great and useful to have everyone will like submit it please

you did a awesome job

[2017-08-15 07:43] timgrossmann commented on #551
@amandoabreu I don't think 20min would be enough... E.g. the 'Like-Block' lasts for ~24h. At least that's what I remember from being blocked

[2017-08-15 09:18] citizenQ commented on #550
I think before pulling we should do something to avoid redundancy.
Tags, Comments and Locations can be randomized, so lets write one function which can handle all of them. So it rather becomes a "randomize_content()". And the optional ability to random pick from a huge amount of Tags, Comments, Locations which are located in a .txt file while static content should always be represented as a python

[2017-08-15 09:20] jeffreylm commented on #490
@BernardoGO

Hello Bernado,

I am having an issue with the unfollow as mentioned above. Would you be so kind as to look into what and why it is happening? I have tried everything that I could thing of, and having beginners knowledge of python, makes it impossibel for me to figure it out for now.

Greetings,
Jeffrey

[2017-08-15 09:31] jeffreylm commented on #490
@BernardoGO

The unfollow use to max out at 246, after several updates it now maxes out at 150. where I have to restart the bat file to for it to at it again.

[2017-08-15 10:23] scheichi commented on #336
for me the same issue, but when i delete the line with `follow_by_list()`the bot is working!
running it with docker-compose on mac os

[2017-08-15 15:19] jeffreylm commented on #490
@BernardoGO @timgrossmann
What I have come to realize is that there may not be anyone from the follow pool on the screen that chrome has scrolled to. I tested it by opening the followpool csv window and doing a search of few of the names randomly. And I noticed that none were found from the Chrome window.

So my question is.
Does the script actually set the window up to have follow pool people? So

[2017-08-15 16:14] WillManidis opened #554 "Option to prevent double/triple-commenting?"
I run the script 1-2 times a day on a handful of somewhat niche hashtags, and occasionally, thanks to random chance, it will comment on the same photo three or four times.

Is there a way to check if I have commented on a photo before I do it again? I think I can probably write this myself but I wanted to make sure I wasn't reinventing the wheel.

[2017-08-15 17:18] ahmadudin commented on #554
@WillManidis I dont understand how double commenting can happen. If you read the code, Image that already liked cannot be commented on again. Unless you unlike it. cmiiw.

[2017-08-15 17:41] WillManidis commented on #554
@ahmadudin that's what I'm unsure about also -- but I end up seeing photos where when I run the script a handful of times they all end up with three or four comments on them.

[2017-08-15 18:05] ahmadudin commented on #554
@WillManidis i think for now, lets wait and see if there is any other people getting this issue

[2017-08-15 19:27] eigentlichich opened #555 "new "session.set_" does not work with firefox?"
Im trying to run the firefox example with Interact with someone else's followers. But I allways get a syntax error with session.

[2017-08-15 21:45] timgrossmann commented on #555
@eigentlichich Could you post your quickstart file, please?

[2017-08-16 05:52] eigentlichich commented on #555
from instapy import InstaPy

#
# use_firefox=True : Switches the browser from Chrome to Firefox/Geckodriver
#                    which might be better on ARM based systems
#                    The default value is False
#
# page_delay=25 : Tells the WebDriver to poll the DOM for a certain amount of time
#                 when trying to find any element (or elements) not immediately available.
#

[2017-08-16 06:57] Psychonics opened #556 "Can not open quickstart.py"
![capture](https://user-images.githubusercontent.com/31060084/29350934-275c1f30-8226-11e7-9784-718a74e4a9a8.PNG)
Any ideas on what to do??

[2017-08-16 07:11] timgrossmann commented on #555
you have to do:

[code]

and so on 😉
You shouldn't mix the chaining with the session options

[2017-08-16 07:11] #555 closed

[2017-08-16 07:14] timgrossmann commented on #556
@Psychonics If you look at the path of your CMD-prompt, it says that you're at `C://Users/Ting`, but you're not in the InstaPy-master folder, where the quickstart is located.

Try another `cd InstaPy-master` before calling `py quickstart.py`

[2017-08-16 07:22] Psychonics commented on #556
Thank you

[2017-08-16 07:22] #556 closed

[2017-08-16 08:00] nikroy opened #557 "Trying to like media: [number], Not liked: 400"
Hey everyone,

I'm new to the community so I'm sorry if the tone or the info provided by me here isn't sufficient.

Today I ran InstaPy on pytonanywhere. I set it up only to like and follow/unfollow, but it has problems with the former. While it does follow without problems, when it tries to like it gives the following message:
![not liked](https://user-images.githubusercontent.com/31061724/293529

[2017-08-16 09:27] keivan85 commented on #557
This is not the instaPy repo. Your are using instabot.py repo.

[2017-08-16 09:37] nikroy commented on #557
You're absolutely right, sorry for the mistake. I googled the problem, ended up here at #414 and didn't check it.

Sorry again!

[2017-08-16 09:41] Pooort opened #558 "Don't work with virtualenv"
Run _pip install ._ in virtualenv.
After deactivate, activate actions
there is no _instapy_ module.

[2017-08-16 09:44] #558 closed

[2017-08-16 09:45] timgrossmann commented on #558
@Pooort Please quickly describe the solution to your problem.
There probably are several users with the same problem.

Thank you!

[2017-08-16 09:46] #557 closed

[2017-08-16 10:43] datteba commented on #509
Thank you very much @BernardoGO! It works now!

[2017-08-16 10:44] #507 closed

[2017-08-16 13:57] timgrossmann commented on #509
@datteba Can the issue be closed now so that @BernardoGO can claim the bounty?

[2017-08-16 14:12] datteba commented on #509
Of course Tim!

[2017-08-16 14:37] gitpatrickhub commented on #509
@timgrossmann sorry, haven't had a chance to do a pull, but trust that it works. Thanks @BernardoGO

Will this be merged into the Master now?

[2017-08-16 15:37] timgrossmann commented on #509
@gitpatrickhub It already is 😉

[2017-08-16 15:37] #509 closed

[2017-08-16 16:53] BernardoGO commented on #509
Thanks, @gitpatrickhub and @datteba.

[2017-08-16 18:23] #549 closed

[2017-08-16 19:43] timgrossmann commented on #549
@jedbanger Please provide other users that face the same problem a quick instruction on how you solved your problem.

Thank you
- Tim

[2017-08-16 20:53] gitpatrickhub commented on #509
@BernardoGO @timgrossmann
Can you confirm this is the correct setup if I want to Like 3 posts each of 300 followers of a specified user account?

[code]

[2017-08-17 00:35] pedroricardo opened #561 "When trying to run the script in linux I get this error"
When trying to run the script in linux I get this error

![image](https://user-images.githubusercontent.com/25847896/29391038-d284dbfa-82ca-11e7-81af-bdfea24640cf.png)

[2017-08-17 02:35] BernardoGO commented on #509
@gitpatrickhub, it is correct. It will like the first 3 posts.
@datteba Since you've posted a bounty you also have to set it as solved [here](https://www.bountysource.com/issues/48047739-question-re-interact-with-someone-else-s-followers-following).

[2017-08-17 07:57] datteba commented on #509
@BernardoGO done ;)

Would it be possibile to always ignore users without uploaded photos and without profile picture?

[2017-08-17 13:06] timgrossmann commented on #561
@pedroricardo Do a reboot and try again, probably zombie instances.

Did you get the right chrome driver and put it in the assets folder?
Did you add `nogui=True` to the `InstaPy()` contstructor?

[2017-08-17 13:10] pedroricardo commented on #561
ok
Yes I put the chromedriver in the correct folder
Follow all the steps and I installed the dependencies as shown in the tutorial

[2017-08-17 17:20] romankk opened #562 "Guides>"How to CentOS"- missing"
Can you please provide instructions for installation on CentOS

[2017-08-17 18:32] westondeboer commented on #561
If you are doing this from OS X you need to install xquartz.

`brew cask install xquartz`

And then restart

[2017-08-17 19:01] westondeboer commented on #546
2. If you have these set:

`.set_lower_follower_count(limit = 1)\
.set_upper_follower_count(limit = 800)\`

It will vary how many images are liked based on the amount of followers the person has, and then based on if they have over 800 followers, it won't like any images. The reason you don't want to like images from user who have a lot of followers, is that they will not be likely to follow you b

[2017-08-18 00:38] ingorichter opened #564 "Xvfb is missing in instapy_web docker container"
Created the docker images with `docker-compose --verbose up -d --build` but there is an error running `docker_quickstart.py`

Did anybody see this before? I don't remember when I created the docker files the last time, but back then it was no issue. Perhaps a simple `apt-get install xvfb` in the docker file might help. But I don't understand why it was working before.

[code]

[2017-08-18 13:52] fran6will commented on #65
Would this be a good alternative!? https://languagelayer.com

[2017-08-18 14:17] Naramsim commented on #564
Be sure to

[code]

from your error it seems that you are instantiating instapy like` bot= InstaPy(username='test', password='test', nogui=True)`

[2017-08-18 14:24] Naramsim opened #565 "Versioning and changelog"
I think we need a proper versioning system (I don't see any version number in the readme) and a `changelog.md` file, so we can track new features

Thanks

[2017-08-18 17:21] timgrossmann commented on #565
@Naramsim Good idea, problem is that needs to be maintained... There are no version numbers right now. The release feature of GitHub would be a good fit.

Feel free to start one

[2017-08-18 17:23] timgrossmann commented on #65
@fran6will Well, in my opinion, API's are always bad... At least for a project like InstaPy. You always have to get your API keys.
I think clarifai already is annoying to use.

A locally running tool would be best

[2017-08-18 17:25] timgrossmann commented on #562
@romankk The guide seemed to not work correctly so it got removed.
Please use Ubuntu when using Digital Ocean.

The process is pretty much the same with CentOS though, just make sure to use yum instead of apt-get

[2017-08-18 17:42] Psychonics commented on #564
**Traceback (most recent call last):
  File "quickstart.py", line 3, in <module>
    session = InstaPy(username='*******', password='*******')
  File "C:\Users\Ting\Desktop\InstaPy-master\instapy\instapy.py", line 47, in __init__
    self.display = Display(visible=0, size=(800, 600))
  File "C:\Users\Ting\AppData\Local\Programs\Python\Python36-32\lib\site-packages\pyvirtualdisplay\display.py", lin

[2017-08-18 19:17] ingorichter commented on #564
@Naramsim you are totally correct. It was my mistake with the added `nogui=True` argument. Sorry for that.

Thanks for your help. Let's close this issue. :-)

[2017-08-18 21:02] gitpatrickhub opened #566 "Error Using interact_user_followers on RPI3"
Receiving an error when attempting to use the interact_user_followers method to only like 3 posts from a specified users followers. Running on Raspberry Pi 3.

[code]

my quickstart.py file below

[code]

[2017-08-19 08:59] flothousand commented on #514
I now reinstalled everything and went through all steps.... now I tried to run it manually and get this:
~/InstaPy$ python quickstart.py
Traceback (most recent call last):
  File "quickstart.py", line 1, in <module>
    from instapy import InstaPy
  File "/home/ubuntu/InstaPy/instapy/__init__.py", line 1, in <module>
    from .instapy import InstaPy
  File "/home/ubuntu/InstaPy/instapy/instapy.py"